Repository hashintel/hash, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashintel/deer, @hashintel/error-stack, @hashintel/legal

.github/CODEOWNERS:

# Libs teams
/libs/deer/ @hashintel/deer
/packages/libs/error-stack/ @hashintel/error-stack

# Legal team
LICENSE @hashintel/legal
LICENSE.txt @hashintel/legal
LICENSE.md @hashintel/legal

Update commit hash
  .github/workflows/labeler.yml
Owners: none

Fix path to `Dockerfile`
  .github/workflows/hash-backend-cd.yml
  apps/hash-external-services/docker-compose.prod.yml
  infra/terraform/README.md
Owners: none

WIP sharding
  packages/graph/hash_graph/postgres_migrations/V3__knowledge_tables.sql
  packages/graph/hash_graph/postgres_migrations/V4__shard.sql
  packages/graph/hash_graph/postgres_migrations/V5__ontology_functions.sql
  packages/graph/hash_graph/postgres_migrations/V6__knowledge_functions.sql
Owners: none

Fix setup.py
  .github/scripts/rust/setup.py
Owners: none

Fix `RUST_LOG` variable
  apps/hash-external-services/docker-compose.yml
  infra/terraform/hash/prod-usea1.tfvars
Owners: none

Fix path to hash-graph `Dockerfile` (#1935)
  .github/workflows/hash-backend-cd.yml
  apps/hash-external-services/docker-compose.prod.yml
  infra/terraform/README.md
Owners: none

Update labeler config (#1934)
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: none

feat: switch to time instead of chrono
  apps/hash-graph/hash_graph/lib/graph/Cargo.toml
  apps/hash-graph/hash_graph/lib/graph/src/shared/identifier/time/timestamp.rs
Owners: none

chore: regen lockfile
  apps/hash-graph/hash_graph/Cargo.lock
Owners: none

Adjust OpenAPI generation task
  .github/workflows/rust.yml
  apps/hash-graph/Makefile.toml
  libs/@local/hash-graph-client-generator/openapitools.json
Owners: none

chore: revert lockfile update
  apps/hash-graph/Cargo.lock
Owners: none

chore: update using `-w`
  apps/hash-graph/Cargo.lock
Owners: none

fix: integration tests
  apps/hash-graph/tests/integration/postgres/mod.rs
Owners: none

fix: explicitly support `serde-well-know`
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/tests/integration/postgres/mod.rs
Owners: none

Fix `jest.config.cjs`
  tests/hash-backend-integration/jest.config.cjs
Owners: none

Adjust `.gitattributes`
  apps/hash-graph/.gitattributes
  libs/@local/hash-graph-client/.gitattributes
Owners: none

Rename `module/mod.rs` to `module.rs`
  libs/deer/src/error.rs
  libs/deer/src/impls.rs
  libs/deer/src/impls/core.rs
  libs/deer/tests/common.rs
Owners: @hashintel/deer

Rename `module/mod.rs` to `module.rs`
  apps/hash-graph/bench/benches/read_scaling.rs
  apps/hash-graph/bench/benches/read_scaling/knowledge.rs
  apps/hash-graph/bench/benches/read_scaling/knowledge/complete.rs
  apps/hash-graph/bench/benches/read_scaling/knowledge/linkless.rs
  apps/hash-graph/bench/benches/representative_read.rs
  apps/hash-graph/bench/benches/representative_read/knowledge.rs
  apps/hash-graph/bench/benches/representative_read/ontology.rs
  apps/hash-graph/bench/benches/writes.rs
  apps/hash-graph/bin/cli/src/subcommands.rs
  apps/hash-graph/lib/graph/src/api.rs
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/knowledge.rs
  apps/hash-graph/lib/graph/src/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/logging.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/shared.rs
  apps/hash-graph/lib/graph/src/shared/identifier.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time.rs
  apps/hash-graph/lib/graph/src/shared/subgraph.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres/query.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement.rs
  apps/hash-graph/lib/graph/src/store/query.rs
  apps/hash-graph/tests/integration/postgres.rs
  apps/hash-graph/tests/test_data/src/data_type.rs
  apps/hash-graph/tests/test_data/src/entity.rs
  apps/hash-graph/tests/test_data/src/entity_type.rs
  apps/hash-graph/tests/test_data/src/entity_type/link.rs
  apps/hash-graph/tests/test_data/src/property_type.rs
Owners: none

`graph` switch for timestamp from chrono to time (#1936)
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/shared/identifier/time/timestamp.rs
  apps/hash-graph/tests/integration/postgres/mod.rs
Owners: none

Only configure a subset of CI checks on PRs
  .github/scripts/rust/setup.py
Owners: none

Significantly speed up CI in PRs
  .github/scripts/rust/Makefile.toml
  apps/engine/Makefile.toml
  apps/hash-graph/Makefile.toml
  libs/deer/Makefile.toml
  packages/libs/error-stack/Makefile.toml
Owners: @hashintel/deer, @hashintel/error-stack

Keep tests intact to allow usage of the same macro
  apps/engine/tests/examples/mod.rs
  apps/engine/tests/experiment/mod.rs
  apps/engine/tests/units/behavior/mod.rs
  apps/engine/tests/units/context/mod.rs
  apps/engine/tests/units/data/csv/mod.rs
  apps/engine/tests/units/data/json/mod.rs
  apps/engine/tests/units/data/mod.rs
  apps/engine/tests/units/globals/mod.rs
  apps/engine/tests/units/message/mod.rs
  apps/engine/tests/units/mod.rs
  apps/engine/tests/units/multiple_groups/mod.rs
  apps/engine/tests/units/neighbors/fields/mod.rs
  apps/engine/tests/units/neighbors/mod.rs
  apps/engine/tests/units/neighbors/search_radius/mod.rs
  apps/engine/tests/units/state/edit/dot/mod.rs
  apps/engine/tests/units/state/edit/index/mod.rs
  apps/engine/tests/units/state/edit/mod.rs
  apps/engine/tests/units/state/edit/set_get/mod.rs
  apps/engine/tests/units/state/empty/mod.rs
  apps/engine/tests/units/state/mod.rs
  apps/engine/tests/units/topology/mod.rs
Owners: none

Fix pathes for test data
  apps/hash-graph/tests/test_data/src/data_type.rs
  apps/hash-graph/tests/test_data/src/entity.rs
  apps/hash-graph/tests/test_data/src/entity_type.rs
  apps/hash-graph/tests/test_data/src/entity_type/link.rs
  apps/hash-graph/tests/test_data/src/property_type.rs
Owners: none
