Repository hashintel/hash, changes with the labels that .github/labeler.yml gives for each.
All labels: A-infra, A-hash, A-engine, A-learn, C-dependencies

Adds `LICENSE.md` file to blocks folder (internal-pr-463)
  .prettierignore
  packages/hash/blocks/LICENSE.md
Labels: A-hash

Improve output and add docs and tests to integration test suite
  packages/engine/tests/simulations/experiment.rs
  packages/engine/tests/simulations/mod.rs
Labels: A-engine

Clean up code
  packages/engine/Cargo.toml
  packages/engine/tests/simulations/experiment.rs
Labels: A-engine

Further LICENSE updates (#161)
  LICENSE.md
  packages/engine/LICENSE.md
  resources/LICENSE.md
Labels: A-infra, A-engine, A-learn

Adding/extending in-code documentation
  packages/engine/src/datastore/storage/mod.rs
  packages/engine/src/datastore/storage/visitor.rs
  packages/engine/src/proto.rs
  packages/engine/src/simulation/controller/run.rs
  packages/engine/src/simulation/engine.rs
Labels: A-engine

Rename `pull_request_template`, tweak Markdownlint config
  .github/pull_request_template.md
  .markdownlint.json
  README.md
  packages/engine/README.md
Labels: A-infra, A-engine

Rename `pull_request_template`, tweak Markdownlint config (#163)
  .github/pull_request_template.md
  .markdownlint.json
  README.md
  packages/engine/README.md
Labels: A-infra, A-engine

Cleanup scripts in root package.json (internal-pr-465)
  package.json
Labels: none

[FE] Enable collab by default & remove non-collab code (internal-pr-452)
  .github/workflows/check-codebase.yml
  packages/hash/api/src/collab/Instance.ts
  packages/hash/api/src/collab/collabApp.ts
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/blocks/page/collab/useCollabPositionReporter.ts
  packages/hash/frontend/src/blocks/page/collab/useCollabPositions.ts
  packages/hash/frontend/src/blocks/page/collabEnabled.ts
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/pages/[accountId]/[pageEntityId].page.tsx
Labels: A-infra, A-hash

Move Playwright tests to a yarn workspace (internal-pr-466)
  .github/workflows/check-codebase.yml
  package.json
  packages/hash/playwright/.eslintrc.json
  packages/hash/playwright/package.json
  packages/hash/playwright/playwright.config.ts
  packages/hash/playwright/tests/entity-creation.spec.ts
  packages/hash/playwright/tests/guest-user.spec.ts
  packages/hash/playwright/tests/page-creation.spec.ts
  packages/hash/playwright/tests/utils/getDerivedPayloadFromMostRecentEmail.ts
  packages/hash/playwright/tests/utils/loginUsingUi.ts
  packages/hash/playwright/tsconfig.json
Labels: A-infra, A-hash

Remove block template, cleanup block READMEs (internal-pr-467)
  README.md
  packages/hash/blocks/code/README.md
  packages/hash/blocks/create-block.js
  packages/hash/blocks/divider/README.md
  packages/hash/blocks/embed/README.md
  packages/hash/blocks/header/README.md
  packages/hash/blocks/image/README.md
  packages/hash/blocks/paragraph/README.md
  packages/hash/blocks/person/README.md
  packages/hash/blocks/table/README.md
  packages/hash/blocks/template/.babelrc
  packages/hash/blocks/template/.eslintrc.js
  packages/hash/blocks/template/README.md
  packages/hash/blocks/template/package.json
  packages/hash/blocks/template/public/omega.svg
  packages/hash/blocks/template/src/App.tsx
  packages/hash/blocks/template/src/index.html
  packages/hash/blocks/template/src/index.ts
  packages/hash/blocks/template/src/webpack-dev-server.js
  packages/hash/blocks/template/tsconfig.json
  packages/hash/blocks/template/variants.json
  packages/hash/blocks/template/webpack-block-meta-plugin.js
  packages/hash/blocks/template/webpack-dev-server.config.js
  packages/hash/blocks/template/webpack-main.config.js
  packages/hash/blocks/template/webpack.config.js
  packages/hash/blocks/video/README.md
Labels: A-infra, A-hash

Improve config layout
  packages/engine/tests/simulations/experiment.rs
  packages/engine/tests/simulations/message_sending/integration-test.json
  packages/engine/tests/simulations/mod.rs
Labels: A-engine

Add edit_state_number experiment
  packages/engine/tests/simulations/edit_state_number/dependencies.json
  packages/engine/tests/simulations/edit_state_number/experiments.json
  packages/engine/tests/simulations/edit_state_number/integration-test.json
  packages/engine/tests/simulations/edit_state_number/src/behaviors/test.js
  packages/engine/tests/simulations/edit_state_number/src/behaviors/test.js.json
  packages/engine/tests/simulations/edit_state_number/src/globals.json
  packages/engine/tests/simulations/edit_state_number/src/init.json
  packages/engine/tests/simulations/edit_state_number/views/analysis.json
  packages/engine/tests/simulations/mod.rs
Labels: A-engine

Make `use` statements consistent
  packages/engine/tests/simulations/experiment.rs
Labels: A-engine

Clear cache by executing cargo-clean after reading cache
  .github/workflows/rust.yml
Labels: A-infra

Fix clean statement
  .github/workflows/rust.yml
Labels: A-infra

Manually set the target directory for CI
  .github/workflows/rust.yml
Labels: A-infra

Temporary disable cache
  .github/workflows/rust.yml
Labels: A-infra

Prepend manifest folder to test command
  .github/workflows/rust.yml
  packages/engine/tests/simulations/experiment.rs
Labels: A-infra, A-engine

Add cli package to prebuilt binaries
  .github/workflows/rust.yml
Labels: A-infra

.github/labeler.yml:

A-infra:
  - ".github/*"
  - ".github/.*"
  - ".github/**/*"
  - ".github/**/.*"
  - "*.md"
  - ".markdownlint*"
  - ".gitignore"
A-hash:
  - "packages/hash/*"
  - "packages/hash/.*"
  - "packages/hash/**/*"
  - "packages/hash/**/.*"
A-engine:
  - "packages/engine/*"
  - "packages/engine/.*"
  - "packages/engine/**/*"
  - "packages/engine/**/.*"
A-learn:
  - "resources/*"
  - "resources/.*"
  - "resources/**/*"
  - "resources/**/.*"

C-dependencies:
  - "**/Cargo.lock"
  - "**/yarn.lock"
