Repository hashintel/hash, changes with the labels that .github/labeler.yml gives for each.
All labels: A-infra, A-hash, A-engine, A-learn, C-dependencies

Add `bundle_arrow.js` to `.prettierignore` and revert formatting changes
  .prettierignore
  packages/engine/src/worker/runner/javascript/bundle_arrow.js
Labels: A-engine

Enable Prettier for JavaScript files (#154)
  .github/workflows/algolia/src/syncAlgoliaIndex.ts
  .prettierignore
  package.json
  packages/engine/src/simulation/package/context/packages/agent_messages/package.js
  packages/engine/src/simulation/package/context/packages/neighbors/package.js
  packages/engine/src/simulation/package/init/packages/jspy/package.js
  packages/engine/src/simulation/package/state/packages/behavior_execution/package.js
  packages/engine/src/worker/runner/javascript/batch.js
  packages/engine/src/worker/runner/javascript/context.js
  packages/engine/src/worker/runner/javascript/hash_util.js
  packages/engine/src/worker/runner/javascript/import_arrow.js
  packages/engine/src/worker/runner/javascript/runner.js
  packages/engine/src/worker/runner/javascript/state.js
  packages/engine/stdlib/.eslintrc.js
  packages/engine/stdlib/jest.config.js
  packages/engine/stdlib/src/ts/init.spec.ts
  packages/engine/stdlib/src/ts/init.ts
  packages/engine/stdlib/src/ts/neighbor.spec.ts
  packages/engine/stdlib/src/ts/neighbor.ts
  packages/engine/stdlib/src/ts/spatial.spec.ts
  packages/engine/stdlib/src/ts/spatial.ts
Labels: A-infra, A-engine

Removing unused id_store.rs
  packages/engine/src/experiment/controller/controller.rs
  packages/engine/src/experiment/controller/id_store.rs
  packages/engine/src/experiment/controller/mod.rs
  packages/engine/src/experiment/controller/run.rs
  packages/engine/src/proto.rs
Labels: A-engine

Removing obsolete SimulationRegisteredId
  packages/engine/src/proto.rs
Labels: A-engine

Unused match arm
  packages/engine/src/env.rs
Labels: A-engine

chore: Environment variable documentation
  README.md
Labels: A-infra

Removing unused ID-store (#155)
  packages/engine/src/env.rs
  packages/engine/src/experiment/controller/controller.rs
  packages/engine/src/experiment/controller/id_store.rs
  packages/engine/src/experiment/controller/mod.rs
  packages/engine/src/experiment/controller/run.rs
  packages/engine/src/proto.rs
Labels: A-engine

feat(be): Local file upload (internal-pr-431)
  .env
  packages/hash/api/package.json
  packages/hash/api/src/graphql/context.ts
  packages/hash/api/src/graphql/createApolloServer.ts
  packages/hash/api/src/graphql/resolvers/file/fileUrlResolver.ts
  packages/hash/api/src/graphql/resolvers/file/requestFileUpload.ts
  packages/hash/api/src/graphql/typeDefs/file.typedef.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/lib/config.ts
  packages/hash/api/src/model/file.model.ts
  packages/hash/api/src/storage/aws-s3-storage-provider.ts
  packages/hash/api/src/storage/local-file-storage.ts
  packages/hash/api/src/storage/storage-provider-lookup.ts
  packages/hash/api/src/storage/storage-provider.ts
  packages/hash/api/src/storage/storage-providers.ts
  packages/hash/api/src/storage/storage-utils.ts
  packages/hash/integration/jest.config.js
  packages/hash/integration/src/tests/loadTestEnv.ts
  yarn.lock
Labels: A-hash, C-dependencies

[BE] Add endpoint to get all entities for account (internal-pr-453)
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/postgres/client.ts
  packages/hash/api/src/db/postgres/entity.ts
  packages/hash/api/src/db/postgres/index.ts
  packages/hash/api/src/graphql/resolvers/entity/entities.ts
  packages/hash/api/src/graphql/resolvers/entity/index.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/typeDefs/entity.typedef.ts
  packages/hash/api/src/model/entity.model.ts
  packages/hash/integration/src/graphql/queries/entity.queries.ts
  packages/hash/integration/src/graphql/queries/page.queries.ts
  packages/hash/integration/src/tests/integration.test.ts
  packages/hash/integration/src/tests/util.ts
Labels: A-hash

Replace HASH.dev with HASH (internal-pr-455)
  packages/hash/api/README.md
  packages/hash/api/datastore/README.md
  packages/hash/api/datastore/postgres/scripts/data/systemTypeSchemas.ts
  packages/hash/api/package.json
  packages/hash/block-protocol/README.md
  packages/hash/blocks/table/src/components/EditableCell.tsx
  packages/hash/frontend/README.md
  packages/hash/frontend/package.json
  packages/hash/frontend/src/pages/[accountId]/types/[typeId].page.tsx
  packages/hash/integration/package.json
  packages/hash/realtime/package.json
  packages/hash/shared/README.md
Labels: A-hash

Tweak Yaml setup in preparation for merge (internal-pr-456)
  .github/pull_request_template.md
  .github/workflows/create-asana-attachment.yml
  package.json
  packages/hash/integration/src/tests/setup.ts
Labels: A-infra, A-hash

Set `"author"` in blocks to `"HASH"` (internal-pr-457)
  packages/hash/blocks/code/package.json
  packages/hash/blocks/divider/package.json
  packages/hash/blocks/embed/package.json
  packages/hash/blocks/header/package.json
  packages/hash/blocks/html-para/block-metadata.json
  packages/hash/blocks/html-para/package.json
  packages/hash/blocks/image/package.json
  packages/hash/blocks/paragraph/package.json
  packages/hash/blocks/person/package.json
  packages/hash/blocks/table/package.json
  packages/hash/blocks/template/package.json
  packages/hash/blocks/video/package.json
Labels: A-hash

Update LICENSE.md
  LICENSE.md
Labels: A-infra

Update LICENSE.md
  LICENSE.md
Labels: A-infra

Reflect hEngine dual-license status
  LICENSE.md
Labels: A-infra

Improvements to dual-licensing language
  LICENSE.md
Labels: A-infra

Add Elastic License to hEngine LICENSE.md file
  packages/engine/LICENSE.md
Labels: A-engine

Improve hEngine LICENSE.md formatting
  packages/engine/LICENSE.md
Labels: A-engine

Typo fix
  packages/engine/LICENSE.md
Labels: A-engine

Adds contact link to root LICENSE.md file
  LICENSE.md
Labels: A-infra

Update root LICENSE.md to reflect new products (#158)
  LICENSE.md
  packages/engine/LICENSE.md
Labels: A-infra, A-engine

tool: add pr template
  .github/pull_request_template_.md
Labels: A-infra

Removing extra serialization step for init js/py
  packages/engine/src/config/experiment.rs
  packages/engine/src/simulation/package/init/packages/js_py/mod.rs
  packages/engine/src/simulation/package/init/packages/js_py/package.js
Labels: A-engine

tool: add pr template (#159)
  .github/pull_request_template_.md
Labels: A-infra

Updating init serialization error
  packages/engine/src/simulation/package/init/packages/js_py/package.js
Labels: A-engine

Make CLI fail if error occures in engine
  packages/engine/bin/cli/src/experiment.rs
Labels: A-engine

Make CLI fail if error occures in engine (#160)
  packages/engine/bin/cli/src/experiment.rs
Labels: A-engine

Apply suggestions from code review
  packages/engine/Cargo.toml
  packages/engine/src/lib.rs
  packages/engine/src/worker/runner/python/mod.rs
  packages/engine/tests/simulations/experiment.rs
  packages/engine/tests/simulations/message_sending/experiments.json
  packages/engine/tests/simulations/message_sending/integration-test.json
Labels: A-engine

Properly forward stderr to stderr
  packages/engine/tests/simulations/experiment.rs
Labels: A-engine

Add sample integration test
  packages/engine/tests/simulations/message_sending/dependencies.json
  packages/engine/tests/simulations/message_sending/experiments.json
  packages/engine/tests/simulations/message_sending/integration-test.json
  packages/engine/tests/simulations/message_sending/src/behaviors/send_message.js
  packages/engine/tests/simulations/message_sending/src/behaviors/send_message.js.json
  packages/engine/tests/simulations/message_sending/src/globals.json
  packages/engine/tests/simulations/message_sending/src/init.json
  packages/engine/tests/simulations/message_sending/views/analysis.json
Labels: A-engine

Add integration test suit
  .github/workflows/rust.yml
  packages/engine/Cargo.toml
  packages/engine/tests/integration.rs
  packages/engine/tests/simulations/experiment.rs
  packages/engine/tests/simulations/message_sending/dependencies.json
  packages/engine/tests/simulations/message_sending/experiments.json
  packages/engine/tests/simulations/message_sending/integration-test.json
  packages/engine/tests/simulations/message_sending/src/behaviors/send_message.js.json
  packages/engine/tests/simulations/message_sending/src/globals.json
  packages/engine/tests/simulations/message_sending/src/init.json
  packages/engine/tests/simulations/message_sending/views/analysis.json
  packages/engine/tests/simulations/mod.rs
Labels: A-infra, A-engine

Add `error` and `provider` as dev-dependency
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/src/config/mod.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/experiment/controller/mod.rs
  packages/engine/src/experiment/mod.rs
  packages/engine/src/lib.rs
  packages/engine/src/nano/mod.rs
  packages/engine/src/output/mod.rs
  packages/engine/src/simulation/controller/mod.rs
  packages/engine/src/simulation/mod.rs
  packages/engine/src/worker/mod.rs
  packages/engine/src/worker/runner/javascript/mini_v8/mod.rs
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/src/worker/runner/python/mod.rs
  packages/engine/src/workerpool/mod.rs
Labels: A-engine, C-dependencies

Prettier
  packages/engine/src/simulation/package/init/packages/js_py/package.js
Labels: A-engine

Enabling JS/Py init packages, and fixing bugs. (#149)
  packages/engine/src/config/experiment.rs
  packages/engine/src/simulation/enum_dispatch.rs
  packages/engine/src/simulation/package/init/packages/js_py/js/mod.rs
  packages/engine/src/simulation/package/init/packages/js_py/mod.rs
  packages/engine/src/simulation/package/init/packages/js_py/package.js
  packages/engine/src/simulation/package/init/packages/js_py/package.py
  packages/engine/src/simulation/package/init/packages/js_py/py/mod.rs
  packages/engine/src/simulation/package/init/packages/json/mod.rs
  packages/engine/src/simulation/package/init/packages/mod.rs
  packages/engine/src/simulation/task/args.rs
Labels: A-engine

Update LICENSE.md
  LICENSE.md
Labels: A-infra

Fix link
  LICENSE.md
Labels: A-infra

Add 'Questions' section
  LICENSE.md
Labels: A-infra

Update CC License formatting
  resources/LICENSE.md
Labels: A-learn

Improve hEngine `LICENSE.md` formatting
  packages/engine/LICENSE.md
Labels: A-engine

Update LICENSE.md
  LICENSE.md
Labels: A-infra

.github/labeler.yml:

A-infra:
  - ".github/*"
  - ".github/.*"
  - ".github/**/*"
  - ".github/**/.*"
  - "*.md"
  - ".markdownlint*"
  - ".gitignore"
A-hash:
  - "packages/hash/*"
  - "packages/hash/.*"
  - "packages/hash/**/*"
  - "packages/hash/**/.*"
A-engine:
  - "packages/engine/*"
  - "packages/engine/.*"
  - "packages/engine/**/*"
  - "packages/engine/**/.*"
A-learn:
  - "resources/*"
  - "resources/.*"
  - "resources/**/*"
  - "resources/**/.*"

C-dependencies:
  - "**/Cargo.lock"
  - "**/yarn.lock"
