Repository hashintel/hash, changes with the labels that .github/labeler.yml gives for each.
All labels: area: apps, area: apps > hash*, area: apps > hash.ai, area: apps > hash-api, area: apps > hash-graph*, area: apps > hash-realtime, area: apps > hash-search-loader, area: apps > sim-engine, area: blocks, area: dependencies, area: infra, area: infra > docker, area: infra > terraform, area: libs, area: libs > antsi, area: libs > deer, area: libs > error-stack, area: libs > sarif, area: tests, area: tests > integration, area: tests > playwright, type: backend, type: frontend, type: legal

Update index.page.tsx
  apps/hashdotdev/src/pages/index.page.tsx
Labels: area: apps

Update index.page.tsx
  apps/hashdotdev/src/pages/index.page.tsx
Labels: area: apps

make 'convert to link type' button smaller
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/convert-type-button.tsx
Labels: area: apps, area: apps > hash*, type: frontend

h-150: correct to 'entity-type' in link display
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
Labels: area: apps, area: apps > hash*, type: frontend

support fetching all versions of all types, add hook to get latest only
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/ontology-types-shim.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-query-entity-types.ts
  apps/hash-frontend/src/graphql/queries/ontology/entity-type.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/entity-type-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/query-editor-page.tsx
  apps/hash-frontend/src/shared/entity-types-context/hooks.ts
  apps/hash-frontend/src/shared/entity-types-context/provider/use-entity-types-context-value.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/ontology/entity-type.typedef.ts
Labels: area: apps, area: apps > hash*, area: apps > hash-api, area: libs, type: backend, type: frontend

h-122: only show latest version of types in sidebar
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
Labels: area: apps, area: apps > hash*, type: frontend

fix description not showing in draft entity form
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
Labels: area: apps, area: apps > hash*, type: frontend

h-102: handle showing earlier versions of entity types in page and slideover
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/type-preview-slide.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-value.tsx
  libs/@local/hash-subgraph/src/shared/type-system-patch.ts
Labels: area: apps, area: apps > hash*, area: libs, type: backend, type: frontend

Remove the ‘attach PRs from Asana’ GitHub action and suggested link description
  .github/pull_request_template.md
  .github/workflows/attach-pr-to-asana-task.yml
Labels: area: infra

.github/labeler.yml:

"area: apps":
  - "apps/**"

"area: apps > hash*":
  - "apps/hash-*/**"
  - "libs/@local/hash-*/**"

"area: apps > hash.ai":
  - "apps/hashdotai/docs/**"
  - "apps/hashdotai/glossary/**"

"area: apps > hash-api":
  - "apps/hash-api/**"

"area: apps > hash-graph*":
  - "apps/hash-graph/**"

"area: apps > hash-realtime":
  - "apps/hash-realtime/**"

"area: apps > hash-search-loader":
  - "apps/hash-search-loader/**"

"area: apps > sim-engine":
  - "apps/engine/**"

"area: blocks":
  - "blocks/**"

"area: dependencies":
  - "**/patches/**"
  - "**/Cargo.lock"
  - "**/yarn.lock"

"area: infra":
  - "infra/**"
  - "**/*.json"
  - "**/*.md"
  - "**/*.yml"
  - "**/.changeset/config.json"
  - "**/.github/**"
  - "**/.*ignore"
  - "**/.markdownlint*"

"area: infra > docker":
  - "infra/docker/**"

"area: infra > terraform":
  - "infra/terraform/**"

"area: libs":
  - "libs/**"

"area: libs > antsi":
  - "libs/antsi/**"

"area: libs > deer":
  - "libs/deer/**"

"area: libs > error-stack":
  - "libs/error-stack/**"

"area: libs > sarif":
  - "libs/sarif/**"

"area: tests":
  - "tests/**"
  - "**/tests/**"
  - "**/test/**"

"area: tests > integration":
  - "tests/hash-backend-integration/**"

"area: tests > playwright":
  - "tests/hash-playwright/**"

"type: backend":
  - "apps/hash-graph/**"
  - "apps/hash-api/**"
  - "libs/@local/**"

"type: frontend":
  - "apps/hash-frontend/**"
  - "libs/@hashintel/**"

"type: legal":
  - "**/LICENSE**"
  - "**/NOTICE**"
  - "**/THIRD_PARTY_NOTICES**"
  - "**/THIRD_PARTY_LICENSES**"
