Repository hashintel/hash, pull requests merged in 2021-12, with the labels that each got.

#121 Rewrite topology configuration
  packages/engine/src/config/topology.rs
  packages/engine/src/hash_types/state.rs
  packages/engine/src/simulation/package/context/packages/neighbors/adjacency.rs
  packages/engine/src/simulation/package/context/packages/neighbors/mod.rs
  packages/engine/src/simulation/package/state/packages/topology/adjacency.rs
  packages/engine/src/simulation/package/state/packages/topology/mod.rs
Labels: enhancement, hengine

#122 Add Rust linting instruction to CONTRIBUTING.md
  packages/engine/CONTRIBUTING.md
Labels: documentation, hengine

#124 Add experiment Id to logging output
  packages/engine/bin/cli/src/experiment.rs
Labels: enhancement, hengine

#126 Fix Rust CI not running
  .github/workflows/rust-lints.yml
Labels: bug, hengine

#128 Add Rust tests to GitHub Actions
  .github/workflows/rust.yml
  packages/engine/src/datastore/arrow/field_conversion.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/simulation/enum_dispatch.rs
  packages/engine/src/simulation/task/msg.rs
  packages/engine/src/worker/runner/javascript/mini_v8/tests/function.rs
  packages/engine/src/worker/runner/javascript/mini_v8/tests/mini_v8.rs
Labels: C-enhancement, A-engine, A-infra

#127 Add labeler Action
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: C-enhancement, A-infra

#129 Fix copy/paste errors
  .github/labeler.yml
  .github/workflows/rust.yml
Labels: A-infra

#131 In-repo documentation updates for open-sourcing
  README.md
Labels: A-infra
