Repository hashintel/hash, pull requests merged in 2022-08, with the labels that each got.

#868 Update blockprotocol version, fix react version consistency
  packages/blocks/chart/package.json
  packages/blocks/divider/package.json
  packages/blocks/embed/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/stopwatch/package.json
  packages/blocks/table/package.json
  packages/blocks/toggle-item/package.json
  packages/blocks/video/package.json
  packages/hash/design-system/package.json
  packages/hash/frontend/package.json
  patches/blockprotocol+0.0.12.patch
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#865 Disable page scrollbar when popups are opened
  packages/hash/design-system/src/dialog.tsx
  packages/hash/design-system/src/menu.tsx
  packages/hash/design-system/src/ui.ts
  packages/hash/design-system/src/use-scroll-lock.ts
  packages/hash/frontend/.eslintrc.json
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/createErrorPlugin.tsx
  packages/hash/frontend/src/components/ConfirmationAlert.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/notifications-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/sort-actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
Labels: A-hash, frontend

#882 Fix overflow on link dialogue
  packages/hash/frontend/src/blocks/page/createFormatPlugins/LinkModal.tsx
Labels: A-hash, frontend

#878 Generalize GET method bodies
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/link/read.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#879 Implement GET for all stored ontology types
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: C-dependencies, A-backend

#886 Small improvements
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/property_type/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/data_type.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/entity_type.rs
  packages/graph/hash_graph/tests/integration/postgres/link_type.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/property_type.rs
Labels: A-backend

#872 Blocks dynamically become text blocks upon call to editableRef
  packages/hash/api/src/collab/Instance.ts
  packages/hash/api/src/collab/collabApp.ts
  packages/hash/api/src/collab/save.ts
  packages/hash/api/src/graphql/resolvers/pages/updatePageContents.ts
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockListMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockLoaderInput.tsx
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/MentionView/MentionView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createFormatPlugins/util.ts
  packages/hash/frontend/src/blocks/page/createSuggester/BlockSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/useFilteredBlocks.tsx
  packages/hash/frontend/src/blocks/userBlocks.tsx
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/RemoteBlock/RemoteBlock.tsx
  packages/hash/frontend/src/components/RemoteBlock/useRemoteBlock.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/shared/src/ProsemirrorManager.ts
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
  packages/hash/shared/src/blocks.ts
  packages/hash/shared/src/createProseMirrorState.ts
  packages/hash/shared/src/defaultBlocks.ts
  packages/hash/shared/src/entity.ts
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/prosemirror.ts
  packages/hash/shared/src/schema.ts
  packages/hash/shared/src/text.ts
  packages/hash/shared/src/wrapEntitiesPlugin.ts
Labels: A-hash, api, frontend

#890 Implement GET all entities
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/entity/read.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#888 Load any child entity into a block + remove feature flag
  packages/hash/api/src/collab/save.ts
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockListMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/components/hooks/useAccountEntities.ts
  packages/hash/integration/src/mockData/index.ts
  packages/hash/shared/src/ProsemirrorManager.ts
  packages/hash/shared/src/entityStorePlugin.ts
Labels: A-hash, api, integration, frontend

#891 Generate OpenAPI Client for the HASH Graph
  package.json
  packages/graph/clients/openapitools.json
  packages/graph/clients/package.json
  packages/graph/clients/typescript/.eslintrc
  packages/graph/clients/typescript/.gitignore
  packages/graph/clients/typescript/.npmignore
  packages/graph/clients/typescript/.openapi-generator-ignore
  packages/graph/clients/typescript/.openapi-generator/FILES
  packages/graph/clients/typescript/.openapi-generator/VERSION
  packages/graph/clients/typescript/README.md
  packages/graph/clients/typescript/api.ts
  packages/graph/clients/typescript/base.ts
  packages/graph/clients/typescript/common.ts
  packages/graph/clients/typescript/configuration.ts
  packages/graph/clients/typescript/git_push.sh
  packages/graph/clients/typescript/index.ts
  packages/graph/clients/typescript/package.json
  packages/graph/clients/typescript/tsconfig.json
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/README.md
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/data_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/entity_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/link_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/property_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/migrations/package.json
  packages/hash/api/package.json
  yarn.lock
Labels: C-dependencies, A-hash, api, A-backend

#895 Make folder structure on database module more intuitive
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/database_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
Labels: A-backend

#894 Add `DataType`, `LinkType` and `PropertyType` CRU operations as model classes
  .env
  packages/graph/clients/openapitools.json
  packages/graph/clients/typescript/api.ts
  packages/graph/clients/typescript/package.json
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/hash/api/package.json
  packages/hash/api/src/graph/index.ts
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/integration/jest.config.js
  packages/hash/integration/package.json
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/link-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, A-backend

#900 Ensure, that `Report` will always be `Send + Sync + 'static`
  packages/libs/error-stack/src/frame/frame_impl.rs
  packages/libs/error-stack/src/lib.rs
Labels: A-error-stack

#902 Fix output of toolchain in CI
  .github/workflows/rust.yml
Labels: A-infra

#901 Use `error-stack` by path
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/bin/cli/Cargo.toml
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/hash_engine/Cargo.toml
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/lib/experiment-control/Cargo.toml
  packages/engine/lib/experiment-structure/Cargo.toml
  packages/engine/lib/experiment-structure/src/config/experiment.rs
  packages/engine/lib/experiment-structure/src/config/package.rs
  packages/engine/lib/experiment-structure/src/experiment/plan.rs
  packages/engine/lib/experiment-structure/src/manifest.rs
  packages/engine/lib/nano/Cargo.toml
  packages/engine/lib/nano/src/client.rs
  packages/engine/lib/nano/src/server.rs
  packages/engine/lib/orchestrator/Cargo.toml
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/experiment_server.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/tests/experiment/mod.rs
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/tests/test_conversion.rs
Labels: C-dependencies, A-engine, A-error-stack

#892 Use test groups for testing `error-stack`
  .github/scripts/rust/Makefile.toml
  .github/workflows/rust.yml
  packages/libs/error-stack/Makefile.toml
Labels: A-infra, A-error-stack

#893 Implement read-only UI in HASH app
  packages/blocks/callout/package.json
  packages/blocks/code/package.json
  packages/blocks/code/src/app.tsx
  packages/blocks/code/src/components/editor.tsx
  packages/blocks/countdown/package.json
  packages/blocks/drawing/package.json
  packages/blocks/github-pr-overview/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/person/package.json
  packages/blocks/shuffle/package.json
  packages/blocks/table/package.json
  packages/blocks/timer/package.json
  packages/blocks/video/package.json
  packages/hash/README.md
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/index.tsx
  packages/hash/frontend/src/blocks/page/style.module.css
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/RemoteBlock/RemoteBlock.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateLink.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateLinkedAggregation.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolDeleteLink.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolDeleteLinkedAggregation.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolFileUpload.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateLinkedAggregation.ts
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar.tsx
  packages/hash/frontend/src/shared/readonly-mode.tsx
  packages/hash/shared/src/ProsemirrorManager.ts
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#903 Add `EntityTypeModel` class with Graph API CRU operations
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/link-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
Labels: A-hash, api, integration

#906 Update Docker instructions and bump min Node version
  packages/hash/README.md
  packages/hash/frontend/package.json
Labels: A-hash, frontend

#889 Minimal Ory kratos configuration
  .env
  package.json
  packages/graph/clients/package.json
  packages/graph/clients/typescript/package.json
  packages/graph/hash_graph/Makefile.toml
  packages/hash/api/package.json
  packages/hash/api/src/auth/index.ts
  packages/hash/api/src/auth/ory-kratos.ts
  packages/hash/api/src/auth/passport/index.ts
  packages/hash/api/src/auth/session.ts
  packages/hash/api/src/db/cron.ts
  packages/hash/api/src/db/index.ts
  packages/hash/api/src/graphql/context.ts
  packages/hash/api/src/graphql/createApolloServer.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/user/createUserWithOrgEmailInvitation.ts
  packages/hash/api/src/graphql/resolvers/user/loginWithLoginCode.ts
  packages/hash/api/src/graphql/resolvers/user/logout.ts
  packages/hash/api/src/graphql/resolvers/user/verifyEmail.ts
  packages/hash/api/src/index.ts
  packages/hash/external-services/docker-compose.yml
  packages/hash/external-services/kratos/identity.schema.json
  packages/hash/external-services/kratos/kratos.dev.yml
  packages/hash/external-services/postgres/Dockerfile
  packages/hash/external-services/postgres/init-user-db.sh
  packages/hash/frontend/.eslintrc.json
  packages/hash/frontend/next.config.js
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/hooks/useLogout.ts
  packages/hash/frontend/src/components/hooks/useLogoutFlow.ts
  packages/hash/frontend/src/components/hooks/useUser.ts
  packages/hash/frontend/src/pages/__mocks__/signup.mock.ts
  packages/hash/frontend/src/pages/api/ory/[...paths].api.ts
  packages/hash/frontend/src/pages/index.page.tsx
  packages/hash/frontend/src/pages/login.page.tsx
  packages/hash/frontend/src/pages/login.test.tsx
  packages/hash/frontend/src/pages/shared/ory-kratos.ts
  packages/hash/frontend/src/pages/signup.page.tsx
  packages/hash/frontend/src/pages/signup.test.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/page-header.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend, A-backend

#904 Bump Rust toolchain to `2022-08-08`
  packages/engine/lib/memory/src/arrow/ffi/flush.rs
  packages/engine/lib/memory/src/arrow/ffi/mod.rs
  packages/engine/lib/memory/src/shared_memory/ffi.rs
  packages/engine/lib/simulation-control/src/command/mod.rs
  packages/engine/lib/stateful/src/agent/arrow/array.rs
  packages/engine/lib/stateful/src/message/outbound.rs
  packages/engine/rust-toolchain.toml
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/src/compat/anyhow.rs
  packages/libs/error-stack/src/compat/eyre.rs
  packages/libs/error-stack/src/context.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/tests/common.rs
  packages/libs/error-stack/tests/test_attach.rs
  packages/libs/error-stack/tests/test_attach_printable.rs
  packages/libs/error-stack/tests/test_backtrace.rs
  packages/libs/error-stack/tests/test_change_context.rs
  packages/libs/error-stack/tests/test_compatibility.rs
  packages/libs/error-stack/tests/test_conversion.rs
  packages/libs/error-stack/tests/test_debug.rs
  packages/libs/error-stack/tests/test_display.rs
  packages/libs/error-stack/tests/test_downcast.rs
  packages/libs/error-stack/tests/test_extend.rs
  packages/libs/error-stack/tests/test_frame.rs
  packages/libs/error-stack/tests/test_hooks.rs
  packages/libs/error-stack/tests/test_iter.rs
  packages/libs/error-stack/tests/test_macros.rs
  packages/libs/error-stack/tests/test_provision.rs
  packages/libs/error-stack/tests/test_span_trace.rs
  packages/libs/error-stack/tests/ui/macro_invalid_args.stderr
Labels: A-engine, A-error-stack

#905 Return metadata with entities
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: C-dependencies, A-backend

#910 Bump toolchain to `2020-08-08` (`dev/graph`)
  .github/workflows/rust.yml
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/bin/cli/Cargo.toml
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/hash_engine/Cargo.toml
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/lib/experiment-control/Cargo.toml
  packages/engine/lib/experiment-structure/Cargo.toml
  packages/engine/lib/experiment-structure/src/config/experiment.rs
  packages/engine/lib/experiment-structure/src/config/package.rs
  packages/engine/lib/experiment-structure/src/experiment/plan.rs
  packages/engine/lib/experiment-structure/src/manifest.rs
  packages/engine/lib/memory/src/arrow/ffi/flush.rs
  packages/engine/lib/memory/src/arrow/ffi/mod.rs
  packages/engine/lib/memory/src/shared_memory/ffi.rs
  packages/engine/lib/memory/src/shared_memory/visitor.rs
  packages/engine/lib/nano/Cargo.toml
  packages/engine/lib/nano/src/client.rs
  packages/engine/lib/nano/src/server.rs
  packages/engine/lib/orchestrator/Cargo.toml
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/experiment_server.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/lib/simulation-control/src/command/mod.rs
  packages/engine/lib/stateful/src/agent/arrow/array.rs
  packages/engine/lib/stateful/src/message/outbound.rs
  packages/engine/rust-toolchain.toml
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/ontology/types/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/uri.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/pool.rs
  packages/graph/hash_graph/rust-toolchain.toml
  packages/libs/error-stack/Makefile.toml
  packages/libs/error-stack/src/context.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
Labels: C-dependencies, A-engine, A-infra, A-libs, A-backend

#896 Fix block suggester positioning
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/Suggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
Labels: A-hash, frontend

#907 Show block handles only on mouse hover
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
Labels: A-hash, frontend

#913 Seed primitive data types at the start of execution
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#909 Add initial query builders
  packages/graph/hash_graph/lib/graph/src/api/rest/api_resource.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/pool.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/query/knowledge/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/query/knowledge/link.rs
  packages/graph/hash_graph/lib/graph/src/store/query/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/ontology.rs
  packages/graph/hash_graph/tests/integration/postgres/data_type.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#911 Add `EntityModel` class with Graph API CRU operations
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/link-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
Labels: A-hash, api, integration, A-backend

#912 Return metadata with ontology types
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/tests/integration/postgres/data_type.rs
  packages/graph/hash_graph/tests/integration/postgres/entity_type.rs
  packages/graph/hash_graph/tests/integration/postgres/link_type.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/property_type.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
Labels: A-hash, api, A-backend

#899 Implement read-only UI in blocks
  packages/blocks/calculation/package.json
  packages/blocks/callout/package.json
  packages/blocks/code/package.json
  packages/blocks/countdown/package.json
  packages/blocks/countdown/src/app.tsx
  packages/blocks/countdown/src/countdown-title.tsx
  packages/blocks/countdown/src/date-picker-input.tsx
  packages/blocks/drawing/package.json
  packages/blocks/drawing/src/app.tsx
  packages/blocks/github-pr-overview/package.json
  packages/blocks/github-pr-overview/src/app.tsx
  packages/blocks/github-pr-overview/src/overview/index.tsx
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/image/src/components/media-with-caption.tsx
  packages/blocks/image/src/components/media.tsx
  packages/blocks/image/src/components/upload-media-form.tsx
  packages/blocks/person/package.json
  packages/blocks/shuffle/package.json
  packages/blocks/shuffle/src/components/item-list.tsx
  packages/blocks/shuffle/src/components/item.tsx
  packages/blocks/shuffle/src/dev.tsx
  packages/blocks/shuffle/src/shuffle.tsx
  packages/blocks/table/package.json
  packages/blocks/table/src/components/header.tsx
  packages/blocks/table/src/table.tsx
  packages/blocks/timer/package.json
  packages/blocks/timer/src/app.scss
  packages/blocks/timer/src/app.tsx
  packages/blocks/video/package.json
  packages/blocks/video/src/components/media-with-caption.tsx
  packages/blocks/video/src/components/media.tsx
  packages/blocks/video/src/components/upload-media-form.tsx
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/index.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  packages/hash/playwright/package.json
  packages/hash/playwright/tests/page-readonly-mode.spec.ts
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend, playwright, A-blocks

#914 Implement BlockHighlight to highlight linked block
  packages/hash/frontend/src/blocks/onBlockLoaded.tsx
  packages/hash/frontend/src/blocks/page/BlockHighlight.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
Labels: A-hash, frontend

#922 Rename sentry project
  packages/hash/frontend/sentry.properties
Labels: A-hash, frontend

#915 Add GitHub issue templates
  .github/ISSUE_TEMPLATE/bug-report-block.md
  .github/ISSUE_TEMPLATE/bug-report-error-stack.md
  .github/ISSUE_TEMPLATE/bug-report-hash-app.md
  .github/ISSUE_TEMPLATE/bug-report-hash-engine.md
  .github/ISSUE_TEMPLATE/bug-report-website.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request-error-stack.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: A-infra

#923 Fix OpenAPI spec type mismatch
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/frontend/sentry.properties
Labels: A-hash, api, frontend, A-backend

#917 Fix Entity Type
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/entity_type.json
  packages/graph/hash_graph/lib/graph/src/ontology/types/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/serde_shared/array.rs
  packages/graph/hash_graph/tests/test_data/entity_type/book.json
Labels: A-backend

#920 Update Sentry config
  packages/hash/frontend/package.json
  packages/hash/frontend/src/pages/404.page.tsx
  packages/hash/frontend/src/pages/_error.page.tsx
  packages/hash/shared/package.json
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#919 User model class + User workspace entity type
  .env
  packages/hash/api/package.json
  packages/hash/api/src/db/postgres/account.ts
  packages/hash/api/src/graph/index.ts
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/backend-utils/src/system.ts
  packages/hash/external-services/postgres/init-user-db.sh
  packages/hash/integration/src/mockData/index.ts
  packages/hash/integration/src/tests/email.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/link-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
Labels: A-hash, api, integration

#928 Add hint for autogenerated files
  packages/graph/.gitattributes
Labels: A-backend

#924 GraphQL resolvers for Ontology types
  packages/hash/api/codegen.yml
  packages/hash/api/src/graph/index.ts
  packages/hash/api/src/graphql/context.ts
  packages/hash/api/src/graphql/createApolloServer.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/ontology/data-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/link-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/link-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
Labels: A-hash, api, integration

#927 Add REST endpoint for creating accounts
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/account.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#925 Replace text entities with an empty string
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
Labels: A-hash, frontend

#926 Add Dockerfile for Graph
  .github/scripts/rust/setup.py
  .github/workflows/rust.yml
  packages/graph/Makefile.toml
  packages/graph/README.md
  packages/graph/deployment/docker-compose.yml
  packages/graph/deployment/graph/Dockerfile
  packages/graph/hash_graph/.dockerignore
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/README.md
  packages/graph/hash_graph/bin/hash_graph/src/args.rs
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
Labels: A-infra, A-backend

#933 Add page emoji support
  packages/hash/api/src/graphql/typeDefs/page.typedef.ts
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/EmojiPicker/EmojiPicker.tsx
  packages/hash/frontend/src/components/EmojiPicker/emoji-mart-react.d.ts
  packages/hash/frontend/src/components/PageIcon.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
  packages/hash/frontend/src/shared/layout/plain-layout.tsx
  packages/hash/shared/src/queries/page.queries.ts
  packages/hash/shared/src/util.ts
  patches/@types+emoji-mart+3.0.9.patch
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend

#929 Add top context bar to pages
  packages/hash/frontend/src/components/hooks/useAccountPages.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/[type-id].page.tsx
  packages/hash/frontend/src/pages/shared/breadcrumbs.tsx
  packages/hash/frontend/src/pages/shared/top-context-bar.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar.tsx
Labels: A-hash, frontend

#934 Create user entities when kratos user identity is registered
  .env
  packages/hash/api/src/auth/index.ts
  packages/hash/api/src/auth/ory-kratos.ts
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/graphql/context.ts
  packages/hash/api/src/graphql/createApolloServer.ts
  packages/hash/api/src/graphql/resolvers/entity/createEntity.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/linkedAggregation/createLinkedAggregation.ts
  packages/hash/api/src/graphql/resolvers/middlewares/canAccessAccount.ts
  packages/hash/api/src/graphql/resolvers/org/createOrg.ts
  packages/hash/api/src/graphql/resolvers/org/createOrgEmailInvitation.ts
  packages/hash/api/src/graphql/resolvers/pages/createPage.ts
  packages/hash/api/src/graphql/resolvers/pages/updatePageContents.ts
  packages/hash/api/src/graphql/resolvers/user/joinOrg.ts
  packages/hash/api/src/graphql/resolvers/user/me.ts
  packages/hash/api/src/graphql/resolvers/user/updateUser.ts
  packages/hash/api/src/graphql/resolvers/user/util.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/task-execution/index.ts
  packages/hash/external-services/docker-compose.yml
  packages/hash/external-services/kratos/hooks/after.registration.jsonnet
  packages/hash/external-services/kratos/kratos.dev.yml
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
Labels: A-hash, api, integration

#932 Add Graph Docker container to external services
  .env
  package.json
  packages/graph/.dockerignore
  packages/graph/Makefile.toml
  packages/graph/README.md
  packages/graph/deployment/docker-compose.yml
  packages/graph/deployment/graph/Dockerfile
  packages/graph/deployment/migrations/Dockerfile
  packages/graph/deployment/postgres/init-user-db.sh
  packages/graph/hash_graph/.dockerignore
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/README.md
  packages/graph/hash_graph/bin/hash_graph/src/args.rs
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/logging/args.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/pool.rs
  packages/graph/migrations/package.json
  packages/graph/migrations/postgres/scripts/run-schema-migrations.ts
  packages/graph/migrations/tsconfig.json
  packages/hash/external-services/docker-compose.yml
  packages/hash/external-services/postgres/init-user-db.sh
Labels: A-hash, A-backend

#918 Introduce data mapping prototype
  packages/hash/frontend/src/blocks/page/BlockContext.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/BlockPortals.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/usePortals.tsx
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/BlockLoader/data-map-editor.tsx
  packages/hash/frontend/src/components/BlockLoader/data-map-editor/data-map-preview.tsx
  packages/hash/frontend/src/components/BlockLoader/shared.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/lib/environment.ts
  packages/hash/frontend/src/shared/icons/fontawesome-icon.tsx
  packages/hash/shared/src/ProsemirrorManager.ts
  packages/hash/shared/src/json-utils.ts
Labels: A-hash, frontend

#936 Implement hook service in HASH (and Header blocks)
  .eslintrc.json
  packages/blocks/header/package.json
  packages/blocks/header/src/app.tsx
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/RemoteBlock/RemoteBlock.tsx
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#943 Support different toolchains for different Rust projects
  .github/scripts/rust/requirements.txt
  .github/scripts/rust/setup.py
  .github/workflows/rust.yml
  packages/libs/error-stack/rust-toolchain.toml
Labels: A-infra, A-error-stack

#944 Bump the Minimal Supported Rust Version to 1.63
  .github/scripts/rust/setup.py
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/README.md
Labels: A-infra, A-error-stack

#947 Seed development users in kratos and the Graph API
  packages/hash/README.md
  packages/hash/api/src/auth/seed-dev-users.ts
  packages/hash/api/src/index.ts
Labels: A-hash, api

#950 Let user set shortname and preferred name in signup flow
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
  packages/hash/api/src/auth/ory-kratos.ts
  packages/hash/api/src/auth/seed-dev-users.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/user/accountSignupComplete.ts
  packages/hash/api/src/graphql/resolvers/user/isShortnameTaken.ts
  packages/hash/api/src/graphql/resolvers/user/linkedEntities.ts
  packages/hash/api/src/graphql/resolvers/user/updateUser.ts
  packages/hash/api/src/graphql/resolvers/user/util.ts
  packages/hash/api/src/graphql/typeDefs/org.typedef.ts
  packages/hash/api/src/graphql/typeDefs/user.typedef.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/external-services/kratos/identity.schema.json
  packages/hash/frontend/src/components/hooks/useOrgs.ts
  packages/hash/frontend/src/components/hooks/useUser.ts
  packages/hash/frontend/src/components/hooks/useUsers.ts
  packages/hash/frontend/src/graphql/queries/account.queries.ts
  packages/hash/frontend/src/graphql/queries/org.queries.ts
  packages/hash/frontend/src/graphql/queries/user.queries.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page/page-transfer-dropdown.tsx
  packages/hash/frontend/src/pages/index.page.tsx
  packages/hash/frontend/src/pages/shared/ory-kratos.ts
  packages/hash/frontend/src/pages/shared/use-get-invitation-info.ts
  packages/hash/frontend/src/pages/signup.page.tsx
  packages/hash/frontend/src/pages/signup.page/account-setup-form.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  packages/hash/integration/src/graphql/queries/org.queries.ts
  packages/hash/integration/src/graphql/queries/user.queries.ts
  packages/hash/integration/src/tests/integration.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/shared/src/queries/auth.queries.ts
Labels: A-hash, api, integration, frontend, A-backend

#959 Add feature groups for linting
  .github/scripts/rust/Makefile.toml
  .github/workflows/rust.yml
  packages/libs/error-stack/Makefile.toml
Labels: A-infra, A-error-stack

#960 Authenticate type GQL resolvers
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/typeDefs/ontology/link-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
Labels: A-hash, api

#945 Add Entity Type CRU resolvers
  packages/hash/api/src/collab/graphql/queries/entityType.queries.ts
  packages/hash/api/src/collab/save.ts
  packages/hash/api/src/graphql/resolvers/entityType/createEntityType.ts
  packages/hash/api/src/graphql/resolvers/entityType/entityTypeInheritance.ts
  packages/hash/api/src/graphql/resolvers/entityType/entityTypeTypeFields.ts
  packages/hash/api/src/graphql/resolvers/entityType/getAccountEntityTypes.ts
  packages/hash/api/src/graphql/resolvers/entityType/getEntityType.ts
  packages/hash/api/src/graphql/resolvers/entityType/updateEntityType.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/typeDefs/block.typedef.ts
  packages/hash/api/src/graphql/typeDefs/entity.typedef.ts
  packages/hash/api/src/graphql/typeDefs/entityType.typedef.ts
  packages/hash/api/src/graphql/typeDefs/file.typedef.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/ontology/data-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/entity-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/link-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/org.typedef.ts
  packages/hash/api/src/graphql/typeDefs/orgEmailInvitation.typedef.ts
  packages/hash/api/src/graphql/typeDefs/orgInvitationLink.typedef.ts
  packages/hash/api/src/graphql/typeDefs/orgMembership.typedef.ts
  packages/hash/api/src/graphql/typeDefs/page.typedef.ts
  packages/hash/api/src/graphql/typeDefs/text.typedef.ts
  packages/hash/api/src/graphql/typeDefs/user.typedef.ts
  packages/hash/api/src/model/entityType.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolAggregateEntityTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateEntityType.ts
  packages/hash/frontend/src/components/hooks/useGetAllEntityTypes.ts
  packages/hash/frontend/src/graphql/queries/account.queries.ts
  packages/hash/frontend/src/graphql/queries/entityType.queries.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/new.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/[type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  packages/hash/integration/src/graphql/queries/entity.queries.ts
  packages/hash/integration/src/tests/integration.test.ts
  packages/hash/integration/src/tests/util.ts
  packages/hash/shared/src/queries/entity.queries.ts
Labels: A-hash, api, integration, frontend

#965 Adjust `error-stack` `rustfmt.toml`
  packages/libs/error-stack/rustfmt.toml
  packages/libs/error-stack/src/frame/frame_impl.rs
  packages/libs/error-stack/src/report.rs
Labels: A-error-stack

#969 Add badges to crate documentation
  packages/libs/error-stack/README.md
  packages/libs/error-stack/rust-toolchain.toml
  packages/libs/error-stack/src/lib.rs
Labels: A-error-stack

#967 Bump `error-stack` toolchain to `2022-08-19`
  .github/scripts/rust/setup.py
  packages/libs/error-stack/README.md
  packages/libs/error-stack/rust-toolchain.toml
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline_ctx.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace.snap
  packages/libs/error-stack/tests/test_attach.rs
  packages/libs/error-stack/tests/test_attach_printable.rs
  packages/libs/error-stack/tests/test_backtrace.rs
  packages/libs/error-stack/tests/test_change_context.rs
  packages/libs/error-stack/tests/test_compatibility.rs
  packages/libs/error-stack/tests/test_conversion.rs
  packages/libs/error-stack/tests/test_debug.rs
  packages/libs/error-stack/tests/test_display.rs
  packages/libs/error-stack/tests/test_downcast.rs
  packages/libs/error-stack/tests/test_extend.rs
  packages/libs/error-stack/tests/test_frame.rs
  packages/libs/error-stack/tests/test_hooks.rs
  packages/libs/error-stack/tests/test_iter.rs
  packages/libs/error-stack/tests/test_macros.rs
  packages/libs/error-stack/tests/test_provision.rs
  packages/libs/error-stack/tests/test_span_trace.rs
Labels: A-infra, A-error-stack

#973 Update `error-stack` changelog
  packages/libs/error-stack/CHANGELOG.md
Labels: A-error-stack

#975 Change `error-stack` `pub(crate)` lints
  packages/libs/error-stack/src/context.rs
  packages/libs/error-stack/src/ext/mod.rs
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/macros.rs
Labels: A-error-stack

#971 Convert paragraph and callout blocks to hook service
  packages/blocks/callout/package.json
  packages/blocks/callout/src/app.tsx
  packages/blocks/paragraph/package.json
  packages/blocks/paragraph/src/app.tsx
  packages/blocks/paragraph/src/dev.tsx
Labels: A-blocks

#970 Move extension traits into `error_stack::ext` module
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/src/ext/mod.rs
  packages/libs/error-stack/src/ext/result.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/result.rs
Labels: A-error-stack

#966 Simplify `Report` generation
  packages/libs/error-stack/src/compat/anyhow.rs
  packages/libs/error-stack/src/compat/eyre.rs
  packages/libs/error-stack/src/context.rs
  packages/libs/error-stack/src/report.rs
Labels: A-error-stack

#968 Support `Backtrace` on non-nightly Rust (≥ 1.65)
  packages/libs/error-stack/build.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/tests/common.rs
  packages/libs/error-stack/tests/test_backtrace.rs
  packages/libs/error-stack/tests/test_compatibility.rs
  packages/libs/error-stack/tests/test_frame.rs
Labels: A-error-stack

#972 Remove editableRef
  packages/blocks/toggle-item/src/app.tsx
  packages/hash/api/src/collab/save.ts
  packages/hash/frontend/src/components/RemoteBlock/RemoteBlock.tsx
Labels: A-hash, api, frontend, A-blocks

#982 Add `error-stack-macros` crate
  .github/scripts/rust/Makefile.toml
  .github/scripts/rust/setup.py
  .github/workflows/rust.yml
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/Makefile.toml
  packages/libs/error-stack/macros/Cargo.toml
  packages/libs/error-stack/macros/Makefile.toml
  packages/libs/error-stack/macros/rust-toolchain.toml
  packages/libs/error-stack/macros/src/lib.rs
  packages/libs/error-stack/rust-toolchain.toml
Labels: A-infra, A-error-stack

#976 Add support for multipe emits in debug hooks in `error-stack`
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/fmt/unstable.rs
  packages/libs/error-stack/src/hook.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/tests/snapshots/doc/fmt__debugdiagnostic.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__diagnostics_add.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__diagnostics_add_defer.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__doc.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_cast.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_decrement.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_storage.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt_doc_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__fallback_builtin.snap
  packages/libs/error-stack/tests/test_debug.rs
Labels: A-error-stack

#978 Identify paragraph block by its componentId, not name
  packages/blocks/callout/README.md
  packages/blocks/embed/README.md
  packages/blocks/header/README.md
  packages/blocks/paragraph/README.md
  packages/hash/frontend/src/blocks/page/createEditorView.ts
Labels: A-hash, frontend, A-blocks

#981 Support filtering for URIs and versions on ontology types
  packages/graph/Makefile.toml
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/store/error.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
Labels: C-dependencies, A-backend

#989 Fix refs in publish job and prepare `error-stack-macros` release
  .github/workflows/rust.yml
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/macros/Cargo.toml
Labels: A-infra, A-error-stack

#991 Attempt to fix the `publish` job on push to main
  .github/workflows/rust.yml
  packages/libs/error-stack/macros/Cargo.toml
Labels: A-infra, A-error-stack

#992 Attempt to fix `publish` job on push to `main`, II
  .github/workflows/rust.yml
  packages/libs/error-stack/macros/Cargo.toml
Labels: A-infra, A-error-stack

#990 Publish `error-stack-macros`
  .github/workflows/rust.yml
  packages/libs/error-stack/macros/Cargo.toml
Labels: A-infra, A-error-stack

#988 Use Type System Package
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/entity_type/links.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/error.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/serde_shared/array.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/serde_shared/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/serde_shared/object.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/serde_shared/one_of.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/uri.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/query/ontology.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/hash_graph/tests/test_data/entity/address.json
  packages/graph/hash_graph/tests/test_data/entity/block.json
  packages/graph/hash_graph/tests/test_data/entity/book.json
  packages/graph/hash_graph/tests/test_data/entity/organization.json
  packages/graph/hash_graph/tests/test_data/entity/page_v1.json
  packages/graph/hash_graph/tests/test_data/entity/page_v2.json
  packages/graph/hash_graph/tests/test_data/entity/person_a.json
  packages/graph/hash_graph/tests/test_data/entity/person_b.json
  packages/graph/hash_graph/tests/test_data/entity/person_c.json
  packages/graph/hash_graph/tests/test_data/entity/playlist.json
  packages/graph/hash_graph/tests/test_data/entity/song.json
  packages/graph/hash_graph/tests/test_data/entity_type/address.json
  packages/graph/hash_graph/tests/test_data/entity_type/block.json
  packages/graph/hash_graph/tests/test_data/entity_type/book.json
  packages/graph/hash_graph/tests/test_data/entity_type/organization.json
  packages/graph/hash_graph/tests/test_data/entity_type/page_v1.json
  packages/graph/hash_graph/tests/test_data/entity_type/page_v2.json
  packages/graph/hash_graph/tests/test_data/entity_type/person.json
  packages/graph/hash_graph/tests/test_data/entity_type/playlist.json
  packages/graph/hash_graph/tests/test_data/entity_type/song.json
Labels: C-dependencies, A-backend

#986 Assorted tidy up
  packages/hash/README.md
  packages/hash/design-system/src/fontawesome-icon.tsx
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/components/EmojiPicker/EmojiPicker.tsx
  packages/hash/frontend/src/components/PageIcon.tsx
  packages/hash/frontend/src/components/PageIconButton.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page.tsx
  packages/hash/frontend/src/pages/shared/top-context-bar.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
Labels: A-hash, frontend

#996 Use type-system-web package for types
  package.json
  packages/hash/api/codegen.yml
  packages/hash/api/package.json
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/frontend/codegen.yml
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/ontology-types-shim.ts
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/integration/package.json
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend

#999 Minor updates to copy
  CONTRIBUTING.md
  sites/README.md
  sites/hashdev/src/_pages/blog/1_block-design.mdx
  sites/hashdev/src/_pages/blog/3_one-principle.mdx
Labels: A-infra

#1002 Stop triggering page navigation when clicking inside page menu
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
Labels: A-hash, frontend

#953 Show placeholder on empty paragraphs on the editor
  .eslintrc.json
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createPlaceholderPlugin/Placeholder.tsx
  packages/hash/frontend/src/blocks/page/createPlaceholderPlugin/createPlaceholderPlugin.tsx
  packages/hash/frontend/src/blocks/page/style.module.css
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/shared/src/ProsemirrorManager.ts
  packages/hash/shared/src/blocks.ts
  packages/hash/shared/src/prosemirror.ts
Labels: A-hash, frontend

#956 Improve alignment of page title and layout
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/PageContext.tsx
  packages/hash/frontend/src/blocks/page/PageTitle.tsx
  packages/hash/frontend/src/blocks/page/PageTitle/PageTitle.tsx
  packages/hash/frontend/src/blocks/page/PageTitle/utils.ts
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/focusPageTitlePlugin.ts
  packages/hash/frontend/src/blocks/page/style.module.css
  packages/hash/frontend/src/components/PageIconButton.tsx
  packages/hash/frontend/src/components/hooks/useCreatePage.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/shared/breadcrumbs.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
Labels: A-hash, frontend

#997 Add `LinkModel` class with CRU operations
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link.model.test.ts
Labels: A-hash, api, integration, A-backend

#1003 Replace DOM query with ref in Suggester
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
Labels: A-hash, frontend

#1000 Introduce structural queries
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/ontology.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#977 Add new type system functions in the frontend
  package.json
  packages/hash/api/codegen.yml
  packages/hash/api/package.json
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/typeDefs/ontology/link-type.typedef.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/frontend/codegen.yml
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/ontology-types-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateDataTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateEntityTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateLinkTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregatePropertyTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreateLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreatePropertyType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetDataType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetPropertyType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdateLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdatePropertyType.ts
  packages/hash/frontend/src/graphql/queries/ontology/data-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/link-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/property-type.queries.ts
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/integration/package.json
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend

#1011 Fix `anyhow` test to support backtraces
  packages/libs/error-stack/tests/test_compatibility.rs
Labels: A-error-stack

#1004 Add planned features to `error-stack` changelog
  packages/libs/error-stack/CHANGELOG.md
Labels: A-error-stack

#987 remove builtin debug fallback in favor of default hooks in `error-stack`
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/hook.rs
  packages/libs/error-stack/tests/snapshots/doc/hook__fallback.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__fallback_builtin.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_fallback.snap
Labels: A-error-stack

#1007 Add `OrgModel` class with CRU operations
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/graphql/resolvers/user/isShortnameTaken.ts
  packages/hash/api/src/graphql/resolvers/user/updateUser.ts
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/knowledge/account.fields.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/org.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
Labels: A-hash, api, integration
