Repository hashintel/hash, pull requests merged in 2022-05, with the labels that each got.

#497 Implement BP hooks for creating/updating/deleting linked aggregations
  packages/blocks/image/src/components/media.tsx
  packages/blocks/table/src/table.tsx
  packages/blocks/video/src/components/media.tsx
  packages/hash/api/src/graphql/resolvers/link/deleteLink.ts
  packages/hash/api/src/graphql/resolvers/linkedAggregation/deleteLinkedAggregation.ts
  packages/hash/api/src/graphql/resolvers/linkedAggregation/linkedAggregationResults.ts
  packages/hash/api/src/graphql/resolvers/linkedAggregation/updateLinkedAggregationOperation.ts
  packages/hash/api/src/graphql/typeDefs/aggregation.typedef.ts
  packages/hash/api/src/graphql/typeDefs/link.typedef.ts
  packages/hash/api/src/model/aggregation.model.ts
  packages/hash/api/src/model/entity.model.ts
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateLinkedAggregations.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateLinks.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolDeleteLinkedAggregations.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolDeleteLinks.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateLinkedAggregations.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateLinks.ts
  packages/hash/frontend/src/components/util/typeUtils.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor/entity-field-link-editor.tsx
  packages/hash/integration/src/graphql/queries/aggregation.queries.ts
  packages/hash/integration/src/tests/integration.test.ts
  packages/hash/shared/src/queries/entity.queries.ts
  packages/hash/shared/src/queries/link.queries.ts
  patches/blockprotocol+0.0.7.patch
Labels: A-hash, api, integration, frontend, A-blocks

#525 Update various repo READMEs
  README.md
  SECURITY.md
  sites/README.md
  sites/hashai/README.md
  sites/hashdev/README.md
Labels: A-infra

#503 Add preliminary GitHub integration
  packages/hash/api/package.json
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/taskExecutor/index.ts
  packages/hash/api/src/graphql/typeDefs/taskExecution.typedef.ts
  packages/hash/api/src/task-execution/index.ts
  packages/hash/task-executor/.gitignore
  packages/hash/task-executor/README.md
  packages/hash/task-executor/nodemon.json
  packages/hash/task-executor/package.json
  packages/hash/task-executor/requirements.lock
  packages/hash/task-executor/setup.sh
  packages/hash/task-executor/src/airbyte/executor.ts
  packages/hash/task-executor/src/airbyte/parsing.ts
  packages/hash/task-executor/src/airbyte/protocol.ts
  packages/hash/task-executor/src/airbyte/temp_io.ts
  packages/hash/task-executor/src/execution.ts
  packages/hash/task-executor/src/index.ts
  packages/hash/task-executor/src/tasks/source-github/index.ts
  yarn.lock
Labels: C-dependencies, A-hash, api

#529 Fix table block updating / deleting linked aggregation
  packages/blocks/table/src/table.tsx
Labels: A-blocks

#528 Fix `@opensearch-project/opensearch` compatibility with Node 18
  .github/actions/warm-up-repo/action.yml
  .github/workflows/algolia-upload-index.yml
  .github/workflows/ci.yml
  package.json
  packages/hash/README.md
  packages/hash/backend-utils/package.json
  packages/hash/backend-utils/src/search/opensearch.ts
  packages/hash/search-loader/package.json
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, search-loader

#526 GitHub action to build services, push to ECR and (re)deploy ECS Fargate instances
  .github/actions/docker-ecr-login/action.yml
  .github/workflows/hash-backend-cd.yml
  packages/hash/api/src/index.ts
Labels: A-hash, A-infra, api

#493 Properly import JS modules
  packages/engine/src/simulation/package/context/packages/agent_messages/package.js
  packages/engine/src/simulation/package/context/packages/neighbors/package.js
  packages/engine/src/simulation/package/init/packages/js_py/package.js
  packages/engine/src/simulation/package/state/packages/behavior_execution/package.js
  packages/engine/src/worker/runner/javascript/apache-arrow-bundle.js
  packages/engine/src/worker/runner/javascript/batch.js
  packages/engine/src/worker/runner/javascript/context.js
  packages/engine/src/worker/runner/javascript/error.rs
  packages/engine/src/worker/runner/javascript/hash_util.js
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/src/worker/runner/javascript/runner.js
  packages/engine/src/worker/runner/javascript/state.js
Labels: A-engine

#530 macOS hotfix
  packages/engine/lib/memory/src/shared_memory/segment.rs
Labels: A-engine

#533 Update BlockProtocolUpdateLinkedAggregationAction data -> operation
  packages/blocks/table/src/table.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateLinkedAggregations.ts
  patches/blockprotocol+0.0.7.patch
Labels: A-hash, frontend, A-blocks

#534 Move `Worker` to `execution` crate
  packages/engine/lib/execution/Cargo.toml
  packages/engine/lib/execution/src/error.rs
  packages/engine/lib/execution/src/worker/mod.rs
  packages/engine/lib/execution/src/worker/pending.rs
  packages/engine/lib/execution/src/worker/task.rs
  packages/engine/lib/execution/src/worker_pool/comms/active.rs
  packages/engine/lib/execution/src/worker_pool/comms/experiment.rs
  packages/engine/lib/execution/src/worker_pool/comms/main.rs
  packages/engine/lib/execution/src/worker_pool/comms/message.rs
  packages/engine/lib/execution/src/worker_pool/comms/mod.rs
  packages/engine/lib/execution/src/worker_pool/comms/terminate.rs
  packages/engine/lib/execution/src/worker_pool/comms/top.rs
  packages/engine/lib/execution/src/worker_pool/mod.rs
  packages/engine/src/error.rs
  packages/engine/src/experiment/controller/controller.rs
  packages/engine/src/experiment/controller/error.rs
  packages/engine/src/experiment/controller/run.rs
  packages/engine/src/lib.rs
  packages/engine/src/simulation/comms/mod.rs
  packages/engine/src/simulation/task/active.rs
  packages/engine/src/simulation/task/mod.rs
  packages/engine/src/worker/error.rs
  packages/engine/src/worker/mod.rs
  packages/engine/src/workerpool/error.rs
  packages/engine/src/workerpool/mod.rs
  packages/engine/src/workerpool/pending.rs
Labels: A-engine

#535 Move `WorkerPool` to `execution`
  packages/engine/Cargo.lock
  packages/engine/lib/execution/Cargo.toml
  packages/engine/lib/execution/src/error.rs
  packages/engine/lib/execution/src/package/mod.rs
  packages/engine/lib/execution/src/runner/javascript/mod.rs
  packages/engine/lib/execution/src/runner/mod.rs
  packages/engine/lib/execution/src/runner/python/mod.rs
  packages/engine/lib/execution/src/runner/rust/mod.rs
  packages/engine/lib/execution/src/task/mod.rs
  packages/engine/lib/execution/src/worker/mod.rs
  packages/engine/lib/execution/src/worker_pool/comms/active.rs
  packages/engine/lib/execution/src/worker_pool/comms/mod.rs
  packages/engine/lib/execution/src/worker_pool/comms/top.rs
  packages/engine/lib/execution/src/worker_pool/mod.rs
  packages/engine/lib/execution/src/worker_pool/pending.rs
  packages/engine/lib/execution/src/worker_pool/runs.rs
  packages/engine/src/error.rs
  packages/engine/src/experiment/controller/controller.rs
  packages/engine/src/experiment/controller/error.rs
  packages/engine/src/experiment/controller/run.rs
  packages/engine/src/lib.rs
  packages/engine/src/workerpool/error.rs
  packages/engine/src/workerpool/mod.rs
Labels: C-dependencies, A-engine

#537 Bump three Þ dependencies, change `react` dependency range
  package.json
  packages/blocks/callout/package.json
  packages/blocks/code/package.json
  packages/blocks/divider/package.json
  packages/blocks/embed/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/table/package.json
  packages/blocks/video/package.json
  packages/hash/api/package.json
  packages/hash/backend-utils/package.json
  packages/hash/frontend/package.json
  packages/hash/shared/package.json
  patches/blockprotocol+0.0.8.patch
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend, A-blocks

#531 Cleanup temporary files when test fail
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/process/local.rs
Labels: A-engine

#542 Fix caller tracking in error handling
  packages/engine/lib/error/src/ext.rs
Labels: C-bug, A-engine

#543 Rename `Pool` to `BatchPool`
  packages/engine/lib/stateful/src/agent/arrow/mod.rs
  packages/engine/lib/stateful/src/agent/arrow/pool.rs
  packages/engine/lib/stateful/src/agent/mod.rs
  packages/engine/lib/stateful/src/context/batch.rs
  packages/engine/lib/stateful/src/context/mod.rs
  packages/engine/lib/stateful/src/message/mod.rs
  packages/engine/lib/stateful/src/message/pool.rs
  packages/engine/lib/stateful/src/state/column.rs
  packages/engine/lib/stateful/src/state/mod.rs
  packages/engine/lib/stateful/src/state/proxy.rs
  packages/engine/lib/stateful/src/state/references.rs
  packages/engine/lib/stateful/src/state/view.rs
  packages/engine/src/datastore/table/create_remove/plan.rs
  packages/engine/src/simulation/engine.rs
Labels: A-engine

#538 Fail tests on unexpected output count
  packages/engine/build.rs
  packages/engine/tests/examples/boids_3d/integration-test.json
  packages/engine/tests/experiment/mod.rs
Labels: A-engine

#544 Bump tokio to `1.18.2`
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/bin/cli/Cargo.toml
  packages/engine/bin/hash_engine/Cargo.toml
  packages/engine/lib/execution/Cargo.toml
  packages/engine/lib/nano/Cargo.toml
  packages/engine/lib/orchestrator/Cargo.toml
Labels: C-dependencies, A-engine

#532 Cache docker layers for deployment action
  .github/actions/docker-build-push/action.yml
  .github/actions/docker-ecr-login/action.yml
  .github/workflows/hash-backend-cd.yml
  packages/hash/backend-utils/jest.config.js
  packages/hash/backend-utils/src/queue/redis.ts
  packages/hash/backend-utils/src/search/opensearch.ts
  packages/hash/backend-utils/src/utils.ts
  packages/hash/docker/api/prod/Dockerfile
  packages/hash/docker/realtime/prod/Dockerfile
  packages/hash/docker/search-loader/prod/Dockerfile
Labels: A-hash, A-infra, docker

#522 Add Stopwatch block
  packages/blocks/stopwatch/.eslintrc.js
  packages/blocks/stopwatch/README.md
  packages/blocks/stopwatch/package.json
  packages/blocks/stopwatch/public/block-preview.svg
  packages/blocks/stopwatch/public/omega.svg
  packages/blocks/stopwatch/src/app.tsx
  packages/blocks/stopwatch/src/dev.js
  packages/blocks/stopwatch/src/index.ts
  packages/blocks/stopwatch/tsconfig.json
  packages/blocks/stopwatch/variants.json
Labels: A-blocks

#545 Print logs on unexpected output
  packages/engine/tests/experiment/mod.rs
Labels: A-engine

#548 Rename `Report::generalise` to `generalize`
  packages/engine/lib/error/src/report.rs
Labels: A-engine

#546 Only create Python runner when .py behaviors are present
  packages/engine/README.md
  packages/engine/lib/execution/src/package/simulation/init/state.rs
  packages/engine/lib/execution/src/package/simulation/state/behavior_execution/behavior/mod.rs
  packages/engine/lib/execution/src/worker/mod.rs
  packages/engine/src/config/experiment.rs
  packages/engine/src/proto.rs
Labels: A-engine

#551 Always run all Rust jobs if toolchain changed
  .github/workflows/rust.yml
Labels: A-engine, A-infra

#521 Add Countdown block
  packages/blocks/countdown/.eslintrc.js
  packages/blocks/countdown/README.md
  packages/blocks/countdown/block-schema.json
  packages/blocks/countdown/package.json
  packages/blocks/countdown/public/block-preview.svg
  packages/blocks/countdown/public/omega.svg
  packages/blocks/countdown/src/app.tsx
  packages/blocks/countdown/src/dev.js
  packages/blocks/countdown/src/index.ts
  packages/blocks/countdown/tsconfig.json
  packages/blocks/countdown/variants.json
  yarn.lock
Labels: C-dependencies, A-blocks

#550 Bump Rust toolchain to 2022-05-10
  packages/engine/lib/error/src/iter.rs
  packages/engine/lib/error/src/report.rs
  packages/engine/lib/execution/src/package/simulation/output/analysis/validation.rs
  packages/engine/lib/execution/src/runner/javascript/mod.rs
  packages/engine/lib/nano/src/lib.rs
  packages/engine/lib/stateful/src/agent/arrow/record_batch.rs
  packages/engine/rust-toolchain.toml
Labels: A-engine

#549 Apply error handling to `nano`
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/lib/nano/Cargo.toml
  packages/engine/lib/nano/src/client.rs
  packages/engine/lib/nano/src/error.rs
  packages/engine/lib/nano/src/lib.rs
  packages/engine/lib/nano/src/server.rs
  packages/engine/lib/nano/src/spmc.rs
  packages/engine/lib/orchestrator/src/experiment_server.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/src/env.rs
Labels: C-dependencies, A-engine

#552 Only spawn runner if behaviors for the language are present
  packages/engine/lib/execution/src/runner/rust/mod.rs
  packages/engine/lib/execution/src/worker/mod.rs
  packages/engine/src/config/experiment.rs
  packages/engine/src/proto.rs
Labels: A-engine

#559 Skip Arrow validation for ArrayData
  packages/engine/lib/execution/src/runner/javascript/mod.rs
Labels: A-engine

#558 Run miri for all lib-crates
  .github/workflows/rust.yml
  packages/engine/lib/memory/src/shared_memory/segment.rs
  packages/engine/lib/stateful/src/vec.rs
Labels: A-engine, A-infra

#560 Add support to request from `Report` by value
  packages/engine/lib/error/src/iter.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/macros.rs
  packages/engine/lib/error/src/report.rs
Labels: A-engine

#562 Fix intra-doc links
  packages/engine/lib/execution/src/package/simulation/mod.rs
  packages/engine/lib/execution/src/runner/javascript/mod.rs
  packages/engine/lib/execution/src/runner/mod.rs
  packages/engine/lib/execution/src/task/distribution.rs
  packages/engine/lib/execution/src/task/mod.rs
  packages/engine/lib/execution/src/worker/mod.rs
  packages/engine/lib/execution/src/worker_pool/mod.rs
  packages/engine/lib/memory/src/arrow/flush.rs
  packages/engine/lib/memory/src/shared_memory/metaversion.rs
  packages/engine/lib/memory/src/shared_memory/mod.rs
  packages/engine/lib/memory/src/shared_memory/segment.rs
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/experiment_server.rs
  packages/engine/lib/orchestrator/src/lib.rs
  packages/engine/lib/orchestrator/src/manifest.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/lib/orchestrator/src/process/mod.rs
  packages/engine/lib/stateful/src/state/mod.rs
  packages/engine/src/proto.rs
  packages/engine/src/simulation/comms/mod.rs
  packages/engine/src/simulation/controller/run.rs
  packages/engine/src/simulation/engine.rs
  packages/engine/src/simulation/task/active.rs
  packages/engine/src/simulation/task/mod.rs
Labels: A-engine

#556 Run --no-default-features in CI
  .github/workflows/rust.yml
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/src/error.rs
  packages/engine/src/experiment/error.rs
Labels: C-dependencies, A-engine, A-infra

#557 Run `miri` on CI
  .github/workflows/rust.yml
  packages/engine/lib/memory/src/shared_memory/segment.rs
  packages/engine/lib/stateful/src/vec.rs
  packages/engine/src/datastore/arrow/test.rs
  packages/engine/src/datastore/batch/agent.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/experiment/controller/mod.rs
  packages/engine/tests/integration.rs
  packages/engine/tests/units/multiple_groups/mod.rs
Labels: A-engine, A-infra

#565 Update README.md
  packages/engine/README.md
Labels: A-engine

#506 Load entities into blocks fixes
  packages/hash/api/src/graphql/resolvers/pages/updatePageContents.ts
  packages/hash/api/src/graphql/typeDefs/page.typedef.ts
  packages/hash/api/src/model/block.model.ts
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
  packages/hash/shared/src/entity.ts
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/save.ts
Labels: A-hash, api, frontend

#553 Update blockprotocol + mock-block-dock. Remove destinationEntityVersionId
  packages/blocks/callout/package.json
  packages/blocks/code/package.json
  packages/blocks/countdown/package.json
  packages/blocks/divider/package.json
  packages/blocks/embed/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/stopwatch/package.json
  packages/blocks/table/package.json
  packages/blocks/table/src/components/filter-detail.tsx
  packages/blocks/timer/package.json
  packages/blocks/video/package.json
  packages/hash/api/package.json
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/errors.ts
  packages/hash/api/src/db/postgres/client.ts
  packages/hash/api/src/db/postgres/entity.ts
  packages/hash/api/src/db/postgres/history.ts
  packages/hash/api/src/db/postgres/link/createLink.ts
  packages/hash/api/src/db/postgres/link/sql/links.util.ts
  packages/hash/api/src/graphql/resolvers/entity/linkGroups.ts
  packages/hash/api/src/graphql/resolvers/entity/linkedEntities.ts
  packages/hash/api/src/graphql/resolvers/link/createLink.ts
  packages/hash/api/src/graphql/typeDefs/aggregation.typedef.ts
  packages/hash/api/src/graphql/typeDefs/link.typedef.ts
  packages/hash/api/src/model/aggregation.model.ts
  packages/hash/api/src/model/link.model.ts
  packages/hash/backend-utils/package.json
  packages/hash/backend-utils/src/pgTables.ts
  packages/hash/datastore/postgres/migration/1652365970279_remove-destination-entity-version-id.ts
  packages/hash/frontend/package.json
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor/entity-links-editor.tsx
  packages/hash/integration/src/graphql/queries/page.queries.ts
  packages/hash/integration/src/tests/model/link.model.test.ts
  packages/hash/shared/package.json
  packages/hash/shared/src/queries/link.queries.ts
  patches/blockprotocol+0.0.8.patch
  patches/blockprotocol+0.0.9.patch
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend, A-blocks

#518 Add Toggle List Item block
  packages/blocks/toggle-item/.eslintrc.js
  packages/blocks/toggle-item/.gitignore
  packages/blocks/toggle-item/README.md
  packages/blocks/toggle-item/package.json
  packages/blocks/toggle-item/public/block-preview.svg
  packages/blocks/toggle-item/public/omega.svg
  packages/blocks/toggle-item/src/app.tsx
  packages/blocks/toggle-item/src/dev.js
  packages/blocks/toggle-item/src/index.css
  packages/blocks/toggle-item/src/index.ts
  packages/blocks/toggle-item/tsconfig.json
  packages/blocks/toggle-item/variants.json
Labels: A-blocks

#568 Add 2x new blog posts and misc updates
  LICENSE.md
  packages/engine/LICENSE.md
  packages/engine/README.md
  packages/hash/api/package.json
  packages/hash/backend-utils/package.json
  packages/hash/datastore/package.json
  packages/hash/frontend/package.json
  packages/hash/integration/package.json
  packages/hash/realtime/package.json
  packages/hash/search-loader/package.json
  packages/hash/shared/package.json
  packages/hash/task-executor/package.json
  resources/docs/simulation/creating-simulations/agent-messages/built-in-message-handlers.md
  sites/hashdev/LICENSE.md
  sites/hashdev/public/blog/1_block-design/README.md
  sites/hashdev/public/blog/2_open-source/OpenSource_Cover.jpg
  sites/hashdev/public/blog/2_open-source/README.md
  sites/hashdev/public/blog/2_open-source/david.jpg
  sites/hashdev/public/blog/3_one-principle/3_one-principle.jpg
  sites/hashdev/public/blog/3_one-principle/README.md
  sites/hashdev/src/_pages/blog/2_open-source.mdx
  sites/hashdev/src/_pages/blog/3_one-principle.mdx
  yarn.lock
Labels: C-dependencies, A-engine, A-hash, A-learn, A-infra, api, integration, frontend, search-loader, realtime

#515 Add Drawing Canvas block
  packages/blocks/drawing-canvas/.eslintrc.js
  packages/blocks/drawing-canvas/.gitignore
  packages/blocks/drawing-canvas/README.md
  packages/blocks/drawing-canvas/block-schema.json
  packages/blocks/drawing-canvas/package.json
  packages/blocks/drawing-canvas/public/block-preview.svg
  packages/blocks/drawing-canvas/public/omega.svg
  packages/blocks/drawing-canvas/src/app.tsx
  packages/blocks/drawing-canvas/src/base.css
  packages/blocks/drawing-canvas/src/dev.js
  packages/blocks/drawing-canvas/src/index.ts
  packages/blocks/drawing-canvas/src/utils.ts
  packages/blocks/drawing-canvas/tsconfig.json
  packages/blocks/drawing-canvas/variants.json
  yarn.lock
Labels: C-dependencies, A-blocks

#570 Reduce realtime poll interval
  packages/hash/realtime/package.json
  packages/hash/realtime/src/index.ts
  yarn.lock
Labels: C-dependencies, A-hash, realtime

#571 Add visual tweaks to HASH app
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/PageTitle.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/LinkModal.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/MarksTooltip.tsx
  packages/hash/frontend/src/components/entityTypes/AccountEntityOfTypeList.tsx
  packages/hash/frontend/src/components/forms/TagsInput.tsx
  packages/hash/frontend/src/components/forms/TextInput.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new.page.tsx
  packages/hash/frontend/src/pages/invite.page.tsx
  packages/hash/frontend/src/pages/login.page/login-intro.tsx
  packages/hash/frontend/src/pages/shared/verify-code.tsx
  packages/hash/frontend/src/pages/signup.page/account-setup.tsx
  packages/hash/frontend/src/pages/signup.page/account-usage.tsx
  packages/hash/frontend/src/pages/signup.page/org-create.tsx
  packages/hash/frontend/src/pages/signup.page/org-invite.tsx
  packages/hash/frontend/src/pages/signup.page/signup-intro.tsx
  packages/hash/frontend/src/shared/icons.tsx
  packages/hash/frontend/src/shared/icons/hash-icon.tsx
  packages/hash/frontend/src/shared/icons/svg.tsx
  packages/hash/frontend/src/shared/icons/svg/hash.svg
  packages/hash/frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/page-header.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/sort-actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  packages/hash/frontend/src/shared/ui/link.tsx
  packages/hash/playwright/tests/entity-creation.spec.ts
Labels: A-hash, frontend, playwright

#572 Bust in-memory block cache when loading block from url
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockLoaderInput.tsx
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
  packages/hash/shared/src/blockMeta.ts
Labels: A-hash, frontend

#579 Use `#[ignore = "…"]` notation for tests
  packages/engine/tests/examples/mod.rs
  packages/engine/tests/units/behavior/mod.rs
  packages/engine/tests/units/data/csv/mod.rs
  packages/engine/tests/units/data/json/mod.rs
  packages/engine/tests/units/globals/mod.rs
  packages/engine/tests/units/message/mod.rs
  packages/engine/tests/units/state/empty/mod.rs
Labels: A-engine

#578 Apply Prettier to style files
  .prettierignore
  packages/blocks/drawing-canvas/src/base.css
  packages/blocks/github-pr-overview/src/index.css
  packages/blocks/toggle-item/src/index.css
  packages/hash/frontend/styles/globals.scss
  sites/hashdev/styles/globals.css
Labels: A-hash, frontend, A-blocks

#581 Expand contributor guide
  CONTRIBUTING.md
Labels: A-infra

#564 Add support for setting formatting hooks
  packages/engine/Cargo.lock
  packages/engine/lib/error/Cargo.toml
  packages/engine/lib/error/examples/json_output.rs
  packages/engine/lib/error/src/hook.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/report.rs
Labels: C-dependencies, A-engine

#584 Make generic on `ResultExt` associative
  packages/engine/lib/error/src/ext.rs
  packages/engine/lib/error/src/frame.rs
  packages/engine/lib/error/src/hook.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/report.rs
  packages/engine/lib/error/src/result.rs
Labels: A-engine

#585 Hide `once_cell` and `tracing-error` features
  packages/engine/lib/error/Cargo.toml
Labels: A-engine

#586 Add `FutureExt` adaptor trait
  packages/engine/Cargo.lock
  packages/engine/lib/error/Cargo.toml
  packages/engine/lib/error/src/future_ext.rs
  packages/engine/lib/error/src/hook.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/result_ext.rs
Labels: C-dependencies, A-engine

#577 Remove unused nesting of file object in media block entities
  packages/blocks/image/src/components/media.tsx
  packages/blocks/video/src/components/media.tsx
Labels: A-blocks

#589 Update Drawing canvas block author
  packages/blocks/drawing-canvas/package.json
Labels: A-blocks

#593 Make retrieving hooks internal
  packages/engine/lib/error/src/hook.rs
  packages/engine/lib/error/src/lib.rs
Labels: A-engine

#591 Simplify error macros
  packages/engine/lib/error/src/frame.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/macros.rs
  packages/engine/lib/error/src/report.rs
  packages/engine/lib/nano/src/client.rs
  packages/engine/lib/nano/src/spmc.rs
Labels: A-engine

#594 Ensure `Report` is kept when passed to macro
  packages/engine/lib/error/src/macros.rs
Labels: A-engine

#592 Change context type for errors to `Report<Error>`
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/lib/error/src/error.rs
  packages/engine/lib/error/src/hook.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/macros.rs
  packages/engine/lib/error/src/report.rs
  packages/engine/lib/error/src/result_ext.rs
  packages/engine/lib/nano/src/client.rs
  packages/engine/lib/nano/src/server.rs
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/experiment_server.rs
  packages/engine/lib/orchestrator/src/manifest.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/tests/experiment/mod.rs
Labels: A-engine

#597 Make conversion to `Report` explicit
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/report.rs
  packages/engine/lib/error/src/result.rs
  packages/engine/lib/nano/src/client.rs
  packages/engine/lib/nano/src/server.rs
  packages/engine/lib/nano/src/spmc.rs
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/experiment_server.rs
  packages/engine/lib/orchestrator/src/manifest.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/tests/experiment/mod.rs
Labels: A-engine

#576 Restyle timer block
  packages/blocks/countdown/package.json
  packages/blocks/github-pr-overview/package.json
  packages/blocks/timer/README.md
  packages/blocks/timer/package.json
  packages/blocks/timer/public/block-preview.svg
  packages/blocks/timer/public/omega.svg
  packages/blocks/timer/public/timer.svg
  packages/blocks/timer/src/app.scss
  packages/blocks/timer/src/app.tsx
  packages/blocks/timer/src/app/calculate-duration-step-length.ts
  packages/blocks/timer/src/app/clamp.ts
  packages/blocks/timer/src/app/duration-input.tsx
  packages/blocks/timer/src/app/timer-status.ts
  packages/blocks/timer/src/app/use-auto-refresh.ts
  packages/blocks/timer/src/dev.tsx
  packages/blocks/timer/variants.json
  packages/hash/frontend/package.json
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks
