Repository hashintel/hash, pull requests merged in 2022-03, with the labels that each got.

#351 OpenSearch pagination
  package.json
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/postgres/client.ts
  packages/hash/api/src/db/postgres/entity.ts
  packages/hash/api/src/db/postgres/entitytypes.ts
  packages/hash/api/src/db/postgres/index.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/pages/searchPages.ts
  packages/hash/api/src/graphql/resolvers/paginationConnection/pageSearchResultConnection.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/paginationConnections.typedef.ts
  packages/hash/api/src/model/entityType.model.ts
  packages/hash/backend-utils/jest.config.js
  packages/hash/backend-utils/package.json
  packages/hash/backend-utils/src/search/adapter.ts
  packages/hash/backend-utils/src/search/doc-types.ts
  packages/hash/backend-utils/src/search/opensearch-pagination.test.ts
  packages/hash/backend-utils/src/search/opensearch.ts
  packages/hash/search-loader/README.md
  packages/hash/search-loader/package.json
  packages/hash/search-loader/src/db.ts
  packages/hash/search-loader/src/index.ts
  packages/hash/search-loader/src/searchLoader.ts
Labels: A-hash, api, search-loader

#360 Fix Arrow conversion from JS with fixed-size lists
  packages/engine/src/worker/runner/javascript/mod.rs
Labels: A-engine

#362 Upgrade Arrow to 9.1.0
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/src/datastore/arrow/batch_conversion.rs
  packages/engine/src/datastore/arrow/element_conversion.rs
  packages/engine/src/datastore/arrow/field_conversion.rs
  packages/engine/src/datastore/arrow/ipc.rs
  packages/engine/src/datastore/arrow/message.rs
  packages/engine/src/datastore/arrow/meta_conversion.rs
  packages/engine/src/datastore/arrow/padding.rs
  packages/engine/src/datastore/arrow/util.rs
  packages/engine/src/datastore/batch/agent.rs
  packages/engine/src/datastore/batch/boolean.rs
  packages/engine/src/datastore/batch/change.rs
  packages/engine/src/datastore/batch/context.rs
  packages/engine/src/datastore/batch/message.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/batch/mod.rs
  packages/engine/src/datastore/error.rs
  packages/engine/src/datastore/ffi/mod.rs
  packages/engine/src/datastore/ffi/schema_conversion.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/datastore/storage/memory.rs
  packages/engine/src/simulation/package/context/packages/api_requests/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/chain.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/reset_index_col.rs
  packages/engine/src/worker/runner/javascript/hash_util.js
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/src/worker/runner/python/sender.rs
  packages/engine/tests/units/state/mod.rs
  packages/engine/tests/units/state/nullable_fixed_size_list/integration-test.json
  packages/engine/tests/units/state/nullable_fixed_size_list/src/behaviors/empty.js
  packages/engine/tests/units/state/nullable_fixed_size_list/src/behaviors/empty.js.json
  packages/engine/tests/units/state/nullable_fixed_size_list/src/behaviors/empty.py
  packages/engine/tests/units/state/nullable_fixed_size_list/src/behaviors/empty.py.json
  packages/engine/tests/units/state/nullable_fixed_size_list/src/init-js.json
  packages/engine/tests/units/state/nullable_fixed_size_list/src/init-py.json
Labels: C-dependencies, A-engine

#365 Exit orchestrator if engine process exits abnormally
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/lib/orchestrator/src/process/mod.rs
Labels: C-enhancement, A-engine

#366 Allow removing parent page links from the setParentPage mutation
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/postgres/client.ts
  packages/hash/api/src/db/postgres/index.ts
  packages/hash/api/src/db/postgres/link/getEntityOutgoingLinks.ts
  packages/hash/api/src/graphql/resolvers/pages/accountPages.ts
  packages/hash/api/src/graphql/resolvers/pages/linkedEntities.ts
  packages/hash/api/src/graphql/resolvers/pages/setParentPage.ts
  packages/hash/api/src/graphql/typeDefs/page.typedef.ts
  packages/hash/api/src/model/page.model.ts
  packages/hash/integration/src/graphql/queries/page.queries.ts
  packages/hash/integration/src/tests/integration.test.ts
Labels: A-hash, api, integration

#368 Remove global styling in frontend
  packages/hash/frontend/styles/Home.module.css
  packages/hash/frontend/styles/globals.scss
Labels: A-hash, frontend

#359 Snowplow integration
  .env
  packages/hash/README.md
  packages/hash/api/README.md
  packages/hash/api/package.json
  packages/hash/api/src/index.ts
  packages/hash/api/src/telemetry/snowplow-setup.ts
  yarn.lock
Labels: C-dependencies, A-hash, api

#358 Update Hash Header
  packages/hash/frontend/.eslintrc.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/assets/svg/lightbulb-on.svg
  packages/hash/frontend/src/components/Link.tsx
  packages/hash/frontend/src/components/LinkButton.tsx
  packages/hash/frontend/src/components/Modals/CreatePage/CreatePageButton.tsx
  packages/hash/frontend/src/components/Modals/CreatePageModal/CreatePage.module.scss
  packages/hash/frontend/src/components/Modals/CreatePageModal/index.tsx
  packages/hash/frontend/src/components/Modals/Modal.tsx
  packages/hash/frontend/src/components/Popover.tsx
  packages/hash/frontend/src/components/icons/HashNavIcon.tsx
  packages/hash/frontend/src/components/icons/SearchIcon.tsx
  packages/hash/frontend/src/components/icons/index.tsx
  packages/hash/frontend/src/components/layout/PageHeader/AccountDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/ActionsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/NotificationsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/PageHeader.tsx
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/DesktopSearch.tsx
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/MobileSearch.tsx
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/index.tsx
  packages/hash/frontend/src/components/layout/PageLayout/PageLayout.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList.tsx
  packages/hash/frontend/src/components/util/muiUtils.tsx
  packages/hash/frontend/src/theme/components/index.ts
  packages/hash/frontend/src/theme/components/inputs/MuiButtonThemeOptions.ts
  packages/hash/frontend/src/theme/components/inputs/MuiIconButtonThemeOptions.ts
  packages/hash/frontend/theme-override.d.ts
  packages/hash/playwright/tests/guest-user.spec.ts
  packages/hash/playwright/tests/page-creation.spec.ts
  packages/hash/playwright/tests/utils/loginUsingUi.ts
  yarn.lock
Labels: C-dependencies, A-hash, frontend, playwright

#370 Make workspace homepage more presentable
  packages/hash/frontend/src/components/hooks/useOrgs.ts
  packages/hash/frontend/src/pages/[accountId]/index.page.tsx
  packages/hash/playwright/tests/utils/loginUsingUi.ts
Labels: A-hash, frontend, playwright

#367 Update HASH Sidebar
  .eslintrc.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/components/Avatar.tsx
  packages/hash/frontend/src/components/BlockContextMenu/BlockLoaderInput.tsx
  packages/hash/frontend/src/components/Button.tsx
  packages/hash/frontend/src/components/ErrorBlock/ErrorBlock.tsx
  packages/hash/frontend/src/components/Link.tsx
  packages/hash/frontend/src/components/LinkButton.tsx
  packages/hash/frontend/src/components/Modals/CreatePageModal.tsx
  packages/hash/frontend/src/components/Modals/CreatePageModal/CreatePage.module.scss
  packages/hash/frontend/src/components/Modals/Modal.tsx
  packages/hash/frontend/src/components/Popover.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaEditor.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertiesTable.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertyRow.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SubSchemaItem.tsx
  packages/hash/frontend/src/components/forms/OldButton.test.tsx
  packages/hash/frontend/src/components/forms/OldButton.tsx
  packages/hash/frontend/src/components/hooks/useAccountPages.ts
  packages/hash/frontend/src/components/icons/SidebarToggleIcon.tsx
  packages/hash/frontend/src/components/icons/index.tsx
  packages/hash/frontend/src/components/layout/MainContentWrapper.tsx
  packages/hash/frontend/src/components/layout/PageHeader/AccountDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/ActionsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/NotificationsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/PageHeader.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/AccountEntityTypeList.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/CreateEntityTypeButton.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/EntityTypeMenu.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/AccountPageList.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/CreatePageButton.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/PageTreeItem.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/NavLink.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/PageSidebar.module.scss
  packages/hash/frontend/src/components/layout/PageSidebar/PageSidebar.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/TopNavLink.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/WorkspaceSwitcher.tsx
  packages/hash/frontend/src/components/layout/SidebarContext.tsx
  packages/hash/frontend/src/graphql/queries/account.queries.ts
  packages/hash/frontend/src/graphql/queries/user.queries.ts
  packages/hash/frontend/src/lib/config.ts
  packages/hash/frontend/src/pages/[accountId]/types/[typeId].page.tsx
  packages/hash/frontend/src/pages/[accountId]/types/new.page.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/index.module.scss
  packages/hash/frontend/src/theme/components/dataDisplay/MuiIconButtonThemeOptions.ts
  packages/hash/frontend/src/theme/components/dataDisplay/MuiTooltipThemeOptions.ts
  packages/hash/frontend/src/theme/components/index.ts
  packages/hash/frontend/src/theme/components/navigation/MuiDrawerThemeOptions.ts
  packages/hash/frontend/src/theme/components/utils/MuiCssBaselineThemeOptions.ts
  packages/hash/frontend/src/theme/palette.ts
  packages/hash/frontend/src/util/muiUtils.ts
  packages/hash/playwright/tests/entity-creation.spec.ts
  packages/hash/playwright/tests/page-creation.spec.ts
  yarn.lock
Labels: C-dependencies, A-hash, frontend, playwright

#373 Fix selecting the type on table block when none is selected
  packages/blocks/table/src/Table.tsx
  packages/blocks/table/src/devRenderer.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/components/EntityEditor/types.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateLinks.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateLinks.ts
  patches/blockprotocol+0.0.1.patch
Labels: A-hash, frontend, A-blocks

#369 Refactor JSON schema validation
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/postgres/client.ts
  packages/hash/api/src/db/postgres/entitytypes.ts
  packages/hash/api/src/db/postgres/index.ts
  packages/hash/api/src/graphql/resolvers/entityType/entityTypeInheritance.ts
  packages/hash/api/src/graphql/resolvers/entityType/updateEntityType.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/lib/schemas/jsonSchema.ts
  packages/hash/api/src/model/entityType.model.ts
  packages/hash/integration/src/mockData/entityTypes.ts
Labels: A-hash, api, integration

#372 Remove redundant `getAggregation` pg utility method
  packages/hash/api/src/db/errors.ts
  packages/hash/api/src/db/index.ts
  packages/hash/api/src/db/postgres/aggregation/updateAggregationOperation.ts
  packages/hash/api/src/db/postgres/aggregation/util.ts
Labels: A-hash, api

#364 Use timestamps instead of an array of `entityVersionId`s to store the source versions of links
  packages/hash/api/datastore/postgres/schema/0000_base.sql
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/postgres/client.ts
  packages/hash/api/src/db/postgres/entity.ts
  packages/hash/api/src/db/postgres/history.ts
  packages/hash/api/src/db/postgres/index.ts
  packages/hash/api/src/db/postgres/link/createLink.ts
  packages/hash/api/src/db/postgres/link/deleteLink.ts
  packages/hash/api/src/db/postgres/link/getEntityOutgoingLinks.ts
  packages/hash/api/src/db/postgres/link/getLink.ts
  packages/hash/api/src/db/postgres/link/util.ts
  packages/hash/api/src/model/entity.model.ts
  packages/hash/api/src/model/link.model.ts
  packages/hash/api/src/model/page.model.ts
  packages/hash/integration/src/graphql/queries/page.queries.ts
  packages/hash/integration/src/tests/integration.test.ts
  packages/hash/integration/src/tests/model/link.model.test.ts
  packages/hash/integration/src/tests/model/page.model.test.ts
Labels: A-hash, api, integration

#378 Fix failing tests on Header-Sidebar feature branch
  packages/hash/frontend/src/testUtils/testUtils.tsx
  packages/hash/playwright/tests/entity-creation.spec.ts
  packages/hash/playwright/tests/guest-user.spec.ts
Labels: A-hash, frontend, playwright

#382 Fix frontend unit tests
  packages/hash/frontend/jest.config.js
  packages/hash/frontend/src/pages/login.test.tsx
  packages/hash/frontend/src/pages/signup.test.tsx
Labels: A-hash, frontend

#387 Renaming affinity to worker_index
  packages/engine/src/datastore/batch/agent.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/table/state/create_remove/action.rs
  packages/engine/src/datastore/table/state/create_remove/batch.rs
  packages/engine/src/datastore/table/state/create_remove/plan.rs
  packages/engine/src/datastore/table/state/create_remove/planner.rs
Labels: A-engine

#383 Refactor EntityTypes getParents
  packages/hash/api/package.json
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/postgres/client.ts
  packages/hash/api/src/db/postgres/entitytypes.ts
  packages/hash/api/src/db/postgres/index.ts
  packages/hash/api/src/graphql/resolvers/entityType/entityTypeInheritance.ts
  packages/hash/api/src/model/entityType.model.ts
  yarn.lock
Labels: C-dependencies, A-hash, api

#385 Fix multiple-group-execution
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/table/pool/agent.rs
  packages/engine/src/datastore/table/pool/message.rs
  packages/engine/src/datastore/table/proxy.rs
  packages/engine/src/datastore/table/state/create_remove/plan.rs
  packages/engine/src/datastore/table/state/mod.rs
  packages/engine/src/datastore/table/state/view.rs
  packages/engine/tests/units/multiple_groups/ageing-agents/experiments.json
  packages/engine/tests/units/multiple_groups/ageing-agents/integration-test.json
  packages/engine/tests/units/multiple_groups/ageing-agents/src/behaviors/age.js
  packages/engine/tests/units/multiple_groups/ageing-agents/src/behaviors/age.js.json
  packages/engine/tests/units/multiple_groups/ageing-agents/src/init.js
  packages/engine/tests/units/multiple_groups/mod.rs
Labels: A-engine

#388 Add nested pages for 'Alice' mock user
  packages/hash/integration/src/mockData/index.ts
Labels: A-hash, integration

#389 Bump Arrow and Flatbuffers
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
Labels: C-dependencies, A-engine

#376 Update MUI Theme Palette
  packages/hash/frontend/src/theme/palette.ts
Labels: A-hash, frontend

#361 Remove unused code in datastore
  packages/engine/src/datastore/arrow/batch_conversion.rs
  packages/engine/src/datastore/arrow/element_conversion.rs
  packages/engine/src/datastore/arrow/message.rs
  packages/engine/src/datastore/arrow/mod.rs
  packages/engine/src/datastore/batch/message.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/error.rs
  packages/engine/src/datastore/ffi/flush.rs
  packages/engine/src/datastore/meta.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/datastore/schema/context.rs
  packages/engine/src/datastore/schema/field_spec/mod.rs
  packages/engine/src/datastore/schema/field_spec/short_json.rs
  packages/engine/src/datastore/schema/mod.rs
  packages/engine/src/datastore/schema/state/mod.rs
  packages/engine/src/datastore/table/context/mod.rs
  packages/engine/src/datastore/table/pool/message.rs
  packages/engine/src/datastore/table/references.rs
  packages/engine/src/datastore/table/state/create_remove/batch.rs
  packages/engine/src/datastore/table/state/create_remove/plan.rs
  packages/engine/src/datastore/table/state/hash_message.rs
  packages/engine/src/datastore/table/state/message.rs
  packages/engine/src/datastore/table/state/mod.rs
  packages/engine/src/datastore/table/task_shared_store.rs
  packages/engine/src/datastore/test_utils.rs
  packages/engine/src/hash_types/message.rs
  packages/engine/src/hash_types/state.rs
  packages/engine/src/simulation/command.rs
  packages/engine/src/simulation/package/context/packages/mod.rs
  packages/engine/src/simulation/package/creator.rs
  packages/engine/src/simulation/package/init/packages/mod.rs
  packages/engine/src/simulation/package/output/packages/mod.rs
  packages/engine/src/simulation/package/state/packages/mod.rs
  packages/engine/src/worker/runner/rust/behaviors/create_agents.rs
  packages/engine/src/worker/runner/rust/neighbor.rs
Labels: A-engine

#350 Update Person Card to match new design
  packages/blocks/person/package.json
  packages/blocks/person/src/App.tsx
  packages/blocks/person/src/icons/LinkIcon.tsx
  packages/blocks/person/src/icons/MailIcon.tsx
  packages/blocks/person/src/index.css
  packages/blocks/person/src/webpack-dev-server.js
  packages/blocks/person/src/webpack-dev-server.tsx
  packages/blocks/person/webpack-dev-server.config.js
  packages/blocks/person/webpack-main.config.js
  yarn.lock
Labels: C-dependencies, A-blocks

#386 Configure lockfile-lint
  .github/workflows/ci.yml
  package.json
  packages/hash/api/package.json
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, api

#392 Fix deadlock when removing a message batch
  packages/engine/src/datastore/table/context/mod.rs
  packages/engine/src/datastore/table/pool/message.rs
  packages/engine/src/datastore/table/pool/mod.rs
  packages/engine/src/datastore/table/state/create_remove/plan.rs
  packages/engine/src/datastore/table/state/mod.rs
Labels: A-engine

#393 Clarifying README
  packages/hash/README.md
Labels: A-hash

#391 Upgrade blockprotocol package and fix types
  packages/blocks/callout/package.json
  packages/blocks/code/package.json
  packages/blocks/code/src/App.tsx
  packages/blocks/divider/package.json
  packages/blocks/divider/src/webpack-dev-server.tsx
  packages/blocks/embed/package.json
  packages/blocks/embed/src/App.tsx
  packages/blocks/embed/src/webpack-dev-server.tsx
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/image/src/components/Media.tsx
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/person/src/webpack-dev-server.tsx
  packages/blocks/table/package.json
  packages/blocks/table/src/Table.tsx
  packages/blocks/table/src/components/Header.tsx
  packages/blocks/table/src/devRenderer.tsx
  packages/blocks/table/src/mockData/mockData.ts
  packages/blocks/table/src/schemas/Company.schema.json
  packages/blocks/table/src/schemas/Location.schema.json
  packages/blocks/table/src/schemas/Person.schema.json
  packages/blocks/table/src/schemas/index.ts
  packages/blocks/video/package.json
  packages/blocks/video/src/components/Media.tsx
  packages/hash/api/package.json
  packages/hash/backend-utils/package.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/createSuggester/BlockSuggester.tsx
  packages/hash/frontend/src/components/BlockContextMenu/SearchView.tsx
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/EntityEditor/EntityEditor.tsx
  packages/hash/frontend/src/components/EntityEditor/EntityFieldLinkEditor.tsx
  packages/hash/frontend/src/components/EntityEditor/EntityLinksEditor.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaEditor.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolAggregateEntities.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateEntitities.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolDeleteLinks.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateEntities.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateLinks.ts
  packages/hash/frontend/src/components/sandbox/BlockFramer/BlockFramer.tsx
  packages/hash/frontend/src/components/sandbox/FramedBlock/FramedBlock.tsx
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[accountId]/types/[typeId].page.tsx
  packages/hash/shared/package.json
  packages/hash/shared/src/blockMeta.ts
  patches/blockprotocol+0.0.1.patch
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend, A-blocks

#398 Feed block externals from peer dependencies
  packages/blocks/callout/package.json
  packages/blocks/callout/webpack-block-meta-plugin.js
  packages/blocks/callout/webpack-main.config.js
  packages/blocks/code/package.json
  packages/blocks/code/webpack-block-meta-plugin.js
  packages/blocks/code/webpack-main.config.js
  packages/blocks/divider/package.json
  packages/blocks/divider/webpack-block-meta-plugin.js
  packages/blocks/divider/webpack-main.config.js
  packages/blocks/embed/package.json
  packages/blocks/embed/webpack-block-meta-plugin.js
  packages/blocks/embed/webpack-main.config.js
  packages/blocks/header/package.json
  packages/blocks/header/webpack-block-meta-plugin.js
  packages/blocks/header/webpack-main.config.js
  packages/blocks/image/package.json
  packages/blocks/image/webpack-block-meta-plugin.js
  packages/blocks/image/webpack-main.config.js
  packages/blocks/paragraph/package.json
  packages/blocks/paragraph/webpack-block-meta-plugin.js
  packages/blocks/paragraph/webpack-main.config.js
  packages/blocks/person/package.json
  packages/blocks/person/webpack-block-meta-plugin.js
  packages/blocks/person/webpack-main.config.js
  packages/blocks/table/package.json
  packages/blocks/table/webpack-block-meta-plugin.js
  packages/blocks/table/webpack-main.config.js
  packages/blocks/video/package.json
  packages/blocks/video/webpack-block-meta-plugin.js
  packages/blocks/video/webpack-main.config.js
Labels: A-blocks

#399 Fix caption visibility in the code block
  packages/blocks/code/src/App.tsx
Labels: A-blocks

#402 Tweak PR template
  .github/pull_request_template.md
Labels: A-infra

#396 Make react/no-danger an error
  packages/blocks/.eslintrc.js
  packages/blocks/person/src/App.tsx
Labels: A-blocks

#404 Fix code block when caption is undefined
  packages/blocks/code/src/App.tsx
  packages/blocks/code/src/webpack-dev-server.js
Labels: A-blocks

#384 Add button styles for HASH workspace
  .eslintrc.json
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/components/Avatar.tsx
  packages/hash/frontend/src/components/BlockContextMenu/BlockLoaderInput.tsx
  packages/hash/frontend/src/components/Button.tsx
  packages/hash/frontend/src/components/Dropdowns/VersionDropdown.tsx
  packages/hash/frontend/src/components/ErrorBlock/ErrorBlock.tsx
  packages/hash/frontend/src/components/IconButton.tsx
  packages/hash/frontend/src/components/Link.tsx
  packages/hash/frontend/src/components/LinkButton.tsx
  packages/hash/frontend/src/components/LoadingSpinner.tsx
  packages/hash/frontend/src/components/Modals/CreatePageModal.tsx
  packages/hash/frontend/src/components/SubmitButtonWrapper.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaEditor.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertiesTable.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertyRow.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SubSchemaItem.tsx
  packages/hash/frontend/src/components/forms/OldButton.test.tsx
  packages/hash/frontend/src/components/forms/OldButton.tsx
  packages/hash/frontend/src/components/icons/FontAwesomeIcon.tsx
  packages/hash/frontend/src/components/icons/SidebarToggleIcon.tsx
  packages/hash/frontend/src/components/icons/index.tsx
  packages/hash/frontend/src/components/layout/MainContentWrapper.tsx
  packages/hash/frontend/src/components/layout/PageHeader/AccountDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/ActionsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/NotificationsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/DesktopSearch.tsx
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/MobileSearch.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/AccountEntityTypeList.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/CreateEntityTypeButton.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/EntityTypeMenu.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/AccountPageList.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/CreatePageButton.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/PageTreeItem.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountSelect.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/NavLink.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/PageSidebar.module.scss
  packages/hash/frontend/src/components/layout/PageSidebar/PageSidebar.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/TopNavLink.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/WorkspaceSwitcher.tsx
  packages/hash/frontend/src/pages/[accountId]/index.page.tsx
  packages/hash/frontend/src/pages/[accountId]/types/[typeId].page.tsx
  packages/hash/frontend/src/pages/[accountId]/types/new.page.tsx
  packages/hash/frontend/src/theme/components/dataDisplay/MuiIconButtonThemeOptions.ts
  packages/hash/frontend/src/theme/components/dataDisplay/MuiListItemButtonThemeOptions.ts
  packages/hash/frontend/src/theme/components/index.ts
  packages/hash/frontend/src/theme/components/inputs/MuiButtonThemeOptions.ts
  packages/hash/frontend/src/theme/components/utils/MuiCssBaselineThemeOptions.ts
  packages/hash/frontend/src/theme/index.ts
  packages/hash/frontend/src/theme/shadows.ts
  packages/hash/frontend/src/theme/typography.ts
  packages/hash/frontend/styles/globals.scss
  packages/hash/frontend/theme-override.d.ts
Labels: A-hash, frontend

#405 Apply review suggestions to #381
  packages/engine/src/datastore/arrow/batch_conversion.rs
  packages/engine/src/datastore/batch/agent.rs
  packages/engine/src/datastore/batch/change.rs
  packages/engine/src/datastore/batch/context.rs
  packages/engine/src/datastore/batch/dataset.rs
  packages/engine/src/datastore/batch/flush.rs
  packages/engine/src/datastore/batch/iterators.rs
  packages/engine/src/datastore/batch/message.rs
  packages/engine/src/datastore/batch/metaversion.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/batch/mod.rs
  packages/engine/src/datastore/ffi/flush.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/datastore/storage/memory.rs
  packages/engine/src/datastore/storage/visitor.rs
  packages/engine/src/datastore/table/context/mod.rs
  packages/engine/src/datastore/table/pool/agent.rs
  packages/engine/src/datastore/table/pool/message.rs
  packages/engine/src/datastore/table/proxy.rs
  packages/engine/src/datastore/table/state/create_remove/batch.rs
  packages/engine/src/datastore/table/state/create_remove/plan.rs
  packages/engine/src/simulation/package/output/packages/json_state/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/chain.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/config.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/mod.rs
  packages/engine/src/simulation/package/state/packages/topology/mod.rs
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/src/worker/runner/python/batch.py
  packages/engine/src/worker/runner/python/fbs.rs
  packages/engine/src/worker/runner/python/sender.rs
  packages/engine/src/worker/runner/rust/behaviors/accessors.rs
Labels: A-engine

#375 Merge Search components for better DOM reuse.
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/DesktopSearch.tsx
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/MobileSearch.tsx
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/SearchInput.tsx
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/index.tsx
  packages/hash/frontend/src/theme/components/index.ts
  packages/hash/frontend/src/theme/components/inputs/MuiOutlinedInputThemeOptions.ts
Labels: A-hash, frontend

#406 Fixing copy and example in Hello HASH tutorial
  resources/docs/simulation/tutorials/hello-hash.md
Labels: A-learn

#408 Consistently name variables referring to account IDs, more consistent use of PascalCase
  packages/hash/api/datastore/postgres/schema/0000_base.sql
  packages/hash/api/datastore/postgres/schema/0004_system_account.ts
  packages/hash/api/datastore/postgres/schema/0005_system_types.ts
  packages/hash/api/src/auth/index.ts
  packages/hash/api/src/auth/passport/index.ts
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/cron.ts
  packages/hash/api/src/db/index.ts
  packages/hash/api/src/db/postgres/aggregation/createAggregation.ts
  packages/hash/api/src/db/postgres/aggregation/getEntityAggregation.ts
  packages/hash/api/src/db/postgres/aggregation/getEntityAggregations.ts
  packages/hash/api/src/db/postgres/aggregation/updateAggregationOperation.ts
  packages/hash/api/src/db/postgres/aggregation/util.ts
  packages/hash/api/src/db/postgres/client.ts
  packages/hash/api/src/db/postgres/entity.ts
  packages/hash/api/src/db/postgres/entitytypes.ts
  packages/hash/api/src/db/postgres/history.ts
  packages/hash/api/src/db/postgres/index.ts
  packages/hash/api/src/db/postgres/link/createLink.ts
  packages/hash/api/src/db/postgres/link/deleteLink.ts
  packages/hash/api/src/db/postgres/link/getEntityIncomingLinks.ts
  packages/hash/api/src/db/postgres/link/getEntityOutgoingLinks.ts
  packages/hash/api/src/db/postgres/link/getLink.ts
  packages/hash/api/src/db/postgres/link/sql/link_versions.util.ts
  packages/hash/api/src/db/postgres/link/sql/links.util.ts
  packages/hash/api/src/db/postgres/metadata.ts
  packages/hash/api/src/graphql/context.ts
  packages/hash/api/src/graphql/createApolloServer.ts
  packages/hash/api/src/graphql/resolvers/entity/aggregateEntity.ts
  packages/hash/api/src/graphql/resolvers/entity/impliedHistory.ts
  packages/hash/api/src/graphql/resolvers/entity/linkGroups.ts
  packages/hash/api/src/graphql/resolvers/pages/searchPages.ts
  packages/hash/api/src/graphql/resolvers/user/util.ts
  packages/hash/api/src/model/accessToken.model.ts
  packages/hash/api/src/model/account.model.ts
  packages/hash/api/src/model/aggregation.model.ts
  packages/hash/api/src/model/block.model.ts
  packages/hash/api/src/model/entity.model.ts
  packages/hash/api/src/model/entityType.model.ts
  packages/hash/api/src/model/file.model.ts
  packages/hash/api/src/model/link.model.ts
  packages/hash/api/src/model/org.model.ts
  packages/hash/api/src/model/orgEmailInvitation.model.ts
  packages/hash/api/src/model/orgInvitationLink.model.ts
  packages/hash/api/src/model/orgMembership.model.ts
  packages/hash/api/src/model/page.model.ts
  packages/hash/api/src/model/user.model.ts
  packages/hash/api/src/model/verificationCode.model.ts
  packages/hash/backend-utils/src/pgTables.ts
  packages/hash/integration/src/mockData/accounts.ts
  packages/hash/integration/src/mockData/entityTypes.ts
  packages/hash/search-loader/src/searchLoader.ts
Labels: A-hash, api, integration, search-loader

#381 Track all batch accesses with metaversions
  packages/engine/src/datastore/arrow/batch_conversion.rs
  packages/engine/src/datastore/batch/agent.rs
  packages/engine/src/datastore/batch/change.rs
  packages/engine/src/datastore/batch/context.rs
  packages/engine/src/datastore/batch/dataset.rs
  packages/engine/src/datastore/batch/flush.rs
  packages/engine/src/datastore/batch/iterators.rs
  packages/engine/src/datastore/batch/message.rs
  packages/engine/src/datastore/batch/metaversion.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/batch/mod.rs
  packages/engine/src/datastore/ffi/flush.rs
  packages/engine/src/datastore/ffi/memory.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/datastore/storage/markers.rs
  packages/engine/src/datastore/storage/memory.rs
  packages/engine/src/datastore/storage/visitor.rs
  packages/engine/src/datastore/table/context/mod.rs
  packages/engine/src/datastore/table/pool/agent.rs
  packages/engine/src/datastore/table/pool/message.rs
  packages/engine/src/datastore/table/pool/mod.rs
  packages/engine/src/datastore/table/pool/proxy.rs
  packages/engine/src/datastore/table/proxy.rs
  packages/engine/src/datastore/table/state/create_remove/batch.rs
  packages/engine/src/datastore/table/state/create_remove/plan.rs
  packages/engine/src/datastore/table/sync.rs
  packages/engine/src/hash_types/state.rs
  packages/engine/src/simulation/command.rs
  packages/engine/src/simulation/engine.rs
  packages/engine/src/simulation/package/context/packages/api_requests/mod.rs
  packages/engine/src/simulation/package/context/packages/neighbors/mod.rs
  packages/engine/src/simulation/package/output/packages/analysis/macros.rs
  packages/engine/src/simulation/package/output/packages/json_state/mod.rs
  packages/engine/src/simulation/package/run.rs
  packages/engine/src/simulation/package/state/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/chain.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/config.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/package.py
  packages/engine/src/simulation/package/state/packages/behavior_execution/reset_index_col.rs
  packages/engine/src/simulation/package/state/packages/topology/mod.rs
  packages/engine/src/worker/runner/javascript/batch.js
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/src/worker/runner/python/batch.py
  packages/engine/src/worker/runner/python/fbs.rs
  packages/engine/src/worker/runner/python/sender.rs
  packages/engine/src/worker/runner/python/state.py
  packages/engine/src/worker/runner/rust/behaviors/accessors.rs
  packages/engine/src/worker/runner/rust/behaviors/orient_toward_value.rs
  packages/engine/src/worker/runner/rust/state.rs
Labels: A-engine

#411 Adds LICENSE.md file to `hash` package
  packages/hash/LICENSE.md
Labels: A-hash

#397 Final Header Fixes
  packages/hash/frontend/src/components/IconButton.tsx
  packages/hash/frontend/src/components/layout/MainContentWrapper.tsx
  packages/hash/frontend/src/components/layout/PageHeader/AccountDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/ActionsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/HeaderIconButton.tsx
  packages/hash/frontend/src/components/layout/PageHeader/NotificationsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/PageHeader.tsx
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/SearchInput.tsx
  packages/hash/frontend/src/theme/components/dataDisplay/MuiListItemButtonThemeOptions.ts
  packages/hash/frontend/src/util/muiUtils.ts
  packages/hash/playwright/tests/guest-user.spec.ts
Labels: A-hash, frontend, playwright

#412 Update hash README.md supported node version
  packages/hash/README.md
Labels: A-hash

#418 Disable cancel messages
  packages/engine/src/simulation/task/active.rs
  packages/engine/src/worker/mod.rs
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/src/worker/runner/python/mod.rs
  packages/engine/src/worker/runner/python/sender.rs
  packages/engine/src/workerpool/comms/mod.rs
  packages/engine/src/workerpool/mod.rs
  packages/engine/src/workerpool/pending.rs
Labels: C-enhancement, A-engine

#403 Update link method
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/postgres/client.ts
  packages/hash/api/src/db/postgres/index.ts
  packages/hash/api/src/db/postgres/link/sql/link_versions.util.ts
  packages/hash/api/src/db/postgres/link/updateLink.ts
  packages/hash/api/src/model/entity.model.ts
  packages/hash/api/src/model/link.model.ts
  packages/hash/integration/src/tests/model/link.model.test.ts
Labels: A-hash, api, integration

#420 Enable `empty::array` Python test
  packages/engine/tests/units/state/empty/mod.rs
Labels: A-engine

#425 Mention, that a Python setup is currently always required
  packages/engine/README.md
Labels: C-documentation, A-engine

#421 Move out `nano` to separate crate
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/build.rs
  packages/engine/lib/nano/Cargo.toml
  packages/engine/lib/nano/build.rs
  packages/engine/lib/nano/src/client.rs
  packages/engine/lib/nano/src/error.rs
  packages/engine/lib/nano/src/lib.rs
  packages/engine/lib/nano/src/server.rs
  packages/engine/lib/nano/src/spmc.rs
  packages/engine/lib/orchestrator/Cargo.toml
  packages/engine/lib/orchestrator/src/experiment_server.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/src/env.rs
  packages/engine/src/lib.rs
  packages/engine/src/nano/mod.rs
Labels: C-dependencies, A-engine

#426 Apply pedantic lints to nano-crate
  packages/engine/Cargo.lock
  packages/engine/lib/nano/Cargo.toml
  packages/engine/lib/nano/clippy.toml
  packages/engine/lib/nano/src/client.rs
  packages/engine/lib/nano/src/error.rs
  packages/engine/lib/nano/src/lib.rs
  packages/engine/lib/nano/src/server.rs
  packages/engine/lib/nano/src/spmc.rs
Labels: C-dependencies, A-engine

#427 Apply clippy.toml to other library crates
  packages/engine/lib/clippy.toml
  packages/engine/lib/error/src/ext.rs
  packages/engine/lib/error/src/macros.rs
  packages/engine/lib/provider/src/lib.rs
  packages/engine/lib/provider/src/requisition.rs
Labels: A-engine

#424 Fix resetting state on entity type change. Fix sidebar element positioning
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaEditor.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/schemaEditorReducer.ts
  packages/hash/frontend/src/components/layout/PageSidebar/PageSidebar.tsx
Labels: A-hash, frontend

#407 Cache block-search data
  packages/hash/frontend/src/blocks/blocksMeta.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createSuggester/BlockSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/MentionSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/Suggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/useFilteredBlocks.tsx
  packages/hash/frontend/src/blocks/userBlocks.tsx
  packages/hash/frontend/src/components/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/components/BlockContextMenu/BlockContextMenuUtils.ts
  packages/hash/frontend/src/components/BlockContextMenu/BlockLoaderInput.tsx
  packages/hash/frontend/src/components/BlockContextMenu/NormalView.tsx
  packages/hash/frontend/src/components/BlockContextMenu/SearchView.tsx
  packages/hash/frontend/src/components/hooks/useDefaultState.tsx
  packages/hash/frontend/src/components/icons/WarnIcon.tsx
  packages/hash/frontend/src/pages/[accountId]/[pageEntityId].page.tsx
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
  packages/hash/shared/src/blockMeta.ts
  patches/blockprotocol+0.0.7.patch
Labels: A-hash, frontend

#430 Fix loading blocks by URL
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/useFilteredBlocks.tsx
  packages/hash/frontend/src/components/BlockContextMenu/BlockLoaderInput.tsx
  packages/hash/frontend/src/components/layout/PageHeader/AccountDropdown.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/EntityTypeMenu.tsx
  packages/hash/playwright/tests/page-creation.spec.ts
  packages/hash/playwright/tests/utils/loginUsingUi.ts
  packages/hash/shared/src/entityStorePlugin.ts
Labels: A-hash, frontend, playwright

#413 Fix table block inside the Hash editor
  packages/blocks/image/src/components/Media.tsx
  packages/blocks/table/src/Table.tsx
  packages/blocks/video/src/components/Media.tsx
  packages/hash/api/src/collab/Instance.ts
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/components/EntityEditor/EntityFieldLinkEditor.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateLinks.ts
  packages/hash/frontend/src/components/util/typeUtils.tsx
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
  packages/hash/shared/src/createProseMirrorState.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/queries/link.queries.ts
  patches/blockprotocol+0.0.7.patch
Labels: A-hash, api, frontend, A-blocks

#414 Migrate from using the mini_v8 bindings to Deno's rusty_v8
  .github/workflows/rust.yml
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/README.md
  packages/engine/build.rs
  packages/engine/lib/orchestrator/Cargo.toml
  packages/engine/src/worker/runner/javascript/data_ffi.rs
  packages/engine/src/worker/runner/javascript/error.rs
  packages/engine/src/worker/runner/javascript/mini_v8/LICENSE
  packages/engine/src/worker/runner/javascript/mini_v8/array.rs
  packages/engine/src/worker/runner/javascript/mini_v8/conversion.rs
  packages/engine/src/worker/runner/javascript/mini_v8/error.rs
  packages/engine/src/worker/runner/javascript/mini_v8/ffi.cc
  packages/engine/src/worker/runner/javascript/mini_v8/ffi.rs
  packages/engine/src/worker/runner/javascript/mini_v8/function.rs
  packages/engine/src/worker/runner/javascript/mini_v8/mini_v8.rs
  packages/engine/src/worker/runner/javascript/mini_v8/mod.rs
  packages/engine/src/worker/runner/javascript/mini_v8/object.rs
  packages/engine/src/worker/runner/javascript/mini_v8/string.rs
  packages/engine/src/worker/runner/javascript/mini_v8/tests/array.rs
  packages/engine/src/worker/runner/javascript/mini_v8/tests/conversion.rs
  packages/engine/src/worker/runner/javascript/mini_v8/tests/function.rs
  packages/engine/src/worker/runner/javascript/mini_v8/tests/mini_v8.rs
  packages/engine/src/worker/runner/javascript/mini_v8/tests/mod.rs
  packages/engine/src/worker/runner/javascript/mini_v8/tests/object.rs
  packages/engine/src/worker/runner/javascript/mini_v8/tests/string.rs
  packages/engine/src/worker/runner/javascript/mini_v8/value.rs
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/tests/experiment/mod.rs
Labels: C-dependencies, A-engine, A-infra

#441 Fix false-positive MUI import warnings
  packages/hash/frontend/next.config.js
  packages/hash/frontend/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#439 Add theming proof-of-concept
  packages/hash/frontend/next.config.js
  packages/hash/frontend/src/components/entityTypes/AccountEntityOfTypeList.tsx
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[accountId]/entities/[entity-id].page.tsx
  packages/hash/frontend/src/pages/[accountId]/entities/[entity-id].page/block-based-entity-editor.tsx
  packages/hash/frontend/src/pages/[accountId]/entities/[entity-id].page/entity-properties-block.tsx
  packages/hash/frontend/src/pages/[accountId]/entities/[entity-id].page/local-react-block-container.tsx
  packages/hash/frontend/src/pages/[accountId]/entities/new.page.tsx
  packages/hash/frontend/src/pages/[accountId]/entities/shared/simple-entity-editor.tsx
  packages/hash/frontend/src/pages/[accountId]/entities/shared/simple-entity-editor/entity-field-link-editor.tsx
  packages/hash/frontend/src/pages/[accountId]/entities/shared/simple-entity-editor/entity-links-editor.tsx
  packages/hash/frontend/src/pages/[accountId]/entities/shared/simple-entity-editor/types.ts
  patches/blockprotocol+0.0.7.patch
Labels: A-hash, frontend

#433 Fix production Docker images
  .dockerignore
  packages/hash/api/package.json
  packages/hash/api/src/collab/collabApp.ts
  packages/hash/backend-utils/src/logger.ts
  packages/hash/docker/README.md
  packages/hash/docker/api/prod/Dockerfile
  packages/hash/docker/realtime/prod/Dockerfile
  packages/hash/docker/search-loader/prod/Dockerfile
  packages/hash/realtime/package.json
  packages/hash/search-loader/package.json
  packages/hash/search-loader/src/index.ts
Labels: A-hash, api, search-loader, realtime, docker

#409 HASH Sidebar updates
  .eslintrc.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/Avatar.tsx
  packages/hash/frontend/src/components/IconButton.tsx
  packages/hash/frontend/src/components/Link.tsx
  packages/hash/frontend/src/components/Modals/CreatePageModal.tsx
  packages/hash/frontend/src/components/hooks/useCreatePage.ts
  packages/hash/frontend/src/components/icons/FontAwesomeIcon.tsx
  packages/hash/frontend/src/components/icons/SidebarToggleIcon.tsx
  packages/hash/frontend/src/components/layout/MainContentWrapper.tsx
  packages/hash/frontend/src/components/layout/PageHeader/ActionsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/HeaderIconButton.tsx
  packages/hash/frontend/src/components/layout/PageHeader/NotificationsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/index.tsx
  packages/hash/frontend/src/components/layout/PageLayout/PageLayout.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/AccountEntityTypeList.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/CreateEntityTypeButton.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/EntityTypeItem.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/EntityTypeMenu.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/SortActionsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/AccountPageList.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/CreatePageButton.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/PageMenu.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/PageTreeItem.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/NavLink.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/PageSidebar.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/TopNavLink.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/WorkspaceSwitcher.tsx
  packages/hash/frontend/src/contexts/CurrentWorkspaceContext.tsx
  packages/hash/frontend/src/graphql/queries/page.queries.ts
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/theme/components/dataDisplay/MuiIconButtonThemeOptions.ts
  packages/hash/frontend/src/theme/components/dataDisplay/MuiListItemButtonThemeOptions.ts
  packages/hash/frontend/src/theme/components/dataDisplay/MuiListItemTextThemeOptions.ts
  packages/hash/frontend/src/theme/components/index.ts
  packages/hash/frontend/src/theme/components/inputs/MuiButtonThemeOptions.ts
  packages/hash/frontend/src/theme/components/navigation/MuiDrawerThemeOptions.ts
  packages/hash/frontend/src/theme/components/navigation/MuiMenuItemThemeOptions.ts
  packages/hash/frontend/src/theme/components/navigation/MuiMenuThemeOptions.ts
  packages/hash/frontend/theme-override.d.ts
  packages/hash/playwright/tests/entity-creation.spec.ts
  packages/hash/playwright/tests/page-creation.spec.ts
  yarn.lock
Labels: C-dependencies, A-hash, frontend, playwright

#450 Ns/fin tutorial
  resources/docs/simulation/tutorials/financial-toolbox/README.md
  resources/docs/simulation/tutorials/financial-toolbox/economic-analysis.md
  resources/docs/simulation/tutorials/financial-toolbox/making-trades.md
  resources/docs/simulation/tutorials/financial-toolbox/modeling-a-portfolio.md
  resources/docs/simulation/tutorials/hello-hash.md
  resources/docs/url_map.json
Labels: A-learn

#452 Ns/msg fix
  resources/docs/simulation/creating-simulations/agent-messages/README.md
  resources/docs/simulation/creating-simulations/agent-messages/built-in-message-handlers.md
  resources/docs/simulation/creating-simulations/agent-messages/handling-messages.md
  resources/docs/simulation/creating-simulations/agent-messages/sending-messages.md
Labels: A-learn
