Repository hashintel/hash, pull requests merged in 2022-09, with the labels that each got.

#1009 Add loading state to pages list on the sidebar
  packages/hash/frontend/src/components/PageIcon.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/pages-loading-state.tsx
Labels: A-hash, frontend

#1013 Cleanup `error-stack` `fmt` Instruction to Symbol conversion
  packages/libs/error-stack/src/fmt/mod.rs
Labels: A-error-stack

#1019 Improve usages of streams by using `StreamExt`
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve.rs
Labels: A-backend

#1018 Fix integration tests got broken by `PageTitle` changes
  packages/hash/playwright/package.json
  packages/hash/playwright/tests/entity-creation.spec.ts
  packages/hash/playwright/tests/guest-user.spec.ts
  packages/hash/playwright/tests/page-creation.spec.ts
  packages/hash/playwright/tests/page-readonly-mode.spec.ts
  packages/hash/playwright/tests/utils/get-derived-payload-from-most-recent-email.ts
  packages/hash/playwright/tests/utils/login-using-ui.ts
  packages/hash/playwright/tests/utils/reset-db.ts
  yarn.lock
Labels: C-dependencies, A-hash, playwright

#1021 Add Structural Queries for `LinkType`
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1023 Bump type-system dependency to latest revision
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/hash/api/package.json
  packages/hash/frontend/package.json
  packages/hash/integration/package.json
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend, A-backend

#1022 Add structural queries for `EntityType`
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/ontology.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1025 Make bounds on generics more readable
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/pool.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve.rs
Labels: A-backend

#1026 Split `resolve` module into sub modules
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/context.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/links.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/ontology.rs
Labels: A-backend

#1014 Improve 'add entity to block'
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/components/entityTypes/AccountEntityOfTypeList.tsx
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor/entity-field-link-editor.tsx
  packages/hash/shared/src/blocks.ts
  packages/hash/shared/src/queries/entity.queries.ts
Labels: A-hash, frontend

#1010 Implement loading state for pages
  packages/hash/frontend/src/blocks/page/LoadingView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/PageTitle/PageTitle.tsx
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/components/PageLoadingState.tsx
  packages/hash/frontend/src/components/RemoteBlock/RemoteBlock.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/shared/src/createProseMirrorState.ts
  packages/hash/shared/src/prosemirror.ts
  packages/hash/shared/src/wrapEntitiesPlugin.ts
Labels: A-hash, frontend

#1027 Implement structural queries for `Entity`
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/context.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/knowledge/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/query/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1028 Implement structural queries for `Link`s
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/context.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/links.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query.rs
  packages/graph/hash_graph/lib/graph/src/store/query/knowledge/link.rs
  packages/graph/hash_graph/lib/graph/src/store/query/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/ontology.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#1030 Support links in `Entity` queries
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/context.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/links.rs
Labels: A-backend

#1035 Remove `OutgoingLinks`
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/hash/api/src/model/knowledge/link.model.ts
Labels: A-hash, api, A-backend

#931 Allow reordering of sidebar pages
  packages/hash/api/package.json
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/postgres/link/getEntityIncomingLinks.ts
  packages/hash/api/src/graphql/resolvers/pages/accountPages.ts
  packages/hash/api/src/graphql/resolvers/pages/createPage.ts
  packages/hash/api/src/graphql/resolvers/pages/pageProperties.ts
  packages/hash/api/src/graphql/resolvers/pages/setParentPage.ts
  packages/hash/api/src/graphql/typeDefs/page.typedef.ts
  packages/hash/api/src/model/page.model.ts
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/hooks/useAccountPages.ts
  packages/hash/frontend/src/components/hooks/useArchivePage.ts
  packages/hash/frontend/src/components/hooks/useCreatePage.ts
  packages/hash/frontend/src/components/hooks/useCreateSubPage.ts
  packages/hash/frontend/src/components/hooks/useReorderPage.ts
  packages/hash/frontend/src/graphql/queries/account.queries.ts
  packages/hash/frontend/src/graphql/queries/page.queries.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list-item.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/utils.ts
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/nav-link.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  packages/hash/integration/src/mockData/index.ts
  packages/hash/integration/src/tests/model/page.model.test.ts
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend

#1037 Bump toolchain to `2022-08-27`
  packages/libs/error-stack/README.md
  packages/libs/error-stack/macros/rust-toolchain.toml
  packages/libs/error-stack/rust-toolchain.toml
  packages/libs/error-stack/src/lib.rs
Labels: A-error-stack

#1038 Support `core::error::Error`
  packages/libs/error-stack/src/context.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/macros.rs
Labels: A-error-stack

#1031 Unify `resolve` calls
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/links.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/resolve/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query.rs
Labels: A-backend

#1042 Mention support for `core::error:Error` in CHANGELOG.md
  packages/libs/error-stack/CHANGELOG.md
Labels: A-error-stack

#1032 Remove defer from `error-stack` `Debug` and API cleanup
  packages/libs/error-stack/assets/full.png
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/hook.rs
  packages/libs/error-stack/tests/snapshots/doc/fmt__diagnostics_add.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__diagnostics_add_defer.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__doc.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_cast.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_decrement.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_increment.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_snippet_defer.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_storage.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt_doc_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__fallback.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__alt.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_decr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_defer.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_fallback.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_incr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_multiple.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_provider_diagnostic.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__norm.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace.snap
  packages/libs/error-stack/tests/test_debug.rs
Labels: A-error-stack

#1044 `attach_printable()` attachments now invoke hooks in `error-stack`
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/tests/snapshots/doc/fmt__doc.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt_doc_alt.snap
Labels: A-error-stack

#1034 Move REST endpoints to `POST /<RECORD>/query`
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/query.rs
Labels: A-backend

#1045 Add required components to the `toolchain.toml` of `error-stack`
  packages/libs/error-stack/rust-toolchain.toml
Labels: A-error-stack

#1040 Make all links a collection of links
  packages/graph/clients/typescript/api.ts
  packages/graph/deployment/postgres/init-user-db.sh
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/error.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/links.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/external-services/postgres/init-user-db.sh
  packages/hash/integration/src/tests/model/knowledge/link.model.test.ts
Labels: A-hash, api, integration, A-backend

#1029 Realtime updates
  .env
  packages/hash/api/src/collab/EntityWatcher.ts
  packages/hash/api/src/collab/Instance.ts
  packages/hash/backend-utils/src/pgTables.ts
  packages/hash/backend-utils/src/realtime.ts
  packages/hash/external-services/docker-compose.yml
  packages/hash/external-services/postgres/Dockerfile
  packages/hash/external-services/postgres/init-user-db.sh
  packages/hash/external-services/postgres/postgresql.conf
  packages/hash/realtime/package.json
  packages/hash/realtime/src/index.ts
  packages/hash/search-loader/src/searchLoader.ts
Labels: A-hash, api, search-loader, realtime

#1039 Automate Type URI generation
  packages/graph/README.md
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/bin/hash_graph/src/args.rs
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/update_data_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/update_entity_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/update_link_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/update_property_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/domain_validator.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/hash/api/codegen.yml
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/typeDefs/ontology/data-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/entity-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/link-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/model/knowledge/account.fields.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/backend-utils/src/system.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/ontology-types-shim.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/link-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/property-type.queries.ts
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link.model.test.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/link-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
  packages/hash/integration/src/tests/util.ts
  packages/hash/shared/package.json
  packages/hash/shared/src/graphql/types.ts
Labels: C-dependencies, A-hash, api, integration, frontend, A-backend

#1052 Update references to hEngine across our sites
  packages/README.md
  packages/engine/CONTRIBUTING.md
  packages/engine/README.md
  packages/engine/SECURITY.md
  packages/engine/bin/cli/Cargo.toml
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/docker/README.md
  packages/engine/lib/execution/src/lib.rs
  packages/engine/lib/execution/src/package/mod.rs
  packages/engine/lib/experiment-control/src/environment/args.rs
  packages/engine/lib/memory/src/shared_memory/segment/mod.rs
  packages/engine/tests/integration.rs
  sites/hashai/resources/docs/simulation/creating-simulations/agent-messages/built-in-message-handlers.md
  sites/hashai/resources/docs/simulation/creating-simulations/behaviors/inheritance.md
  sites/hashai/resources/docs/simulation/creating-simulations/configuration/topology/README.md
  sites/hashai/resources/docs/simulation/creating-simulations/datasets/README.md
  sites/hashai/resources/docs/simulation/extra/determinism.md
  sites/hashai/resources/glossary/actor-model.mdx
  sites/hashai/resources/glossary/entities.mdx
  sites/hashdev/src/_pages/blog/2_open-source.mdx
  sites/hashdev/src/_pages/blog/4_announcing-error-stack.mdx
  sites/hashdev/src/components/Footer.tsx
  sites/hashdev/src/pages/index.page.tsx
Labels: A-engine, A-learn

#1057 Add YAML-based issue template for `error-stack`
  .github/ISSUE_TEMPLATE/bug-report-error-stack.md
  .github/ISSUE_TEMPLATE/bug-report-error-stack.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: A-infra

#1058 Proxy get Block Protocol blocks request via Workspace API
  packages/hash/README.md
  packages/hash/api/src/graphql/resolvers/blockprotocol/getBlock.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/typeDefs/blockprotocol.typedef.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/frontend/src/blocks/userBlocks.tsx
  packages/hash/frontend/src/components/hooks/useGetBlockProtocolBlocks.ts
  packages/hash/frontend/src/graphql/queries/block.queries.ts
Labels: A-hash, api, frontend

#1048 Remove dependency on `pin-project`
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/src/ext/future.rs
  packages/libs/error-stack/src/ext/mod.rs
  packages/libs/error-stack/src/ext/stream.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/tests/common.rs
  packages/libs/error-stack/tests/snapshots/test_debug__full__alt.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_decr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_fallback.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_incr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_multiple.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline_ctx.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__norm.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace.snap
  packages/libs/error-stack/tests/test_attach.rs
  packages/libs/error-stack/tests/test_attach_printable.rs
  packages/libs/error-stack/tests/test_change_context.rs
Labels: A-error-stack

#1054 Remove `small` feature
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
Labels: A-error-stack

#1053 Deduplicate frame implementation details
  packages/libs/error-stack/src/frame/frame_impl.rs
  packages/libs/error-stack/src/frame/mod.rs
Labels: A-error-stack

#1033 Allow ShuffleBlock users to pick entities to shuffle
  packages/blocks/calculation/package.json
  packages/blocks/callout/package.json
  packages/blocks/code/package.json
  packages/blocks/countdown/package.json
  packages/blocks/drawing/package.json
  packages/blocks/github-pr-overview/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/shuffle/README.md
  packages/blocks/shuffle/package.json
  packages/blocks/shuffle/src/components/add-entities-dialog.tsx
  packages/blocks/shuffle/src/components/item-list.tsx
  packages/blocks/shuffle/src/components/item.styled.ts
  packages/blocks/shuffle/src/components/item.tsx
  packages/blocks/shuffle/src/components/tooltip-button.tsx
  packages/blocks/shuffle/src/dev.tsx
  packages/blocks/shuffle/src/shuffle.tsx
  packages/blocks/shuffle/src/utils.ts
  packages/blocks/table/package.json
  packages/blocks/timer/package.json
  packages/blocks/video/package.json
  packages/hash/datastore/postgres/scripts/data/systemTypeSchemas.ts
  packages/hash/frontend/package.json
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#1055 Decrease the memory footprint of `Report` to a third
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
Labels: A-error-stack

#1059 Implement recursive lookup for ontology types
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1051 Implement recursive queries for property types
  packages/hash/api/src/graphql/resolvers/ontology/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/resolvers/util.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/external-services/docker-compose.yml
Labels: A-hash, api

#1063 Consolidate entityId and accountId for Users/Orgs
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/resolvers/user/util.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/integration/src/tests/model/knowledge/org.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/integration/src/tests/util.ts
Labels: A-hash, api, integration, A-backend

#1049 Remove `IteratorExt` and `StreamExt`
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/build.rs
  packages/libs/error-stack/src/compat/anyhow.rs
  packages/libs/error-stack/src/compat/eyre.rs
  packages/libs/error-stack/src/compat/mod.rs
  packages/libs/error-stack/src/ext/iter.rs
  packages/libs/error-stack/src/ext/mod.rs
  packages/libs/error-stack/src/ext/stream.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/tests/common.rs
  packages/libs/error-stack/tests/snapshots/test_debug__full__alt.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_decr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_fallback.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_incr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_multiple.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline_ctx.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__norm.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace.snap
  packages/libs/error-stack/tests/test_attach.rs
  packages/libs/error-stack/tests/test_attach_printable.rs
  packages/libs/error-stack/tests/test_change_context.rs
Labels: A-error-stack

#1050 Enable `--feature-powerset` for tests
  packages/libs/error-stack/Makefile.toml
  packages/libs/error-stack/src/lib.rs
Labels: A-error-stack

#1064 Forbid unsafe code in the HASH graph
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
Labels: A-backend

#1065 Rename database columns
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/links.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
Labels: A-hash, api, A-backend

#1062 Expose recursive queries for entity types
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/resolvers/util.ts
  packages/hash/api/src/graphql/typeDefs/ontology/entity-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
Labels: A-hash, api

#1067 Bump toolchain to `nightly-2022-09-15`
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/logging/init.rs
  packages/graph/hash_graph/lib/graph/src/store/pool.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/links.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/rust-toolchain.toml
Labels: A-backend

#1066 Support returning referenced ontology types for entities
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#1069 Replace `"uri"` with `"baseUri"` and `"versionedUri"` in queries
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/query.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
Labels: A-hash, api, A-backend

#1071 Make reference variable names consistent
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
Labels: A-backend

#1072 Implement recursive lookups for entities
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#1073 Remove duplicated code from recursing logic
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
Labels: A-backend

#1068 Implement `OrgMembershipModel` class
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/graphql/resolvers/org/createOrg.ts
  packages/hash/api/src/graphql/resolvers/org/util.ts
  packages/hash/api/src/graphql/resolvers/user/joinOrg.ts
  packages/hash/api/src/graphql/resolvers/user/util.ts
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/orgMembership.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/link-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
  packages/hash/integration/src/tests/util.ts
Labels: A-hash, api, integration

#1074 Support links to be returned from queries
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
Labels: A-hash, api, A-backend

#1076 Upgrade @blockprotocol dependencies
  packages/blocks/callout/package.json
  packages/blocks/header/package.json
  packages/blocks/paragraph/package.json
  packages/hash/api/package.json
  packages/hash/backend-utils/package.json
  packages/hash/frontend/package.json
  packages/hash/shared/package.json
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend, A-blocks

#1075 Add VMASC sensitivity analysis tutorial
  sites/hashdev/package.json
  sites/hashdev/public/blog/8_sensitivity-assessor/8_sensitivity_assessor.jpg
  sites/hashdev/public/blog/8_sensitivity-assessor/8_sensitivity_assessor_uncompressed.jpg
  sites/hashdev/public/blog/8_sensitivity-assessor/README.md
  sites/hashdev/public/blog/8_sensitivity-assessor/equation-1.png
  sites/hashdev/public/blog/8_sensitivity-assessor/equation-2.png
  sites/hashdev/public/blog/8_sensitivity-assessor/equation-3.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-10_sensitivity-assessment-table.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-11_converting-from-hash-to-sa.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-12_hash-output-sa-format.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-1_simulation-init-state.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-2_simulation-step-15.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-3_simulation-step-30.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-4_plot-view.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-5_eda-capabilities.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-6_verifying-requirements.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-7_understanding-quantification-sensitivity-assessments.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-8_understanding-likelihood-1.png
  sites/hashdev/public/blog/8_sensitivity-assessor/figure-9_understanding-likelihood-2.png
  sites/hashdev/public/blog/8_sensitivity-assessor/ross-gore.png
  sites/hashdev/src/_pages/blog/8_sensitivity-assessor.mdx
  yarn.lock
Labels: C-dependencies

#1077 Workspace integration test improvements
  .env
  .github/workflows/ci.yml
  package.json
  packages/hash/external-services/docker-compose.test.yml
  packages/hash/external-services/docker-compose.yml
  packages/hash/integration/jest.config.js
  packages/hash/integration/src/tests/model/knowledge/org.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/integration/src/tests/util.ts
  packages/hash/realtime/src/index.ts
Labels: A-hash, A-infra, integration, realtime

#1080 Implement `BlockModel` class
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/knowledge/block.model.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
Labels: A-hash, api, integration

#1083 `LinkModel` class improved fields & methods
  packages/hash/api/src/model/knowledge/block.model.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/integration/src/tests/model/knowledge/link.model.test.ts
Labels: A-hash, api, integration

#1084 Add link ordering argument for link insertion
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/links.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1085 Fix suggester scrolling with arrow keys
  packages/hash/frontend/src/blocks/page/createSuggester/Suggester.tsx
Labels: A-hash, frontend

#1082 Add 'for update' citus TODO
  packages/hash/realtime/src/index.ts
Labels: A-hash, realtime

#1097 Collect queries before filtering
  .env
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
Labels: A-backend

#1087 Add GQL type `KnowledgeEntity` to replace `Entity`
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/realtime/src/index.ts
Labels: A-hash, api, realtime

#1098 Test 1.65-beta channel
  .github/scripts/rust/setup.py
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/hook.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/tests/common.rs
  packages/libs/error-stack/tests/snapshots/doc/fmt__diagnostics_add.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__doc.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_cast.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_decrement.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_increment.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_storage.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt_doc_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook_provide.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__fallback.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__fallback_context.snap
  packages/libs/error-stack/tests/snapshots/doc/lib__suggestion.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__alt.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_decr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_fallback.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_incr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_multiple.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline_ctx.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__norm.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace.snap
  packages/libs/error-stack/tests/test_backtrace.rs
  packages/libs/error-stack/tests/test_debug.rs
Labels: A-infra, A-error-stack

#1099 Test optional dependencies from `cargo make`
  packages/libs/error-stack/Makefile.toml
  packages/libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline_ctx.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  packages/libs/error-stack/tests/test_compatibility.rs
  packages/libs/error-stack/tests/test_debug.rs
Labels: A-error-stack

#1107 Support comparing with `null`
  packages/graph/hash_graph/lib/graph/src/store/query.rs
Labels: A-backend

#1095 Disable `PageIcon`, `InsertBlock` & `PageTitle` on readonly mode
  packages/hash/frontend/src/blocks/page/InsertBlock.tsx
  packages/hash/frontend/src/blocks/page/PageTitle/PageTitle.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
Labels: A-hash, frontend

#1101 Update `demo.rs` to include related errors
  packages/libs/error-stack/README.md
  packages/libs/error-stack/examples/demo.rs
Labels: A-error-stack

#1081 Implement `PageModel` class
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/knowledge/block.model.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/orgMembership.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/page.model.test.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/link-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
Labels: A-hash, api, integration

#1108 Show tooltip with full page title on hover in sidebar
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
Labels: A-hash, frontend

#1089 Re-implement `createEntityWithLinks`
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
Labels: A-hash, api, integration

#1109 Bump error-stack toolchain to 2022-09-27
  packages/libs/error-stack/README.md
  packages/libs/error-stack/macros/rust-toolchain.toml
  packages/libs/error-stack/rust-toolchain.toml
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/hook.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/tests/common.rs
Labels: A-error-stack

#1106 Support `ownedById` in queries
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/resolve.rs
Labels: A-backend

#1111 Remove deprecated examples
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/examples/json_output.rs
Labels: A-error-stack

#1100 Allow links to be constrained to multiple entity types
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/entity_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/update_entity_type.json
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/resolve.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/hash_graph/tests/test_data/src/entity_type/block.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/book.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/building.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/page_v2.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/person.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/playlist.json
  packages/hash/api/package.json
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/model/util.ts
  packages/hash/frontend/package.json
  packages/hash/integration/package.json
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/shared/package.json
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend, A-backend

#1103 Remove fallback hook
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/hook.rs
  packages/libs/error-stack/tests/snapshots/doc/fmt__doc.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt_doc_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__fallback.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__fallback_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_fallback.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  packages/libs/error-stack/tests/test_debug.rs
Labels: A-error-stack

#1110 Bump toolchain to 2022-09-27
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/logging/args.rs
  packages/graph/hash_graph/lib/graph/src/logging/init.rs
  packages/graph/hash_graph/lib/graph/src/store/query.rs
  packages/graph/hash_graph/rust-toolchain.toml
Labels: A-backend

#1088 Prevent sidebar pages auto-collapsing when navigating home
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
Labels: A-hash, frontend

#1060 Introduce ability to create block-level comments
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/graphql/resolvers/comments/createComment.ts
  packages/hash/api/src/graphql/resolvers/comments/index.ts
  packages/hash/api/src/graphql/resolvers/comments/linkedEntities.ts
  packages/hash/api/src/graphql/resolvers/comments/textUpdatedAt.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/typeDefs/comment.typedef.ts
  packages/hash/api/src/graphql/typeDefs/entityType.typedef.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/model/comment.model.ts
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/types/entityTypes.ts
  packages/hash/datastore/postgres/scripts/data/generatedIds.json
  packages/hash/datastore/postgres/scripts/data/systemTypeSchemas.ts
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentButton.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentTextField.tsx
  packages/hash/frontend/src/blocks/page/Comments/commentPlaceholderPlugin.tsx
  packages/hash/frontend/src/blocks/page/Comments/style.module.css
  packages/hash/frontend/src/blocks/page/MentionView/MentionNodeView.ts
  packages/hash/frontend/src/blocks/page/MentionView/MentionView.tsx
  packages/hash/frontend/src/blocks/page/clipboardTextSerializer.ts
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createFormatPlugins/index.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/util.ts
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/blocks/page/createTextEditorView.ts
  packages/hash/frontend/src/blocks/page/style.module.css
  packages/hash/frontend/src/components/hooks/useArchivePage.ts
  packages/hash/frontend/src/components/hooks/useCreateComment.ts
  packages/hash/frontend/src/components/hooks/useCreatePage.ts
  packages/hash/frontend/src/components/hooks/useCreateSubPage.ts
  packages/hash/frontend/src/components/hooks/useReorderPage.ts
  packages/hash/frontend/src/graphql/queries/comment.queries.ts
  packages/hash/integration/src/tests/model/comment.model.test.ts
  packages/hash/shared/src/createProseMirrorState.ts
  packages/hash/shared/src/graphql/createApolloClient.ts
  packages/hash/shared/src/prosemirror.ts
Labels: A-hash, api, integration, frontend

#1112 Use `--all-targets` in clippy and miri
  .github/scripts/rust/Makefile.toml
  packages/libs/error-stack/Makefile.toml
Labels: A-infra, A-error-stack

#1114 Revisit documentation of `error-stack`
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/lib.rs
Labels: A-error-stack

#1116 Imply `std` feature when enabling `eyre`
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/src/compat/eyre.rs
  packages/libs/error-stack/tests/compiletest.rs
  packages/libs/error-stack/tests/test_compatibility.rs
Labels: A-error-stack

#1115 Determine whether link is `ordered` using its source entity type schema
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
Labels: A-hash, api, integration

#1119 Remove intermediate context for compatibility module
  packages/libs/error-stack/src/compat/anyhow.rs
  packages/libs/error-stack/src/compat/eyre.rs
  packages/libs/error-stack/src/compat/mod.rs
  packages/libs/error-stack/src/frame/frame_impl.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/tests/test_compatibility.rs
Labels: A-error-stack

#1117 Improve documentation for error-stack
  packages/libs/error-stack/src/compat/mod.rs
  packages/libs/error-stack/src/ext/result.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/frame/mod.rs
  packages/libs/error-stack/src/hook.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
Labels: A-error-stack

#1120 Make test and docs for `Frames` more readable
  packages/libs/error-stack/src/iter.rs
  packages/libs/error-stack/tests/test_iter.rs
Labels: A-error-stack

#1124 Aliased accountId
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/block.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/page.typedef.ts
Labels: A-hash, api

#1121 Lift dependency version of `owo-colors`
  packages/libs/error-stack/Cargo.toml
Labels: A-error-stack

#1125 Cleanup Makefile
  .github/scripts/rust/Makefile.toml
  packages/graph/Makefile.toml
  packages/graph/hash_graph/Makefile.toml
  packages/libs/error-stack/Makefile.toml
Labels: A-infra, A-error-stack, A-backend

#1126 Cleanup Makefile
  .github/scripts/rust/Makefile.toml
  packages/engine/Makefile.toml
  packages/libs/error-stack/Makefile.toml
Labels: A-engine, A-infra, A-error-stack

#1127 Reorder changelog by importance
  packages/libs/error-stack/CHANGELOG.md
Labels: A-error-stack

#1123 Introduce Graph benchmarking foundations
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/Cargo.toml
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/bench/Cargo.toml
  packages/graph/hash_graph/bench/benches/entry.rs
  packages/graph/hash_graph/bench/benches/read_scaling/mod.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/mod.rs
  packages/graph/hash_graph/bench/benches/representative_read/mod.rs
  packages/graph/hash_graph/bench/benches/representative_read/ontology/mod.rs
  packages/graph/hash_graph/bench/benches/util.rs
  packages/graph/hash_graph/bench/benches/writes/mod.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: C-dependencies, A-backend

#1128 Fix Changelog link
  packages/libs/error-stack/CHANGELOG.md
Labels: A-error-stack

#1129 Deprecate usage of `accountId` in new model classes
  packages/hash/api/src/auth/seed-dev-users.ts
  packages/hash/api/src/graphql/resolvers/entity/updateEntity.ts
  packages/hash/api/src/graphql/resolvers/entityType/createEntityType.ts
  packages/hash/api/src/graphql/resolvers/entityType/updateEntityType.ts
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-actions.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-contents.ts
  packages/hash/api/src/graphql/resolvers/link/createLink.ts
  packages/hash/api/src/graphql/resolvers/link/deleteLink.ts
  packages/hash/api/src/graphql/resolvers/linkedAggregation/deleteLinkedAggregation.ts
  packages/hash/api/src/graphql/resolvers/linkedAggregation/updateLinkedAggregationOperation.ts
  packages/hash/api/src/graphql/resolvers/middlewares/canAccessAccount.ts
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/resolvers/pages/setParentPage.ts
  packages/hash/api/src/graphql/resolvers/pages/updatePage.ts
  packages/hash/api/src/graphql/resolvers/pages/updatePageContents.ts
  packages/hash/api/src/graphql/resolvers/taskExecutor/index.ts
  packages/hash/api/src/graphql/resolvers/user/accountSignupComplete.ts
  packages/hash/api/src/graphql/resolvers/user/linkedEntities.ts
  packages/hash/api/src/graphql/resolvers/user/updateUser.ts
  packages/hash/api/src/graphql/typeDefs/ontology/data-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/entity-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/link-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/api/src/model/knowledge/block.model.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/ontology/util.ts
  packages/hash/api/src/model/util.ts
  packages/hash/api/src/task-execution/index.ts
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/org.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/orgMembership.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/page.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/link-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
  packages/hash/integration/src/tests/util.ts
Labels: A-hash, api, integration

#1130 Use `ownedById` in GQL ontology mutations
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/typeDefs/ontology/entity-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/link-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreateLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreatePropertyType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdateLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdatePropertyType.ts
  packages/hash/frontend/src/graphql/queries/ontology/data-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/link-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/property-type.queries.ts
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
Labels: A-hash, api, frontend

#1133 `knowledgePage` GQL query
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/page.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/page.typedef.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
Labels: A-hash, api

#1134 Replace `*VersionedUri` with `*Id` for ontology types
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/typeDefs/ontology/data-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/entity-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/link-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/ontology-types-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreateLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreatePropertyType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdateLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdatePropertyType.ts
  packages/hash/frontend/src/graphql/queries/ontology/data-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/link-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/property-type.queries.ts
Labels: A-hash, api, frontend

#1135 `knowledgeBlocks` GQL query
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/block/block.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/block.typedef.ts
Labels: A-hash, api

#1118 Right-clicking on sidebar elements launches their context menu
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
Labels: A-hash, frontend

#1104 Enable margin-clicking to focus on nearby blocks
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/components/PageLoadingState.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/playwright/tests/page-creation.spec.ts
  packages/hash/playwright/tests/page-readonly-mode.spec.ts
Labels: A-hash, frontend, playwright

#1132 Improve Graph Snapshot for Benchmarks
  .github/scripts/rust/Makefile.toml
  packages/graph/README.md
  packages/graph/hash_graph/bench/benches/representative_read/mod.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/bench/benches/util.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/test_data/src/entity_type/mod.rs
  packages/graph/hash_graph/tests/test_data/src/entity_type/uk_address.json
  packages/graph/hash_graph/tests/test_data/src/link_type/located_at.json
  packages/graph/hash_graph/tests/test_data/src/link_type/mod.rs
  packages/graph/hash_graph/tests/test_data/src/link_type/tenant.json
  packages/graph/hash_graph/tests/test_data/src/property_type/address_line_1.json
  packages/graph/hash_graph/tests/test_data/src/property_type/blurb.json
  packages/graph/hash_graph/tests/test_data/src/property_type/city.json
  packages/graph/hash_graph/tests/test_data/src/property_type/contact_information.json
  packages/graph/hash_graph/tests/test_data/src/property_type/email.json
  packages/graph/hash_graph/tests/test_data/src/property_type/favorite_film.json
  packages/graph/hash_graph/tests/test_data/src/property_type/favorite_song.json
  packages/graph/hash_graph/tests/test_data/src/property_type/hobby.json
  packages/graph/hash_graph/tests/test_data/src/property_type/interests.json
  packages/graph/hash_graph/tests/test_data/src/property_type/mod.rs
  packages/graph/hash_graph/tests/test_data/src/property_type/phone_number.json
  packages/graph/hash_graph/tests/test_data/src/property_type/postcode.json
  packages/graph/hash_graph/tests/test_data/src/property_type/published_on.json
Labels: A-infra, A-backend

#1138 Remove unused features
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/Makefile.toml
  packages/libs/error-stack/build.rs
  packages/libs/error-stack/src/fmt/hook.rs
Labels: A-error-stack

#1139 Fix casing in demo
  packages/libs/error-stack/README.md
  packages/libs/error-stack/assets/full.png
  packages/libs/error-stack/examples/demo.rs
Labels: A-error-stack

#1137 Benchmark query entity type
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/mod.rs
  packages/graph/hash_graph/bench/benches/representative_read/ontology/entity_type.rs
  packages/graph/hash_graph/bench/benches/representative_read/ontology/mod.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
Labels: A-backend
