Repository hashintel/hash, pull requests merged in 2022-04, with the labels that each got.

#453 Configure ESLint rules for shared folders, bump ESLint deps
  .eslintrc.json
  packages/blocks/callout/package.json
  packages/blocks/code/package.json
  packages/blocks/divider/package.json
  packages/blocks/embed/package.json
  packages/blocks/header/package.json
  packages/blocks/html-para/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/table/package.json
  packages/blocks/video/package.json
  packages/hash/README.md
  packages/hash/api/package.json
  packages/hash/frontend/.eslintrc.json
  packages/hash/frontend/package.json
  packages/hash/integration/package.json
  packages/hash/shared/package.json
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend, A-blocks

#437 Move router out of BlockLoader
  packages/hash/frontend/src/blocks/onBlockLoaded.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/components/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar/index.tsx
Labels: A-hash, frontend

#449 Normalize URLs and better error handling when loading remote blocks
  packages/hash/frontend/src/blocks/userBlocks.tsx
  packages/hash/frontend/src/components/BlockContextMenu/BlockLoaderInput.tsx
  packages/hash/shared/src/blockMeta.ts
Labels: A-hash, frontend

#451 Replace blockPaths map with a defaultBlocks array
  packages/hash/frontend/src/pages/[accountId]/[pageEntityId].page.tsx
  packages/hash/shared/src/blockPaths.json
  packages/hash/shared/src/defaultBlocks.ts
  packages/hash/shared/src/paths.ts
Labels: A-hash, frontend

#463 Stick rusty_v8 version
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
Labels: C-dependencies, A-engine

#444 Remove `common` crate and use `MemoryId` rather than `ExperimentId`
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/lib/common/Cargo.toml
  packages/engine/lib/common/src/lib.rs
  packages/engine/lib/memory/Cargo.toml
  packages/engine/lib/memory/src/arrow/mod.rs
  packages/engine/lib/memory/src/lib.rs
  packages/engine/lib/memory/src/shared_memory/mod.rs
  packages/engine/lib/memory/src/shared_memory/shared_memory.rs
  packages/engine/src/datastore/batch/agent.rs
  packages/engine/src/datastore/batch/context.rs
  packages/engine/src/datastore/batch/dataset.rs
  packages/engine/src/datastore/batch/message.rs
  packages/engine/src/output/buffer/util.rs
  packages/engine/src/output/error.rs
  packages/engine/src/proto.rs
Labels: C-dependencies, A-engine

#447 Merge `Memory` into `Segment`
  packages/engine/lib/memory/src/arrow/batch.rs
  packages/engine/lib/memory/src/arrow/ffi/flush.rs
  packages/engine/lib/memory/src/arrow/ffi/mod.rs
  packages/engine/lib/memory/src/arrow/flush.rs
  packages/engine/lib/memory/src/arrow/load.rs
  packages/engine/lib/memory/src/lib.rs
  packages/engine/lib/memory/src/shared_memory/ffi.rs
  packages/engine/lib/memory/src/shared_memory/metaversion.rs
  packages/engine/lib/memory/src/shared_memory/mod.rs
  packages/engine/lib/memory/src/shared_memory/ptr.rs
  packages/engine/lib/memory/src/shared_memory/segment.rs
  packages/engine/lib/memory/src/shared_memory/shared_memory.rs
  packages/engine/lib/memory/src/shared_memory/visitor.rs
  packages/engine/src/datastore/batch/agent.rs
  packages/engine/src/datastore/batch/context.rs
  packages/engine/src/datastore/batch/dataset.rs
  packages/engine/src/datastore/batch/message.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/datastore/table/context/mod.rs
  packages/engine/src/datastore/table/state/create_remove/plan.rs
  packages/engine/src/output/buffer/util.rs
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/src/worker/runner/python/fbs.rs
Labels: A-engine

#456 Standardize extraction of account id and page id from route
  packages/hash/frontend/.eslintrc.json
  packages/hash/frontend/src/components/layout/PageHeader/ActionsDropdown.tsx
  packages/hash/frontend/src/components/layout/PageHeader/PageHeader.tsx
  packages/hash/frontend/src/components/layout/PageLayout/PageLayout.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/AccountPageList.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/PageMenu.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/PageSidebar.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/WorkspaceSwitcher.tsx
  packages/hash/frontend/src/contexts/CurrentWorkspaceContext.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/block-based-entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-properties-block.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/local-react-block-container.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/new.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor/entity-field-link-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor/entity-links-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor/types.ts
  packages/hash/frontend/src/pages/[account-slug]/index.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/[type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new.page.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/shared/routing.ts
  packages/hash/frontend/src/shared/routing/route-account-info.tsx
  packages/hash/frontend/src/shared/routing/route-page-info.tsx
  packages/hash/playwright/tests/guest-user.spec.ts
Labels: A-hash, frontend, playwright

#461 Remove unnecessary `"repository"` fields from `package.json`
  packages/hash/api/package.json
  packages/hash/datastore/package.json
  packages/hash/integration/package.json
  packages/hash/realtime/package.json
  packages/hash/search-loader/package.json
Labels: A-hash, api, integration, search-loader, realtime

#462 Fix calculation of aggregation `pageCount`
  packages/blocks/table/src/Table.tsx
  packages/hash/api/src/model/aggregation.model.ts
  packages/hash/shared/src/queries/entity.queries.ts
Labels: A-hash, api, A-blocks

#448 Add Input styles
  packages/hash/frontend/src/components/layout/MainContentWrapper.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountEntityTypeList/EntityTypeItem.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/AccountPageList/PageTreeItem.tsx
  packages/hash/frontend/src/components/layout/PageSidebar/NavLink.tsx
  packages/hash/frontend/src/pages/playground.page.tsx
  packages/hash/frontend/src/shared/ui.ts
  packages/hash/frontend/src/shared/ui/form-inline.tsx
  packages/hash/frontend/src/shared/ui/text-field.tsx
  packages/hash/frontend/src/shared/ui/theme/components.ts
  packages/hash/frontend/src/shared/ui/theme/components/inputs.ts
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-checkbox-theme-options.tsx
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-checkbox-theme-options/checkbox-blank-icon.tsx
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-checkbox-theme-options/checkbox-icon.tsx
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-input-label-theme-options.ts
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-outlined-input-theme-options.ts
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-radio-theme-options.tsx
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-radio-theme-options/radio-checked-icon.tsx
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-radio-theme-options/radio-unchecked-icon.tsx
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-switch-theme-options.ts
  packages/hash/frontend/src/util/muiUtils.ts
  packages/hash/frontend/theme-override.d.ts
Labels: A-hash, frontend

#446 Configure Heap Constraints on V8
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/src/args.rs
  packages/engine/src/config/experiment.rs
  packages/engine/src/config/mod.rs
  packages/engine/src/config/worker.rs
  packages/engine/src/datastore/test_utils.rs
  packages/engine/src/experiment/controller/controller.rs
  packages/engine/src/simulation/package/deps.rs
  packages/engine/src/worker/runner/comms/mod.rs
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/tests/experiment/mod.rs
Labels: A-engine

#466 Task-Executor
  .gitignore
  package.json
  packages/hash/docker/README.md
  packages/hash/docker/task-executor/Dockerfile
  packages/hash/task-executor/.eslintrc.json
  packages/hash/task-executor/README.md
  packages/hash/task-executor/package.json
  packages/hash/task-executor/requirements.txt
  packages/hash/task-executor/setup.sh
  packages/hash/task-executor/src/execution.ts
  packages/hash/task-executor/src/index.ts
  packages/hash/task-executor/src/tasks/demo.py
  packages/hash/task-executor/tsconfig.json
Labels: A-hash, A-infra, docker

#467 Fix handling of relative icon urls
  packages/hash/frontend/src/blocks/page/createSuggester/BlockSuggester.tsx
Labels: A-hash, frontend

#459 Document compiling V8 from source
  packages/engine/README.md
Labels: A-engine

#469 Move `Agent` and dependent things to `stateful` crate
  packages/engine/Cargo.lock
  packages/engine/lib/stateful/Cargo.toml
  packages/engine/lib/stateful/src/agent/field.rs
  packages/engine/lib/stateful/src/agent/mod.rs
  packages/engine/lib/stateful/src/agent/name.rs
  packages/engine/lib/stateful/src/agent/schema.rs
  packages/engine/lib/stateful/src/error.rs
  packages/engine/lib/stateful/src/lib.rs
  packages/engine/lib/stateful/src/message/kind.rs
  packages/engine/lib/stateful/src/message/mod.rs
  packages/engine/lib/stateful/src/message/outbound.rs
  packages/engine/lib/stateful/src/message/payload.rs
  packages/engine/lib/stateful/src/message/schema.rs
  packages/engine/lib/stateful/src/proxy/batch.rs
  packages/engine/lib/stateful/src/proxy/mod.rs
  packages/engine/lib/stateful/src/proxy/pool.rs
  packages/engine/lib/stateful/src/vec.rs
  packages/engine/src/config/store.rs
  packages/engine/src/datastore/arrow/batch_conversion.rs
  packages/engine/src/datastore/arrow/message.rs
  packages/engine/src/datastore/arrow/test.rs
  packages/engine/src/datastore/batch/agent.rs
  packages/engine/src/datastore/batch/iterators.rs
  packages/engine/src/datastore/batch/message.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/error.rs
  packages/engine/src/datastore/schema/field_spec/built_in.rs
  packages/engine/src/datastore/schema/field_spec/mod.rs
  packages/engine/src/datastore/schema/mod.rs
  packages/engine/src/datastore/schema/state/message.rs
  packages/engine/src/datastore/schema/state/mod.rs
  packages/engine/src/datastore/table/context/mod.rs
  packages/engine/src/datastore/table/pool/agent.rs
  packages/engine/src/datastore/table/pool/message.rs
  packages/engine/src/datastore/table/pool/mod.rs
  packages/engine/src/datastore/table/proxy.rs
  packages/engine/src/datastore/table/references.rs
  packages/engine/src/datastore/table/state/create_remove/command.rs
  packages/engine/src/datastore/table/state/create_remove/planner.rs
  packages/engine/src/datastore/table/state/mod.rs
  packages/engine/src/datastore/test_utils.rs
  packages/engine/src/hash_types/error.rs
  packages/engine/src/hash_types/message.rs
  packages/engine/src/hash_types/mod.rs
  packages/engine/src/hash_types/state.rs
  packages/engine/src/simulation/command.rs
  packages/engine/src/simulation/comms/mod.rs
  packages/engine/src/simulation/comms/package.rs
  packages/engine/src/simulation/engine.rs
  packages/engine/src/simulation/error.rs
  packages/engine/src/simulation/package/context/packages/api_requests/mod.rs
  packages/engine/src/simulation/package/creator.rs
  packages/engine/src/simulation/package/init/mod.rs
  packages/engine/src/simulation/package/init/packages/js_py/mod.rs
  packages/engine/src/simulation/package/init/packages/json/mod.rs
  packages/engine/src/simulation/package/output/packages/analysis/analyzer.rs
  packages/engine/src/simulation/package/output/packages/json_state/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/fields/behavior.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/mod.rs
  packages/engine/src/worker/runner/comms/mod.rs
Labels: C-dependencies, A-engine

#472 Typo: telemtry => telemetry
  packages/hash/api/src/index.ts
  packages/hash/api/src/telemetry/snowplow-setup.ts
Labels: A-hash, api

#474 Fix `PackageId` generation
  packages/engine/src/simulation/package/id.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/package.js
  packages/engine/src/simulation/package/state/packages/behavior_execution/package.py
  packages/engine/src/worker/runner/javascript/state.js
  packages/engine/src/worker/runner/python/state.py
Labels: C-bug, A-engine

#471 Revert `FieldSource` being turned into a trait
  packages/engine/lib/stateful/src/agent/schema.rs
  packages/engine/lib/stateful/src/field/accessor.rs
  packages/engine/lib/stateful/src/field/key.rs
  packages/engine/lib/stateful/src/field/mod.rs
  packages/engine/lib/stateful/src/field/source.rs
  packages/engine/lib/stateful/src/field/spec.rs
  packages/engine/lib/stateful/src/field/spec_map.rs
  packages/engine/src/config/store.rs
  packages/engine/src/datastore/arrow/batch_conversion.rs
  packages/engine/src/datastore/arrow/test.rs
  packages/engine/src/datastore/batch/agent.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/schema/context.rs
  packages/engine/src/datastore/schema/field_spec/mod.rs
  packages/engine/src/datastore/schema/mod.rs
  packages/engine/src/datastore/table/context/mod.rs
  packages/engine/src/datastore/table/state/create_remove/command.rs
  packages/engine/src/datastore/table/state/create_remove/planner.rs
  packages/engine/src/datastore/test_utils.rs
  packages/engine/src/simulation/command.rs
  packages/engine/src/simulation/comms/message.rs
  packages/engine/src/simulation/comms/mod.rs
  packages/engine/src/simulation/comms/package.rs
  packages/engine/src/simulation/package/context/mod.rs
  packages/engine/src/simulation/package/context/packages/agent_messages/fields.rs
  packages/engine/src/simulation/package/context/packages/agent_messages/mod.rs
  packages/engine/src/simulation/package/context/packages/api_requests/fields.rs
  packages/engine/src/simulation/package/context/packages/api_requests/mod.rs
  packages/engine/src/simulation/package/context/packages/mod.rs
  packages/engine/src/simulation/package/context/packages/neighbors/fields.rs
  packages/engine/src/simulation/package/context/packages/neighbors/mod.rs
  packages/engine/src/simulation/package/creator.rs
  packages/engine/src/simulation/package/id.rs
  packages/engine/src/simulation/package/init/mod.rs
  packages/engine/src/simulation/package/init/packages/js_py/mod.rs
  packages/engine/src/simulation/package/init/packages/json/mod.rs
  packages/engine/src/simulation/package/init/packages/mod.rs
  packages/engine/src/simulation/package/mod.rs
  packages/engine/src/simulation/package/name.rs
  packages/engine/src/simulation/package/output/mod.rs
  packages/engine/src/simulation/package/output/packages/analysis/analyzer.rs
  packages/engine/src/simulation/package/output/packages/analysis/index_iter.rs
  packages/engine/src/simulation/package/output/packages/analysis/mod.rs
  packages/engine/src/simulation/package/output/packages/json_state/mod.rs
  packages/engine/src/simulation/package/output/packages/mod.rs
  packages/engine/src/simulation/package/state/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/fields/behavior.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/fields/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/mod.rs
  packages/engine/src/simulation/package/state/packages/mod.rs
  packages/engine/src/simulation/package/state/packages/topology/fields.rs
  packages/engine/src/simulation/package/state/packages/topology/mod.rs
  packages/engine/src/simulation/package/worker_init.rs
  packages/engine/src/worker/runner/comms/mod.rs
  packages/engine/src/worker/runner/javascript/error.rs
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/src/worker/runner/python/fbs.rs
  packages/engine/src/worker/runner/python/sender.rs
  packages/engine/src/worker/task.rs
  packages/engine/src/workerpool/mod.rs
Labels: A-engine

#476 Cache cargo checkouts in CI
  .github/workflows/rust.yml
Labels: A-engine, A-infra

#475 Move `hash_types` to `stateful`
  packages/engine/lib/stateful/src/agent/mod.rs
  packages/engine/lib/stateful/src/context/mod.rs
  packages/engine/lib/stateful/src/dataset/mod.rs
  packages/engine/lib/stateful/src/globals/mod.rs
  packages/engine/lib/stateful/src/lib.rs
  packages/engine/lib/stateful/src/message/inbound.rs
  packages/engine/lib/stateful/src/message/mod.rs
  packages/engine/lib/stateful/src/state/mod.rs
  packages/engine/src/config/experiment.rs
  packages/engine/src/config/mod.rs
  packages/engine/src/config/persistence.rs
  packages/engine/src/config/simulation.rs
  packages/engine/src/config/store.rs
  packages/engine/src/config/topology.rs
  packages/engine/src/datastore/error.rs
  packages/engine/src/datastore/test_utils.rs
  packages/engine/src/experiment/controller/sim_configurer.rs
  packages/engine/src/experiment/mod.rs
  packages/engine/src/hash_types/error.rs
  packages/engine/src/hash_types/mod.rs
  packages/engine/src/hash_types/worker.rs
  packages/engine/src/lib.rs
  packages/engine/src/proto.rs
  packages/engine/src/simulation/controller/run.rs
  packages/engine/src/simulation/package/context/mod.rs
  packages/engine/src/simulation/package/context/packages/agent_messages/mod.rs
  packages/engine/src/simulation/package/context/packages/api_requests/mod.rs
  packages/engine/src/simulation/package/context/packages/neighbors/mod.rs
  packages/engine/src/simulation/package/creator.rs
  packages/engine/src/simulation/package/init/mod.rs
  packages/engine/src/simulation/package/output/mod.rs
  packages/engine/src/simulation/package/output/packages/analysis/mod.rs
  packages/engine/src/simulation/package/output/packages/json_state/mod.rs
  packages/engine/src/simulation/package/state/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/mod.rs
  packages/engine/src/simulation/package/state/packages/topology/mod.rs
  packages/engine/src/simulation/status.rs
  packages/engine/src/simulation/step_result.rs
  packages/engine/src/worker/error.rs
  packages/engine/src/worker/mod.rs
  packages/engine/src/worker/runner/comms/mod.rs
  packages/engine/src/worker/runner/comms/outbound.rs
  packages/engine/src/worker/runner/javascript/mod.rs
Labels: A-engine

#428 docs: Add some docs for DbLink
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/postgres/link/updateLink.ts
Labels: A-hash, api

#478 Backend can start tasks on the task-executor
  .env
  packages/hash/api/src/graphql/context.ts
  packages/hash/api/src/graphql/createApolloServer.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/taskExecutor/index.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/taskExecution.typedef.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/task-execution/index.ts
  packages/hash/task-executor/src/index.ts
Labels: A-hash, api

#482 Fix Nextjs SSR mismatch warning
  packages/hash/frontend/src/pages/_app.page.tsx
Labels: A-hash, frontend

#481 Consolidate block metadata manipulation. Handle 'default' properties
  .eslintrc.json
  packages/blocks/callout/webpack-block-meta-plugin.js
  packages/blocks/code/webpack-block-meta-plugin.js
  packages/blocks/divider/webpack-block-meta-plugin.js
  packages/blocks/embed/webpack-block-meta-plugin.js
  packages/blocks/header/webpack-block-meta-plugin.js
  packages/blocks/image/webpack-block-meta-plugin.js
  packages/blocks/paragraph/webpack-block-meta-plugin.js
  packages/blocks/person/webpack-block-meta-plugin.js
  packages/blocks/table/webpack-block-meta-plugin.js
  packages/blocks/video/webpack-block-meta-plugin.js
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/BlockSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/useFilteredBlocks.tsx
  packages/hash/frontend/src/blocks/userBlocks.tsx
  packages/hash/frontend/src/components/BlockContextMenu/SearchView.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaEditor.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertiesTable.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertyRow.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertyTypeList.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SubSchemaItem.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/schemaEditorReducer.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/shared/src/blockMeta.ts
  packages/hash/shared/src/json-utils.ts
Labels: A-hash, frontend, A-blocks

#485 `Entity.isEquivalentTo` method test and adopt usage
  packages/hash/api/src/graphql/resolvers/entity/linkGroups.ts
  packages/hash/integration/src/tests/model/entity.model.test.ts
Labels: A-hash, api, integration

#480 Load Entity into Block functionality
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenuItem.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenuUtils.ts
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockListMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockLoaderInput.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/BlockSuggester.tsx
  packages/hash/frontend/src/components/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/components/BlockContextMenu/BlockContextMenuItem.tsx
  packages/hash/frontend/src/components/BlockContextMenu/NormalView.tsx
  packages/hash/frontend/src/components/BlockContextMenu/SearchView.tsx
  packages/hash/frontend/src/components/hooks/useAccountEntities.ts
  packages/hash/frontend/src/graphql/queries/entity.queries.ts
  packages/hash/frontend/src/pages/playground.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  packages/hash/frontend/src/shared/ui/text-field.tsx
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-outlined-input-theme-options.ts
  packages/hash/frontend/theme-override.d.ts
  packages/hash/playwright/tests/page-creation.spec.ts
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/queries/entity.queries.ts
  packages/hash/shared/src/queries/page.queries.ts
Labels: A-hash, frontend, playwright

#492 Fix collab polling timeout
  packages/hash/api/src/collab/Waiting.ts
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
Labels: A-hash, api, frontend

#496 Update our in-repo security policy
  README.md
  SECURITY.md
  packages/engine/README.md
  packages/hash/README.md
Labels: C-documentation, A-infra

#473 Deprecating creator behaviors in the initialization docs
  resources/docs/simulation/creating-simulations/anatomy-of-an-agent/creator-behaviors.md
  resources/docs/simulation/creating-simulations/anatomy-of-an-agent/initial-state.md
  resources/docs/url_map.json
Labels: A-learn

#491 Remove `enum_dispatch` dependency
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/src/config/experiment.rs
  packages/engine/src/datastore/test_utils.rs
  packages/engine/src/proto.rs
  packages/engine/src/simulation/comms/package.rs
  packages/engine/src/simulation/enum_dispatch.rs
  packages/engine/src/simulation/error.rs
  packages/engine/src/simulation/mod.rs
  packages/engine/src/simulation/package/context/packages/mod.rs
  packages/engine/src/simulation/package/deps.rs
  packages/engine/src/simulation/package/init/packages/js_py/js/mod.rs
  packages/engine/src/simulation/package/init/packages/js_py/mod.rs
  packages/engine/src/simulation/package/init/packages/js_py/py/mod.rs
  packages/engine/src/simulation/package/init/packages/mod.rs
  packages/engine/src/simulation/package/mod.rs
  packages/engine/src/simulation/package/output/packages/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/tasks.rs
  packages/engine/src/simulation/package/state/packages/mod.rs
  packages/engine/src/simulation/task/access.rs
  packages/engine/src/simulation/task/args.rs
  packages/engine/src/simulation/task/handler/worker.rs
  packages/engine/src/simulation/task/handler/worker_pool.rs
  packages/engine/src/simulation/task/mod.rs
  packages/engine/src/simulation/task/msg.rs
  packages/engine/src/worker/mod.rs
  packages/engine/src/worker/pending.rs
  packages/engine/src/worker/runner/comms/mod.rs
  packages/engine/src/worker/runner/python/sender.rs
Labels: C-dependencies, A-engine

#494 Move panic cleanup logic
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/lib/memory/src/shared_memory/mod.rs
  packages/engine/lib/memory/src/shared_memory/segment.rs
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/lib/orchestrator/src/process/mod.rs
  packages/engine/src/experiment/controller/run.rs
  packages/engine/src/output/buffer/mod.rs
  packages/engine/src/output/buffer/part.rs
  packages/engine/src/output/buffer/util.rs
  packages/engine/src/worker/runner/python/mod.rs
Labels: A-engine

#487 Use rusty_v8 new crates.io release
  packages/engine/Cargo.toml
Labels: A-engine

#495 Add styles for Select Menus and Chips
  packages/hash/frontend/.eslintrc.json
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockListMenuContent.tsx
  packages/hash/frontend/src/components/ConfirmationAlert.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-properties-block.tsx
  packages/hash/frontend/src/pages/playground.page.tsx
  packages/hash/frontend/src/pages/playground.page/buttons-demo.tsx
  packages/hash/frontend/src/pages/playground.page/chips-demo.tsx
  packages/hash/frontend/src/pages/playground.page/inputs-demo.tsx
  packages/hash/frontend/src/pages/playground.page/select-menus-demo.tsx
  packages/hash/frontend/src/pages/playground.page/select/select-with-search-checkbox.tsx
  packages/hash/frontend/src/pages/playground.page/select/select-with-search.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/notifications-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/search-bar.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/search-bar/search-input.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/shared/header-icon-button.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-item.tsx
  packages/hash/frontend/src/shared/ui.ts
  packages/hash/frontend/src/shared/ui/avatar.tsx
  packages/hash/frontend/src/shared/ui/button.tsx
  packages/hash/frontend/src/shared/ui/chip-group.tsx
  packages/hash/frontend/src/shared/ui/chip.tsx
  packages/hash/frontend/src/shared/ui/icon-button.tsx
  packages/hash/frontend/src/shared/ui/text-field.tsx
  packages/hash/frontend/src/shared/ui/theme/components.ts
  packages/hash/frontend/src/shared/ui/theme/components/data-display.ts
  packages/hash/frontend/src/shared/ui/theme/components/data-display/mui-chip-theme-options.tsx
  packages/hash/frontend/src/shared/ui/theme/components/data-display/mui-list-item-secondary-action-theme-options.ts
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-outlined-input-theme-options.ts
  packages/hash/frontend/src/shared/ui/theme/components/inputs/mui-select-theme-options.tsx
  packages/hash/frontend/src/shared/ui/theme/components/navigation/mui-menu-item-theme-options.ts
  packages/hash/frontend/src/shared/ui/theme/components/navigation/mui-menu-theme-options.ts
  packages/hash/frontend/src/shared/ui/theme/palette.ts
  packages/hash/frontend/theme-override.d.ts
Labels: A-hash, frontend

#499 Add missing Cargo.lock
  packages/engine/Cargo.lock
Labels: C-dependencies, A-engine

#498 Fail CI if diff not empty during tests
  .github/workflows/rust.yml
Labels: A-infra

#501 Enable Rust backtrace on CI
  .github/workflows/rust.yml
Labels: A-infra

#504 Tweak PR template
  .github/pull_request_template.md
Labels: A-infra

#505 Watch links & aggregations via realtime, and respond in collab
  packages/hash/api/src/collab/EntityWatcher.ts
  packages/hash/api/src/collab/Instance.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/link/getLink.ts
  packages/hash/api/src/graphql/resolvers/linkedAggregation/getLinkedAggregation.ts
  packages/hash/api/src/graphql/typeDefs/aggregation.typedef.ts
  packages/hash/api/src/graphql/typeDefs/link.typedef.ts
  packages/hash/backend-utils/src/pgTables.ts
  packages/hash/backend-utils/src/realtime.ts
  packages/hash/realtime/src/config.ts
  packages/hash/shared/src/queries/link.queries.ts
Labels: A-hash, api, realtime

#490 Add block config panel. Add block schema to block context
  packages/blocks/code/src/app.tsx
  packages/engine/apache-arrow-js-bundle/package.json
  packages/hash/frontend/src/blocks/page/BlockConfigMenu/BlockConfigMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenuUtils.ts
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockListMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockLoaderInput.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createSuggester/BlockSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/useFilteredBlocks.tsx
  packages/hash/frontend/src/blocks/userBlocks.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/json-utils.ts
  packages/hash/shared/src/save.ts
Labels: A-engine, A-hash, frontend, A-blocks

#509 Disable twind preflight
  packages/hash/frontend/twind.config.js
Labels: A-hash, frontend

#513 Make delete block button functional. Hide non-functional buttons
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
Labels: A-hash, frontend

#517 Permit swapping the first block in a page to another type
  packages/hash/api/src/graphql/resolvers/pages/updatePageContents.ts
  packages/hash/api/src/model/page.model.ts
Labels: A-hash, api

#520 Update `block-scripts` to 0.0.5
  packages/blocks/callout/package.json
  packages/blocks/code/package.json
  packages/blocks/divider/package.json
  packages/blocks/embed/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/table/package.json
  packages/blocks/video/package.json
  yarn.lock
Labels: C-dependencies, A-blocks

#524 Block Configuration Menu Updates
  packages/hash/frontend/src/blocks/page/BlockConfigMenu/BlockConfigMenu.tsx
Labels: A-hash, frontend
