Repository hashintel/hash, pull requests merged in 2022-01, with the labels that each got.

#106 Upgrade Clap to v3
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/bin/cli/Cargo.toml
  packages/engine/bin/cli/src/experiment.rs
  packages/engine/bin/cli/src/main.rs
  packages/engine/src/args.rs
Labels: C-dependencies, A-engine

#135 Fixing no-default-features
  packages/engine/Cargo.toml
  packages/engine/README.md
  packages/engine/bin/cli/Cargo.toml
  packages/engine/bin/server/Cargo.toml
Labels: C-enhancement, A-engine

#133 Add `Provider` API for context information on errors (and possibly other things)
  packages/engine/Cargo.lock
  packages/engine/lib/provider/Cargo.toml
  packages/engine/lib/provider/src/internal.rs
  packages/engine/lib/provider/src/lib.rs
  packages/engine/lib/provider/src/requisition.rs
  packages/engine/lib/provider/src/tags.rs
Labels: C-enhancement, C-dependencies, A-engine

#132 Fix of duplicate wrap_x_mode
  resources/docs/simulation/creating-simulations/configuration/topology/wrapping-presets-and-flags.md
Labels: A-learn

#136 Update link in geospatial docs
  resources/docs/simulation/creating-simulations/views/geospatial-viewer.md
Labels: A-learn

#112 Fix flatbuffers conversion during Python init
  packages/engine/src/config/experiment.rs
  packages/engine/src/worker/mod.rs
  packages/engine/src/worker/runner/python/batch.py
  packages/engine/src/worker/runner/python/message.py
  resources/docs/simulation/creating-simulations/views/geospatial-viewer.md
Labels: C-enhancement, A-engine, A-learn

#113 Fix package loading in Python runner
  packages/engine/src/worker/runner/python/message.py
  packages/engine/src/worker/runner/python/package.py
  packages/engine/src/worker/runner/python/runner.py
  packages/engine/src/worker/runner/python/sim.py
Labels: C-enhancement, A-engine

#114 Fix line numbers in Python tracebacks
  packages/engine/src/simulation/package/state/packages/behavior_execution/package.py
  packages/engine/src/worker/runner/python/package.py
  packages/engine/src/worker/runner/python/runner.py
Labels: C-enhancement, A-engine

#115 Fix behavior execution package Python component init
  packages/engine/src/simulation/package/state/packages/behavior_execution/package.py
Labels: C-enhancement, A-engine

#116 Fix messages package Python component init
  packages/engine/src/simulation/package/context/packages/agent_messages/package.py
Labels: C-enhancement, A-engine

#134 Add error library to be used in hEngine
  packages/engine/Cargo.lock
  packages/engine/lib/error/Cargo.toml
  packages/engine/lib/error/examples/contextual_messages.rs
  packages/engine/lib/error/examples/report_from_non_error.rs
  packages/engine/lib/error/src/ext.rs
  packages/engine/lib/error/src/frame.rs
  packages/engine/lib/error/src/iter.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/macros.rs
  packages/engine/lib/error/src/report.rs
  packages/engine/lib/error/src/tags.rs
  packages/engine/lib/provider/src/lib.rs
Labels: C-enhancement, C-dependencies, A-engine

#138 Apply error library to server binary
  packages/engine/Cargo.lock
  packages/engine/bin/server/Cargo.toml
  packages/engine/bin/server/src/main.rs
Labels: C-dependencies, A-engine

#137 Apply error library to CLI
  packages/engine/Cargo.lock
  packages/engine/bin/cli/Cargo.toml
  packages/engine/bin/cli/src/experiment.rs
  packages/engine/bin/cli/src/exsrv.rs
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/cli/src/manifest.rs
  packages/engine/bin/cli/src/process/local.rs
  packages/engine/bin/cli/src/process/process.rs
Labels: C-dependencies, A-engine

#142 [DOCS] Add missing closing quotes
  resources/docs/simulation/creating-simulations/libraries/hash/random.md
  resources/docs/simulation/creating-simulations/libraries/hash/spatial.md
Labels: A-learn

#140 Use `tracing` instead of `log`
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/bin/cli/Cargo.toml
  packages/engine/bin/cli/src/experiment.rs
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/server/Cargo.toml
  packages/engine/bin/server/src/main.rs
  packages/engine/src/utils.rs
Labels: C-dependencies, A-engine

#139 Implementing limiting on number of parallel sims
  packages/engine/bin/cli/src/manifest.rs
  packages/engine/src/experiment/package/simple.rs
  packages/engine/src/proto.rs
Labels: A-engine

#117 Fix Python runner init
  packages/engine/src/worker/runner/python/mod.rs
  packages/engine/src/worker/runner/python/runner.py
  packages/engine/src/worker/runner/python/sender.rs
Labels: C-enhancement, A-engine

#89 Documentation TODOs
  packages/engine/src/datastore/arrow/batch_conversion.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/datastore/schema/field_spec/mod.rs
  packages/engine/src/datastore/table/context/mod.rs
  packages/engine/src/datastore/table/pool/agent.rs
  packages/engine/src/datastore/table/pool/message.rs
  packages/engine/src/datastore/table/pool/mod.rs
  packages/engine/src/datastore/table/state/mod.rs
  packages/engine/src/datastore/table/task_shared_store.rs
  packages/engine/src/hash_types/state.rs
  packages/engine/src/proto.rs
  packages/engine/src/simulation/command.rs
  packages/engine/src/simulation/comms/mod.rs
  packages/engine/src/simulation/controller/run.rs
  packages/engine/src/simulation/engine.rs
  packages/engine/src/simulation/package/context/mod.rs
  packages/engine/src/simulation/package/init/mod.rs
  packages/engine/src/simulation/package/run.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/mod.rs
  packages/engine/src/worker/mod.rs
  packages/engine/src/worker/runner/comms/inbound.rs
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/src/worker/runner/mod.rs
  packages/engine/src/workerpool/mod.rs
Labels: C-documentation, A-engine

#141 Collect Rust Actions to only require one job to pass to enable merging
  .github/workflows/rust.yml
Labels: C-enhancement, A-infra

#143 Only match first crate when determining crates to test in Rust Action
  .github/workflows/rust.yml
Labels: C-enhancement, A-infra

#107 Adding an initial CONTRIBUTING.md in packages/engine
  packages/engine/CONTRIBUTING.md
Labels: C-documentation, A-engine

#145 Add option to chose output format
  packages/engine/bin/cli/src/experiment.rs
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/cli/src/process/local.rs
  packages/engine/bin/server/src/main.rs
  packages/engine/src/args.rs
  packages/engine/src/utils.rs
Labels: A-engine

#146 Change the log output to `stderr` instead of `stdout`
  packages/engine/bin/cli/src/main.rs
  packages/engine/src/args.rs
  packages/engine/src/utils.rs
Labels: C-bug, A-engine

#144 Add links to our open roles
  CONTRIBUTING.md
  README.md
  packages/engine/CONTRIBUTING.md
Labels: A-engine, A-infra

#150 Hot-fix: Making state sync sequential with context packages
  packages/engine/src/simulation/engine.rs
Labels: A-engine

#148 Fixing a double step update when sim stopping
  packages/engine/src/simulation/controller/run.rs
  packages/engine/src/simulation/status.rs
Labels: A-engine

#151 Cover `*.json` and `*.yml` files with Prettier
  .github/labeler.yml
  .github/workflows/algolia-upload-index.yml
  .github/workflows/algolia/package.json
  .github/workflows/algolia/tsconfig.json
  .github/workflows/codeql-analysis.yml
  .github/workflows/rust.yml
  .github/workflows/semgrep.yml
  .hashconfig.json
  .prettierignore
  packages/engine/src/worker/runner/rust/behaviors/age.rs.json
  packages/engine/src/worker/runner/rust/behaviors/collision.rs.json
  packages/engine/src/worker/runner/rust/behaviors/conway.rs.json
  packages/engine/src/worker/runner/rust/behaviors/counter.rs.json
  packages/engine/src/worker/runner/rust/behaviors/create_agents.rs.json
  packages/engine/src/worker/runner/rust/behaviors/create_grids.rs.json
  packages/engine/src/worker/runner/rust/behaviors/create_scatters.rs.json
  packages/engine/src/worker/runner/rust/behaviors/create_stacks.rs.json
  packages/engine/src/worker/runner/rust/behaviors/decay.rs.json
  packages/engine/src/worker/runner/rust/behaviors/diffusion.rs.json
  packages/engine/src/worker/runner/rust/behaviors/forces.rs.json
  packages/engine/src/worker/runner/rust/behaviors/gravity.rs.json
  packages/engine/src/worker/runner/rust/behaviors/move_in_direction.rs.json
  packages/engine/src/worker/runner/rust/behaviors/orient_toward_value.rs.json
  packages/engine/src/worker/runner/rust/behaviors/physics.rs.json
  packages/engine/src/worker/runner/rust/behaviors/random_away_movement.rs.json
  packages/engine/src/worker/runner/rust/behaviors/random_movement.rs.json
  packages/engine/src/worker/runner/rust/behaviors/remove_self.rs.json
  packages/engine/src/worker/runner/rust/behaviors/reproduce.rs.json
  packages/engine/src/worker/runner/rust/behaviors/spring.rs.json
  packages/engine/src/worker/runner/rust/behaviors/viral_spread.rs.json
  packages/engine/stdlib/package.json
  packages/engine/stdlib/src/ts/tsconfig.json
Labels: A-engine, A-infra

#153 Fixes typo
  packages/engine/src/output/local/sim.rs
Labels: A-engine

#152 Configure husky and lint-staged
  .husky/pre-commit
  package.json
  yarn.lock
Labels: C-dependencies

#154 Enable Prettier for JavaScript files
  .github/workflows/algolia/src/syncAlgoliaIndex.ts
  .prettierignore
  package.json
  packages/engine/src/simulation/package/context/packages/agent_messages/package.js
  packages/engine/src/simulation/package/context/packages/neighbors/package.js
  packages/engine/src/simulation/package/init/packages/jspy/package.js
  packages/engine/src/simulation/package/state/packages/behavior_execution/package.js
  packages/engine/src/worker/runner/javascript/batch.js
  packages/engine/src/worker/runner/javascript/context.js
  packages/engine/src/worker/runner/javascript/hash_util.js
  packages/engine/src/worker/runner/javascript/import_arrow.js
  packages/engine/src/worker/runner/javascript/runner.js
  packages/engine/src/worker/runner/javascript/state.js
  packages/engine/stdlib/.eslintrc.js
  packages/engine/stdlib/jest.config.js
  packages/engine/stdlib/src/ts/init.spec.ts
  packages/engine/stdlib/src/ts/init.ts
  packages/engine/stdlib/src/ts/neighbor.spec.ts
  packages/engine/stdlib/src/ts/neighbor.ts
  packages/engine/stdlib/src/ts/spatial.spec.ts
  packages/engine/stdlib/src/ts/spatial.ts
Labels: A-engine, A-infra

#155 Removing unused ID-store
  packages/engine/src/env.rs
  packages/engine/src/experiment/controller/controller.rs
  packages/engine/src/experiment/controller/id_store.rs
  packages/engine/src/experiment/controller/mod.rs
  packages/engine/src/experiment/controller/run.rs
  packages/engine/src/proto.rs
Labels: A-engine

#158 Update root LICENSE.md to reflect new products
  LICENSE.md
  packages/engine/LICENSE.md
Labels: A-engine, A-infra

#159 [TOOL] Add PR template
  .github/pull_request_template_.md
Labels: A-infra

#149 Enabling JS/Py init packages, and fixing bugs.
  packages/engine/src/config/experiment.rs
  packages/engine/src/simulation/enum_dispatch.rs
  packages/engine/src/simulation/package/init/packages/js_py/js/mod.rs
  packages/engine/src/simulation/package/init/packages/js_py/mod.rs
  packages/engine/src/simulation/package/init/packages/js_py/package.js
  packages/engine/src/simulation/package/init/packages/js_py/package.py
  packages/engine/src/simulation/package/init/packages/js_py/py/mod.rs
  packages/engine/src/simulation/package/init/packages/json/mod.rs
  packages/engine/src/simulation/package/init/packages/mod.rs
  packages/engine/src/simulation/task/args.rs
Labels: A-engine

#161 Further LICENSE updates
  LICENSE.md
  packages/engine/LICENSE.md
  resources/LICENSE.md
Labels: A-engine, A-learn, A-infra

#163 Rename `pull_request_template.yml`, tweak Markdownlint config
  .github/pull_request_template.md
  .markdownlint.json
  README.md
  packages/engine/README.md
Labels: A-engine, A-infra

#156 Add integration test suite
  .github/workflows/rust.yml
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/src/config/mod.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/experiment/controller/mod.rs
  packages/engine/src/experiment/mod.rs
  packages/engine/src/lib.rs
  packages/engine/src/nano/mod.rs
  packages/engine/src/output/mod.rs
  packages/engine/src/simulation/controller/mod.rs
  packages/engine/src/simulation/mod.rs
  packages/engine/src/worker/mod.rs
  packages/engine/src/worker/runner/javascript/mini_v8/mod.rs
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/src/worker/runner/python/mod.rs
  packages/engine/src/workerpool/mod.rs
  packages/engine/tests/integration.rs
  packages/engine/tests/simulations/edit_state_number/dependencies.json
  packages/engine/tests/simulations/edit_state_number/experiments.json
  packages/engine/tests/simulations/edit_state_number/integration-test.json
  packages/engine/tests/simulations/edit_state_number/src/behaviors/test.js
  packages/engine/tests/simulations/edit_state_number/src/behaviors/test.js.json
  packages/engine/tests/simulations/edit_state_number/src/globals.json
  packages/engine/tests/simulations/edit_state_number/src/init.json
  packages/engine/tests/simulations/edit_state_number/views/analysis.json
  packages/engine/tests/simulations/experiment.rs
  packages/engine/tests/simulations/message_sending/dependencies.json
  packages/engine/tests/simulations/message_sending/experiments.json
  packages/engine/tests/simulations/message_sending/integration-test.json
  packages/engine/tests/simulations/message_sending/src/behaviors/send_message.js
  packages/engine/tests/simulations/message_sending/src/behaviors/send_message.js.json
  packages/engine/tests/simulations/message_sending/src/globals.json
  packages/engine/tests/simulations/message_sending/src/init.json
  packages/engine/tests/simulations/message_sending/views/analysis.json
  packages/engine/tests/simulations/mod.rs
Labels: C-dependencies, A-engine, A-infra

#164 Add documentation for `Agent` and `Context`
  packages/engine/src/hash_types/state.rs
Labels: A-engine

#169 README updates for HASH open-sourcing
  README.md
  packages/engine/LICENSE.md
  packages/engine/README.md
  packages/engine/stdlib/LICENSE.md
Labels: A-engine, A-infra

#167 Add integration test for behavior
  packages/engine/tests/units/behavior/composability/dependencies.json
  packages/engine/tests/units/behavior/composability/integration-test.json
  packages/engine/tests/units/behavior/composability/src/behaviors/first.js
  packages/engine/tests/units/behavior/composability/src/behaviors/first.js.json
  packages/engine/tests/units/behavior/composability/src/behaviors/second.js
  packages/engine/tests/units/behavior/composability/src/behaviors/second.js.json
  packages/engine/tests/units/behavior/composability/src/globals.json
  packages/engine/tests/units/behavior/composability/src/init.json
  packages/engine/tests/units/behavior/composability/views/analysis.json
  packages/engine/tests/units/behavior/mod.rs
  packages/engine/tests/units/mod.rs
Labels: C-enhancement, A-engine

#177 Add integration tests for context
  packages/engine/tests/units/context/mod.rs
  packages/engine/tests/units/context/step/dependencies.json
  packages/engine/tests/units/context/step/integration-test.json
  packages/engine/tests/units/context/step/src/behaviors/test.js
  packages/engine/tests/units/context/step/src/behaviors/test.js.json
  packages/engine/tests/units/context/step/src/globals.json
  packages/engine/tests/units/context/step/src/init.json
  packages/engine/tests/units/context/step/views/analysis.json
  packages/engine/tests/units/mod.rs
Labels: C-enhancement, A-engine

#183 Add a blocked-by section to the PR template
  .github/pull_request_template.md
Labels: A-infra

#185 Load root `.env*` files in HASH frontend
  packages/hash/frontend/next.config.js
  packages/hash/frontend/package.json
Labels: A-hash, frontend

#184 Add integration tests for dataset
  packages/engine/tests/units/data/csv/access/data/dataset.csv
  packages/engine/tests/units/data/csv/access/dependencies.json
  packages/engine/tests/units/data/csv/access/integration-test.json
  packages/engine/tests/units/data/csv/access/src/behaviors/test.js
  packages/engine/tests/units/data/csv/access/src/behaviors/test.js.json
  packages/engine/tests/units/data/csv/access/src/globals.json
  packages/engine/tests/units/data/csv/access/src/init.json
  packages/engine/tests/units/data/csv/access/views/analysis.json
  packages/engine/tests/units/data/csv/immutable/data/dataset.csv
  packages/engine/tests/units/data/csv/immutable/dependencies.json
  packages/engine/tests/units/data/csv/immutable/integration-test.json
  packages/engine/tests/units/data/csv/immutable/src/behaviors/test.js
  packages/engine/tests/units/data/csv/immutable/src/behaviors/test.js.json
  packages/engine/tests/units/data/csv/immutable/src/globals.json
  packages/engine/tests/units/data/csv/immutable/src/init.json
  packages/engine/tests/units/data/csv/immutable/views/analysis.json
  packages/engine/tests/units/data/csv/mod.rs
  packages/engine/tests/units/data/json/access/data/dataset.json
  packages/engine/tests/units/data/json/access/dependencies.json
  packages/engine/tests/units/data/json/access/integration-test.json
  packages/engine/tests/units/data/json/access/src/behaviors/test.js
  packages/engine/tests/units/data/json/access/src/behaviors/test.js.json
  packages/engine/tests/units/data/json/access/src/globals.json
  packages/engine/tests/units/data/json/access/src/init.json
  packages/engine/tests/units/data/json/access/views/analysis.json
  packages/engine/tests/units/data/json/immutable/data/dataset.json
  packages/engine/tests/units/data/json/immutable/dependencies.json
  packages/engine/tests/units/data/json/immutable/integration-test.json
  packages/engine/tests/units/data/json/immutable/src/behaviors/test.js
  packages/engine/tests/units/data/json/immutable/src/behaviors/test.js.json
  packages/engine/tests/units/data/json/immutable/src/globals.json
  packages/engine/tests/units/data/json/immutable/src/init.json
  packages/engine/tests/units/data/json/immutable/views/analysis.json
  packages/engine/tests/units/data/json/mod.rs
  packages/engine/tests/units/data/mod.rs
  packages/engine/tests/units/mod.rs
Labels: C-enhancement, A-engine

#186 Add integration tests for topology
  packages/engine/tests/units/mod.rs
  packages/engine/tests/units/topology/distance/dependencies.json
  packages/engine/tests/units/topology/distance/experiments.json
  packages/engine/tests/units/topology/distance/integration-test.json
  packages/engine/tests/units/topology/distance/src/behaviors/test.js
  packages/engine/tests/units/topology/distance/src/behaviors/test.js.json
  packages/engine/tests/units/topology/distance/src/globals.json
  packages/engine/tests/units/topology/distance/src/init.json
  packages/engine/tests/units/topology/distance/views/analysis.json
  packages/engine/tests/units/topology/mod.rs
  packages/engine/tests/units/topology/wrapping/dependencies.json
  packages/engine/tests/units/topology/wrapping/experiments.json
  packages/engine/tests/units/topology/wrapping/integration-test.json
  packages/engine/tests/units/topology/wrapping/src/behaviors/test.js
  packages/engine/tests/units/topology/wrapping/src/behaviors/test.js.json
  packages/engine/tests/units/topology/wrapping/src/globals.json
  packages/engine/tests/units/topology/wrapping/src/init.json
  packages/engine/tests/units/topology/wrapping/views/analysis.json
Labels: C-enhancement, A-engine

#187 Make euclidean the default distance function
  packages/engine/src/config/topology.rs
  packages/engine/tests/units/neighbors/search_radius/mod.rs
Labels: A-engine

#189 Fix `state.behaviorIndex()` return the right behavior index
  packages/engine/src/simulation/package/state/packages/behavior_execution/package.js
  packages/engine/tests/units/state/mod.rs
Labels: A-engine

#191 [FE] effectively override twind preflight styles
  packages/hash/frontend/styles/globals.scss
  packages/hash/frontend/twind.config.js
Labels: A-hash, frontend

#175 [BE] [FE] Disable opensearch
  .env
  external-services/docker-compose.yml
  external-services/opensearch/Dockerfile
  external-services/opensearch/start.sh
  packages/hash/README.md
  packages/hash/api/src/graphql/context.ts
  packages/hash/api/src/graphql/createApolloServer.ts
  packages/hash/api/src/graphql/resolvers/pages/searchPages.ts
  packages/hash/api/src/index.ts
  packages/hash/frontend/next.config.js
  packages/hash/frontend/src/components/layout/PageHeader/SearchBar.tsx
  packages/hash/frontend/src/lib/public-env.ts
  packages/hash/playwright/tests/entity-creation.spec.ts
  packages/hash/playwright/tests/utils/getDerivedPayloadFromMostRecentEmail.ts
  packages/hash/search-loader/src/index.ts
  packages/hash/search-loader/src/scripts/clear-opensearch.ts
Labels: A-hash, api, frontend, search-loader, playwright

#174 [BE] Allow for LinkedEntities when creating an entity
  packages/hash/api/src/graphql/resolvers/entity/createEntity.ts
  packages/hash/api/src/graphql/resolvers/pages/createPage.ts
  packages/hash/api/src/graphql/resolvers/pages/updatePageContents.ts
  packages/hash/api/src/graphql/resolvers/util.ts
  packages/hash/api/src/graphql/typeDefs/entity.typedef.ts
  packages/hash/api/src/graphql/typeDefs/page.typedef.ts
  packages/hash/api/src/model/entity.model.ts
  packages/hash/api/src/model/file.model.ts
  packages/hash/api/src/util.test.ts
  packages/hash/api/src/util.ts
  packages/hash/integration/src/graphql/queries/entity.queries.ts
  packages/hash/integration/src/tests/integration.test.ts
  packages/hash/integration/src/tests/util.ts
  packages/hash/shared/src/queries/entity.queries.ts
  packages/hash/shared/src/save.ts
Labels: A-hash, api, integration

#192 [FE] [BE] [COLLAB] Refactor collab/entity store to prepare for action based collab
  packages/hash/api/src/collab/Instance.ts
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/entityStorePlugin.ts
Labels: A-hash, api, frontend

#190 Tweak Getting started section in HASH README
  packages/hash/README.md
Labels: A-hash

#196 Deduplicate Rust Actions
  .github/workflows/rust.yml
Labels: A-infra

#197 Fix dependencies tries to load initial states
  packages/engine/lib/orchestrator/src/manifest.rs
Labels: A-engine

#200 Use `--no-deps` on clippy in CI
  .github/workflows/rust.yml
Labels: A-infra

#198 [BE] Gracefully handle redis disconnects
  packages/hash/api/src/cache/redis.ts
  packages/hash/api/src/index.ts
  packages/hash/backend-utils/src/queue/redis.ts
  packages/hash/backend-utils/src/redis.ts
  packages/hash/realtime/src/config.ts
  packages/hash/realtime/src/index.ts
  packages/hash/realtime/src/scripts/clear-redis.ts
  packages/hash/search-loader/src/index.ts
Labels: A-hash, api, search-loader, realtime

#157 Clarifying ExperimentId vs ExperimentName
  packages/engine/Cargo.lock
  packages/engine/README.md
  packages/engine/bin/cli/Cargo.toml
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/server/src/main.rs
  packages/engine/lib/orchestrator/Cargo.toml
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/exsrv.rs
  packages/engine/lib/orchestrator/src/manifest.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/src/args.rs
  packages/engine/src/config/experiment.rs
  packages/engine/src/datastore/batch/agent.rs
  packages/engine/src/datastore/batch/context.rs
  packages/engine/src/datastore/batch/dataset.rs
  packages/engine/src/datastore/batch/message.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/shared_store.rs
  packages/engine/src/datastore/storage/memory.rs
  packages/engine/src/datastore/table/context/mod.rs
  packages/engine/src/datastore/table/pool/message.rs
  packages/engine/src/datastore/table/state/create_remove/plan.rs
  packages/engine/src/datastore/table/state/mod.rs
  packages/engine/src/env.rs
  packages/engine/src/experiment/controller/controller.rs
  packages/engine/src/experiment/controller/run.rs
  packages/engine/src/output/buffer/mod.rs
  packages/engine/src/output/buffer/part.rs
  packages/engine/src/output/buffer/util.rs
  packages/engine/src/output/local/mod.rs
  packages/engine/src/output/local/sim.rs
  packages/engine/src/proto.rs
  packages/engine/src/simulation/engine.rs
  packages/engine/src/simulation/package/deps.rs
  packages/engine/src/simulation/package/run.rs
  packages/engine/src/worker/runner/python/mod.rs
  packages/engine/src/worker/runner/python/receiver.rs
Labels: C-dependencies, A-engine

#193 [FE] [BE] [COLLAB] Rewrite entity store plugin to be based on discrete actions
  packages/hash/api/src/collab/Instance.ts
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
  packages/hash/shared/src/entityStorePlugin.ts
Labels: A-hash, api, frontend

#203 Bump Playwright to 1.18.0, improve config
  packages/hash/README.md
  packages/hash/playwright/package.json
  packages/hash/playwright/playwright.config.ts
  yarn.lock
Labels: C-dependencies, A-hash, playwright

#176 [BE] [FE] [COLLAB] Sync entity store actions through collab
  packages/hash/api/src/collab/Instance.ts
  packages/hash/api/src/collab/collabApp.ts
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/blocks/page/collab/http.ts
  packages/hash/shared/src/entityStorePlugin.ts
Labels: A-hash, api, frontend

#205 [FE] Hide restart collab instance button
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
Labels: A-hash, frontend

#194 [FE] [BE] [COLLAB] Block variants
  packages/blocks/header/src/App.tsx
  packages/blocks/header/variants.json
  packages/hash/api/src/collab/Instance.ts
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
  packages/hash/shared/src/entity.ts
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/queries/entity.queries.ts
  packages/hash/shared/src/queries/page.queries.ts
  packages/hash/shared/src/save.ts
  packages/hash/shared/src/util.ts
Labels: A-hash, api, frontend, A-blocks

#202 Move `ProsemirrorNode` and `textBetween` into a patch
  .eslintrc.json
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/MentionView/MentionView.tsx
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createFormatPlugins/util.ts
  packages/hash/frontend/src/types/prosemirror-model.d.ts
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
  packages/hash/shared/src/createProseMirrorState.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/node.ts
  packages/hash/shared/src/prosemirror.ts
  packages/hash/shared/src/save.ts
  packages/hash/shared/src/wrapEntitiesPlugin.ts
  patches/@types+prosemirror-model+1.13.2.patch
Labels: A-hash, frontend

#209 Use orchestrator API for integration tests
  .github/workflows/rust.yml
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/exsrv.rs
  packages/engine/lib/orchestrator/src/manifest.rs
  packages/engine/lib/orchestrator/src/process/process.rs
  packages/engine/src/datastore/storage/memory.rs
  packages/engine/src/lib.rs
  packages/engine/tests/integration.rs
  packages/engine/tests/units/behavior/composability/src/init-js.json
  packages/engine/tests/units/behavior/mod.rs
  packages/engine/tests/units/experiment.rs
Labels: C-enhancement, C-dependencies, A-engine, A-infra

#210 Adding doc comments on CreateRemoveCommands and Context Column Writers
  packages/engine/src/simulation/command.rs
  packages/engine/src/simulation/package/context/mod.rs
Labels: C-documentation, A-engine

#211 [FE] Add todo to embed block
  packages/blocks/embed/src/App.tsx
Labels: A-blocks

#182 [BE|API] Query EntityType inheritance
  packages/hash/api/datastore/postgres/schema/0000_base.sql
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/postgres/client.ts
  packages/hash/api/src/db/postgres/entitytypes.ts
  packages/hash/api/src/db/postgres/index.ts
  packages/hash/api/src/graphql/resolvers/entityType/entityTypeInheritance.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/typeDefs/entityType.typedef.ts
  packages/hash/api/src/lib/schemas/jsonSchema.ts
  packages/hash/api/src/model/entity.model.ts
  packages/hash/api/src/model/entityType.model.ts
  packages/hash/integration/src/graphql/queries/entity.queries.ts
  packages/hash/integration/src/tests/integration.test.ts
Labels: A-hash, api, integration

#217 Add python topology integration tests
  packages/engine/tests/integration.rs
  packages/engine/tests/units/experiment.rs
  packages/engine/tests/units/topology/distance/dependencies.json
  packages/engine/tests/units/topology/distance/experiments.json
  packages/engine/tests/units/topology/distance/integration-test.json
  packages/engine/tests/units/topology/distance/src/behaviors/test.py
  packages/engine/tests/units/topology/distance/src/behaviors/test.py.json
  packages/engine/tests/units/topology/distance/src/init-js.json
  packages/engine/tests/units/topology/distance/src/init-py.json
  packages/engine/tests/units/topology/distance/views/analysis.json
  packages/engine/tests/units/topology/mod.rs
  packages/engine/tests/units/topology/wrapping/dependencies.json
  packages/engine/tests/units/topology/wrapping/experiments.json
  packages/engine/tests/units/topology/wrapping/integration-test.json
  packages/engine/tests/units/topology/wrapping/src/behaviors/test.js.json
  packages/engine/tests/units/topology/wrapping/src/behaviors/test.py
  packages/engine/tests/units/topology/wrapping/src/init-js.json
  packages/engine/tests/units/topology/wrapping/src/init-py.json
  packages/engine/tests/units/topology/wrapping/views/analysis.json
Labels: A-engine

#206 Bump ProseMirror deps
  packages/hash/api/package.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/shared/package.json
  patches/@types+prosemirror-model+1.16.0.patch
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend

#221 Add Python integration tests for behaviors
  packages/engine/tests/units/behavior/composability/src/behaviors/first.py
  packages/engine/tests/units/behavior/composability/src/behaviors/first.py.json
  packages/engine/tests/units/behavior/composability/src/behaviors/second.py
  packages/engine/tests/units/behavior/composability/src/behaviors/second.py.json
  packages/engine/tests/units/behavior/composability/src/init-py.json
  packages/engine/tests/units/behavior/mod.rs
Labels: A-engine

#222 Add Python integration tests for context
  packages/engine/tests/units/context/mod.rs
  packages/engine/tests/units/context/step/src/behaviors/test.js
  packages/engine/tests/units/context/step/src/behaviors/test.py
  packages/engine/tests/units/context/step/src/behaviors/test.py.json
  packages/engine/tests/units/context/step/src/init-py.json
Labels: A-engine

#220 Add Python integration tests for datasets
  packages/engine/tests/units/data/csv/access/src/behaviors/test.js
  packages/engine/tests/units/data/csv/access/src/behaviors/test.py
  packages/engine/tests/units/data/csv/access/src/behaviors/test.py.json
  packages/engine/tests/units/data/csv/access/src/init-py.json
  packages/engine/tests/units/data/csv/immutable/src/behaviors/test.py
  packages/engine/tests/units/data/csv/immutable/src/behaviors/test.py.json
  packages/engine/tests/units/data/csv/immutable/src/init-py.json
  packages/engine/tests/units/data/csv/mod.rs
  packages/engine/tests/units/data/json/access/src/behaviors/test.js
  packages/engine/tests/units/data/json/access/src/behaviors/test.py
  packages/engine/tests/units/data/json/access/src/behaviors/test.py.json
  packages/engine/tests/units/data/json/access/src/init-py.json
  packages/engine/tests/units/data/json/immutable/src/behaviors/test.py
  packages/engine/tests/units/data/json/immutable/src/behaviors/test.py.json
  packages/engine/tests/units/data/json/immutable/src/init-py.json
  packages/engine/tests/units/data/json/mod.rs
Labels: A-engine

#219 Add Python integration tests for globals
  packages/engine/tests/units/globals/access_from_behaviors/src/behaviors/test.py
  packages/engine/tests/units/globals/access_from_behaviors/src/behaviors/test.py.json
  packages/engine/tests/units/globals/access_from_behaviors/src/init-py.json
  packages/engine/tests/units/globals/access_from_init/src/behaviors/test.js
  packages/engine/tests/units/globals/access_from_init/src/behaviors/test.py
  packages/engine/tests/units/globals/access_from_init/src/behaviors/test.py.json
  packages/engine/tests/units/globals/access_from_init/src/init-js.js
  packages/engine/tests/units/globals/access_from_init/src/init-py.py
  packages/engine/tests/units/globals/immutable_from_behaviors/src/behaviors/test.py
  packages/engine/tests/units/globals/immutable_from_behaviors/src/behaviors/test.py.json
  packages/engine/tests/units/globals/immutable_from_behaviors/src/init-js.json
  packages/engine/tests/units/globals/immutable_from_behaviors/src/init-py.json
  packages/engine/tests/units/globals/immutable_from_init/src/behaviors/test.js
  packages/engine/tests/units/globals/immutable_from_init/src/behaviors/test.py
  packages/engine/tests/units/globals/immutable_from_init/src/behaviors/test.py.json
  packages/engine/tests/units/globals/immutable_from_init/src/init-js.js
  packages/engine/tests/units/globals/immutable_from_init/src/init-py.py
  packages/engine/tests/units/globals/mod.rs
Labels: A-engine

#223 Add Python integration tests for neighbors
  packages/engine/tests/units/neighbors/fields/bool/src/behaviors/test.js
  packages/engine/tests/units/neighbors/fields/bool/src/behaviors/test.py
  packages/engine/tests/units/neighbors/fields/bool/src/behaviors/test.py.json
  packages/engine/tests/units/neighbors/fields/bool/src/init-py.json
  packages/engine/tests/units/neighbors/fields/bool_array/src/behaviors/test.js
  packages/engine/tests/units/neighbors/fields/bool_array/src/behaviors/test.py
  packages/engine/tests/units/neighbors/fields/bool_array/src/behaviors/test.py.json
  packages/engine/tests/units/neighbors/fields/bool_array/src/init-py.json
  packages/engine/tests/units/neighbors/fields/mod.rs
  packages/engine/tests/units/neighbors/fields/multiple/src/behaviors/test.js
  packages/engine/tests/units/neighbors/fields/multiple/src/behaviors/test.py
  packages/engine/tests/units/neighbors/fields/multiple/src/behaviors/test.py.json
  packages/engine/tests/units/neighbors/fields/multiple/src/init-py.json
  packages/engine/tests/units/neighbors/fields/number/src/behaviors/test.js
  packages/engine/tests/units/neighbors/fields/number/src/behaviors/test.py
  packages/engine/tests/units/neighbors/fields/number/src/behaviors/test.py.json
  packages/engine/tests/units/neighbors/fields/number/src/init-py.json
  packages/engine/tests/units/neighbors/fields/number_array/src/behaviors/test.js
  packages/engine/tests/units/neighbors/fields/number_array/src/behaviors/test.py
  packages/engine/tests/units/neighbors/fields/number_array/src/behaviors/test.py.json
  packages/engine/tests/units/neighbors/fields/number_array/src/init-py.json
  packages/engine/tests/units/neighbors/fields/object/src/behaviors/test.js
  packages/engine/tests/units/neighbors/fields/object/src/behaviors/test.py
  packages/engine/tests/units/neighbors/fields/object/src/behaviors/test.py.json
  packages/engine/tests/units/neighbors/fields/object/src/init-py.json
  packages/engine/tests/units/neighbors/fields/object_array/src/behaviors/test.js
  packages/engine/tests/units/neighbors/fields/object_array/src/behaviors/test.py
  packages/engine/tests/units/neighbors/fields/object_array/src/behaviors/test.py.json
  packages/engine/tests/units/neighbors/fields/object_array/src/init-py.json
  packages/engine/tests/units/neighbors/fields/string/src/behaviors/test.js
  packages/engine/tests/units/neighbors/fields/string/src/behaviors/test.py
  packages/engine/tests/units/neighbors/fields/string/src/behaviors/test.py.json
  packages/engine/tests/units/neighbors/fields/string/src/init-py.json
  packages/engine/tests/units/neighbors/search_radius/global/src/behaviors/test.py
  packages/engine/tests/units/neighbors/search_radius/global/src/behaviors/test.py.json
  packages/engine/tests/units/neighbors/search_radius/global/src/init-py.json
  packages/engine/tests/units/neighbors/search_radius/local/src/behaviors/test.py
  packages/engine/tests/units/neighbors/search_radius/local/src/behaviors/test.py.json
  packages/engine/tests/units/neighbors/search_radius/local/src/init-py.json
  packages/engine/tests/units/neighbors/search_radius/mod.rs
Labels: A-engine

#215 [BE] get rid of backend `dbTypes` file
  packages/hash/api/codegen.yml
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/errors.ts
  packages/hash/api/src/db/postgres/client.ts
  packages/hash/api/src/db/postgres/entity.ts
  packages/hash/api/src/db/postgres/index.ts
  packages/hash/api/src/db/postgres/util.ts
  packages/hash/api/src/graphql/resolvers/block/blockEntity.ts
  packages/hash/api/src/graphql/resolvers/entity/impliedHistory.ts
  packages/hash/api/src/graphql/resolvers/entity/linkGroups.ts
  packages/hash/api/src/graphql/resolvers/entity/linkedAggregations.ts
  packages/hash/api/src/graphql/resolvers/entity/linkedEntities.ts
  packages/hash/api/src/graphql/resolvers/entity/properties.ts
  packages/hash/api/src/graphql/resolvers/pages/contents.ts
  packages/hash/api/src/graphql/resolvers/pages/searchPages.ts
  packages/hash/api/src/graphql/resolvers/pages/updatePageContents.ts
  packages/hash/api/src/types/dbTypes.ts
Labels: A-hash, api

#208 Add documentation for `WorkerController`
  packages/engine/src/worker/mod.rs
Labels: C-documentation, A-engine

#201 Fix ProseMirror newline issue in Firefox
  .github/workflows/ci.yml
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/playwright/playwright.config.ts
  packages/hash/playwright/tests/page-creation.spec.ts
Labels: A-hash, A-infra, frontend, playwright

#224 [ENGINE] Adding Structured Logging
  packages/engine/.gitignore
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/README.md
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/server/src/main.rs
  packages/engine/src/utils.rs
Labels: C-enhancement, C-dependencies, A-engine

#214 Fix Python execution
  packages/engine/format/runner_inbound_msg.fbs
  packages/engine/format/runner_outbound_msg.fbs
  packages/engine/format/task_msg.fbs
  packages/engine/genfbs.py
  packages/engine/lib/flatbuffers_gen/src/batch_generated.rs
  packages/engine/lib/flatbuffers_gen/src/init_generated.rs
  packages/engine/lib/flatbuffers_gen/src/lib.rs
  packages/engine/lib/flatbuffers_gen/src/metaversion_generated.rs
  packages/engine/lib/flatbuffers_gen/src/new_simulation_run_generated.rs
  packages/engine/lib/flatbuffers_gen/src/package_config_generated.rs
  packages/engine/lib/flatbuffers_gen/src/package_error_generated.rs
  packages/engine/lib/flatbuffers_gen/src/runner_error_generated.rs
  packages/engine/lib/flatbuffers_gen/src/runner_errors_generated.rs
  packages/engine/lib/flatbuffers_gen/src/runner_inbound_msg_generated.rs
  packages/engine/lib/flatbuffers_gen/src/runner_outbound_msg_generated.rs
  packages/engine/lib/flatbuffers_gen/src/runner_warning_generated.rs
  packages/engine/lib/flatbuffers_gen/src/runner_warnings_generated.rs
  packages/engine/lib/flatbuffers_gen/src/serialized_generated.rs
  packages/engine/lib/flatbuffers_gen/src/shared_context_generated.rs
  packages/engine/lib/flatbuffers_gen/src/sync_context_batch_generated.rs
  packages/engine/lib/flatbuffers_gen/src/sync_state_generated.rs
  packages/engine/lib/flatbuffers_gen/src/sync_state_interim_generated.rs
  packages/engine/lib/flatbuffers_gen/src/sync_state_snapshot_generated.rs
  packages/engine/lib/flatbuffers_gen/src/target_generated.rs
  packages/engine/lib/flatbuffers_gen/src/task_msg_generated.rs
  packages/engine/lib/flatbuffers_gen/src/user_error_generated.rs
  packages/engine/lib/flatbuffers_gen/src/user_errors_generated.rs
  packages/engine/lib/flatbuffers_gen/src/user_warning_generated.rs
  packages/engine/lib/flatbuffers_gen/src/user_warnings_generated.rs
  packages/engine/src/simulation/engine.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/package.py
  packages/engine/src/worker/runner/comms/mod.rs
  packages/engine/src/worker/runner/javascript/error.rs
  packages/engine/src/worker/runner/javascript/mod.rs
  packages/engine/src/worker/runner/javascript/runner.js
  packages/engine/src/worker/runner/python/batch.py
  packages/engine/src/worker/runner/python/fbs/ExperimentId.py
  packages/engine/src/worker/runner/python/fbs/TaskId.py
  packages/engine/src/worker/runner/python/fbs/TaskMsg.py
  packages/engine/src/worker/runner/python/hash_util.py
  packages/engine/src/worker/runner/python/message.py
  packages/engine/src/worker/runner/python/mod.rs
  packages/engine/src/worker/runner/python/package.py
  packages/engine/src/worker/runner/python/receiver.rs
  packages/engine/src/worker/runner/python/runner.py
  packages/engine/src/worker/runner/python/sender.rs
  packages/engine/src/worker/runner/python/state.py
  packages/engine/src/worker/runner/python/util.py
Labels: A-engine

#232 Remove a few steps from Playwright tests to reduce CI flakiness
  packages/hash/playwright/tests/page-creation.spec.ts
Labels: A-hash, playwright

#234 [ENGINE] Hotfixing the integration tests
  packages/engine/Cargo.toml
  packages/engine/tests/units/experiment.rs
Labels: A-engine

#231 Fix line numbers for JavaScript runner
  packages/engine/src/simulation/package/state/packages/behavior_execution/package.js
  packages/engine/src/worker/runner/javascript/runner.js
Labels: A-engine

#235 [ENGINE] Handle stop messages from agents
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/src/simulation/agent_control.rs
  packages/engine/src/simulation/command.rs
  packages/engine/src/simulation/comms/mod.rs
  packages/engine/src/simulation/controller/run.rs
  packages/engine/src/simulation/engine.rs
  packages/engine/src/simulation/status.rs
  packages/engine/src/simulation/step_result.rs
  packages/engine/tests/units/message/mod.rs
Labels: C-enhancement, A-engine

#236 [ENGINE] Make language in integration test macro optional (again)
  packages/engine/tests/integration.rs
  packages/engine/tests/units/experiment.rs
Labels: A-engine

#233 [FE] Fix Paragraph and Header rendering in hub
  packages/blocks/header/package.json
  packages/blocks/header/src/App.tsx
  packages/blocks/paragraph/package.json
  packages/blocks/paragraph/src/App.tsx
  packages/blocks/paragraph/src/webpack-dev-server.js
Labels: A-blocks

#238 Add Agent UUID to stop message
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/src/simulation/agent_control.rs
  packages/engine/src/simulation/command.rs
  packages/engine/src/simulation/engine.rs
  packages/engine/src/simulation/status.rs
Labels: A-engine

#237 Add integration test for running multiple languages
  packages/engine/tests/units/behavior/mod.rs
  packages/engine/tests/units/behavior/multiple_runners/integration-test.json
  packages/engine/tests/units/behavior/multiple_runners/src/behaviors/first.js
  packages/engine/tests/units/behavior/multiple_runners/src/behaviors/first.js.json
  packages/engine/tests/units/behavior/multiple_runners/src/behaviors/fourth.py
  packages/engine/tests/units/behavior/multiple_runners/src/behaviors/fourth.py.json
  packages/engine/tests/units/behavior/multiple_runners/src/behaviors/second.py
  packages/engine/tests/units/behavior/multiple_runners/src/behaviors/second.py.json
  packages/engine/tests/units/behavior/multiple_runners/src/behaviors/third.js
  packages/engine/tests/units/behavior/multiple_runners/src/behaviors/third.js.json
  packages/engine/tests/units/behavior/multiple_runners/src/init.json
Labels: A-engine

#240 Sort test outputs
  packages/engine/tests/units/experiment.rs
Labels: A-engine

#242 [ENGINE] Doc Improvements
  packages/engine/src/datastore/arrow/ipc.rs
  packages/engine/src/datastore/batch/message.rs
  packages/engine/src/datastore/error.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/datastore/shared_store.rs
  packages/engine/src/datastore/store.rs
  packages/engine/src/datastore/table/context/mod.rs
  packages/engine/src/datastore/table/mod.rs
  packages/engine/src/datastore/table/pool/agent.rs
  packages/engine/src/datastore/table/pool/message.rs
  packages/engine/src/datastore/table/pool/mod.rs
  packages/engine/src/datastore/table/pool/proxy.rs
  packages/engine/src/datastore/table/proxy.rs
  packages/engine/src/datastore/table/state/create_remove/planner.rs
  packages/engine/src/datastore/table/state/mod.rs
  packages/engine/src/datastore/table/state/view.rs
  packages/engine/src/simulation/engine.rs
  packages/engine/src/simulation/package/context/packages/agent_messages/mod.rs
  packages/engine/src/simulation/package/context/packages/api_requests/mod.rs
  packages/engine/src/simulation/package/context/packages/neighbors/mod.rs
  packages/engine/src/simulation/package/mod.rs
  packages/engine/src/simulation/package/output/packages/analysis/mod.rs
  packages/engine/src/simulation/package/output/packages/json_state/mod.rs
  packages/engine/src/simulation/package/run.rs
  packages/engine/src/simulation/package/state/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/chain.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/mod.rs
  packages/engine/src/simulation/package/state/packages/topology/mod.rs
  packages/engine/src/worker/runner/python/sender.rs
Labels: A-engine

#241 Make Logging output configurable for tests
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/server/src/main.rs
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/src/args.rs
  packages/engine/src/utils.rs
  packages/engine/tests/integration.rs
  packages/engine/tests/units/experiment.rs
Labels: A-engine

#225 [FE] Fix Media Blocks
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/shared/src/entityStore.ts
Labels: A-hash, frontend

#243 [ENGINE] Adding more Spans
  packages/engine/src/experiment/controller/controller.rs
  packages/engine/src/simulation/comms/package.rs
  packages/engine/src/simulation/engine.rs
  packages/engine/src/simulation/package/context/mod.rs
  packages/engine/src/simulation/package/context/packages/agent_messages/mod.rs
  packages/engine/src/simulation/package/context/packages/api_requests/mod.rs
  packages/engine/src/simulation/package/context/packages/neighbors/mod.rs
  packages/engine/src/simulation/package/init/packages/js_py/mod.rs
  packages/engine/src/simulation/package/output/mod.rs
  packages/engine/src/simulation/package/output/packages/analysis/mod.rs
  packages/engine/src/simulation/package/output/packages/json_state/mod.rs
  packages/engine/src/simulation/package/run.rs
  packages/engine/src/simulation/package/state/mod.rs
  packages/engine/src/simulation/package/state/packages/behavior_execution/mod.rs
  packages/engine/src/simulation/package/state/packages/topology/mod.rs
  packages/engine/src/worker/runner/javascript/mod.rs
Labels: A-engine

#245 [ENGINE] Use log-folder passed to the orchestrator for texray generation
  packages/engine/src/utils.rs
Labels: A-engine
