Repository hashintel/hash, pull requests merged in 2022-07, with the labels that each got.

#729 Support additional parameters for `cargo make test/miri` (`main`)
  .github/scripts/rust/Makefile.toml
Labels: A-infra

#728 Add `DatabaseConnectionInfo`
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/bin/hash_graph/src/args.rs
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/datastore/mod.rs
  packages/graph/hash_graph/lib/graph/src/datastore/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
Labels: C-dependencies

#410 Improve architectural docs
  packages/engine/README.md
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/lib/experiment-control/src/lib.rs
  packages/engine/lib/nano/src/lib.rs
  packages/engine/lib/simulation-control/src/command/mod.rs
  packages/engine/lib/simulation-control/src/controller/run.rs
  packages/engine/lib/simulation-control/src/lib.rs
Labels: C-documentation, A-engine

#735 Fix Python setup on macOS
  packages/engine/lib/execution/src/runner/python/setup.py
Labels: A-engine

#739 Update root LICENSE to reference graph project
  LICENSE.md
  packages/graph/hash_graph/LICENSE.md
Labels: A-infra

#733 Test Graph API in CI
  .github/scripts/rust/Makefile.toml
  .github/workflows/rust.yml
  packages/engine/Makefile.toml
  packages/graph/.gitignore
  packages/graph/Makefile.toml
  packages/graph/README.md
  packages/graph/deployment/docker-compose.yml
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/lib/graph/src/datastore/postgres/mod.rs
  packages/libs/error-stack/Makefile.toml
Labels: A-engine, A-infra, A-libs

#734 Basic data type CRU methods
  packages/graph/README.md
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/datastore/mod.rs
  packages/graph/hash_graph/lib/graph/src/datastore/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/datastore/postgres/row_types.rs
  packages/graph/hash_graph/lib/graph/src/types/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: C-dependencies

#741 Optimize CI cache and runs for Rust
  .github/scripts/rust/Makefile.toml
  .github/workflows/rust.yml
  packages/engine/Makefile.toml
  packages/libs/error-stack/Makefile.toml
Labels: A-engine, A-infra, A-libs

#740 Block Suggester improvements
  packages/hash/frontend/src/blocks/page/createSuggester/Suggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/useFilteredBlocks.tsx
Labels: A-hash, frontend

#745 Remove storybook
  package.json
  packages/hash/frontend/package.json
  sites/hashdev/.storybook/main.ts
  sites/hashdev/.storybook/preview-head.html
  sites/hashdev/.storybook/preview.tsx
  sites/hashdev/.storybook/tsconfig.json
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#762 Change `libs` label to `error-stack`
  .github/labeler.yml
Labels: A-infra, A-error-stack

#764 Add link to open issues and discussions to readme
  packages/libs/error-stack/README.md
  packages/libs/error-stack/examples/demo.rs
Labels: A-error-stack

#760 Update Jest and TypeScript
  packages/blocks/callout/package.json
  packages/blocks/divider/package.json
  packages/blocks/embed/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/table/package.json
  packages/blocks/video/package.json
  packages/hash/README.md
  packages/hash/api/package.json
  packages/hash/backend-utils/package.json
  packages/hash/datastore/package.json
  packages/hash/datastore/postgres/scripts/run-schema-migrations.ts
  packages/hash/design-system/package.json
  packages/hash/frontend/jest.config.js
  packages/hash/frontend/package.json
  packages/hash/integration/package.json
  packages/hash/realtime/package.json
  packages/hash/search-loader/package.json
  packages/hash/shared/package.json
  packages/hash/task-executor/package.json
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend, search-loader, A-blocks, realtime

#757 Remove `process` dependency
  package.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/ErrorBlock/ErrorBlock.tsx
  packages/hash/frontend/src/components/sandbox/FramedBlock/FramedBlock.tsx
  packages/hash/shared/package.json
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#754 Improve ranking of users in @ mention menu
  packages/hash/frontend/src/blocks/page/createSuggester/MentionSuggester.tsx
  packages/hash/frontend/src/components/hooks/useUsers.ts
  packages/hash/frontend/src/graphql/queries/account.queries.ts
Labels: A-hash, frontend

#768 Fix stacked borrows for new miri version
  packages/libs/error-stack/src/frame/erasable.rs
  packages/libs/error-stack/src/frame/mod.rs
  packages/libs/error-stack/src/frame/vtable.rs
  packages/libs/error-stack/src/iter.rs
Labels: A-error-stack

#767 prevent words from breaking across lines
  packages/hash/frontend/src/blocks/page/style.module.css
Labels: A-hash, frontend

#773 Update CHANGELOG.md
  packages/libs/error-stack/CHANGELOG.md
Labels: A-error-stack

#776 Add badge to `error-stack` readme for required version
  packages/libs/error-stack/README.md
Labels: A-error-stack

#759 Fix multi-entity and multi-line mention insertion
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
Labels: A-hash, frontend

#774 Greatly reduce the usage of `unsafe` code
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/src/compat/anyhow.rs
  packages/libs/error-stack/src/compat/eyre.rs
  packages/libs/error-stack/src/frame/attachment.rs
  packages/libs/error-stack/src/frame/erasable.rs
  packages/libs/error-stack/src/frame/frame_impl.rs
  packages/libs/error-stack/src/frame/mod.rs
  packages/libs/error-stack/src/frame/vtable.rs
Labels: A-error-stack

#721 Introduce 'archived page' banner
  packages/hash/api/src/collab/graphql/queries/page.queries.ts
  packages/hash/api/src/graphql/resolvers/pages/pageProperties.ts
  packages/hash/api/src/graphql/typeDefs/page.typedef.ts
  packages/hash/frontend/src/components/hooks/useArchivePage.ts
  packages/hash/frontend/src/graphql/queries/account.queries.ts
  packages/hash/frontend/src/graphql/queries/page.queries.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/shared/layout.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
  packages/hash/integration/src/graphql/queries/page.queries.ts
  packages/hash/integration/src/tests/integration.test.ts
  packages/hash/shared/src/graphql/createApolloClient.ts
  packages/hash/shared/src/queries/page.queries.ts
Labels: A-hash, api, integration, frontend

#777 Create an extensive test suite
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/Makefile.toml
  packages/libs/error-stack/src/compat/anyhow.rs
  packages/libs/error-stack/src/compat/eyre.rs
  packages/libs/error-stack/src/compat/mod.rs
  packages/libs/error-stack/src/ext/iter.rs
  packages/libs/error-stack/src/ext/mod.rs
  packages/libs/error-stack/src/ext/stream.rs
  packages/libs/error-stack/src/frame/mod.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/macros.rs
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/src/test_helper.rs
  packages/libs/error-stack/tests/common.rs
  packages/libs/error-stack/tests/compiletest.rs
  packages/libs/error-stack/tests/test_attach.rs
  packages/libs/error-stack/tests/test_attach_printable.rs
  packages/libs/error-stack/tests/test_backtrace.rs
  packages/libs/error-stack/tests/test_change_context.rs
  packages/libs/error-stack/tests/test_compatibility.rs
  packages/libs/error-stack/tests/test_conversion.rs
  packages/libs/error-stack/tests/test_debug.rs
  packages/libs/error-stack/tests/test_display.rs
  packages/libs/error-stack/tests/test_downcast.rs
  packages/libs/error-stack/tests/test_frame.rs
  packages/libs/error-stack/tests/test_hooks.rs
  packages/libs/error-stack/tests/test_macros.rs
  packages/libs/error-stack/tests/test_provision.rs
  packages/libs/error-stack/tests/test_span_trace.rs
  packages/libs/error-stack/tests/ui/macro_invalid_args.rs
  packages/libs/error-stack/tests/ui/macro_invalid_args.stderr
  packages/libs/error-stack/tests/ui/must_use.rs
  packages/libs/error-stack/tests/ui/must_use.stderr
Labels: A-error-stack

#780 Improve Rust CI performance (`dev/graph`)
  .github/scripts/rust/Makefile.toml
  .github/workflows/rust.yml
  packages/engine/Makefile.toml
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/datastore/mod.rs
  packages/libs/error-stack/Makefile.toml
Labels: A-engine, A-infra, A-libs

#748 Update glossary definitions
  sites/hashai/resources/glossary/ats.mdx
  sites/hashai/resources/glossary/cms.mdx
  sites/hashai/resources/glossary/crm.mdx
  sites/hashai/resources/glossary/digital-twin.mdx
  sites/hashai/resources/glossary/erp.mdx
  sites/hashai/resources/glossary/fhir.mdx
  sites/hashai/resources/glossary/rpa.mdx
  sites/hashai/resources/glossary/url_map.json
Labels: A-learn

#747 Support related errors in `error-stack`
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/src/compat/anyhow.rs
  packages/libs/error-stack/src/compat/eyre.rs
  packages/libs/error-stack/src/context.rs
  packages/libs/error-stack/src/frame/frame_impl.rs
  packages/libs/error-stack/src/frame/mod.rs
  packages/libs/error-stack/src/iter.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/tests/common.rs
  packages/libs/error-stack/tests/test_attach.rs
  packages/libs/error-stack/tests/test_attach_printable.rs
  packages/libs/error-stack/tests/test_backtrace.rs
  packages/libs/error-stack/tests/test_change_context.rs
  packages/libs/error-stack/tests/test_compatibility.rs
  packages/libs/error-stack/tests/test_debug.rs
  packages/libs/error-stack/tests/test_extend.rs
  packages/libs/error-stack/tests/test_frame.rs
  packages/libs/error-stack/tests/test_iter.rs
  packages/libs/error-stack/tests/test_macros.rs
  packages/libs/error-stack/tests/test_span_trace.rs
Labels: C-enhancement, A-error-stack

#788 Add tracing crate for structured logging
  packages/graph/.gitignore
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/bin/hash_graph/src/args.rs
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/datastore/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/logging/args.rs
  packages/graph/hash_graph/lib/graph/src/logging/init.rs
  packages/graph/hash_graph/lib/graph/src/logging/mod.rs
Labels: C-dependencies

#796 Fix create page playwright test
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockLoaderInput.tsx
  packages/hash/playwright/tests/page-creation.spec.ts
Labels: A-hash, frontend, playwright

#800 Send entity type for root entity to blocks
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/shared/src/entityStore.ts
Labels: A-hash, frontend

#801 Add `*.stage.hash.ai` as valid CORS origin
  packages/hash/api/src/lib/config.ts
Labels: A-hash, api

#772 Add undo and redo actions to text blocks
  packages/hash/shared/src/createProseMirrorState.ts
Labels: A-hash

#810 Cache frontend `.next` folder in CI
  .github/actions/warm-up-repo/action.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/hash-backend-cd.yml
  .github/workflows/labeler.yml
  .github/workflows/sync-algolia-index.yml
Labels: A-infra

#813 Skip Playwright downloads by default to speed up CI
  .github/actions/warm-up-repo/action.yml
  .github/workflows/ci.yml
Labels: A-infra

#812 Add rust-mode workaround for `error-stack` errors
  packages/libs/error-stack/README.md
Labels: A-error-stack

#795 Fix broken Table entity type page
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertyRow.tsx
Labels: A-hash, frontend

#820 Simplify portal implementation, improving performance
  packages/hash/frontend/src/blocks/page/usePortals.tsx
Labels: A-hash, frontend

#819 Basic Constraints on Links in Entity Types
  packages/graph/hash_graph/lib/graph/src/types/schema/array.rs
  packages/graph/hash_graph/lib/graph/src/types/schema/combinator.rs
  packages/graph/hash_graph/lib/graph/src/types/schema/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/types/schema/link.rs
  packages/graph/hash_graph/lib/graph/src/types/schema/mod.rs
  packages/graph/hash_graph/lib/graph/src/types/schema/property_type.rs
  packages/graph/hash_graph/tests/test_data/entity_type/book_v2.json
  packages/graph/hash_graph/tests/test_data/entity_type/building.json
  packages/graph/hash_graph/tests/test_data/entity_type/page.json
  packages/graph/hash_graph/tests/test_data/entity_type/person.json
  packages/graph/hash_graph/tests/test_data/entity_type/playlist.json
Labels: A-backend

#822 Insert type references into the database
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/datastore/mod.rs
  packages/graph/hash_graph/lib/graph/src/datastore/postgres/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: C-dependencies, A-backend

#824 Rename table for consistency
  packages/graph/hash_graph/lib/graph/src/datastore/postgres/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#825 Use new @blockprotocol/graph version
  packages/blocks/callout/package.json
  packages/blocks/code/package.json
  packages/blocks/countdown/package.json
  packages/blocks/drawing/package.json
  packages/blocks/github-pr-overview/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/person/package.json
  packages/blocks/table/package.json
  packages/blocks/timer/package.json
  packages/blocks/video/package.json
  packages/hash/frontend/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#828 Change logging of queries to `Trace`
  packages/graph/hash_graph/lib/graph/src/datastore/mod.rs
  packages/graph/hash_graph/lib/graph/src/datastore/postgres/mod.rs
Labels: A-backend

#827 Add Link Types
  packages/graph/hash_graph/lib/graph/src/datastore/mod.rs
  packages/graph/hash_graph/lib/graph/src/datastore/postgres/database_type.rs
  packages/graph/hash_graph/lib/graph/src/datastore/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/types/schema/entity_type/links.rs
  packages/graph/hash_graph/lib/graph/src/types/schema/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/types/schema/link_type.rs
  packages/graph/hash_graph/lib/graph/src/types/schema/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/entity_type.rs
  packages/graph/hash_graph/tests/integration/postgres/link_type.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/property_type.rs
  packages/graph/hash_graph/tests/test_data/lib.rs
  packages/graph/hash_graph/tests/test_data/link_type/contains.json
  packages/graph/hash_graph/tests/test_data/link_type/friend_of.json
  packages/graph/hash_graph/tests/test_data/link_type/mod.rs
  packages/graph/hash_graph/tests/test_data/link_type/owns_v1.json
  packages/graph/hash_graph/tests/test_data/link_type/owns_v2.json
  packages/graph/hash_graph/tests/test_data/link_type/submitted_by.json
  packages/graph/hash_graph/tests/test_data/link_type/written_by.json
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#806 Remove unsupported block types from swap list
  packages/hash/frontend/src/blocks/page/BlockContext.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockListMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/BlockPortals.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/useFilteredBlocks.tsx
  packages/hash/frontend/src/blocks/page/usePortals.tsx
  packages/hash/frontend/src/components/ErrorBlock/ErrorBlock.tsx
Labels: A-hash, frontend

#831 Add REST endpoint for entity types
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/types/mod.rs
Labels: A-backend

#834 Refactor module layout
  packages/graph/README.md
  packages/graph/hash_graph/bin/hash_graph/src/args.rs
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/api_resource.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/entity_type/links.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/error.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/serde_shared/array.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/serde_shared/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/serde_shared/object.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/serde_shared/one_of.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/uri.rs
  packages/graph/hash_graph/lib/graph/src/store/error.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/database_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/types/mod.rs
  packages/graph/hash_graph/lib/graph/src/types/schema/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#832 Create an account id when running the binary
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/types/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: C-dependencies, A-backend

#833 Add simple manual testing for the REST endpoints
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/README.md
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/migrations/package.json
  yarn.lock
Labels: C-dependencies, A-backend

#839 Run REST endpoint tests in CI
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/README.md
Labels: A-backend

#838 Use URIs in REST endpoints rather the the database id
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#840 Add `Entity` type to the Graph API
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/tests/test_data/entity/address.json
  packages/graph/hash_graph/tests/test_data/entity/block.json
  packages/graph/hash_graph/tests/test_data/entity/book.json
  packages/graph/hash_graph/tests/test_data/entity/building.json
  packages/graph/hash_graph/tests/test_data/entity/mod.rs
  packages/graph/hash_graph/tests/test_data/entity/organization.json
  packages/graph/hash_graph/tests/test_data/entity/page.json
  packages/graph/hash_graph/tests/test_data/entity/person.json
  packages/graph/hash_graph/tests/test_data/entity/playlist.json
  packages/graph/hash_graph/tests/test_data/entity/song.json
  packages/graph/hash_graph/tests/test_data/lib.rs
Labels: A-backend

#837 Return ALL types when selecting possible values or creating new entities
  packages/hash/api/src/db/adapter.ts
  packages/hash/api/src/db/postgres/entitytypes.ts
  packages/hash/api/src/graphql/resolvers/entityType/getAccountEntityTypes.ts
  packages/hash/api/src/graphql/typeDefs/entityType.typedef.ts
  packages/hash/api/src/model/entityType.model.ts
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertyTypeList.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolAggregateEntityTypes.ts
  packages/hash/frontend/src/components/hooks/useGetAllEntityTypes.ts
  packages/hash/frontend/src/graphql/queries/account.queries.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/new.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  packages/hash/integration/src/mockData/accounts.ts
  packages/hash/integration/src/mockData/entityTypes.ts
  packages/hash/integration/src/mockData/index.ts
Labels: A-hash, api, integration, frontend, A-backend

#846 Adding missing Python dependency
  packages/engine/lib/execution/src/runner/python/requirements.txt
Labels: A-engine

#843 Implement CRU operations on database for entities
  packages/graph/hash_graph/lib/graph/src/store/error.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/entity_type.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/property_type.rs
  packages/graph/hash_graph/tests/test_data/entity/mod.rs
  packages/graph/hash_graph/tests/test_data/entity/page_v1.json
  packages/graph/hash_graph/tests/test_data/entity/page_v2.json
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#845 Implement REST endpoints for entity API
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#848 Add timeout for Collab position polling
  packages/hash/api/src/collab/collabApp.ts
  packages/hash/frontend/src/blocks/page/collab/useCollabPositions.ts
Labels: A-hash, api, frontend

#849 Enable `reportUnusedDisableDirectives` in `.eslintrc.json`
  .eslintrc.json
  packages/blocks/callout/package.json
  packages/blocks/divider/package.json
  packages/blocks/embed/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/table/package.json
  packages/blocks/video/package.json
  packages/hash/README.md
  packages/hash/api/package.json
  packages/hash/api/src/auth/passport/index.ts
  packages/hash/design-system/package.json
  packages/hash/eslint-config/package.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/createSuggester/Suggester.tsx
  packages/hash/frontend/src/components/forms/Checkbox.tsx
  packages/hash/frontend/src/shared/ui/button.tsx
  packages/hash/integration/package.json
  packages/hash/shared/package.json
  sites/hashdev/package.json
  sites/hashdev/src/components/TextField.tsx
  sites/hashdev/src/pages/api/subscribe.page.ts
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend, A-blocks

#850 Remove `Store` bounds
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/api_resource.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
Labels: A-backend

#853 Pin `cargo quickinstall` versions
  .github/workflows/rust.yml
Labels: A-infra

#854 Pin `cargo quickinstall` versions (dev/graph)
  .github/workflows/rust.yml
Labels: A-infra

#852 Split out entities composite primary key in anticipation for links
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#856 Escape less-thans in entities glossary mdx
  sites/hashai/resources/glossary/entities.mdx
Labels: A-learn

#855 Use tokio-postgres instead of SQLx
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/types/uri.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/pool.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/pool.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: C-dependencies, A-backend

#859 Bump block-scripts to 0.0.14
  packages/blocks/calculation/package.json
  packages/blocks/callout/package.json
  packages/blocks/chart/package.json
  packages/blocks/code/package.json
  packages/blocks/countdown/package.json
  packages/blocks/divider/package.json
  packages/blocks/drawing/package.json
  packages/blocks/embed/package.json
  packages/blocks/github-pr-overview/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/stopwatch/package.json
  packages/blocks/table/package.json
  packages/blocks/timer/package.json
  packages/blocks/toggle-item/package.json
  packages/blocks/video/package.json
  yarn.lock
Labels: C-dependencies, A-blocks

#858 Change `get` methods to take a shared reference
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
Labels: A-backend

#866 Pin cargo tool versions for `cargo make`
  .github/scripts/rust/Makefile.toml
Labels: A-infra

#867 Pin cargo tool versions for `cargo make` (dev/graph)
  .github/scripts/rust/Makefile.toml
  packages/graph/hash_graph/Makefile.toml
Labels: A-infra, A-backend

#863 Add `Link`s between entities to the Graph `Store`
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/store/error.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/test_data/entity/mod.rs
  packages/graph/hash_graph/tests/test_data/entity/person_a.json
  packages/graph/hash_graph/tests/test_data/entity/person_b.json
  packages/graph/hash_graph/tests/test_data/entity/person_c.json
  packages/graph/hash_graph/tests/test_data/link_type/acquaintance_of.json
  packages/graph/hash_graph/tests/test_data/link_type/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#874 Fix generic arguments when requesting from a `Provider`
  packages/libs/error-stack/src/report.rs
Labels: A-error-stack

#862 Make dev postgres db more extensible
  packages/graph/.env
  packages/graph/Makefile.toml
  packages/graph/README.md
  packages/graph/deployment/docker-compose.yml
  packages/graph/deployment/postgres/init-user-db.sh
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/migrations/package.json
  packages/graph/migrations/postgres/scripts/environment.ts
  packages/graph/migrations/postgres/scripts/recreate-db.ts
  packages/graph/migrations/postgres/scripts/recreate-graph-db.ts
  packages/graph/migrations/postgres/scripts/run-schema-migrations.ts
  patches/node-pg-migrate+6.2.2.patch
  yarn.lock
Labels: C-dependencies, A-backend

#871 Add REST CRU routes for Links
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#864 Implement a generic interface for Read operations
  packages/graph/hash_graph/lib/graph/src/api/rest/api_resource.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/read.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#869 Implement a store-reader to read types from URIs directly
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/read.rs
  packages/graph/hash_graph/tests/integration/postgres/data_type.rs
  packages/graph/hash_graph/tests/integration/postgres/entity_type.rs
  packages/graph/hash_graph/tests/integration/postgres/link_type.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/property_type.rs
Labels: A-backend

#876 Rename REST endpoints to plural names
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#875 Separate `Store` into smaller chunks
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/database_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/property_type/mod.rs
Labels: A-backend

#835 Shuffle Block
  packages/blocks/shuffle/.eslintrc.js
  packages/blocks/shuffle/README.md
  packages/blocks/shuffle/package.json
  packages/blocks/shuffle/public/preview.png
  packages/blocks/shuffle/public/shuffle.svg
  packages/blocks/shuffle/src/components/item-list.tsx
  packages/blocks/shuffle/src/components/item.tsx
  packages/blocks/shuffle/src/components/sortable-item.tsx
  packages/blocks/shuffle/src/dev.tsx
  packages/blocks/shuffle/src/index.ts
  packages/blocks/shuffle/src/shuffle.tsx
  packages/blocks/shuffle/tsconfig.json
  yarn.lock
Labels: C-dependencies, A-blocks

#881 Shuffle block improvements
  packages/blocks/shuffle/package.json
Labels: A-blocks
