Repository hashintel/hash, pull requests merged in 2022-12, with the labels that each got.

#1555 Persist the current workspace in local storage
  packages/hash/frontend/src/blocks/page/Comments/CommentTextField.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/MentionSuggester.tsx
  packages/hash/frontend/src/lib/config.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/index.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/shared/white-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/entity-type-tabs.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/tabs/entities-tab.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-route-namespace.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new/entity-type.page.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/shared/workspace-context.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  packages/hash/frontend/src/shared/routing/route-account-info.tsx
Labels: A-hash, frontend

#1564 Use `next/link` to redirect to the entity's type in the entity editor
  packages/hash/frontend/src/pages/[account-slug]/shared/white-card.tsx
Labels: A-hash, frontend

#1533 New entity type flow improvements (follow up)
  packages/hash/frontend/src/components/hooks/useAuthenticatedUser.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/new-entity-page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/shared/use-create-new-entity-and-redirect.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/new.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/new/entity.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/new/types/entity-type.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/entity-type-tabs.tsx
  packages/hash/frontend/src/pages/index.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-menu.tsx
Labels: A-hash, frontend

#1529 Remove developer information from the homepage
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/frontend/src/components/hooks/useUpdateAuthenticatedUser.ts
  packages/hash/frontend/src/lib/user.ts
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/index.page.tsx
  packages/hash/frontend/src/pages/login.page.tsx
  packages/hash/frontend/src/pages/login.test.tsx
  packages/hash/frontend/src/pages/signup.page.tsx
  packages/hash/frontend/src/testUtils/mockUseAuthenticatedUser.ts
Labels: A-hash, api, frontend

#1566 Update image block to use the hook service. Twind as block dep, not peer dep
  blocks/embed/package.json
  blocks/image/package.json
  blocks/image/src/components/media.tsx
  blocks/image/src/image.tsx
  blocks/table/package.json
  blocks/video/package.json
Labels: A-blocks

#1521 Support inline property type editing in the entity type editor
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/insert-property-row.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entities-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entity-type.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-property-types.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/util.ts
Labels: A-hash, frontend

#1562 Add "Create Entity" button to navbar create dropdown
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
Labels: A-hash, frontend

#1570 Fixes for hosted instance
  packages/hash/frontend/src/pages/api/ory/[...paths].api.ts
Labels: A-hash, frontend

#1561 fix resolving comments in org workspaces
  packages/hash/api/src/model/knowledge/comment.model.ts
  packages/hash/frontend/src/blocks/page/Comments/CommentThread.tsx
Labels: A-hash, api, frontend

#1513 Array property type creation
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/array-property-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/autocomplete-dropdown.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/custom-property-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/data-type-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-selector-dropdown.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-utils.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/type-list-selector-dropdown.tsx
  packages/hash/frontend/src/shared/icons/pro/fa-cube.tsx
Labels: A-hash, frontend

#1573 Reset the active workspace on login/logout and when local storage has unexpected value
  packages/hash/frontend/src/components/hooks/useLogoutFlow.ts
  packages/hash/frontend/src/lib/config.ts
  packages/hash/frontend/src/pages/login.page.tsx
  packages/hash/frontend/src/pages/shared/workspace-context.tsx
Labels: A-hash, frontend

#1540 Entity editor links table design & functionality
  apps/hashdotdev/package.json
  packages/hash/design-system/package.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/components/grid/utils/custom-grid-icons.ts
  packages/hash/frontend/src/components/grid/utils/draw-cell-fade-out-gradient.ts
  packages/hash/frontend/src/components/grid/utils/use-grid-tooltip/draw-interactable-tooltip-icons.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/link-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-with-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/constants.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/chip-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/property-name-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/summary-chip-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-on-cell-edited.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/hash-selector-autocomplete.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/type-list-selector-dropdown.tsx
  patches/@glideapps+glide-data-grid+5.1.4.patch
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1572 Property type form submission fix, autocomplete improvements
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/data-type-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-form.tsx
Labels: A-hash, frontend

#1563 Array property type UX improvements
  packages/hash/design-system/src/theme-override.d.ts
  packages/hash/design-system/src/theme/palette.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/array-data-type-child.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/array-data-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/array-property-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/custom-data-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/data-type-badge.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/data-type-selector-dropdown.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/data-type-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/expected-value-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-utils.ts
  packages/hash/frontend/src/shared/icons/pro/fa-cubes.tsx
Labels: A-hash, frontend

#1574 Remove `satisfies` keyword
  packages/hash/frontend/src/components/grid/utils.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
Labels: A-hash, frontend

#1577 Avoid more unneeded queries
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-backend

#1575 Frontend fixes: Formatting buttons. User mention caching. Entity labels
  packages/hash/frontend/src/blocks/page/MentionView/MentionDisplay.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/MarksTooltip.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entities-table.tsx
Labels: A-hash, frontend

#1578 Fix dependency resolution
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-backend

#1579 Creating Array Data Types UX improvements
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/array-data-type-child.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/array-data-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/data-type-badge.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/data-type-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-utils.ts
Labels: A-hash, frontend

#1576 MVP profile page
  packages/hash/design-system/src/avatar.tsx
  packages/hash/frontend/src/pages/[account-slug]/index.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/profile-page.tsx
  packages/hash/frontend/src/shared/readonly-mode.tsx
Labels: A-hash, frontend

#1580 Entity namespaces / page titles / UX tweaks
  packages/hash/frontend/src/components/hooks/useGetOwnerForEntity.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/new-entity-page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/hash-selector-autocomplete.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entities-table.tsx
Labels: A-hash, frontend

#1581 Property type array expected value badges in entity type editor
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/expected-value-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-expected-values.tsx
Labels: A-hash, frontend

#1583 Bump axum to 0.6.1
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
Labels: C-dependencies, A-backend

#1511 Simplify `Read` trait and consistently use `*WithMetadata` for trait filters
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/kind.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/query.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
Labels: A-backend

#1591 Rename link order fields
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/linkEntity.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolUpdateEntity.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/subgraph/src/types/element.ts
Labels: A-hash, api, frontend, A-backend

#1582 Avoid unnecessary lookups and traversals in Subgraph generation
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/vertices/vertex.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1597 Add section on formatting to `Report`
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/tests/snapshots/doc/report_debug__doc.snap
  packages/libs/error-stack/tests/snapshots/doc/report_display__doc.snap
  packages/libs/error-stack/tests/snapshots/doc/report_display_alt__doc.snap
Labels: A-error-stack

#1515 `deer` allow recursive `Schema` definitions
  packages/libs/deer/Cargo.toml
  packages/libs/deer/src/error/mod.rs
  packages/libs/deer/src/error/serialize.rs
  packages/libs/deer/src/error/type.rs
  packages/libs/deer/src/error/value.rs
  packages/libs/deer/src/lib.rs
  packages/libs/deer/src/schema.rs
Labels: A-deer

#1594 Remove shortname from new entity type / new entity routes and reintroduce entity type list
  packages/hash/frontend/src/lib/get-owned-by-id.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-with-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-page-wrapper.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/new-entity-page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/shared/use-create-new-entity-and-redirect.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/entity-type-tabs.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/multiple-values-cell.tsx
  packages/hash/frontend/src/pages/new/entity.page.tsx
  packages/hash/frontend/src/pages/new/types/entity-type.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-item.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  packages/hash/frontend/src/shared/use-frozen-value.ts
  packages/hash/playwright/tests/entity-type-creation.spec.ts
Labels: A-hash, frontend, playwright

#1593 Generate property table rows using entity type schema
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/get-property-count-summary.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/flatten.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity/generate-property-row-recursively.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/shared/use-create-new-entity-and-redirect.ts
Labels: A-hash, frontend

#1605 Array property type deletion confirmation modal
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/array-data-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/delete-data-type-modal.tsx
Labels: A-hash, frontend

#1607 Edit Bar on Entity Type Editor shouldn't scroll entire page when animating
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/edit-bar.tsx
  packages/hash/frontend/src/shared/edit-bar-scroller.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar.tsx
Labels: A-hash, frontend

#1608 Add `--report-unused-disable-directives` to `lint:eslint`
  apps/hashdotai/package.json
  apps/hashdotdev/package.json
  blocks/calculation/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/drawing/package.json
  blocks/embed/package.json
  blocks/github-pr-overview/package.json
  blocks/header/package.json
  blocks/image/package.json
  blocks/paragraph/package.json
  blocks/person/package.json
  blocks/shuffle/package.json
  blocks/stopwatch/package.json
  blocks/table/package.json
  blocks/timer/package.json
  blocks/toggle-item/package.json
  blocks/video/package.json
  libs/javascript/@local/eslint-config/package.json
  packages/graph/migrations/package.json
  packages/hash/api/package.json
  packages/hash/backend-utils/package.json
  packages/hash/design-system/package.json
  packages/hash/frontend/package.json
  packages/hash/integration/package.json
  packages/hash/playwright/package.json
  packages/hash/realtime/package.json
  packages/hash/search-loader/package.json
  packages/hash/shared/package.json
  packages/hash/subgraph/package.json
  packages/hash/task-executor/package.json
Labels: A-hash, api, integration, frontend, search-loader, playwright, A-blocks, realtime, A-backend

#1471 Remove `twind` from HASH frontend
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenuUtils.ts
  packages/hash/frontend/src/blocks/page/CollabPositionIndicator.tsx
  packages/hash/frontend/src/blocks/page/CollabPositionIndicators.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/LinkModal.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/MarksTooltip.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/index.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/BlockSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/MentionSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/Suggester.tsx
  packages/hash/frontend/src/components/Dropdowns/Dropdown.tsx
  packages/hash/frontend/src/components/ErrorBlock/ErrorBlock.tsx
  packages/hash/frontend/src/components/forms/InputLabelWrapper.tsx
  packages/hash/frontend/src/components/forms/SelectInput.tsx
  packages/hash/frontend/src/components/forms/TagsInput.tsx
  packages/hash/frontend/src/components/forms/TextInput.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/_document.page.tsx
  packages/hash/frontend/src/pages/shared/auth-layout.tsx
  packages/hash/frontend/src/pages/shared/auth-modal-layout.tsx
  packages/hash/frontend/src/pages/shared/invite-header.tsx
  packages/hash/frontend/src/pages/shared/verify-code.tsx
  packages/hash/frontend/src/pages/signup.page/account-setup-form.tsx
  packages/hash/frontend/src/pages/signup.page/account-usage.tsx
  packages/hash/frontend/src/pages/signup.page/signup-intro.tsx
  packages/hash/frontend/tailwind.config.js
  packages/hash/frontend/twind.config.js
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1609 Upgrade to next 13
  apps/hashdotdev/package.json
  apps/hashdotdev/src/components/BlogPost.tsx
  apps/hashdotdev/src/components/Button.tsx
  apps/hashdotdev/src/components/Link.tsx
  apps/hashdotdev/src/components/Logo.tsx
  apps/hashdotdev/src/components/MdxImage.tsx
  apps/hashdotdev/src/components/MdxTalkSlide.tsx
  apps/hashdotdev/src/pages/blog/index.page.tsx
  apps/hashdotdev/src/pages/index.page.tsx
  packages/hash/frontend/next.config.js
  packages/hash/frontend/package.json
  packages/hash/frontend/src/pages/[account-slug]/shared/hash-ontology-icon.tsx
  packages/hash/frontend/src/shared/ui/button.tsx
  packages/hash/frontend/src/shared/ui/link.tsx
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1598 Clarify entity UUID
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
Labels: A-hash, api

#1596 Create system types in system org, remove nil UUID
  .env
  packages/hash/api/src/auth/index.ts
  packages/hash/api/src/graph/index.ts
  packages/hash/api/src/graph/system-entities.ts
  packages/hash/api/src/graph/system-types.ts
  packages/hash/api/src/graph/system-user.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/page.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/model/knowledge/hashInstance.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/util.ts
  packages/hash/api/src/model/util.ts
  packages/hash/api/src/seed-data/index.ts
  packages/hash/api/src/seed-data/seed-users.ts
  packages/hash/docker/frontend/prod/Dockerfile
  packages/hash/external-services/docker-compose.prod.yml
  packages/hash/frontend/next.config.js
  packages/hash/frontend/src/blocks/page/MentionView/MentionDisplay.tsx
  packages/hash/frontend/src/components/hooks/useGetAccountIdForShortname.ts
  packages/hash/frontend/src/components/hooks/useGetOwnerForEntity.ts
  packages/hash/frontend/src/lib/get-owned-by-id.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/shared/use-create-new-entity-and-redirect.ts
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/comment.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/hashInstance.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/linkEntity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/org.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/orgMembership.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/page.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/integration/src/tests/util.ts
  packages/hash/shared/src/environment.ts
  packages/hash/shared/src/types.ts
Labels: A-hash, api, integration, frontend, docker

#1600 Consistently require `ownedById` for hooks
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolCreateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreatePropertyType.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-with-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/new-entity-page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/shared/use-create-new-entity-and-redirect.ts
  packages/hash/frontend/src/pages/new/entity.page.tsx
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
Labels: A-hash, frontend

#1599 Create database structure for temporal versioning
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1604 Support creation of entities
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/provenance.rs
  packages/graph/hash_graph/lib/graph/src/store/error.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
Labels: A-backend

#1619 Move workspace homepage to `/`
  packages/hash/frontend/src/pages/[account-slug]/index.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/profile-page.tsx
  packages/hash/frontend/src/pages/index.page.tsx
  packages/hash/frontend/src/pages/login.page.tsx
  packages/hash/frontend/src/pages/new/types/entity-type.page.tsx
  packages/hash/frontend/src/pages/signup.page.tsx
  packages/hash/frontend/src/pages/signup.page/signup-intro.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/page-header.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
Labels: A-hash, frontend

#1613 Custom property type creation styles
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/custom-data-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/custom-data-type-menu/array-data-type-menu.tsx
Labels: A-hash, frontend

#1621 Remove validateVersionedUri from json type middleware
  packages/hash/frontend/src/middleware/return-types-as-json.ts
  packages/hash/frontend/src/middleware/return-types-as-json/generate-query-args.ts
Labels: A-hash, frontend

#1614 Support link arrays on links table at entity editor page
  packages/hash/frontend/src/components/grid/utils/draw-cell-fade-out-gradient.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/link-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor/linked-entity-list-row.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor/max-items-reached.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-with-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/sort-link-and-target-entities.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/add-another-button.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/row-action.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/sortable-row.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/value-chip.tsx
Labels: A-hash, frontend

#1623 Rename `Grid`, `PropertyTable`, `LinkTable` related variables/ files
  packages/hash/frontend/src/components/grid/grid.tsx
  packages/hash/frontend/src/components/grid/utils/interactable-manager.ts
  packages/hash/frontend/src/components/grid/utils/interactable-manager/utils.ts
  packages/hash/frontend/src/components/grid/utils/override-custom-renderers.tsx
  packages/hash/frontend/src/components/grid/utils/sorting.ts
  packages/hash/frontend/src/components/grid/utils/use-draw-header.ts
  packages/hash/frontend/src/components/grid/utils/use-grid-tooltip.tsx
  packages/hash/frontend/src/components/grid/utils/use-grid-tooltip/draw-interactable-tooltip-icons.ts
  packages/hash/frontend/src/components/grid/utils/use-grid-tooltip/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-rows.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/property-name-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/boolean-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/number-or-string-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/fill-row-indent-calculations.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/get-tooltips-of-property-row.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-on-cell-edited.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/get-expected-types-of-property-type.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/entities-tab.tsx
Labels: A-hash, frontend

#1632 Temporal versioning: Fix `owned_by_id` not included in GiST
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1526 `deer` implement `Deserialize` context
  packages/libs/deer/src/context.rs
  packages/libs/deer/src/lib.rs
Labels: A-deer

#1606 Temporal versioning: Support updating of entities
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/error.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1618 Temporal versioning: Rename `system_time` to `transaction_time`
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1624 Temporal versioning: Use newtypes for timestamps and timespans
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: C-dependencies, A-backend

#1626 Temporal versioning: Support selecting of entities
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1638 Fix Playwright tests
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/playwright/tests/page-creation.spec.ts
Labels: A-hash, frontend, playwright

#1629 Temporal versioning: Fix unit tests
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
Labels: A-backend

#1630 Temporal versioning: Fix integration tests
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1620 Terraform deployment modules
  .gitignore
  .markdownlintignore
  .prettierignore
  README.md
  infra/README.md
  infra/terraform/README.md
  infra/terraform/hash/bastion_install_postgres.sh
  infra/terraform/hash/main.tf
  infra/terraform/hash/outputs.tf
  infra/terraform/hash/prod-usea1.tfvars
  infra/terraform/hash/ssh_bastion.sh
  infra/terraform/hash/terraform.tf
  infra/terraform/hash/variables.tf
  infra/terraform/modules/bastion/README.md
  infra/terraform/modules/bastion/bastion.tf
  infra/terraform/modules/bastion/main.tf
  infra/terraform/modules/bastion/output.tf
  infra/terraform/modules/bastion/variables.tf
  infra/terraform/modules/container_cluster/main.tf
  infra/terraform/modules/container_cluster/outputs.tf
  infra/terraform/modules/container_cluster/variables.tf
  infra/terraform/modules/container_registry/main.tf
  infra/terraform/modules/container_registry/outputs.tf
  infra/terraform/modules/container_registry/variables.tf
  infra/terraform/modules/hash_application/api.tf
  infra/terraform/modules/hash_application/graph.tf
  infra/terraform/modules/hash_application/kratos.tf
  infra/terraform/modules/hash_application/main.tf
  infra/terraform/modules/hash_application/variables.tf
  infra/terraform/modules/networking/main.tf
  infra/terraform/modules/networking/outputs.tf
  infra/terraform/modules/networking/variables.tf
  infra/terraform/modules/postgres/main.tf
  infra/terraform/modules/postgres/outputs.tf
  infra/terraform/modules/postgres/postgres.tf
  infra/terraform/modules/postgres/restore_db_snapshot.sh
  infra/terraform/modules/postgres/variables.tf
  infra/terraform/modules/postgres_roles/main.tf
  infra/terraform/modules/postgres_roles/postgres_roles.tf
  infra/terraform/modules/postgres_roles/variables.tf
  infra/terraform/modules/redis/main.tf
  infra/terraform/modules/redis/outputs.tf
  infra/terraform/modules/redis/variables.tf
  infra/terraform/modules/tunnel/main.tf
  infra/terraform/modules/tunnel/output.tf
  infra/terraform/modules/tunnel/ssh_tunnel.sh
  infra/terraform/modules/tunnel/variables.tf
  infra/terraform/modules/variables/main.tf
  infra/terraform/modules/variables/output.tf
  infra/terraform/modules/variables/variables.tf
  packages/hash/external-services/docker-compose.prod.yml
  packages/hash/external-services/docker-compose.yml
  packages/hash/external-services/kratos/Dockerfile
  packages/hash/external-services/kratos/kratos.prod.yml
Labels: A-hash, A-infra

#1631 Temporal versioning: Fix benchmark seeding logic
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
Labels: A-backend

#1640 Expose `EntityRecordId` as `"recordId"`
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
Labels: A-backend

#1642 Remove the frontend unit tests
  package.json
  packages/hash/frontend/jest.config.cjs
  packages/hash/frontend/jest.setup.ts
  packages/hash/frontend/package.json
  packages/hash/frontend/src/pages/__mocks__/signup.mock.ts
  packages/hash/frontend/src/pages/login.test.tsx
  packages/hash/frontend/src/pages/signup.test.tsx
  packages/hash/frontend/src/testUtils/mockTypeSystem.ts
  packages/hash/frontend/src/testUtils/mockUseAuthenticatedUser.ts
  packages/hash/frontend/src/testUtils/mockUseRouter.ts
  packages/hash/frontend/src/testUtils/testUtils.tsx
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, frontend

#1625 Remove unused dependencies
  apps/hashdotai/package.json
  apps/hashdotdev/package.json
  blocks/drawing/package.json
  blocks/header/package.json
  blocks/image/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  packages/graph/migrations/package.json
  packages/hash/api/package.json
  packages/hash/backend-utils/package.json
  packages/hash/design-system/package.json
  packages/hash/frontend/package.json
  packages/hash/integration/package.json
  packages/hash/realtime/package.json
  packages/hash/search-loader/package.json
  packages/hash/shared/package.json
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend, search-loader, A-blocks, realtime, A-backend

#1639 Enable `unicron/filename-case` and `canonical/filename-no-index` in most workspaces
  apps/hashdotdev/.eslintrc.cjs
  apps/hashdotdev/src/theme/components/index.ts
  apps/hashdotdev/src/theme/index.ts
  blocks/calculation/src/index.ts
  blocks/callout/src/index.ts
  blocks/chart/src/index.ts
  blocks/code/src/index.ts
  blocks/countdown/src/index.ts
  blocks/divider/src/index.ts
  blocks/drawing/src/index.ts
  blocks/embed/src/index.ts
  blocks/github-pr-overview/src/index.ts
  blocks/github-pr-overview/src/overview/index.tsx
  blocks/github-pr-overview/src/pull-request-selector/index.tsx
  blocks/github-pr-overview/src/timeline/index.tsx
  blocks/header/src/index.ts
  blocks/image/src/index.ts
  blocks/paragraph/src/index.ts
  blocks/person/src/index.ts
  blocks/shuffle/src/index.ts
  blocks/stopwatch/src/index.ts
  blocks/table/src/index.ts
  blocks/timer/src/index.ts
  blocks/toggle-item/src/index.ts
  blocks/video/src/index.ts
  libs/javascript/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  packages/graph/migrations/.eslintrc.cjs
  packages/hash/api/.eslintrc.cjs
  packages/hash/backend-utils/src/pg-tables.ts
  packages/hash/backend-utils/src/realtime.ts
  packages/hash/design-system/.eslintrc.cjs
  packages/hash/frontend/.eslintrc.cjs
  packages/hash/frontend/src/blocks/page/createFormatPlugins/index.tsx
  packages/hash/frontend/src/components/sandbox/FramedBlock/index.tsx
  packages/hash/integration/src/tests/email.test.ts
  packages/hash/integration/src/tests/integration.test.ts
  packages/hash/integration/src/tests/load-test-env.ts
  packages/hash/integration/src/tests/model/aggregation.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/hash-instance.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link-entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/org-membership.model.test.ts
  packages/hash/realtime/src/index.ts
  packages/hash/search-loader/src/index.ts
  packages/hash/search-loader/src/search-loader.ts
  packages/hash/shared/.eslintrc.cjs
  packages/hash/subgraph/src/index.ts
  packages/hash/task-executor/src/airbyte/executor.ts
  packages/hash/task-executor/src/airbyte/temp-io.ts
  packages/hash/task-executor/src/index.ts
  packages/hash/task-executor/src/tasks/source-github/index.ts
Labels: A-hash, api, integration, frontend, search-loader, A-blocks, realtime, A-backend

#1610 Implement temporal versioning in the Graph
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/provenance.rs
  packages/graph/hash_graph/lib/graph/src/store/error.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: C-dependencies, A-backend

#1633 Bump Rust toolchain for the Graph API
  .github/scripts/rust/Makefile.toml
  packages/engine/Makefile.toml
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/mod.rs
  packages/graph/hash_graph/bench/benches/util.rs
  packages/graph/hash_graph/rust-toolchain.toml
  packages/libs/deer/Makefile.toml
  packages/libs/error-stack/Makefile.toml
Labels: A-engine, A-infra, A-error-stack, A-backend, A-deer

#1478 `deer-json` initial implementation
  packages/libs/deer/Cargo.toml
  packages/libs/deer/Makefile.toml
  packages/libs/deer/json/Cargo.toml
  packages/libs/deer/json/src/error.rs
  packages/libs/deer/json/src/lib.rs
  packages/libs/deer/src/error/serialize.rs
  packages/libs/deer/src/lib.rs
  packages/libs/deer/src/number.rs
Labels: A-deer

#1615 Array property type creation UX improvements
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form-values.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/custom-data-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/custom-data-type-menu/array-data-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/custom-data-type-menu/array-data-type-menu/delete-data-type-modal.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/shared/expected-values-options.ts
Labels: A-hash, frontend

#1616 Remove `twind` dependency from frontend
  packages/hash/frontend/block.dependencies.ts
  packages/hash/frontend/package.json
Labels: A-hash, frontend

#1617 Disable Tailwind preflight in blocks
  blocks/embed/src/app.tsx
  blocks/embed/src/components/edit-view.tsx
  blocks/embed/src/dev.tsx
  blocks/image/src/components/error-alert.tsx
  blocks/image/src/components/media-with-caption.tsx
  blocks/image/src/components/upload-media-form.tsx
  blocks/image/src/image.tsx
  blocks/table/src/components/entity-type-dropdown.tsx
  blocks/table/src/components/menu.tsx
  blocks/table/src/components/pagination.tsx
  blocks/table/src/lib/omit-typename-deep.ts
  blocks/table/src/table.tsx
  blocks/video/src/components/error-alert.tsx
  blocks/video/src/components/media-with-caption.tsx
  blocks/video/src/components/media.tsx
  blocks/video/src/components/upload-media-form.tsx
  blocks/video/src/video.tsx
Labels: A-blocks

#1635 Upgrade kratos to v0.11.0
  packages/hash/api/package.json
  packages/hash/api/src/auth/index.ts
  packages/hash/api/src/auth/ory-kratos.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/external-services/kratos/Dockerfile
  packages/hash/external-services/kratos/kratos.dev.yml
  packages/hash/external-services/kratos/kratos.prod.yml
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/hooks/useLogoutFlow.ts
  packages/hash/frontend/src/pages/login.page.tsx
  packages/hash/frontend/src/pages/shared/ory-kratos.ts
  packages/hash/frontend/src/pages/signup.page.tsx
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend

#1643 Three year sessions for kratos
  packages/hash/external-services/kratos/kratos.dev.yml
  packages/hash/external-services/kratos/kratos.prod.yml
Labels: A-hash

#1637 Fetch `authenticatedUser` server-side in Next.js
  packages/hash/frontend/src/blocks/page/Comments/CommentBlock.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentThread.tsx
  packages/hash/frontend/src/components/hooks/useAuthenticatedUser.ts
  packages/hash/frontend/src/components/hooks/useUpdateAuthenticatedUser.ts
  packages/hash/frontend/src/lib/apollo-client.ts
  packages/hash/frontend/src/lib/config.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/_app.page/session-provider.tsx
  packages/hash/frontend/src/pages/api/ory/[...paths].api.ts
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/frontend/src/pages/index.page.tsx
  packages/hash/frontend/src/pages/login.page.tsx
  packages/hash/frontend/src/pages/new/entity.page.tsx
  packages/hash/frontend/src/pages/shared/_app.util.ts
  packages/hash/frontend/src/pages/shared/auth-info-context.tsx
  packages/hash/frontend/src/pages/shared/ory-kratos.ts
  packages/hash/frontend/src/pages/shared/sentry.ts
  packages/hash/frontend/src/pages/shared/session-context.tsx
  packages/hash/frontend/src/pages/shared/workspace-context.tsx
  packages/hash/frontend/src/pages/signup.page.tsx
  packages/hash/frontend/src/pages/signup.page/signup-intro.tsx
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/page-header.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/search-bar.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  packages/hash/frontend/src/shared/readonly-mode.tsx
  packages/hash/shared/src/environment.ts
Labels: A-hash, frontend

#1649 Initial shared type definitions
  packages/hash/api/src/graph/system-types.ts
  packages/hash/api/src/graph/system-user.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/before-update-entity-hooks.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/frontend/src/blocks/page/Comments/CommentBlock.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentThread.tsx
  packages/hash/frontend/src/components/hooks/useHashInstance.ts
  packages/hash/frontend/src/components/hooks/useOrgs.ts
  packages/hash/frontend/src/components/hooks/useUpdateAuthenticatedUser.ts
  packages/hash/frontend/src/components/hooks/useUsers.ts
  packages/hash/frontend/src/lib/org.ts
  packages/hash/frontend/src/lib/user.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/number-or-string-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-expected-values.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/custom-data-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/custom-data-type-menu/array-data-type-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/shared/expected-values-options.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/shared/data-type-options.ts
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/frontend/src/pages/new/types/entity-type.page.tsx
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link-entity.model.test.ts
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/ontology-types.ts
  packages/hash/shared/src/types.ts
Labels: A-hash, api, integration, frontend

#1648 Local kratos email verification with mailslurper
  packages/hash/README.md
  packages/hash/api/src/auth/index.ts
  packages/hash/api/src/email/index.ts
  packages/hash/api/src/email/transporters/DummyEmailTransporter.ts
  packages/hash/external-services/kratos/Dockerfile
  packages/hash/external-services/kratos/kratos.dev.yml
  packages/hash/external-services/kratos/kratos.prod.yml
  packages/hash/external-services/kratos/templates/otp/sms.body.gotmpl
  packages/hash/external-services/kratos/templates/recovery/invalid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/recovery/invalid/email.body.plaintext.gotmpl
  packages/hash/external-services/kratos/templates/recovery/invalid/email.subject.gotmpl
  packages/hash/external-services/kratos/templates/recovery/valid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/recovery/valid/email.body.plaintext.gotmpl
  packages/hash/external-services/kratos/templates/recovery/valid/email.subject.gotmpl
  packages/hash/external-services/kratos/templates/recovery_code/invalid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/recovery_code/invalid/email.body.plaintext.gotmpl
  packages/hash/external-services/kratos/templates/recovery_code/invalid/email.subject.gotmpl
  packages/hash/external-services/kratos/templates/recovery_code/valid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/recovery_code/valid/email.body.plaintext.gotmpl
  packages/hash/external-services/kratos/templates/recovery_code/valid/email.subject.gotmpl
  packages/hash/external-services/kratos/templates/verification_code/invalid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/verification_code/invalid/email.body.plaintext.gotmpl
  packages/hash/external-services/kratos/templates/verification_code/invalid/email.subject.gotmpl
  packages/hash/external-services/kratos/templates/verification_code/valid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/verification_code/valid/email.body.plaintext.gotmpl
  packages/hash/external-services/kratos/templates/verification_code/valid/email.subject.gotmpl
  packages/hash/frontend/src/pages/shared/ory-kratos.ts
  packages/hash/frontend/src/pages/verification.page.tsx
Labels: A-hash, api, frontend

#1656 Fix decision time not selected on all entity tables
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
Labels: A-backend

#1653 Update to new type system revision and adjust Graph code
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bench/Cargo.toml
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/bench/benches/util.rs
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/tests/integration/postgres/data_type.rs
  packages/graph/hash_graph/tests/integration/postgres/entity_type.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/property_type.rs
Labels: C-dependencies, A-backend

#1664 Deprecate old endpoints
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
Labels: A-backend

#1646 Add links functionality in entity type editor
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/new-entity-page/entity-type-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/shared/hash-selector-autocomplete.tsx
  packages/hash/frontend/src/pages/[account-slug]/shared/white-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/link-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/empty-property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/insert-property-row.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/insert-property-row/property-type-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/insert-property-row/type-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/shared/empty-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/shared/entity-type-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/shared/insert-type-row.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/shared/question-icon.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/shared/type-menu-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/shared/use-state-callback.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/shared/entity-types-context.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/shared/form-types.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/use-entity-types-context-value.tsx
  packages/hash/frontend/src/shared/icons/link.tsx
Labels: A-hash, frontend

#1641 Custom expected values menus renames
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form-values.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/custom-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/custom-expected-value-builder/array-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/custom-expected-value-builder/array-expected-value-builder/delete-expected-value-modal.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/data-type-selector/custom-expected-value-builder/array-expected-value-builder/expected-value-badge.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/property-type-schema.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/shared/custom-expected-value-builder-context.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/shared/data-type-selector-dropdown-context.ts
Labels: A-hash, frontend

#1665 Fix lifetimes on query compiler
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
Labels: A-backend

#1657 Support property arrays in entity editor
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
Labels: A-hash, frontend

#1659 Remove `ReadonlyModeProvider` & rename `useReadonlyMode`
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/Comments/CreateBlockCommentButton.tsx
  packages/hash/frontend/src/blocks/page/InsertBlock.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/PageSectionContainer.tsx
  packages/hash/frontend/src/blocks/page/PageTitle/PageTitle.tsx
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
  packages/hash/frontend/src/shared/layout/layout-with-header.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar.tsx
  packages/hash/frontend/src/shared/readonly-mode.tsx
Labels: A-hash, frontend

#1652 Consolidate codegen scalars into shared file
  packages/hash/api/codegen.config.ts
  packages/hash/api/codegen.yml
  packages/hash/api/package.json
  packages/hash/api/tsconfig.json
  packages/hash/frontend/codegen.config.ts
  packages/hash/frontend/codegen.yml
  packages/hash/frontend/package.json
  packages/hash/frontend/tsconfig.json
  packages/hash/integration/codegen.config.ts
  packages/hash/integration/codegen.yml
  packages/hash/integration/package.json
  packages/hash/integration/tsconfig.json
  packages/hash/shared/codegen.config.ts
  packages/hash/shared/codegen.yml
  packages/hash/shared/package.json
  packages/hash/shared/src/graphql/scalar-mapping.ts
  packages/hash/shared/tsconfig.json
Labels: A-hash, api, integration, frontend

#1667 Cleanup traits and lifetime/generic names
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/query.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/order_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/window.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/data_type.rs
  packages/graph/hash_graph/tests/integration/postgres/entity_type.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/property_type.rs
Labels: A-backend

#1668 Clean up predefined filters
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
Labels: A-backend

#1675 Optimize querying and add benchmarks for complete graphs
  packages/graph/hash_graph/bench/benches/entry.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/complete/entity.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/complete/mod.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/linkless/entity.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/linkless/mod.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
Labels: A-backend

#1670 Use structural query over plain SQL in ontology update
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-backend

#1654 Replace ontology model classes with functions
  packages/hash/api/src/graph/index.ts
  packages/hash/api/src/graph/ontology/primitive/data-type.ts
  packages/hash/api/src/graph/ontology/primitive/entity-type.ts
  packages/hash/api/src/graph/ontology/primitive/property-type.ts
  packages/hash/api/src/graph/ontology/primitive/util.ts
  packages/hash/api/src/graph/system-types.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/has-text.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/before-update-entity-hooks.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/resolvers/taskExecutor/index.ts
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/knowledge/block.model.ts
  packages/hash/api/src/model/knowledge/comment.model.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/hashInstance.model.ts
  packages/hash/api/src/model/knowledge/linkEntity.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/api/src/task-execution/index.ts
  packages/hash/integration/jest.config.cjs
  packages/hash/integration/package.json
  packages/hash/integration/src/tests/graph/ontology/primitive/data-type.test.ts
  packages/hash/integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  packages/hash/integration/src/tests/graph/ontology/primitive/property-type.test.ts
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/comment.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/hash-instance.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link-entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/page.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
Labels: A-hash, api, integration

#1650 Move page route to `/@shortname/<pageEntityUuid>`
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/frontend/src/blocks/page/Comments/CommentBlock.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentThread.tsx
  packages/hash/frontend/src/blocks/page/Comments/CreateBlockComment.tsx
  packages/hash/frontend/src/blocks/page/MentionView/MentionDisplay.tsx
  packages/hash/frontend/src/blocks/page/PageContext.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/MentionSuggester.tsx
  packages/hash/frontend/src/components/hooks/use-workspace-by-shortname.ts
  packages/hash/frontend/src/components/hooks/use-workspace-shortname-by-account-id.ts
  packages/hash/frontend/src/components/hooks/use-workspace-shortname-by-entity-uuid.ts
  packages/hash/frontend/src/components/hooks/useAccountPages.ts
  packages/hash/frontend/src/components/hooks/useCreatePage.ts
  packages/hash/frontend/src/components/hooks/useCreateSubPage.ts
  packages/hash/frontend/src/components/hooks/useGetOwnerForEntity.ts
  packages/hash/frontend/src/lib/org.ts
  packages/hash/frontend/src/lib/routes.ts
  packages/hash/frontend/src/lib/user.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/index.page.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/frontend/src/pages/login.page.tsx
  packages/hash/frontend/src/pages/shared/ory-kratos.ts
  packages/hash/frontend/src/pages/shared/workspace-context.tsx
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  packages/hash/frontend/src/shared/routing.ts
  packages/hash/frontend/src/shared/routing/route-account-info.tsx
  packages/hash/frontend/src/shared/routing/route-page-info.tsx
  packages/hash/frontend/src/shared/routing/route-workspace-info.tsx
  packages/hash/playwright/tests/page-creation.spec.ts
  packages/hash/playwright/tests/page-readonly-mode.spec.ts
Labels: A-hash, api, frontend, playwright

#1677 Avoid enumerations in Rust representation of the subgraph
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices/vertex.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/vertices/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1679 Allow returning the edition id from a record
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
Labels: A-backend

#1680 Allow filter creation from records
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1682 Deduplicate dependency resolution - part 1
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-backend

#1655 Initial type branding
  packages/hash/api/src/graph/system-user.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-actions.ts
  packages/hash/api/src/graphql/resolvers/middlewares/canAccessAccount.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/page.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/data-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/entity-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/api/src/model/util.ts
  packages/hash/api/src/task-execution/index.ts
  packages/hash/frontend/src/blocks/page/MentionView/MentionDisplay.tsx
  packages/hash/frontend/src/blocks/page/MentionView/MentionNodeView.ts
  packages/hash/frontend/src/blocks/page/MentionView/MentionView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createSuggester/MentionSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/blocks/page/createTextEditorView.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolCreateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreatePropertyType.ts
  packages/hash/frontend/src/components/hooks/useAccountPages.ts
  packages/hash/frontend/src/components/hooks/useCreatePage.ts
  packages/hash/frontend/src/components/hooks/useCreateSubPage.ts
  packages/hash/frontend/src/components/hooks/useGetAccountIdForShortname.ts
  packages/hash/frontend/src/graphql/queries/account.queries.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/property-type.queries.ts
  packages/hash/frontend/src/graphql/queries/page.queries.ts
  packages/hash/frontend/src/lib/org.ts
  packages/hash/frontend/src/lib/user.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-with-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/shared/use-create-new-entity-and-redirect.ts
  packages/hash/frontend/src/pages/[account-slug]/shared/use-route-namespace.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page/use-entity-type-value.tsx
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/frontend/src/pages/shared/workspace-context.tsx
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  packages/hash/frontend/src/shared/routing/route-page-info.tsx
  packages/hash/integration/src/tests/graph/ontology/primitive/data-type.test.ts
  packages/hash/integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  packages/hash/integration/src/tests/graph/ontology/primitive/property-type.test.ts
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link-entity.model.test.ts
  packages/hash/shared/src/graphql/scalar-mapping.ts
  packages/hash/shared/src/save.ts
  packages/hash/shared/src/types.ts
  packages/hash/subgraph/src/types/identifier.ts
Labels: A-hash, api, integration, frontend

#1683 Deduplicate dependency resolution - part 2: Generalizes the subgraph insertions
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
Labels: A-backend

#1688 Remove brand function
  packages/hash/api/src/graphql/resolvers/knowledge/page/page.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/model/util.ts
  packages/hash/api/src/task-execution/index.ts
  packages/hash/frontend/src/blocks/page/MentionView/MentionDisplay.tsx
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createSuggester/MentionSuggester.tsx
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  packages/hash/frontend/src/shared/routing/route-page-info.tsx
  packages/hash/integration/src/tests/graph/ontology/primitive/data-type.test.ts
  packages/hash/integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  packages/hash/integration/src/tests/graph/ontology/primitive/property-type.test.ts
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link-entity.model.test.ts
  packages/hash/shared/src/types.ts
Labels: A-hash, api, integration, frontend

#1678 Set up OpenTelemetry traces in Graph
  .github/workflows/rust.yml
  packages/graph/deployment/graph/Dockerfile
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bin/hash_graph/src/args.rs
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/middleware.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/logging/init.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/hash/external-services/docker-compose.yml
Labels: C-dependencies, A-hash, A-infra, A-backend

#1689 Split store module into submodules
  packages/graph/hash_graph/lib/graph/src/store/account.rs
  packages/graph/hash_graph/lib/graph/src/store/config.rs
  packages/graph/hash_graph/lib/graph/src/store/error.rs
  packages/graph/hash_graph/lib/graph/src/store/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/record.rs
Labels: A-backend

#1660 Add Storybook boilerplate to `design-system` package
  .gitignore
  .markdownlintignore
  .prettierignore
  libs/javascript/@local/eslint-config/generate-ignore-patterns.cjs
  libs/javascript/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  packages/hash/design-system/.eslintrc.cjs
  packages/hash/design-system/.storybook/main.js
  packages/hash/design-system/.storybook/preview.js
  packages/hash/design-system/babel.config.js
  packages/hash/design-system/package.json
  packages/hash/design-system/src/stories/assets/code-brackets.svg
  packages/hash/design-system/src/stories/assets/colors.svg
  packages/hash/design-system/src/stories/assets/comments.svg
  packages/hash/design-system/src/stories/assets/direction.svg
  packages/hash/design-system/src/stories/assets/flow.svg
  packages/hash/design-system/src/stories/assets/plugin.svg
  packages/hash/design-system/src/stories/assets/repo.svg
  packages/hash/design-system/src/stories/assets/stackalt.svg
  packages/hash/design-system/src/stories/button.css
  packages/hash/design-system/src/stories/button.stories.ts
  packages/hash/design-system/src/stories/button.tsx
  packages/hash/design-system/src/stories/header.css
  packages/hash/design-system/src/stories/header.stories.ts
  packages/hash/design-system/src/stories/header.tsx
  packages/hash/design-system/src/stories/introduction.mdx
  packages/hash/design-system/src/stories/page.css
  packages/hash/design-system/src/stories/page.stories.ts
  packages/hash/design-system/src/stories/page.tsx
  yarn.lock
Labels: C-dependencies, A-hash, A-infra

#1634 Bump toolchain for `error-stack`
  .github/scripts/rust/Makefile.toml
  packages/libs/error-stack/Makefile.toml
  packages/libs/error-stack/README.md
  packages/libs/error-stack/macros/rust-toolchain.toml
  packages/libs/error-stack/rust-toolchain.toml
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/tests/ui/macro_invalid_args.stderr
Labels: A-infra, A-error-stack

#1636 Fix documentation generation on docs.rs
  packages/libs/error-stack/Cargo.toml
Labels: A-error-stack

#1694 Fix dockerfiles for new codegen approach
  packages/hash/docker/api/prod/Dockerfile
  packages/hash/docker/frontend/prod/Dockerfile
  packages/hash/docker/search-loader/prod/Dockerfile
Labels: A-hash, docker

#1645 `deer` housekeeping
  packages/libs/deer/json/src/error.rs
  packages/libs/deer/json/src/lib.rs
  packages/libs/deer/src/lib.rs
  packages/libs/deer/src/schema.rs
Labels: A-deer

#1695 Lift type constrains on query path tokens
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
Labels: A-backend

#1692 Read the earliest edge timestamp on serialization
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/edge.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
Labels: A-backend

#1685 Remove old entity endpoints
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#1686 Remove unused functions previously used in GET endpoints
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
Labels: A-backend

#1673 Support multiple data types for arrays on properties table
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor/linked-entity-list-row.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/add-another-button.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/draft-row.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/row-action.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/value-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-type-picker.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/boolean-input.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/number-or-text-input.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/utils.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/inline-text-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/number-or-string-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/shared/grid-editor-wrapper.tsx
Labels: A-hash, frontend

#1693 `error-stack`: move `fmt::HookContext` into `hook::HookContext`
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/hook/context.rs
  packages/libs/error-stack/src/hook/mod.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_cast.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_decrement.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_increment.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook_provide.snap
Labels: A-error-stack

#1704 Add `node:` protocol to builtin imports
  apps/hashdotai/scripts/sync-algolia-index.ts
  apps/hashdotdev/src/components/Link.tsx
  apps/hashdotdev/src/pages/blog/shared/get-photo.ts
  apps/hashdotdev/src/util/mdxUtil.ts
  libs/javascript/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  packages/graph/migrations/postgres/scripts/environment.ts
  packages/hash/api/src/email/index.ts
  packages/hash/api/src/email/transporters/DummyEmailTransporter.ts
  packages/hash/api/src/graphql/createApolloServer.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/storage/local-file-storage.ts
  packages/hash/backend-utils/src/environment.ts
  packages/hash/backend-utils/src/queue/redis.ts
  packages/hash/backend-utils/src/redis.ts
  packages/hash/backend-utils/src/search/opensearch-pagination.test.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/new/types/entity-type.page.tsx
  packages/hash/frontend/src/pages/shared/auth-utils.ts
  packages/hash/frontend/src/shared/ui/link.tsx
  packages/hash/playwright/tests/shared/get-derived-payload-from-most-recent-email.ts
  packages/hash/realtime/src/index.ts
  packages/hash/search-loader/src/config.ts
  packages/hash/search-loader/src/index.ts
  packages/hash/task-executor/src/airbyte/temp-io.ts
  packages/hash/task-executor/src/index.ts
Labels: A-hash, api, frontend, search-loader, playwright, realtime, A-backend

#1706 Add banners to repo READMEs
  README.md
  apps/README.md
  blocks/README.md
  infra/README.md
  packages/README.md
Labels: A-infra, A-blocks

#1697 Enable Kratos SMTP with AWS SES
  infra/terraform/README.md
  infra/terraform/hash/main.tf
  infra/terraform/hash/prod-usea1.tfvars
  infra/terraform/hash/variables.tf
  infra/terraform/modules/hash_application/kratos.tf
  infra/terraform/modules/hash_application/main.tf
  infra/terraform/modules/hash_application/variables.tf
  infra/terraform/modules/networking/main.tf
  packages/hash/external-services/kratos/kratos.prod.yml
Labels: A-hash

#1698 Support multiple data types for single-values on properties table
  packages/hash/frontend/src/components/grid/utils/custom-grid-icons.ts
  packages/hash/frontend/src/components/grid/utils/draw-chip-with-icon.ts
  packages/hash/frontend/src/components/grid/utils/draw-chip.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/chip-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/constants.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  patches/@glideapps+glide-data-grid+5.1.4.patch
Labels: A-hash, frontend

#1669 Remove several dependency cycles in frontend
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockListMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockLoaderInput.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/BlockPortals.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/BlockViewContext.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentTextField.tsx
  packages/hash/frontend/src/blocks/page/Comments/commentPlaceholderPlugin.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/LoadingView.tsx
  packages/hash/frontend/src/blocks/page/MentionView/MentionNodeView.ts
  packages/hash/frontend/src/blocks/page/MentionView/MentionView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createErrorPlugin.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/index.tsx
  packages/hash/frontend/src/blocks/page/createPlaceholderPlugin/createPlaceholderPlugin.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/blocks/page/createTextEditorView.ts
  packages/hash/frontend/src/blocks/page/usePortals.tsx
  packages/hash/frontend/src/components/grid/grid.tsx
  packages/hash/frontend/src/components/grid/utils/rows.ts
  packages/hash/frontend/src/components/grid/utils/sorting.ts
  packages/hash/frontend/src/components/hooks/use-workspace-by-shortname.ts
  packages/hash/frontend/src/components/hooks/useOrgs.ts
  packages/hash/frontend/src/components/hooks/useUpdateAuthenticatedUser.ts
  packages/hash/frontend/src/components/hooks/useUsers.ts
  packages/hash/frontend/src/lib/org.ts
  packages/hash/frontend/src/lib/user-and-org.ts
  packages/hash/frontend/src/pages/[shortname]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/shared/auth-info-context.tsx
  packages/hash/frontend/src/pages/shared/sentry.ts
  packages/hash/frontend/src/pages/shared/workspace-context.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  packages/hash/frontend/src/shared/routing/route-workspace-info.tsx
  packages/hash/frontend/src/shared/ui/button.tsx
  packages/hash/frontend/src/shared/ui/link.tsx
Labels: A-hash, frontend

#1711 Fix unescaped chars in `entities` glossary entry
  apps/hashdotai/resources/glossary/entities.mdx
Labels: A-learn

#1662 Add link type creation and editing on entity types
  packages/hash/api/src/graph/ontology/primitive/entity-type.ts
  packages/hash/api/src/graph/util.ts
  packages/hash/frontend/src/pages/[shortname]/shared/hash-selector-autocomplete.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/link-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/custom-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder/delete-expected-value-modal.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder/expected-value-badge.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/expected-value-chip.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/shared/custom-expected-value-builder-context.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/shared/expected-values-options.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/type-form.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/shared/entity-types-context.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/use-entity-types-context-value.tsx
  packages/hash/integration/src/tests/graph/knowledge/primitive/entity.test.ts
  packages/hash/integration/src/tests/graph/knowledge/primitive/link-entity.test.ts
  packages/hash/integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  packages/hash/shared/src/ontology-types.ts
  packages/hash/subgraph/src/types/identifier.ts
Labels: A-hash, api, integration, frontend

#1719 Stop using deprecated config in Sentry Replay
  packages/hash/frontend/sentry.client.config.ts
  packages/hash/frontend/src/lib/public-env.ts
Labels: A-hash, frontend

#1702 Introduce `GraphAPIError` class in HASH App backend
  packages/hash/api/src/graph/index.ts
  packages/hash/api/src/graph/ontology/primitive/data-type.ts
  packages/hash/api/src/graph/ontology/primitive/entity-type.ts
  packages/hash/api/src/graph/ontology/primitive/property-type.ts
  packages/hash/api/src/graph/util.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
Labels: A-hash, api

#1730 Add CODE_OF_CONDUCT file
  CODE_OF_CONDUCT.md
Labels: A-infra

#1733 Replace requiredLinks with minItems 1 in entity type schemas
  packages/hash/api/src/graph/system-types.ts
  packages/hash/api/src/graph/util.ts
Labels: A-hash, api

#1736 Fix expected query param account-slug
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/type-form.tsx
Labels: A-hash, frontend

#1737 Update docs around blocks
  blocks/README.md
  packages/hash/README.md
Labels: A-hash, A-blocks

#1720 Update Kratos email copy
  README.md
  packages/hash/README.md
  packages/hash/external-services/kratos/templates/otp/sms.body.gotmpl
  packages/hash/external-services/kratos/templates/recovery/invalid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/recovery/invalid/email.body.plaintext.gotmpl
  packages/hash/external-services/kratos/templates/recovery/valid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/recovery/valid/email.body.plaintext.gotmpl
  packages/hash/external-services/kratos/templates/recovery_code/invalid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/recovery_code/invalid/email.body.plaintext.gotmpl
  packages/hash/external-services/kratos/templates/recovery_code/valid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/recovery_code/valid/email.body.plaintext.gotmpl
  packages/hash/external-services/kratos/templates/verification_code/invalid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/verification_code/invalid/email.body.plaintext.gotmpl
  packages/hash/external-services/kratos/templates/verification_code/valid/email.body.gotmpl
  packages/hash/external-services/kratos/templates/verification_code/valid/email.body.plaintext.gotmpl
Labels: A-hash, A-infra

#1741 Apply `simple-import-sort/*` and `unicorn/filename-case` in two packages
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/lib/apollo-client.ts
  packages/hash/shared/.eslintrc.cjs
  packages/hash/shared/src/blocks.ts
  packages/hash/shared/src/create-prose-mirror-state.ts
  packages/hash/shared/src/entity-store-plugin.ts
  packages/hash/shared/src/entity-store.ts
  packages/hash/shared/src/entity.ts
  packages/hash/shared/src/graphql/create-apollo-client.ts
  packages/hash/shared/src/graphql/types.ts
  packages/hash/shared/src/json-utils.ts
  packages/hash/shared/src/ontology-types.ts
  packages/hash/shared/src/prosemirror-manager.ts
  packages/hash/shared/src/prosemirror.ts
  packages/hash/shared/src/save.ts
  packages/hash/shared/src/text.ts
  packages/hash/shared/src/types.ts
  packages/hash/shared/src/wrap-entities-plugin.ts
  packages/hash/subgraph/src/index.ts
  packages/hash/subgraph/src/shared/type-system-patch.ts
  packages/hash/subgraph/src/stdlib/edge/link.ts
  packages/hash/subgraph/src/stdlib/element/data-type.ts
  packages/hash/subgraph/src/stdlib/element/entity-type.ts
  packages/hash/subgraph/src/stdlib/element/entity.ts
  packages/hash/subgraph/src/stdlib/element/property-type.ts
  packages/hash/subgraph/src/stdlib/roots.ts
  packages/hash/subgraph/src/types/edge.ts
  packages/hash/subgraph/src/types/element.ts
  packages/hash/subgraph/src/types/subgraph.ts
  packages/hash/subgraph/src/types/vertex.ts
  packages/hash/subgraph/tests/compatibility.test.ts
  packages/hash/subgraph/tests/compatibility.test/map-edges.ts
  packages/hash/subgraph/tests/compatibility.test/map-roots.ts
  packages/hash/subgraph/tests/compatibility.test/map-vertices.ts
Labels: A-hash, frontend

#1651 Enable object property type creation
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form-values.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/custom-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/expected-value-chip.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/shared/custom-expected-value-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/shared/delete-expected-value-modal.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/shared/expected-value-badge.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/shared/expected-values-options.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/shared/object-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/property-type-schema.ts
Labels: A-hash, frontend

#1740 Rename `tableRef` to `gridRef`
  packages/hash/frontend/src/components/grid/grid.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table.tsx
Labels: A-hash, frontend

#1721 Correct styles for entity type editor links table
  packages/hash/frontend/src/pages/[shortname]/shared/autocomplete-dropdown.tsx
  packages/hash/frontend/src/pages/[shortname]/shared/hash-selector-autocomplete.tsx
  packages/hash/frontend/src/pages/[shortname]/shared/popper-placement-modifier.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/link-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/insert-property-row/type-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/multiple-values-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/question-icon.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/type-form.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/shared/form-types.ts
  packages/hash/frontend/src/shared/frozen.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-menu.tsx
  packages/hash/frontend/src/shared/use-frozen-value.ts
Labels: A-hash, frontend

#1739 Root README refactor
  README.md
Labels: A-infra

#1676 Add placeholder README to `error-stack-macros`
  packages/libs/error-stack/macros/README.md
  packages/libs/error-stack/macros/src/lib.rs
  packages/libs/error-stack/rust-toolchain.toml
Labels: A-error-stack
