Repository hashintel/hash, pull requests merged in 2022-10, with the labels that each got.

#1143 Benchmark asymptotic performance of `get_entity_by_id`
  packages/graph/hash_graph/bench/Cargo.toml
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/mod.rs
  packages/graph/hash_graph/bench/benches/read_scaling/mod.rs
  packages/graph/hash_graph/bench/benches/representative_read/mod.rs
  packages/graph/hash_graph/bench/benches/util.rs
Labels: A-backend

#1113 Bump `error-stack` to v0.2
  packages/libs/error-stack/Cargo.toml
Labels: A-error-stack

#1152 Update CHANGELOG.md for latest release
  packages/libs/error-stack/CHANGELOG.md
Labels: A-error-stack

#1153 Make image link in README.md absolute
  packages/libs/error-stack/README.md
Labels: A-error-stack

#1154 Bump error-stack to version 0.2.1
  .github/ISSUE_TEMPLATE/bug-report-error-stack.yml
  packages/libs/error-stack/Cargo.toml
Labels: A-infra, A-error-stack

#1142 Add `link` resolvers
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/link/link.ts
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/link.typedef.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
Labels: A-hash, api

#1150 Add `createKnowledgeEntity` mutation
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-actions.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
Labels: A-hash, api, integration

#1148 Support batch insertion of entities
  packages/graph/hash_graph/bench/Cargo.toml
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1086 Add initial UI components for the entity-type editor
  packages/blocks/chart/package.json
  packages/blocks/github-pr-overview/package.json
  packages/blocks/shuffle/package.json
  packages/hash/design-system/src/text-field.tsx
  packages/hash/design-system/src/theme/components/data-display/mui-chip-theme-options.tsx
  packages/hash/design-system/src/theme/components/inputs/mui-outlined-input-theme-options.ts
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/Modals/Modal.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/empty-property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/new.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/ontology-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/placeholder-icon.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/property-list-selector-dropdown.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/property-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/property-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/question-icon.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/styled-plus-circle-icon.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/util.ts
  packages/hash/frontend/src/pages/[account-slug]/entity-types/view.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entity-types/white-card.tsx
  packages/hash/frontend/src/shared/icons/svg.tsx
  packages/hash/frontend/src/shared/icons/svg/arrow-up-right.svg
  packages/hash/frontend/src/shared/icons/svg/briefcase.svg
  packages/hash/frontend/src/shared/icons/svg/circle-plus.svg
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#1160 Add `useBlockProtocolGetEntity` hook + example entity-editor page
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolGetEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/ontology-types-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetDataType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetPropertyType.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
Labels: A-hash, frontend

#1005 Prefer nullish coalescing and `for .. of`
  .eslintrc.json
  packages/blocks/drawing/src/app.tsx
  packages/blocks/github-pr-overview/src/pull-request-selector/index.tsx
  packages/blocks/shuffle/src/components/add-entities-dialog.tsx
  packages/blocks/shuffle/src/components/item.tsx
  packages/blocks/shuffle/src/shuffle.tsx
  packages/blocks/table/src/table.tsx
  packages/blocks/timer/src/app.tsx
  packages/hash/design-system/src/avatar.tsx
  packages/hash/design-system/src/theme/components/inputs/mui-button-theme-options.ts
  packages/hash/design-system/src/theme/palette.ts
  packages/hash/design-system/src/theme/shadows.ts
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/blocks/page/createTextEditorView.ts
  packages/hash/frontend/src/blocks/page/usePortals.tsx
  packages/hash/frontend/src/components/PageIcon.tsx
  packages/hash/frontend/src/components/PageIconButton.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertiesTable.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/schemaEditorReducer.ts
  packages/hash/frontend/src/components/forms/TextInput.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolFileUpload.ts
  packages/hash/frontend/src/components/hooks/useShortnameInput.ts
  packages/hash/frontend/src/components/sandbox/FramedBlock/util.ts
  packages/hash/frontend/src/components/sandbox/ResizingIFrame/ResizingIFrame.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/[type-id].page.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/invite.page.tsx
  packages/hash/frontend/src/pages/login.page/login-modal.tsx
  packages/hash/frontend/src/pages/shared/use-get-invitation-info.ts
  packages/hash/frontend/src/pages/shared/verify-code.tsx
  packages/hash/frontend/src/pages/signup.page/account-setup.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  packages/hash/shared/src/graphql/createApolloClient.ts
  sites/hashai/scripts/sync-algolia-index.ts
Labels: A-hash, frontend, A-blocks

#1158 Fix local pages
  packages/hash/api/src/collab/Instance.ts
  packages/hash/api/src/collab/collabApp.ts
  packages/hash/api/src/collab/graphql/queries/blocks.queries.ts
  packages/hash/api/src/collab/graphql/queries/page.queries.ts
  packages/hash/api/src/collab/save.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/block/data-entity.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/page.typedef.ts
  packages/hash/frontend/src/blocks/page/BlockConfigMenu/BlockConfigMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/PageIcon.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/shared/codegen.yml
  packages/hash/shared/src/ProsemirrorManager.ts
  packages/hash/shared/src/entity.ts
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/queries/page.queries.ts
Labels: A-hash, api, frontend

#1157 Fix page functionality in sidebar
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/set-parent-page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page.ts
  packages/hash/api/src/graphql/resolvers/pages/accountPages.ts
  packages/hash/api/src/graphql/resolvers/pages/createPage.ts
  packages/hash/api/src/graphql/resolvers/pages/index.ts
  packages/hash/api/src/graphql/resolvers/pages/setParentPage.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/page.typedef.ts
  packages/hash/api/src/graphql/typeDefs/page.typedef.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/useAccountPages.ts
  packages/hash/frontend/src/components/hooks/useArchivePage.ts
  packages/hash/frontend/src/components/hooks/useCreatePage.ts
  packages/hash/frontend/src/components/hooks/useCreateSubPage.ts
  packages/hash/frontend/src/components/hooks/useReorderPage.ts
  packages/hash/frontend/src/graphql/queries/account.queries.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/frontend/src/graphql/queries/page.queries.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page/page-transfer-dropdown.tsx
  packages/hash/frontend/src/pages/index.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  packages/hash/integration/codegen.yml
  packages/hash/integration/src/graphql/queries/page.queries.ts
  packages/hash/integration/src/tests/integration.test.ts
  packages/hash/integration/src/tests/model/knowledge/page.model.test.ts
  packages/hash/integration/src/tests/util.ts
Labels: A-hash, api, integration, frontend

#1159 Rename `Knowledge*` to `Persisted*`
  packages/hash/api/src/collab/Instance.ts
  packages/hash/api/src/collab/graphql/queries/blocks.queries.ts
  packages/hash/api/src/collab/graphql/queries/page.queries.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/block/block.ts
  packages/hash/api/src/graphql/resolvers/knowledge/block/data-entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/link/link.ts
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/page-contents.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/set-parent-page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-actions.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-contents.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/block.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/link.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/page.typedef.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/frontend/src/components/PageIcon.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolGetEntity.ts
  packages/hash/frontend/src/components/hooks/useAccountPages.ts
  packages/hash/frontend/src/components/hooks/useArchivePage.ts
  packages/hash/frontend/src/components/hooks/useCreatePage.ts
  packages/hash/frontend/src/components/hooks/useCreateSubPage.ts
  packages/hash/frontend/src/components/hooks/useReorderPage.ts
  packages/hash/frontend/src/graphql/queries/account.queries.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/frontend/src/graphql/queries/page.queries.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/integration/src/graphql/queries/page.queries.ts
  packages/hash/integration/src/tests/util.ts
  packages/hash/shared/src/entity.ts
  packages/hash/shared/src/queries/page.queries.ts
Labels: A-hash, api, integration, frontend

#1145 Replace GH feature request templates with forms
  .github/ISSUE_TEMPLATE/feature-request-error-stack.md
  .github/ISSUE_TEMPLATE/feature-request-error-stack.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: A-infra

#1164 Set up CI for `deer`
  .github/scripts/rust/setup.py
  packages/libs/deer/Makefile.toml
  packages/libs/deer/macros/src/lib.rs
Labels: A-infra, DO NOT MERGE, A-deer

#1174 `error-stack` formatting introduce space before attachment content
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/tests/snapshots/doc/fmt__diagnostics_add.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__doc.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_cast.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_decrement.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_increment.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_storage.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt_doc_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook_provide.snap
  packages/libs/error-stack/tests/snapshots/doc/lib__suggestion.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__alt.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_decr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_for_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_incr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_multiple.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline_ctx.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__norm.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace.snap
  packages/libs/error-stack/tests/test_debug.rs
Labels: A-error-stack

#1168 Re-enable playwright workflow in CI on the `dev/graph` branch
  .github/workflows/ci.yml
  packages/hash/playwright/tests/entity-creation.spec.ts
  packages/hash/playwright/tests/guest-user.spec.ts
  packages/hash/playwright/tests/page-creation.spec.ts
  packages/hash/playwright/tests/page-readonly-mode.spec.ts
Labels: A-hash, A-infra, playwright

#1175 Bump error-stack to 0.2.2
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/Cargo.toml
Labels: A-error-stack

#1176 Add `updateEntity` BP hook
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolGetEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolUpdateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetDataType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetPropertyType.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
Labels: A-hash, api, frontend

#1177 Update README
  .env
  .github/workflows/ci.yml
  packages/graph/Makefile.toml
  packages/graph/README.md
  packages/hash/README.md
  packages/hash/external-services/docker-compose.yml
Labels: A-hash, A-infra, A-backend

#1181 fix suggester vertical positioning
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
Labels: A-hash, frontend

#1163 Introduce `deer` crate at v0.0.0
  .github/labeler.yml
  .github/scripts/rust/setup.py
  packages/libs/deer/.gitignore
  packages/libs/deer/CHANGELOG.md
  packages/libs/deer/Cargo.toml
  packages/libs/deer/LICENSE-APACHE.md
  packages/libs/deer/LICENSE-MIT.md
  packages/libs/deer/Makefile.toml
  packages/libs/deer/README.md
  packages/libs/deer/macros/Cargo.toml
  packages/libs/deer/macros/rust-toolchain.toml
  packages/libs/deer/macros/src/lib.rs
  packages/libs/deer/rust-toolchain.toml
  packages/libs/deer/rustfmt.toml
  packages/libs/deer/src/lib.rs
Labels: A-infra, A-deer

#1182 Temporary fix for blocks
  packages/hash/shared/src/ProsemirrorManager.ts
Labels: A-hash

#1162 Use docker migration script instead in cargo make
  packages/graph/Makefile.toml
  packages/graph/hash_graph/lib/graph/Cargo.toml
Labels: A-backend

#1178 Re-implement `createEntity` BP hook
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolCreateEntity.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
Labels: A-hash, frontend

#1169 Implement creating entity type functionality
  packages/hash/design-system/src/button.tsx
  packages/hash/design-system/src/theme/components/inputs/mui-input-label-theme-options.ts
  packages/hash/design-system/src/theme/components/inputs/mui-outlined-input-theme-options.ts
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/hooks/useUser.ts
  packages/hash/frontend/src/pages/[account-slug]/entity-types/new.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/empty-property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/ontology-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/placeholder-icon.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-selector-dropdown.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/question-icon.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/styled-plus-circle-icon.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/util.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/white-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new/entity-type.page.tsx
  packages/hash/frontend/src/pages/index.page.tsx
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/frontend/src/shared/icons/svg.tsx
  packages/hash/frontend/src/shared/icons/svg/briefcase.svg
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1183 Configure ESLint `curly` rule
  .eslintrc.json
  packages/hash/api/src/collab/Instance.ts
  packages/hash/api/src/collab/Waiting.ts
  packages/hash/api/src/collab/collabApp.ts
  packages/hash/api/src/model/aggregation.model.ts
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentTextField.tsx
  packages/hash/frontend/src/blocks/page/PageTitle/utils.ts
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/blocks/page/collab/http.ts
  packages/hash/frontend/src/blocks/page/collab/useCollabPositionTracking.tsx
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createFormatPlugins/util.ts
  packages/hash/frontend/src/blocks/page/createPlaceholderPlugin/createPlaceholderPlugin.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/fuzzySearchBy.ts
  packages/hash/frontend/src/blocks/page/focusPageTitlePlugin.ts
  packages/hash/frontend/src/blocks/userBlocks.tsx
  packages/hash/frontend/src/components/forms/TagsInput.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolFileUpload.ts
  packages/hash/frontend/src/components/hooks/useUsers.ts
  packages/hash/frontend/src/lib/dom.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/[type-id].page.tsx
  packages/hash/frontend/src/pages/invite.page.tsx
  packages/hash/frontend/src/pages/login.page/login-modal.tsx
  packages/hash/frontend/src/pages/shared/use-get-invitation-info.ts
  packages/hash/frontend/src/pages/signup.page.tsx
  packages/hash/frontend/src/pages/signup.page/org-create.tsx
  packages/hash/frontend/src/pages/signup.page/org-invite.tsx
  packages/hash/integration/src/tests/integration.test.ts
  sites/hashdev/src/pages/blog/shared/get-photo.ts
Labels: A-hash, api, integration, frontend

#1170 `deer` create base traits
  packages/libs/deer/Cargo.toml
  packages/libs/deer/build.rs
  packages/libs/deer/src/error.rs
  packages/libs/deer/src/lib.rs
  packages/libs/deer/src/number.rs
Labels: A-deer

#1185 Make explicit that `deer` is experimental
  packages/libs/deer/README.md
Labels: A-deer

#1186 include `indietyp` in error-stack issue template
  .github/ISSUE_TEMPLATE/bug-report-error-stack.yml
Labels: A-infra, A-error-stack

#1187 Bump error-stack toolchain to 2022-10-12
  packages/libs/error-stack/README.md
  packages/libs/error-stack/macros/rust-toolchain.toml
  packages/libs/error-stack/rust-toolchain.toml
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/lib.rs
Labels: A-error-stack

#1189 Minor tweaking to crate-level documentation
  packages/libs/error-stack/src/lib.rs
Labels: A-error-stack

#1190 Bump `error-stack` to version `0.2.3`
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/Cargo.toml
Labels: A-error-stack

#1192 Add LICENSE.md file for `error-stack` and `deer`
  packages/libs/deer/LICENSE.md
  packages/libs/deer/README.md
  packages/libs/error-stack/LICENSE.md
  packages/libs/error-stack/README.md
  packages/libs/error-stack/macros/Cargo.toml
Labels: A-error-stack, A-deer

#1191 Attach outgoing links to entity returned by entity BP hooks
  packages/hash/api/src/graphql/typeDefs/knowledge/link.typedef.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolCreateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolGetEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolUpdateEntity.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
Labels: A-hash, api, frontend

#1184 Entity type editor – Show correct properties in property selector, add edit bar, and minor changes
  packages/hash/frontend/src/lib/use-init-type-system.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/edit-bar.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/hash-ontology-icon.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/ontology-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-expected-values.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-selector-dropdown.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-property-types.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/util.ts
  packages/hash/frontend/src/pages/[account-slug]/types/new/entity-type.page.tsx
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/frontend/src/shared/icons/svg.tsx
  packages/hash/frontend/src/shared/icons/svg/pencil-simple-line.svg
Labels: A-hash, frontend

#1194 Entity type editor – persist changes, and related updates
  packages/hash/frontend/src/lib/use-init-type-system.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/edit-bar.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/form-types.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-expected-values.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entity-type.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-property-types.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/util.ts
Labels: A-hash, frontend

#1195 Upgrade HASH Graph dependencies
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bench/Cargo.toml
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/bin/hash_graph/src/args.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/account.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/logging/args.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/version_id.rs
Labels: C-dependencies, A-backend

#1198 Add Subgraph type, and update Data Type endpoints
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/subgraph.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/hash/api/codegen.yml
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/model-mapping.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/ontology/data-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/subgraph.typedef.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/ontology-types-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateDataTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetDataType.ts
  packages/hash/frontend/src/graphql/queries/ontology/data-type.queries.ts
  packages/hash/shared/package.json
  packages/hash/shared/src/graphql/types.ts
Labels: A-hash, api, frontend, A-backend

#1193 Make type IDs, titles and descriptions available statically to the frontend and backend
  packages/hash/api/package.json
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/lib/config.ts
  packages/hash/api/src/model/entityType.util.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/frontend/next.config.js
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-expected-values.tsx
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link.model.test.ts
  packages/hash/shared/package.json
  packages/hash/shared/src/config.ts
  packages/hash/shared/src/types.ts
Labels: A-hash, api, integration, frontend

#1199 Introduce ontology/knowledge `metadata` structs
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/link-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
Labels: A-hash, api, A-backend

#1200 Add hint that `hstd` is unavailable in Python
  sites/hashai/resources/docs/simulation/creating-simulations/libraries/hash/README.md
Labels: A-learn

#1141 Implement new entity editor
  packages/hash/frontend/package.json
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/block-based-entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper/entity-page-header.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-properties-block.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/links-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/local-react-block-container.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/peers-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/shared/entity-section-empty-state.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/shared/entity-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/shared/white-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/types-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/white-card.tsx
  packages/hash/frontend/src/shared/icons/svg.tsx
  packages/hash/frontend/src/shared/icons/svg/links.svg
  packages/hash/frontend/src/shared/icons/svg/shapes.svg
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1202 Add common structures for compiling queries to SQL
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/database.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/old.rs
Labels: A-backend

#1205 Update Property Type endpoints to return `Subgraph`
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/subgraph.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/hash/api/codegen.yml
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/subgraph.typedef.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/frontend/codegen.yml
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/ontology-types-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregatePropertyTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetPropertyType.ts
  packages/hash/frontend/src/graphql/queries/ontology/data-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/property-type.queries.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-property-types.tsx
  packages/hash/integration/codegen.yml
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
  packages/hash/shared/codegen.yml
  packages/hash/shared/src/graphql/types.ts
Labels: A-hash, api, integration, frontend, A-backend

#1211 Correct path to `pynng` in `setup.sh`
  packages/engine/lib/execution/src/runner/python/setup.sh
Labels: A-engine

#1206 Fix visibility on `Persisted*` structs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/tests/integration/postgres/data_type.rs
  packages/graph/hash_graph/tests/integration/postgres/entity_type.rs
  packages/graph/hash_graph/tests/integration/postgres/link_type.rs
  packages/graph/hash_graph/tests/integration/postgres/property_type.rs
Labels: A-backend

#1208 Split `TableRef::Alias` into separated struct
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/database.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
Labels: A-backend

#1203 Add structures for `DataType` for query compilation
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/database.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
Labels: A-backend

#1204 Add conversion from structural query path to `DataTypeQueryPath`
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
Labels: A-backend

#1209 Add `Filter` and conversion from `Expression`
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/old.rs
Labels: A-backend

#1196 Local page saving
  packages/hash/api/.eslintrc.json
  packages/hash/api/codegen.yml
  packages/hash/api/src/collab/Instance.ts
  packages/hash/api/src/collab/graphql/queries/blocks.queries.ts
  packages/hash/api/src/collab/graphql/queries/page.queries.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/block/data-entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-actions.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-contents.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/block.typedef.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/api/tsconfig.json
  packages/hash/frontend/src/blocks/page/BlockConfigMenu/BlockConfigMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentTextField.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/integration/src/tests/model/knowledge/page.model.test.ts
  packages/hash/shared/src/ProsemirrorManager.ts
  packages/hash/shared/src/entity.ts
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/queries/page.queries.ts
  packages/hash/shared/src/save.ts
  packages/hash/shared/src/text.ts
Labels: A-hash, api, integration, frontend

#1210 Add `Condition` and conversion from `Filter`
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
Labels: A-backend

#1214 Add function expression and window expression
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/window.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
Labels: A-backend

#1213 Subgraph edge tracking
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/subgraph.rs
Labels: A-backend

#1207 Improve entity editor - 1
  packages/hash/frontend/.eslintrc.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/GlideGlid/glide-grid-overlay-portal.tsx
  packages/hash/frontend/src/components/GlideGlid/glide-grid.tsx
  packages/hash/frontend/src/components/GlideGlid/utils.ts
  packages/hash/frontend/src/components/hooks/useSnackbar.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/link-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/link-table/constants.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/link-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/link-table/use-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/link-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/links-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/property-table/constants.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/property-table/extract-enriched-property-types-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/property-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/property-table/use-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/property-table/use-on-cell-edited.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/property-table/use-row-data.ts
  packages/hash/frontend/src/pages/_app.page.tsx
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1225 Rebuild on `deployment-up` in Graph Makefile
  packages/graph/Makefile.toml
Labels: A-backend

#1220 Update Entity Type endpoints to return Subgraph
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/resolvers/util.ts
  packages/hash/api/src/graphql/typeDefs/ontology/data-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/entity-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/subgraph.typedef.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolCreateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolGetEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolUpdateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/ontology-types-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateDataTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateEntityTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregatePropertyTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetDataType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetPropertyType.ts
  packages/hash/frontend/src/graphql/queries/ontology/data-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/property-type.queries.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/lib/subgraph.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/link-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/property-table/extract-enriched-property-types-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/property-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/types-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entity-type.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-property-types.tsx
  packages/hash/frontend/src/pages/entity-editor.page.tsx
Labels: A-hash, api, frontend, A-backend

#1234 Update Next.js from 12.2 to 12.3
  packages/hash/frontend/package.json
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1212 Entity editor improvements - 2
  packages/hash/design-system/src/theme/components.ts
  packages/hash/design-system/src/theme/components/feedback/mui-skeleton-theme-options.ts
  packages/hash/frontend/src/components/GlideGlid/utils.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/constants.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/use-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/peers-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/get-empty-property-count.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/constants.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/extract-enriched-property-types-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-on-cell-edited.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/shared/entity-section-empty-state.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/shared/entity-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/shared/white-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-loading-state.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper/entity-page-header.tsx
Labels: A-hash, frontend

#1239 Remove keyboard shortcuts starting with Alt / Opt
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper/entity-page-header.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
Labels: A-hash, frontend

#1226 Fix error when moving between pages
  packages/hash/frontend/src/blocks/page/createEditorView.ts
Labels: A-hash, frontend

#1231 Fix benchmarking code
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
Labels: A-backend

#1218 Add compilation for structural queries
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-backend

#1230 Fix user-provided fields not being prepared
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-backend

#1236 Return `Subgraph` from Entity endpoints in the Graph API
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier.rs
  packages/graph/hash_graph/lib/graph/src/shared/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/version_id.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
Labels: A-hash, api, A-backend

#1219 Add query representation for `PropertyType`
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-backend

#1232 Configure Sentry Replay
  packages/hash/frontend/next.config.js
  packages/hash/frontend/package.json
  packages/hash/frontend/sentry.client.config.ts
  packages/hash/frontend/sentry.server.config.ts
  packages/hash/frontend/src/lib/public-env.ts
  packages/hash/shared/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1221 Add conversion from `Path` to `PropertyTypeQueryPath`
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
Labels: A-backend

#1244 Fix GitHub warnings related to `::set-output` deprecation
  .github/scripts/rust/setup.py
  .github/workflows/rust.yml
Labels: A-infra

#1229 Add seed data for dev
  package.json
  packages/hash/api/src/index.ts
  packages/hash/api/src/seed-data/dev-users.ts
  packages/hash/api/src/seed-data/index.ts
  packages/hash/api/src/seed-data/seed-pages.ts
  packages/hash/integration/package.json
  packages/hash/integration/src/mockData/accounts.ts
  packages/hash/integration/src/mockData/index.ts
Labels: A-hash, api, integration

#1222 Add query representation for `EntityType` and `LinkType`
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/link_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-backend

#1240 Configure codecov
  .github/workflows/ci.yml
  blocks/calculation/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/drawing/package.json
  blocks/embed/package.json
  blocks/github-pr-overview/package.json
  blocks/header/package.json
  blocks/image/package.json
  blocks/paragraph/package.json
  blocks/person/package.json
  blocks/shuffle/package.json
  blocks/stopwatch/package.json
  blocks/table/package.json
  blocks/timer/package.json
  blocks/toggle-item/package.json
  blocks/video/package.json
  codecov.yml
  packages/graph/clients/typescript/package.json
  packages/graph/migrations/package.json
  packages/hash/api/jest.config.cjs
  packages/hash/api/jest.config.js
  packages/hash/api/package.json
  packages/hash/backend-utils/jest.config.cjs
  packages/hash/backend-utils/jest.config.js
  packages/hash/backend-utils/package.json
  packages/hash/design-system/package.json
  packages/hash/frontend/jest.config.cjs
  packages/hash/frontend/package.json
  packages/hash/integration/jest.config.cjs
  packages/hash/integration/package.json
  packages/hash/playwright/package.json
  packages/hash/realtime/package.json
  packages/hash/search-loader/package.json
  packages/hash/shared/package.json
  packages/hash/shared/src/entity.test.ts
  packages/hash/task-executor/package.json
  sites/hashai/package.json
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, api, integration, frontend, search-loader, playwright, A-blocks, realtime, A-backend

#1252 Increase `wait-on` timeout for backend in CI
  .github/workflows/ci.yml
Labels: A-infra

#1216 Allow setting property types before creating first entity type version
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetEntityType.ts
  packages/hash/frontend/src/lib/use-init-type-system.ts
  packages/hash/frontend/src/lib/use-init-type-system.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/edit-bar.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entity-type.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-property-types.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new/entity-type.page.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/shared/src/types.ts
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1262 Remove old entity editor
  packages/hash/frontend/src/pages/[account-slug]/entities/new.page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor/entity-field-link-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor/entity-links-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/shared/simple-entity-editor/types.ts
Labels: A-hash, frontend

#1242 Return Subgraph from (most) Entity endpoints across the Workspace
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/ontology/model-mapping.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolGetEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/ontology-types-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateDataTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateEntityTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateLinkTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregatePropertyTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetDataType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetPropertyType.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/data-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/link-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/property-type.queries.ts
  packages/hash/frontend/src/graphql/queries/subgraph.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/lib/subgraph.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/extract-enriched-property-types-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-on-cell-edited.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper/entity-page-header.tsx
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/shared/src/graphql/types.ts
Labels: A-hash, api, frontend

#1260 Remove `Custom("key")` variant
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
Labels: A-backend

#1161 Display block-level comments
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/graphql/resolvers/comments/createComment.ts
  packages/hash/api/src/graphql/resolvers/comments/index.ts
  packages/hash/api/src/graphql/resolvers/comments/linkedEntities.ts
  packages/hash/api/src/graphql/resolvers/comments/textUpdatedAt.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/author.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/comment.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/has-text.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/parent.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/replies.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/text-updated-at.ts
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/page.ts
  packages/hash/api/src/graphql/typeDefs/comment.typedef.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/comment.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/page.typedef.ts
  packages/hash/api/src/model/comment.model.ts
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/knowledge/block.model.ts
  packages/hash/api/src/model/knowledge/comment.model.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/api/src/model/page.model.ts
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentBlock.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentBlockMenu.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentTextField.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentThread.tsx
  packages/hash/frontend/src/blocks/page/Comments/CreateBlockComment.tsx
  packages/hash/frontend/src/blocks/page/Comments/CreateBlockCommentButton.tsx
  packages/hash/frontend/src/blocks/page/Comments/commentPlaceholderPlugin.tsx
  packages/hash/frontend/src/blocks/page/Comments/style.module.css
  packages/hash/frontend/src/blocks/page/MentionView/MentionDisplay.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/PageSectionContainer.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/blocks/page/style.module.css
  packages/hash/frontend/src/components/PageLoadingState.tsx
  packages/hash/frontend/src/components/hooks/useCreateComment.ts
  packages/hash/frontend/src/components/hooks/usePageComments.ts
  packages/hash/frontend/src/graphql/queries/comment.queries.ts
  packages/hash/frontend/src/graphql/queries/page.queries.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/integration/src/tests/model/comment.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/comment.model.test.ts
  packages/hash/shared/src/text.ts
  packages/hash/shared/src/types.ts
Labels: A-hash, api, integration, frontend

#1253 Add tooltips to section headers on entity editor
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/shared/entity-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/shared/icons/svg.tsx
  packages/hash/frontend/src/shared/icons/svg/circle-info.svg
Labels: A-hash, frontend

#1223 Add conversion from `Path` for `EntityTypeQueryPath` and `LinkTypeQueryPath`
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
Labels: A-backend

#1264 Run ESLint and TSC via Turborepo
  .github/workflows/ci.yml
  blocks/html-para/package.json
  package.json
  packages/engine/apache-arrow-js-bundle/package.json
  packages/graph/clients/package.json
  packages/graph/clients/typescript/package.json
  packages/hash/eslint-config/package.json
  packages/hash/tsconfig/package.json
  turbo.json
  yarn.lock
Labels: C-dependencies, A-engine, A-hash, A-infra, A-blocks, A-backend

#1246 Add provenance fields for ontology query types
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/link_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
Labels: A-backend

#1254 Add Rust provenance module
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/bench/benches/util.rs
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/account.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier.rs
  packages/graph/hash_graph/lib/graph/src/shared/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/provenance.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/links.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1256 Generalize conversion between persisted ontology types and records
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
Labels: A-backend

#1243 Add tooltip support to entity editor
  packages/hash/frontend/src/components/GlideGlid/custom-grid-icons.ts
  packages/hash/frontend/src/components/GlideGlid/glide-grid.tsx
  packages/hash/frontend/src/components/GlideGlid/use-grid-tooltip.tsx
  packages/hash/frontend/src/components/GlideGlid/use-grid-tooltip/grid-tooltip-manager.ts
  packages/hash/frontend/src/components/GlideGlid/use-grid-tooltip/types.ts
  packages/hash/frontend/src/components/GlideGlid/utils.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/constants.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/use-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/constants.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/extract-enriched-property-types-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/get-tooltips-of-property.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-on-cell-edited.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data.ts
Labels: A-hash, frontend

#1261 Implement custom cell for "Data Type" column on entity editor
  packages/hash/frontend/src/components/GlideGlid/custom-grid-icons.ts
  packages/hash/frontend/src/components/GlideGlid/draw-cell-fade-out-gradient.ts
  packages/hash/frontend/src/components/GlideGlid/glide-grid.tsx
  packages/hash/frontend/src/components/GlideGlid/use-grid-tooltip/grid-tooltip-manager.ts
  packages/hash/frontend/src/components/GlideGlid/utils.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/data-type-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/get-tooltips-of-property.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-get-cell-content.ts
Labels: A-hash, frontend

#1257 Add predefined `Filter` methods
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
Labels: A-backend

#1259 Merge `*QueryField` and `*QueryPath`
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/link_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-backend

#1263 Add updated BP getAggregateEntities hook
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/RemoteBlock/RemoteBlock.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolAggregateEntities.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolGetEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolAggregateEntities.ts
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
Labels: A-hash, frontend

#1233 Introduce comment editing
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/update-text.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/comment.typedef.ts
  packages/hash/api/src/model/knowledge/comment.model.ts
  packages/hash/design-system/src/button.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentActionButtons.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentBlock.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentBlockMenu.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentBlockMenuItem.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentTextField.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentThread.tsx
  packages/hash/frontend/src/blocks/page/Comments/style.module.css
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/components/hooks/useUpdateCommentText.ts
  packages/hash/frontend/src/graphql/queries/comment.queries.ts
  packages/hash/frontend/src/shared/icons/pencil-slash-icon.tsx
Labels: A-hash, api, frontend

#1255 Add basic validation and conversion to compiled query filters
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
Labels: A-backend

#1258 Use ontology queries in REST endpoints
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1238 Introduce comment deletion
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/delete.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/replies.ts
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/comment.typedef.ts
  packages/hash/api/src/model/knowledge/comment.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/frontend/src/blocks/page/Comments/CommentBlock.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentBlockDeleteConfirmationDialog.tsx
  packages/hash/frontend/src/components/hooks/useDeleteComment.ts
  packages/hash/frontend/src/graphql/queries/comment.queries.ts
  packages/hash/shared/src/types.ts
Labels: A-hash, api, frontend

#1270 Switch to a local action for installing Rust toolchain
  .github/actions/install-rust-toolchain/action.yml
  .github/workflows/rust.yml
Labels: A-infra

#1267 Allow specifying resolve direction on edges in compiled queries
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/link_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
Labels: A-backend

#1269 Add representation for `Link` and linked entities
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/query.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/link.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-backend

#1265 Introduce comment resolution
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/resolve.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/comment.typedef.ts
  packages/hash/api/src/model/knowledge/comment.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/frontend/src/blocks/page/Comments/CommentBlock.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentThread.tsx
  packages/hash/frontend/src/components/hooks/useResolveComment.ts
  packages/hash/frontend/src/graphql/queries/comment.queries.ts
Labels: A-hash, api, frontend

#1273 Add deserialization support for entity queries
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/shared/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/query.rs
Labels: A-backend

#1228 Add deserialization support for Link queries
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/query.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
Labels: A-backend

#1275 Use optimized queries in entity endpoints
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
Labels: A-backend

#1271 Allow ordering by path of query results
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/order_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
Labels: A-backend

#1272 Make distinct selections explicit
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
Labels: A-backend

#1276 Use optimized queries in link endpoints
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
Labels: A-backend

#1277 Adjust `StructuralQuery` struct to contain a `Filter<T>`
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1278 Adjust backend to use the new `Filter`s 🎉
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/link_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/link/link.ts
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
Labels: A-hash, api, integration, A-backend

#1284 Update dependencies in blocks
  blocks/calculation/package.json
  blocks/callout/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/drawing/package.json
  blocks/github-pr-overview/package.json
  blocks/header/package.json
  blocks/image/package.json
  blocks/paragraph/package.json
  blocks/person/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  blocks/timer/package.json
  blocks/video/package.json
  packages/hash/frontend/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#1288 Avoid frame casting by using `Any` instead of `unsafe`
  packages/libs/error-stack/src/frame/frame_impl.rs
  packages/libs/error-stack/src/frame/mod.rs
Labels: A-error-stack

#1289 `error-stack` expose `Frame::type_id`
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/src/frame/mod.rs
  packages/libs/error-stack/tests/test_frame.rs
Labels: A-error-stack

#1279 Generate OpenAPI specs to make the usage of queries more type-safe
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/link/link.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
Labels: A-hash, api, A-backend

#1282 Change `links` and start removing link-type related things.
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/query.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/links.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/link_type.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1281 Remove old query resolvers
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/query.rs
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/shared/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/query.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/old.rs
Labels: A-backend

#1283 Make `JOIN` statements explicit (`INNER JOIN`)
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
Labels: A-backend

#1293 Fix typo in `error-stack` changelog
  packages/libs/error-stack/CHANGELOG.md
Labels: A-error-stack

#1294 Bring dev/links inline with main
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/link/query.rs
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/shared/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/query.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/link_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type/resolve.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/old.rs
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/link/link.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
Labels: A-hash, api, A-backend

#1297 Add entity histories table with references
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1298 Use structural queries for knowledge subgraphs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/links.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
Labels: A-backend

#1291 Add basic coverage support for Rust crates
  .github/scripts/rust/Makefile.toml
  .github/scripts/rust/setup.py
  .github/workflows/rust.yml
  packages/graph/hash_graph/Makefile.toml
  packages/libs/error-stack/Makefile.toml
Labels: A-infra, A-error-stack, A-backend

#1300 Run unit and backend tests on main branch to report coverage
  .github/workflows/ci.yml
Labels: A-infra
