Repository hashintel/hash, pull requests merged in 2022-11, with the labels that each got.

#1310 Tweak `A-infra` labeling to include top level configurations
  .github/labeler.yml
Labels: A-infra

#1301 Rework Entity to support Link Entities
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#1307 Set coverage flags to carry forward
  codecov.yml
Labels: A-infra

#1304 Update ESLint and Playwright dependencies
  blocks/callout/package.json
  blocks/divider/package.json
  blocks/embed/package.json
  blocks/header/package.json
  blocks/image/package.json
  blocks/paragraph/package.json
  blocks/person/package.json
  blocks/table/package.json
  blocks/video/package.json
  package.json
  packages/graph/clients/typescript/package.json
  packages/hash/api/package.json
  packages/hash/api/src/auth/index.ts
  packages/hash/design-system/package.json
  packages/hash/eslint-config/package.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/pages/_document.page.tsx
  packages/hash/frontend/src/pages/shared/breadcrumbs.tsx
  packages/hash/integration/package.json
  packages/hash/playwright/package.json
  packages/hash/shared/package.json
  sites/hashdev/package.json
  sites/hashdev/src/pages/_document.page.tsx
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, api, integration, frontend, playwright, A-blocks, A-backend

#1315 Format `.eslintrc.cjs` files
  .eslintrc.cjs
  .prettierrc.js
  packages/graph/clients/typescript/.eslintrc.cjs
  packages/graph/migrations/.eslintrc.cjs
  packages/hash/api/.eslintrc.cjs
  packages/hash/backend-utils/.eslintrc.cjs
  packages/hash/design-system/.eslintrc.cjs
  packages/hash/frontend/.eslintrc.cjs
  packages/hash/integration/.eslintrc.cjs
  packages/hash/playwright/.eslintrc.cjs
  packages/hash/realtime/.eslintrc.cjs
  packages/hash/search-loader/.eslintrc.cjs
  packages/hash/shared/.eslintrc.cjs
  packages/hash/task-executor/.eslintrc.cjs
  sites/hashai/.eslintrc.cjs
  sites/hashdev/.eslintrc.cjs
Labels: A-hash, api, integration, frontend, search-loader, playwright, realtime, A-backend

#1316 Use Node 16 in CI to align runtime with Vercel lambdas
  .github/actions/warm-up-repo/action.yml
  .github/workflows/hash-backend-cd.yml
  .github/workflows/sync-algolia-index.yml
Labels: A-infra

#1292 Entity Type Editor: Persist "Required" and "Allow Multiple Values"
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/form-types.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/multiple-values-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/white-card.tsx
Labels: A-hash, frontend

#1314 Fix queries for entity types and entities -- Part I
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#1311 `error-stack`: deprecate `Frame::location()`
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/frame/mod.rs
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/tests/common.rs
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook_provide.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__alt.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_decr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_for_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_incr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_multiple.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__norm.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace.snap
  packages/libs/error-stack/tests/test_attach.rs
  packages/libs/error-stack/tests/test_attach_printable.rs
  packages/libs/error-stack/tests/test_change_context.rs
  packages/libs/error-stack/tests/test_compatibility.rs
  packages/libs/error-stack/tests/test_frame.rs
  packages/libs/error-stack/tests/test_macros.rs
Labels: A-error-stack

#1299 Deprecate `updateUser` GQL mutation in favour of "before update entity" hooks
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/before-update-entity-hooks.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/user/updateUser.ts
  packages/hash/api/src/graphql/typeDefs/user.typedef.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolGetEntity.ts
  packages/hash/frontend/src/components/hooks/useAccounts.ts
  packages/hash/frontend/src/components/hooks/useAuthenticatedUser.ts
  packages/hash/frontend/src/components/hooks/useOrgs.ts
  packages/hash/frontend/src/components/hooks/useUpdateAuthenticatedUser.ts
  packages/hash/frontend/src/components/hooks/useUsers.ts
  packages/hash/frontend/src/graphql/queries/user.queries.ts
  packages/hash/frontend/src/pages/signup.page.tsx
Labels: A-hash, api, frontend

#1318 Add entity archival endpoint
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/entity_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/update_entity_type.json
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/error.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1321 Support outgoing and incoming links in structural queries
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-backend

#1266 Support nested properties on entity editor
  packages/hash/frontend/src/components/GlideGlid/custom-grid-icons.ts
  packages/hash/frontend/src/components/GlideGlid/glide-grid.tsx
  packages/hash/frontend/src/components/GlideGlid/utils.ts
  packages/hash/frontend/src/components/GlideGlid/utils/custom-grid-icons.ts
  packages/hash/frontend/src/components/GlideGlid/utils/draw-cell-fade-out-gradient.ts
  packages/hash/frontend/src/components/GlideGlid/utils/draw-chip-with-icon.ts
  packages/hash/frontend/src/components/GlideGlid/utils/draw-round-rect.ts
  packages/hash/frontend/src/components/GlideGlid/utils/draw-vertical-indentation-line.ts
  packages/hash/frontend/src/components/GlideGlid/utils/sorting.ts
  packages/hash/frontend/src/components/GlideGlid/utils/use-draw-cell.ts
  packages/hash/frontend/src/components/GlideGlid/utils/use-draw-header.ts
  packages/hash/frontend/src/components/GlideGlid/utils/use-grid-tooltip.tsx
  packages/hash/frontend/src/components/GlideGlid/utils/use-grid-tooltip/grid-tooltip-manager.ts
  packages/hash/frontend/src/components/GlideGlid/utils/use-grid-tooltip/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/get-empty-property-count.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/get-property-count-summary.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/data-type-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/property-name-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/draw-nested-property-summary.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/extract-enriched-property-types-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/fill-row-data-indent-calculations.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/flatten-expanded-items-of-tree.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/get-tooltips-of-property-row.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/get-tooltips-of-property.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-on-cell-edited.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity/generate-property-row-recursively.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity/get-data-types-of-property-type.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper/entity-page-header.tsx
  patches/@glideapps+glide-data-grid+5.1.4.patch
Labels: A-hash, frontend

#1330 Don't implement `ToSql` and `FromSql` for provenance records
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/provenance.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-backend

#1333 Fix wrong index in ontology reading
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
Labels: A-backend

#1336 Bump nightly version of `error-stack` to Rust 1.67
  packages/libs/error-stack/README.md
  packages/libs/error-stack/macros/rust-toolchain.toml
  packages/libs/error-stack/rust-toolchain.toml
  packages/libs/error-stack/src/lib.rs
Labels: A-error-stack

#1338 Regenerate API client
  packages/graph/clients/typescript/api.ts
  packages/graph/clients/typescript/base.ts
  packages/graph/clients/typescript/configuration.ts
  packages/graph/clients/typescript/git_push.sh
Labels: A-backend

#1339 Fix OpenAPI spec generation
  packages/graph/clients/typescript/git_push.sh
Labels: A-backend

#1334 Test `error-stack` with Rust 1.65
  .github/scripts/rust/setup.py
Labels: A-infra

#1317 Disable FF in Playwright tests
  .github/workflows/ci.yml
  packages/hash/playwright/playwright.config.ts
Labels: A-hash, A-infra, playwright

#1341 Remove debug statement of previous PR
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/lib.rs
Labels: A-error-stack

#1337 Bump `error-stack` to version `0.2.4`
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/Cargo.toml
Labels: A-error-stack

#1328 Fix integration test suite
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/tests/integration/postgres/data_type.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/entity_type.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/property_type.rs
  packages/graph/hash_graph/tests/test_data/src/entity_type/block.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/book.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/building.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/link.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/link/acquaintance_of.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/link/contains.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/link/friend_of.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/link/located_at.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/link/mod.rs
  packages/graph/hash_graph/tests/test_data/src/entity_type/link/owns_v1.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/link/owns_v2.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/link/submitted_by.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/link/tenant.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/link/written_by.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/mod.rs
  packages/graph/hash_graph/tests/test_data/src/entity_type/organization.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/page_v1.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/page_v2.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/person.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/playlist.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/song.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/uk_address.json
  packages/graph/hash_graph/tests/test_data/src/property_type/address_line_1.json
  packages/graph/hash_graph/tests/test_data/src/property_type/age.json
  packages/graph/hash_graph/tests/test_data/src/property_type/blurb.json
  packages/graph/hash_graph/tests/test_data/src/property_type/city.json
  packages/graph/hash_graph/tests/test_data/src/property_type/contact_information.json
  packages/graph/hash_graph/tests/test_data/src/property_type/contrived_property.json
  packages/graph/hash_graph/tests/test_data/src/property_type/email.json
  packages/graph/hash_graph/tests/test_data/src/property_type/favorite_film.json
  packages/graph/hash_graph/tests/test_data/src/property_type/favorite_quote.json
  packages/graph/hash_graph/tests/test_data/src/property_type/favorite_song.json
  packages/graph/hash_graph/tests/test_data/src/property_type/hobby.json
  packages/graph/hash_graph/tests/test_data/src/property_type/interests.json
  packages/graph/hash_graph/tests/test_data/src/property_type/name.json
  packages/graph/hash_graph/tests/test_data/src/property_type/numbers.json
  packages/graph/hash_graph/tests/test_data/src/property_type/phone_number.json
  packages/graph/hash_graph/tests/test_data/src/property_type/postcode.json
  packages/graph/hash_graph/tests/test_data/src/property_type/published_on.json
  packages/graph/hash_graph/tests/test_data/src/property_type/text.json
  packages/graph/hash_graph/tests/test_data/src/property_type/user_id_v1.json
  packages/graph/hash_graph/tests/test_data/src/property_type/user_id_v2.json
Labels: A-backend

#1286 `deer` core error traits
  .github/scripts/rust/setup.py
  packages/libs/deer/Cargo.toml
  packages/libs/deer/src/error.rs
  packages/libs/deer/src/lib.rs
Labels: A-infra, A-deer

#1332 Add empty "Properties" state on entity page
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/types-section.tsx
Labels: A-hash, frontend

#1344 Re-enable two Playwright tests
  packages/hash/playwright/tests/entity-creation.spec.ts
  packages/hash/playwright/tests/guest-user.spec.ts
  packages/hash/playwright/tests/page-creation.spec.ts
  packages/hash/playwright/tests/page-readonly-mode.spec.ts
  packages/hash/playwright/tests/shared/get-derived-payload-from-most-recent-email.ts
  packages/hash/playwright/tests/shared/login-using-temp-form.ts
  packages/hash/playwright/tests/shared/login-using-ui.ts
  packages/hash/playwright/tests/shared/reset-db.ts
Labels: A-hash, playwright

#436 Check console messages in Playwright
  packages/hash/frontend/src/pages/login.page.tsx
  packages/hash/frontend/src/pages/signup.page.tsx
  packages/hash/playwright/.eslintrc.cjs
  packages/hash/playwright/tests/entity-creation.spec.ts
  packages/hash/playwright/tests/guest-user.spec.ts
  packages/hash/playwright/tests/page-creation.spec.ts
  packages/hash/playwright/tests/page-readonly-mode.spec.ts
  packages/hash/playwright/tests/shared/runtime.ts
Labels: A-hash, frontend, playwright

#1322 Make type editor functional with org namespaces
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entity-type.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-route-namespace.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new/entity-type.page.tsx
Labels: A-hash, frontend

#1346 Refactor code around entity editor & `glide-data-grid`
  packages/hash/frontend/src/components/GlideGlid/glide-grid.tsx
  packages/hash/frontend/src/components/GlideGlid/utils.ts
  packages/hash/frontend/src/components/GlideGlid/utils/use-draw-cell.ts
  packages/hash/frontend/src/components/GlideGlid/utils/use-draw-header.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/peers-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/chip-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper/entity-page-header.tsx
  packages/hash/frontend/src/pages/[account-slug]/shared/hash-ontology-icon.tsx
  packages/hash/frontend/src/pages/[account-slug]/shared/ontology-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/shared/section-empty-state.tsx
  packages/hash/frontend/src/pages/[account-slug]/shared/section-wrapper.tsx
  packages/hash/frontend/src/pages/[account-slug]/shared/white-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/shared/white-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/empty-property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new/entity-type.page.tsx
Labels: A-hash, frontend

#1345 Allow creating a property type and inserting it
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/design-system/src/fontawesome-icon.tsx
  packages/hash/design-system/src/text-field.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetPropertyType.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-property-types.tsx
  packages/hash/frontend/src/shared/icons/pro/fa-100.tsx
  packages/hash/frontend/src/shared/icons/pro/fa-square-check.tsx
  packages/hash/frontend/src/shared/icons/pro/fa-text.tsx
Labels: A-hash, api, frontend

#1287 Fix `hello-hash` example not being JSON
  sites/hashai/resources/docs/simulation/tutorials/hello-hash.md
Labels: A-learn

#1342 Update PageSectionContainer.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/PageSectionContainer.tsx
Labels: A-hash, frontend

#1352 Add united view of latest and historic entities
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1349 Fix lifetimes for compiler
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-backend

#1340 Allow logged-out users to view pages
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/frontend/src/blocks/page/Comments/CreateBlockCommentButton.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/PageSectionContainer.tsx
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/components/hooks/useAuthenticatedUser.ts
  packages/hash/frontend/src/pages/[account-slug]/index.page.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/_app.page/session-provider.tsx
  packages/hash/frontend/src/pages/shared/session-context.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header.tsx
  packages/hash/frontend/src/shared/readonly-mode.tsx
Labels: A-hash, api, frontend

#1355 Update markdownlint, fix newly discovered errors
  package.json
  packages/engine/CONTRIBUTING.md
  packages/engine/README.md
  yarn.lock
Labels: C-dependencies, A-engine, A-infra

#1327 Add concept of an "instance admin" in the system
  packages/hash/api/src/graph/system-entities.ts
  packages/hash/api/src/graph/workspace-types.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/lib/error.ts
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/knowledge/hashInstance.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/seed-data/dev-users.ts
  packages/hash/frontend/src/lib/user.ts
  packages/hash/integration/src/tests/model/knowledge/comment.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/hashInstance.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/orgMembership.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/page.model.test.ts
  packages/hash/shared/src/types.ts
Labels: A-hash, api, integration, frontend

#1353 Update devDependencies
  blocks/calculation/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/drawing/package.json
  blocks/embed/package.json
  blocks/github-pr-overview/package.json
  blocks/header/package.json
  blocks/html-para/package.json
  blocks/image/package.json
  blocks/paragraph/package.json
  blocks/person/package.json
  blocks/shuffle/package.json
  blocks/stopwatch/package.json
  blocks/table/package.json
  blocks/timer/package.json
  blocks/toggle-item/package.json
  blocks/video/package.json
  libs/javascript/@local/eslint-config/package.json
  package.json
  packages/graph/clients/package.json
  packages/graph/clients/typescript/package.json
  packages/graph/migrations/package.json
  packages/hash/api/package.json
  packages/hash/backend-utils/package.json
  packages/hash/design-system/package.json
  packages/hash/frontend/package.json
  packages/hash/integration/package.json
  packages/hash/playwright/package.json
  packages/hash/realtime/package.json
  packages/hash/search-loader/package.json
  packages/hash/shared/package.json
  packages/hash/task-executor/package.json
  sites/hashai/package.json
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, api, integration, frontend, search-loader, playwright, A-blocks, realtime, A-backend

#1350 Replace uses of "workspace" with "system"
  .env
  packages/hash/api/src/auth/index.ts
  packages/hash/api/src/db/postgres/account.ts
  packages/hash/api/src/graph/system-entities.ts
  packages/hash/api/src/graph/system-types.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/has-text.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/before-update-entity-hooks.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/model/knowledge/block.model.ts
  packages/hash/api/src/model/knowledge/comment.model.ts
  packages/hash/api/src/model/knowledge/hashInstance.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/util.ts
  packages/hash/api/src/model/util.ts
  packages/hash/api/src/seed-data/dev-users.ts
  packages/hash/api/src/seed-data/index.ts
  packages/hash/backend-utils/src/system.ts
  packages/hash/frontend/src/blocks/page/createSuggester/MentionSuggester.tsx
  packages/hash/integration/src/tests/email.test.ts
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/comment.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/hashInstance.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/org.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/orgMembership.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/page.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/integration/src/tests/util.ts
  packages/hash/playwright/tests/entity-creation.spec.ts
  packages/hash/playwright/tests/guest-user.spec.ts
  packages/hash/playwright/tests/page-readonly-mode.spec.ts
  packages/hash/shared/src/types.ts
Labels: A-hash, api, integration, frontend, playwright

#1362 Remove prism dependency
  package.json
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-infra

#1361 Update graphql-codegen dependencies
  blocks/paragraph/package.json
  package.json
  packages/hash/api/package.json
  packages/hash/frontend/package.json
  packages/hash/integration/package.json
  packages/hash/shared/package.json
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, api, integration, frontend, A-blocks

#1366 Update `name` and `version` fields in block workspaces
  blocks/calculation/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/drawing/package.json
  blocks/embed/package.json
  blocks/github-pr-overview/package.json
  blocks/header/package.json
  blocks/html-para/package.json
  blocks/image/package.json
  blocks/paragraph/package.json
  blocks/person/package.json
  blocks/shuffle/package.json
  blocks/stopwatch/package.json
  blocks/table/package.json
  blocks/timer/package.json
  blocks/toggle-item/package.json
  blocks/video/package.json
Labels: A-blocks

#1354 `deer` improve arbitrarily sized numbers
  packages/libs/deer/Cargo.toml
  packages/libs/deer/src/number.rs
Labels: A-deer

#1351 `deer` remove `Error` trait
  packages/libs/deer/src/error.rs
  packages/libs/deer/src/lib.rs
Labels: A-deer

#1357 Support returning archived and versions of entities
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1364 Create "before update entity" hook for updating the kratos emails
  packages/hash/api/src/graphql/resolvers/knowledge/entity/before-update-entity-hooks.ts
Labels: A-hash, api

#1360 Add `createUser` GQL mutation
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/user/create-user.ts
  packages/hash/api/src/graphql/resolvers/knowledge/user/is-shortname-taken.ts
  packages/hash/api/src/graphql/resolvers/knowledge/user/me.ts
  packages/hash/api/src/graphql/resolvers/middlewares/isHashInstanceAdmin.ts
  packages/hash/api/src/graphql/resolvers/middlewares/loggedIn.ts
  packages/hash/api/src/graphql/resolvers/middlewares/loggedInAndSignedUpHashInstanceAdmin.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/user.typedef.ts
  packages/hash/api/src/graphql/typeDefs/user.typedef.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
Labels: A-hash, api

#1370 Add Log middleware to Graph Rest API
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/middleware.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
Labels: C-dependencies, A-backend

#1347 Add deserialization for `LeftEntity` and `RightEntity`
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
Labels: A-backend

#1348 Fix deduplication to take columns into account
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#1368 Make local workspace versions distinct (`0.0.0-private`)
  blocks/github-pr-overview/package.json
  blocks/shuffle/package.json
  packages/engine/apache-arrow-js-bundle/package.json
  packages/engine/stdlib/package.json
  packages/graph/clients/package.json
  packages/graph/clients/typescript/package.json
  packages/graph/migrations/package.json
  packages/hash/api/package.json
  packages/hash/backend-utils/package.json
  packages/hash/design-system/package.json
  packages/hash/frontend/package.json
  packages/hash/integration/package.json
  packages/hash/playwright/package.json
  packages/hash/realtime/package.json
  packages/hash/search-loader/package.json
  packages/hash/shared/package.json
  packages/hash/task-executor/package.json
  sites/hashai/package.json
  sites/hashdev/package.json
Labels: A-engine, A-hash, api, integration, frontend, search-loader, playwright, A-blocks, realtime, A-backend

#1365 Update `lru-cache`, remove `@types/lru-cache`
  packages/hash/api/package.json
  packages/hash/api/src/collab/collabApp.ts
  yarn.lock
Labels: C-dependencies, A-hash, api

#1373 Update scope of Renovate
  .github/renovate.json
Labels: A-infra

#1358 Don't re-render at top level when properties change
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/edit-bar.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/entity-type-definition-tab.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/entity-type-tabs.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/tab-button.tsx
  patches/react-hook-form+7.37.0.patch
Labels: A-hash, frontend

#1374 Start to fix Graph Identifiers
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bench/Cargo.toml
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/mod.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/bench/benches/util.rs
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/account.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/account.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/ontology.rs
  packages/graph/hash_graph/lib/graph/src/shared/provenance.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: C-dependencies, A-backend

#1376 Rework Graph Element Metadata
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/ontology.rs
  packages/graph/hash_graph/lib/graph/src/shared/provenance.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/context/ontology.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1379 Hotfix meta-schemas
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/entity_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/property_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/update_entity_type.json
  packages/graph/hash_graph/lib/graph/src/api/rest/json_schemas/update_property_type.json
Labels: A-backend

#1381 Deduplicate dependencies after updating them
  .github/renovate.json
Labels: A-infra

#1384 Prepare to re-enable `@typescript-eslint/*` rules
  blocks/calculation/.eslintrc.cjs
  blocks/chart/.eslintrc.cjs
  blocks/drawing/.eslintrc.cjs
  blocks/embed/.eslintrc.cjs
  blocks/github-pr-overview/.eslintrc.cjs
  blocks/header/.eslintrc.cjs
  blocks/stopwatch/.eslintrc.cjs
  blocks/table/.eslintrc.cjs
  libs/javascript/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  libs/javascript/@local/eslint-config/temporarily-disable-rules.cjs
  packages/graph/migrations/.eslintrc.cjs
  packages/hash/api/.eslintrc.cjs
  packages/hash/backend-utils/.eslintrc.cjs
  packages/hash/design-system/.eslintrc.cjs
  packages/hash/frontend/.eslintrc.cjs
  packages/hash/integration/.eslintrc.cjs
  packages/hash/playwright/.eslintrc.cjs
  packages/hash/realtime/.eslintrc.cjs
  packages/hash/search-loader/.eslintrc.cjs
  packages/hash/shared/.eslintrc.cjs
  packages/hash/task-executor/.eslintrc.cjs
  sites/hashai/.eslintrc.cjs
  sites/hashdev/.eslintrc.cjs
  turbo.json
Labels: A-hash, A-infra, api, integration, frontend, search-loader, playwright, A-blocks, realtime, A-backend

#1388 `error-stack` warn about new lints
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/hook.rs
  packages/libs/error-stack/src/lib.rs
Labels: A-error-stack

#1371 Add `createOrg` mutation
  .env
  packages/hash/api/codegen.yml
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/org/create-org.ts
  packages/hash/api/src/graphql/resolvers/knowledge/user/create-user.ts
  packages/hash/api/src/graphql/resolvers/knowledge/user/me.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/org.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/user.typedef.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/integration/src/tests/model/knowledge/org.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/orgMembership.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/integration/src/tests/util.ts
Labels: A-hash, api, integration

#1390 Re-enable linting rules in several workspaces
  blocks/calculation/.eslintrc.cjs
  blocks/calculation/src/dev.tsx
  blocks/calculation/src/index.ts
  blocks/calculation/src/types.d.ts
  blocks/chart/.eslintrc.cjs
  blocks/chart/src/chart.tsx
  blocks/drawing/.eslintrc.cjs
  blocks/drawing/src/utils.ts
  blocks/embed/.eslintrc.cjs
  blocks/embed/src/components/resize-block.tsx
  blocks/embed/src/dev.tsx
  blocks/github-pr-overview/.eslintrc.cjs
  blocks/github-pr-overview/src/app.tsx
  blocks/github-pr-overview/src/entity-aggregations.ts
  blocks/github-pr-overview/src/icons.tsx
  blocks/github-pr-overview/src/pull-request-selector/custom-autocomplete.tsx
  blocks/github-pr-overview/src/pull-request-selector/index.tsx
  blocks/header/.eslintrc.cjs
  blocks/header/src/app.tsx
  blocks/stopwatch/.eslintrc.cjs
  blocks/stopwatch/src/app.tsx
  blocks/table/.eslintrc.cjs
  blocks/table/src/components/editable-cell.tsx
  blocks/table/src/lib/compare-entities-by-field.ts
  blocks/table/src/lib/filter-entities.ts
  blocks/table/src/lib/identify-entity.ts
  blocks/table/src/lib/omit-typename-deep.ts
  blocks/table/src/lib/sort-entities.ts
  packages/graph/migrations/.eslintrc.cjs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
  packages/hash/realtime/.eslintrc.cjs
  packages/hash/realtime/src/index.ts
  sites/hashai/.eslintrc.cjs
  sites/hashai/scripts/sync-algolia-index.ts
Labels: A-hash, A-blocks, realtime, A-backend

#1369 Add boolean & number type support to entity editor
  packages/hash/frontend/src/components/GlideGlid/utils/custom-grid-icons.ts
  packages/hash/frontend/src/components/GlideGlid/utils/draw-text-with-icon.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/get-property-count-summary.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/is-value-empty.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/boolean-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/number-or-string-editor.tsx
  patches/@glideapps+glide-data-grid+5.1.4.patch
Labels: A-hash, frontend

#1382 Update Subgraph
  packages/graph/clients/openapitools.json
  packages/graph/clients/typescript/api.ts
  packages/graph/clients/typescript/base.ts
  packages/graph/clients/typescript/common.ts
  packages/graph/clients/typescript/configuration.ts
  packages/graph/clients/typescript/index.ts
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/ontology.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/depths.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/edge.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/kind.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/query.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/vertices/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/vertices/vertex.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/links.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: C-dependencies, A-backend

#1394 Fix benchmarks and various other lints
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/bench/benches/util.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/middleware.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/depths.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/kind.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/vertices/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/vertices/vertex.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/test_data/src/entity_type/book.json
  packages/graph/hash_graph/tests/test_data/src/entity_type/building.json
Labels: A-backend

#1386 Add interactivity to items inside `glide-data-grid` cells
  packages/hash/frontend/src/components/GlideGlid/glide-grid.tsx
  packages/hash/frontend/src/components/GlideGlid/utils/interactable-manager.ts
  packages/hash/frontend/src/components/GlideGlid/utils/interactable-manager/types.ts
  packages/hash/frontend/src/components/GlideGlid/utils/interactable-manager/utils.ts
  packages/hash/frontend/src/components/GlideGlid/utils/use-grid-tooltip.tsx
  packages/hash/frontend/src/components/GlideGlid/utils/use-grid-tooltip/draw-interactable-tooltip-icons.ts
  packages/hash/frontend/src/components/GlideGlid/utils/use-grid-tooltip/grid-tooltip-manager.ts
  packages/hash/frontend/src/components/GlideGlid/utils/use-grid-tooltip/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/shared/src/util.ts
  patches/@glideapps+glide-data-grid+5.1.4.patch
Labels: A-hash, frontend

#1387 Fix adding selection path resulting in unneeded joins
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1367 Add documentation for structural queries
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/doc/structural-queries.md
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/depths.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/query.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#1403 Fix doc-tests not passing
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
Labels: A-backend

#1380 Make GraphQL API runnable, basic fixes in `Entity`/`EntityType`/`PropertyType`/`DataType` model classes
  packages/hash/api/package.json
  packages/hash/api/src/graph/system-types.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/model/knowledge/block.model.ts
  packages/hash/api/src/model/knowledge/comment.model.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/api/src/seed-data/dev-users.ts
  packages/hash/api/src/seed-data/index.ts
  packages/hash/frontend/package.json
  packages/hash/integration/package.json
  packages/hash/shared/package.json
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend

#1405 Bump toolchain to 2022-11-14 (`main`)
  packages/graph/hash_graph/rust-toolchain.toml
Labels: A-backend

#1359 Update `prosemirror-*`, remove `@types/prosemirror-*`
  libs/javascript/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  package.json
  packages/hash/api/package.json
  packages/hash/api/src/collab/Instance.ts
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentTextField.tsx
  packages/hash/frontend/src/blocks/page/Comments/commentPlaceholderPlugin.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/LoadingView.tsx
  packages/hash/frontend/src/blocks/page/MentionView/MentionNodeView.ts
  packages/hash/frontend/src/blocks/page/MentionView/MentionView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/PageContext.tsx
  packages/hash/frontend/src/blocks/page/PageTitle/utils.ts
  packages/hash/frontend/src/blocks/page/clipboardTextSerializer.ts
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/blocks/page/createErrorPlugin.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/index.tsx
  packages/hash/frontend/src/blocks/page/createFormatPlugins/util.ts
  packages/hash/frontend/src/blocks/page/createPlaceholderPlugin/createPlaceholderPlugin.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
  packages/hash/frontend/src/blocks/page/createTextEditorView.ts
  packages/hash/frontend/src/blocks/page/focusPageTitlePlugin.ts
  packages/hash/shared/package.json
  packages/hash/shared/src/ProsemirrorManager.ts
  packages/hash/shared/src/createProseMirrorState.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/prosemirror.ts
  packages/hash/shared/src/save.ts
  packages/hash/shared/src/text.ts
  packages/hash/shared/src/wrapEntitiesPlugin.ts
  patches/@types+prosemirror-model+1.16.0.patch
  patches/prosemirror-model+1.18.2.patch
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, api, frontend

#1402 Use `llvm-tools` over `llvm-tools-preview`
  .github/scripts/rust/Makefile.toml
Labels: A-infra

#1398 Implement resizable columns on grid
  packages/hash/frontend/src/components/GlideGlid/glide-grid.tsx
  patches/@glideapps+glide-data-grid+5.1.4.patch
Labels: A-hash, frontend

#1410 Replace custom `ProsemirrorNode` type with standard `Node`
  libs/javascript/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  packages/hash/frontend/src/blocks/page/BlockView.tsx
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/LoadingView.tsx
  packages/hash/frontend/src/blocks/page/MentionView/MentionNodeView.ts
  packages/hash/frontend/src/blocks/page/MentionView/MentionView.tsx
  packages/hash/frontend/src/blocks/page/clipboardTextSerializer.ts
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/blocks/page/createFormatPlugins/util.ts
  packages/hash/shared/src/ProsemirrorManager.ts
  packages/hash/shared/src/createProseMirrorState.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/prosemirror.ts
  packages/hash/shared/src/save.ts
  packages/hash/shared/src/text.ts
  packages/hash/shared/src/wrapEntitiesPlugin.ts
  patches/prosemirror-model+1.18.2.patch
Labels: A-hash, frontend

#1413 Glide grid row hover effect and edit on-click
  packages/hash/frontend/src/components/GlideGlid/glide-grid.tsx
  packages/hash/frontend/src/components/GlideGlid/utils/draw-cell-fade-out-gradient.ts
  patches/@glideapps+glide-data-grid+5.1.4.patch
Labels: A-hash, frontend

#1409 Fix `yarn.lock`
  yarn.lock
Labels: C-dependencies

#1416 Run Rust CI on dev-branches
  .github/workflows/rust.yml
Labels: A-infra

#1420 Add archival to api
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
Labels: A-backend

#1422 Fix OpenAPI spec for edges
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/edge.rs
Labels: C-bug, A-backend

#1424 Correctly generate query tokens for OpenAPI interface
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
Labels: A-backend

#1423 Support link ordering in updateEntity endpoint
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1407 Replace `ColumnAccess` with concrete columns
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/order_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/window.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
Labels: A-backend

#1408 Use outer joins when joining on nullable columns
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-backend

#1411 Make `alias` non-optional in `AliasedTable` and `AliasedColumn`
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/order_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-backend

#1412 Add support for "links" queries in entity types
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#1427 Update Renovate config
  .github/renovate.json
Labels: A-infra

#1425 Fix pattern-based no-restricted-imports
  packages/hash/design-system/.eslintrc.cjs
  packages/hash/design-system/src/theme.ts
  packages/hash/design-system/src/theme/components.ts
  packages/hash/design-system/src/theme/shadows.ts
  packages/hash/frontend/.eslintrc.cjs
  packages/hash/frontend/src/blocks/page/Comments/CreateBlockCommentButton.tsx
  packages/hash/frontend/src/blocks/page/Comments/commentPlaceholderPlugin.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/components/ConfirmationAlert.tsx
  packages/hash/frontend/src/components/Modals/Modal.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  packages/hash/frontend/src/shared/ui/link.tsx
  sites/hashdev/src/components/Link.tsx
  sites/hashdev/src/components/TextField.tsx
  sites/hashdev/src/theme/MuiProvider.tsx
Labels: A-hash, frontend

#1421 Adjust ontology types GQL typedefs
  packages/hash/api/codegen.yml
  packages/hash/api/package.json
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/link-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/block.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/comment.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/page.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/data-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/entity-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/link-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/frontend/codegen.yml
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/ontology-types-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateLinkTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreateLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetLinkType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdateLinkType.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/link-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/property-type.queries.ts
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/integration/codegen.yml
  packages/hash/shared/codegen.yml
  packages/hash/shared/src/graphql/types.ts
Labels: A-hash, api, integration, frontend

#1434 Fix Renovate config
  .github/renovate.json
Labels: A-infra

#1406 Fix `any` in many instances of `@typescript-eslint/*` errors
  libs/javascript/@local/tsconfig/legacy-base-tsconfig-to-refactor.json
  packages/hash/api/.eslintrc.cjs
  packages/hash/backend-utils/.eslintrc.cjs
  packages/hash/backend-utils/package.json
  packages/hash/design-system/.eslintrc.cjs
  packages/hash/design-system/package.json
  packages/hash/design-system/src/theme.ts
  packages/hash/frontend/.eslintrc.cjs
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentActionButtons.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentBlock.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/peers-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper/entity-page-header.tsx
  packages/hash/frontend/src/pages/[account-slug]/shared/white-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/edit-bar.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/empty-property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/multiple-values-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-expected-values.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-selector-dropdown.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-selector.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/question-icon.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new/entity-type.page.tsx
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/integration/.eslintrc.cjs
  packages/hash/playwright/.eslintrc.cjs
  packages/hash/search-loader/.eslintrc.cjs
  packages/hash/shared/.eslintrc.cjs
  packages/hash/shared/package.json
  packages/hash/task-executor/.eslintrc.cjs
  sites/hashdev/.eslintrc.cjs
Labels: A-hash, api, integration, frontend, search-loader, playwright

#1432 Seed links in benchmarks (`dev/links`)
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
Labels: A-backend

#1431 Seed links in benchmarks (`main`)
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/link/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1441 Fix nested hashmap extension
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/vertices/mod.rs
Labels: A-backend

#1442 Don't collect into intermediary collection of subgraphs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/depths.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/vertices/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
Labels: A-backend

#1444 Rename "endpoint" in edges
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/bench/benches/representative_read/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/edge.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/kind.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/hash/subgraph/src/types/edge.ts
  packages/hash/subgraph/tests/compatibility.test/map-edges.ts
Labels: A-hash, A-backend

#1438 Add Subgraph Lib functionality
  packages/hash/subgraph/jest.config.cjs
  packages/hash/subgraph/src/shared/invariant.ts
  packages/hash/subgraph/src/stdlib/edge/link.ts
  packages/hash/subgraph/src/stdlib/element/data-type.ts
  packages/hash/subgraph/src/stdlib/element/entity-type.ts
  packages/hash/subgraph/src/stdlib/element/entity.ts
  packages/hash/subgraph/src/stdlib/element/property-type.ts
  packages/hash/subgraph/src/stdlib/roots.ts
  packages/hash/subgraph/src/types/edge.ts
  packages/hash/subgraph/src/types/edge/outward-edge-alias.ts
  packages/hash/subgraph/src/types/identifier.ts
  packages/hash/subgraph/src/types/vertex.ts
  packages/hash/subgraph/tests/compatibility.test/map-edges.ts
Labels: A-hash

#1426 Select types returned from Graph distinctly
  packages/graph/hash_graph/lib/graph/src/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#1445 Disable type system package in subgraph lib
  packages/hash/subgraph/src/shared/type-system-patch.ts
  packages/hash/subgraph/src/stdlib/element/data-type.ts
  packages/hash/subgraph/src/stdlib/element/entity-type.ts
  packages/hash/subgraph/src/stdlib/element/property-type.ts
  packages/hash/subgraph/tests/compatibility.test/map-edges.ts
  packages/hash/subgraph/tests/compatibility.test/map-vertices.ts
Labels: A-hash

#1443 Minor misc updates
  .github/README-CI.md
  .github/workflows/semgrep.yml
  sites/hashai/resources/docs/simulation/creating-simulations/anatomy-of-an-agent/initial-state.md
  sites/hashdev/src/_pages/blog/0002_open-source.mdx
  sites/hashdev/src/components/PreFooter.tsx
Labels: A-learn, A-infra

#1451 Update subgraph exports
  packages/hash/subgraph/src/types/element.ts
Labels: A-hash

#1418 Support lists/arrays on entity editor
  packages/hash/frontend/src/components/GlideGlid/glide-grid-overlay-portal.tsx
  packages/hash/frontend/src/components/GlideGlid/utils/custom-grid-icons.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/property-name-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/add-another-button.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/inline-text-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/row-action.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/sortable-row.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/value-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/boolean-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/number-or-string-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/constants.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity/generate-property-row-recursively.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity/get-data-types-of-property-type.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity/get-expected-types-of-property-type.ts
  patches/@glideapps+glide-data-grid+5.1.4.patch
Labels: A-hash, frontend

#1452 Prevent tooltips popping-up while user is editing the cell
  packages/hash/frontend/src/components/GlideGlid/glide-grid-overlay-portal.tsx
  packages/hash/frontend/src/components/GlideGlid/glide-grid.tsx
  packages/hash/frontend/src/components/GlideGlid/utils/use-grid-tooltip.tsx
  packages/hash/frontend/src/components/GlideGlid/utils/use-grid-tooltip/draw-interactable-tooltip-icons.ts
  packages/hash/frontend/src/components/GlideGlid/utils/use-render-grid-portal.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor.tsx
Labels: A-hash, frontend

#1440 Entity GraphQL type rework
  packages/hash/api/codegen.yml
  packages/hash/api/src/collab/graphql/queries/page.queries.ts
  packages/hash/api/src/graphql/resolvers/block/blockProperties.ts
  packages/hash/api/src/graphql/resolvers/block/blocks.ts
  packages/hash/api/src/graphql/resolvers/block/index.ts
  packages/hash/api/src/graphql/resolvers/block/linkedEntities.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/pages/index.ts
  packages/hash/api/src/graphql/resolvers/pages/linkedEntities.ts
  packages/hash/api/src/graphql/resolvers/pages/page.ts
  packages/hash/api/src/graphql/resolvers/pages/pageProperties.ts
  packages/hash/api/src/graphql/resolvers/pages/searchPages.ts
  packages/hash/api/src/graphql/resolvers/pages/updatePage.ts
  packages/hash/api/src/graphql/resolvers/pages/updatePageContents.ts
  packages/hash/api/src/graphql/resolvers/paginationConnection/pageSearchResultConnection.ts
  packages/hash/api/src/graphql/typeDefs/block.typedef.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/block.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/comment.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/link.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/page.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/data-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/entity-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/ontology/property-type.typedef.ts
  packages/hash/api/src/graphql/typeDefs/page.typedef.ts
  packages/hash/api/src/graphql/typeDefs/paginationConnections.typedef.ts
  packages/hash/api/src/graphql/typeDefs/subgraph.typedef.ts
  packages/hash/frontend/codegen.yml
  packages/hash/frontend/src/graphql/queries/account.queries.ts
  packages/hash/frontend/src/graphql/queries/comment.queries.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/data-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/property-type.queries.ts
  packages/hash/frontend/src/graphql/queries/page.queries.ts
  packages/hash/frontend/src/graphql/queries/search.queries.ts
  packages/hash/frontend/src/graphql/queries/subgraph.ts
  packages/hash/frontend/src/shared/layout/layout-with-header/search-bar.tsx
  packages/hash/integration/codegen.yml
  packages/hash/integration/src/graphql/queries/page.queries.ts
  packages/hash/shared/codegen.yml
  packages/hash/shared/src/queries/page.queries.ts
  packages/hash/subgraph/src/types/edge.ts
  packages/hash/subgraph/src/types/identifier.ts
Labels: A-hash, api, integration, frontend

#1385 Entity Type Editor - Entities Tab
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/GlideGlid/glide-grid.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolAggregateEntities.ts
  packages/hash/frontend/src/components/hooks/useFontLoadedCallback.ts
  packages/hash/frontend/src/pages/[account-slug]/shared/section-wrapper.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/entity-type-definition-tab.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/entity-type-tabs.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/tab-button.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/tab-link.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/tabs/definition-tab.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/tabs/entities-tab.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/text-icon-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-current-tab.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entities-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entity-type-entities.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entity-type.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/util.ts
  packages/hash/frontend/src/shared/icons/circle-info-icon.tsx
  packages/hash/frontend/src/shared/icons/earth-icon.tsx
  packages/hash/frontend/src/shared/icons/home-icon.tsx
  packages/hash/frontend/src/shared/icons/svg.tsx
  packages/hash/frontend/src/shared/icons/svg/circle-info.svg
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1456 Codegen Hotfix
  packages/hash/api/codegen.yml
  packages/hash/frontend/codegen.yml
  packages/hash/integration/codegen.yml
  packages/hash/shared/codegen.yml
  packages/hash/subgraph/src/stdlib/edge/link.ts
  packages/hash/subgraph/src/stdlib/element/entity.ts
  packages/hash/subgraph/src/stdlib/roots.ts
  packages/hash/subgraph/src/types/element.ts
  packages/hash/subgraph/src/types/vertex.ts
Labels: A-hash, api, integration, frontend

#1375 `deer` create built-in error types
  packages/libs/deer/Cargo.toml
  packages/libs/deer/src/error/extra.rs
  packages/libs/deer/src/error/location.rs
  packages/libs/deer/src/error/macros.rs
  packages/libs/deer/src/error/mod.rs
  packages/libs/deer/src/error/tuple.rs
  packages/libs/deer/src/error/type.rs
  packages/libs/deer/src/error/unknown.rs
  packages/libs/deer/src/error/value.rs
  packages/libs/deer/src/lib.rs
Labels: A-deer

#1435 Fix links in the HASH app backend
  packages/hash/api/src/index.ts
  packages/hash/api/src/model/index.ts
  packages/hash/api/src/model/knowledge/block.model.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/hashInstance.model.ts
  packages/hash/api/src/model/knowledge/link.model.ts
  packages/hash/api/src/model/knowledge/linkEntity.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/ontology/util.ts
  packages/hash/api/src/model/util.ts
  packages/hash/api/src/seed-data/seed-users.ts
  packages/hash/integration/babel.config.js
  packages/hash/integration/jest.config.cjs
  packages/hash/integration/package.json
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/link.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/linkEntity.model.test.ts
  packages/hash/integration/src/tests/util.ts
  yarn.lock
Labels: C-dependencies, A-hash, api, integration

#1391 `deer` use new built-in errors in visitor and deserializer defaults
  packages/libs/deer/src/error/mod.rs
  packages/libs/deer/src/error/value.rs
  packages/libs/deer/src/lib.rs
  packages/libs/deer/src/number.rs
Labels: A-deer

#1453 Add `nprogress` to HASH frontend and HASH.dev
  packages/hash/frontend/package.json
  packages/hash/frontend/src/shared/layout/plain-layout.tsx
  sites/hashdev/package.json
  sites/hashdev/src/pages/_app.page.tsx
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1459 Handle `null` in Block Schema
  packages/hash/shared/src/blocks.ts
Labels: A-hash

#1429 Move sort logic to GlideGrid component
  packages/hash/frontend/src/components/GlideGlid/glide-grid.tsx
  packages/hash/frontend/src/components/GlideGlid/utils/sorting.ts
  packages/hash/frontend/src/components/GlideGlid/utils/use-draw-header.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/use-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/tabs/entities-tab.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entities-table.tsx
Labels: A-hash, frontend

#1458 Fix Link updating in model classes
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/linkEntity.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
Labels: A-hash, api

#1460 Fix TSC for Task-executor
  packages/hash/api/src/graphql/resolvers/file/fileUrlResolver.ts
  packages/hash/api/src/graphql/resolvers/taskExecutor/index.ts
  packages/hash/api/src/task-execution/index.ts
Labels: A-hash, api

#1290 `error-stack` add `serde` based serialization
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/Makefile.toml
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/serde.rs
  packages/libs/error-stack/tests/common.rs
  packages/libs/error-stack/tests/snapshots/test_serialize__attachment.snap
  packages/libs/error-stack/tests/snapshots/test_serialize__context.snap
  packages/libs/error-stack/tests/snapshots/test_serialize__multiple_sources.snap
  packages/libs/error-stack/tests/snapshots/test_serialize__multiple_sources_at_root.snap
  packages/libs/error-stack/tests/test_serialize.rs
Labels: A-error-stack

#1461 Entity type page UX improvements
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/tabs/entities-tab.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entity-type.tsx
Labels: A-hash, frontend

#1464 Fix workspace Integration Tests
  packages/hash/api/src/model/knowledge/block.model.ts
  packages/hash/api/src/model/knowledge/comment.model.ts
  packages/hash/api/src/model/knowledge/hashInstance.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/integration/codegen.yml
  packages/hash/integration/src/graphql/queries/aggregation.queries.ts
  packages/hash/integration/src/graphql/queries/entity.queries.ts
  packages/hash/integration/src/graphql/queries/page.queries.ts
  packages/hash/integration/src/tests/model/aggregation.model.test.ts
  packages/hash/integration/src/tests/model/block.model.test.ts
  packages/hash/integration/src/tests/model/entity.model.test.ts
  packages/hash/integration/src/tests/model/entityType.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/comment.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/hashInstance.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/org.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/orgMembership.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/page.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/integration/src/tests/model/link.model.test.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
  packages/hash/integration/src/tests/model/org.model.test.ts
  packages/hash/integration/src/tests/model/page.model.test.ts
  packages/hash/integration/src/tests/util.ts
  packages/hash/subgraph/src/types/identifier.ts
Labels: A-hash, api, integration

#1463 Replace model class getter methods with traditional methods
  packages/hash/api/src/graph/system-types.ts
  packages/hash/api/src/graphql/resolvers/file/createFileFromLink.ts
  packages/hash/api/src/graphql/resolvers/file/requestFileUpload.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/comment.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/delete.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/has-text.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/resolve.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/text-updated-at.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/update-text.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/before-update-entity-hooks.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/knowledge/org/create-org.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/set-parent-page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-actions.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-contents.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/user/create-user.ts
  packages/hash/api/src/graphql/resolvers/linkedAggregation/deleteLinkedAggregation.ts
  packages/hash/api/src/graphql/resolvers/linkedAggregation/updateLinkedAggregationOperation.ts
  packages/hash/api/src/graphql/resolvers/middlewares/canAccessAccount.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/resolvers/taskExecutor/index.ts
  packages/hash/api/src/model/knowledge/block.model.ts
  packages/hash/api/src/model/knowledge/comment.model.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/hashInstance.model.ts
  packages/hash/api/src/model/knowledge/linkEntity.model.ts
  packages/hash/api/src/model/knowledge/org.model.ts
  packages/hash/api/src/model/knowledge/orgMembership.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/api/src/seed-data/index.ts
  packages/hash/api/src/task-execution/index.ts
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/comment.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/linkEntity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/org.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/orgMembership.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/page.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/integration/src/tests/model/ontology/data-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/entity-type.model.test.ts
  packages/hash/integration/src/tests/model/ontology/property-type.model.test.ts
  packages/hash/integration/src/tests/util.ts
Labels: A-hash, api, integration

#1465 Lock the page scroll when grid editor overlay is open
  packages/hash/design-system/src/dialog.tsx
  packages/hash/design-system/src/menu.tsx
  packages/hash/design-system/src/popover.tsx
  packages/hash/design-system/src/theme/components/utils/mui-css-baseline-theme-options.ts
  packages/hash/design-system/src/ui.ts
  packages/hash/design-system/src/use-scroll-lock.ts
  packages/hash/frontend/.eslintrc.cjs
  packages/hash/frontend/src/blocks/page/BlockConfigMenu/BlockConfigMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentBlockDeleteConfirmationDialog.tsx
  packages/hash/frontend/src/blocks/page/Comments/CommentBlockMenu.tsx
  packages/hash/frontend/src/blocks/page/InsertBlock.tsx
  packages/hash/frontend/src/blocks/page/createErrorPlugin.tsx
  packages/hash/frontend/src/components/ConfirmationAlert.tsx
  packages/hash/frontend/src/components/EmojiPicker/EmojiPicker.tsx
  packages/hash/frontend/src/components/Modals/Modal.tsx
  packages/hash/frontend/src/components/grid/grid.tsx
  packages/hash/frontend/src/components/grid/utils/override-custom-renderers.tsx
  packages/hash/frontend/src/components/grid/utils/use-grid-tooltip.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-menu.tsx
  packages/hash/frontend/src/pages/shared/breadcrumbs.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/notifications-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/sort-actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
Labels: A-hash, frontend

#1470 Improve generic typing of subgraph roots
  packages/hash/subgraph/src/stdlib/roots.ts
  packages/hash/subgraph/src/types/subgraph.ts
  packages/hash/subgraph/tests/compatibility.test.ts
  packages/hash/subgraph/tests/compatibility.test/map-roots.ts
Labels: A-hash

#1414 Don't hardcode system account name when seeding types
  packages/hash/api/src/db/postgres/account.ts
  packages/hash/api/src/model/ontology/util.ts
  packages/hash/api/src/seed-data/index.ts
  packages/hash/backend-utils/src/system.ts
  packages/hash/docker/frontend/prod/Dockerfile
  packages/hash/external-services/docker-compose.prod.yml
  packages/hash/frontend/next.config.js
  packages/hash/shared/.eslintrc.cjs
  packages/hash/shared/src/environment.ts
  packages/hash/shared/src/types.ts
Labels: A-hash, api, frontend, docker

#1469 Rework frontend login and user queries and components
  packages/hash/api/src/graphql/resolvers/knowledge/org/create-org.ts
  packages/hash/api/src/graphql/resolvers/knowledge/user/create-user.ts
  packages/hash/api/src/graphql/resolvers/knowledge/user/me.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/org.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/user.typedef.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/frontend/next.config.js
  packages/hash/frontend/src/components/hooks/useAccountPages.ts
  packages/hash/frontend/src/components/hooks/useAuthenticatedUser.ts
  packages/hash/frontend/src/components/hooks/useOrgs.ts
  packages/hash/frontend/src/components/hooks/useUpdateAuthenticatedUser.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/graphql/queries/ontology/property-type.queries.ts
  packages/hash/frontend/src/graphql/queries/user.queries.ts
  packages/hash/frontend/src/lib/org.ts
  packages/hash/frontend/src/lib/subgraph.ts
  packages/hash/frontend/src/lib/user.ts
  packages/hash/frontend/src/pages/[account-slug]/index.page.tsx
  packages/hash/frontend/src/pages/index.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  packages/hash/subgraph/package.json
  packages/hash/subgraph/src/shared/type-system-patch.ts
  packages/hash/subgraph/src/stdlib/element/data-type.ts
  packages/hash/subgraph/src/stdlib/element/entity-type.ts
  packages/hash/subgraph/src/stdlib/element/entity.ts
  packages/hash/subgraph/src/stdlib/element/property-type.ts
  packages/hash/subgraph/src/types/edge.ts
  packages/hash/subgraph/src/types/element.ts
  packages/hash/subgraph/src/types/identifier.ts
  packages/hash/subgraph/src/types/vertex.ts
  packages/hash/subgraph/tests/compatibility.test/map-vertices.ts
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend

#1472 Delete old hooks and code
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/RemoteBlock/RemoteBlock.tsx
  packages/hash/frontend/src/components/entityTypes/AccountEntityOfTypeList.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/Inputs.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaEditor.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertiesTable.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertyRow.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SchemaPropertyTypeList.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/SubSchemaItem.tsx
  packages/hash/frontend/src/components/entityTypes/SchemaEditor/schemaEditorReducer.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolAggregateEntityTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateLink.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolDeleteLink.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolUpdateLink.ts
  packages/hash/frontend/src/pages/[account-slug]/types/[type-id].page.tsx
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
Labels: A-hash, frontend

#1468 Fix BP hooks
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolAggregateEntities.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolCreateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolGetEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolUpdateEntity.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/ontology-types-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateDataTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregateEntityTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolAggregatePropertyTypes.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolCreatePropertyType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetDataType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetPropertyType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdateEntityType.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolUpdatePropertyType.ts
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
Labels: A-hash, frontend

#1473 Fix Type Editor
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entity-type.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-property-types.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-route-namespace.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new/entity-type.page.tsx
Labels: A-hash, frontend

#1477 Fix Entity Editor
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/ontology/useBlockProtocolGetEntityType.ts
  packages/hash/frontend/src/components/hooks/useGetAccountIdForShortname.ts
  packages/hash/frontend/src/components/hooks/useOrgs.ts
  packages/hash/frontend/src/components/hooks/useUsers.ts
  packages/hash/frontend/src/graphql/queries/ontology/entity-type.queries.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/constants.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/links-section/link-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-on-cell-edited.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity/generate-property-row-recursively.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity/get-expected-types-of-property-type.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-page-wrapper.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-type-form.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/tabs/entities-tab.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entities-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entity-type-entities.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-route-namespace.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new/entity-type.page.tsx
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/subgraph/src/types/identifier.ts
Labels: A-hash, frontend

#1480 Enable Renovate Dependency Dashboard
  .github/renovate.json
Labels: A-infra

#1485 Remove deprecated code
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/src/compat/anyhow.rs
  packages/libs/error-stack/src/compat/eyre.rs
  packages/libs/error-stack/src/compat/mod.rs
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/frame/frame_impl.rs
  packages/libs/error-stack/src/frame/mod.rs
  packages/libs/error-stack/src/hook.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/src/result.rs
  packages/libs/error-stack/tests/test_backtrace.rs
  packages/libs/error-stack/tests/test_conversion.rs
  packages/libs/error-stack/tests/test_frame.rs
  packages/libs/error-stack/tests/test_hooks.rs
  packages/libs/error-stack/tests/test_span_trace.rs
Labels: A-error-stack, Changelog

#1486 Avoid being too conservative with dependencies
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/frame/frame_impl.rs
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/src/serde.rs
Labels: A-error-stack

#1474 Simplify `Subgraph` definition in Graph API to separate Utoipa pollution
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/ontology/entity_type.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/bench/benches/util.rs
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/account.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/lib/graph/src/shared/provenance.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/edge.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/vertices/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/hash/subgraph/tests/compatibility.test/map-edges.ts
Labels: A-hash, A-backend

#1475 Return incoming links by default
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
Labels: A-backend

#1484 Fix benchmark seeding logic
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
Labels: A-backend

#1479 Fix pages
  packages/hash/api/src/graphql/resolvers/knowledge/model-mapping.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-actions.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-contents.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/page.typedef.ts
  packages/hash/api/src/model/knowledge/entity.model.ts
  packages/hash/api/src/model/knowledge/page.model.ts
  packages/hash/frontend/src/blocks/page/ComponentView.tsx
  packages/hash/frontend/src/blocks/page/PageBlock.tsx
  packages/hash/frontend/src/blocks/page/createEditorView.ts
  packages/hash/frontend/src/components/BlockLoader/BlockLoader.tsx
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolFileUpload.ts
  packages/hash/frontend/src/components/hooks/useAccountPages.ts
  packages/hash/frontend/src/components/hooks/useArchivePage.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/page-header.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list-item.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/utils.ts
  packages/hash/frontend/src/shared/routing/route-page-info.tsx
  packages/hash/shared/src/ProsemirrorManager.ts
  packages/hash/shared/src/entity.ts
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/queries/page.queries.ts
  packages/hash/shared/src/save.ts
  packages/hash/subgraph/src/types/identifier.ts
Labels: A-hash, api, frontend

#1487 hash.dev: switch to next-seo, add default OG image
  sites/hashdev/package.json
  sites/hashdev/public/social-cover.png
  sites/hashdev/src/components/BlogPost.tsx
  sites/hashdev/src/pages/_app.page.tsx
  sites/hashdev/src/pages/blog/index.page.tsx
  sites/hashdev/src/pages/index.page.tsx
  yarn.lock
Labels: C-dependencies

#1476 `deer` delegate to other functions if possible
  packages/libs/deer/src/lib.rs
Labels: A-deer

#1495 Fix mentions
  packages/hash/frontend/src/blocks/page/MentionView/MentionDisplay.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/MentionSuggester.tsx
  packages/hash/frontend/src/components/hooks/useReorderPage.ts
  packages/hash/shared/src/graphql/types.ts
Labels: A-hash, frontend

#1497 Fix Lints in dev/links
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/org/create-org.ts
  packages/hash/api/src/model/ontology/data-type.model.ts
  packages/hash/api/src/model/ontology/entity-type.model.ts
  packages/hash/api/src/model/ontology/property-type.model.ts
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/blocks/page/Comments/CreateBlockCommentButton.tsx
  packages/hash/frontend/src/components/hooks/useReorderPage.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity/generate-property-row-recursively.ts
  packages/hash/integration/src/tests/integration.test.ts
  packages/hash/integration/src/tests/model/aggregation.model.test.ts
  packages/hash/search-loader/package.json
  packages/hash/search-loader/src/index.ts
  packages/hash/subgraph/package.json
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend, search-loader

#1499 Fix comments
  packages/hash/api/src/model/knowledge/comment.model.ts
  packages/hash/frontend/src/blocks/page/Comments/CommentThread.tsx
Labels: A-hash, api, frontend

#1501 Clean-up assorted things in dev/links
  packages/hash/api/src/graphql/resolvers/knowledge/entity/before-update-entity-hooks.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/frontend/src/components/hooks/useCreatePage.ts
  packages/hash/frontend/src/components/hooks/useCreateSubPage.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/constants.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/peers-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/get-property-count-summary.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/is-value-empty.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/chip-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/property-name-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/summary-chip-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/add-another-button.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/inline-text-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/row-action.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/sortable-row.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/array-editor/value-chip.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/boolean-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/value-cell-editor/number-or-string-editor.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/constants.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/fill-row-data-indent-calculations.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/flatten-expanded-items-of-tree.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/get-tooltips-of-property-row.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/types.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-on-cell-edited.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-row-data.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity/generate-property-row-recursively.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-row-data/generate-property-rows-from-entity/get-expected-types-of-property-type.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-page-loading-state.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-page-wrapper.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-menu.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entities-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/use-entity-type.tsx
Labels: A-hash, api, frontend

#1498 Provide `onCellEdited` with sorted & flattened row data
  packages/hash/frontend/src/components/grid/grid.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table.tsx
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-create-on-cell-edited.ts
  packages/hash/frontend/src/pages/[account-slug]/entities/[entity-id].page/entity-editor/properties-section/property-table/use-on-cell-edited.ts
Labels: A-hash, frontend

#1490 Entity type editor: Temporarily hide default values UI
  packages/hash/frontend/src/pages/[account-slug]/types/entity-type/property-list-card.tsx
Labels: A-hash, frontend

#1467 Write Unit tests for new Structural Query filters
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1505 Set `TURBO_FORCE` in CI
  .github/workflows/ci.yml
Labels: A-infra

#1504 Support querying incoming links
  packages/hash/frontend/src/components/hooks/useOrgs.ts
  packages/hash/frontend/src/components/hooks/useUsers.ts
  packages/hash/frontend/src/lib/org.ts
  packages/hash/frontend/src/lib/user.ts
  packages/hash/subgraph/src/stdlib/edge/link.ts
  packages/hash/subgraph/src/types/edge/outward-edge-alias.ts
  packages/hash/subgraph/src/types/identifier.ts
Labels: A-hash, frontend

#1506 Fixups to GraphQL
  packages/hash/api/codegen.yml
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-actions.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/block.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/comment.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/page.typedef.ts
  packages/hash/frontend/codegen.yml
  packages/hash/frontend/src/blocks/page/BlockContextMenu/BlockContextMenu.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/blocks/page/BlockHandle.tsx
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/integration/codegen.yml
  packages/hash/shared/codegen.yml
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/subgraph/src/types/element.ts
Labels: A-hash, api, integration, frontend

#1503 Address several LGTM issues
  blocks/person/src/app.tsx
  blocks/table/src/table.tsx
  packages/engine/lib/execution/src/runner/python/context.py
  packages/hash/api/src/index.ts
  packages/hash/design-system/src/theme/components/data-display/mui-chip-theme-options.tsx
  packages/hash/frontend/src/blocks/page/BlockContextMenu/LoadEntityMenuContent.tsx
  packages/hash/frontend/src/blocks/page/collab/EditorConnection.ts
  packages/hash/frontend/src/components/forms/SelectInput.tsx
Labels: A-engine, A-hash, api, frontend, A-blocks

#1510 Refactor `createEntity` GQL mutation to enable link entity creation
  packages/hash/api/codegen.yml
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/entity.typedef.ts
  packages/hash/frontend/codegen.yml
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/knowledge/useBlockProtocolCreateEntity.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/integration/codegen.yml
  packages/hash/shared/codegen.yml
Labels: A-hash, api, integration, frontend

#1509 Fix mentions properly
  packages/hash/frontend/src/blocks/page/MentionView/MentionDisplay.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/MentionSuggester.tsx
  packages/hash/frontend/src/blocks/page/createSuggester/createSuggester.tsx
Labels: A-hash, frontend

#1489 Allow disabling of user/org creation in the HASH workspace
  packages/hash/api/src/auth/index.ts
  packages/hash/api/src/graph/system-types.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/hashInstance/hashInstance.ts
  packages/hash/api/src/graphql/typeDefs/index.ts
  packages/hash/api/src/graphql/typeDefs/knowledge/hashInstance.typedef.ts
  packages/hash/api/src/model/knowledge/hashInstance.model.ts
  packages/hash/api/src/model/knowledge/user.model.ts
  packages/hash/api/src/model/util.ts
  packages/hash/frontend/src/components/hooks/useHashInstance.ts
  packages/hash/frontend/src/graphql/queries/knowledge/hashInstance.queries.ts
  packages/hash/frontend/src/pages/login.page.tsx
  packages/hash/frontend/src/pages/signup.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/page-header.tsx
  packages/hash/integration/src/tests/model/knowledge/block.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/comment.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/entity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/linkEntity.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/org.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/orgMembership.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/page.model.test.ts
  packages/hash/integration/src/tests/model/knowledge/user.model.test.ts
  packages/hash/shared/src/types.ts
Labels: A-hash, api, integration, frontend

#1493 Reuse subgraph from previous iterations to avoid unnecessary lookups
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-backend
