Repository hashintel/hash, pull requests merged in 2022-06, with the labels that each got.

#598 Remove creating `Report<()>`
  packages/engine/Cargo.lock
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/lib/error/Cargo.toml
  packages/engine/lib/error/examples/contextual_messages.rs
  packages/engine/lib/error/examples/json_output.rs
  packages/engine/lib/error/examples/report_from_non_error.rs
  packages/engine/lib/error/src/frame.rs
  packages/engine/lib/error/src/future.rs
  packages/engine/lib/error/src/hook.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/macros.rs
  packages/engine/lib/error/src/report.rs
  packages/engine/lib/error/src/result.rs
  packages/engine/lib/orchestrator/Cargo.toml
  packages/engine/lib/orchestrator/src/error.rs
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/experiment_server.rs
  packages/engine/lib/orchestrator/src/lib.rs
  packages/engine/lib/orchestrator/src/manifest.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/lib/orchestrator/src/process/mod.rs
  packages/engine/tests/experiment/error.rs
  packages/engine/tests/experiment/mod.rs
Labels: C-dependencies, A-engine

#599 Move `provider` API to `error` crate
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/lib/error/Cargo.toml
  packages/engine/lib/error/src/frame.rs
  packages/engine/lib/error/src/future.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/macros.rs
  packages/engine/lib/error/src/provider.rs
  packages/engine/lib/error/src/report.rs
  packages/engine/lib/error/src/result.rs
  packages/engine/lib/nano/Cargo.toml
  packages/engine/lib/nano/src/error.rs
  packages/engine/lib/orchestrator/Cargo.toml
  packages/engine/lib/orchestrator/src/error.rs
  packages/engine/lib/provider/Cargo.toml
  packages/engine/tests/experiment/error.rs
Labels: C-dependencies, A-engine

#603 Refresh page during block development
  packages/hash/shared/src/blockMeta.ts
  patches/blockprotocol+0.0.9.patch
Labels: A-hash

#602 Rename methods on error library and add `attach_provider`
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/lib/error/Cargo.toml
  packages/engine/lib/error/examples/contextual_messages.rs
  packages/engine/lib/error/examples/json_output.rs
  packages/engine/lib/error/src/error.rs
  packages/engine/lib/error/src/frame.rs
  packages/engine/lib/error/src/future.rs
  packages/engine/lib/error/src/iter.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/macros.rs
  packages/engine/lib/error/src/report.rs
  packages/engine/lib/error/src/result.rs
  packages/engine/lib/nano/src/client.rs
  packages/engine/lib/nano/src/error.rs
  packages/engine/lib/nano/src/server.rs
  packages/engine/lib/nano/src/spmc.rs
  packages/engine/lib/orchestrator/src/error.rs
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/experiment_server.rs
  packages/engine/lib/orchestrator/src/manifest.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/src/env.rs
  packages/engine/tests/experiment/error.rs
  packages/engine/tests/experiment/mod.rs
Labels: A-engine

#606 Bump Þ-related packages
  packages/blocks/callout/package.json
  packages/blocks/chart/package.json
  packages/blocks/code/package.json
  packages/blocks/countdown/package.json
  packages/blocks/divider/package.json
  packages/blocks/drawing-canvas/package.json
  packages/blocks/embed/package.json
  packages/blocks/github-pr-overview/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/stopwatch/package.json
  packages/blocks/table/package.json
  packages/blocks/timer/package.json
  packages/blocks/toggle-item/package.json
  packages/blocks/video/package.json
  packages/hash/api/package.json
  packages/hash/backend-utils/package.json
  packages/hash/frontend/package.json
  packages/hash/shared/package.json
  patches/blockprotocol+0.0.10.patch
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend, A-blocks

#608 Simplify future adaptors by using macros
  packages/engine/lib/error/src/future.rs
Labels: A-engine

#605 Add a function to return the latest context
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/macros.rs
  packages/engine/lib/error/src/report.rs
Labels: A-engine

#607 Remove usage of generalize
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/lib/error/src/report.rs
  packages/engine/lib/error/src/result.rs
Labels: A-engine

#609 Support any data to be passed by `attach` (replace `attach_message`)
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/lib/error/examples/contextual_messages.rs
  packages/engine/lib/error/examples/json_output.rs
  packages/engine/lib/error/src/context.rs
  packages/engine/lib/error/src/error.rs
  packages/engine/lib/error/src/frame.rs
  packages/engine/lib/error/src/future.rs
  packages/engine/lib/error/src/hook.rs
  packages/engine/lib/error/src/lib.rs
  packages/engine/lib/error/src/macros.rs
  packages/engine/lib/error/src/report.rs
  packages/engine/lib/error/src/result.rs
  packages/engine/lib/nano/src/client.rs
  packages/engine/lib/nano/src/server.rs
  packages/engine/lib/orchestrator/src/error.rs
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/experiment_server.rs
  packages/engine/lib/orchestrator/src/manifest.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/src/env.rs
  packages/engine/tests/experiment/mod.rs
Labels: A-engine

#600 `tldraw` Drawing block improvements
  packages/blocks/drawing-canvas/public/block-preview.svg
  packages/blocks/drawing-canvas/public/omega.svg
  packages/blocks/drawing/.eslintrc.js
  packages/blocks/drawing/.gitignore
  packages/blocks/drawing/README.md
  packages/blocks/drawing/block-schema.json
  packages/blocks/drawing/package.json
  packages/blocks/drawing/public/icon.svg
  packages/blocks/drawing/public/preview.png
  packages/blocks/drawing/src/app.tsx
  packages/blocks/drawing/src/base.css
  packages/blocks/drawing/src/dev.js
  packages/blocks/drawing/src/index.ts
  packages/blocks/drawing/src/utils.ts
  packages/blocks/drawing/tsconfig.json
  packages/blocks/drawing/variants.json
Labels: A-blocks

#612 Run stable channel for error-stack
  .github/workflows/rust.yml
  packages/libs/error-stack/src/report.rs
Labels: A-infra

#610 Update HASH welcome message
  packages/hash/frontend/src/pages/[account-slug]/index.page.tsx
  packages/hash/frontend/src/shared/ui/link.tsx
  packages/hash/playwright/tests/entity-creation.spec.ts
  packages/hash/playwright/tests/page-creation.spec.ts
  packages/hash/playwright/tests/utils/loginUsingUi.ts
Labels: A-hash, frontend, playwright

#583 Restyle Countdown block
  packages/blocks/countdown/block-schema.json
  packages/blocks/countdown/package.json
  packages/blocks/countdown/public/block-preview.svg
  packages/blocks/countdown/public/icon.svg
  packages/blocks/countdown/public/omega.svg
  packages/blocks/countdown/public/preview.svg
  packages/blocks/countdown/src/app.tsx
  packages/blocks/countdown/src/countdown-title.tsx
  packages/blocks/countdown/src/date-picker-input.tsx
  packages/blocks/countdown/src/datepicker-override.scss
  packages/blocks/countdown/src/display.tsx
  packages/blocks/countdown/src/styles.scss
Labels: A-blocks

#621 Countdown Block styling improvements
  packages/blocks/countdown/package.json
  packages/blocks/countdown/src/app.tsx
  packages/blocks/countdown/src/styles.scss
Labels: A-blocks

#622 Add `Report::attach_printable`
  packages/engine/bin/cli/src/main.rs
  packages/engine/bin/hash_engine/src/main.rs
  packages/engine/lib/nano/src/client.rs
  packages/engine/lib/nano/src/server.rs
  packages/engine/lib/orchestrator/src/experiment.rs
  packages/engine/lib/orchestrator/src/experiment_server.rs
  packages/engine/lib/orchestrator/src/manifest.rs
  packages/engine/src/env.rs
  packages/engine/tests/experiment/mod.rs
  packages/libs/error-stack/examples/contextual_messages.rs
  packages/libs/error-stack/examples/json_output.rs
  packages/libs/error-stack/examples/parse_config.rs
  packages/libs/error-stack/src/ext/future.rs
  packages/libs/error-stack/src/ext/result.rs
  packages/libs/error-stack/src/frame/attachment.rs
  packages/libs/error-stack/src/frame/erasable.rs
  packages/libs/error-stack/src/frame/kind.rs
  packages/libs/error-stack/src/frame/mod.rs
  packages/libs/error-stack/src/frame/repr.rs
  packages/libs/error-stack/src/frame/tagged_box.rs
  packages/libs/error-stack/src/frame/vtable.rs
  packages/libs/error-stack/src/iter.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/macros.rs
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/src/test_helper.rs
Labels: A-engine

#623 Update code block for 0.2
  package.json
  packages/blocks/code/package.json
  packages/blocks/code/src/app.tsx
  packages/blocks/code/src/dev.js
  yarn.lock
Labels: C-dependencies, A-blocks

#626 Add example-graph.json to table block
  packages/blocks/github-pr-overview/package.json
  packages/blocks/table/example-graph.json
  packages/blocks/table/package.json
  packages/blocks/table/src/dev.js
  patches/block-scripts+0.0.7.patch
Labels: A-blocks

#630 Publish crates in CI when version changes
  .github/workflows/rust.yml
Labels: A-infra

#632 Add `A-libs` tag to GitHub labeler
  .github/labeler.yml
Labels: A-infra

#627 Bump `error-stack` to 0.1.0
  packages/engine/Cargo.lock
  packages/libs/error-stack/Cargo.toml
Labels: C-dependencies, A-engine, A-libs

#636 Update readme from #628
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/README.md
Labels: A-libs

#635 hash.dev blog: add syntax highlighting, fix list items
  packages/blocks/code/package.json
  sites/hashdev/package.json
  sites/hashdev/src/components/MdxPre.tsx
  sites/hashdev/src/components/Snippet.tsx
  sites/hashdev/src/pages/_app.page.tsx
  sites/hashdev/src/util/mdxComponents.tsx
  sites/hashdev/styles/globals.css
  sites/hashdev/styles/prism.css
  yarn.lock
Labels: C-dependencies, A-blocks

#628 Announce `error-stack`
  packages/blocks/code/package.json
  sites/hashdev/package.json
  sites/hashdev/public/blog/4_announcing-error-stack/ErrorStack_Cover.jpg
  sites/hashdev/public/blog/4_announcing-error-stack/README.md
  sites/hashdev/public/blog/4_announcing-error-stack/tim.jpg
  sites/hashdev/src/_pages/blog/4_announcing-error-stack.mdx
  sites/hashdev/src/components/MdxPre.tsx
  sites/hashdev/src/components/Snippet.tsx
  sites/hashdev/src/pages/_app.page.tsx
  sites/hashdev/src/util/mdxComponents.tsx
  sites/hashdev/styles/globals.css
  sites/hashdev/styles/prism.css
  yarn.lock
Labels: C-dependencies, A-blocks, A-libs

#639 Bump error-stack to 0.1.1
  packages/libs/error-stack/Cargo.toml
Labels: A-libs

#595 Rewrite the save process to extend functionality and fix bugs
  packages/hash/api/codegen.yml
  packages/hash/api/package.json
  packages/hash/api/src/collab/Instance.ts
  packages/hash/api/src/collab/graphql/queries/blocks.queries.ts
  packages/hash/api/src/collab/graphql/queries/entityType.queries.ts
  packages/hash/api/src/collab/graphql/queries/page.queries.ts
  packages/hash/api/src/collab/save.ts
  packages/hash/api/src/graphql/resolvers/entity/entities.ts
  packages/hash/api/src/graphql/resolvers/entityType/getEntityType.ts
  packages/hash/api/src/graphql/resolvers/pages/updatePageContents.ts
  packages/hash/api/src/graphql/typeDefs/entity.typedef.ts
  packages/hash/api/src/graphql/typeDefs/entityType.typedef.ts
  packages/hash/api/src/graphql/typeDefs/page.typedef.ts
  packages/hash/api/src/model/entityType.model.ts
  packages/hash/api/src/util.ts
  packages/hash/frontend/src/components/hooks/blockProtocolFunctions/useBlockProtocolCreateEntityTypes.ts
  packages/hash/frontend/src/components/hooks/useCreatePage.ts
  packages/hash/frontend/src/graphql/queries/entityType.queries.ts
  packages/hash/frontend/src/graphql/queries/page.queries.ts
  packages/hash/frontend/src/pages/[account-slug]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/[account-slug]/types/new.page.tsx
  packages/hash/integration/src/graphql/queries/page.queries.ts
  packages/hash/integration/src/mockData/index.ts
  packages/hash/integration/src/tests/integration.test.ts
  packages/hash/integration/src/tests/util.ts
  packages/hash/shared/codegen.yml
  packages/hash/shared/src/ProsemirrorSchemaManager.ts
  packages/hash/shared/src/entity.ts
  packages/hash/shared/src/entityStore.ts
  packages/hash/shared/src/entityStorePlugin.ts
  packages/hash/shared/src/prosemirror.ts
  packages/hash/shared/src/queries/entity.queries.ts
  packages/hash/shared/src/queries/page.queries.ts
  packages/hash/shared/src/save.ts
Labels: A-hash, api, integration, frontend

#638 Update block descriptions
  packages/blocks/callout/package.json
  packages/blocks/code/package.json
  packages/blocks/divider/package.json
  packages/blocks/drawing/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/table/package.json
  packages/blocks/timer/package.json
  packages/blocks/video/package.json
Labels: A-blocks

#644 Change to upstream error-stack
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/bin/cli/Cargo.toml
  packages/engine/bin/hash_engine/Cargo.toml
  packages/engine/lib/nano/Cargo.toml
  packages/engine/lib/orchestrator/Cargo.toml
Labels: C-dependencies, A-engine

#642 Updated Topology Link
  resources/docs/simulation/tutorials/phase-1-building-a-simple-hotelling-model-in-2d/set-up-environment.md
Labels: A-learn

#645 Update Semgrep yaml file to fix CI
  .github/workflows/semgrep.yml
Labels: A-infra

#643 Update countdown block to v0.2
  package.json
  packages/blocks/countdown/package.json
  packages/blocks/countdown/src/app.tsx
  packages/blocks/countdown/src/date-picker-input.tsx
  packages/blocks/countdown/src/dev.tsx
  yarn.lock
Labels: C-dependencies, A-blocks

#648 Update table block to v0.2
  packages/blocks/table/example-graph.json
  packages/blocks/table/package.json
  packages/blocks/table/src/components/editable-cell.tsx
  packages/blocks/table/src/components/entity-type-dropdown.tsx
  packages/blocks/table/src/components/filter-detail.tsx
  packages/blocks/table/src/components/header.tsx
  packages/blocks/table/src/components/sort-detail.tsx
  packages/blocks/table/src/dev.tsx
  packages/blocks/table/src/lib/columns.ts
  packages/blocks/table/src/lib/filter-entities.ts
  packages/blocks/table/src/lib/sort-entities.ts
  packages/blocks/table/src/table.tsx
  yarn.lock
Labels: C-dependencies, A-blocks

#646 Update timer block to v0.2
  packages/blocks/timer/package.json
  packages/blocks/timer/src/app.tsx
  packages/blocks/timer/src/dev.tsx
Labels: A-blocks

#649 Update drawing to v0.2
  packages/blocks/drawing/block-schema.json
  packages/blocks/drawing/package.json
  packages/blocks/drawing/src/app.tsx
  packages/blocks/drawing/src/base.css
  packages/blocks/drawing/src/dev.tsx
  packages/blocks/drawing/src/utils.ts
  yarn.lock
Labels: C-dependencies, A-blocks

#650 Upgrade Person block to v0.2
  packages/blocks/person/package.json
  packages/blocks/person/src/app.tsx
  packages/blocks/person/src/dev.tsx
Labels: A-blocks

#634 BP with F# blog post
  sites/hashdev/package.json
  sites/hashdev/public/blog/5_build-blocks-in-any-language/FSharp_Cover.jpg
  sites/hashdev/public/blog/5_build-blocks-in-any-language/ahmad.png
  sites/hashdev/public/blog/5_build-blocks-in-any-language/expression_math.png
  sites/hashdev/public/blog/5_build-blocks-in-any-language/mvu.png
  sites/hashdev/public/blog/5_build-blocks-in-any-language/person_count.png
  sites/hashdev/src/_pages/blog/5_build-blocks-in-any-language.mdx
  sites/hashdev/src/components/CalculationBlock.tsx
  sites/hashdev/src/components/Snippet.tsx
  sites/hashdev/src/util/mdxComponents.tsx
  yarn.lock
Labels: C-dependencies

#625 Add new HASH/BP oriented glossary definitions
  resources/glossary/block-protocol.mdx
  resources/glossary/blocks.mdx
  resources/glossary/data-types.mdx
  resources/glossary/datasets.mdx
  resources/glossary/entities.mdx
  resources/glossary/entity-types.mdx
  resources/glossary/graphs.mdx
  resources/glossary/integrations.mdx
  resources/glossary/links.mdx
  resources/glossary/properties.mdx
  resources/glossary/types.mdx
  resources/glossary/values.mdx
Labels: A-learn

#657 removing broken links and adding new readmes where ready
  packages/blocks/code/README.md
  packages/blocks/countdown/README.md
  packages/blocks/divider/README.md
  packages/blocks/drawing/README.md
  packages/blocks/image/README.md
  packages/blocks/person/README.md
  packages/blocks/table/README.md
  packages/blocks/timer/README.md
  packages/blocks/video/README.md
Labels: A-blocks

#658 Misc mixed tiny repo improvements
  resources/glossary/datasets.mdx
  sites/hashai/README.md
Labels: A-learn

#653 Bump Þ deps and rename `dev.js` to `dev.tsx` in blocks
  packages/blocks/callout/package.json
  packages/blocks/callout/src/dev.tsx
  packages/blocks/chart/package.json
  packages/blocks/chart/src/dev.tsx
  packages/blocks/code/package.json
  packages/blocks/code/src/dev.tsx
  packages/blocks/countdown/package.json
  packages/blocks/divider/package.json
  packages/blocks/divider/src/dev.tsx
  packages/blocks/drawing/package.json
  packages/blocks/embed/package.json
  packages/blocks/embed/src/dev.tsx
  packages/blocks/github-pr-overview/package.json
  packages/blocks/github-pr-overview/src/dev.tsx
  packages/blocks/header/package.json
  packages/blocks/header/src/dev.tsx
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/paragraph/src/dev.tsx
  packages/blocks/person/package.json
  packages/blocks/stopwatch/package.json
  packages/blocks/stopwatch/src/app.tsx
  packages/blocks/stopwatch/src/dev.tsx
  packages/blocks/table/package.json
  packages/blocks/table/src/table.tsx
  packages/blocks/timer/package.json
  packages/blocks/toggle-item/package.json
  packages/blocks/toggle-item/src/dev.tsx
  packages/blocks/video/package.json
  packages/hash/frontend/package.json
  sites/hashdev/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#660 Updated block preview images
  packages/blocks/countdown/public/preview.svg
  packages/blocks/person/public/preview.svg
  packages/blocks/timer/public/block-preview.svg
  packages/blocks/video/public/preview.svg
Labels: A-blocks

#661 Update block READMEs
  packages/blocks/countdown/README.md
  packages/blocks/drawing/README.md
  packages/blocks/image/README.md
  packages/blocks/table/README.md
  packages/blocks/timer/README.md
  packages/blocks/video/README.md
Labels: A-blocks

#633 Set up Python for Rust CI
  .github/README.md
  .github/actions/setup-rust-ci/action.yml
  .github/scripts/rust/requirements.txt
  .github/scripts/rust/setup.py
  .github/workflows/rust.yml
Labels: A-infra

#668 Rename `.github/README.md`
  .github/README-CI.md
Labels: A-infra

#669 Glossary and blog post fixes
  README.md
  resources/glossary/links.mdx
  resources/glossary/types.mdx
  resources/glossary/url_map.json
  sites/hashdev/public/blog/7_block-paved-path/block-path-83.jpg
  sites/hashdev/src/_pages/blog/5_build-blocks-in-any-language.mdx
  sites/hashdev/src/_pages/blog/7_block-paved-path.mdx
Labels: A-learn, A-infra

#673 Fixing memory allocation on macOS
  packages/engine/lib/memory/src/shared_memory/segment.rs
Labels: A-engine

#676 Update `shared_memory` to latest git commit
  packages/engine/Cargo.lock
Labels: C-dependencies, A-engine

#666 Misc HASH app styling cleanup
  packages/hash/design-system/src/avatar.tsx
  packages/hash/frontend/src/blocks/page/style.module.css
  packages/hash/frontend/src/shared/icons.tsx
  packages/hash/frontend/src/shared/icons/hash-nav-icon.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  packages/hash/frontend/src/shared/layout/layout-with-header/page-header.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-item.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/nav-link.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/top-nav-link.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
Labels: A-hash, frontend

#671 Implement `Termination` for `error_stack::Report`
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/examples/exit_code.rs
  packages/libs/error-stack/src/report.rs
Labels: C-enhancement, A-libs, Changelog

#677 Update changelog for error-stack
  packages/libs/error-stack/CHANGELOG.md
Labels: A-libs

#678 Clean up `hash_engine_lib`
  packages/engine/Cargo.lock
  packages/engine/Cargo.toml
  packages/engine/lib/execution/src/package/simulation/comms.rs
  packages/engine/lib/execution/src/runner/comms/mod.rs
  packages/engine/lib/execution/src/runner/comms/outbound.rs
  packages/engine/lib/execution/src/runner/python/sender.rs
  packages/engine/lib/execution/src/task/mod.rs
  packages/engine/lib/memory/src/shared_memory/segment.rs
  packages/engine/lib/orchestrator/Cargo.toml
  packages/engine/lib/orchestrator/src/manifest.rs
  packages/engine/lib/simulation_structure/Cargo.toml
  packages/engine/lib/simulation_structure/src/lib.rs
  packages/engine/lib/stateful/src/agent/arrow/array.rs
  packages/engine/lib/stateful/src/agent/field.rs
  packages/engine/lib/stateful/src/agent/into_agent.rs
  packages/engine/lib/stateful/src/agent/mod.rs
  packages/engine/lib/stateful/src/field/mod.rs
  packages/engine/lib/stateful/src/message/arrow/record_batch.rs
  packages/engine/lib/stateful/src/message/outbound.rs
  packages/engine/lib/stateful/src/message/payload.rs
  packages/engine/src/args.rs
  packages/engine/src/config/error.rs
  packages/engine/src/config/experiment.rs
  packages/engine/src/config/mod.rs
  packages/engine/src/datastore/batch/agent.rs
  packages/engine/src/datastore/batch/migration/mod.rs
  packages/engine/src/datastore/error.rs
  packages/engine/src/datastore/mod.rs
  packages/engine/src/datastore/test_utils.rs
  packages/engine/src/env.rs
  packages/engine/src/error.rs
  packages/engine/src/experiment/controller/error.rs
  packages/engine/src/experiment/controller/run.rs
  packages/engine/src/experiment/error.rs
  packages/engine/src/output/error.rs
  packages/engine/src/output/local/mod.rs
  packages/engine/src/output/local/result.rs
  packages/engine/src/output/local/sim.rs
  packages/engine/src/simulation/command.rs
  packages/engine/src/simulation/comms/mod.rs
  packages/engine/src/simulation/error.rs
  packages/engine/src/simulation/task/active.rs
  packages/engine/tests/experiment/mod.rs
Labels: C-dependencies, A-engine

#680 Bump block-scripts to 0.0.11
  packages/blocks/callout/package.json
  packages/blocks/chart/package.json
  packages/blocks/code/package.json
  packages/blocks/countdown/package.json
  packages/blocks/divider/package.json
  packages/blocks/drawing/package.json
  packages/blocks/embed/package.json
  packages/blocks/github-pr-overview/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/stopwatch/package.json
  packages/blocks/table/package.json
  packages/blocks/timer/package.json
  packages/blocks/toggle-item/package.json
  packages/blocks/video/package.json
  yarn.lock
Labels: C-dependencies, A-blocks

#674 Remove bespoke legacy git hooks
  hooks/install.sh
  hooks/pre-commit
  package.json
  packages/hash/README.md
Labels: A-hash

#683 Bump blocks' block-scripts version
  packages/blocks/callout/package.json
  packages/blocks/chart/package.json
  packages/blocks/code/package.json
  packages/blocks/countdown/package.json
  packages/blocks/divider/package.json
  packages/blocks/drawing/package.json
  packages/blocks/embed/package.json
  packages/blocks/github-pr-overview/package.json
  packages/blocks/header/package.json
  packages/blocks/image/package.json
  packages/blocks/paragraph/package.json
  packages/blocks/person/package.json
  packages/blocks/stopwatch/package.json
  packages/blocks/table/package.json
  packages/blocks/timer/package.json
  packages/blocks/toggle-item/package.json
  packages/blocks/video/package.json
  yarn.lock
Labels: C-dependencies, A-blocks

#679 Add Calculation block package
  packages/blocks/calculation/.eslintrc.js
  packages/blocks/calculation/README.md
  packages/blocks/calculation/block-schema.json
  packages/blocks/calculation/package.json
  packages/blocks/calculation/public/block-preview.png
  packages/blocks/calculation/public/sigma.svg
  packages/blocks/calculation/src/dev.tsx
  packages/blocks/calculation/src/index.ts
  packages/blocks/calculation/src/types.d.ts
  packages/blocks/calculation/tsconfig.json
  packages/blocks/calculation/variants.json
Labels: A-blocks

#675 Misc hash.dev site updates
  resources/glossary/applicant-tracking-system.mdx
  resources/glossary/content-management-system.mdx
  resources/glossary/customer-relationship-management-system.mdx
  resources/glossary/fast-healthcare-interoperability-resources.mdx
  resources/glossary/integrations.mdx
  resources/glossary/optimization-methods.mdx
  resources/glossary/url_map.json
  sites/hashdev/src/_pages/blog/7_block-paved-path.mdx
Labels: A-learn

#695 Hide `futures-core` feature
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/Cargo.toml
Labels: A-libs, Changelog

#696 Bump Rust toolchain to `nightly-2022-06-26`
  packages/engine/lib/execution/src/package/simulation/context/creator.rs
  packages/engine/lib/execution/src/package/simulation/init/creator.rs
  packages/engine/lib/execution/src/package/simulation/init/js_py/mod.rs
  packages/engine/lib/execution/src/package/simulation/init/json/mod.rs
  packages/engine/lib/execution/src/package/simulation/output/creator.rs
  packages/engine/lib/execution/src/package/simulation/state/creator.rs
  packages/engine/lib/execution/src/package/simulation/state/topology/config.rs
  packages/engine/lib/execution/src/runner/comms/outbound.rs
  packages/engine/lib/execution/src/runner/error.rs
  packages/engine/lib/memory/src/arrow/meta/buffer.rs
  packages/engine/lib/memory/src/arrow/meta/node.rs
  packages/engine/lib/memory/src/shared_memory/ffi.rs
  packages/engine/lib/memory/src/shared_memory/metaversion.rs
  packages/engine/lib/memory/src/shared_memory/segment.rs
  packages/engine/lib/simulation-control/src/command/mod.rs
  packages/engine/lib/simulation-control/src/engine_status.rs
  packages/engine/lib/simulation-control/src/status.rs
  packages/engine/lib/stateful/src/agent/arrow/array.rs
  packages/engine/lib/stateful/src/agent/arrow/boolean.rs
  packages/engine/lib/stateful/src/agent/arrow/mod.rs
  packages/engine/lib/stateful/src/agent/arrow/record_batch.rs
  packages/engine/lib/stateful/src/agent/field.rs
  packages/engine/lib/stateful/src/agent/name.rs
  packages/engine/lib/stateful/src/agent/required.rs
  packages/engine/lib/stateful/src/field/mod.rs
  packages/engine/lib/stateful/src/global/globals.rs
  packages/engine/lib/stateful/src/message/arrow/array.rs
  packages/engine/lib/stateful/src/message/arrow/record_batch.rs
  packages/engine/lib/stateful/src/message/kind.rs
  packages/engine/lib/stateful/src/message/mod.rs
  packages/engine/lib/stateful/src/message/outbound.rs
  packages/engine/lib/stateful/src/message/payload.rs
  packages/engine/rust-toolchain.toml
  packages/libs/error-stack/src/iter.rs
  packages/libs/error-stack/src/test_helper.rs
Labels: A-engine, A-libs

#697 Use `provide_any` feature in `error-stack`
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/src/context.rs
  packages/libs/error-stack/src/frame/attachment.rs
  packages/libs/error-stack/src/frame/mod.rs
  packages/libs/error-stack/src/frame/vtable.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/provider.rs
  packages/libs/error-stack/src/report.rs
Labels: A-libs, Changelog

#700 Fix usage statement for `feature = "spantrace"`
  packages/libs/error-stack/src/report.rs
Labels: A-libs

#694 Run all feature permutations in CI
  .github/workflows/rust.yml
  packages/engine/lib/experiment-structure/Cargo.toml
  packages/engine/tests/integration.rs
Labels: A-engine, A-infra

#698 Deprecate `IntoReport::report` in favor of `IntoReport::into_report`
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/README.md
  packages/libs/error-stack/examples/demo.rs
  packages/libs/error-stack/examples/parse_config.rs
  packages/libs/error-stack/src/context.rs
  packages/libs/error-stack/src/ext/result.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
Labels: A-libs, Changelog

#699 Add `libs.rs` badge to `error-stack` readme
  packages/libs/error-stack/README.md
Labels: A-libs

#704 Fix typos in troubleshooting docs
  resources/docs/simulation/extra/troubleshooting/README.md
Labels: A-learn

#708 Change folder structure for the HASH graph package
  .github/scripts/rust/setup.py
  packages/graph/hash_graph/.gitignore
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/Cargo.toml
  packages/graph/hash_graph/LICENSE.md
  packages/graph/hash_graph/README.md
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/hash_graph/rust-toolchain.toml
  packages/graph/hash_graph/rustfmt.toml
Labels: C-dependencies, A-infra

#687 Move `external-services` folder to `packages/hash`
  .env
  .github/workflows/ci.yml
  package.json
  packages/hash/external-services/docker-compose.yml
  packages/hash/external-services/opensearch/Dockerfile
  packages/hash/external-services/opensearch/start.sh
  packages/hash/external-services/postgres/Dockerfile
  packages/hash/external-services/postgres/postgresql.conf
Labels: A-hash, A-infra

#713 Use `cargo make` in CI
  .github/scripts/rust/Makefile.toml
  .github/scripts/rust/setup.py
  .github/workflows/rust.yml
  packages/engine/Makefile.toml
  packages/engine/tests/integration.rs
  packages/libs/error-stack/Makefile.toml
Labels: A-engine, A-infra, A-libs

#709 Use `cargo-make` for `hash_graph`
  .env
  .github/scripts/rust/Makefile.toml
  .github/scripts/rust/setup.py
  .github/workflows/ci.yml
  .github/workflows/rust.yml
  package.json
  packages/engine/Makefile.toml
  packages/engine/tests/integration.rs
  packages/graph/hash_graph/Makefile.toml
  packages/graph/hash_graph/README.md
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/hash/api/src/graphql/typeDefs/page.typedef.ts
  packages/hash/api/src/model/page.model.ts
  packages/hash/external-services/docker-compose.yml
  packages/hash/external-services/opensearch/Dockerfile
  packages/hash/external-services/opensearch/start.sh
  packages/hash/external-services/postgres/Dockerfile
  packages/hash/external-services/postgres/postgresql.conf
  packages/hash/frontend/src/components/hooks/useArchivePage.ts
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
  packages/libs/error-stack/Makefile.toml
Labels: A-engine, A-hash, A-infra, api, frontend, A-libs

#715 Disable backend integration and playwright checks in `dev/graph`
  .github/workflows/ci.yml
Labels: A-infra

#712 Add migrations for HASH Graph
  .env
  package.json
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/db/mod.rs
  packages/graph/hash_graph/lib/graph/src/db/row_types.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
  packages/graph/migrations/.eslintrc.json
  packages/graph/migrations/README.md
  packages/graph/migrations/package.json
  packages/graph/migrations/postgres/migration-config.json
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
  packages/graph/migrations/postgres/scripts/recreate-db.ts
  packages/graph/migrations/postgres/scripts/run-schema-migrations.ts
  packages/graph/migrations/postgres/util.ts
  packages/graph/migrations/tsconfig.json
  packages/hash/datastore/postgres/migration/1648547815337_base.ts
  packages/hash/datastore/postgres/migration/1648554628604_util-functions.ts
  packages/hash/datastore/postgres/migration/1648554640549_citus-setup.ts
  packages/hash/datastore/postgres/migration/1648554655322_foreign-keys.ts
  packages/hash/datastore/postgres/migration/1648554664838_system-accounts.ts
  packages/hash/datastore/postgres/migration/1648554901155_system-types.ts
  packages/hash/datastore/postgres/migration/1649061269485_add-aggregation-id.ts
  packages/hash/datastore/postgres/migration/1649350269280_create-aggregation-versions-table.ts
  packages/hash/datastore/postgres/migration/1649694034320_aggregations-add-source-timestamps.ts
  packages/hash/datastore/postgres/migration/1652365970279_remove-destination-entity-version-id.ts
  packages/hash/datastore/postgres/scripts/data/generatedIds.json
  packages/hash/datastore/postgres/scripts/data/systemTypeSchemas.ts
  packages/hash/datastore/postgres/scripts/generate-ids.ts
Labels: C-dependencies, A-hash

#723 Move database to `packages/graph`
  .env
  packages/graph/.env
  packages/graph/.gitignore
  packages/graph/README.md
  packages/graph/deployment/postgres/postgresql.conf
  packages/graph/deployment/stack.yml
  packages/graph/hash_graph/.gitignore
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/bin/hash_graph/Cargo.toml
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/datastore/postgres/mod.rs
  packages/graph/migrations/README.md
  packages/graph/migrations/package.json
  packages/graph/migrations/postgres/scripts/environment.ts
  packages/graph/migrations/postgres/scripts/recreate-db.ts
Labels: C-dependencies

#705 Improve GitHub PR block
  packages/blocks/github-pr-overview/example-graph.json
  packages/blocks/github-pr-overview/package.json
  packages/blocks/github-pr-overview/public/block-preview.svg
  packages/blocks/github-pr-overview/src/app.tsx
  packages/blocks/github-pr-overview/src/dev.tsx
  packages/blocks/github-pr-overview/src/entity-aggregations.ts
  packages/blocks/github-pr-overview/src/icons.tsx
  packages/blocks/github-pr-overview/src/index.css
  packages/blocks/github-pr-overview/src/info-ui.tsx
  packages/blocks/github-pr-overview/src/overview.tsx
  packages/blocks/github-pr-overview/src/overview/index.tsx
  packages/blocks/github-pr-overview/src/overview/reviews.tsx
  packages/blocks/github-pr-overview/src/pull-request-selector.tsx
  packages/blocks/github-pr-overview/src/pull-request-selector/custom-autocomplete.tsx
  packages/blocks/github-pr-overview/src/pull-request-selector/index.tsx
  packages/blocks/github-pr-overview/src/timeline.tsx
  packages/blocks/github-pr-overview/src/timeline/config-panel.tsx
  packages/blocks/github-pr-overview/src/timeline/index.tsx
  packages/blocks/github-pr-overview/src/timeline/timeline-item.tsx
  packages/blocks/github-pr-overview/src/types.ts
  packages/blocks/github-pr-overview/src/utils.ts
  packages/blocks/github-pr-overview/tsconfig.json
  packages/hash/design-system/src/select.tsx
  packages/hash/design-system/src/theme-override.d.ts
  packages/hash/design-system/src/theme/components/data-display/mui-typography-theme-options.ts
  packages/hash/design-system/src/theme/typography.ts
Labels: A-hash, A-blocks

#726 Fix API deployment
  packages/hash/docker/api/prod/Dockerfile
  packages/hash/docker/search-loader/prod/Dockerfile
Labels: A-hash, docker
