Repository hashintel/hash, pull requests merged in 2023-02, with the labels that each got.

#1983 Add missing steps to canary release flow
  .github/workflows/canary-release.yml
Labels: A-infra

#1989 `error-stack`: use `Emphasis` for all output in docs
  packages/libs/error-stack/README.md
  packages/libs/error-stack/assets/full.png
  packages/libs/error-stack/src/fmt.rs
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/hook.rs
  packages/libs/error-stack/src/hook/context.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/tests/snapshots/doc/fmt__diagnostics_add.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__doc.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_cast.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_decrement.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_increment.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_storage.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt_doc_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook_provide.snap
  packages/libs/error-stack/tests/snapshots/doc/lib__suggestion.snap
  packages/libs/error-stack/tests/snapshots/doc/report_debug__doc.snap
Labels: A-error-stack

#1992 Temporarily disable `Rust / publish` job
  .github/workflows/rust.yml
Labels: A-infra

#1993 Revert "Temporarily disable `Rust / publish` job (#1992)"
  .github/workflows/rust.yml
Labels: A-infra

#1954 Improve `Debug` output for time-related structs
  apps/hash-graph/lib/graph/src/shared/identifier/time/interval.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/timestamp.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/version.rs
Labels: A-hash, A-backend

#1991 Add `clippy::mod_module_files` lint to `error-stack`
  libs/error-stack/src/lib.rs
Labels: A-error-stack

#1986 Publish `error-stack` version 0.3
  libs/error-stack/CHANGELOG.md
  libs/error-stack/Cargo.toml
Labels: A-error-stack

#1941 Rename `module/mod.rs` to `module.rs` in hash-graph
  apps/hash-graph/.config/config.toml
  apps/hash-graph/bench/benches/read_scaling.rs
  apps/hash-graph/bench/benches/read_scaling/knowledge.rs
  apps/hash-graph/bench/benches/read_scaling/knowledge/complete.rs
  apps/hash-graph/bench/benches/read_scaling/knowledge/linkless.rs
  apps/hash-graph/bench/benches/representative_read.rs
  apps/hash-graph/bench/benches/representative_read/knowledge.rs
  apps/hash-graph/bench/benches/representative_read/ontology.rs
  apps/hash-graph/bench/benches/util.rs
  apps/hash-graph/bench/benches/writes.rs
  apps/hash-graph/bin/cli/src/subcommands.rs
  apps/hash-graph/lib/graph/src/api.rs
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/knowledge.rs
  apps/hash-graph/lib/graph/src/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/logging.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/shared.rs
  apps/hash-graph/lib/graph/src/shared/identifier.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time.rs
  apps/hash-graph/lib/graph/src/shared/subgraph.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres/query.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement.rs
  apps/hash-graph/lib/graph/src/store/query.rs
  apps/hash-graph/tests/integration/postgres.rs
  apps/hash-graph/tests/test_data/src/data_type.rs
  apps/hash-graph/tests/test_data/src/data_type/mod.rs
  apps/hash-graph/tests/test_data/src/entity.rs
  apps/hash-graph/tests/test_data/src/entity/mod.rs
  apps/hash-graph/tests/test_data/src/entity_type.rs
  apps/hash-graph/tests/test_data/src/entity_type/link.rs
  apps/hash-graph/tests/test_data/src/entity_type/link/mod.rs
  apps/hash-graph/tests/test_data/src/entity_type/mod.rs
  apps/hash-graph/tests/test_data/src/property_type.rs
  apps/hash-graph/tests/test_data/src/property_type/mod.rs
Labels: A-hash, A-backend

#1939 Rename `module/mod.rs` to `module.rs` in deer
  libs/deer/json/src/lib.rs
  libs/deer/macros/src/lib.rs
  libs/deer/src/error.rs
  libs/deer/src/impls.rs
  libs/deer/src/impls/core.rs
  libs/deer/src/lib.rs
  libs/deer/tests/common.rs
Labels: A-deer

#1999 Rename database columns and tables
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-graph/lib/graph/src/shared/identifier/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/lib/graph/src/store/postgres/mod.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/postgres_migrations/V2__ontology_tables.sql
  apps/hash-graph/postgres_migrations/V3__knowledge_tables.sql
  apps/hash-graph/postgres_migrations/V5__owned_ontology_functions.sql
  apps/hash-graph/postgres_migrations/V6__knowledge_functions.sql
  libs/@local/hash-graph-client/api.ts
  libs/@local/hash-subgraph/src/types/identifier.ts
Labels: A-hash, frontend, A-backend

#1978 Merge database changes into `main`
  .prettierrc.js
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-graph/bench/benches/representative_read/seed.rs
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/shared/identifier/knowledge.rs
  apps/hash-graph/lib/graph/src/store/error.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/ontology_id.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/order_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/postgres_migrations/V1__base.sql
  apps/hash-graph/postgres_migrations/V1__initial.sql
  apps/hash-graph/postgres_migrations/V2__ontology_tables.sql
  apps/hash-graph/postgres_migrations/V3__knowledge_tables.sql
  apps/hash-graph/postgres_migrations/V4__ontology_functions.sql
  apps/hash-graph/postgres_migrations/V5__owned_ontology_functions.sql
  apps/hash-graph/postgres_migrations/V6__knowledge_functions.sql
  apps/hash-graph/postgres_migrations/V7__entity_type_closure.sql
  infra/docker/citus/prod/initdb/0000_init.sql
  libs/@local/hash-graph-client/api.ts
  libs/@local/hash-subgraph/src/types/identifier.ts
Labels: A-hash, frontend, docker, A-backend

#1994 External type fetcher service for the Graph
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/subcommands/migrate.rs
  apps/hash-graph/bin/cli/src/subcommands/server.rs
  apps/hash-graph/bin/type-fetcher/Cargo.toml
  apps/hash-graph/bin/type-fetcher/src/main.rs
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/logging/init.rs
  apps/hash-graph/lib/type-fetcher/Cargo.toml
  apps/hash-graph/lib/type-fetcher/src/fetcher.rs
  apps/hash-graph/lib/type-fetcher/src/fetcher_server.rs
  apps/hash-graph/lib/type-fetcher/src/lib.rs
Labels: C-dependencies, A-hash, A-backend

#2004 Update database to allow external metadata
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/postgres_migrations/V2__ontology_tables.sql
  apps/hash-graph/postgres_migrations/V4__ontology_functions.sql
  apps/hash-graph/postgres_migrations/V5__ontology_metadata_functions.sql
  apps/hash-graph/postgres_migrations/V5__owned_ontology_functions.sql
  apps/hash-graph/postgres_migrations/V6__knowledge_functions.sql
Labels: A-hash, A-backend

#2010 Add new `OntologyMetadata` enum that contains variants for Owned and External
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/order_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/lib/graph/src/store/query.rs
  libs/@local/hash-graph-client/api.ts
Labels: A-hash, A-backend

#2005 Prepare `@hashintel/design-system` for publishing, create helper scripts
  .changeset/angry-trains-bake.md
  apps/hash-frontend/package.json
  blocks/github-pr-overview/package.json
  blocks/shuffle/package.json
  libs/@hashintel/design-system/.npmignore
  libs/@hashintel/design-system/package.json
  libs/@local/hash-subgraph/package.json
  libs/@local/repo-chores/package.json
  libs/@local/repo-chores/scripts/postpublish.ts
  libs/@local/repo-chores/scripts/prepublish.ts
  libs/@local/repo-chores/scripts/shared/errors.ts
  libs/@local/repo-chores/scripts/shared/git.ts
  libs/@local/repo-chores/scripts/shared/monorepo-root.ts
  libs/@local/repo-chores/scripts/shared/package-infos.ts
  libs/@local/repo-chores/scripts/shared/update-json.ts
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#2016 Allow batch insertion of (owned and external) ontology types
  apps/hash-graph/bench/benches/util.rs
  apps/hash-graph/bin/cli/src/subcommands/server.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/shared/identifier/ontology.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/tests/integration/lib.rs
  apps/hash-graph/tests/integration/postgres.rs
Labels: A-hash, A-backend

#2015 Fix forwardref error in console in entity type editor
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector.tsx
Labels: A-hash, frontend

#2020 Publish the `antsi` crate
  .github/scripts/rust/setup.py
Labels: A-infra

#2022 `error-stack`: remove leading space for multiline attachments
  libs/error-stack/src/fmt.rs
  libs/error-stack/tests/snapshots/doc/fmt__emit_alt.snap
  libs/error-stack/tests/snapshots/test_debug__full__multiline.snap
Labels: A-error-stack

#2025 Fix Publish job to correctly pick up subcrates
  .github/scripts/rust/setup.py
Labels: A-infra

#2026 Temporarily disable `SemVer check` job
  .github/workflows/rust.yml
Labels: A-infra

#2024 Define full block names in package.json files
  blocks/calculation/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/drawing/package.json
  blocks/embed/package.json
  blocks/github-pr-overview/package.json
  blocks/header/package.json
  blocks/html-para/package.json
  blocks/image/package.json
  blocks/paragraph/package.json
  blocks/person/package.json
  blocks/shuffle/package.json
  blocks/stopwatch/package.json
  blocks/table/package.json
  blocks/timer/package.json
  blocks/toggle-item/package.json
  blocks/video/package.json
Labels: A-blocks

#2027 Merge `interval-ops` into `graph` crate
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/shared.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/interval.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/projection.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/timestamp.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/version.rs
  apps/hash-graph/lib/graph/src/shared/interval.rs
  apps/hash-graph/lib/graph/src/shared/interval/bounds.rs
  apps/hash-graph/lib/graph/src/shared/interval/interval_bounds.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/interval-ops/Cargo.toml
  apps/hash-graph/lib/interval-ops/src/lib.rs
Labels: C-dependencies, A-hash, A-backend

#2033 Pin `thread_local` crate to version `1.1.4`
  libs/error-stack/Cargo.toml
Labels: A-error-stack

#2029 Publish `error-stack` v0.3.1
  libs/error-stack/CHANGELOG.md
  libs/error-stack/Cargo.toml
Labels: A-error-stack

#2034 Revert "Temporarily disable `SemVer check` job"
  .github/workflows/rust.yml
Labels: A-infra

#2036 Unpin `thread_local` crate version
  libs/error-stack/Cargo.toml
Labels: A-error-stack

#2037 Make `type-fetcher` a subcommand of the Graph CLI
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/args.rs
  apps/hash-graph/bin/cli/src/main.rs
  apps/hash-graph/bin/cli/src/subcommand.rs
  apps/hash-graph/bin/cli/src/subcommand/completions.rs
  apps/hash-graph/bin/cli/src/subcommand/migrate.rs
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/bin/cli/src/subcommand/type_fetcher.rs
  apps/hash-graph/bin/cli/src/subcommands.rs
  apps/hash-graph/bin/type-fetcher/Cargo.toml
Labels: C-dependencies, A-hash, A-backend

#2039 Update `Cargo.lock`
  apps/hash-graph/Cargo.lock
Labels: C-dependencies, A-hash, A-backend

#2041 Prevent entity type editor reseting when creating link types
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/use-entity-type-value.tsx
Labels: A-hash, frontend

#2047 Fallback to `cargo install`
  .github/workflows/rust.yml
Labels: A-infra

#2038 Adjust docker for type fetcher
  .env
  .github/workflows/hash-backend-cd.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-graph/Cargo.lock
  apps/hash-graph/Makefile.toml
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/error.rs
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/bin/cli/src/subcommand/type_fetcher.rs
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/lib/type-fetcher/Cargo.toml
Labels: C-dependencies, A-hash, A-infra, A-backend

#2028 Make `Interval` a struct
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/shared/identifier/knowledge.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/axis.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/bound.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/interval.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/projection.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/timestamp.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/version.rs
  apps/hash-graph/lib/graph/src/shared/interval.rs
  apps/hash-graph/lib/graph/src/shared/interval/bounds.rs
  apps/hash-graph/lib/graph/src/shared/interval/interval_bounds.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/tests/integration/postgres/entity.rs
  libs/@local/hash-graph-client/api.ts
Labels: A-hash, A-backend

#2046 Always get latest entity type in the entity type editor
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/use-entity-type-value.tsx
Labels: A-hash, frontend

#2042 Expose external types to TS
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  apps/hash-graph/lib/graph/src/ontology.rs
  libs/@local/hash-graph-client/api.ts
  libs/@local/hash-subgraph/src/types/element.ts
Labels: A-hash, frontend, A-backend

#2008 Update repository READMEs
  CONTRIBUTING.md
  README.md
  apps/README.md
  apps/hash/README.md
  blocks/README.md
  libs/README.md
  libs/deer/README.md
  libs/error-stack/README.md
Labels: A-infra, A-blocks, A-error-stack, A-deer

#2058 Disable Vercel deployment for `trunk-merge-*` branches
  vercel.json
Labels: A-infra

#2060 Change vercel disabled branches to match `trunk-merge/*`
  vercel.json
Labels: A-infra

#2044 Correctly import external types from the type fetcher
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/type-fetcher/Cargo.toml
  apps/hash-graph/lib/type-fetcher/src/fetcher.rs
  apps/hash-graph/lib/type-fetcher/src/fetcher_server.rs
Labels: C-dependencies, A-hash, A-backend

#2061 Rename `EditionId` to `RecordId` in the Graph
  apps/hash-graph/bench/benches/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/benches/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/benches/representative_read/seed.rs
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/knowledge/entity/query.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/shared/identifier.rs
  apps/hash-graph/lib/graph/src/shared/identifier/knowledge.rs
  apps/hash-graph/lib/graph/src/shared/identifier/ontology.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/edges/edge.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/lib/graph/src/store/query.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  apps/hash-graph/lib/graph/src/store/record.rs
  apps/hash-graph/tests/integration/postgres.rs
  apps/hash-graph/tests/integration/postgres/entity.rs
  apps/hash-graph/tests/integration/postgres/links.rs
  apps/hash-graph/tests/rest-test.http
  libs/@local/hash-graph-client/api.ts
  libs/@local/hash-subgraph/src/temp/map-vertices.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
Labels: A-hash, A-backend

#2067 Use `VersionedUri` instead of `String` in type fetcher
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/type-fetcher/src/fetcher.rs
  apps/hash-graph/lib/type-fetcher/src/fetcher_server.rs
Labels: A-hash, A-backend

#2068 Implement `Store` for `FetchingStore`
  apps/hash-graph/bench/benches/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/benches/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/benches/representative_read/seed.rs
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-hash, A-backend

#2070 Use type fetcher when creating or updating types
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/tests/rest-test.http
Labels: A-hash, A-backend

#2053 Remove `Drawing` block
  blocks/drawing/.eslintrc.cjs
  blocks/drawing/.gitignore
  blocks/drawing/LICENSE-APACHE.md
  blocks/drawing/LICENSE-MIT.md
  blocks/drawing/LICENSE.md
  blocks/drawing/README.md
  blocks/drawing/block-schema.json
  blocks/drawing/package.json
  blocks/drawing/public/icon.svg
  blocks/drawing/public/preview.png
  blocks/drawing/src/app.tsx
  blocks/drawing/src/base.css
  blocks/drawing/src/dev.tsx
  blocks/drawing/src/index.ts
  blocks/drawing/src/utils.ts
  blocks/drawing/tsconfig.json
  blocks/drawing/variants.json
  yarn.lock
Labels: C-dependencies, A-blocks

#2074 Fix API dockerfile missing a dependency
  infra/docker/api/prod/Dockerfile
Labels: docker

#2076 Disable caching for `CI` job
  .github/actions/warm-up-repo/action.yml
  .github/workflows/rust.yml
Labels: A-infra

#2066 `deer`: update metadata
  libs/deer/Cargo.toml
  libs/deer/desert/README.md
  libs/deer/json/Cargo.toml
  libs/deer/json/README.md
  libs/deer/macros/Cargo.toml
  libs/deer/macros/README.md
Labels: A-deer

#2077 Remove `github-pr-overview` block
  blocks/github-pr-overview/.eslintrc.cjs
  blocks/github-pr-overview/LICENSE-APACHE.md
  blocks/github-pr-overview/LICENSE-MIT.md
  blocks/github-pr-overview/LICENSE.md
  blocks/github-pr-overview/README.md
  blocks/github-pr-overview/example-graph.json
  blocks/github-pr-overview/package.json
  blocks/github-pr-overview/public/block-preview.svg
  blocks/github-pr-overview/public/pull-request.svg
  blocks/github-pr-overview/src/app.tsx
  blocks/github-pr-overview/src/dev.tsx
  blocks/github-pr-overview/src/entity-aggregations.ts
  blocks/github-pr-overview/src/icons.tsx
  blocks/github-pr-overview/src/index.css
  blocks/github-pr-overview/src/index.ts
  blocks/github-pr-overview/src/info-ui.tsx
  blocks/github-pr-overview/src/overview/index.tsx
  blocks/github-pr-overview/src/overview/reviews.tsx
  blocks/github-pr-overview/src/pull-request-selector/custom-autocomplete.tsx
  blocks/github-pr-overview/src/pull-request-selector/index.tsx
  blocks/github-pr-overview/src/timeline/config-panel.tsx
  blocks/github-pr-overview/src/timeline/index.tsx
  blocks/github-pr-overview/src/timeline/timeline-item.tsx
  blocks/github-pr-overview/src/types.ts
  blocks/github-pr-overview/src/utils.ts
  blocks/github-pr-overview/tsconfig.json
  yarn.lock
Labels: C-dependencies, A-blocks

#2078 Change ownership of two blocks
  blocks/countdown/package.json
  blocks/timer/package.json
Labels: A-blocks

#2079 Add type fetcher to production infra
  .github/workflows/hash-backend-cd.yml
  infra/terraform/hash/main.tf
  infra/terraform/hash/prod-usea1.tfvars
  infra/terraform/modules/hash_application/graph.tf
  infra/terraform/modules/hash_application/main.tf
  infra/terraform/modules/hash_application/type_fetcher.tf
  infra/terraform/modules/hash_application/variables.tf
Labels: A-infra

#2080 Remove stopgap-setup when running with the type fetcher
  apps/hash-graph/bin/cli/src/subcommand/server.rs
Labels: A-hash, A-backend

#2014 Add `Address` block
  blocks/address/.gitignore
  blocks/address/LICENSE-APACHE.md
  blocks/address/LICENSE-MIT.md
  blocks/address/LICENSE.md
  blocks/address/README.md
  blocks/address/package.json
  blocks/address/public/block-preview.png
  blocks/address/public/omega.svg
  blocks/address/src/address-card.tsx
  blocks/address/src/app.tsx
  blocks/address/src/assets.d.ts
  blocks/address/src/dev.tsx
  blocks/address/src/editable-field.tsx
  blocks/address/src/icons/apple-icon.tsx
  blocks/address/src/icons/google-icon.tsx
  blocks/address/src/icons/mapbox-icon.tsx
  blocks/address/src/icons/triangle-exclamation-icon.tsx
  blocks/address/src/index.ts
  blocks/address/src/map-button.tsx
  blocks/address/src/types.ts
  blocks/address/src/useMapbox.tsx
  blocks/address/tsconfig.json
  blocks/address/variants.json
  yarn.lock
Labels: C-dependencies, A-blocks

#2081 Make fields on common structs `pub`
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/bench/util.rs
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/knowledge/entity/query.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/ontology/domain_validator.rs
  apps/hash-graph/lib/graph/src/shared/identifier.rs
  apps/hash-graph/lib/graph/src/shared/identifier/knowledge.rs
  apps/hash-graph/lib/graph/src/shared/identifier/ontology.rs
  apps/hash-graph/lib/graph/src/shared/provenance.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  apps/hash-graph/lib/type-fetcher/Cargo.toml
  apps/hash-graph/tests/integration/Cargo.toml
  apps/hash-graph/tests/integration/postgres/entity.rs
  apps/hash-graph/tests/integration/postgres/lib.rs
  apps/hash-graph/tests/integration/postgres/links.rs
  libs/@local/hash-graph-client/api.ts
Labels: C-dependencies, A-hash, A-backend

#2088 Don't run doc-tests in production builds
  apps/hash-graph/Makefile.toml
Labels: A-hash, A-backend

#2091 Temporarily disable CI failure on failed coverage upload
  .github/workflows/ci.yml
  .github/workflows/rust.yml
Labels: A-infra

#2107 Upgrade code block for latest 0.3 packages, and new type
  apps/hash-frontend/package.json
  apps/hash-frontend/src/blocks/page/page-title/page-title.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/item-limit-info.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/shared/grid-editor-wrapper.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/styled-plus-circle-icon.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/entity-type-table.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/question-icon.tsx
  apps/hashdotdev/package.json
  blocks/address/package.json
  blocks/address/src/dev.tsx
  blocks/chart/package.json
  blocks/code/package.json
  blocks/code/src/app.tsx
  blocks/code/src/dev.tsx
  blocks/code/src/types.ts
  blocks/shuffle/package.json
  blocks/shuffle/src/components/add-entities-dialog.tsx
  blocks/shuffle/src/components/item.styled.ts
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#2108 Account for horizontal scrollbar in code block sizing
  blocks/code/package.json
  blocks/code/src/dev.tsx
  blocks/code/src/editor.module.css
  blocks/code/src/editor.tsx
Labels: A-blocks

#2087 Fix numbers not being passed correctly to Postgres
  apps/hash-graph/lib/graph/src/lib.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
Labels: C-bug, A-hash, A-backend

#2043 Add GitHub action to publish blocks
  .github/workflows/publish-blocks-to-preview.yml
  .github/workflows/publish-blocks-to-production.yml
  libs/@local/repo-chores/package.json
  libs/@local/repo-chores/scripts/check-license-in-workspaces.ts
  libs/@local/repo-chores/scripts/list-blocks.ts
  libs/@local/repo-chores/scripts/postpublish.ts
  libs/@local/repo-chores/scripts/shared/git.ts
  libs/@local/repo-chores/scripts/shared/monorepo-root.ts
  libs/@local/repo-chores/scripts/shared/monorepo.ts
  libs/@local/repo-chores/scripts/shared/package-infos.ts
  yarn.lock
Labels: C-dependencies, A-infra

#2111 Fix CI
  apps/hash-external-services/kratos/Dockerfile
Labels: A-hash

#2106 Make `utoipa` definitions more readable
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices/vertex.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/edges/edge.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  libs/@local/hash-graph-client/api.ts
  libs/@local/hash-subgraph/src/temp/map-edges.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-edges.ts
Labels: A-hash, A-backend

#2090 Support inserting the same external type with different versions
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/error.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/postgres_migrations/V2__ontology_tables.sql
  apps/hash-graph/postgres_migrations/V4__ontology_functions.sql
  apps/hash-graph/postgres_migrations/V5__ontology_metadata_functions.sql
  apps/hash-graph/tests/integration/postgres/data_type.rs
  apps/hash-graph/tests/integration/postgres/lib.rs
Labels: A-hash, A-backend

#2112 Add DB/migration owners to CODEOWNERS
  .github/CODEOWNERS
Labels: A-infra

#2109 Rename `VertexId::version` to `revision_id` in the Graph
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/shared/identifier.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  libs/@local/hash-graph-client/api.ts
  libs/@local/hash-subgraph/src/temp.ts
  libs/@local/hash-subgraph/src/temp/map-edges.ts
  libs/@local/hash-subgraph/src/temp/map-roots.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-edges.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-roots.ts
Labels: A-hash, A-backend

#2114 Fix Graph when running without type fetcher
  .env
  apps/hash-graph/README.md
  apps/hash-graph/bin/cli/src/subcommand/server.rs
Labels: A-hash, A-backend

#2119 Add `IntelliJ Plugin` app and team to CODEOWNERS
  .github/CODEOWNERS
Labels: A-infra

#2117 Improve type editing (introduce read-only mode, show type versions)
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/definition-tab.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/definition-tab/use-editor-ontology-functions.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/edit-bar-type-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entities-tab.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entities-tab/text-icon-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entities-tab/use-entities-table.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-tabs.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-tabs/tab-link.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/edit-bar.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/entity-type-context.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/entity-type-entities-context.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/get-entity-type-base-uri.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/latest-property-types-context.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/tabs.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/use-latest-property-types-context-value.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-entities-context-value.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-value.tsx
  apps/hash-frontend/src/shared/is-href-external.ts
  apps/hash-frontend/src/shared/ui/button.tsx
  apps/hash-frontend/src/shared/ui/link.tsx
  libs/@hashintel/design-system/src/ontology-chip.tsx
  libs/@hashintel/type-editor/src/entity-type-editor.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/link-entity-type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-title-cell.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/empty-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/entity-type-table.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/link.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/multiple-values-cell.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/type-menu-cell.tsx
  libs/@hashintel/type-editor/src/get-schema-from-form-data.ts
  libs/@hashintel/type-editor/src/shared/customization-context.tsx
  libs/@hashintel/type-editor/src/shared/read-only-context.tsx
Labels: A-hash, frontend

#2122 Hotfix type editor
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-value.tsx
  apps/hash-frontend/src/pages/new/types/entity-type.page.tsx
Labels: A-hash, frontend

#2123 Type editor: allow link type upgrading, fix property type upgrading, better option filtering
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-tabs.tsx
  blocks/address/package.json
  blocks/shuffle/package.json
  libs/@hashintel/design-system/.eslintrc.cjs
  libs/@hashintel/design-system/package.json
  libs/@hashintel/type-editor/.eslintrc.cjs
  libs/@hashintel/type-editor/package.json
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/link-entity-type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/disabled-checkbox-cell.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-title-cell.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/typed-values.ts
  libs/@hashintel/type-editor/src/entity-type-editor/shared/use-filter-type-options.ts
  libs/@hashintel/type-editor/src/entity-type-editor/shared/use-type-versions.ts
  libs/@hashintel/type-editor/src/entity-type-editor/shared/version-upgrade-indicator.tsx
Labels: A-hash, frontend, A-blocks

#2062 Rename Þ `Services` to `Modules` (part 1 of 2)
  apps/hashdotai/glossary/block-protocol.mdx
  apps/hashdotai/glossary/graphs.mdx
  apps/hashdotdev/src/_pages/blog/0005_build-blocks-in-any-language.mdx
  apps/hashdotdev/src/_pages/blog/0006_block-protocol-v02.mdx
  apps/hashdotdev/src/_pages/blog/0011_hook-service.mdx
  blocks/code/README.md
  blocks/countdown/README.md
  blocks/image/README.md
  blocks/table/README.md
  blocks/timer/README.md
  blocks/video/README.md
Labels: A-learn, A-blocks

#2133 Move workspace with ‘Heading’ block
  blocks/heading/.eslintrc.cjs
  blocks/heading/LICENSE-APACHE.md
  blocks/heading/LICENSE-MIT.md
  blocks/heading/LICENSE.md
  blocks/heading/README.md
  blocks/heading/package.json
  blocks/heading/public/h1.svg
  blocks/heading/public/h2.svg
  blocks/heading/public/h3.svg
  blocks/heading/public/h4.svg
  blocks/heading/public/h5.svg
  blocks/heading/public/h6.svg
  blocks/heading/public/preview.svg
  blocks/heading/src/app.tsx
  blocks/heading/src/dev.tsx
  blocks/heading/src/index.ts
  blocks/heading/tsconfig.json
  blocks/heading/variants.json
  tests/hash-backend-integration/src/tests/integration.test.ts
Labels: integration, A-blocks

#2128 Create type modal shouldn't show when clicking insert type immediately after creating a type
  apps/hash-frontend/package.json
  libs/@hashintel/type-editor/package.json
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card.tsx
Labels: A-hash, frontend
