Repository hashintel/hash, pull requests merged in 2023-07, with the labels that each got.

#2702 Disable caching of `.venv`
  .github/workflows/ci.yml
  apps/hash-ai-worker-py/turbo.json
Labels: A-hash, A-infra

#2713 Add Temporal Terraform modules
  apps/hash-external-services/temporal/migrate.sh
  apps/hash-external-services/temporal/setup.sh
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/modules/temporal/load_balancer.tf
  infra/terraform/modules/temporal/main.tf
  infra/terraform/modules/temporal/output.tf
  infra/terraform/modules/temporal/task_definitions.tf
  infra/terraform/modules/temporal/terraform.tf
  infra/terraform/modules/temporal/variables.tf
  infra/terraform/modules/temporal_worker/main.tf
  infra/terraform/modules/temporal_worker/output.tf
  infra/terraform/modules/temporal_worker/task_definitions.tf
  infra/terraform/modules/temporal_worker/terraform.tf
  infra/terraform/modules/temporal_worker/variables.tf
Labels: A-hash, A-infra

#2695 Expose ontology type retrieval in temporal worker
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  libs/@local/hash-subgraph/package.json
Labels: A-hash

#2714 Use Temporal Terraform module in `hash`
  infra/terraform/hash/main.tf
  infra/terraform/modules/container_registry/main.tf
  infra/terraform/modules/temporal/main.tf
Labels: A-infra

#2715 Remove code ownership for migration files
  .github/CODEOWNERS
Labels: A-infra

#2699 Make Python worker aware of the type system
  apps/hash-ai-worker-py/app/__main__.py
  apps/hash-ai-worker-py/app/typesystem/__init__.py
  apps/hash-ai-worker-py/app/typesystem/_schema.py
  apps/hash-ai-worker-py/app/typesystem/data_type.py
  apps/hash-ai-worker-py/app/typesystem/entity_type.py
  apps/hash-ai-worker-py/app/typesystem/property_type.py
  apps/hash-ai-worker-py/app/workflows.py
  apps/hash-ai-worker-py/poetry.lock
  apps/hash-ai-worker-py/pyproject.toml
Labels: A-hash

#2711 [H-41] Save less frequently
  apps/hash-frontend/src/blocks/page/create-editor-view.ts
Labels: A-hash, frontend

#2701 Implement data encoder for Pydantic
  apps/hash-ai-worker-py/app/__main__.py
  apps/hash-ai-worker-py/app/encoding.py
  apps/hash-ai-worker-py/app/workflows.py
Labels: A-hash

#2717 H-33: Use RDS for Temporal
  infra/terraform/hash/main.tf
  infra/terraform/hash/outputs.tf
  infra/terraform/hash/postgres_roles/postgres_roles.tf
  infra/terraform/hash/postgres_roles/variables.tf
  infra/terraform/modules/temporal/main.tf
  infra/terraform/modules/temporal/task_definitions.tf
  infra/terraform/modules/temporal/variables.tf
Labels: A-infra

#2718 H-52: `graph`: Fix OpenAPI spec inconsistencies
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-client/openapitools.json
Labels: A-hash, A-backend

#2581 H-29: Refactor the `Command Bar` (k-bar v2)
  apps/hash-frontend/src/components/hooks/use-account-pages.ts
  apps/hash-frontend/src/shared/command-bar.tsx
  apps/hash-frontend/src/shared/command-bar/cheat-sheet.tsx
  apps/hash-frontend/src/shared/command-bar/command-bar-options.ts
  apps/hash-frontend/src/shared/command-bar/hot-key.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  apps/hash-frontend/src/shared/layout/plain-layout.tsx
Labels: A-hash, frontend

#2719 H-53: Apply consistent name schema to Temporal infra
  infra/terraform/hash/main.tf
  infra/terraform/hash/outputs.tf
  infra/terraform/hash/temporal/load_balancer.tf
  infra/terraform/hash/temporal/main.tf
  infra/terraform/hash/temporal/output.tf
  infra/terraform/hash/temporal/task_definitions.tf
  infra/terraform/hash/temporal/terraform.tf
  infra/terraform/hash/temporal/variables.tf
Labels: A-infra

#2720 H-14: Add RSS and Atom feeds to hash.dev/blog
  .gitignore
  apps/hash-agents/poetry.lock
  apps/hashdotdev/package.json
  apps/hashdotdev/src/components/pre-footer.tsx
  apps/hashdotdev/src/config.ts
  apps/hashdotdev/src/pages/_app.page.tsx
  apps/hashdotdev/src/pages/_document.page.tsx
  apps/hashdotdev/src/pages/blog/index.page.tsx
  apps/hashdotdev/src/pages/blog/index.page/feed-paths.ts
  apps/hashdotdev/src/pages/blog/index.page/generate-feeds.ts
  apps/hashdotdev/src/util/mdx-util.ts
  yarn.lock
Labels: C-dependencies, A-hash, A-infra

#2722 H-79: Switch to `linux/arm64` ECS containers
  infra/terraform/hash/temporal/main.tf
Labels: A-infra

#2723 H-80: Configure namespaces in hosted Temporal instance
  apps/hash-ai-worker-py/app/__main__.py
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/temporal/setup.sh
Labels: A-hash

#2724 H-81: Fix `egress` for Postgres in Temporal missing
  infra/terraform/hash/temporal/main.tf
Labels: A-infra

#2708 H-31: Implement Entity validation for Temporal worker
  apps/hash-ai-worker-py/app/typesystem/_schema.py
  apps/hash-ai-worker-py/app/typesystem/data_type.py
  apps/hash-ai-worker-py/app/typesystem/entity_type.py
  apps/hash-ai-worker-py/app/typesystem/property_type.py
  apps/hash-ai-worker-py/app/workflows.py
  apps/hash-ai-worker-py/poetry.lock
  apps/hash-ai-worker-py/pyproject.toml
Labels: A-hash

#2726 H-87: Upgrade Ory Kratos
  apps/hash-api/package.json
  apps/hash-external-services/kratos/Dockerfile
  apps/hash-external-services/kratos/kratos.dev.yml
  apps/hash-external-services/kratos/kratos.prod.yml
  apps/hash-external-services/kratos/templates/README.md
  yarn.lock
Labels: C-dependencies, A-hash, api

#2725 H-50: Provide example worker hosted on ECS
  apps/hash-ai-worker-py/app/__main__.py
  apps/hash-ai-worker-py/docker/Dockerfile
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/.gitignore
  apps/hash-graph/lib/graph/src/logging/args.rs
  infra/terraform/hash/hash_application/ai_worker.tf
  infra/terraform/hash/hash_application/variables.tf
  infra/terraform/hash/main.tf
  infra/terraform/hash/temporal/main.tf
  infra/terraform/hash/temporal/output.tf
  infra/terraform/hash/temporal/task_definitions.tf
  infra/terraform/modules/temporal_worker/main.tf
  infra/terraform/modules/temporal_worker/task_definitions.tf
  infra/terraform/modules/temporal_worker/variables.tf
Labels: A-hash, A-infra, A-backend

#2728 H-38: Setup RudderStack API for `hash-api`
  apps/hash-api/package.json
  apps/hash-api/src/telemetry/rudderstack.ts
  infra/terraform/hash/main.tf
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, api

#2749 IN-12: Change containers to linux/arm64
  .github/actions/docker-build-push/action.yml
  infra/terraform/hash/hash_application/main.tf
Labels: A-infra

#2750 H-127: Add network timeout to Dockerfiles
  apps/hash-graph/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
Labels: A-hash, A-infra, docker, A-backend

#2751 Revert "IN-12: Change containers to linux/arm64"
  .github/actions/docker-build-push/action.yml
  infra/terraform/hash/hash_application/main.tf
Labels: A-infra

#2757 Reduce frontend shared JS size. Upgrade Ory clients
  apps/hash-api/package.json
  apps/hash-frontend/next.config.js
  apps/hash-frontend/package.json
  apps/hash-frontend/src/blocks/on-block-loaded.tsx
  apps/hash-frontend/src/blocks/page/block-context-menu/block-context-menu.tsx
  apps/hash-frontend/src/blocks/page/block-highlight.tsx
  apps/hash-frontend/src/blocks/page/block-view.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/shared/get-block-dom-id.ts
  apps/hash-frontend/src/shared/layout/layout-with-header/search-bar.tsx
  apps/hash-frontend/src/shared/routing/route-page-info.tsx
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend

#2752 H-49: Run Graph and Kratos migration in AWS
  .github/workflows/hash-backend-cd.yml
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/hash_application/kratos.tf
  infra/terraform/hash/hash_application/main.tf
Labels: A-infra

#2753 H-45: Make Worker a task and connect them to the Graph
  infra/terraform/hash/hash_application/ai_worker.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/temporal_worker_ai_py.tf
  infra/terraform/hash/hash_application/temporal_worker_ai_ts.tf
  infra/terraform/hash/hash_application/variables.tf
  infra/terraform/hash/main.tf
Labels: A-infra

#2755 H-48: Build and push all docker images from GitHub Actions
  .github/workflows/hash-backend-cd.yml
  infra/terraform/hash/temporal/main.tf
Labels: A-infra

#2760 Fix CIDR block in egress for temporal workers
  infra/terraform/hash/hash_application/main.tf
Labels: A-infra

#2759 Trigger workflow if workflow definition changed
  .github/workflows/hash-backend-cd.yml
Labels: A-infra

#2762 H-99: Warm up key frontend pages
  .github/actions/warm-up-vercel/action.yml
  .github/workflows/warm-up-vercel.yml
Labels: A-infra

#2763 Update PR template checkboxes to 'tick & delete' rather than 'uncomment'
  .github/pull_request_template.md
Labels: A-infra

#2767 H-89: Speed up comment request resolution
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/block.ts
  apps/hash-api/src/graph/knowledge/system-types/comment.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/author.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/comment.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/has-text.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/parent.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/replies.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/text-updated-at.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/update-text.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment.test.ts
Labels: A-hash, api, integration

#2769 H-149: Hide hotkey cheat sheet
  apps/hash-frontend/src/shared/command-bar.tsx
  apps/hash-frontend/src/shared/command-bar/cheat-sheet.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
Labels: A-hash, frontend

#2766 H-138: Add GraphQL resolver stub for inferring entities from text
  apps/hash-agents/poetry.lock
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/entity.typedef.ts
Labels: A-hash, api

#2772 H-153: Remove `hash-agents` package
  apps/hash-agents/.gitignore
  apps/hash-agents/LICENSE.md
  apps/hash-agents/README.md
  apps/hash-agents/app/__init__.py
  apps/hash-agents/app/agents/__init__.py
  apps/hash-agents/app/agents/__main__.py
  apps/hash-agents/app/agents/template/__init__.py
  apps/hash-agents/app/agents/template/__main__.py
  apps/hash-agents/app/agents/template/io_types.ts
  apps/hash-agents/app/logger/__init__.py
  apps/hash-agents/app/logger/http.py
  apps/hash-agents/app/logger/langchain.py
  apps/hash-agents/app/logger/setup.py
  apps/hash-agents/app/prerun.py
  apps/hash-agents/app/routes/__init__.py
  apps/hash-agents/app/routes/agents.py
  apps/hash-agents/app/routes/health.py
  apps/hash-agents/docker/Dockerfile
  apps/hash-agents/package.json
  apps/hash-agents/poetry.lock
  apps/hash-agents/poetry.toml
  apps/hash-agents/pyproject.toml
  apps/hash-agents/scripts/codegen.ts
  apps/hash-agents/tsconfig.json
  apps/hash-agents/turbo.json
  yarn.lock
Labels: C-dependencies, area: apps > hash*

#2777 H-168: Enhance labels in GitHub
  .github/labeler.yml
Labels: area: infra

#2781 H-168: Fix typo in labels
  .github/labeler.yml
Labels: area: infra

#2775 H-166: Use Ontology metadata from snapshot in Endpoint API
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/definition-tab/use-editor-ontology-functions.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  apps/hash-graph/bench/util.rs
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/record.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/lib/graph/src/store/record.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/integration/postgres/lib.rs
  libs/@local/hash-graph-client/.gitignore
  libs/@local/hash-subgraph/src/types/element/ontology.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
Labels: area: apps > hash*, area: infra, area: libs, type: frontend, type: backend, area: tests, area: tests > integration, area: apps, area: apps > hash-graph

#2778 H-155: Split ontology metadata into separated structs
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/record.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/integration/postgres/data_type.rs
  apps/hash-graph/tests/integration/postgres/entity_type.rs
  apps/hash-graph/tests/integration/postgres/property_type.rs
Labels: area: apps > hash*, area: infra, type: backend, area: tests, area: apps, area: apps > hash-graph

#2780 H-102, H-122, H-150: Show older type versions, and type editor bug fixes
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/ontology-types-shim.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-query-entity-types.ts
  apps/hash-frontend/src/graphql/queries/ontology/entity-type.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/entity-type-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/query-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/convert-type-button.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/type-preview-slide.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-value.tsx
  apps/hash-frontend/src/shared/entity-types-context/hooks.ts
  apps/hash-frontend/src/shared/entity-types-context/provider/use-entity-types-context-value.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  libs/@local/hash-graphql-shared/src/graphql/type-defs/ontology/entity-type.typedef.ts
  libs/@local/hash-subgraph/src/shared/type-system-patch.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: frontend, type: backend, area: apps

#2782 H-156: Adjust database to support label properties for entity types
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/postgres_migrations/V9__label_property.sql
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#2783 H-157: Expose label property from the Database to the Graph API
  apps/hash-graph/bench/util.rs
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/tests/integration/postgres/lib.rs
Labels: area: apps > hash*, type: backend, area: tests, area: apps, area: apps > hash-graph

#2784 H-158: Make the label property available in the backend API
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-subgraph/src/types/element/ontology.ts
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area: apps > hash*, area: infra, area: apps > hash-api, area: libs, type: backend, area: tests, area: tests > integration, area: apps, area: apps > hash-graph

#2785 H-159: Add support to query entity types by label in Structural Queries
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
Labels: area: apps > hash*, area: infra, type: backend, area: tests, area: apps, area: apps > hash-graph

#2786 H-141: Expose `labelProperty` to GraphQL
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  libs/@local/hash-graphql-shared/src/graphql/scalar-mapping.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/ontology/entity-type.typedef.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: backend, area: apps

#2787 H-181: Implement logic to run a workflow from HASH
  apps/hash-api/package.json
  apps/hash-api/src/graphql/context.ts
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/temporal/index.ts
  yarn.lock
Labels: area: dependencies, area: apps > hash*, area: infra, area: apps > hash-api, type: backend, area: apps

#2788 H-170: Enable org creation
  apps/hash-api/src/graph/knowledge/system-types/org-membership.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graph/system-user.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/before-update-entity-hooks.ts
  apps/hash-api/src/graphql/resolvers/knowledge/org/create-org.ts
  apps/hash-api/src/seed-data/index.ts
  apps/hash-api/src/types/entity-types.ts
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/components/hooks/use-workspace-shortname-by-entity-uuid.ts
  apps/hash-frontend/src/graphql/queries/knowledge/org.queries.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/new/org.page.tsx
  apps/hash-frontend/src/pages/new/org.page/create-org-form.tsx
  apps/hash-frontend/src/pages/shared/org-form.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/org.typedef.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org-membership.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: frontend, type: backend, area: tests, area: tests > integration, area: apps

#2790 H-185: Implement Workflow stub which is called from the API
  .env
  apps/hash-ai-worker-py/app/__main__.py
  apps/hash-ai-worker-py/app/_status.py
  apps/hash-ai-worker-py/app/workflows.py
Labels: area: apps > hash*, area: apps

#2776 H-167: `hash-graph-types`: Add marker classes and unify interface
  libs/@local/hash-graph-types/graph_types/_cache.py
  libs/@local/hash-graph-types/graph_types/_const.py
  libs/@local/hash-graph-types/graph_types/_schema.py
  libs/@local/hash-graph-types/graph_types/base.py
  libs/@local/hash-graph-types/graph_types/data_type.py
  libs/@local/hash-graph-types/graph_types/entity_type.py
  libs/@local/hash-graph-types/graph_types/property_type.py
Labels: area: apps > hash*, area: libs, type: backend

#2792 Revert "H-167: `hash-graph-types`: Add marker classes and unify interface"
  libs/@local/hash-graph-types/graph_types/_cache.py
  libs/@local/hash-graph-types/graph_types/_const.py
  libs/@local/hash-graph-types/graph_types/_schema.py
  libs/@local/hash-graph-types/graph_types/base.py
  libs/@local/hash-graph-types/graph_types/data_type.py
  libs/@local/hash-graph-types/graph_types/entity_type.py
  libs/@local/hash-graph-types/graph_types/property_type.py
Labels: area: apps > hash*, area: libs, type: backend

#2793 H-183: Make sure HASH prod can connect to hosted Temporal Server
  infra/terraform/hash/main.tf
Labels: area: infra, area: infra > terraform

#2794 H-187: Create basic package for integrations
  apps/hash-external-services/turbo.json
  apps/hash-integration-worker/.eslintrc.cjs
  apps/hash-integration-worker/LICENSE.md
  apps/hash-integration-worker/README.md
  apps/hash-integration-worker/docker/Dockerfile
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/scripts/bundle-workflow-code.ts
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/main.ts
  apps/hash-integration-worker/src/workflows.ts
  apps/hash-integration-worker/tsconfig.json
  apps/hash-integration-worker/turbo.json
Labels: area: apps > hash*, area: infra, area: apps, type: legal

#2795 Add HashiCorp Vault to HASH developer environment
  .env
  apps/hash-api/src/graphql/context.ts
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/vault/index.ts
  apps/hash-external-services/docker-compose.yml
Labels: area: apps > hash*, area: infra, area: apps > hash-api, type: backend, area: apps

#2797 H-189: Implement activities and workflows to read Linear entities
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/main.ts
  apps/hash-integration-worker/src/workflows.ts
  yarn.lock
Labels: area: dependencies, area: apps > hash*, area: infra, area: apps

#2800 H-190: Add docker image for integration worker
  .github/actions/build-docker-images/action.yml
  .github/actions/load-docker-images/action.yml
  .github/workflows/ci.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/turbo.json
  apps/hash-integration-worker/docker/Dockerfile
  apps/hash-integration-worker/package.json
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/temporal_worker_integration.tf
  infra/terraform/hash/hash_application/variables.tf
  infra/terraform/hash/main.tf
Labels: area: apps > hash*, area: infra, area: apps, area: infra > terraform

#2796 H-197: Add Linear connection OAuth API routes
  apps/hash-api/package.json
  apps/hash-api/src/auth/index.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graphql/resolvers/middlewares/can-access-account.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/integrations/linear/oauth.ts
  apps/hash-api/src/vault/index.ts
  apps/hash-frontend/src/pages/integrations/linear.page.tsx
  apps/hash-graph/lib/type-fetcher/src/fetcher.rs
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
Labels: area: apps > hash*, area: infra, area: apps > hash-api, area: libs, type: frontend, type: backend, area: tests, area: tests > integration, area: apps, area: apps > hash-graph

#2801 H-198: Add Linear connection webhook handler
  apps/hash-api/src/index.ts
  apps/hash-api/src/integrations/linear/webhook.ts
Labels: area: apps > hash*, area: apps > hash-api, type: backend, area: apps

#2802 H-199: Add Linear connection ontology types
  apps/hash-api/src/graph/linear-org.ts
  apps/hash-api/src/graph/linear-types.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graph/util.ts
  apps/hash-api/src/index.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: backend, area: apps

#2804 H-200: Make Graph API available in integration worker
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/graph.ts
  apps/hash-integration-worker/src/main.ts
  infra/terraform/hash/main.tf
Labels: area: apps > hash*, area: infra, area: apps, area: infra > terraform

#2805 H-202: Add `linearTeams` GraphQL resolver
  apps/hash-api/src/graph/knowledge/system-types/linear-user-secret.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/integrations/linear/linear-teams.ts
  apps/hash-api/src/integrations/linear.ts
  apps/hash-api/src/integrations/linear/oauth.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/integration/linear.typedef.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/schema.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: backend, area: apps

#2806 H-201: Implement mapping functions for Linear
  apps/hash-api/src/graph/linear-types.ts
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/mappings.ts
  apps/hash-integration-worker/src/workflows.ts
Labels: area: apps > hash*, area: infra, area: apps > hash-api, type: backend, area: apps

#2808 H-205: Add Linear integration entity type and other type changes
  apps/hash-api/src/graph/knowledge/system-types/linear-user-secret.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graph/util.ts
  apps/hash-api/src/integrations/linear/oauth.ts
  apps/hash-frontend/src/pages/integrations/linear.page.tsx
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: frontend, type: backend, area: apps

#2809 H-191: Add linearImport workflow to integration worker
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/mappings.ts
  apps/hash-integration-worker/src/workflows.ts
Labels: area: apps > hash*, area: apps

#2807 H-203: Update Realtime service, watch for changes to Linear types
  .env
  apps/hash-api/.eslintrc.cjs
  apps/hash-api/README.md
  apps/hash-api/jest.config.cjs
  apps/hash-api/src/index.ts
  apps/hash-api/src/integrations/linear/sync-back.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-realtime/README.md
  apps/hash-realtime/src/config.ts
  apps/hash/README.md
  infra/terraform/modules/realtime/realtime.tf
  libs/@local/hash-backend-utils/src/pg-tables.ts
  libs/@local/hash-backend-utils/src/realtime.ts
Labels: area: apps > hash*, area: infra, area: apps > hash-api, area: libs, type: backend, area: apps > hash-realtime, area: apps, area: infra > terraform

#2812 H-209: Link Linear integration with HASH workspaces
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/integrations/linear/sync-workspaces-with-teams.ts
  apps/hash-frontend/src/graphql/queries/integrations/linear.queries.ts
  apps/hash-frontend/src/pages/account/integrations/linear/new.page.tsx
  apps/hash-frontend/src/pages/account/integrations/linear/select-linear-teams.tsx
  libs/@local/hash-graphql-shared/src/graphql/type-defs/integration/linear.typedef.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: frontend, type: backend, area: apps

#2811 H-207: Allow creating and updating from Linear webhooks
  apps/hash-api/src/integrations/linear/webhook.ts
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/mappings.ts
  apps/hash-integration-worker/src/workflows.ts
Labels: area: apps > hash*, area: apps > hash-api, type: backend, area: apps

#2814 H-211: Fix `ownedById` in queries returns `properties`
  apps/hash-api/src/graph/knowledge/primitive/entity/query.ts
Labels: area: apps > hash*, area: apps > hash-api, type: backend, area: apps

#2815 H-212: Get Linear secret for writing back to Linear
  apps/hash-api/src/graph/knowledge/system-types/linear-user-secret.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/integrations/linear/sync-back.ts
  apps/hash-api/src/integrations/linear/webhook.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-api/src/temporal/index.ts
  apps/hash-api/src/vault/index.ts
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/main.ts
  apps/hash-integration-worker/src/workflows.ts
Labels: area: apps > hash*, area: apps > hash-api, type: backend, area: apps

#2817 H-215: Enable querying by incoming/outgoing links via `queryEntities`
  apps/hash-api/src/graph/knowledge/primitive/entity/query.ts
Labels: area: apps > hash*, area: apps > hash-api, type: backend, area: apps

#2818 H-213: Fix updating linear entities if they exist in different workspaces
  apps/hash-integration-worker/src/activities.ts
Labels: area: apps > hash*, area: apps

#2816 H-193: Trigger workflow when synchronizing Linear with workspace
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-user-secret.ts
  apps/hash-api/src/graphql/resolvers/integrations/linear/sync-workspaces-with-teams.ts
  apps/hash-api/src/integrations/linear.ts
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/workflows.ts
Labels: area: apps > hash*, area: apps > hash-api, type: backend, area: apps

#2819 H-216: Make sure the same format is used for dates in linear integration
  apps/hash-integration-worker/src/mappings.ts
Labels: area: apps > hash*, area: apps

#2822 H-218: Provide Linear variables to prod environment
  infra/terraform/hash/main.tf
Labels: area: infra, area: infra > terraform

#2823 H-219: Provide hash-graph environment variables for integration worker
  apps/hash-external-services/docker-compose.yml
Labels: area: apps > hash*, area: infra, area: apps

#2825 H-220: Use `file` storage for local vault
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/vault/config/storage.hcl
Labels: area: apps > hash*, area: infra, area: apps

#2821 H-214: Avoid re-inserting Linear entities if they already exist in a workspace
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/workflows.ts
Labels: area: apps > hash*, area: apps

#2830 H-226: Use `apiOrigin` instead of `localhost:5001` for OAuth callback
  apps/hash-api/src/integrations/linear/oauth.ts
Labels: area: apps > hash*, area: apps > hash-api, type: backend, area: apps

#2828 H-225: Finalize two-way Linear issue synchronization
  apps/hash-api/src/graph/linear-types.ts
  apps/hash-api/src/integrations/linear/sync-back.ts
  apps/hash-api/src/vault/index.ts
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/mappings.ts
  apps/hash-integration-worker/src/workflows.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: backend, area: apps

#2829 H-224: Fix `HASH_INTEGRATION_QUEUE_NAME` not available in prod
  infra/terraform/hash/main.tf
Labels: area: infra, area: infra > terraform

#2826 H-221: Add Linear integrations page, and improve linking Linear teams to workspaces
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graphql/resolvers/integrations/linear/sync-workspaces-with-teams.ts
  apps/hash-frontend/src/pages/account/integrations.page.tsx
  apps/hash-frontend/src/pages/account/integrations/linear.page.tsx
  apps/hash-frontend/src/pages/account/integrations/linear/new.page.tsx
  apps/hash-frontend/src/pages/account/integrations/linear/select-linear-teams.tsx
  apps/hash-frontend/src/pages/account/integrations/select-linear-teams-table.tsx
  apps/hash-frontend/src/pages/account/integrations/use-linear-integrations.ts
  apps/hash-frontend/src/shared/ui/button.tsx
Labels: area: apps > hash*, area: apps > hash-api, type: frontend, type: backend, area: apps
