Repository hashintel/hash, pull requests merged in 2023-10, with the labels that each got.

#3297 H-886: Don't restrict token count by default
  apps/hash-ai-worker-py/app/encoding.py
  apps/hash-ai-worker-py/app/infer/entities/__init__.py
Labels: area/apps > hash*, area/apps

#3301 GEN-72: Fix clippy not working in CI
  .github/workflows/package.yml
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/bench/util.rs
  apps/hash-graph/lib/authorization/tests/api.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/rust-toolchain.toml
  libs/@local/status/rust/rust-toolchain.toml
  libs/antsi/rust-toolchain.toml
  libs/deer/rust-toolchain.toml
  libs/deer/src/error/type.rs
  libs/error-stack/README.md
  libs/error-stack/macros/README.md
  libs/error-stack/rust-toolchain.toml
  libs/error-stack/src/hook.rs
  libs/error-stack/src/lib.rs
  libs/sarif/rust-toolchain.toml
Labels: area/apps > hash*, area/infra, area/libs > error-stack, area/libs, area/libs > deer, area/libs > antsi, area/libs > sarif, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3303 H-898: Publish crates from Package CI
  .github/actions/setup-rust-ci/action.yml
  .github/scripts/rust/requirements.txt
  .github/scripts/rust/setup.py
  .github/workflows/package.yml
  .github/workflows/rust.yml
Labels: area/infra

#3306 H-900: Add HASH Browser Extension to tech tree
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
Labels: area/apps > hash.dev, area/apps

#3300 H-893: Update issue creation links to the `/choose` page
  libs/antsi/README.md
  libs/deer/README.md
  libs/deer/json/README.md
  libs/deer/macros/README.md
  libs/error-stack/src/report.rs
  libs/sarif/README.md
Labels: area/infra, area/libs > error-stack, area/libs, area/libs > deer, area/libs > antsi, area/libs > sarif

#3307 H-901: Improve ontology type description consistency
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
Labels: area/apps > hash*, area/libs, type/eng > backend

#3298 H-881: Implement link entity inference
  apps/hash-ai-worker-py/app/infer/entities/__init__.py
  apps/hash-ai-worker-py/app/infer/entities/activity.py
  apps/hash-ai-worker-py/app/infer/entities/workflow.py
  libs/@local/hash-graph-types/graph_types/_schema.py
  libs/@local/hash-graph-types/graph_types/base.py
  libs/@local/hash-graph-types/graph_types/data_type.py
  libs/@local/hash-graph-types/graph_types/entity_type.py
  libs/@local/hash-graph-types/graph_types/property_type.py
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps

#3314 H-57, H-894: Adjust GraphQL endpoints to support links and more configuration parameters
  apps/hash-ai-worker-py/app/infer/entities/__init__.py
  apps/hash-ai-worker-py/app/infer/entities/workflow.py
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/entity.typedef.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#3316 H-917: Fix wrongly inferred entity type id if another type was not inferred
  apps/hash-ai-worker-py/app/infer/entities/activity.py
Labels: area/apps > hash*, area/apps

#3317 H-922: Allow more status codes to be returned in Python
  apps/hash-ai-worker-py/app/_status.py
  apps/hash-ai-worker-py/app/infer/entities/activity.py
Labels: area/apps > hash*, area/apps

#3318 H-918: Allow `additionalProperties` when `validation` is set to `PARTIAL`
  apps/hash-ai-worker-py/app/infer/entities/workflow.py
  libs/@local/hash-graph-sdk/python/examples/query_company_entity_type.py
  libs/@local/hash-graph-types/graph_types/_schema.py
  libs/@local/hash-graph-types/graph_types/data_type.py
  libs/@local/hash-graph-types/graph_types/entity_type.py
  libs/@local/hash-graph-types/graph_types/property_type.py
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/entity.typedef.ts
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps

#3315 H-895: Create test skeleton for Python tests (Unit and integration)
  .github/renovate.json
  .github/workflows/package.yml
  apps/hash-ai-worker-py/docker/Dockerfile
  apps/hash-ai-worker-py/package.json
  apps/hash-ai-worker-py/poetry.lock
  apps/hash-ai-worker-py/pyproject.toml
  apps/hash-ai-worker-py/src/worker/__init__.py
  apps/hash-ai-worker-py/src/worker/__main__.py
  apps/hash-ai-worker-py/src/worker/_status.py
  apps/hash-ai-worker-py/src/worker/_util.py
  apps/hash-ai-worker-py/src/worker/encoding.py
  apps/hash-ai-worker-py/src/worker/infer/__init__.py
  apps/hash-ai-worker-py/src/worker/infer/entities/__init__.py
  apps/hash-ai-worker-py/src/worker/infer/entities/activity.py
  apps/hash-ai-worker-py/src/worker/infer/entities/workflow.py
  apps/hash-ai-worker-py/src/worker/ontology/__init__.py
  apps/hash-ai-worker-py/src/worker/ontology/activity.py
  apps/hash-ai-worker-py/src/worker/tests/__init__.py
  apps/hash-ai-worker-py/src/worker/tests/test_unit.py
  apps/hash-ai-worker-py/tests/__init__.py
  apps/hash-ai-worker-py/tests/test_integration.py
  apps/hash-ai-worker-ts/package.json
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/docker-compose.temporal.yml
  apps/hash-external-services/package.json
  apps/hash-external-services/turbo.json
Labels: area/apps > hash*, area/infra, area/tests, area/apps

#3244 H-206: Allow for insertion of property/link values into pages
  apps/hash-frontend/src/blocks/page/block-context-menu/block-list-menu-content.tsx
  apps/hash-frontend/src/blocks/page/create-suggester/block-suggester.tsx
  apps/hash-frontend/src/blocks/page/create-suggester/create-suggester.tsx
  apps/hash-frontend/src/blocks/page/create-suggester/mention-suggester.tsx
  apps/hash-frontend/src/blocks/page/mention-view/mention-display.tsx
  apps/hash-frontend/src/blocks/page/mention-view/mention-view.tsx
  apps/hash-frontend/src/blocks/page/page-block.tsx
  apps/hash-frontend/src/blocks/page/shared/fuzzy-search-by.ts
  apps/hash-frontend/src/blocks/page/shared/mention-suggester.tsx
  apps/hash-frontend/src/blocks/page/shared/mention-suggester/mention-suggester-entity.tsx
  apps/hash-frontend/src/blocks/page/shared/mention-suggester/mention-suggester-subheading.tsx
  apps/hash-frontend/src/blocks/page/shared/mention-suggester/mention-suggester-wrapper.tsx
  apps/hash-frontend/src/blocks/page/shared/use-filtered-blocks.tsx
  apps/hash-frontend/src/components/grid/utils/override-custom-renderers.tsx
  apps/hash-frontend/src/shared/icons/arrow-down-arrow-up-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/arrow-up-right-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/chevron-left-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/chevron-right-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/file-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/link-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/users-regular-icon.tsx
  apps/hash-frontend/src/shared/is-archived.ts
  apps/hash-frontend/src/shared/use-entity-icon.tsx
  apps/hash-frontend/src/shared/use-scroll-lock.ts
  libs/@hashintel/design-system/src/theme/palette.ts
  libs/@hashintel/design-system/theme-override.d.ts
  libs/@local/hash-graphql-shared/src/graphql/types.ts
  libs/@local/hash-isomorphic-utils/src/prosemirror.ts
  libs/@local/hash-isomorphic-utils/src/text.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3326 H-933: Write tests for `GraphApiActivities`
  apps/hash-ai-worker-py/.gitattributes
  apps/hash-ai-worker-py/package.json
  apps/hash-ai-worker-py/poetry.lock
  apps/hash-ai-worker-py/pyproject.toml
  apps/hash-ai-worker-py/src/worker/_status.py
  apps/hash-ai-worker-py/src/worker/ontology/__init__.py
  apps/hash-ai-worker-py/src/worker/tests/__init__.py
  apps/hash-ai-worker-py/src/worker/tests/cassettes/test_data_types[https:/blockprotocol.org/@blockprotocol/types/data-type/number/v/1-Number-number].yaml
  apps/hash-ai-worker-py/src/worker/tests/cassettes/test_data_types[https:/blockprotocol.org/@blockprotocol/types/data-type/text/v/1-Text-string].yaml
  apps/hash-ai-worker-py/src/worker/tests/cassettes/test_entity_types[https:/blockprotocol.org/@examples/types/entity-type/company/v/1-Company-expected_property_types1-required_property_types1].yaml
  apps/hash-ai-worker-py/src/worker/tests/cassettes/test_entity_types[https:/blockprotocol.org/@examples/types/entity-type/employed-by/v/1-Employed By-expected_property_types3-required_property_types3].yaml
  apps/hash-ai-worker-py/src/worker/tests/cassettes/test_entity_types[https:/blockprotocol.org/@examples/types/entity-type/founded-by/v/1-Founded By-expected_property_types2-required_property_types2].yaml
  apps/hash-ai-worker-py/src/worker/tests/cassettes/test_entity_types[https:/blockprotocol.org/@examples/types/entity-type/person/v/1-Person-expected_property_types0-required_property_types0].yaml
  apps/hash-ai-worker-py/src/worker/tests/cassettes/test_property_types[https:/blockprotocol.org/@blockprotocol/types/property-type/name/v/1-Name-expected_data_types0].yaml
  apps/hash-ai-worker-py/src/worker/tests/cassettes/test_property_types[https:/blockprotocol.org/@examples/types/property-type/e-mail/v/1-E-Mail-expected_data_types1].yaml
  apps/hash-ai-worker-py/src/worker/tests/mocks/__init__.py
  apps/hash-ai-worker-py/src/worker/tests/mocks/workflow.py
  apps/hash-ai-worker-py/src/worker/tests/test_graph.py
  apps/hash-ai-worker-py/src/worker/tests/test_unit.py
  apps/hash-ai-worker-py/tests/test_integration.py
  libs/@local/hash-graph-types/graph_types/data_type.py
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps

#3319 H-865: Implement User and Org "Info" sections on profile pages
  apps/hash-api/src/graph/system-types.ts
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/[shortname].page.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-user-profile-info-modal.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-user-profile-info-modal/service-accounts-input.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-user-profile-info-modal/user-profile-info-form.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-user-profile-info-modal/user-profile-info-modal-header.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-user-profile-info-modal/util.ts
  apps/hash-frontend/src/pages/[shortname].page/profile-page-content.tsx
  apps/hash-frontend/src/pages/[shortname].page/profile-page-header.tsx
  apps/hash-frontend/src/pages/[shortname]/index.page.tsx
  apps/hash-frontend/src/shared/icons/calendar-day-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/custom-link-icon.tsx
  apps/hash-frontend/src/shared/icons/trash-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/x-mark-regular-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  apps/hash-frontend/src/shared/use-user-or-org.ts
  apps/hash-realtime/package.json
  libs/@hashintel/design-system/src/avatar.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/pen-regular-icon.tsx
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/facebookaccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/githubaccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/hashinstance.ts
  libs/@local/hash-isomorphic-utils/src/system-types/instagramaccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/organization.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linkedinaccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/org.ts
  libs/@local/hash-isomorphic-utils/src/system-types/serviceaccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/tiktokaccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/twitteraccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
  patches/@blockprotocol+graph+0.3.1-canary-20230803163819.patch
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps > hash-realtime, area/apps

#3327 Add S3 upload bucket environment variable
  infra/terraform/hash/main.tf
Labels: area/infra, area/infra > terraform

#3330 H-940: Fix python path environment
  apps/hash-ai-worker-py/docker/Dockerfile
Labels: area/apps > hash*, area/apps

#3328 H-927, H-937: Add test case for full entity inference
  apps/hash-ai-worker-py/package.json
  apps/hash-ai-worker-py/src/worker/infer/entities/__init__.py
  apps/hash-ai-worker-py/src/worker/infer/entities/activity.py
  apps/hash-ai-worker-py/src/worker/tests/cassettes/test_entity_inference[microsoft.txt-entity_type_ids0-False-FULL-expected_entities0-expected_links0].yaml
  apps/hash-ai-worker-py/src/worker/tests/mocks/activity.py
  apps/hash-ai-worker-py/src/worker/tests/mocks/openai.py
  apps/hash-ai-worker-py/src/worker/tests/test_entity_inference.py
  apps/hash-ai-worker-py/src/worker/tests/test_graph.py
  apps/hash-ai-worker-py/src/worker/tests/texts/microsoft.txt
  apps/hash-graph/turbo.json
  turbo.json
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3331 H-941: Set FILE_UPLOAD_PROVIDER in prod hash config
  .github/actions/terraform-exec/action.yml
  infra/terraform/hash/prod-usea1.tfvars
Labels: area/infra, area/infra > terraform

#3336 H-936: Add file upload S3 bucket to Terraform config
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/main.tf
Labels: area/infra, area/infra > terraform

#3339 H-944: Send Slack notifications when GitHub actions fail
  .github/workflows/hash-backend-cd.yml
  .github/workflows/release.yml
  .github/workflows/tf-apply-hash.yml
Labels: area/infra

#3341 H-945: Set vault variables to blank for Slack notification job
  .github/workflows/hash-backend-cd.yml
  .github/workflows/tf-apply-hash.yml
Labels: area/infra

#3342 Correct action variable name
  .github/workflows/hash-backend-cd.yml
  .github/workflows/release.yml
  .github/workflows/tf-apply-hash.yml
Labels: area/infra

#3340 H-941: Add more S3 bucket config
  infra/terraform/hash/hash_application/api.tf
Labels: area/infra, area/infra > terraform

#3344 H-953: Update roadmap
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
Labels: area/apps > hash.dev, area/apps

#3354 GEN-114: Add example to disable location printing
  libs/error-stack/src/hook.rs
  libs/error-stack/tests/snapshots/doc/hook__location_hook.snap
Labels: area/libs > error-stack, area/libs, area/tests

#3356 H-993: python `hash-graph-client`: properly type `patternProperties` in generated models
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-graph-client/python/poetry.lock
  libs/@local/hash-graph-client/python/pyproject.toml
  libs/@local/hash-graph-client/python/scripts/codegen.sh
  libs/@local/hash-graph-client/python/turbo.json
Labels: area/apps > hash*, area/libs, type/eng > backend

#3355 H-946: `@mention` people in Slack on github action failure
  .github/workflows/hash-backend-cd.yml
  .github/workflows/release.yml
  .github/workflows/tf-apply-hash.yml
Labels: area/infra

#3337 H-810, H-811: Allow changing the privacy of entities
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-client/python/graph_client/models.py
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3358 H-985: Allow checking if an entity is public
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/openapi/openapi.json
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps, area/apps > hash-graph

#3359 H-991: Allow a `read/write` permission in addition to the `owner` relation
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/record.rs
  apps/hash-graph/lib/graph/src/snapshot/web/channel.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-authorization/schemas/v1__initial_schema.zed
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/schema/entity.rs
  libs/@local/hash-authorization/src/schema/web.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, area/apps > hash-api, state/blocked, area/libs, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3365 H-1001: Fix `System Tests` job not failing on Playwright error
  .github/workflows/package.yml
Labels: area/infra

#3338 H-866: Implement pinned entity types on User and Org profile pages
  apps/hash-api/src/graph/system-types.ts
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/hooks/use-get-account-id-for-shortname.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/[shortname].page.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-pinned-entity-types-modal.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-user-profile-info-modal/user-profile-info-form.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-user-profile-info-modal/user-profile-info-modal-header.tsx
  apps/hash-frontend/src/pages/[shortname].page/pinned-entity-type-tab-contents.tsx
  apps/hash-frontend/src/pages/[shortname].page/profile-page-content.tsx
  apps/hash-frontend/src/pages/[shortname].page/profile-page-header.tsx
  apps/hash-frontend/src/pages/[shortname].page/profile-page-info.tsx
  apps/hash-frontend/src/pages/[shortname].page/profile-page-tabs.tsx
  apps/hash-frontend/src/pages/[shortname].page/util.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/select-entity-type-page.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/use-update-profile-avatar.tsx
  apps/hash-frontend/src/pages/settings/integrations/select-linear-teams-table.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/general.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page/add-member-form.tsx
  apps/hash-frontend/src/pages/settings/organizations/index.page/org-row.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-form.tsx
  apps/hash-frontend/src/pages/shared/entity-type-selector.tsx
  apps/hash-frontend/src/pages/shared/get-image-url-from-properties.ts
  apps/hash-frontend/src/pages/shared/sentry.ts
  apps/hash-frontend/src/shared/icons/clock-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/cog-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/grip-dots-vertical-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/page-light-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  apps/hash-frontend/src/shared/ui/tab-link.tsx
  apps/hash-frontend/src/shared/use-entity-icon.tsx
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/hashinstance.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/org.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3360 H-908: Add entity inference to browser extension
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/file-uploads-tab/action.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/settings/shared/settings-layout/settings-sidebar.tsx
  apps/hash-frontend/src/pages/shared/auth-utils.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-menu.tsx
  apps/hash-frontend/src/shared/table-header/bulk-actions-dropdown.tsx
  apps/hashdotai-new/README.md
  apps/hashdotai-new/package.json
  apps/hashdotdev/package.json
  apps/plugin-browser/package.json
  apps/plugin-browser/src/pages/options/options-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/infer-entities-action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/infer-entities-action/create-entity-icon.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/infer-entities-action/create-inferred-entities.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/infer-entities-action/select-types-and-infer.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/quick-note-action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/quick-note-action/quick-note-icon.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/text-field-with-dark-mode.tsx
  apps/plugin-browser/src/pages/shared/dark-mode-values.ts
  apps/plugin-browser/src/pages/shared/get-user.ts
  apps/plugin-browser/src/pages/shared/messages.ts
  apps/plugin-browser/src/pages/shared/query-api.ts
  apps/plugin-browser/src/pages/shared/storage.ts
  apps/plugin-browser/src/pages/shared/use-storage-sync.ts
  apps/plugin-browser/src/pages/shared/use-user.ts
  apps/plugin-browser/src/scripts/background.ts
  apps/plugin-browser/src/scripts/background/create-entities.ts
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  apps/plugin-browser/src/scripts/content.ts
  apps/plugin-browser/src/scripts/content/content.styles.css
  apps/plugin-browser/src/shared/badge.ts
  apps/plugin-browser/src/shared/messages.ts
  apps/plugin-browser/src/shared/query-api.ts
  apps/plugin-browser/src/shared/storage.ts
  apps/plugin-browser/utils/webserver.js
  apps/plugin-browser/webpack.config.js
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/faq/package.json
  blocks/how-to/package.json
  blocks/shuffle/package.json
  libs/@hashintel/block-design-system/src/dropdown-selector.tsx
  libs/@hashintel/block-design-system/src/icons/icons.ts
  libs/@hashintel/design-system/src/autocomplete-dropdown.tsx
  libs/@hashintel/design-system/src/autocomplete.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-arrow-up-right.tsx
  libs/@hashintel/design-system/src/icon-caret-down-solid.tsx
  libs/@local/hash-graphql-shared/package.json
  libs/@local/hash-graphql-shared/src/graphql/create-apollo-client.ts
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-subgraph/package.json
  tests/hash-backend-integration/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/blocks, area/apps > hash.dev, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#3366 H-697: Migrate from S3 to Cloudflare R2 for file object storage
  apps/hash-api/src/graph/knowledge/system-types/file.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/request-file-upload.ts
  apps/hash-api/src/lib/aws-config.ts
  apps/hash-api/src/storage/aws-s3-storage-provider.ts
  apps/hash-api/src/storage/local-file-storage.ts
  apps/hash-api/src/storage/storage-provider.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-file-upload.ts
  apps/hash-frontend/src/graphql/queries/knowledge/file.queries.ts
  apps/hash-frontend/src/shared/file-upload-context.tsx
  apps/hash-frontend/src/shared/upload-to-storage-provider.ts
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/main.tf
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/file.typedef.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/file.test.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps, area/infra > terraform

#3373 H-1028: Disable realtime service by default
  .env
  apps/hash-api/src/index.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-realtime/src/index.ts
  libs/@local/hash-backend-utils/src/environment.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps > hash-realtime, area/apps

#3368 H-938: Add app-wide error boundary with fallback message
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/blocks/page/component-view.tsx
  apps/hash-frontend/src/lib/public-env.ts
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/_app.page/error-fallback.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3374 H-868: Implement User "Webs" section on profile pages
  apps/hash-frontend/src/pages/[shortname].page/profile-page-info.tsx
  libs/@hashintel/design-system/src/avatar.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3376 H-980: Return all users and relations for a given entity
  .github/actions/load-docker-images/action.yml
  .github/workflows/package.yml
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-graph/Cargo.lock
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/record.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/schema/entity.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/hash-authorization/tests/simple.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-subgraph/src/types/shared/branded.ts
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3377 H-976: Allow switching pages/entities from public to private
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar/share-dropdown-menu.tsx
  apps/hash-frontend/src/shared/icons/chevron-down-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/globe-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/lock-regular-icon.tsx
  libs/@local/hash-graphql-shared/src/graphql/scalar-mapping.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/entity.typedef.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/schema.ts
  libs/@local/hash-subgraph/src/types/shared/branded.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3383 H-913: Add non-exhaustive outline of unpublished libraries
  libs/README.md
Labels: area/infra, area/libs

#3379 H-468: Set up SpiceDB service for prod
  .github/workflows/hash-backend-cd.yml
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/spicedb.tf
  infra/terraform/hash/hash_application/temporal_worker_ai_ts.tf
  infra/terraform/hash/hash_application/temporal_worker_integration.tf
  infra/terraform/hash/hash_application/variables.tf
  infra/terraform/hash/main.tf
  infra/terraform/hash/postgres_roles/postgres_roles.tf
  infra/terraform/hash/postgres_roles/variables.tf
  infra/terraform/modules/redis/main.tf
Labels: area/infra, area/infra > terraform

#3382 H-1046: Add download and use sections to plugin readme
  apps/plugin-browser/README.md
Labels: area/infra, area/apps

#3391 H-1057: Fix Docker image deployment CD
  .github/workflows/hash-backend-cd.yml
Labels: area/infra

#3381 H-1005: Rename CI workflows
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  turbo.json
Labels: area/infra

#3394 H-1064: Allow specifying the owner of an entity on creation
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/primitive/link-entity.ts
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/web/channel.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/circular-links.http
  apps/hash-graph/tests/friendship.http
  apps/hash-integration-worker/src/activities.ts
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/schema/web.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3395 H-1068: Expose checking 'can user edit account group members' via Graph API
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3404 H-1072: Fix environment variable for authorization
  infra/terraform/hash/main.tf
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
Labels: area/apps > hash*, area/infra, area/libs, type/eng > backend, area/infra > terraform

#3369 H-1016: Fix Playwright tests, update API run commands, remove unused aggregation code
  .github/workflows/test.yml
  apps/hash-api/package.json
  apps/hash-api/src/cache/index.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/linked-aggregation/create-linked-aggregation.ts
  apps/hash-api/src/graphql/resolvers/linked-aggregation/delete-linked-aggregation.ts
  apps/hash-api/src/graphql/resolvers/linked-aggregation/get-linked-aggregation.ts
  apps/hash-api/src/graphql/resolvers/linked-aggregation/linked-aggregation-results.ts
  apps/hash-api/src/graphql/resolvers/linked-aggregation/update-linked-aggregation-operation.ts
  apps/hash-api/src/model/aggregation.model.ts
  apps/hash-api/src/model/index.ts
  apps/hash-api/src/seed-data/seed-users.ts
  apps/hash-frontend/sentry.client.config.ts
  apps/hash-frontend/sentry.edge.config.ts
  apps/hash-frontend/sentry.server.config.ts
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/status/pkg/src/main.ts
  tests/hash-backend-integration/src/tests/model/aggregation.model.test.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#3409 H-1090: Require Playwright to pass for CI
  .github/workflows/test.yml
Labels: area/infra

#3408 H-1085: Split out account creation and web assignment
  apps/hash-api/src/graph/knowledge/system-types/account.fields.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/system-user.ts
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/web.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/circular-links.http
  apps/hash-graph/tests/friendship.http
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3410 H-1070: Fix Graph API crash when attempting to remove entity owner
  apps/hash-graph/Cargo.lock
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
  libs/@local/hash-authorization/src/backend/spicedb/model.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3407 H-888: Implement loading skeleton when Glide table is loading
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/table-header.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3380 H-956: Update authorization checks in GraphQL API, improve typing
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/block-collection/block-collection-contents.ts
  apps/hash-api/src/graphql/resolvers/knowledge/block/data-entity.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/has-text.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/replies.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/graphql/resolvers/knowledge/hash-instance/hash-instance.ts
  apps/hash-api/src/graphql/resolvers/knowledge/page/page-contents.ts
  apps/hash-api/src/graphql/resolvers/knowledge/page/page.ts
  apps/hash-api/src/graphql/resolvers/knowledge/user/create-user.ts
  apps/hash-api/src/graphql/resolvers/middlewares/can-access-account.ts
  apps/hash-api/src/graphql/resolvers/middlewares/is-hash-instance-admin.ts
  apps/hash-api/src/graphql/resolvers/middlewares/logged-in-and-signed-up-hash-instance-admin.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/deprecated.typedef.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/user.typedef.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/schema.ts
  tests/hash-backend-integration/src/tests/util.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#3413 H-1101: Update `hashdotai` app future plans
  apps/hashdotai/README.md
Labels: area/infra, area/apps

#3424 H-1128: Rename task definition name for AI worker
  infra/terraform/hash/hash_application/main.tf
Labels: area/infra, area/infra > terraform

#3431 H-1132: Remove formatting from Python codegen
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-graph-client/python/scripts/codegen.sh
Labels: area/apps > hash*, area/libs, type/eng > backend

#3403 H-1035, H-1071: Improve permission typing and allow more generic relationship reading
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/web.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/record.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/property_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/owner/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/restore/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/web/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/web/channel.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/backend.rs
  libs/@local/hash-authorization/src/backend/spicedb.rs
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
  libs/@local/hash-authorization/src/backend/spicedb/model.rs
  libs/@local/hash-authorization/src/backend/spicedb/serde.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/schema.rs
  libs/@local/hash-authorization/src/schema/account.rs
  libs/@local/hash-authorization/src/schema/account_group.rs
  libs/@local/hash-authorization/src/schema/entity.rs
  libs/@local/hash-authorization/src/schema/web.rs
  libs/@local/hash-authorization/src/zanzibar.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/hash-authorization/src/zanzibar/types.rs
  libs/@local/hash-authorization/src/zanzibar/types/object.rs
  libs/@local/hash-authorization/src/zanzibar/types/relationship.rs
  libs/@local/hash-authorization/src/zanzibar/types/subject.rs
  libs/@local/hash-authorization/tests/api.rs
  libs/@local/hash-authorization/tests/simple.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/entity.typedef.ts
  libs/@local/hash-subgraph/src/types/shared/branded.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3421 H-1121: Define modify-relationship-API on trait level
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/owner/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/web/batch.rs
  libs/@local/hash-authorization/src/backend.rs
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
  libs/@local/hash-authorization/src/backend/spicedb/model.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/hash-authorization/tests/simple.rs
Labels: area/apps > hash*, state/blocked, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3423 H-1091: Expose batch-modifications of relations
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/record.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/backend.rs
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
  libs/@local/hash-authorization/src/backend/spicedb/serde.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/schema.rs
  libs/@local/hash-authorization/src/schema/account.rs
  libs/@local/hash-authorization/src/schema/account_group.rs
  libs/@local/hash-authorization/src/schema/entity.rs
  libs/@local/hash-authorization/src/schema/web.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/hash-authorization/src/zanzibar/types.rs
  libs/@local/hash-authorization/src/zanzibar/types/relationship.rs
  libs/@local/hash-authorization/src/zanzibar/types/resource.rs
  libs/@local/hash-authorization/src/zanzibar/types/subject.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-subgraph/src/types/shared/branded.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, area/apps > hash-api, state/blocked, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3433 H-1135: Fix schema for permission checks
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/web.rs
  apps/hash-graph/openapi/openapi.json
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3435 H-1136: Fix Test CI passing when a build-step fails
  .github/workflows/test.yml
  turbo.json
Labels: area/infra

#3444 H-1145: Fix inviting users/orgs to view a page/entity
  apps/hash-frontend/src/components/hooks/use-orgs-with-links.ts
  apps/hash-frontend/src/components/hooks/use-orgs.ts
  apps/hash-frontend/src/components/hooks/use-users-with-links.ts
  apps/hash-frontend/src/components/hooks/use-users.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/[shortname].page.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar/share-dropdown-menu/share-entity-section.tsx
  apps/hash-frontend/src/shared/use-user-or-org.ts
  libs/@local/hash-isomorphic-utils/src/save.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3460 H-1089: Fix Postgres data not have a dedicated volume
  apps/hash-external-services/docker-compose.yml
Labels: area/apps > hash*, area/apps

#3461 H-1147: Explicitly load images into Docker
  apps/hash-ai-worker-py/package.json
  apps/hash-ai-worker-ts/package.json
  apps/hash-graph/package.json
  apps/hash-integration-worker/package.json
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3459 H-1148: `hash-graph`: remove check if DSN is valid
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bin/cli/src/error.rs
  apps/hash-graph/bin/cli/src/main.rs
Labels: area/deps, area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3414 H-1111: Update roadmap with new and progressed work
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
Labels: area/apps > hash.dev, area/apps

#3442 H-1138: Use same authorization relationship API for account groups and webs as for entity
  .github/workflows/test.yml
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/web.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/owner/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/owner/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/web/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/web/channel.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/backend.rs
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
  libs/@local/hash-authorization/src/backend/spicedb/serde.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/schema.rs
  libs/@local/hash-authorization/src/schema/account.rs
  libs/@local/hash-authorization/src/schema/account_group.rs
  libs/@local/hash-authorization/src/schema/entity.rs
  libs/@local/hash-authorization/src/schema/error.rs
  libs/@local/hash-authorization/src/schema/web.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/hash-authorization/src/zanzibar/types/relationship.rs
  libs/@local/hash-authorization/src/zanzibar/types/resource.rs
  libs/@local/hash-authorization/src/zanzibar/types/subject.rs
  libs/@local/hash-authorization/tests/simple.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/deps, area/apps > hash*, area/infra, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3443 H-1143: Clean up SpiceDB schemas
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/web.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-authorization/schemas/v1__initial_schema.zed
  libs/@local/hash-authorization/src/schema.rs
  libs/@local/hash-authorization/src/schema/account_group.rs
  libs/@local/hash-authorization/src/schema/web.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3475 H-1159: Fix check for isUserOrOrg
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/use-user-or-org.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3476 H-1158: Allow using path style for S3 uploads
  apps/hash-api/README.md
  apps/hash-api/package.json
  apps/hash-api/src/storage/aws-s3-storage-provider.ts
  apps/hash/README.md
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps

#3462 H-1149: Fix block collection mention suggester
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-user-secret.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-api/src/graph/system-user.ts
  apps/hash-api/src/graphql/resolvers/ontology/data-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/property-type.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-frontend/src/blocks/use-fetch-block-subgraph.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-get-entity.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-query-entities.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-get-data-type.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-get-entity-type.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-get-property-type.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-query-data-types.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-query-entity-types.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-query-property-types.ts
  apps/hash-frontend/src/components/hooks/use-entity-by-id.ts
  apps/hash-frontend/src/components/hooks/use-orgs-with-links.ts
  apps/hash-frontend/src/components/hooks/use-orgs.ts
  apps/hash-frontend/src/components/hooks/use-query-entities.ts
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/components/hooks/use-users-with-links.ts
  apps/hash-frontend/src/components/hooks/use-users.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/[shortname].page.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/update-entity-subgraph-state-by-entity.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-draft-entity-subgraph.ts
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page/add-member-form.tsx
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/load-entity-menu-content.tsx
  apps/hash-frontend/src/pages/shared/block-collection/mention-view/mention-display.tsx
  apps/hash-frontend/src/pages/shared/block-collection/shared/mention-suggester.tsx
  apps/hash-frontend/src/shared/use-user-or-org.ts
  apps/hash-integration-worker/src/activities.ts
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-graphql-shared/src/graphql/types.ts
  libs/@local/hash-graphql-shared/src/queries/entity.queries.ts
  libs/@local/hash-isomorphic-utils/src/save.ts
  libs/@local/hash-subgraph/src/stdlib.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/roots.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3458 H-1144: Prepare SpiceDB schema for caveats
  apps/hash-api/src/graph/knowledge/system-types/comment.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/web.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-authorization/schemas/v1__initial_schema.zed
  libs/@local/hash-authorization/src/schema.rs
  libs/@local/hash-authorization/src/schema/account_group.rs
  libs/@local/hash-authorization/src/schema/entity.rs
  libs/@local/hash-authorization/src/schema/web.rs
  libs/@local/hash-authorization/tests/simple.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3463 H-1150: Allow bulk deletion of relationships
  apps/hash-graph/lib/graph/src/api/rest/test_server.rs
  libs/@local/hash-authorization/src/backend.rs
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
  libs/@local/hash-authorization/src/schema.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3482 H-1165: Update `type-system` crate
  apps/hash-graph/Cargo.lock
  apps/hash-graph/Cargo.toml
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/bench/util.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/type-fetcher/src/fetcher.rs
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/src/ontology/data_type.rs
  libs/@local/hash-graph-types/rust/src/ontology/entity_type.rs
  libs/@local/hash-graph-types/rust/src/ontology/property_type.rs
  tests/hash-graph-integration/Cargo.toml
  tests/hash-graph-integration/postgres/data_type.rs
  tests/hash-graph-integration/postgres/entity_type.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/property_type.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3464 H-1076: Implement view-relationships for entity types
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/graph/src/api/rest/test_server.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/property_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/record.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/ontology_id.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/schemas/v1__initial_schema.zed
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/schema.rs
  libs/@local/hash-authorization/src/schema/entity_type.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/hash-authorization/tests/simple.rs
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3465 H-1074, H-1075: Implement read relationships for property types and data types
  apps/hash-graph/lib/graph/src/api/rest/test_server.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/property_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/property_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/record.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/ontology_id.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  libs/@local/hash-authorization/schemas/v1__initial_schema.zed
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/schema.rs
  libs/@local/hash-authorization/src/schema/data_type.rs
  libs/@local/hash-authorization/src/schema/property_type.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, state/blocked, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3493 H-1173: Allow Python CI to fail
  .github/renovate.json
  .github/workflows/lint.yml
  .github/workflows/test.yml
  apps/hash-frontend/package.json
  apps/hash-graph/.justfile
  libs/@local/hash-graph-sdk/python/.gitattributes
  libs/@local/hash-graph-sdk/python/graph_sdk/client/blocking.py
  libs/@local/hash-graph-sdk/python/graph_sdk/filter/path.py
  libs/@local/hash-graph-sdk/python/package.json
  libs/@local/hash-graph-sdk/python/pyproject.toml
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash-graph

#3468 H-1154: Check `update` permission for ontology types
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/tests/friendship.http
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
Labels: area/apps > hash*, state/blocked, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3484 H-971: Implement closed entity type schema creation
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/postgres_migrations/V15__closed_entity_schema.sql
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3469 H-1155: Check `create` permissions in webs for ontology types
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-authorization/schemas/v1__initial_schema.zed
  libs/@local/hash-authorization/src/schema/web.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
  tests/hash-backend-integration/src/tests/util.ts
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3434 H-540: Add `Quick notes` page with ability to create new notes
  apps/hash-api/src/graph/system-types.ts
  apps/hash-frontend/package.json
  apps/hash-frontend/src/lib/block-collection.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/[shortname].page/profile-bio.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/notes.page.tsx
  apps/hash-frontend/src/pages/notes.page/convert-quick-note-to-page-modal.tsx
  apps/hash-frontend/src/pages/notes.page/create-quick-note.tsx
  apps/hash-frontend/src/pages/notes.page/editable-quick-note.tsx
  apps/hash-frontend/src/pages/notes.page/notes-section-wrapper.tsx
  apps/hash-frontend/src/pages/notes.page/notes-section.tsx
  apps/hash-frontend/src/pages/notes.page/notes-wrapper.tsx
  apps/hash-frontend/src/pages/notes.page/timestamp-collection-heading.tsx
  apps/hash-frontend/src/pages/notes.page/timestamp-collection-subheading.tsx
  apps/hash-frontend/src/pages/notes.page/timestamp-column.tsx
  apps/hash-frontend/src/pages/notes.page/today-section.tsx
  apps/hash-frontend/src/pages/notes.page/types.ts
  apps/hash-frontend/src/pages/shared/block-collection/block-collection.tsx
  apps/hash-frontend/src/pages/shared/block-collection/component-view.tsx
  apps/hash-frontend/src/pages/shared/block-collection/create-editor-view.ts
  apps/hash-frontend/src/pages/shared/breadcrumbs.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar/share-dropdown-menu/invite-account-form.tsx
  apps/hash-frontend/src/pages/shared/use-create-block-collection.ts
  apps/hash-frontend/src/shared/entity-utils.ts
  apps/hash-frontend/src/shared/icons/achive-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/arrow-turn-down-left-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/arrows-from-line-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/arrows-to-line-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/chevron-up-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/file-export-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/note-sticky-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/quick-note-icon.tsx
  apps/hash-frontend/src/shared/icons/undo-regular-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/top-nav-link.tsx
  libs/@hashintel/design-system/src/autocomplete.tsx
  libs/@hashintel/design-system/src/chip.tsx
  libs/@hashintel/design-system/src/theme/components/data-display/mui-chip-theme-options.tsx
  libs/@local/hash-isomorphic-utils/src/block-collection.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/save.ts
  libs/@local/hash-isomorphic-utils/src/system-types/quicknote.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3483 H-1030: Store index on block collection contains link in properties instead of link metadata
  apps/hash-api/src/graph/knowledge/primitive/entity/after-create-entity-hooks.ts
  apps/hash-api/src/graph/knowledge/system-types/block-collection.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graphql/resolvers/knowledge/graphql-mapping.ts
  apps/hash-api/src/graphql/resolvers/knowledge/page/page.ts
  apps/hash-api/src/graphql/resolvers/knowledge/page/set-parent-page.ts
  apps/hash-api/src/seed-data/seed-pages.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-get-data-type.ts
  apps/hash-frontend/src/components/hooks/use-account-pages.ts
  apps/hash-frontend/src/components/hooks/use-create-page.ts
  apps/hash-frontend/src/components/hooks/use-create-sub-page.ts
  apps/hash-frontend/src/components/hooks/use-reorder-page.ts
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/components/hooks/use-users.ts
  apps/hash-frontend/src/graphql/queries/account.queries.ts
  apps/hash-frontend/src/graphql/queries/page.queries.ts
  apps/hash-frontend/src/lib/block-collection.ts
  apps/hash-frontend/src/pages/[shortname].page.tsx
  apps/hash-frontend/src/pages/[shortname].page/profile-bio.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page/canvas-page.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page/canvas-page/block-creation-dialog.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/archive-menu-item.tsx
  apps/hash-frontend/src/pages/notes.page/convert-quick-note-to-page-modal.tsx
  apps/hash-frontend/src/pages/settings/integrations/use-linear-integrations.ts
  apps/hash-frontend/src/pages/shared/top-context-bar/share-dropdown-menu/editable-authorization-relationship.tsx
  apps/hash-frontend/src/pages/shared/use-create-block-collection.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/utils.ts
  apps/hash-frontend/src/shared/use-entity-icon.tsx
  blocks/address/src/use-mapbox.tsx
  blocks/ai-chat/src/app.tsx
  blocks/faq/src/app.tsx
  blocks/how-to/src/app.tsx
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/page.typedef.ts
  libs/@local/hash-isomorphic-utils/src/block-collection.ts
  libs/@local/hash-isomorphic-utils/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/blockcollection.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/commentnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/hashinstance.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/mentionnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/notification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/notificationaction.ts
  libs/@local/hash-isomorphic-utils/src/system-types/org.ts
  libs/@local/hash-isomorphic-utils/src/system-types/page.ts
  libs/@local/hash-isomorphic-utils/src/system-types/profilebio.ts
  libs/@local/hash-isomorphic-utils/src/system-types/quicknote.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/page.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#3503 H-1185: Fix wrong permission passed to the Graph API
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/openapi/openapi.json
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3432 H-1014: Add Sentry to browser extension
  apps/hash-frontend/package.json
  apps/plugin-browser/package.json
  apps/plugin-browser/src/pages/options.tsx
  apps/plugin-browser/src/pages/popup.tsx
  apps/plugin-browser/src/pages/shared/sentry.ts
  apps/plugin-browser/src/pages/shared/use-user.ts
  apps/plugin-browser/webpack-injected-env.d.ts
  apps/plugin-browser/webpack.config.js
  libs/@local/hash-graphql-shared/package.json
  libs/@local/hash-isomorphic-utils/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3505 H-968, H-970: Add entity property validation
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  libs/@local/hash-validation/.cargo/config.toml
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/LICENSE.md
  libs/@local/hash-validation/package.json
  libs/@local/hash-validation/rust-toolchain.toml
  libs/@local/hash-validation/src/data_type.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/error.rs
  libs/@local/hash-validation/src/lib.rs
  libs/@local/hash-validation/src/property_type.rs
  tests/hash-graph-test-data/rust/src/entity/book.json
Labels: area/apps > hash*, area/infra, area/libs, type/eng > backend, area/tests, type/legal
