Repository hashintel/hash, pull requests merged in 2023-04, with the labels that each got.

#2325 Fix ESLint Ignore
  .prettierignore
  libs/@local/eslint-config/generate-ignore-patterns.cjs
Labels: A-infra

#2350 Update `type-system` crate to latest version
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/type-fetcher/Cargo.toml
  apps/hash-graph/tests/integration/Cargo.toml
Labels: C-dependencies, A-hash, A-backend

#2352 Support streaming data from the datastore
  apps/hash-graph/lib/graph/src/store/crud.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/test_graph.rs
Labels: A-hash, A-backend

#2345 AI Text Block improvements
  blocks/ai-chat/src/complete-chat/chat-textfield.tsx
  blocks/ai-image/package.json
  blocks/ai-image/src/app/generate-image.tsx
  blocks/ai-image/src/dev.tsx
  blocks/ai-text/package.json
  blocks/ai-text/src/app/generate-text.tsx
  blocks/ai-text/src/app/generate-text/text-preview.tsx
  blocks/ai-text/src/dev.tsx
  blocks/ai-text/src/icons/arrow-rotate-left.tsx
  blocks/ai-text/src/icons/broom-wide.tsx
  blocks/ai-text/src/icons/check.tsx
  libs/@hashintel/design-system/src/block-prompt-input.tsx
  libs/@hashintel/design-system/src/main.ts
  yarn.lock
Labels: C-dependencies, A-blocks

#2346 Countdown Block improvements
  blocks/countdown/src/countdown-title.tsx
Labels: A-blocks

#2354 Update `libc` to `0.2.141`
  apps/hash-graph/Cargo.lock
  apps/hash-graph/Cargo.toml
Labels: C-dependencies, A-hash, A-backend

#2356 `ci`: use `yq` to install all necessary components
  .github/actions/install-rust-toolchain/action.yml
Labels: A-infra

#2355 Change snapshots to completely rely on streams and sinks
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/subcommand/snapshot.rs
  apps/hash-graph/lib/graph/src/lib.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/entity.rs
  apps/hash-graph/lib/graph/src/snapshot/error.rs
  apps/hash-graph/lib/graph/src/snapshot/metadata.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/test_graph.rs
Labels: A-hash, A-backend

#2360 Bump `rustix`, the dependency of a dependency of `clap`
  apps/hash-graph/Cargo.lock
Labels: C-dependencies, A-hash, A-backend

#2358 Expose a Graph run configuration that only serves the OpenAPI Spec
  apps/hash-graph/.justfile
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph/src/api/rest.rs
Labels: A-hash, A-backend

#2357 Use a codec to read/write JSON Lines
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/subcommand/snapshot.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/shared/identifier/knowledge.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/codec.rs
  apps/hash-graph/lib/graph/src/snapshot/error.rs
Labels: C-dependencies, A-hash, A-backend

#2364 Change AI Image block cover image
  blocks/ai-image/public/block-preview.png
Labels: A-blocks

#2368 Set cache sharing of rust docker builds to `locked`
  apps/hash-graph/docker/Dockerfile
Labels: A-hash, A-backend

#2363 Change property type copy tooltip text
  .changeset/cool-turkeys-sniff.md
  apps/hash-frontend/package.json
  libs/@hashintel/design-system/src/fa-icons/fa-check.tsx
  libs/@hashintel/design-system/src/fa-icons/icons.tsx
  libs/@hashintel/type-editor/package.json
  libs/@hashintel/type-editor/src/entity-type-editor/shared/type-menu-cell.tsx
Labels: A-hash, frontend

#2359 Fix database dumps for big data sets
  apps/hash-graph/lib/graph/src/snapshot.rs
Labels: A-hash, A-backend

#2347 Move GitHub files out of root
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/SECURITY.md
  README.md
  apps/hash/README.md
  apps/hashdotai/LICENSE.md
  apps/hashdotdev/LICENSE.md
  apps/intellij-plugin/LICENSE.md
  blocks/address/LICENSE.md
  blocks/ai-chat/LICENSE.md
  blocks/ai-image/LICENSE.md
  blocks/ai-text/LICENSE.md
  blocks/calculation/LICENSE.md
  blocks/callout/LICENSE.md
  blocks/chart/LICENSE.md
  blocks/code/LICENSE.md
  blocks/countdown/LICENSE.md
  blocks/divider/LICENSE.md
  blocks/embed/LICENSE.md
  blocks/faq/LICENSE.md
  blocks/heading/LICENSE.md
  blocks/how-to/LICENSE.md
  blocks/html-para/LICENSE.md
  blocks/image/LICENSE.md
  blocks/kanban-board/LICENSE.md
  blocks/minesweeper/LICENSE.md
  blocks/paragraph/LICENSE.md
  blocks/person/LICENSE.md
  blocks/shuffle/LICENSE.md
  blocks/stopwatch/LICENSE.md
  blocks/table/LICENSE.md
  blocks/timer/LICENSE.md
  blocks/toggle-item/LICENSE.md
  blocks/video/LICENSE.md
  libs/README.md
  libs/antsi/LICENSE.md
  libs/antsi/README.md
  libs/deer/LICENSE.md
  libs/deer/README.md
  libs/deer/json/README.md
  libs/deer/macros/README.md
  libs/error-stack/LICENSE.md
  libs/error-stack/README.md
  libs/sarif/LICENSE.md
  libs/sarif/README.md
Labels: A-infra, A-blocks, A-error-stack, A-deer, A-antsi, A-sarif

#2334 Support code block syntax highlighting in the AI Chat block + other styling improvements
  .github/pull_request_template.md
  blocks/ai-chat/package.json
  blocks/ai-chat/src/complete-chat.tsx
  blocks/ai-chat/src/complete-chat/chat-message.tsx
  blocks/ai-chat/src/complete-chat/system-prompt-selector.tsx
  libs/@hashintel/design-system/package.json
  libs/@hashintel/design-system/src/ai-assistant-message.tsx
  libs/@hashintel/design-system/src/ai-assistant-message/code-block.tsx
  libs/@hashintel/design-system/src/icons/code-pen.tsx
  libs/@hashintel/design-system/src/icons/copy.tsx
  libs/@hashintel/design-system/src/icons/icons.ts
  libs/@hashintel/design-system/src/main.ts
  yarn.lock
Labels: C-dependencies, A-infra, A-blocks

#2361 Add code block styling to the AI Text block
  blocks/ai-chat/src/complete-chat.tsx
  blocks/ai-chat/src/complete-chat/chat-message.tsx
  blocks/ai-chat/src/complete-chat/system-prompt-selector.tsx
  blocks/ai-text/package.json
  blocks/ai-text/src/app.tsx
  blocks/ai-text/src/app/confirmed-text.tsx
  blocks/ai-text/src/app/generate-text.tsx
  blocks/ai-text/src/app/generate-text/text-preview.tsx
  libs/@hashintel/design-system/src/ai-assistant-message.tsx
Labels: A-blocks

#2388 change emoji in PR template
  .github/pull_request_template.md
Labels: A-infra

#2392 Exclude `.config/lints.toml` from publishing
  libs/error-stack/Cargo.toml
Labels: A-error-stack

#2393 Create query builder proc-macro crate
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/query-builder-derive/Cargo.toml
  apps/hash-graph/lib/query-builder-derive/src/input.rs
  apps/hash-graph/lib/query-builder-derive/src/lib.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/.gitkeep
  apps/hash-graph/lib/query-builder-derive/tests/ui/pass/.gitkeep
Labels: C-dependencies, A-hash, A-backend

#2400 Update AI Text cover image
  blocks/ai-text/public/block-preview.png
Labels: A-blocks

#2399 Clean up repo (misc, minor changes)
  .github/CONTRIBUTING.md
  README.md
  blocks/README.md
  infra/README.md
  infra/docker/README.md
Labels: A-infra, A-blocks, docker

#2402 Add guidance on how to apply `yarn fix` in `CONTRIBUTING.md`
  .github/CONTRIBUTING.md
Labels: A-infra

#2385 `deer`: implement `Deserialize` for `core::cmp`
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/cmp.rs
  libs/deer/tests/test_impls_core_cmp.rs
Labels: A-deer

#2383 `deer`: implement `Deserialize` for `core::option`
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/option.rs
  libs/deer/tests/test_impls_core_option.rs
Labels: A-deer

#2384 `deer`: implement `Deserialize` for `core::mem`
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/mem.rs
  libs/deer/tests/test_impls_core_mem.rs
Labels: A-deer

#2403 Add a dispatchable workflow to run `yarn fix`
  .github/workflows/dispatch-fix.yml
Labels: A-infra

#2407 Disable semantic commits for renovate
  .github/renovate.json
Labels: A-infra

#2376 `deer`: implement `Deserialize` for `core::cell`
  libs/deer/desert/src/assert.rs
  libs/deer/desert/src/lib.rs
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/cell.rs
  libs/deer/src/lib.rs
  libs/deer/tests/test_impls_core_cell.rs
Labels: A-deer

#2379 `deer`: implement `Deserialize` for `core::marker`
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/marker.rs
  libs/deer/tests/test_impls_core_marker.rs
Labels: A-deer

#2398 Implement snapshot restore logic
  apps/hash-graph/bin/cli/src/subcommand/snapshot.rs
  apps/hash-graph/lib/graph/src/shared/provenance.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/account.rs
  apps/hash-graph/lib/graph/src/snapshot/account/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/account/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/account/table.rs
  apps/hash-graph/lib/graph/src/snapshot/entity.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/record.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/table.rs
  apps/hash-graph/lib/graph/src/snapshot/error.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/property_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/property_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/record.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/lib/graph/src/snapshot/restore.rs
  apps/hash-graph/lib/graph/src/snapshot/restore/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/restore/channel.rs
Labels: A-hash, A-backend

#2386 `deer`: implement `Deserialize` for `core::sync`
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/sync.rs
  libs/deer/src/impls/core/sync/atomic.rs
  libs/deer/src/lib.rs
  libs/deer/tests/test_impls_core_sync.rs
Labels: A-deer

#2378 `deer`: implement `Deserialize` for `core::num`
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/num.rs
  libs/deer/src/lib.rs
  libs/deer/tests/test_impls_core_num.rs
Labels: A-deer

#2414 Fix `entity_link_edges_tmp` not being dropped on commit
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
Labels: A-hash, A-backend

#2401 Remove deprecated `stopwatch` and `html-para` blocks
  .github/CONTRIBUTING.md
  blocks/README.md
  blocks/html-para/LICENSE-APACHE.md
  blocks/html-para/LICENSE-MIT.md
  blocks/html-para/LICENSE.md
  blocks/html-para/block-metadata.json
  blocks/html-para/block-schema.json
  blocks/html-para/index.html
  blocks/html-para/package.json
  blocks/html-para/public/html.svg
  blocks/html-para/public/preview.svg
  blocks/stopwatch/.eslintrc.cjs
  blocks/stopwatch/LICENSE-APACHE.md
  blocks/stopwatch/LICENSE-MIT.md
  blocks/stopwatch/LICENSE.md
  blocks/stopwatch/README.md
  blocks/stopwatch/package.json
  blocks/stopwatch/public/block-preview.svg
  blocks/stopwatch/public/omega.svg
  blocks/stopwatch/src/app.tsx
  blocks/stopwatch/src/dev.tsx
  blocks/stopwatch/src/index.ts
  blocks/stopwatch/src/property-ids.ts
  blocks/stopwatch/src/types.ts
  blocks/stopwatch/tsconfig.json
  blocks/stopwatch/variants.json
  blocks/toggle-item/.eslintrc.cjs
  blocks/toggle-item/.gitignore
  blocks/toggle-item/LICENSE-APACHE.md
  blocks/toggle-item/LICENSE-MIT.md
  blocks/toggle-item/LICENSE.md
  blocks/toggle-item/README.md
  blocks/toggle-item/package.json
  blocks/toggle-item/public/block-preview.svg
  blocks/toggle-item/public/omega.svg
  blocks/toggle-item/src/app.tsx
  blocks/toggle-item/src/dev.tsx
  blocks/toggle-item/src/index.css
  blocks/toggle-item/src/index.ts
  blocks/toggle-item/tsconfig.json
  blocks/toggle-item/variants.json
  yarn.lock
Labels: C-dependencies, A-infra, A-blocks

#2413 Simplify usage of `ApiAddress`
  apps/hash-graph/bin/cli/src/subcommand/server.rs
Labels: A-hash, A-backend

#2420 Move back `HEALTHCHECK` to docker compose file
  apps/hash-external-services/docker-compose.yml
  apps/hash-graph/docker/Dockerfile
Labels: A-hash, A-backend

#2373 Write OpenAPI specs as file to generate client
  apps/hash-graph/.gitignore
  apps/hash-graph/.justfile
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph/src/api/rest.rs
  libs/@local/hash-graph-client-generator/openapitools.json
Labels: A-hash, A-backend

#2412 Tweak attachments for `restore` operation
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/codec.rs
Labels: A-hash, A-backend

#2389 `deer`: implement `Deserialize` for `&[u8]`
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/bytes.rs
  libs/deer/tests/test_impls_core_bytes.rs
Labels: A-deer

#2416 Provide a `POST /snapshot` endpoint
  apps/hash-graph/bin/cli/src/subcommand/snapshot.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/snapshot.rs
Labels: A-hash, A-backend

#2390 `deer`: implement `Deserialize` for `core::time`
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/time.rs
  libs/deer/tests/test_impls_core_time.rs
Labels: A-deer

#2387 `deer`: implement `Deserialize` for `core::result`
  libs/deer/desert/src/assert.rs
  libs/deer/desert/src/lib.rs
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/result.rs
  libs/deer/tests/test_enum_core_result.rs
Labels: A-deer

#2433 Fix broken subpage show/hide button on sidebar.
  apps/hash-frontend/package.json
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
  blocks/address/package.json
  blocks/table/package.json
  libs/@hashintel/type-editor/package.json
  tests/hash-playwright/tests/page-navigation.spec.ts
  yarn.lock
Labels: C-dependencies, A-hash, frontend, playwright, A-blocks

#2432 Skip failing Playwright tests pending future fixes
  tests/hash-playwright/tests/entity-creation.spec.ts
  tests/hash-playwright/tests/entity-type-creation.spec.ts
  tests/hash-playwright/tests/guest-user.spec.ts
  tests/hash-playwright/tests/page-creation.spec.ts
  tests/hash-playwright/tests/shared/login-using-temp-form.ts
  tests/hash-playwright/tests/shared/reset-db.ts
Labels: playwright

#2411 use EditableField & add wrapperSx prop to it
  .changeset/tame-eels-walk.md
  blocks/kanban-board/package.json
  blocks/kanban-board/src/app.tsx
  blocks/kanban-board/src/components/board-title/board-title.tsx
  blocks/kanban-board/src/components/board-title/styles.module.scss
  blocks/kanban-board/src/components/icons/edit-icon.tsx
  blocks/kanban-board/src/components/icons/save-icon.tsx
  blocks/kanban-board/theme-override.d.ts
  blocks/kanban-board/tsconfig.json
  blocks/table/package.json
  blocks/table/src/app.tsx
  blocks/table/src/base.module.scss
  blocks/table/src/components/table-title/styles.module.scss
  blocks/table/src/components/table-title/table-title.tsx
  blocks/table/theme-override.d.ts
  blocks/table/tsconfig.json
  libs/@hashintel/design-system/src/editable-field.tsx
Labels: A-blocks

#2436 Restore text editing in page
  apps/hash-frontend/src/blocks/page/component-view.tsx
  apps/hash-frontend/src/components/remote-block/remote-block.tsx
Labels: A-hash, frontend

#2443 `deer`: add `*Access::context()`
  libs/deer/desert/src/array.rs
  libs/deer/desert/src/object.rs
  libs/deer/json/src/lib.rs
  libs/deer/src/lib.rs
Labels: A-deer

#2419 Use a `test-server` feature flag to gate dangerous endpoints
  .github/workflows/rust.yml
  apps/hash-graph/.justfile
  apps/hash-graph/README.md
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/main.rs
  apps/hash-graph/bin/cli/src/subcommand.rs
  apps/hash-graph/bin/cli/src/subcommand/snapshot.rs
  apps/hash-graph/bin/cli/src/subcommand/test_server.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/test_server.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
Labels: A-hash, A-infra, A-backend

#2442 Agent development templates
  .env
  .prettierignore
  apps/hash-agents/.gitignore
  apps/hash-agents/LICENSE.md
  apps/hash-agents/README.md
  apps/hash-agents/app/__init__.py
  apps/hash-agents/app/__main__.py
  apps/hash-agents/app/agents/__init__.py
  apps/hash-agents/app/agents/__main__.py
  apps/hash-agents/app/agents/template/__main__.py
  apps/hash-agents/app/agents/template/io_types.ts
  apps/hash-agents/app/logger.py
  apps/hash-agents/docker/Dockerfile
  apps/hash-agents/package.json
  apps/hash-agents/requirements.txt
  apps/hash-agents/scripts/codegen.ts
  apps/hash-agents/tsconfig.json
  apps/hash-agents/turbo.json
  apps/hash-api/package.json
  apps/hash-api/src/agents/config.ts
  apps/hash-api/src/agents/runner.ts
  apps/hash-api/src/graphql/context.ts
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/graphql/resolvers/agents/call-agent-runner.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/type-defs/agents.typedef.ts
  apps/hash-api/src/graphql/type-defs/index.ts
  apps/hash-api/src/index.ts
  apps/hash-external-services/docker-compose.yml
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/hooks/use-agent-runner.ts
  apps/hash-frontend/src/graphql/queries/agents.queries.ts
  apps/hash-graph/docker/Dockerfile
  libs/@local/hash-graphql-shared/src/graphql/scalar-mapping.ts
  package.json
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, api, frontend, A-backend

#2441 Correct Heading block name
  blocks/heading/package.json
Labels: A-blocks

#2396 Introduce dependency review workflow step
  .github/workflows/dependency-review.yml
  README.md
Labels: A-infra

#2427 Use `turbo` in `Dockerfile` to prune unneeded content
  apps/hash-graph/docker/Dockerfile
Labels: A-hash, A-backend

#2455 Avoid multiple CI runs for same job in same PR
  .github/workflows/ci.yml
Labels: A-infra

#2428 Utilize `turbo` to run external services and build the Graph
  .github/workflows/ci.yml
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/package.json
  apps/hash-external-services/turbo.json
  apps/hash-graph/.justfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/package.json
  apps/hash-graph/turbo.json
  apps/hash/README.md
  package.json
Labels: A-hash, A-infra, A-backend

#2457 Fix Rust workflow may cancel CI workflow
  .github/workflows/ci.yml
  .github/workflows/rust.yml
Labels: A-infra

#2429 Use caching for hash-graph docker image
  .github/actions/build-docker-images/action.yml
  .github/actions/load-docker-images/action.yml
  .github/scripts/rust/setup.py
  .github/workflows/ci.yml
  .github/workflows/rust.yml
  apps/hash-graph/.justfile
Labels: A-hash, A-infra, A-backend

#2456 Log stacktrace when an exception is raised
  apps/hash-agents/app/__init__.py
Labels: A-hash

#2454 Support deletion of test-data
  apps/hash-graph/lib/graph/src/store/error.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-hash, A-backend

#2458 Use `poetry` instead of `pip` for dependencies
  apps/hash-agents/README.md
  apps/hash-agents/app/__init__.py
  apps/hash-agents/app/monkey.py
  apps/hash-agents/docker/Dockerfile
  apps/hash-agents/package.json
  apps/hash-agents/poetry.lock
  apps/hash-agents/pyproject.toml
  apps/hash-agents/requirements.txt
Labels: A-hash

#2460 Add `poetry.lock` file linting for `hash-agents`
  .github/workflows/ci.yml
  apps/hash-agents/package.json
  apps/hash-agents/turbo.json
  package.json
Labels: A-hash, A-infra

#2440 Implement optimistic UI for table block
  blocks/table/package.json
  blocks/table/src/app.tsx
  blocks/table/src/base.module.scss
  blocks/table/src/components/header-menu/header-menu.tsx
  blocks/table/src/components/header-menu/styles.module.scss
  blocks/table/src/components/settings/styles.module.scss
  blocks/table/src/components/table/row-actions.tsx
  blocks/table/src/components/table/table.module.scss
  blocks/table/src/components/table/table.tsx
Labels: A-blocks

#2462 Add `black` as Python formatter
  .github/workflows/ci.yml
  apps/hash-agents/app/__init__.py
  apps/hash-agents/package.json
  apps/hash-agents/poetry.lock
  apps/hash-agents/pyproject.toml
  apps/hash-agents/turbo.json
  package.json
  turbo.json
Labels: A-hash, A-infra

#2459 Expose deletion to `test-server` API
  apps/hash-graph/lib/graph/src/api/rest/test_server.rs
Labels: A-hash, A-backend

#2464 Fix output for `@apps/hash-frontend` in `turbo.json`
  apps/hash-frontend/turbo.json
Labels: A-hash, frontend

#2453 Support docker layer caching for `hash-agents`
  .github/actions/build-docker-images/action.yml
  .github/actions/load-docker-images/action.yml
  .github/workflows/ci.yml
  .github/workflows/rust.yml
  apps/hash-agents/package.json
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/turbo.json
  apps/hash-graph/package.json
  apps/hash/README.md
Labels: A-hash, A-infra, A-backend

#2421 Only commit OpenAPI specs instead of graph client
  .prettierignore
  apps/hash-graph/.gitignore
  apps/hash-graph/.justfile
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/openapi/.gitattributes
  apps/hash-graph/openapi/models/data_type.json
  apps/hash-graph/openapi/models/entity_type.json
  apps/hash-graph/openapi/models/property_type.json
  apps/hash-graph/openapi/models/status.json
  apps/hash-graph/openapi/models/update_data_type.json
  apps/hash-graph/openapi/models/update_entity_type.json
  apps/hash-graph/openapi/models/update_property_type.json
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/package.json
  apps/hash-graph/turbo.json
  libs/@local/hash-graph-client-generator/LICENSE.md
  libs/@local/hash-graph-client-generator/package.json
  libs/@local/hash-graph-client/.gitattributes
  libs/@local/hash-graph-client/.gitignore
  libs/@local/hash-graph-client/.npmignore
  libs/@local/hash-graph-client/.openapi-generator-ignore
  libs/@local/hash-graph-client/.openapi-generator/FILES
  libs/@local/hash-graph-client/.openapi-generator/VERSION
  libs/@local/hash-graph-client/api.ts
  libs/@local/hash-graph-client/base.ts
  libs/@local/hash-graph-client/common.ts
  libs/@local/hash-graph-client/configuration.ts
  libs/@local/hash-graph-client/git_push.sh
  libs/@local/hash-graph-client/index.ts
  libs/@local/hash-graph-client/openapitools.json
  libs/@local/hash-graph-client/package.json
  libs/@local/hash-graph-client/turbo.json
Labels: A-hash, A-infra, A-backend

#2463 Use `turbo` to run scripts and avoid `codegen` in `postinstall` step
  .github/workflows/ci.yml
  .github/workflows/rust.yml
  apps/hash-agents/docker/Dockerfile
  apps/hash-agents/package.json
  apps/hash-agents/turbo.json
  package.json
Labels: A-hash, A-infra

#2467 Add `ruff` as Python linter and a number of lints
  .github/workflows/ci.yml
  apps/hash-agents/app/__init__.py
  apps/hash-agents/app/agents/__init__.py
  apps/hash-agents/app/agents/__main__.py
  apps/hash-agents/app/agents/template/__main__.py
  apps/hash-agents/app/logger.py
  apps/hash-agents/app/monkey.py
  apps/hash-agents/package.json
  apps/hash-agents/poetry.lock
  apps/hash-agents/pyproject.toml
  apps/hash-agents/turbo.json
  package.json
Labels: A-hash, A-infra

#2468 Use `group` section for tools and production
  apps/hash-agents/docker/Dockerfile
  apps/hash-agents/package.json
  apps/hash-agents/poetry.lock
  apps/hash-agents/pyproject.toml
Labels: A-hash

#2469 Add `isort` to sort imports in Python
  .github/workflows/ci.yml
  apps/hash-agents/app/__init__.py
  apps/hash-agents/app/__main__.py
  apps/hash-agents/app/agents/__init__.py
  apps/hash-agents/app/agents/template/__main__.py
  apps/hash-agents/package.json
  apps/hash-agents/poetry.lock
  apps/hash-agents/pyproject.toml
  apps/hash-agents/turbo.json
  package.json
Labels: A-hash, A-infra

#2470 Use `beartype` decorators for functions
  apps/hash-agents/app/__init__.py
  apps/hash-agents/app/agents/__init__.py
  apps/hash-agents/app/agents/__main__.py
  apps/hash-agents/app/agents/template/__main__.py
  apps/hash-agents/poetry.lock
  apps/hash-agents/pyproject.toml
Labels: A-hash

#2472 Use `FastAPI` instead of `Flask`
  apps/hash-agents/README.md
  apps/hash-agents/app/__init__.py
  apps/hash-agents/app/__main__.py
  apps/hash-agents/app/logger.py
  apps/hash-agents/app/monkey.py
  apps/hash-agents/app/routes/__init__.py
  apps/hash-agents/app/routes/agents.py
  apps/hash-agents/app/routes/health.py
  apps/hash-agents/docker/Dockerfile
  apps/hash-agents/package.json
  apps/hash-agents/poetry.lock
  apps/hash-agents/pyproject.toml
Labels: A-hash

#2473 Use structlog for more structured logging
  .env
  apps/hash-agents/README.md
  apps/hash-agents/app/__init__.py
  apps/hash-agents/app/agents/__init__.py
  apps/hash-agents/app/agents/__main__.py
  apps/hash-agents/app/agents/template/__main__.py
  apps/hash-agents/app/logger.py
  apps/hash-agents/app/logger/__init__.py
  apps/hash-agents/app/logger/http.py
  apps/hash-agents/app/logger/langchain.py
  apps/hash-agents/app/logger/setup.py
  apps/hash-agents/app/routes/agents.py
  apps/hash-agents/app/routes/health.py
  apps/hash-agents/docker/Dockerfile
  apps/hash-agents/package.json
  apps/hash-agents/poetry.lock
  apps/hash-agents/pyproject.toml
  apps/hash-external-services/docker-compose.yml
Labels: A-hash

#2483 Capitalize 'shuffle' in `Shuffle` block name
  blocks/shuffle/package.json
Labels: A-blocks

#2481 Remove caches when PR was closed
  .github/workflows/remove-obsolete-caches.yml
Labels: A-infra

#2488 Wireframed Command Bar with sample options
  apps/hash-frontend/package.json
  apps/hash-frontend/src/shared/command-bar.tsx
  apps/hash-frontend/src/shared/layout/get-plain-layout.tsx
  apps/hash-frontend/src/shared/layout/plain-layout.tsx
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/faq/package.json
  blocks/how-to/package.json
  blocks/kanban-board/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  libs/@hashintel/design-system/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#2486 Generate initial property types of an entity type
  apps/hash-agents/app/agents/generate-entity-type-property-types/__main__.py
  apps/hash-agents/app/agents/generate-entity-type-property-types/io_types.ts
  apps/hash-agents/app/agents/template/__main__.py
  apps/hash-agents/scripts/codegen.ts
  apps/hash-frontend/src/components/hooks/use-agent-runner.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/definition-tab.tsx
  apps/hash-frontend/src/pages/new/types/entity-type.page.tsx
  apps/hash-frontend/src/pages/new/types/entity-type/select-generated-property-types.tsx
Labels: A-hash, frontend

#2461 Move Realtime to Redis Streams and adjust its DB schemas
  .env
  apps/hash-api/src/cache/redis.ts
  apps/hash-api/src/index.ts
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/postgres/init-user-db.sh
  apps/hash-external-services/turbo.json
  apps/hash-frontend/src/blocks/use-fetch-block-subgraph.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-realtime/README.md
  apps/hash-realtime/package.json
  apps/hash-realtime/src/config.ts
  apps/hash-realtime/src/index.ts
  apps/hash-realtime/src/scripts/clear-redis.ts
  infra/docker/realtime/prod/Dockerfile
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/pg-tables.ts
  libs/@local/hash-backend-utils/src/queue/redis.ts
  libs/@local/hash-backend-utils/src/realtime.ts
  libs/@local/hash-backend-utils/src/redis.ts
  libs/@local/hash-backend-utils/src/stream/adapter.ts
  libs/@local/hash-backend-utils/src/stream/redis.ts
  libs/@local/hash-backend-utils/src/wal2json.ts
  libs/@local/hash-subgraph/src/types/element/knowledge.ts
  libs/@local/hash-subgraph/src/types/shared/branded.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend, realtime, docker

#2489 Vector loader service to index knowledge/ontology embeddings
  .env
  apps/hash-external-services/docker-compose.yml
  apps/hash-realtime/src/config.ts
  apps/hash-realtime/src/index.ts
  apps/hash-vector-loader/.eslintrc.cjs
  apps/hash-vector-loader/LICENSE.md
  apps/hash-vector-loader/README.md
  apps/hash-vector-loader/package.json
  apps/hash-vector-loader/src/change-handlers.ts
  apps/hash-vector-loader/src/config.ts
  apps/hash-vector-loader/src/main.ts
  apps/hash-vector-loader/src/scripts/delete-qdrant-collection.ts
  apps/hash-vector-loader/src/vector/qdrant.ts
  apps/hash-vector-loader/src/vector/vector.ts
  apps/hash-vector-loader/tsconfig.json
  libs/@local/hash-backend-utils/src/pg-tables.ts
  libs/@local/hash-backend-utils/src/realtime.ts
  libs/@local/hash-backend-utils/src/stream/adapter.ts
  libs/@local/hash-backend-utils/src/stream/redis.ts
  package.json
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, realtime

#2494 Natural language semantic entity search
  apps/hash-agents/app/agents/__main__.py
  apps/hash-agents/app/agents/semantic-search/__main__.py
  apps/hash-agents/app/agents/semantic-search/io_types.ts
  apps/hash-agents/poetry.lock
  apps/hash-agents/pyproject.toml
Labels: A-hash

#2492 Handle unexpected property type suggester errors in the frontend
  apps/hash-agents/app/agents/generate-entity-type-property-types/__main__.py
  apps/hash-api/src/graphql/resolvers/agents/call-agent-runner.ts
  apps/hash-frontend/src/components/hooks/use-agent-runner.ts
  apps/hash-frontend/src/pages/new/types/entity-type/select-generated-property-types.tsx
  apps/hash-frontend/src/shared/icons/layer-plus-icon.tsx
  blocks/address/src/app.tsx
  libs/@hashintel/design-system/src/icons/icons.ts
  libs/@hashintel/design-system/src/icons/triangle-exclamation-icon.tsx
Labels: A-hash, api, frontend, A-blocks

#2496 Prototype: Generate react block
  apps/hash-agents/app/agents/react-app/__main__.py
  apps/hash-agents/app/agents/react-app/io_types.ts
  apps/hash-agents/app/agents/template/__main__.py
  apps/hash-agents/docker/Dockerfile
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/api/block-generator/initialize-container.api.ts
  apps/hash-frontend/src/pages/api/block-generator/shared.ts
  apps/hash-frontend/src/pages/api/block-generator/update-code.api.ts
  apps/hash-frontend/src/pages/block-generator.page.tsx
  apps/hash-frontend/src/pages/block-generator/bouncing-dots-loader.tsx
  apps/hash-frontend/src/pages/block-generator/defaults.ts
  apps/hash-frontend/src/pages/block-generator/demo-live-editor.tsx
  apps/hash-frontend/src/pages/block-generator/preview/.gitignore
  apps/hash-frontend/src/pages/block-generator/preview/App.js
  apps/hash-frontend/src/pages/block-generator/preview/Dockerfile
  apps/hash-frontend/src/pages/block-generator/preview/README.md
  apps/hash-frontend/src/pages/block-generator/preview/package.json
  apps/hash-frontend/src/pages/block-generator/preview/public/favicon.ico
  apps/hash-frontend/src/pages/block-generator/preview/public/index.html
  apps/hash-frontend/src/pages/block-generator/preview/public/logo192.png
  apps/hash-frontend/src/pages/block-generator/preview/public/logo512.png
  apps/hash-frontend/src/pages/block-generator/preview/public/manifest.json
  apps/hash-frontend/src/pages/block-generator/preview/public/robots.txt
  apps/hash-frontend/src/pages/block-generator/preview/src/App.css
  apps/hash-frontend/src/pages/block-generator/preview/src/App.js
  apps/hash-frontend/src/pages/block-generator/preview/src/App.test.js
  apps/hash-frontend/src/pages/block-generator/preview/src/index.css
  apps/hash-frontend/src/pages/block-generator/preview/src/index.js
  apps/hash-frontend/src/pages/block-generator/preview/src/logo.svg
  apps/hash-frontend/src/pages/block-generator/preview/src/reportWebVitals.js
  apps/hash-frontend/src/pages/block-generator/preview/src/setupTests.js
  apps/hash-frontend/src/pages/block-generator/preview/yarn.lock
  apps/hash-frontend/src/shared/command-bar.tsx
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#2499 Add `semantic-qa` to Command Bar
  apps/hash-agents/app/agents/semantic-qa/__main__.py
  apps/hash-agents/app/agents/semantic-qa/io_types.ts
  apps/hash-frontend/src/shared/command-bar.tsx
Labels: A-hash, frontend

#2500 Generate block prototype: Speed up dependency installation
  apps/hash-frontend/src/pages/api/block-generator/initialize-container.api.ts
  apps/hash-frontend/src/pages/api/block-generator/install-dependencies.api.ts
  apps/hash-frontend/src/pages/block-generator.page.tsx
  apps/hash-frontend/src/pages/block-generator/demo-live-editor.tsx
Labels: A-hash, frontend

#2418 `deer`: implement `Deserialize` for tuples
  libs/deer/Cargo.toml
  libs/deer/src/ext.rs
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/tuples.rs
  libs/deer/src/lib.rs
  libs/deer/tests/test_impls_core_tuples.rs
Labels: A-deer

#2423 `deer`: improve how integrals are handled
  libs/deer/src/impls/core/integral.rs
  libs/deer/src/value.rs
  libs/deer/tests/test_impls_core_integral.rs
  libs/deer/tests/test_value.rs
Labels: A-deer

#2424 `deer`: remove `isize` and `usize` from data-model
  libs/deer/desert/src/deserializer.rs
  libs/deer/desert/src/token.rs
  libs/deer/src/lib.rs
  libs/deer/src/macros.rs
  libs/deer/src/value.rs
  libs/deer/src/value/array.rs
  libs/deer/src/value/bytes.rs
  libs/deer/src/value/object.rs
  libs/deer/src/value/string.rs
  libs/deer/tests/test_impls_core_num.rs
Labels: A-deer

#2430 `deer`: test `Deserialize` for `*size`
  libs/deer/tests/test_impls_core_integral.rs
Labels: A-deer

#2435 `deer`: rename `v`, `de` to more meaningful names.
  libs/deer/desert/src/token.rs
  libs/deer/src/impls/core/array.rs
  libs/deer/src/impls/core/bool.rs
  libs/deer/src/impls/core/bytes.rs
  libs/deer/src/impls/core/cell.rs
  libs/deer/src/impls/core/cmp.rs
  libs/deer/src/impls/core/floating.rs
  libs/deer/src/impls/core/integral.rs
  libs/deer/src/impls/core/marker.rs
  libs/deer/src/impls/core/mem.rs
  libs/deer/src/impls/core/num.rs
  libs/deer/src/impls/core/option.rs
  libs/deer/src/impls/core/result.rs
  libs/deer/src/impls/core/string.rs
  libs/deer/src/impls/core/sync.rs
  libs/deer/src/impls/core/sync/atomic.rs
  libs/deer/src/impls/core/time.rs
  libs/deer/src/impls/core/unit.rs
  libs/deer/src/lib.rs
  libs/deer/src/number.rs
  libs/deer/tests/test_enum_visitor.rs
  libs/deer/tests/test_value.rs
Labels: A-deer

#2482 `deer`: make char more tolerant
  libs/deer/src/impls/core/string.rs
  libs/deer/tests/test_impls_core_string.rs
Labels: A-deer

#2437 `deer`: introduce `StructVisitor`
  libs/deer/desert/src/array.rs
  libs/deer/desert/src/deserializer.rs
  libs/deer/desert/src/lib.rs
  libs/deer/desert/src/object.rs
  libs/deer/desert/src/skip.rs
  libs/deer/desert/src/token.rs
  libs/deer/json/src/lib.rs
  libs/deer/src/lib.rs
  libs/deer/src/value.rs
  libs/deer/src/value/array.rs
  libs/deer/src/value/bytes.rs
  libs/deer/src/value/object.rs
  libs/deer/src/value/string.rs
  libs/deer/tests/common.rs
  libs/deer/tests/test_struct_visitor.rs
Labels: A-deer
