Repository hashintel/hash, pull requests merged in 2023-05, with the labels that each got.

#2507 Fix Playwright test script, improve output, fix failing test
  apps/hash-frontend/src/shared/command-bar.tsx
  tests/hash-playwright/package.json
  tests/hash-playwright/tests/shared/runtime.ts
Labels: A-hash, frontend, playwright

#2505 Table block editing UX improvements
  blocks/table/package.json
  blocks/table/src/components/grid/grid.tsx
  blocks/table/src/components/table/table.tsx
Labels: A-blocks

#2484 Improve codegen of `hash-agents`
  apps/hash-agents/app/agents/__init__.py
  apps/hash-agents/package.json
  apps/hash-agents/poetry.lock
  apps/hash-agents/pyproject.toml
  apps/hash-agents/scripts/codegen.ts
  apps/hash-agents/turbo.json
Labels: A-hash

#2511 Add script to create and configure a new block
  apps/hash-frontend/package.json
  blocks/README.md
  blocks/address/package.json
  blocks/address/src/app.tsx
  blocks/address/src/types/generated/block-entity.ts
  blocks/ai-chat/package.json
  blocks/ai-chat/src/types/generated/ai-chat-block.ts
  blocks/ai-chat/src/types/generated/ai-chat-request-message.ts
  blocks/ai-chat/src/types/generated/ai-chat-response-message.ts
  blocks/ai-chat/src/types/generated/shared.ts
  blocks/ai-image/package.json
  blocks/ai-image/src/types/generated/block-entity.ts
  blocks/ai-text/package.json
  blocks/callout/package.json
  blocks/chart/.gitignore
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/faq/.gitignore
  blocks/faq/package.json
  blocks/faq/src/types/generated/block-entity.ts
  blocks/heading/package.json
  blocks/how-to/.gitignore
  blocks/how-to/package.json
  blocks/how-to/src/types/generated/block-entity.ts
  blocks/image/package.json
  blocks/image/src/types/generated/block-entity.ts
  blocks/kanban-board/.gitignore
  blocks/kanban-board/package.json
  blocks/kanban-board/src/assets.d.ts
  blocks/minesweeper/package.json
  blocks/paragraph/package.json
  blocks/shuffle/package.json
  blocks/shuffle/src/types/generated/block-entity.ts
  blocks/table/package.json
  blocks/table/src/assets.d.ts
  blocks/timer/package.json
  blocks/video/package.json
  blocks/video/src/types/generated/block-entity.ts
  libs/@hashintel/type-editor/package.json
  libs/@local/hash-subgraph/package.json
  libs/@local/repo-chores/package.json
  libs/@local/repo-chores/scripts/create-block.ts
  libs/@local/repo-chores/scripts/create-block/additional-block-files/.eslintrc.cjs
  libs/@local/repo-chores/scripts/create-block/additional-block-files/LICENSE-APACHE.md
  libs/@local/repo-chores/scripts/create-block/additional-block-files/LICENSE-MIT.md
  libs/@local/repo-chores/scripts/create-block/additional-block-files/LICENSE.md
  libs/@local/repo-chores/scripts/create-block/additional-block-files/turbo.json
  libs/@local/repo-chores/scripts/create-block/replacement-block-files/tsconfig.json
  libs/@local/repo-chores/tsconfig.json
  package.json
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, frontend, A-blocks

#1844 Reimplement `queryEntities` with transpilation to structural queries
  apps/hash-api/src/graph/knowledge/primitive/entity/query.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/knowledge-shim.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-query-entities.ts
  apps/hash-frontend/src/components/hooks/use-orgs.ts
  apps/hash-frontend/src/components/hooks/use-users.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-entities-context-value.tsx
  apps/hash-frontend/src/pages/entity-editor.page.tsx
  apps/hash-frontend/src/shared/filters.tsx
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-client/turbo.json
  libs/@local/hash-graphql-shared/package.json
  libs/@local/hash-graphql-shared/src/graphql/scalar-mapping.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/deprecated.typedef.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/entity.typedef.ts
Labels: A-hash, api, frontend, A-backend

#2224 Upgrade TypeScript to version 5
  .changeset/config.json
  apps/hash-agents/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-graph/package.json
  apps/hash-realtime/package.json
  apps/hash-search-loader/package.json
  apps/hash-task-executor/package.json
  apps/hashdotai/package.json
  apps/hashdotdev/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/embed/package.json
  blocks/heading/package.json
  blocks/image/package.json
  blocks/paragraph/package.json
  blocks/person/package.json
  blocks/shuffle/package.json
  blocks/timer/package.json
  blocks/video/package.json
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/design-system/package.json
  libs/@hashintel/type-editor/src/entity-type-editor/shared/multiple-values-cell.tsx
  libs/@local/advanced-types/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-graph-client/package.json
  libs/@local/hash-graphql-shared/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/entity-store-plugin.ts
  libs/@local/hash-subgraph/package.json
  libs/@local/repo-chores/package.json
  libs/@local/status/package.json
  tests/hash-backend-integration/package.json
  tests/hash-playwright/package.json
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, api, integration, frontend, playwright, A-blocks, realtime, A-backend

#2510 Implement settings bar in the Table block
  blocks/table/package.json
  blocks/table/src/app.tsx
  blocks/table/src/components/settings-bar/settings-bar.tsx
  blocks/table/src/components/settings-bar/styles.module.scss
  blocks/table/src/components/settings/settings.tsx
  blocks/table/src/components/settings/styles.module.scss
  yarn.lock
Labels: C-dependencies, A-blocks

#2512 Introduce a Temporal Cluster and example Temporal Worker
  .env
  apps/hash-ai-worker-ts/.eslintrc.cjs
  apps/hash-ai-worker-ts/LICENSE.md
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/scripts/bundle-workflow-code.ts
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-ai-worker-ts/tsconfig.json
  apps/hash-ai-worker-ts/turbo.json
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/postgres/init-user-db.sh
  apps/hash-external-services/temporal/migrate.Dockerfile
  apps/hash-external-services/temporal/migrate.sh
  apps/hash-external-services/temporal/setup.Dockerfile
  apps/hash-external-services/temporal/setup.sh
  apps/hash-frontend/next.config.js
  apps/hash/README.md
  apps/hashdotdev/next.config.js
  package.json
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, frontend

#2519 Prevent 'add a property' button from appearing over the 'allow multiple' menu
  .changeset/config.json
  .changeset/empty-trainers-think.md
  libs/@hashintel/type-editor/src/entity-type-editor/shared/multiple-values-cell.tsx
Labels: A-infra

#2522 `antsi`: remove const trait implementations
  libs/antsi/src/color.rs
  libs/antsi/src/lib.rs
  libs/antsi/src/macros.rs
Labels: A-antsi

#2518 Add editable description to the entity type editor page
  apps/hash-frontend/next.config.js
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-description.tsx
Labels: A-hash, frontend

#2523 Ignore `clippy::too-many-lines` on `FilterSchemaAddon`
  apps/hash-graph/lib/graph/src/api/rest.rs
Labels: A-hash, A-backend

#2526 Correctly pass environment variables to services
  .github/workflows/ci.yml
  apps/hash-external-services/docker-compose.test.yml
Labels: A-hash, A-infra

#2528 Ignore doc-snapshot outputs on non-nightly compiler
  libs/error-stack/src/fmt.rs
  libs/error-stack/src/fmt/charset.rs
  libs/error-stack/src/fmt/color.rs
  libs/error-stack/src/fmt/hook.rs
  libs/error-stack/src/hook.rs
  libs/error-stack/src/hook/context.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/report.rs
Labels: A-error-stack

#2529 Track snapshot metadata and fail restoring if missing
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/error.rs
  apps/hash-graph/lib/graph/src/snapshot/restore/channel.rs
Labels: A-hash, A-backend

#2530 Provide initial setup to restore snapshots from BE tests
  tests/hash-backend-integration/jest.config.cjs
  tests/hash-backend-integration/package.json
  tests/hash-backend-integration/src/tests/setup.ts
  tests/hash-backend-integration/src/tests/subgraph/fail/empty.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/empty.jsonl
  tests/hash-backend-integration/src/tests/subgraph/simple.test.ts
Labels: integration

#2527 Move `graph-test-server` to `docker-compose.test.yml`
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-external-services/docker-compose.yml
Labels: A-hash

#2525 Fix associated trait bound for `PostgresRecord`
  apps/hash-graph/lib/graph/src/store/postgres/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
Labels: A-hash, A-backend

#2538 Allow resetting database from BE integration tests
  tests/hash-backend-integration/src/tests/setup.ts
  tests/hash-backend-integration/src/tests/subgraph/fail/wrong-version.jsonl
  tests/hash-backend-integration/src/tests/subgraph/simple.test.ts
  tests/hash-backend-integration/src/tests/test-server.ts
Labels: integration

#2447 `deer`: rework how bounded access works
  libs/deer/desert/src/array.rs
  libs/deer/desert/src/object.rs
  libs/deer/json/src/lib.rs
  libs/deer/src/bound.rs
  libs/deer/src/error/internal.rs
  libs/deer/src/impls/core/array.rs
  libs/deer/src/impls/core/tuples.rs
  libs/deer/src/lib.rs
  libs/deer/src/value/object.rs
  libs/deer/tests/test_bound.rs
  libs/deer/tests/test_enum_visitor.rs
  libs/deer/tests/test_struct_visitor.rs
Labels: A-deer

#2394 Parse query macro attributes
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/query-builder-derive/Cargo.toml
  apps/hash-graph/lib/query-builder-derive/src/input.rs
  apps/hash-graph/lib/query-builder-derive/src/lib.rs
  apps/hash-graph/lib/query-builder-derive/src/parse.rs
  apps/hash-graph/lib/query-builder-derive/src/render.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/next_on_complex.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/next_on_complex.stderr
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/next_on_discriminant.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/next_on_discriminant.stderr
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/skip_duplicate.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/skip_duplicate.stderr
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/skip_not_flag.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/skip_not_flag.stderr
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/struct_unsupported.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/struct_unsupported.stderr
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/tuple_multiple.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/tuple_multiple.stderr
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/unknown_attr_container.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/unknown_attr_container.stderr
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/unknown_attr_value.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/unknown_attr_value.stderr
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/unknown_attr_variant.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/unknown_attr_variant.stderr
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/unknown_next.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/fail/unknown_next.stderr
  apps/hash-graph/lib/query-builder-derive/tests/ui/pass/no_attr.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/pass/properties.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/pass/remote.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/pass/skip.rs
  apps/hash-graph/lib/query-builder-derive/tests/ui/pass/this.rs
Labels: C-dependencies, A-hash, A-backend

#2504 Update repo READMEs
  README.md
  apps/README.md
  apps/engine/README.md
  apps/hashdotdev/src/_pages/blog/0002_open-source.mdx
  libs/@hashintel/block-design-system/README.md
  libs/@hashintel/design-system/README.md
  libs/@hashintel/type-editor/README.md
Labels: A-engine, A-infra

#2541 Use a stream instead of reading a snapshot into memory
  tests/hash-backend-integration/src/tests/test-server.ts
Labels: integration

#2506 Fix logout runtime error
  apps/hash-frontend/src/components/hooks/use-logout-flow.ts
Labels: A-hash, frontend

#2516 Disable Edit property/link type buttons for types that belong to other users/orgs
  .changeset/cool-peas-develop.md
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/definition-tab.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/definition-tab/use-editor-ontology-functions.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/latest-property-types-context.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/use-latest-property-types-context-value.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-value.tsx
  apps/hash-frontend/src/shared/readonly-mode.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card.tsx
  libs/@hashintel/type-editor/src/shared/ontology-functions-context.tsx
Labels: A-hash, frontend

#2517 Handle external types in HASH pages
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graphql/resolvers/knowledge/page/update-page-actions.ts
  apps/hash-api/src/graphql/resolvers/knowledge/page/update-page-contents.ts
  apps/hash-frontend/package.json
  apps/hash-frontend/src/blocks/page/create-editor-view.ts
  apps/hash-frontend/src/blocks/page/page-block.tsx
  apps/hash-frontend/src/blocks/user-blocks.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/subcommand/type_fetcher.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/type-fetcher/Cargo.toml
  apps/hash-graph/tests/integration/Cargo.toml
  blocks/address/package.json
  blocks/table/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/page.typedef.ts
  libs/@local/hash-isomorphic-utils/src/blocks.ts
  libs/@local/hash-isomorphic-utils/src/save.ts
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend, A-blocks, A-backend

#2548 Always run BE integration tests and PW tests
  .github/workflows/ci.yml
Labels: A-infra

#2540 Support raw reading from the Graph in BE tests
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
Labels: A-hash, api

#2550 Add Qdrant to prototype Docker compose
  apps/hash-external-services/docker-compose.prototype.yml
  apps/hash-external-services/package.json
  apps/hash-external-services/turbo.json
  apps/hash/README.md
  package.json
Labels: A-hash, A-infra

#2542 Provide constants for `temporalAxes`
  apps/hash-api/src/graph/index.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-api/src/graph/system-user.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/graphql/resolvers/ontology/data-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/property-type.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-entities-context-value.tsx
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
Labels: A-hash, api, integration, frontend

#2543 Add ability to upgrade the version of expected entity types in links
  .changeset/slow-impalas-flow.md
  apps/hash-frontend/src/pages/shared/breadcrumbs.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
  libs/@hashintel/design-system/src/theme/components/data-display/mui-tooltip-theme-options.ts
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/link-entity-type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector/shared/expected-value-badge.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/question-icon.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/version-upgrade-indicator.tsx
Labels: A-hash, frontend

#2554 Fix production Docker compose and images
  apps/hash-api/turbo.json
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-external-services/postgres/init-user-db.sh
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Labels: A-hash, api, docker

#2490 `deer`: rework value deserializer
  libs/deer/src/lib.rs
  libs/deer/src/value.rs
  libs/deer/src/value/bytes.rs
  libs/deer/src/value/object.rs
  libs/deer/src/value/string.rs
Labels: A-deer

#2555 Add very basic snapshot tests to BE integrations
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: integration

#2556 Provide yarn script to run production environment
  apps/hash-external-services/package.json
  apps/hash-external-services/turbo.json
  apps/hash-graph/package.json
  apps/hash-graph/turbo.json
  package.json
Labels: A-hash, A-infra, A-backend

#2571 Add documentation on how to create snapshots from the Graph
  tests/hash-backend-integration/README.md
Labels: integration

#2425 `deer`: improve how floats are handled
  libs/deer/Cargo.toml
  libs/deer/src/impls/core.rs
  libs/deer/src/impls/core/floating.rs
  libs/deer/src/impls/core/num.rs
  libs/deer/src/impls/core/num/floating.rs
  libs/deer/src/impls/core/num/integral.rs
  libs/deer/tests/test_impls_core_floating.rs
  libs/deer/tests/test_impls_core_num_primitives.rs
Labels: A-deer

#2578 Add entity type base URL filter
  apps/hash-api/src/graph/knowledge/primitive/entity/query.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-entities-context-value.tsx
Labels: A-hash, api, frontend

#2577 Jump to start of document when pressing Enter in page's title
  apps/hash-frontend/src/blocks/page/page-block.tsx
  apps/hash-frontend/src/blocks/page/page-context.tsx
  apps/hash-frontend/src/blocks/page/page-title/page-title.tsx
  apps/hash-frontend/src/blocks/page/page-title/utils.ts
  libs/@local/hash-isomorphic-utils/src/prosemirror-manager.ts
Labels: A-hash, frontend

#2573 Make the type fetcher available to the Rest API through the `FetchingStore`
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/api_resource.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
Labels: A-hash, A-backend

#2559 `deer`: implement various helpers
  libs/deer/desert/src/deserializer.rs
  libs/deer/src/error/type.rs
  libs/deer/src/helpers.rs
  libs/deer/src/lib.rs
  libs/deer/src/schema.rs
  libs/deer/tests/test_enum_visitor.rs
Labels: A-deer

#2574 Implement logic on `TypeFetcher` to load provided URL
  apps/hash-graph/lib/graph/src/store/fetcher.rs
Labels: A-hash, A-backend

#2575 Provide conversion on `RestApiStore` to simplify interfacing with the `TypeFetcher`
  apps/hash-graph/lib/graph/src/api/rest.rs
Labels: A-hash, A-backend

#2580 Auto-expand parent pages in # sidebar when creating sub-pages
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
Labels: A-hash, frontend

#1792 Support `startsWith`, `endsWith`, and `containsSegment` in structural queries
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/rest-test.http
Labels: A-hash, A-backend

#2576 Adjust ontology creation methods to load external types
  apps/hash-graph/.justfile
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/rest-test.http
Labels: A-hash, A-backend

#2586 Allow @ mentioning any entity from within text blocks
  apps/hash-frontend/src/blocks/page/create-suggester/create-suggester.tsx
  apps/hash-frontend/src/blocks/page/create-suggester/mention-suggester.tsx
  apps/hash-frontend/src/blocks/page/mention-view/mention-display.tsx
  apps/hash-frontend/src/components/hooks/use-all-entities-except.ts
  apps/hash-frontend/src/components/hooks/use-entity-by-id.ts
  apps/hash-frontend/src/components/hooks/use-workspace-shortname-by-entity-uuid.ts
  apps/hash-frontend/src/components/page-icon.tsx
  libs/@hashintel/design-system/src/icon-link.tsx
Labels: A-hash, frontend

#2585 Display icon for Link types
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/shared/icons/linked-icon.tsx
Labels: A-hash, frontend

#2598 Improve various READMEs
  README.md
  apps/README.md
  apps/hash-agents/README.md
  apps/hash-ai-worker-py/README.md
  apps/hash-ai-worker-ts/README.md
  apps/hash-api/README.md
  apps/hash-external-services/README.md
  apps/hash-frontend/README.md
  apps/hash-graph/README.md
  apps/intellij-plugin/README.md
Labels: A-hash, A-infra, api, frontend, A-backend

#2592 Add diagram to make test snapshot more readable
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.txt
Labels: integration

#2584 Bump `type-system` crate to `cdde49`
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/type-fetcher/Cargo.toml
  apps/hash-graph/tests/integration/Cargo.toml
Labels: C-dependencies, A-hash, A-backend

#2601 Correctly use the `FRONTEND_URL` variable in the `hash-api` package
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
Labels: A-hash, api

#2593 Add snapshot to BE tests with circular links
  apps/hash-graph/.justfile
  apps/hash-graph/tests/circular-links.http
  apps/hash-graph/tests/friendship.http
  tests/hash-backend-integration/src/tests/subgraph/circular.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.txt
Labels: A-hash, integration, A-backend

#2587 Add a wider range of subgraph integration tests
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
Labels: integration

#2599 Add test cases for a circular test graph
  tests/hash-backend-integration/src/tests/subgraph/circular.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.txt
Labels: integration

#2513 `deer`: introduce `IdentifierVisitor`
  libs/deer/desert/Cargo.toml
  libs/deer/desert/src/deserializer.rs
  libs/deer/json/src/lib.rs
  libs/deer/src/error.rs
  libs/deer/src/error/unknown.rs
  libs/deer/src/impls/core/num.rs
  libs/deer/src/lib.rs
  libs/deer/src/macros.rs
  libs/deer/src/value.rs
  libs/deer/src/value/array.rs
  libs/deer/src/value/bytes.rs
  libs/deer/src/value/object.rs
  libs/deer/src/value/string.rs
  libs/deer/tests/test_macros_identifier.rs
Labels: A-deer

#2596 Add button for converting entity types to link types
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/convert-type-button.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/convert-type-button/convert-type-confirmation-modal.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/edit-bar-type-editor.tsx
Labels: A-hash, frontend

#2604 Return an empty subgraph if ontology type queried by its ID does not exist
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
Labels: A-hash, api

#2608 Use Vault for HASH AWS credentials
  .github/actions/docker-build-push/action.yml
  .github/actions/docker-ecr-login/action.yml
  .github/workflows/hash-backend-cd.yml
Labels: A-infra

#2609 Automate HASH infrastructure deployment
  .github/workflows/tf-apply-hash.yml
  .github/workflows/tf-plan-hash.yml
  infra/terraform/hash/main.tf
  infra/terraform/hash/variables.tf
Labels: A-infra

#2613 Fix parens in matrix check
  .github/workflows/tf-apply-hash.yml
Labels: A-infra

#2612 Move reading vertices until after traversal is finished
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/traversal_context.rs
Labels: A-hash, A-backend

#2614 Add a basic batch-filter for structural queries
  apps/hash-graph/lib/graph/src/shared/identifier/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/lib/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/lib/graph/src/store/query.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  apps/hash-graph/lib/graph/src/subgraph.rs
Labels: A-hash, A-backend

#2615 Support batched reading for ontology-ontology edges
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query.rs
Labels: A-hash, A-backend

#2618 Refactor Terraform scripts to use shared modules
  apps/hash-external-services/docker-compose.prod.yml
  infra/terraform/hash/bastion.md
  infra/terraform/hash/container_cluster/main.tf
  infra/terraform/hash/container_cluster/outputs.tf
  infra/terraform/hash/container_cluster/variables.tf
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/hash_application/kratos.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/type_fetcher.tf
  infra/terraform/hash/hash_application/variables.tf
  infra/terraform/hash/main.tf
  infra/terraform/hash/networking/main.tf
  infra/terraform/hash/networking/outputs.tf
  infra/terraform/hash/networking/variables.tf
  infra/terraform/hash/postgres/main.tf
  infra/terraform/hash/postgres/outputs.tf
  infra/terraform/hash/postgres/postgres.tf
  infra/terraform/hash/postgres/restore_db_snapshot.sh
  infra/terraform/hash/postgres/variables.tf
  infra/terraform/hash/postgres_roles/main.tf
  infra/terraform/hash/postgres_roles/postgres_roles.tf
  infra/terraform/hash/postgres_roles/variables.tf
  infra/terraform/hash/redis/main.tf
  infra/terraform/hash/redis/outputs.tf
  infra/terraform/hash/redis/variables.tf
  infra/terraform/hash/terraform.tf
  infra/terraform/modules/base_network/main.tf
  infra/terraform/modules/base_network/outputs.tf
  infra/terraform/modules/base_network/terraform.tf
  infra/terraform/modules/base_network/variables.tf
  infra/terraform/modules/bastion/main.tf
  infra/terraform/modules/bastion/ssh_bastion.sh
  infra/terraform/modules/bastion/terraform.tf
  infra/terraform/modules/container_registry/main.tf
  infra/terraform/modules/container_registry/terraform.tf
  infra/terraform/modules/networking/main.tf
  infra/terraform/modules/tunnel/main.tf
  infra/terraform/modules/variables/main.tf
  infra/terraform/modules/variables/output.tf
  infra/terraform/modules/variables/terraform.tf
  infra/terraform/modules/variables/variables.tf
  infra/terraform/modules/vault_aws_auth/env.sh
  infra/terraform/modules/vault_aws_auth/main.tf
  infra/terraform/modules/vault_aws_auth/terraform.tf
  infra/terraform/modules/vault_aws_auth/variables.tf
Labels: A-hash

#2626 Support batched reading for entity-entity edges
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
Labels: A-hash, A-backend
