Repository hashintel/hash, pull requests merged in 2023-03, with the labels that each got.

#2124 Add `How-to` block
  blocks/how-to/.gitignore
  blocks/how-to/LICENSE-APACHE.md
  blocks/how-to/LICENSE-MIT.md
  blocks/how-to/LICENSE.md
  blocks/how-to/README.md
  blocks/how-to/package.json
  blocks/how-to/public/block-preview.png
  blocks/how-to/public/book-arrow-right.svg
  blocks/how-to/src/app.tsx
  blocks/how-to/src/assets.d.ts
  blocks/how-to/src/dev.tsx
  blocks/how-to/src/editable-field.tsx
  blocks/how-to/src/index.ts
  blocks/how-to/src/rich-text-editable-field.tsx
  blocks/how-to/src/step.tsx
  blocks/how-to/src/types.ts
  blocks/how-to/theme-override.d.ts
  blocks/how-to/tsconfig.json
  blocks/how-to/variants.json
  libs/@hashintel/design-system/src/fa-icons/fa-pen.tsx
  libs/@hashintel/design-system/src/fa-icons/fa-plus.tsx
  libs/@hashintel/design-system/src/fa-icons/fa-trash.tsx
  libs/@hashintel/design-system/src/fa-icons/icons.tsx
  yarn.lock
Labels: C-dependencies, A-blocks

#2136 Update `/blocks` overview table
  blocks/README.md
Labels: A-blocks

#2134 Add `AI Text` block
  .gitignore
  apps/hash-frontend/package.json
  blocks/address/package.json
  blocks/ai-text/.eslintrc.cjs
  blocks/ai-text/LICENSE-APACHE.md
  blocks/ai-text/LICENSE-MIT.md
  blocks/ai-text/LICENSE.md
  blocks/ai-text/README.md
  blocks/ai-text/package.json
  blocks/ai-text/public/ai-text.svg
  blocks/ai-text/public/block-preview.png
  blocks/ai-text/src/app.tsx
  blocks/ai-text/src/app/confirmed-text.tsx
  blocks/ai-text/src/app/generate-text.tsx
  blocks/ai-text/src/app/generate-text/text-preview.tsx
  blocks/ai-text/src/assets.d.ts
  blocks/ai-text/src/dev.tsx
  blocks/ai-text/src/index.ts
  blocks/ai-text/src/types.ts
  blocks/ai-text/tsconfig.json
  blocks/ai-text/variants.json
  blocks/how-to/package.json
  libs/@hashintel/design-system/package.json
  libs/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, frontend, A-blocks

#2137 Update `Address` block to v2
  blocks/address/package.json
  blocks/address/public/address.svg
  blocks/address/public/block-preview.png
  blocks/address/public/omega.svg
  blocks/address/src/address-card.tsx
  blocks/address/src/app.tsx
  blocks/address/src/dev.tsx
  blocks/address/src/editable-field.tsx
  blocks/address/src/types.ts
  blocks/address/src/useMapbox.tsx
  yarn.lock
Labels: C-dependencies, A-blocks

#2145 Improve various block docs and metadata
  apps/hashdotdev/package.json
  blocks/address/README.md
  blocks/address/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/calculation/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/code/README.md
  blocks/code/package.json
  blocks/countdown/README.md
  blocks/countdown/package.json
  blocks/divider/README.md
  blocks/divider/package.json
  blocks/embed/package.json
  blocks/heading/package.json
  blocks/how-to/package.json
  blocks/html-para/block-metadata.json
  blocks/html-para/package.json
  blocks/image/README.md
  blocks/image/package.json
  blocks/paragraph/package.json
  blocks/person/package.json
  blocks/shuffle/README.md
  blocks/shuffle/package.json
  blocks/stopwatch/package.json
  blocks/table/package.json
  blocks/timer/README.md
  blocks/timer/package.json
  blocks/toggle-item/package.json
  blocks/video/README.md
  blocks/video/package.json
Labels: A-blocks

#2140 Update various repo READMEs
  README.md
  apps/README.md
  apps/hashdotdev/src/_pages/blog/0012_block-protocol-0-3-wordpress.mdx
  blocks/README.md
  libs/README.md
Labels: A-infra, A-blocks

#2142 Add `Property Type` URL copying to `Entity Type` editor
  apps/hash-frontend/package.json
  libs/@hashintel/type-editor/package.json
  libs/@hashintel/type-editor/src/entity-type-editor/shared/type-menu-cell.tsx
Labels: A-hash, frontend

#2146 Satisfy clippy for new Rust toolchain
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/representative_read/lib.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/bound.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/interval.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/query.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  libs/deer/desert/src/error.rs
  libs/deer/tests/test_value.rs
  libs/error-stack/examples/detect.rs
Labels: A-hash, A-error-stack, A-backend, A-deer

#2141 Fix `How-to` block bugs
  blocks/how-to/package.json
  blocks/how-to/src/app.tsx
  libs/@hashintel/design-system/src/theme/typography.ts
Labels: A-blocks

#2151 Bump `How-to` block version
  blocks/how-to/package.json
Labels: A-blocks

#2126 Allow running external services in "offline" mode
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash/README.md
  package.json
Labels: A-hash, A-infra

#2115 Implement `Interval` ordering
  apps/hash-graph/lib/graph/src/shared/interval.rs
  apps/hash-graph/lib/graph/src/shared/interval/bounds.rs
Labels: A-hash, A-backend

#2116 Merge overlapping intervals when iterating through edge endpoints
  apps/hash-graph/lib/graph/src/shared/identifier.rs
  apps/hash-graph/lib/graph/src/shared/interval.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/edges.rs
Labels: A-hash, A-backend

#1881 Rename `Dependency` to `Traversal`
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-hash, A-backend

#2166 Add the `merge_group` trigger to CI workflows
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/rust.yml
  .github/workflows/semgrep.yml
Labels: A-infra

#2167 Remove Trunk.io configurations
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/rust.yml
  .github/workflows/semgrep.yml
  .trunk/.gitignore
  .trunk/trunk.yaml
  vercel.json
Labels: A-infra

#2170 Globally allow `clippy::significant_drop_tightening`
  .config/lints.toml
  apps/hash-graph/.cargo/config.toml
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/representative_read/lib.rs
  apps/hash-graph/lib/graph/src/logging/init.rs
  libs/deer/.cargo/config.toml
  libs/error-stack/.cargo/config.toml
Labels: A-hash, A-error-stack, A-backend, A-deer

#2171 Remove optimization path in traversal logic
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-hash, A-backend

#2173 AI Text Block Improvements
  blocks/ai-text/package.json
  blocks/ai-text/src/app.tsx
  blocks/ai-text/src/app/generate-text.tsx
  blocks/ai-text/src/app/generate-text/bouncing-dots-loader.tsx
  blocks/ai-text/src/app/generate-text/text-preview.tsx
  blocks/ai-text/src/icons/abstract-ai.tsx
  blocks/ai-text/src/icons/arrow-turn-down-left.tsx
  blocks/ai-text/src/icons/arrow-up.tsx
  blocks/ai-text/src/icons/text.tsx
  blocks/ai-text/theme-override.d.ts
  blocks/ai-text/tsconfig.json
Labels: A-blocks

#2174 Move traversal implementation to unfold loop instead of recursive calls
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-hash, A-backend

#2153 Resolve only one type and remove the exhaustive variant in the type fetcher
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bin/cli/src/subcommand/type_fetcher.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/lib/type-fetcher/Cargo.toml
  apps/hash-graph/lib/type-fetcher/src/fetcher.rs
  apps/hash-graph/lib/type-fetcher/src/fetcher_server.rs
Labels: C-dependencies, A-hash, A-backend

#2177 Make `subgraph` a top-level module
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/knowledge/entity/query.rs
  apps/hash-graph/lib/graph/src/lib.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/shared.rs
  apps/hash-graph/lib/graph/src/shared/identifier.rs
  apps/hash-graph/lib/graph/src/shared/identifier/knowledge.rs
  apps/hash-graph/lib/graph/src/shared/identifier/ontology.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/axis.rs
  apps/hash-graph/lib/graph/src/shared/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  apps/hash-graph/lib/graph/src/store/record.rs
  apps/hash-graph/lib/graph/src/subgraph.rs
  apps/hash-graph/lib/graph/src/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/subgraph/edges/edge.rs
  apps/hash-graph/lib/graph/src/subgraph/edges/endpoint.rs
  apps/hash-graph/lib/graph/src/subgraph/edges/kind.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier/edge.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier/vertex.rs
  apps/hash-graph/lib/graph/src/subgraph/query.rs
  apps/hash-graph/lib/graph/src/subgraph/temporal_axes.rs
  apps/hash-graph/lib/graph/src/subgraph/vertices.rs
  apps/hash-graph/tests/integration/postgres/lib.rs
Labels: A-hash, A-backend

#2172 Update `AI Image` block styles
  blocks/ai-image/package.json
  blocks/ai-image/src/app.tsx
  blocks/ai-image/src/app/generate-image.tsx
  blocks/ai-image/src/app/generate-image/bouncing-dots-loader.tsx
  blocks/ai-image/src/app/generate-image/image-preview.tsx
  blocks/ai-image/src/icons/abstract-ai.tsx
  blocks/ai-image/src/icons/arrow-left.tsx
  blocks/ai-image/src/icons/arrow-turn-down-left.tsx
  blocks/ai-image/src/icons/arrow-up.tsx
  blocks/ai-image/src/icons/image.tsx
  blocks/ai-image/src/icons/question-circle.tsx
  blocks/ai-image/src/icons/square-dashed-circle-plus.tsx
  blocks/ai-image/theme-override.d.ts
Labels: A-blocks

#2176 Add model selector to `AI Text` block
  blocks/address/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/ai-text/src/app/generate-text.tsx
  blocks/ai-text/src/app/generate-text/bouncing-dots-loader.tsx
  blocks/ai-text/src/app/generate-text/model-selector.tsx
  blocks/ai-text/src/app/generate-text/text-preview.tsx
  blocks/ai-text/src/icons/caret-down.tsx
  blocks/ai-text/src/icons/check.tsx
  blocks/ai-text/src/icons/question-circle.tsx
  yarn.lock
Labels: C-dependencies, A-blocks

#2185 Make step ordering deterministic in How To block
  blocks/how-to/src/app.tsx
Labels: A-blocks

#2178 Define vertex ids for all ontology types
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  apps/hash-graph/lib/graph/src/subgraph/edges/endpoint.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier/edge.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier/vertex.rs
  apps/hash-graph/lib/graph/src/subgraph/vertices.rs
  apps/hash-graph/tests/integration/postgres/lib.rs
  libs/@local/hash-graph-client/api.ts
Labels: A-hash, A-backend

#2181 Use function on `Subgraph` to insert edges
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/subgraph.rs
  apps/hash-graph/lib/graph/src/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/subgraph/edges/edge.rs
  apps/hash-graph/lib/graph/src/subgraph/edges/kind.rs
Labels: A-hash, A-backend

#2183 Store adjacency list for each (planned) reference table
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices/vertex.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/record.rs
  apps/hash-graph/lib/graph/src/subgraph.rs
  apps/hash-graph/lib/graph/src/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/subgraph/edges/kind.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier/edge.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier/vertex.rs
  apps/hash-graph/lib/graph/src/subgraph/vertices.rs
Labels: A-hash, A-backend

#2179 `AI Image` Wordpress fixes
  blocks/ai-image/src/app/generate-image.tsx
  blocks/ai-image/src/app/generate-image/image-preview.tsx
Labels: A-blocks

#2182 `AI Text` Wordpress fixes
  blocks/ai-text/src/app/generate-text.tsx
  blocks/ai-text/src/app/generate-text/model-selector.tsx
  blocks/ai-text/src/app/generate-text/text-preview.tsx
Labels: A-blocks

#2191 Always run Rust jobs when `.config` changed
  .github/scripts/rust/setup.py
  libs/antsi/.cargo/config.toml
Labels: A-infra, A-antsi

#2192 Use sparse cargo profile
  .cargo/config.toml
  .github/scripts/rust/setup.py
Labels: A-infra

#2194 Tweak commit message for Rust crates
  .github/renovate.json
Labels: A-infra

#2164 Fix and improve `Address` block
  blocks/address/.eslintrc.cjs
  blocks/address/package.json
  blocks/address/public/address.svg
  blocks/address/src/address-card.tsx
  blocks/address/src/app.tsx
  blocks/address/src/dev.tsx
  blocks/address/src/editable-field.tsx
  blocks/address/src/map-button.tsx
  blocks/address/src/use-mapbox.tsx
  blocks/address/src/useMapbox.tsx
  libs/@hashintel/design-system/src/autocomplete-dropdown.tsx
  libs/@hashintel/design-system/src/autocomplete.tsx
  libs/@hashintel/design-system/src/main.ts
  yarn.lock
Labels: C-dependencies, A-blocks

#2195 Remove potential optimization path in Query compiler
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
Labels: A-hash, A-backend

#2186 Implement blurDataURL for hashdotdev blog post list and blog content
  apps/hashdotdev/package.json
  apps/hashdotdev/src/components/blog-post.tsx
  apps/hashdotdev/src/components/mdx-image.tsx
  apps/hashdotdev/src/pages/blog/index.page.tsx
  apps/hashdotdev/src/pages/blog/shared/get-photo.ts
  apps/hashdotdev/src/util/image-metadata.ts
  apps/hashdotdev/src/util/mdx-util.ts
  yarn.lock
Labels: C-dependencies

#1946 Add new `Table` block (MVP supporting local data only)
  blocks/table/README.md
  blocks/table/declarations.d.ts
  blocks/table/example-graph.json
  blocks/table/package.json
  blocks/table/public/block-preview.png
  blocks/table/public/check.svg
  blocks/table/public/gear.svg
  blocks/table/public/pen-to-square.svg
  blocks/table/public/preview.svg
  blocks/table/public/xmark.svg
  blocks/table/src/additional-types.ts
  blocks/table/src/app.tsx
  blocks/table/src/assets.d.ts
  blocks/table/src/base.module.scss
  blocks/table/src/components/editable-cell.tsx
  blocks/table/src/components/entity-type-dropdown.tsx
  blocks/table/src/components/filter-detail.tsx
  blocks/table/src/components/grid/grid.tsx
  blocks/table/src/components/grid/use-render-grid-portal.ts
  blocks/table/src/components/header-menu/header-menu.tsx
  blocks/table/src/components/header-menu/styles.module.scss
  blocks/table/src/components/header.tsx
  blocks/table/src/components/icons.tsx
  blocks/table/src/components/menu.tsx
  blocks/table/src/components/pagination.tsx
  blocks/table/src/components/settings/settings.tsx
  blocks/table/src/components/settings/styles.module.scss
  blocks/table/src/components/sort-detail.tsx
  blocks/table/src/components/table-title/styles.module.scss
  blocks/table/src/components/table-title/table-title.tsx
  blocks/table/src/components/toggle-columns-detail.tsx
  blocks/table/src/dev.tsx
  blocks/table/src/index.ts
  blocks/table/src/lib/columns.ts
  blocks/table/src/lib/compare-entities-by-field.ts
  blocks/table/src/lib/filter-entities.ts
  blocks/table/src/lib/get-schema-property.ts
  blocks/table/src/lib/identify-entity.ts
  blocks/table/src/lib/omit-typename-deep.ts
  blocks/table/src/lib/sort-entities.ts
  blocks/table/src/react-table-config.d.ts
  blocks/table/src/table.tsx
  blocks/table/src/types.ts
  blocks/table/tsconfig.json
  blocks/table/variants.json
  yarn.lock
Labels: C-dependencies, A-blocks

#2193 Use automerge for renovate PRs
  .github/renovate.json
Labels: A-infra

#2197 Table Block Cleanup
  blocks/table/package.json
  blocks/table/public/check.svg
  blocks/table/public/gear.svg
  blocks/table/public/pen-to-square.svg
  blocks/table/public/xmark.svg
  blocks/table/src/base.module.scss
  blocks/table/src/components/header-menu/styles.module.scss
  blocks/table/src/components/settings/styles.module.scss
  blocks/table/src/components/table-title/styles.module.scss
  blocks/table/src/dev.tsx
Labels: A-blocks

#2097 `antsi`: extensions
  libs/antsi/src/color.rs
  libs/antsi/src/decorations.rs
  libs/antsi/src/font.rs
  libs/antsi/src/lib.rs
Labels: A-antsi

#2021 CI: switch from quickinstall to `install-action`
  .github/workflows/rust.yml
Labels: A-infra

#2204 Remove Changeset linting step from CI workflow
  .github/workflows/ci.yml
  package.json
Labels: A-infra

#2205 Fix collecting of edges by merging them
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
Labels: A-hash, A-backend

#2200 Fix `owned_by_id` not used when joining entity tables
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-hash, A-backend

#2201 Simplify reference table definitions
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-hash, A-backend

#2196 Fix option identification in dropdowns, document package publishing
  .changeset/cool-spies-sneeze.md
  .changeset/gentle-camels-rhyme.md
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/entity-type-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  libs/@hashintel/design-system/README.md
  libs/@hashintel/design-system/src/selector-autocomplete.tsx
  libs/@hashintel/design-system/src/selector-autocomplete/selector-autocomplete-option.tsx
  libs/@hashintel/type-editor/README.md
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/link-entity-type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/insert-property-row/type-selector.tsx
  libs/README.md
Labels: A-hash, frontend

#2221 Version Packages
  .changeset/angry-trains-bake.md
  .changeset/cool-spies-sneeze.md
  .changeset/gentle-camels-rhyme.md
  apps/hash-frontend/package.json
  blocks/address/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/how-to/package.json
  blocks/shuffle/package.json
  libs/@hashintel/design-system/CHANGELOG.md
  libs/@hashintel/design-system/package.json
  libs/@hashintel/type-editor/CHANGELOG.md
  libs/@hashintel/type-editor/package.json
Labels: A-hash, frontend, A-blocks

#2202 Use reference tables for all edge kinds
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/postgres_migrations/V2__ontology_tables.sql
  apps/hash-graph/postgres_migrations/V3__knowledge_tables.sql
  apps/hash-graph/postgres_migrations/V6__knowledge_functions.sql
Labels: A-hash, A-backend

#2228 Fix minor issues with `Table` block
  blocks/table/src/app.tsx
  blocks/table/src/base.module.scss
  blocks/table/src/components/grid/grid.tsx
  blocks/table/src/components/settings/styles.module.scss
Labels: A-blocks

#2232 Manually invoke `cargo-script` instead of using `cargo-make`
  .github/scripts/rust/Makefile.lint.toml
  .github/workflows/rust.yml
Labels: A-infra

#2233 Upload clippy report to GitHub
  .github/workflows/rust.yml
  .gitignore
Labels: A-infra

#2156 `error-stack`: improve formatting docs
  libs/error-stack/src/fmt.rs
Labels: A-error-stack

#2238 Only run semver check if it's not an initial version
  .github/workflows/rust.yml
Labels: A-infra

#2237 Reserve `sarif` crate
  .github/CODEOWNERS
  .github/labeler.yml
  .github/renovate.json
  .github/scripts/rust/setup.py
  libs/README.md
  libs/sarif/.cargo/config.toml
  libs/sarif/.config/lints.toml
  libs/sarif/.gitignore
  libs/sarif/Cargo.toml
  libs/sarif/LICENSE-APACHE.md
  libs/sarif/LICENSE-MIT.md
  libs/sarif/LICENSE.md
  libs/sarif/Makefile.toml
  libs/sarif/README.md
  libs/sarif/rust-toolchain.toml
  libs/sarif/src/lib.rs
Labels: A-infra

#2222 Add Minesweeper block
  .gitignore
  .prettierignore
  blocks/minesweeper/.eslintrc.cjs
  blocks/minesweeper/LICENSE-APACHE.md
  blocks/minesweeper/LICENSE-MIT.md
  blocks/minesweeper/LICENSE.md
  blocks/minesweeper/README.md
  blocks/minesweeper/mine-sweeper-tag.d.ts
  blocks/minesweeper/package.json
  blocks/minesweeper/public/block-preview.png
  blocks/minesweeper/public/minesweeper-icon.svg
  blocks/minesweeper/src/app.ts
  blocks/minesweeper/src/dev.tsx
  blocks/minesweeper/src/index.ts
  blocks/minesweeper/tsconfig.json
  yarn.lock
Labels: C-dependencies, A-infra, A-blocks

#2248 `antsi`: feature gate extensions
  libs/antsi/Cargo.toml
  libs/antsi/src/color.rs
  libs/antsi/src/font.rs
  libs/antsi/src/lib.rs
Labels: A-antsi

#2207 Use edge definitions in query paths
  apps/hash-graph/bench/representative_read/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/knowledge/entity/query.rs
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  apps/hash-graph/tests/integration/postgres/lib.rs
Labels: A-hash, A-backend

#2249 Remove outdated comment in `setup.py`
  .github/scripts/rust/setup.py
Labels: A-infra

#1787 Introduce HASH Status Package and Model
  .github/renovate.json
  .gitignore
  .markdownlintignore
  .prettierignore
  libs/@local/status/.eslintrc.cjs
  libs/@local/status/LICENSE-APACHE.md
  libs/@local/status/LICENSE-MIT.md
  libs/@local/status/LICENSE.md
  libs/@local/status/README.md
  libs/@local/status/crate/.cargo/config.toml
  libs/@local/status/crate/Cargo.lock
  libs/@local/status/crate/Cargo.toml
  libs/@local/status/crate/Makefile.toml
  libs/@local/status/crate/rust-toolchain.toml
  libs/@local/status/crate/src/lib.rs
  libs/@local/status/crate/src/status_code.rs
  libs/@local/status/crate/src/status_code/http_compat.rs
  libs/@local/status/package.json
  libs/@local/status/pkg/src/main.ts
  libs/@local/status/pkg/src/status-code.ts
  libs/@local/status/scripts/codegen.ts
  libs/@local/status/tsconfig.json
  libs/@local/status/type-defs/status-code.ts
  libs/@local/status/type-defs/status-payloads.ts
  libs/@local/status/type-defs/status-payloads/error-info.ts
  libs/@local/status/type-defs/status-payloads/request-info.ts
  libs/@local/status/type-defs/status.ts
  yarn.lock
Labels: C-dependencies, A-infra

#2250 `antsi`: rework getter
  libs/antsi/src/decorations.rs
  libs/antsi/src/font.rs
  libs/antsi/src/lib.rs
Labels: A-antsi

#2243 Implement basic conformance to SARIF
  libs/sarif/.cargo/config.toml
  libs/sarif/.config/lints.toml
  libs/sarif/Cargo.toml
  libs/sarif/README.md
  libs/sarif/clippy.toml
  libs/sarif/src/lib.rs
  libs/sarif/src/schema.rs
  libs/sarif/src/schema/log.rs
  libs/sarif/src/schema/run.rs
  libs/sarif/src/schema/tool.rs
  libs/sarif/tests/schemas/sarif-2.1.0.json
Labels: A-sarif

#2203 Improve `How-to` block
  blocks/how-to/.eslintrc.cjs
  blocks/how-to/package.json
  blocks/how-to/src/app.tsx
  blocks/how-to/src/dev.tsx
  blocks/how-to/src/editable-field.tsx
  blocks/how-to/src/index.ts
  blocks/how-to/src/rich-text-editable-field.tsx
  blocks/how-to/src/step.tsx
  libs/@hashintel/design-system/src/editable-field.tsx
  libs/@hashintel/design-system/src/main.ts
Labels: A-blocks

#2245 Add all fields for `Tool` struct
  libs/sarif/Cargo.toml
  libs/sarif/Makefile.toml
  libs/sarif/src/lib.rs
  libs/sarif/src/schema.rs
  libs/sarif/src/schema/log.rs
  libs/sarif/src/schema/properties.rs
  libs/sarif/src/schema/run.rs
  libs/sarif/src/schema/tool.rs
Labels: A-sarif

#2252 Add example SARIF files as test data
  libs/sarif/src/schema.rs
  libs/sarif/tests/example_reports/k1_minimal.sarif.json
  libs/sarif/tests/example_reports/k2_recommended_with_source.sarif.json
  libs/sarif/tests/example_reports/k3_recommended_without_source.sarif.json
  libs/sarif/tests/example_reports/k4_comprehensive.sarif.json
Labels: A-sarif

#2223 Use reference tables when looking up ontology references
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-hash, A-backend

#2157 `deer`: introduce `FieldAccess`
  libs/deer/desert/src/object.rs
  libs/deer/json/src/lib.rs
  libs/deer/src/error.rs
  libs/deer/src/lib.rs
Labels: A-deer

#2246 Support `version` and `semantic_version` in `ToolComponent`
  libs/sarif/Cargo.toml
  libs/sarif/src/schema/log.rs
  libs/sarif/src/schema/tool.rs
Labels: A-sarif

#2256 Expose ontology transaction time to the graph
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/lib/graph/src/store/query.rs
Labels: A-hash, A-backend

#2259 Consistently set private: true in blocks
  blocks/address/package.json
  blocks/how-to/package.json
  blocks/minesweeper/package.json
  blocks/table/package.json
Labels: A-blocks

#2225 Address Block - Configure button
  blocks/address/src/address-card.tsx
  blocks/address/src/app.tsx
  blocks/address/src/editable-field.tsx
  blocks/ai-image/src/app/generate-image.tsx
  blocks/ai-image/src/icons/question-circle.tsx
  blocks/ai-text/src/app/generate-text.tsx
  blocks/ai-text/src/icons/question-circle.tsx
  blocks/how-to/package.json
  blocks/how-to/src/app.tsx
  libs/@hashintel/design-system/src/block-settings-button.tsx
  libs/@hashintel/design-system/src/get-help-link.tsx
  libs/@hashintel/design-system/src/icons/chevron-right.tsx
  libs/@hashintel/design-system/src/icons/gear.tsx
  libs/@hashintel/design-system/src/icons/icons.ts
  libs/@hashintel/design-system/src/main.ts
Labels: A-blocks

#2262 Add `<Skeleton/>` to `@hashintel/design-system` & use it for address block
  blocks/address/src/address-card.tsx
  blocks/address/src/address-card/content-stack.tsx
  blocks/address/src/address-card/map-wrapper.tsx
  blocks/address/src/address-card/styled-card.tsx
  blocks/address/src/app.tsx
  blocks/address/src/use-mapbox.tsx
  libs/@hashintel/design-system/package.json
  libs/@hashintel/design-system/src/main.ts
  libs/@hashintel/design-system/src/skeleton.tsx
  yarn.lock
Labels: C-dependencies, A-blocks

#2236 Add conflict behavior when batch-inserting ontology types
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/tests/integration/postgres/lib.rs
Labels: A-hash, A-backend

#2230 Deduplicate graph traversal for entities
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/subgraph/edges/edge.rs
Labels: A-hash, A-backend

#2240 Rename `Entities` to `EntityTemporalMetadata`
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-hash, A-backend

#2266 Allow special characters in entity type editor draft state
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
Labels: A-hash, frontend

#2272 Investigate GH runner out-of-device-memory error
  .gitignore
Labels: A-infra

#1810 Use the HASH Status lib in the Graph
  .github/workflows/hash-backend-cd.yml
  .github/workflows/rust.yml
  .gitignore
  .markdownlintignore
  .prettierignore
  apps/hash-api/package.json
  apps/hash-api/src/graph/index.ts
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-graph/.eslintrc.cjs
  apps/hash-graph/Cargo.lock
  apps/hash-graph/README.md
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/build.rs
  apps/hash-graph/lib/graph/src/api.rs
  apps/hash-graph/lib/graph/src/api/error.rs
  apps/hash-graph/lib/graph/src/api/gen.rs
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/json.rs
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/status.json
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/api/rest/status.rs
  apps/hash-graph/package.json
  apps/hash-graph/tsconfig.json
  apps/hash-graph/type-defs/status-payloads.ts
  apps/hash-graph/type-defs/status.ts
  libs/@local/hash-graph-client/api.ts
  libs/@local/status/README.md
  libs/@local/status/type-defs/status-payloads.ts
  libs/@local/status/type-defs/status-payloads/resource-info.ts
  packages/graph/hash_graph/type-defs/status-payloads.ts
  turbo.json
Labels: C-dependencies, A-hash, A-infra, api, A-backend

#2234 Create `Kanban Board` block working with local data
  apps/hash-frontend/package.json
  blocks/kanban-board/.eslintrc.cjs
  blocks/kanban-board/.gitignore
  blocks/kanban-board/LICENSE-APACHE.md
  blocks/kanban-board/LICENSE-MIT.md
  blocks/kanban-board/LICENSE.md
  blocks/kanban-board/README.md
  blocks/kanban-board/declarations.d.ts
  blocks/kanban-board/package.json
  blocks/kanban-board/public/block-preview.png
  blocks/kanban-board/public/kanban-board.svg
  blocks/kanban-board/src/additional-types.ts
  blocks/kanban-board/src/app.tsx
  blocks/kanban-board/src/assets.d.ts
  blocks/kanban-board/src/base.module.scss
  blocks/kanban-board/src/components/board-title/board-title.tsx
  blocks/kanban-board/src/components/board-title/styles.module.scss
  blocks/kanban-board/src/components/board/board.tsx
  blocks/kanban-board/src/components/board/card/card-content/card-content.tsx
  blocks/kanban-board/src/components/board/card/card-content/styles.module.scss
  blocks/kanban-board/src/components/board/card/card.tsx
  blocks/kanban-board/src/components/board/card/static-card.tsx
  blocks/kanban-board/src/components/board/card/styles.module.scss
  blocks/kanban-board/src/components/board/column/column.tsx
  blocks/kanban-board/src/components/board/column/editable-column-title/editable-column-title.tsx
  blocks/kanban-board/src/components/board/column/editable-column-title/styles.module.scss
  blocks/kanban-board/src/components/board/column/sortable-column.tsx
  blocks/kanban-board/src/components/board/column/styles.module.scss
  blocks/kanban-board/src/components/board/column/types.ts
  blocks/kanban-board/src/components/board/styles.module.scss
  blocks/kanban-board/src/components/board/types.ts
  blocks/kanban-board/src/components/icon-button/icon-button.tsx
  blocks/kanban-board/src/components/icon-button/styles.module.scss
  blocks/kanban-board/src/components/icons/discard-icon.tsx
  blocks/kanban-board/src/components/icons/edit-icon.tsx
  blocks/kanban-board/src/components/icons/plus-icon.tsx
  blocks/kanban-board/src/components/icons/save-icon.tsx
  blocks/kanban-board/src/dev.tsx
  blocks/kanban-board/src/index.ts
  blocks/kanban-board/src/types.ts
  blocks/kanban-board/tsconfig.json
  blocks/kanban-board/variants.json
  blocks/shuffle/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#2276 Remove deprecated link in GitHub Issues config
  .github/ISSUE_TEMPLATE/config.yml
Labels: A-infra

#2286 Use lifetimes for strings
  libs/sarif/src/schema.rs
  libs/sarif/src/schema/log.rs
  libs/sarif/src/schema/properties.rs
  libs/sarif/src/schema/run.rs
  libs/sarif/src/schema/tool.rs
Labels: A-sarif

#2264 Add `ReportingDescriptor` and `ToolComponent::rules`
  libs/sarif/Cargo.toml
  libs/sarif/src/schema.rs
  libs/sarif/src/schema/log.rs
  libs/sarif/src/schema/multiformat_message_string.rs
  libs/sarif/src/schema/properties.rs
  libs/sarif/src/schema/reporting_descriptor.rs
  libs/sarif/src/schema/tool.rs
Labels: A-sarif

#2267 Fix `Address` block error state when retrieving a suggestion
  blocks/address/src/app.tsx
Labels: A-blocks

#2260 Add JSON LD descriptions for image/video blocks
  blocks/image/src/components/media.tsx
  blocks/video/src/components/media.tsx
Labels: A-blocks

#2274 Fix `Table` block horizontal scrollbar issue
  blocks/table/package.json
  blocks/table/src/components/grid/get-scrollbar-width.ts
  blocks/table/src/components/grid/grid.tsx
  yarn.lock
Labels: C-dependencies, A-blocks

#2295 Install `cargo-make` manually
  .github/workflows/rust.yml
Labels: A-infra

#2294 Downgrade `status` from an ES-Module
  apps/hash-graph/package.json
  libs/@local/status/package.json
  libs/@local/status/scripts/codegen.ts
  libs/@local/status/tsconfig.json
Labels: A-hash, A-backend

#2291 `deer`: remove `ObjectAccess::value`
  libs/deer/desert/src/deserializer.rs
  libs/deer/desert/src/object.rs
  libs/deer/desert/src/tape.rs
  libs/deer/json/src/lib.rs
  libs/deer/src/lib.rs
Labels: A-deer

#2271 Entity type editor – make the "insert type" rows sticky
  .changeset/stupid-games-matter.md
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/edit-bar.tsx
  apps/hash-frontend/theme-override.d.ts
  blocks/address/theme-override.d.ts
  blocks/ai-image/theme-override.d.ts
  blocks/ai-text/theme-override.d.ts
  blocks/how-to/theme-override.d.ts
  blocks/shuffle/theme-override.d.ts
  libs/@hashintel/design-system/src/theme/shadows.ts
  libs/@hashintel/design-system/src/white-card.tsx
  libs/@hashintel/design-system/theme-override.d.ts
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/entity-type-table.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/insert-property-field/type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/insert-type-field.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/insert-type-row.tsx
  libs/@hashintel/type-editor/theme-override.d.ts
Labels: A-hash, frontend, A-blocks

#2263 `deer`: `EnumVisitor`
  libs/deer/desert/src/deserializer.rs
  libs/deer/desert/src/object.rs
  libs/deer/json/src/lib.rs
  libs/deer/src/lib.rs
  libs/deer/src/value.rs
  libs/deer/src/value/array.rs
  libs/deer/src/value/bytes.rs
  libs/deer/src/value/object.rs
  libs/deer/src/value/string.rs
  libs/deer/tests/test_enum_visitor.rs
Labels: A-deer

#2292 Use `just` instead of `cargo make`
  .env
  .github/actions/install-rust-toolchain/action.yml
  .github/scripts/rust/Makefile.lint.toml
  .github/scripts/rust/Makefile.toml
  .github/scripts/rust/lint.rs
  .github/scripts/rust/setup.py
  .github/workflows/rust.yml
  .justfile
  apps/engine/.justfile
  apps/engine/Makefile.toml
  apps/engine/rust-toolchain.toml
  apps/hash-graph/.justfile
  apps/hash-graph/Makefile.toml
  apps/hash-graph/README.md
  apps/hash-graph/package.json
  apps/hash-graph/rust-toolchain.toml
  libs/@local/status/crate/.justfile
  libs/@local/status/crate/Makefile.toml
  libs/@local/status/crate/rust-toolchain.toml
  libs/antsi/.justfile
  libs/antsi/Makefile.toml
  libs/antsi/rust-toolchain.toml
  libs/deer/Makefile.toml
  libs/deer/rust-toolchain.toml
  libs/error-stack/.justfile
  libs/error-stack/Makefile.toml
  libs/error-stack/macros/Makefile.toml
  libs/error-stack/rust-toolchain.toml
  libs/sarif/.justfile
  libs/sarif/Makefile.toml
  libs/sarif/rust-toolchain.toml
  package.json
  yarn.lock
Labels: C-dependencies, A-engine, A-hash, A-infra, A-error-stack, A-backend, A-deer, A-antsi, A-sarif

#2290 `deer`: rename `FieldAccess` to `FieldVisitor`
  libs/deer/desert/src/object.rs
  libs/deer/json/src/lib.rs
  libs/deer/src/error.rs
  libs/deer/src/lib.rs
  libs/deer/src/value/object.rs
  libs/deer/tests/test_enum_visitor.rs
Labels: A-deer

#2296 Use `rust-script` instead of `cargo-script`
  .github/scripts/rust/lint.rs
  .github/workflows/rust.yml
  .justfile
Labels: A-infra

#2297 Use `rust-toolchain.toml` file to install toolchains
  .github/actions/install-rust-toolchain/action.yml
  .github/workflows/rust.yml
Labels: A-infra

#2306 Add several Rust crate groups to renovate.json
  .github/renovate.json
Labels: A-infra

#2298 Fix `variants` for the Heading Block
  blocks/heading/package.json
  blocks/heading/variants.json
Labels: A-blocks

#2309 Fix wrongly inserted vertex id for nested properties
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: A-hash, A-backend

#2310 Fix ontology transaction-time query paths results in panic
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
Labels: A-hash, A-backend

#2312 Allow specifying CLI arguments globally to the Graph
  apps/hash-graph/lib/graph/src/logging/args.rs
  apps/hash-graph/lib/graph/src/store/config.rs
Labels: A-hash, A-backend

#2299 Add `AI Chat` block (MVP)
  apps/hash-frontend/package.json
  blocks/address/package.json
  blocks/ai-chat/.eslintrc.cjs
  blocks/ai-chat/LICENSE-APACHE.md
  blocks/ai-chat/LICENSE-MIT.md
  blocks/ai-chat/LICENSE.md
  blocks/ai-chat/README.md
  blocks/ai-chat/package.json
  blocks/ai-chat/public/ai-chat-icon.svg
  blocks/ai-chat/public/ai-chat-preview.png
  blocks/ai-chat/src/app.tsx
  blocks/ai-chat/src/complete-chat.tsx
  blocks/ai-chat/src/complete-chat/chat-message.tsx
  blocks/ai-chat/src/complete-chat/chat-model-selector.tsx
  blocks/ai-chat/src/complete-chat/chat-textfield.tsx
  blocks/ai-chat/src/complete-chat/example-prompts.tsx
  blocks/ai-chat/src/complete-chat/header.tsx
  blocks/ai-chat/src/complete-chat/system-prompt-selector.tsx
  blocks/ai-chat/src/complete-chat/types.ts
  blocks/ai-chat/src/dev.tsx
  blocks/ai-chat/src/icons/abstract-ai.tsx
  blocks/ai-chat/src/icons/arrow-turn-down-left.tsx
  blocks/ai-chat/src/icons/cards.tsx
  blocks/ai-chat/src/icons/code.tsx
  blocks/ai-chat/src/icons/comments-questions-check.tsx
  blocks/ai-chat/src/icons/heart.tsx
  blocks/ai-chat/src/icons/pen-fancy.tsx
  blocks/ai-chat/src/icons/skull-crossbones.tsx
  blocks/ai-chat/src/icons/tuck-fast.tsx
  blocks/ai-chat/src/icons/user.tsx
  blocks/ai-chat/src/index.ts
  blocks/ai-chat/src/types/graph.ts
  blocks/ai-chat/theme-override.d.ts
  blocks/ai-chat/tsconfig.json
  blocks/ai-chat/variants.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/how-to/package.json
  blocks/shuffle/package.json
  libs/@hashintel/design-system/src/dropdown-selector.tsx
  libs/@hashintel/design-system/src/icons/caret-down.tsx
  libs/@hashintel/design-system/src/icons/check.tsx
  libs/@hashintel/design-system/src/icons/icons.ts
  libs/@hashintel/design-system/src/main.ts
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-subgraph/package.json
  yarn.lock
Labels: C-dependencies, A-hash, frontend, A-blocks

#2285 Support querying for all entities without pinning a temporal axis
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
Labels: A-hash, A-backend

#2304 Make temporal axes optional in `Read` trait
  apps/hash-graph/lib/graph/src/store/crud.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
Labels: A-hash, A-backend

#2313 Add `test_graph` module containing required and optional record fields
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/shared/identifier/knowledge.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/test_graph.rs
Labels: C-dependencies, A-hash, A-backend

#2322 Add a more verbose `.dockerignore`
  .dockerignore
  .gitignore
  .markdownlintignore
  .prettierignore
  infra/docker/api/prod/Dockerfile
Labels: A-infra, docker

#2314 Allow `Read`ing (almost) all data from the database
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
Labels: A-hash, A-backend

#2320 Address block improvements
  blocks/address/src/address-card.tsx
  blocks/address/src/address-card/map-wrapper.tsx
  blocks/address/src/address-card/styled-card.tsx
Labels: A-blocks

#2321 Un-ignore block generated types files, publish question in PR template
  .github/pull_request_template.md
  .gitignore
  .prettierignore
  blocks/README.md
  blocks/ai-chat/package.json
  blocks/ai-chat/src/types/generated/ai-chat-block.ts
  blocks/ai-chat/src/types/generated/ai-chat-request-message.ts
  blocks/ai-chat/src/types/generated/ai-chat-response-message.ts
  blocks/ai-chat/src/types/generated/shared.ts
  blocks/minesweeper/package.json
  blocks/minesweeper/src/types/generated/block-entity.ts
Labels: A-infra, A-blocks

#2273 Add `FAQ` block
  blocks/faq/.eslintrc.cjs
  blocks/faq/.gitignore
  blocks/faq/.npmignore
  blocks/faq/LICENSE-APACHE.md
  blocks/faq/LICENSE-MIT.md
  blocks/faq/LICENSE.md
  blocks/faq/README.md
  blocks/faq/package.json
  blocks/faq/public/block-preview.png
  blocks/faq/public/faq-icon.svg
  blocks/faq/src/app.tsx
  blocks/faq/src/assets.d.ts
  blocks/faq/src/dev.tsx
  blocks/faq/src/icons/caret-down.tsx
  blocks/faq/src/index.ts
  blocks/faq/src/question.tsx
  blocks/faq/src/types/block-entity.ts
  blocks/faq/theme-override.d.ts
  blocks/faq/tsconfig.json
  blocks/faq/variants.json
  blocks/how-to/src/app.tsx
  libs/@hashintel/design-system/src/editable-field.tsx
  libs/@hashintel/design-system/src/get-help-link.tsx
Labels: A-blocks

#2328 Fix FAQ block display name
  blocks/faq/package.json
Labels: A-blocks

#2317 Fix temporal axes not taken into account when selecting distinctly
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
Labels: A-hash, A-backend

#2251 Add number of images to generate to `AI Image` block
  blocks/address/src/app.tsx
  blocks/ai-image/package.json
  blocks/ai-image/src/app.tsx
  blocks/ai-image/src/app/generate-image.tsx
  blocks/ai-image/src/app/generate-image/image-number-selector.tsx
  blocks/ai-image/src/app/generate-image/image-preview.tsx
  blocks/ai-image/src/app/generate-image/image-preview/cta-button.tsx
  blocks/ai-image/src/app/generate-image/image-preview/image-details.tsx
  blocks/ai-image/src/app/generate-image/image-preview/return-button.tsx
  blocks/ai-image/src/dev.tsx
  blocks/ai-image/src/icons/grid-2-plus.tsx
  blocks/ai-image/src/icons/grid-2.tsx
  blocks/ai-image/src/icons/grid.tsx
  blocks/ai-image/src/icons/rectangle-history-circle-plus.tsx
  blocks/ai-image/src/icons/square-plus.tsx
  blocks/ai-image/src/icons/square.tsx
  blocks/ai-image/src/shared/image-tile.tsx
  blocks/ai-text/src/app/generate-text.tsx
  blocks/ai-text/src/app/generate-text/model-selector.tsx
  libs/@hashintel/design-system/src/block-error-message.tsx
  libs/@hashintel/design-system/src/dropdown-selector.tsx
  libs/@hashintel/design-system/src/main.ts
  yarn.lock
Labels: C-dependencies, A-blocks

#2326 Prune docker builder cache after building
  .justfile
  apps/hash-graph/.justfile
Labels: A-hash, A-backend

#2316 Add a `snapshot` subcommand to the CLI
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/main.rs
  apps/hash-graph/bin/cli/src/subcommand.rs
  apps/hash-graph/bin/cli/src/subcommand/migrate.rs
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/bin/cli/src/subcommand/snapshot.rs
Labels: C-dependencies, A-hash, A-backend

#2315 Update blocks listed in `blocks` README
  blocks/README.md
Labels: A-blocks

#2327 Provide a `snapshot restore` command
  apps/hash-graph/bin/cli/src/subcommand/snapshot.rs
  apps/hash-graph/lib/graph/src/store/test_graph.rs
Labels: A-hash, A-backend

#2333 Add GitHub Issue reporting form for HASH Core
  .github/ISSUE_TEMPLATE/bug-report-hash-core.yml
Labels: A-infra

#2180 Add WASM-AI HDEV post and first legacy HAI MDX
  README.md
  apps/engine/README.md
  apps/hashdotai/blog/000_what-is-agent-based-modeling.mdx
  apps/hashdotdev/public/blog/0013_wasm-ai/13_wasm-ai.webp
  apps/hashdotdev/public/blog/0013_wasm-ai/docker-wasm-vibes.webp
  apps/hashdotdev/public/blog/0013_wasm-ai/web-stable-diffusion-screenshot_70.webp
  apps/hashdotdev/public/blog/authors/jude-allred.webp
  apps/hashdotdev/src/_pages/blog/0013_wasm-ai.mdx
  apps/hashdotdev/src/pages/index.page.tsx
Labels: A-engine, A-infra
