Repository hashintel/hash, pull requests merged in 2023-08, with the labels that each got.

#2827 H-223: Build and push docker image for integration worker
  .github/workflows/hash-backend-cd.yml
Labels: area: infra

#2836 Revert "H-220: Use `file` storage for local vault"
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/vault/config/storage.hcl
Labels: area: apps > hash*, area: infra, area: apps

#2747 H-21: Add `hash.dev/roadmap` page
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-graph/package.json
  apps/hash-integration-worker/package.json
  apps/hash-realtime/package.json
  apps/hash-search-loader/package.json
  apps/hashdotai/package.json
  apps/hashdotdev/package.json
  apps/hashdotdev/src/components/footer.tsx
  apps/hashdotdev/src/components/hidden-anchor-fragment-tag.tsx
  apps/hashdotdev/src/components/navbar.tsx
  apps/hashdotdev/src/components/page-layout.tsx
  apps/hashdotdev/src/components/pre-footer.tsx
  apps/hashdotdev/src/pages/roadmap.page.tsx
  apps/hashdotdev/src/pages/roadmap/block-protocol-icon.tsx
  apps/hashdotdev/src/pages/roadmap/statuses.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree-filters.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree-node.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree.tsx
  apps/hashdotdev/src/pages/roadmap/use-cases.tsx
  apps/hashdotdev/src/pages/roadmap/variants.tsx
  apps/hashdotdev/src/theme/components/index.ts
  apps/hashdotdev/src/theme/components/inputs/mui-button-theme-options.ts
  apps/hashdotdev/src/theme/components/inputs/mui-checkbox-theme-options.tsx
  apps/hashdotdev/src/theme/components/utils/mui-css-baseline-theme-options.ts
  apps/hashdotdev/src/theme/palette.ts
  apps/hashdotdev/theme-override.d.ts
  blocks/callout/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/heading/package.json
  blocks/image/package.json
  blocks/paragraph/package.json
  blocks/shuffle/package.json
  blocks/timer/package.json
  blocks/video/package.json
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/design-system/package.json
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/link-entity-type-selector.tsx
  libs/@local/advanced-types/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-graph-client/package.json
  libs/@local/hash-graphql-shared/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-subgraph/package.json
  libs/@local/repo-chores/package.json
  libs/@local/status/package.json
  tests/hash-backend-integration/package.json
  tests/hash-playwright/package.json
  yarn.lock
Labels: area: dependencies, area: apps > hash*, area: infra, area: apps > hash-api, area: blocks, area: libs, type: frontend, type: backend, area: tests, area: tests > integration, area: tests > playwright, area: apps > hash-realtime, area: apps > hash-search-loader, area: apps, area: apps > hash-graph

#2834 H-230: Share Temporal types with API
  apps/hash-api/src/graphql/resolvers/integrations/linear/sync-workspaces-with-teams.ts
  apps/hash-api/src/integrations/linear.ts
  apps/hash-api/src/integrations/linear/sync-back.ts
  apps/hash-api/src/integrations/linear/webhook.ts
  apps/hash-frontend/src/pages/account/integrations/select-linear-teams-table.tsx
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/main.ts
  apps/hash-integration-worker/src/mappings.ts
  apps/hash-integration-worker/src/workflows.ts
  libs/@local/advanced-types/src/includes.ts
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/temporal-workflow-types.ts
Labels: area: apps > hash*, area: infra, area: apps > hash-api, area: libs, type: frontend, type: backend, area: apps

#2839 H-249, H-256, H-272: Fix entity type entities tab table lazy loading, add basic loading indicator
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entities-tab.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-tabs.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-tabs/tab-link.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/entity-type-entities-context.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-entities-context-value.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar.tsx
Labels: area: apps > hash*, type: frontend, area: apps

#2841 H-291: Add Python package for `hash-graph-client`
  .prettierignore
  libs/@local/hash-graph-client/python/LICENSE.md
  libs/@local/hash-graph-client/python/README.md
  libs/@local/hash-graph-client/python/graph_client/__init__.py
  libs/@local/hash-graph-client/python/graph_client/py.typed
  libs/@local/hash-graph-client/python/package.json
  libs/@local/hash-graph-client/python/poetry.lock
  libs/@local/hash-graph-client/python/poetry.toml
  libs/@local/hash-graph-client/python/pyproject.toml
  libs/@local/hash-graph-client/python/turbo.json
  libs/@local/hash-graph-client/typescript/.eslintrc.cjs
  libs/@local/hash-graph-client/typescript/.gitignore
  libs/@local/hash-graph-client/typescript/.openapi-generator-ignore
  libs/@local/hash-graph-client/typescript/LICENSE.md
  libs/@local/hash-graph-client/typescript/README.md
  libs/@local/hash-graph-client/typescript/openapitools.json
  libs/@local/hash-graph-client/typescript/package.json
  libs/@local/hash-graph-client/typescript/tsconfig.json
  libs/@local/hash-graph-client/typescript/turbo.json
  package.json
  tests/hash-backend-integration/jest.config.cjs
Labels: area: apps > hash*, area: infra, area: libs, type: backend, area: tests, area: tests > integration, type: legal

#2846 H-296: Make 'Fix' workflow trigger CI again
  .github/workflows/dispatch-fix.yml
  apps/hash/README.md
Labels: area: infra, area: apps

#2843 H-287: Return transaction time when creating ontology type
  apps/hash-graph/bench/util.rs
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/integration/postgres/lib.rs
  libs/@local/hash-subgraph/src/types/element/ontology.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
Labels: area: apps > hash*, area: infra, area: libs, type: backend, area: tests, area: apps, area: apps > hash-graph

#2844 H-293: Support temporal queries for ontology
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#2838 H-151: Update OpenAPI specification
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/data_type.json
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/entity_type.json
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/property_type.json
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/update_entity_type.json
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/update_property_type.json
  apps/hash-graph/openapi/models/data_type.json
  apps/hash-graph/openapi/models/entity_type.json
  apps/hash-graph/openapi/models/property_type.json
  apps/hash-graph/openapi/models/update_entity_type.json
  apps/hash-graph/openapi/models/update_property_type.json
Labels: area: apps > hash*, area: infra, type: backend, area: apps, area: apps > hash-graph

#2845 H-294: Align ontology queries to temporal data
  apps/hash-graph/lib/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#2848 H-238: Implement type (un-)archival in the Graph
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: area: apps > hash*, status: blocked, type: backend, area: apps, area: apps > hash-graph

#2851 H-247: Expose property type and entity type (un-)archival to GraphQL
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/property-type.ts
  libs/@local/hash-graphql-shared/src/graphql/scalar-mapping.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/ontology/data-type.typedef.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/ontology/entity-type.typedef.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/ontology/property-type.typedef.ts
Labels: area: apps > hash*, area: apps > hash-api, status: blocked, area: libs, type: backend, area: apps

#2852 H-299: Generate TypeScript types from system entity types
  apps/hash-api/src/graph/linear-types.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/property-type.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-frontend/package.json
  apps/hash-frontend/src/middleware.page.ts
  apps/hash-frontend/src/middleware/return-types-as-json.ts
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/callout/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/faq/package.json
  blocks/heading/package.json
  blocks/how-to/package.json
  blocks/image/package.json
  blocks/kanban-board/package.json
  blocks/minesweeper/package.json
  blocks/paragraph/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  blocks/timer/package.json
  blocks/video/package.json
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/hash-graphql-shared/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/generate-system-types.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/block.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/file.ts
  libs/@local/hash-isomorphic-utils/src/system-types/hashinstance.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/issue.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/organization.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/user.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/org.ts
  libs/@local/hash-isomorphic-utils/src/system-types/page.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/text.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
  libs/@local/hash-isomorphic-utils/src/system-types/usersecret.ts
  libs/@local/hash-subgraph/package.json
  package.json
  yarn.lock
Labels: area: dependencies, area: apps > hash*, area: infra, area: apps > hash-api, area: blocks, area: libs, type: frontend, type: backend, area: apps

#2860 H-312: Temporarily hide 'use HASH' CTA on roadmap page
  apps/hashdotdev/src/pages/roadmap.page.tsx
Labels: area: apps

#2853 H-305: Split the `ontology_ids_with_metadata` view
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/order_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/lib/graph/src/store/query.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#2854 H-307: Make `actor_id` required in archival and unarchival operations
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/shared/provenance.rs
  apps/hash-graph/openapi/openapi.json
Labels: area: apps > hash*, area: infra, area: apps > hash-api, type: backend, area: apps, area: apps > hash-graph

#2863 H-314: Make types' JSON representation stable
  apps/hash-frontend/package.json
  apps/hash-frontend/src/middleware/return-types-as-json.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/file.ts
  libs/@local/hash-isomorphic-utils/src/system-types/hashinstance.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/issue.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/organization.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/page.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  yarn.lock
Labels: area: dependencies, area: apps > hash*, area: libs, type: frontend, type: backend, area: apps

#2856 H-303: Add `RecordArchivedById` for archived ontology types
  apps/hash-graph/bench/util.rs
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/shared/provenance.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/lib/graph/src/store/query.rs
  apps/hash-graph/postgres_migrations/V11__archival_provenance.sql
  apps/hash-graph/tests/integration/postgres/lib.rs
Labels: area: apps > hash*, type: backend, area: tests, area: apps, area: apps > hash-graph

#2857 H-306: Make `RecordArchivedById` available in TS and make it queryable
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/shared/provenance.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-subgraph/src/types/shared.ts
  libs/@local/hash-subgraph/src/types/shared/branded.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
Labels: area: apps > hash*, area: libs, type: backend, area: tests, area: apps, area: apps > hash-graph

#2865 GEN-30: Remove `.terraform.lock.hcl` from `.*ignore` files
  .dockerignore
  .gitignore
  .markdownlintignore
  .prettierignore
  infra/terraform/hash/.terraform.lock.hcl
Labels: area: infra, area: infra > terraform

#2862 H-180: Allow editing profile of an existing org
  apps/hash-api/src/graph/system-types.ts
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/hooks/use-orgs.ts
  apps/hash-frontend/src/components/hooks/use-users.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/middleware/return-types-as-json.ts
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/query-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/account/workspaces/[shortname]/general.page.tsx
  apps/hash-frontend/src/pages/account/workspaces/[shortname]/index.page.tsx
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  apps/hash-frontend/src/pages/shared/org-form.tsx
  apps/hash-frontend/src/shared/layout/plain-layout.tsx
  libs/@hashintel/design-system/src/text-field.tsx
  libs/@hashintel/design-system/src/theme/components/inputs/mui-button-theme-options.ts
  libs/@local/hash-isomorphic-utils/src/.gitattributes
  libs/@local/hash-isomorphic-utils/src/generate-system-types.ts
  libs/@local/hash-isomorphic-utils/src/simplify-properties.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/file.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/issue.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/organization.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/page.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  yarn.lock
Labels: area: dependencies, area: apps > hash*, area: apps > hash-api, area: libs, type: frontend, type: backend, area: apps

#2858 H-222: Extend infra README on existing Docker images
  infra/terraform/README.md
Labels: area: infra, area: infra > terraform

#2861 H-267: Add full-screen mode to tech tree
  apps/hashdotdev/package.json
  apps/hashdotdev/src/components/icons/arrow-down-left-and-arrow-up-right-to-center-icon.tsx
  apps/hashdotdev/src/components/icons/arrow-right-line-regular-icon.tsx
  apps/hashdotdev/src/components/icons/arrow-up-right-and-arrow-down-left-from-center-icon.tsx
  apps/hashdotdev/src/components/icons/chevrons-right-icon.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree-buttons.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree-filters.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree-node.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree.tsx
  yarn.lock
Labels: area: dependencies, area: apps

#2871 H-71: When creating new page, start text cursor in title, not body
  apps/hash-frontend/src/blocks/page/component-view.tsx
  apps/hash-frontend/src/blocks/page/create-editor-view.ts
  apps/hash-frontend/src/blocks/page/page-title/page-title.tsx
Labels: area: apps > hash*, type: frontend, category: enhancement, area: apps

#2869 H-76: Display header on canvas pages
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page/canvas-page.tsx
Labels: area: apps > hash*, type: frontend, category: bug, area: apps

#2874 H-350: Update and restructure `apps` README
  apps/README.md
Labels: area: infra, area: apps

#2872 H-345: Fix `hash-graph-client` class names
  apps/hash-graph/lib/graph/build.rs
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/data_type.json
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/entity_type.json
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/property_type.json
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/shared.json
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/status.json
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/status_definitions.json
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/update_entity_type.json
  apps/hash-graph/lib/graph/src/api/rest/json_schemas/update_property_type.json
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier/vertex.rs
  apps/hash-graph/lib/graph/src/subgraph/temporal_axes.rs
  apps/hash-graph/openapi/models/data_type.json
  apps/hash-graph/openapi/models/entity_type.json
  apps/hash-graph/openapi/models/property_type.json
  apps/hash-graph/openapi/models/shared.json
  apps/hash-graph/openapi/models/status.json
  apps/hash-graph/openapi/models/status_definitions.json
  apps/hash-graph/openapi/models/update_entity_type.json
  apps/hash-graph/openapi/models/update_property_type.json
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-graph-client/python/graph_client/schema.py
  libs/@local/hash-graph-client/python/package.json
  libs/@local/hash-graph-client/python/scripts/aliases.json
  libs/@local/hash-graph-client/python/scripts/codegen.sh
  libs/@local/hash-graph-client/python/scripts/rebase.py
  libs/@local/hash-graph-client/typescript/.gitignore
  libs/@local/hash-graph-client/typescript/openapitools.json
  libs/@local/hash-graph-client/typescript/package.json
  yarn.lock
Labels: area: dependencies, area: apps > hash*, area: infra, area: libs, type: backend, area: apps, area: apps > hash-graph

#2868 H-346: Add `hash-graph-sdk` Python functionality
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-client/python/graph_client/__init__.py
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-graph-client/python/turbo.json
  libs/@local/hash-graph-sdk/python/examples/query_company_entities.py
  libs/@local/hash-graph-sdk/python/examples/query_company_entities_limited_axes.py
  libs/@local/hash-graph-sdk/python/examples/query_company_entity_type.py
  libs/@local/hash-graph-sdk/python/graph_sdk/__init__.py
  libs/@local/hash-graph-sdk/python/graph_sdk/client/__init__.py
  libs/@local/hash-graph-sdk/python/graph_sdk/client/_compat.py
  libs/@local/hash-graph-sdk/python/graph_sdk/client/blocking.py
  libs/@local/hash-graph-sdk/python/graph_sdk/client/concurrent.py
  libs/@local/hash-graph-sdk/python/graph_sdk/filter.py
  libs/@local/hash-graph-sdk/python/graph_sdk/options.py
  libs/@local/hash-graph-sdk/python/graph_sdk/query.py
  libs/@local/hash-graph-sdk/python/graph_sdk/types.py
  libs/@local/hash-graph-sdk/python/graph_sdk/utils.py
  libs/@local/hash-graph-sdk/python/package.json
  libs/@local/hash-graph-sdk/python/poetry.lock
  libs/@local/hash-graph-sdk/python/pyproject.toml
  libs/@local/hash-graph-sdk/python/scripts/generate_blocking.py
Labels: area: apps > hash*, area: libs, type: backend, area: apps, area: apps > hash-graph

#2877 H-175: Org membership management page
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-api/src/graph/index.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-user-secret.ts
  apps/hash-api/src/graph/knowledge/system-types/org-membership.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graph/system-user.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/graphql/resolvers/knowledge/org/create-org.ts
  apps/hash-api/src/graphql/resolvers/ontology/data-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/property-type.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-api/src/seed-data/index.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/query-editor-page.tsx
  apps/hash-frontend/src/pages/account/workspaces/[shortname]/members.page.tsx
  apps/hash-frontend/src/pages/account/workspaces/[shortname]/members.page/add-member-form.tsx
  apps/hash-frontend/src/pages/account/workspaces/[shortname]/members.page/cell.tsx
  apps/hash-frontend/src/pages/account/workspaces/[shortname]/members.page/member-row.tsx
  apps/hash-frontend/src/pages/account/workspaces/[shortname]/members.page/member-row/member-context-menu.tsx
  apps/hash-frontend/src/pages/index.page.tsx
  apps/hash-frontend/src/pages/shared/main-container.tsx
  apps/hash-frontend/src/pages/signup.page.tsx
  apps/hash-frontend/src/pages/signup.page/account-setup-form.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  libs/@hashintel/design-system/src/theme/typography.ts
  libs/@local/hash-graph-client/python/poetry.lock
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/hashinstance.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org-membership.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
  tests/hash-backend-integration/src/tests/integration.test.ts
  tests/hash-backend-integration/src/tests/subgraph/circular.test.ts
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: frontend, type: backend, area: tests, area: tests > integration, area: apps

#2878 H-353: Automatically generate filters for `hash-client-sdk` Python client
  libs/@local/hash-graph-sdk/python/.gitattributes
  libs/@local/hash-graph-sdk/python/examples/query_company_entities.py
  libs/@local/hash-graph-sdk/python/examples/query_company_entities_limited_axes.py
  libs/@local/hash-graph-sdk/python/graph_sdk/filter.py
  libs/@local/hash-graph-sdk/python/graph_sdk/filter/__init__.py
  libs/@local/hash-graph-sdk/python/graph_sdk/filter/base.py
  libs/@local/hash-graph-sdk/python/graph_sdk/filter/config.json
  libs/@local/hash-graph-sdk/python/graph_sdk/filter/path.py
  libs/@local/hash-graph-sdk/python/graph_sdk/query.py
  libs/@local/hash-graph-sdk/python/graph_sdk/types.py
  libs/@local/hash-graph-sdk/python/scripts/generate_filter.py
Labels: area: apps > hash*, area: libs, type: backend

#2879 H-364: Work around that subgraph can only contain a single ontology type per versioned URL
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/lib/graph/src/subgraph.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#2883 GEN-37: Combine `IntoReport` and `ResultExt`
  libs/error-stack/CHANGELOG.md
  libs/error-stack/README.md
  libs/error-stack/examples/demo.rs
  libs/error-stack/examples/parse_config.rs
  libs/error-stack/src/compat.rs
  libs/error-stack/src/context.rs
  libs/error-stack/src/future.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/report.rs
  libs/error-stack/src/result.rs
  libs/error-stack/tests/snapshots/doc/lib__suggestion.snap
  libs/error-stack/tests/snapshots/doc/report_debug__doc.snap
  libs/error-stack/tests/test_compatibility.rs
  libs/error-stack/tests/test_conversion.rs
  libs/error-stack/tests/ui/into_report.rs
  libs/error-stack/tests/ui/into_report.stderr
Labels: area: infra, area: libs > error-stack, area: libs, area: tests

#2876 H-69: Update the "archived page" banner
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graphql/resolvers/knowledge/page/page.ts
  apps/hash-frontend/src/blocks/page/page-section-container.tsx
  apps/hash-frontend/src/components/hooks/use-account-pages.ts
  apps/hash-frontend/src/components/hooks/use-archive-page.ts
  apps/hash-frontend/src/graphql/queries/account.queries.ts
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar.tsx
  apps/hash-frontend/src/shared/icons/box-archive-icon.tsx
  apps/hash-frontend/src/shared/icons/calendar-icon.tsx
  apps/hash-frontend/src/shared/icons/user-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-menu.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/page.typedef.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: frontend, type: backend, area: apps

#2885 GEN-38: Minor improvements of code quality
  libs/error-stack/src/compat.rs
  libs/error-stack/src/context.rs
  libs/error-stack/src/fmt.rs
  libs/error-stack/src/fmt/charset.rs
  libs/error-stack/src/fmt/color.rs
  libs/error-stack/src/fmt/config.rs
  libs/error-stack/src/fmt/hook.rs
  libs/error-stack/src/fmt/location.rs
  libs/error-stack/src/frame/frame_impl.rs
  libs/error-stack/src/hook.rs
  libs/error-stack/src/iter.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/macros.rs
  libs/error-stack/src/report.rs
  libs/error-stack/src/result.rs
  libs/error-stack/tests/snapshots/doc/report_debug__doc.snap
Labels: area: libs > error-stack, area: libs, area: tests

#2884 H-344: Implement "Settings" pages layout
  apps/hash-api/src/integrations/linear/webhook.ts
  apps/hash-external-services/kratos/kratos.dev.yml
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/components/page-error-state.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  apps/hash-frontend/src/pages/[shortname]/index.page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/account/workspaces/[shortname]/index.page.tsx
  apps/hash-frontend/src/pages/account/workspaces/[shortname]/members.page.tsx
  apps/hash-frontend/src/pages/account/workspaces/[shortname]/members.page/cell.tsx
  apps/hash-frontend/src/pages/account/workspaces/[shortname]/members.page/member-row/member-context-menu.tsx
  apps/hash-frontend/src/pages/change-password.page.tsx
  apps/hash-frontend/src/pages/index.page.tsx
  apps/hash-frontend/src/pages/new/organization.page.tsx
  apps/hash-frontend/src/pages/new/organization.page/create-org-form.tsx
  apps/hash-frontend/src/pages/new/types/entity-type.page.tsx
  apps/hash-frontend/src/pages/settings/index.page.tsx
  apps/hash-frontend/src/pages/settings/integrations.page.tsx
  apps/hash-frontend/src/pages/settings/integrations/linear.page.tsx
  apps/hash-frontend/src/pages/settings/integrations/linear/new.page.tsx
  apps/hash-frontend/src/pages/settings/integrations/select-linear-teams-table.tsx
  apps/hash-frontend/src/pages/settings/integrations/use-linear-integrations.ts
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/general.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page/add-member-form.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page/member-row.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page/member-row/member-context-menu.tsx
  apps/hash-frontend/src/pages/settings/organizations/index.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/index.page/org-row.tsx
  apps/hash-frontend/src/pages/settings/organizations/index.page/org-row/org-context-menu.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/cell.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-settings-container.tsx
  apps/hash-frontend/src/pages/settings/shared/context-menu.tsx
  apps/hash-frontend/src/pages/settings/shared/settings-layout.tsx
  apps/hash-frontend/src/pages/settings/shared/settings-layout/settings-sidebar.tsx
  apps/hash-frontend/src/pages/shared/breadcrumbs.tsx
  apps/hash-frontend/src/pages/shared/main-container.tsx
  apps/hash-frontend/src/pages/shared/org-form.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar.tsx
  apps/hash-frontend/src/shared/icons/people-group-icon.tsx
  apps/hash-frontend/src/shared/layout.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  infra/terraform/hash/prod-usea1.tfvars
  libs/@hashintel/block-design-system/src/icons/caret-down.tsx
  libs/@hashintel/design-system/src/text-field.tsx
  libs/@local/advanced-types/src/includes.ts
Labels: area: apps > hash*, area: infra, area: apps > hash-api, area: libs, type: frontend, type: backend, area: apps, area: infra > terraform

#2888 H-372: Work around that subgraph can only contain a single ontology type per versioned URL, 2nd Attempt
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/lib/graph/src/subgraph.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#2881 H-365: Move `create_entity` and `update_entity` out of the migration files
  apps/hash-graph/lib/graph/src/shared/identifier/time/timestamp.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#2890 H-375: Set form state properly when switching between organizations
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/general.page.tsx
Labels: area: apps > hash*, type: frontend, area: apps

#2891 H-380: Set user and mail for CI action
  .github/workflows/dispatch-fix.yml
Labels: area: infra

#2892 GEN-44: Enable schedule and automerge for various dev deps
  .github/renovate.json
Labels: area: infra

#2906 GEN-52: Limit version of `anyhow` to `1.0.72`
  libs/error-stack/Cargo.toml
Labels: area: libs > error-stack, area: libs

#2904 H-394, GEN-46: Fix Renovate
  .github/renovate.json
Labels: area: infra

#2880 H-264: Implement type archival/unarchival in the frontend
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/ontology-types-shim.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-query-entity-types.ts
  apps/hash-frontend/src/graphql/queries/ontology/entity-type.queries.ts
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/type-preview-slide.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-value.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar/archived-item-banner.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar/context-bar-actions-dropdown.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar/util.ts
  apps/hash-frontend/src/shared/entity-types-context/hooks.ts
  apps/hash-frontend/src/shared/entity-types-context/provider/use-entity-types-context-value.ts
  apps/hash-frontend/src/shared/entity-types-context/util.ts
  apps/hash-frontend/src/shared/icons/box-archive-icon.tsx
  libs/@local/hash-graphql-shared/src/graphql/type-defs/ontology/entity-type.typedef.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: frontend, type: backend, area: apps

#2905 GEN-47: Run Renovate config validator in CI
  .github/workflows/ci.yml
Labels: area: infra

#2889 H-121: Define Tables required for inheritance
  apps/hash-graph/postgres_migrations/V12__closed_reference_tables.sql
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#2894 H-363: Adjust queries in Graph to only return direct references from edge tables
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#2907 GEN-54: Move hCore to `labs` and misc fix
  .github/ISSUE_TEMPLATE/bug-report-hash-core.yml
  .github/ISSUE_TEMPLATE/bug-report-hash-engine.yml
  .prettierignore
  apps/sim-core-plugins/process-modeler/LICENSE-APACHE.md
  apps/sim-core-plugins/process-modeler/LICENSE-MIT.md
  apps/sim-core-plugins/process-modeler/LICENSE.md
  apps/sim-core-plugins/process-modeler/README.md
  apps/sim-core-plugins/process-modeler/package.json
  apps/sim-core-plugins/process-modeler/public/Blue-Pink Icon.png
  apps/sim-core-plugins/process-modeler/public/index.html
  apps/sim-core-plugins/process-modeler/public/manifest.json
  apps/sim-core-plugins/process-modeler/public/robots.txt
  apps/sim-core-plugins/process-modeler/src/App.css
  apps/sim-core-plugins/process-modeler/src/App.tsx
  apps/sim-core-plugins/process-modeler/src/components/FlowChart/FlowChart.css
  apps/sim-core-plugins/process-modeler/src/components/FlowChart/FlowChart.tsx
  apps/sim-core-plugins/process-modeler/src/components/FlowChart/diagram-js.css
  apps/sim-core-plugins/process-modeler/src/components/IconHelpCircle.tsx
  apps/sim-core-plugins/process-modeler/src/components/IconSettings.tsx
  apps/sim-core-plugins/process-modeler/src/components/Properties/PropertiesPanel.css
  apps/sim-core-plugins/process-modeler/src/components/Properties/PropertiesPanel.tsx
  apps/sim-core-plugins/process-modeler/src/components/Properties/PropertyInput.tsx
  apps/sim-core-plugins/process-modeler/src/components/Settings/SettingsPanel.css
  apps/sim-core-plugins/process-modeler/src/components/Settings/SettingsPanel.tsx
  apps/sim-core-plugins/process-modeler/src/components/Tooltip.css
  apps/sim-core-plugins/process-modeler/src/components/Tooltip.tsx
  apps/sim-core-plugins/process-modeler/src/index.css
  apps/sim-core-plugins/process-modeler/src/index.tsx
  apps/sim-core-plugins/process-modeler/src/lib/analysisData.ts
  apps/sim-core-plugins/process-modeler/src/lib/businessProcesses/PaletteProvider.js
  apps/sim-core-plugins/process-modeler/src/lib/businessProcesses/elementsToProcessAgent.ts
  apps/sim-core-plugins/process-modeler/src/lib/businessProcesses/propertyDefinitions.ts
  apps/sim-core-plugins/process-modeler/src/lib/businessProcesses/validateChart.ts
  apps/sim-core-plugins/process-modeler/src/lib/creatorAgentSource.ts
  apps/sim-core-plugins/process-modeler/src/lib/diagram.ts
  apps/sim-core-plugins/process-modeler/src/lib/getPropertyValue.ts
  apps/sim-core-plugins/process-modeler/src/react-app-env.d.ts
  apps/sim-core-plugins/process-modeler/src/reportWebVitals.ts
  apps/sim-core-plugins/process-modeler/src/setupTests.ts
  apps/sim-core-plugins/process-modeler/src/types/bmpn-js.d.ts
  apps/sim-core-plugins/process-modeler/src/types/bpmnElements.ts
  apps/sim-core-plugins/process-modeler/src/types/properties.ts
  apps/sim-core-plugins/process-modeler/src/types/react-app-env.d.ts
  apps/sim-core-plugins/process-modeler/tsconfig.json
  apps/sim-core-plugins/process-modeler/vercel.json
  apps/sim-core-plugins/process-modeler/yarn.lock
  apps/sim-core/LICENSE.md
  apps/sim-core/README.md
Labels: area: deps, area: infra, area: apps, type: legal

#2912 GEN-53: Upgrade `error-stack` toolchain and use `Error::provide`
  .github/renovate.json
  libs/error-stack/Cargo.toml
  libs/error-stack/README.md
  libs/error-stack/macros/Cargo.toml
  libs/error-stack/macros/README.md
  libs/error-stack/rust-toolchain.toml
  libs/error-stack/src/context.rs
  libs/error-stack/src/error.rs
  libs/error-stack/src/fmt.rs
  libs/error-stack/src/frame.rs
  libs/error-stack/src/frame/frame_impl.rs
  libs/error-stack/src/hook.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/report.rs
  libs/error-stack/tests/common.rs
  libs/error-stack/tests/snapshots/doc/hook__debug_hook_provide.snap
  libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  libs/error-stack/tests/snapshots/test_debug__full__multiline_context.snap
  libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace.snap
  libs/error-stack/tests/test_attach.rs
  libs/error-stack/tests/test_attach_printable.rs
  libs/error-stack/tests/test_backtrace.rs
  libs/error-stack/tests/test_change_context.rs
  libs/error-stack/tests/test_compatibility.rs
  libs/error-stack/tests/test_conversion.rs
  libs/error-stack/tests/test_debug.rs
  libs/error-stack/tests/test_display.rs
  libs/error-stack/tests/test_downcast.rs
  libs/error-stack/tests/test_extend.rs
  libs/error-stack/tests/test_frame.rs
  libs/error-stack/tests/test_iter.rs
  libs/error-stack/tests/test_macros.rs
  libs/error-stack/tests/test_provision.rs
  libs/error-stack/tests/test_serialize.rs
  libs/error-stack/tests/test_span_trace.rs
Labels: area: infra, area: libs > error-stack, area: libs, area: tests

#2910 H-413: Use inheritance for query parameters
  .github/workflows/ci.yml
  apps/hash-graph/lib/graph/src/knowledge/entity/query.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/tests/friendship.http
  apps/hash-graph/tests/integration/postgres/lib.rs
  package.json
Labels: area: apps > hash*, area: infra, status: blocked, type: backend, area: tests, area: apps, area: apps > hash-graph

#2914 H-423: Make BE tests and PW tests depend on the integration worker
  .github/workflows/ci.yml
Labels: area: infra

#2915 H-426: Extend structural queries to allow specifying inheritance depth
  apps/hash-graph/lib/graph/src/knowledge/entity/query.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/query.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#2900 H-239: Update `hash.dev/roadmap` tech tree
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
Labels: area: apps

#2832 H-167: `hash-graph-types`: Add marker classes and unify interface (II)
  apps/hash-ai-worker-py/poetry.lock
  apps/hash-ai-worker-py/pyproject.toml
  libs/@local/hash-graph-types/graph_types/_annotations/__init__.py
  libs/@local/hash-graph-types/graph_types/_annotations/const.py
  libs/@local/hash-graph-types/graph_types/_annotations/require.py
  libs/@local/hash-graph-types/graph_types/_cache.py
  libs/@local/hash-graph-types/graph_types/_schema.py
  libs/@local/hash-graph-types/graph_types/base.py
  libs/@local/hash-graph-types/graph_types/data_type.py
  libs/@local/hash-graph-types/graph_types/entity_type.py
  libs/@local/hash-graph-types/graph_types/property_type.py
  libs/@local/hash-graph-types/poetry.lock
  libs/@local/hash-graph-types/pyproject.toml
Labels: area: apps > hash*, area: libs, type: backend, area: apps

#2919 H-451: Fix "View all types" page in production
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page.tsx
Labels: area: apps > hash*, type: frontend, area: apps

#2909 H-355: Implement inheritance in the type editor
  .changeset/gentle-ties-eat.md
  .changeset/unlucky-singers-behave.md
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-get-entity-type.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-query-entity-types.ts
  apps/hash-frontend/src/graphql/queries/ontology/entity-type.queries.ts
  apps/hash-frontend/src/middleware/return-types-as-json/generate-query-args.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/entity-type-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section/type-card.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/type-preview-slide.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-value.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-item.tsx
  apps/hash-frontend/theme-override.d.ts
  blocks/address/theme-override.d.ts
  blocks/ai-chat/theme-override.d.ts
  blocks/ai-image/theme-override.d.ts
  blocks/ai-text/theme-override.d.ts
  blocks/faq/theme-override.d.ts
  blocks/how-to/theme-override.d.ts
  blocks/kanban-board/theme-override.d.ts
  blocks/shuffle/theme-override.d.ts
  blocks/table/theme-override.d.ts
  libs/@hashintel/block-design-system/theme-override.d.ts
  libs/@hashintel/design-system/src/main.ts
  libs/@hashintel/design-system/src/selector-autocomplete.tsx
  libs/@hashintel/design-system/src/theme/components/inputs/mui-button-theme-options.ts
  libs/@hashintel/design-system/src/type-card.tsx
  libs/@hashintel/design-system/src/white-card.tsx
  libs/@hashintel/design-system/theme-override.d.ts
  libs/@hashintel/query-editor/theme-override.d.ts
  libs/@hashintel/type-editor/README.md
  libs/@hashintel/type-editor/src/entity-type-editor.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row/inherited-type-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/anything-chip.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/destination-entity-type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/destination-entity-type.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/destination-type-container.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/inherited-link-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/type-chip-label.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/inherited-property-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-title-cell.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/arrow-turn-down-right-icon.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/entity-type-table.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/generate-readonly-message.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/insert-property-field/type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/insert-type-field.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/multiple-values-cell.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/use-inherited-values.ts
  libs/@hashintel/type-editor/src/get-form-data-from-schema.ts
  libs/@hashintel/type-editor/src/get-schema-from-form-data.ts
  libs/@hashintel/type-editor/src/shared/form-types.ts
  libs/@hashintel/type-editor/theme-override.d.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/ontology/entity-type.typedef.ts
Labels: area: apps > hash*, area: infra, area: apps > hash-api, area: blocks, area: libs, type: frontend, type: backend, area: apps

#2920 GEN-62: Fix renovate not scheduling updates
  .github/renovate.json
Labels: area: infra

#2916 H-432: Support `children` query path for entity types
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-graph-client/python/graph_client/models.py
Labels: area: apps > hash*, area: libs, type: backend, area: tests, area: apps, area: apps > hash-graph

#2917 H-433: Automatically generate OpenAPI specs for Python from Rust
  .github/workflows/openapi.yml
  .github/workflows/rust.yml
  apps/hash-graph/.justfile
Labels: area: apps > hash*, area: infra, type: backend, area: apps, area: apps > hash-graph

#2918 H-356: Handle inheritance in the entity editor and entities tab
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/blocks/page/block-context-menu/load-entity-menu-content.tsx
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-get-entity.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-query-entities.ts
  apps/hash-frontend/src/components/hooks/use-all-entities-except.ts
  apps/hash-frontend/src/components/hooks/use-orgs.ts
  apps/hash-frontend/src/components/hooks/use-users.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-entities-context-value.tsx
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/entity.typedef.ts
  libs/@local/hash-subgraph/src/stdlib.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/element/entity-type.ts
Labels: area: apps > hash*, area: apps > hash-api, area: libs, type: frontend, type: backend, area: apps

#2922 H-476: Fix internal link detection in hash.dev
  apps/hashdotdev/src/util/mdx-components.tsx
Labels: area: apps

#2923 H-467: Set up Ory Keto service for local dev
  .env
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/ory-keto/keto.yml
  apps/hash-external-services/postgres/init-user-db.sh
Labels: area: apps > hash*, area: apps

#2932 H-454: Update Python OpenAPI generation to include filters
  apps/hash-graph/.justfile
  libs/@local/hash-graph-sdk/python/graph_sdk/filter/path.py
  libs/@local/hash-graph-sdk/python/package.json
  libs/@local/hash-graph-sdk/python/scripts/codegen_blocking.sh
  libs/@local/hash-graph-sdk/python/scripts/codegen_filter.sh
  libs/@local/hash-graph-sdk/python/turbo.json
Labels: area: apps > hash*, area: libs, type: backend, area: apps, area: apps > hash-graph

#2935 H-505: `hash-graph-sdk` python: support arguments for selected query paths
  libs/@local/hash-graph-sdk/python/graph_sdk/filter/config.json
  libs/@local/hash-graph-sdk/python/graph_sdk/filter/path.py
  libs/@local/hash-graph-sdk/python/scripts/generate_blocking.py
  libs/@local/hash-graph-sdk/python/scripts/generate_filter.py
Labels: area: apps > hash*, area: libs, type: backend

#2924 H-67: Add ability to view archived pages
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entities-tab.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entities-tab/use-entities-table.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-tabs.tsx
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/text-icon-cell.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/entity-type-entities-context.ts
  apps/hash-frontend/src/shared/entity-type-entities-context/use-entity-type-entities-context-value.tsx
  apps/hash-frontend/src/shared/icons/asterisk-light-icon.tsx
  apps/hash-frontend/src/shared/icons/asterisk-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/file-circle-plus-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/files-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/magnifying-glass-regular-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/view-all-link.tsx
  apps/hash-frontend/src/shared/table-header.tsx
Labels: area: apps > hash*, type: frontend, area: apps

#2933 H-412: Add 'extend type' button to entity type page and sidebar menu
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section/entity-type-update-modal.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/section-empty-state.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/definition-tab.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entities-tab.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-tabs.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/type-preview-slide.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/new/types/entity-type.page.tsx
  apps/hash-frontend/src/pages/shared/create-entity-type-form.tsx
  apps/hash-frontend/src/shared/command-bar/cheat-sheet.tsx
  apps/hash-frontend/src/shared/icons/arrow-up-right-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-menu.tsx
  apps/hash-frontend/src/shared/ui.ts
  apps/hash-frontend/src/shared/ui/modal.tsx
  libs/@hashintel/design-system/src/modal.tsx
  yarn.lock
Labels: area: deps, area: apps > hash*, area: libs, type: frontend, area: apps

#2937 H-466: Update how we detect link types to account for inheritance
  .changeset/curly-pears-vanish.md
  apps/hash-api/src/graph/knowledge/primitive/link-entity.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/type-preview-slide.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/entity-types-context/provider/use-entity-types-context-value.ts
  apps/hash-frontend/src/shared/entity-types-context/shared/context-types.ts
  apps/hash-frontend/src/shared/entity-types-context/util.ts
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/use-inherited-values.ts
  libs/@hashintel/type-editor/src/shared/entity-types-options-context.tsx
Labels: area: apps > hash*, area: infra, area: apps > hash-api, area: libs, type: frontend, type: backend, area: apps

#2942 H-514: Python lint
  libs/@local/hash-graph-sdk/python/graph_sdk/client/blocking.py
  libs/@local/hash-graph-sdk/python/graph_sdk/filter/path.py
  libs/@local/hash-graph-sdk/python/package.json
  libs/@local/hash-graph-sdk/python/poetry.lock
  libs/@local/hash-graph-sdk/python/pyproject.toml
  libs/@local/hash-graph-sdk/python/scripts/codegen_blocking.sh
  libs/@local/hash-graph-sdk/python/scripts/codegen_filter.sh
  libs/@local/hash-graph-sdk/python/scripts/generate_blocking.py
  libs/@local/hash-graph-sdk/python/scripts/generate_filter.py
  libs/@local/hash-graph-sdk/python/turbo.json
Labels: area: apps > hash*, area: libs, type: backend

#2943 H-516: Split out `temporal-versioning` from `hash-graph` into crate
  apps/hash-graph/Cargo.lock
  apps/hash-graph/Cargo.toml
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/knowledge/entity.rs
  apps/hash-graph/bench/representative_read/ontology/entity_type.rs
  apps/hash-graph/bin/cli/src/subcommand/type_fetcher.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices.rs
  apps/hash-graph/lib/graph/src/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/lib.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/shared.rs
  apps/hash-graph/lib/graph/src/shared/identifier.rs
  apps/hash-graph/lib/graph/src/shared/identifier/knowledge.rs
  apps/hash-graph/lib/graph/src/shared/identifier/time/interval.rs
  apps/hash-graph/lib/graph/src/shared/interval.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/table.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/lib/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/lib/graph/src/subgraph/edges/endpoint.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier/edge.rs
  apps/hash-graph/lib/graph/src/subgraph/identifier/vertex.rs
  apps/hash-graph/lib/graph/src/subgraph/temporal_axes.rs
  apps/hash-graph/lib/temporal-versioning/Cargo.toml
  apps/hash-graph/lib/temporal-versioning/src/axis.rs
  apps/hash-graph/lib/temporal-versioning/src/bounds.rs
  apps/hash-graph/lib/temporal-versioning/src/interval.rs
  apps/hash-graph/lib/temporal-versioning/src/lib.rs
  apps/hash-graph/lib/temporal-versioning/src/serde.rs
  apps/hash-graph/lib/temporal-versioning/src/temporal_bound.rs
  apps/hash-graph/lib/temporal-versioning/src/timestamp.rs
  apps/hash-graph/lib/temporal-versioning/src/utoipa.rs
  apps/hash-graph/lib/temporal-versioning/tests/interval.rs
  apps/hash-graph/lib/type-fetcher/Cargo.toml
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/integration/Cargo.toml
  apps/hash-graph/tests/integration/postgres/entity.rs
  apps/hash-graph/tests/integration/postgres/lib.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
Labels: area: deps, area: apps > hash*, area: libs, type: backend, area: tests, area: apps, area: apps > hash-graph

#2938 H-513: Prep repository ahead of planned launch
  .github/CONTRIBUTING.md
  LICENSE.md
  apps/README.md
  apps/hashdotai/LICENSE.md
  apps/hashdotai/docs/LICENSE.md
  apps/hashdotai/glossary/LICENSE.md
  apps/hashdotdev/public/fonts/apercu-bold-pro.ttf
  apps/hashdotdev/public/fonts/apercu-light-pro.ttf
  apps/hashdotdev/public/fonts/apercu-medium-pro.ttf
  apps/hashdotdev/public/fonts/apercu-regular-pro.ttf
Labels: area: apps > hash.ai, area: infra, area: apps, type: legal

#2959 GEN-71: Fix CI for `deer`
  libs/deer/desert/src/lib.rs
Labels: area: libs, area: libs > deer

#2955 GEN-70: Simplify renovate configuration
  .github/renovate.json
Labels: area: infra

#2960 GEN-71: Fix `deer` CI failure
  libs/deer/desert/Cargo.toml
  libs/deer/desert/src/lib.rs
Labels: area: libs, area: libs > deer

#2963 H-528: Fix bugs when navigating between types
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-value.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row/inherited-type-card.tsx
Labels: area: apps > hash*, area: libs, type: frontend, area: apps

#2967 GEN-77: Bump `error-stack` to 0.4
  .github/workflows/rust.yml
  libs/error-stack/CHANGELOG.md
  libs/error-stack/Cargo.toml
Labels: area: infra, area: libs > error-stack, area: libs

#2969 H-557: Fix snapshot restore for big snapshots
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#2965 H-535: Update app welcome screen copy
  apps/hash-frontend/src/pages/index.page.tsx
Labels: area: apps > hash*, type: frontend, area: apps

#2966 H-437: Check validity of type parents to be added
  .changeset/breezy-tomatoes-divide.md
  .changeset/clever-snakes-sin.md
  .changeset/smart-seahorses-matter.md
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-tabs.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/type-preview-slide.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-value.tsx
  apps/hash-frontend/src/pages/shared/create-entity-type-form.tsx
  libs/@hashintel/design-system/src/callout.tsx
  libs/@hashintel/design-system/src/main.ts
  libs/@hashintel/design-system/src/ontology-chip.tsx
  libs/@hashintel/design-system/src/selector-autocomplete.tsx
  libs/@hashintel/design-system/src/selector-autocomplete/selector-autocomplete-option.tsx
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@hashintel/type-editor/src/entity-type-editor.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row/inherited-type-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row/use-validate-parents.ts
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/inherited-link-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/inherited-property-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/generate-readonly-message.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/insert-property-field/type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/type-form.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/use-inherited-values.ts
  patches/react-hook-form+7.37.0.patch
  yarn.lock
Labels: area: deps, area: apps > hash*, area: infra, area: libs, type: frontend, area: apps

#2977 H-182, H-184, H-369: Organization management tweaks and bug fixes
  apps/hash-frontend/src/pages/[shortname]/index.page.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/new/organization.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/index.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/new/index.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/new/index.page/create-org-form.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-settings-container.tsx
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  apps/hash-frontend/src/pages/shared/org-form.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  libs/@hashintel/design-system/src/theme/components/data-display/mui-tooltip-theme-options.ts
  libs/@local/hash-isomorphic-utils/src/sanitize.ts
Labels: area: apps > hash*, area: libs, type: frontend, type: backend, area: apps

#2978 H-597: Update tech tree
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
Labels: area: apps

#2983 H-277: Fix hotkeys detected as being pressed when they aren't
  apps/hash-frontend/src/shared/command-bar.tsx
  apps/hash-frontend/src/shared/command-bar/cheat-sheet.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/search-bar/search-input.tsx
Labels: area: apps > hash*, type: frontend, area: apps

#2982 H-479, H-534, H-578: Update logo, design system color names, type description button
  .changeset/five-tomatoes-swim.md
  apps/hash-frontend/src/pages/playground.page.tsx
  apps/hash-frontend/src/pages/playground.page/buttons-demo.tsx
  apps/hash-frontend/src/pages/playground.page/chips-demo.tsx
  apps/hash-frontend/src/pages/playground.page/inputs-demo.tsx
  apps/hash-frontend/src/pages/playground.page/select-menus-demo.tsx
  apps/hash-frontend/src/pages/playground.page/select/select-with-search-checkbox.tsx
  apps/hash-frontend/src/pages/playground.page/select/select-with-search.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar.tsx
  apps/hash-frontend/src/shared/icons.tsx
  apps/hash-frontend/src/shared/icons/hash-lockup.tsx
  apps/hash-frontend/src/shared/icons/hash-nav-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  apps/hash-frontend/theme-override.d.ts
  apps/hashdotdev/src/components/navbar.tsx
  apps/hashdotdev/src/components/pre-footer.tsx
  apps/hashdotdev/src/pages/blog/shared/blue-styled-divider.tsx
  apps/hashdotdev/src/theme/components/inputs/mui-button-theme-options.ts
  apps/hashdotdev/src/theme/palette.ts
  apps/hashdotdev/theme-override.d.ts
  blocks/address/theme-override.d.ts
  blocks/ai-chat/theme-override.d.ts
  blocks/ai-image/theme-override.d.ts
  blocks/ai-text/theme-override.d.ts
  blocks/faq/theme-override.d.ts
  blocks/how-to/theme-override.d.ts
  blocks/kanban-board/theme-override.d.ts
  blocks/shuffle/theme-override.d.ts
  blocks/table/theme-override.d.ts
  libs/@hashintel/block-design-system/src/editable-field.tsx
  libs/@hashintel/block-design-system/theme-override.d.ts
  libs/@hashintel/design-system/src/ontology-icons.tsx
  libs/@hashintel/design-system/src/selector-autocomplete.tsx
  libs/@hashintel/design-system/src/theme/components/data-display/mui-chip-theme-options.tsx
  libs/@hashintel/design-system/src/theme/components/data-display/mui-icon-button-theme-options.ts
  libs/@hashintel/design-system/src/theme/palette.ts
  libs/@hashintel/design-system/theme-override.d.ts
  libs/@hashintel/query-editor/theme-override.d.ts
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/shared/expected-values-options.ts
  libs/@hashintel/type-editor/theme-override.d.ts
Labels: area: apps > hash*, area: infra, area: blocks, area: libs, type: frontend, area: apps

#2991 H-518: Attempt to reduce required memory in CI
  .github/actions/build-docker-images/action.yml
  .github/workflows/rust.yml
Labels: area: infra

#2993 H-604: Use SHA for GH Actions when using renovate
  .github/renovate.json
Labels: area: infra

#2998 H-606: Fix Semgrep Action on main branch
  .github/workflows/semgrep.yml
Labels: area: infra

#2992 GEN-75: Use GHCR to store Docker image caches
  .github/actions/build-docker-images/action.yml
  .github/actions/load-docker-images/action.yml
  .github/workflows/ci.yml
  .github/workflows/remove-obsolete-caches.yml
  .github/workflows/rust.yml
Labels: area: infra

#2999 GEN-75: Use recognizable names for Docker tags
  .github/actions/build-docker-images/action.yml
  .github/actions/load-docker-images/action.yml
  .github/workflows/remove-obsolete-caches.yml
Labels: area: infra

#3000 GEN-75: Remove build-cache tags
  .github/actions/load-docker-images/action.yml
  .github/workflows/remove-obsolete-caches.yml
Labels: area: infra

#2997 H-605: Configure renovate to better name Action upgrades
  .github/actions/build-docker-images/action.yml
  .github/actions/docker-build-push/action.yml
  .github/actions/docker-ecr-login/action.yml
  .github/actions/load-docker-images/action.yml
  .github/actions/setup-rust-ci/action.yml
  .github/actions/terraform-exec/action.yml
  .github/actions/warm-up-repo/action.yml
  .github/renovate.json
  .github/workflows/canary-release.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dispatch-fix.yml
  .github/workflows/hash-backend-cd.yml
  .github/workflows/labeler.yml
  .github/workflows/publish-blocks-to-preview.yml
  .github/workflows/publish-blocks-to-production.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/semgrep.yml
  .github/workflows/sync-algolia-index.yml
  .github/workflows/tf-apply-hash.yml
  .github/workflows/tf-plan-hash.yml
  .github/workflows/warm-up-vercel.yml
Labels: area: infra

#3008 H-610: Set up SpiceDB Docker service
  .env
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/postgres/init-user-db.sh
Labels: area: apps > hash*, area: apps

#3012 H-616: Update tech tree design and data options
  apps/hashdotdev/src/components/icons/circle-arrow-right-solid-icon.tsx
  apps/hashdotdev/src/components/icons/circle-check-solid-icon.tsx
  apps/hashdotdev/src/components/icons/circle-three-quarters-stroke-solid-icon.tsx
  apps/hashdotdev/src/components/icons/globe-icon.tsx
  apps/hashdotdev/src/pages/roadmap/statuses.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree-filters.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree-node.tsx
  apps/hashdotdev/src/pages/roadmap/use-cases.tsx
  apps/hashdotdev/src/pages/roadmap/variants.tsx
Labels: area: apps

#2155 H-603, BP-26: Add `Tech Tree` & `Structured Data` HDEV posts
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  apps/hashdotai/glossary/fhir.mdx
  apps/hashdotai/glossary/multi-agent-systems.mdx
  apps/hashdotdev/public/blog/0001_block-design/0001_block-design-guidelines.webp
  apps/hashdotdev/public/blog/0001_block-design/DesignGuidelines_Cover.png
  apps/hashdotdev/public/blog/0002_open-source/0002_open-source.webp
  apps/hashdotdev/public/blog/0002_open-source/OpenSource_Cover.jpg
  apps/hashdotdev/public/blog/0003_one-principle/0003_one-principle.webp
  apps/hashdotdev/public/blog/0003_one-principle/3_one-principle.jpg
  apps/hashdotdev/public/blog/0004_announcing-error-stack/0004_error-stack.webp
  apps/hashdotdev/public/blog/0004_announcing-error-stack/ErrorStack_Cover.jpg
  apps/hashdotdev/public/blog/0005_build-blocks-in-any-language/0005_cross-language.webp
  apps/hashdotdev/public/blog/0005_build-blocks-in-any-language/FSharp_Cover.jpg
  apps/hashdotdev/public/blog/0006_block-protocol-v02/0006_bp-commodification.webp
  apps/hashdotdev/public/blog/0006_block-protocol-v02/BlockProtocolV2_Cover.jpg
  apps/hashdotdev/public/blog/0007_block-paved-path/0007_block-path.webp
  apps/hashdotdev/public/blog/0007_block-paved-path/7_block-path-cover.jpg
  apps/hashdotdev/public/blog/0008_sensitivity-assessor/0008_sensitivity_assessor.webp
  apps/hashdotdev/public/blog/0008_sensitivity-assessor/8_sensitivity_assessor.jpg
  apps/hashdotdev/public/blog/0008_sensitivity-assessor/8_sensitivity_assessor_uncompressed.jpg
  apps/hashdotdev/public/blog/0009_strange-loop-workshop/0009_strange-loop.webp
  apps/hashdotdev/public/blog/0009_strange-loop-workshop/cover-image-alt.jpg
  apps/hashdotdev/public/blog/0009_strange-loop-workshop/cover-image.jpg
  apps/hashdotdev/public/blog/0010_error-stack-update-0-2/0010_error-stack.webp
  apps/hashdotdev/public/blog/0010_error-stack-update-0-2/Cover.jpg
  apps/hashdotdev/public/blog/0011_hook-service/0011_hook-service.webp
  apps/hashdotdev/public/blog/0011_hook-service/11_hook-service.jpg
  apps/hashdotdev/public/blog/0012_block-protocol-0-3-wordpress/0012_bp_wordpress.webp
  apps/hashdotdev/public/blog/0012_block-protocol-0-3-wordpress/12_0-3-wordpress_70.webp
  apps/hashdotdev/public/blog/0013_wasm-ai/0013_wasm-ai.webp
  apps/hashdotdev/public/blog/0013_wasm-ai/13_wasm-ai.webp
  apps/hashdotdev/public/blog/0014_tech-tree/0014_tech-tree.webp
  apps/hashdotdev/public/blog/0015_structured-data-value/0015_structured-data-value.webp
  apps/hashdotdev/src/_pages/blog/0001_block-design.mdx
  apps/hashdotdev/src/_pages/blog/0002_open-source.mdx
  apps/hashdotdev/src/_pages/blog/0003_one-principle.mdx
  apps/hashdotdev/src/_pages/blog/0004_announcing-error-stack.mdx
  apps/hashdotdev/src/_pages/blog/0005_build-blocks-in-any-language.mdx
  apps/hashdotdev/src/_pages/blog/0006_block-protocol-v02.mdx
  apps/hashdotdev/src/_pages/blog/0007_block-paved-path.mdx
  apps/hashdotdev/src/_pages/blog/0008_sensitivity-assessor.mdx
  apps/hashdotdev/src/_pages/blog/0009_strange-loop-workshop.mdx
  apps/hashdotdev/src/_pages/blog/0010_error-stack-update-0-2.mdx
  apps/hashdotdev/src/_pages/blog/0011_hook-service.mdx
  apps/hashdotdev/src/_pages/blog/0012_block-protocol-0-3-wordpress.mdx
  apps/hashdotdev/src/_pages/blog/0013_wasm-ai.mdx
  apps/hashdotdev/src/_pages/blog/0014_tech-tree.mdx
  apps/hashdotdev/src/_pages/blog/0015_structured-data-value.mdx
  apps/hashdotdev/src/pages/index.page.tsx
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
  libs/@hashintel/type-editor/README.md
  libs/@local/hash-graph-client/python/poetry.lock
Labels: area: apps > hash*, area: apps > hash.ai, area: infra, area: libs, type: frontend, type: backend, area: apps

#3011 H-73: Fix file uploads from blocks, remove unused code
  apps/hash-api/package.json
  apps/hash-api/src/graph/knowledge/system-types/file.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/create-file-from-url.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/request-file-upload.ts
  apps/hash-api/src/storage/aws-s3-storage-provider.ts
  apps/hash-api/src/storage/local-file-storage.ts
  apps/hash-api/src/storage/storage-provider.ts
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/knowledge-shim.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-file-upload.ts
  apps/hash-frontend/src/graphql/queries/knowledge/file.queries.ts
  apps/hash-frontend/src/pages/entity-editor.page.tsx
  apps/hash-frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
  apps/hash-frontend/src/pages/type-editor/index.page.tsx
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/file.typedef.ts
  libs/@local/hash-isomorphic-utils/src/generate-system-types.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/blockprotocol/file.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/file.test.ts
  yarn.lock
Labels: area: deps, area: apps > hash*, area: apps > hash-api, area: libs, type: frontend, type: backend, area: tests, area: tests > integration, area: apps

#3013 Revert "Update ESLint npm packages (major)"
  libs/@local/eslint-config/package.json
  libs/@local/hash-graph-client/typescript/package.json
  yarn.lock
Labels: area: deps, area: apps > hash*, area: libs, type: backend

#3022 H-623: Zoom to correct position in roadmap
  apps/hashdotdev/src/pages/roadmap/technology-tree.tsx
Labels: area: apps

#3024 H-613: Remove `Sync Algolia Index` CI job
  .github/workflows/sync-algolia-index.yml
Labels: area: infra

#3014 H-469: Add basic Zanzibar structs and simple check functionality
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/authorization/Cargo.toml
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb.rs
  apps/hash-graph/lib/authorization/src/lib.rs
  apps/hash-graph/lib/authorization/src/zanzibar.rs
Labels: area: deps, area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#3026 H-469: Support creating new relationships
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb.rs
  apps/hash-graph/lib/authorization/src/lib.rs
  apps/hash-graph/lib/authorization/src/zanzibar.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#3027 H-646: Use artifacts to pass around docker images
  .github/actions/build-docker-images/action.yml
  .github/actions/load-docker-images/action.yml
  .github/workflows/remove-obsolete-caches.yml
Labels: area: infra

#3023 H-612: Disable Semgrep in merge groups
  .github/workflows/semgrep.yml
Labels: area: infra

#3009 H-120, H-529: Add `Fractal Trees` HDEV post (`Entropy` series)
  apps/hashdotdev/public/blog/0016_file-structuring/0016_file-structuring.webp
  apps/hashdotdev/public/blog/0016_file-structuring/resources-of-subtrees.png
  apps/hashdotdev/public/blog/0016_file-structuring/shared-resources-1.png
  apps/hashdotdev/public/blog/0016_file-structuring/shared-resources-2.png
  apps/hashdotdev/public/blog/0016_file-structuring/tree-evolution-1.png
  apps/hashdotdev/public/blog/0016_file-structuring/tree-evolution-2.png
  apps/hashdotdev/public/blog/0016_file-structuring/tree-evolution-3.png
  apps/hashdotdev/public/blog/authors/ahmad-sattar.png
  apps/hashdotdev/public/blog/authors/ahmad-sattar.webp
  apps/hashdotdev/public/blog/authors/alexander-kachkaev.webp
  apps/hashdotdev/public/blog/authors/tim-diekmann_original.jpg
  apps/hashdotdev/public/home/projects/hEngine-mobile.svg
  apps/hashdotdev/public/home/projects/hEngine.svg
  apps/hashdotdev/src/_pages/blog/0001_block-design.mdx
  apps/hashdotdev/src/_pages/blog/0004_announcing-error-stack.mdx
  apps/hashdotdev/src/_pages/blog/0005_build-blocks-in-any-language.mdx
  apps/hashdotdev/src/_pages/blog/0011_hook-service.mdx
  apps/hashdotdev/src/_pages/blog/0016_file-structuring.mdx
  apps/hashdotdev/src/components/icons/circle-info-light-icon.tsx
  apps/hashdotdev/src/components/mdx-callout.tsx
  apps/hashdotdev/src/components/mdx-pre.tsx
  apps/hashdotdev/src/util/image-metadata.ts
  apps/hashdotdev/src/util/mdx-components.tsx
Labels: area: apps

#3028 H-645: Attempt to figure out the reason why `spicedb-migrate` fails
  .github/workflows/ci.yml
  .github/workflows/rust.yml
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-external-services/docker-compose.prototype.yml
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/postgres/postgresql.conf
  apps/hash-graph/.justfile
Labels: area: apps > hash*, area: infra, type: backend, area: apps, area: apps > hash-graph

#3029 H-649: Support deletion of relationships
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#3015 H-627: Update the tech tree
  .github/actions/build-docker-images/action.yml
  .github/renovate.json
  .github/workflows/remove-obsolete-caches.yml
  apps/hashdotdev/src/_pages/blog/0014_tech-tree.mdx
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
Labels: area: infra, area: apps

#3034 H-607: Allow user upload of avatars for organizations
  apps/hash-api/src/graph/knowledge/system-types/file.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/create-file-from-url.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/request-file-upload.ts
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/knowledge-shim.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-file-upload.ts
  apps/hash-frontend/src/components/hooks/use-orgs.ts
  apps/hash-frontend/src/graphql/queries/knowledge/file.queries.ts
  apps/hash-frontend/src/graphql/queries/user.queries.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/general.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/new/index.page/create-org-form.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-form.tsx
  apps/hash-frontend/src/pages/settings/shared/image-field.tsx
  apps/hash-frontend/src/pages/settings/shared/image-upload-dropzone.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  blocks/ai-image/src/app/generate-image/image-preview.tsx
  libs/@hashintel/design-system/src/icon-image-regular.tsx
  libs/@hashintel/design-system/src/icon-image-solid.tsx
  libs/@hashintel/design-system/src/main.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/file.typedef.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/blockprotocol/remote-file.ts
  libs/@local/hash-isomorphic-utils/src/system-types/blockprotocol/remote-image-file.ts
  libs/@local/hash-isomorphic-utils/src/system-types/blockprotocol/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/file.ts
  libs/@local/hash-isomorphic-utils/src/system-types/hashinstance.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/org.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
  libs/@local/hash-subgraph/src/shared/type-system-patch.ts
  yarn.lock
Labels: area: deps, area: apps > hash*, area: apps > hash-api, area: blocks, area: libs, type: frontend, type: backend, area: apps

#3039 H-662: Remove installation of `protoc`
  .github/workflows/rust.yml
  apps/hash-graph/docker/Dockerfile
Labels: area: apps > hash*, area: infra, type: backend, area: apps, area: apps > hash-graph

#3040 H-650, H-651: Implement schema import/export
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#3042 H-666: Hide 'General' from use case list
  apps/hashdotdev/src/pages/roadmap.page.tsx
Labels: area: apps

#3043 H-654, H-664: Implement deletion for relations based on a filter
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/model.rs
  apps/hash-graph/lib/authorization/src/lib.rs
  apps/hash-graph/lib/authorization/src/zanzibar.rs
Labels: area: apps > hash*, type: backend, area: apps, area: apps > hash-graph

#3044 H-680: Write initial test suite for authorization
  apps/hash-graph/Cargo.lock
  apps/hash-graph/Cargo.toml
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/lib/authorization/Cargo.toml
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/authorization/src/zanzibar.rs
  apps/hash-graph/lib/authorization/tests/api.rs
  apps/hash-graph/lib/authorization/tests/schema.rs
  apps/hash-graph/lib/authorization/tests/schemas/simple.zed
  apps/hash-graph/lib/authorization/tests/simple.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/type-fetcher/Cargo.toml
  apps/hash-graph/tests/integration/Cargo.toml
Labels: area: deps, area: apps > hash*, type: backend, area: tests, area: apps, area: apps > hash-graph
