Repository hashintel/hash, pull requests merged in 2023-01, with the labels that each got.

#1710 Globally specify common components for OpenAPI specs
  packages/graph/hash_graph/lib/graph/src/api/rest/data_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/property_type.rs
Labels: A-backend

#1703 Use `derivative` to simplify trait implementations
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/query.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
Labels: C-dependencies, A-backend

#1691 Define methods on `Subgraph` instead of `Record`
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/ontology.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/crud.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/record.rs
Labels: A-backend

#1747 Add documentation to newly added query path variants
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
Labels: A-backend

#1713 Introduce user account recovery flow
  packages/hash/api/src/graphql/resolvers/linked-aggregation/create-linked-aggregation.ts
  packages/hash/external-services/kratos/kratos.dev.yml
  packages/hash/frontend/src/components/hooks/use-orgs.ts
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/login.page.tsx
  packages/hash/frontend/src/pages/recovery.page.tsx
  packages/hash/frontend/src/pages/settings.page.tsx
  packages/hash/frontend/src/pages/shared/ory-kratos.ts
  packages/hash/frontend/src/shared/ui/button.tsx
  packages/hash/frontend/src/shared/ui/link.tsx
Labels: A-hash, api, frontend

#1748 Array property type min/max values
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form-values.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder/array-min-max-items.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/shared/expected-value-badge.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/shared/object-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/property-type-schema.ts
Labels: A-hash, frontend

#1749 Allow conversion from `Report` to `Error`
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/src/error.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/src/report.rs
  packages/libs/error-stack/tests/test_compatibility.rs
  packages/libs/error-stack/tests/test_conversion.rs
  packages/libs/error-stack/tests/ui/into_report.rs
  packages/libs/error-stack/tests/ui/into_report.stderr
Labels: A-error-stack

#1734 Implement draft state for entity editor
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/entity-type-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/entity-types-context-provider.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/shared/entity-types-context.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor-page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-on-cell-edited.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/select-entity-type-page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/update-entity-subgraph-state-by-entity.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-create-new-entity-and-redirect.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/edit-bar-type-editor.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/edit-bar.tsx
  packages/hash/frontend/src/pages/new/entity.page.tsx
Labels: A-hash, frontend

#1745 Implement three simple Storybook stories for Design System components
  packages/hash/design-system/.storybook/preview.js
  packages/hash/design-system/package.json
  packages/hash/design-system/src/button.stories.tsx
  packages/hash/design-system/src/chip.stories.tsx
  packages/hash/design-system/src/loading-spinner.stories.tsx
  packages/hash/design-system/src/stories/assets/code-brackets.svg
  packages/hash/design-system/src/stories/assets/colors.svg
  packages/hash/design-system/src/stories/assets/comments.svg
  packages/hash/design-system/src/stories/assets/direction.svg
  packages/hash/design-system/src/stories/assets/flow.svg
  packages/hash/design-system/src/stories/assets/plugin.svg
  packages/hash/design-system/src/stories/assets/repo.svg
  packages/hash/design-system/src/stories/assets/stackalt.svg
  packages/hash/design-system/src/stories/button.css
  packages/hash/design-system/src/stories/button.tsx
  packages/hash/design-system/src/stories/header.css
  packages/hash/design-system/src/stories/header.stories.ts
  packages/hash/design-system/src/stories/header.tsx
  packages/hash/design-system/src/stories/introduction.mdx
  packages/hash/design-system/src/stories/page.css
  packages/hash/design-system/src/stories/page.stories.ts
  packages/hash/design-system/src/stories/page.tsx
  yarn.lock
Labels: C-dependencies, A-hash

#1744 Update boolean chip design on entity editor property table
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/draft-row.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/boolean-input.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
Labels: A-hash, frontend

#1750 Add icons for data types in entity editor
  packages/hash/frontend/src/components/grid/utils/custom-grid-icons.ts
  packages/hash/frontend/src/components/grid/utils/draw-chip-with-icon.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-create-get-cell-content.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/chip-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-type-picker.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  patches/@glideapps+glide-data-grid+5.1.4.patch
Labels: A-hash, frontend

#1752 Properties section: Respect min-max settings on arrays
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/item-limit-info.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/types.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
Labels: A-hash, frontend

#1672 Pause hydration until type system has loaded
  packages/hash/frontend/src/blocks/page/page-block.tsx
  packages/hash/frontend/src/components/hooks/use-hash-instance.ts
  packages/hash/frontend/src/components/hooks/use-orgs.ts
  packages/hash/frontend/src/lib/use-init-type-system.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/entity-types-context-provider.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/use-entity-type-value.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/use-property-types-context-value.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/frontend/src/pages/new/entity.page.tsx
  packages/hash/frontend/src/pages/new/types/entity-type.page.tsx
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-item.tsx
Labels: A-hash, frontend

#1751 Fix scroll lock issue on entity editor
  packages/hash/design-system/src/use-scroll-lock.ts
  packages/hash/frontend/src/components/grid/utils/override-custom-renderers.tsx
  packages/hash/frontend/src/components/grid/utils/use-grid-tooltip.tsx
Labels: A-hash, frontend

#1717 Use unbounded time ranges in Postgres
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/migrations/postgres/migration/1656417312397_initial.ts
Labels: A-backend

#1715 Replace time-related structs with more generic ones
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/axis.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/timestamp.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/version.rs
  packages/graph/hash_graph/lib/graph/src/store/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1756 Add recovery and settings UI URLs in production
  infra/terraform/hash/prod-usea1.tfvars
  packages/hash/external-services/kratos/kratos.dev.yml
  packages/hash/external-services/kratos/kratos.prod.yml
Labels: A-hash

#1753 Implement `transaction()` on `Store` trait
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/complete/entity.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/linkless/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/lib/graph/src/store/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1758 Open entity editor page when entity cell is clicked
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/entities-tab.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/entities-tab/text-icon-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/entities-tab/use-entities-table.tsx
Labels: A-hash, frontend

#1755 Selected text format bar changes
  packages/hash/frontend/src/blocks/page/create-format-plugins/marks-tooltip.tsx
  packages/hash/frontend/src/shared/icons/bold-icon.tsx
  packages/hash/frontend/src/shared/icons/hightlighter-icon.tsx
  packages/hash/frontend/src/shared/icons/italic-icon.tsx
  packages/hash/frontend/src/shared/icons/link-icon.tsx
  packages/hash/frontend/src/shared/icons/strikethrough-icon.tsx
  packages/hash/frontend/src/shared/icons/underline-icon.tsx
  packages/hash/shared/src/graphql/types.ts
  packages/hash/shared/src/prosemirror.ts
  packages/hash/shared/src/text.ts
Labels: A-hash, frontend

#1767 Fix updating the same ontology type resulting in an error
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
Labels: A-backend

#1760 Add BP API key to infrastructure
  infra/terraform/README.md
  infra/terraform/hash/main.tf
  infra/terraform/hash/variables.tf
  infra/terraform/modules/hash_application/api.tf
  packages/hash/README.md
Labels: A-hash

#1761 Move `rustfmt.toml` to the repository root
  .rustfmt.toml
  packages/engine/lib/execution/src/package/simulation/state/topology/config.rs
  packages/engine/lib/execution/src/runner/python/receiver.rs
  packages/engine/lib/experiment-structure/src/manifest.rs
  packages/engine/lib/memory/src/arrow/record_batch.rs
  packages/engine/lib/orchestrator/src/process/local.rs
  packages/engine/lib/simulation-control/src/controller/packages.rs
  packages/engine/lib/stateful/src/agent/into_agent.rs
  packages/engine/lib/stateful/src/field/field_type.rs
  packages/engine/lib/stateful/src/lib.rs
  packages/engine/lib/stateful/src/message/batch.rs
  packages/engine/rustfmt.toml
  packages/libs/deer/rustfmt.toml
  packages/libs/error-stack/rustfmt.toml
Labels: A-engine, A-error-stack, A-deer

#1770 Emit warning when finding an `'infinity'` or `'-infinity'` value
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/mod.rs
Labels: A-backend

#1763 Cancel property type edit confirmation modal
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/shared/delete-expected-value-modal.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector/shared/object-expected-value-builder.tsx
Labels: A-hash, frontend

#1762 Adjust production dockerfile
  packages/hash/external-services/docker-compose.prod.yml
Labels: A-hash

#1718 Expose version timespans of entities to the backend
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/ontology/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/timestamp.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/edge.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/edges/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/vertices/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/record.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/hash/api/src/graph/knowledge/system-types/page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/text-updated-at.ts
  packages/hash/api/src/graphql/type-defs/subgraph.typedef.ts
  packages/hash/frontend/src/blocks/page/comments/comment-thread.tsx
  packages/hash/frontend/src/components/hooks/use-orgs.ts
  packages/hash/frontend/src/components/hooks/use-users.ts
  packages/hash/frontend/src/lib/user-and-org.ts
  packages/hash/frontend/src/pages/[shortname]/[page-slug].page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/sort-link-and-target-entities.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/update-entity-subgraph-state-by-entity.ts
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/pages/shared/auth-info-context.tsx
  packages/hash/integration/src/tests/graph/knowledge/primitive/entity.test.ts
  packages/hash/shared/src/entity-store.ts
  packages/hash/shared/src/graphql/scalar-mapping.ts
  packages/hash/shared/src/prosemirror-manager.ts
  packages/hash/subgraph/src/stdlib/element/entity.ts
  packages/hash/subgraph/src/stdlib/roots.ts
  packages/hash/subgraph/src/types/edge.ts
  packages/hash/subgraph/src/types/element.ts
  packages/hash/subgraph/src/types/identifier.ts
  packages/hash/subgraph/src/types/subgraph.ts
  packages/hash/subgraph/src/types/vertex.ts
  packages/hash/subgraph/tests/compatibility.test/map-edges.ts
  packages/hash/subgraph/tests/compatibility.test/map-roots.ts
  packages/hash/subgraph/tests/compatibility.test/map-vertices.ts
Labels: A-hash, api, integration, frontend, A-backend

#1771 Dynamically generate types for unseen data, and fix GitHub integration
  infra/terraform/hash/prod-usea1.tfvars
  packages/graph/hash_graph/bin/hash_graph/src/args.rs
  packages/hash/api/src/graph/knowledge/primitive/entity.ts
  packages/hash/api/src/graph/knowledge/system-types/block.ts
  packages/hash/api/src/graph/knowledge/system-types/comment.ts
  packages/hash/api/src/graph/knowledge/system-types/hash-instance.ts
  packages/hash/api/src/graph/knowledge/system-types/org.ts
  packages/hash/api/src/graph/knowledge/system-types/page.ts
  packages/hash/api/src/graph/knowledge/system-types/user.ts
  packages/hash/api/src/graphql/resolvers/task-executor/generation.ts
  packages/hash/api/src/graphql/resolvers/task-executor/index.ts
  packages/hash/api/src/task-execution/index.ts
  packages/hash/external-services/docker-compose.prod.yml
  packages/hash/external-services/docker-compose.yml
  packages/hash/integration/src/tests/graph/knowledge/primitive/entity.test.ts
  packages/hash/integration/src/tests/graph/knowledge/primitive/link-entity.test.ts
  packages/hash/integration/src/tests/graph/knowledge/system-types/block.test.ts
  packages/hash/integration/src/tests/graph/knowledge/system-types/comment.test.ts
  packages/hash/integration/src/tests/graph/knowledge/system-types/page.test.ts
  packages/hash/shared/src/ontology-types.ts
  packages/hash/shared/src/util.ts
  packages/hash/subgraph/src/types/element.ts
  packages/hash/task-executor/README.md
  packages/hash/task-executor/nodemon.json
  packages/hash/task-executor/package.json
  packages/hash/task-executor/src/main.ts
  packages/hash/task-executor/src/tasks/source-github.ts
Labels: A-hash, api, integration, A-backend

#1765 Remove `Dummy` entity type
  packages/hash/api/src/graph/system-types.ts
  packages/hash/api/src/graph/util.ts
  packages/hash/frontend/src/pages/entity-editor.page.tsx
  packages/hash/integration/src/tests/graph/knowledge/system-types/page.test.ts
  packages/hash/shared/src/ontology-types.ts
Labels: A-hash, api, integration, frontend

#1775 Add helper function to get property types referenced in an entity type
  packages/hash/subgraph/src/stdlib/edge/entity-type.ts
  packages/hash/subgraph/src/types/edge/outward-edge-alias.ts
Labels: A-hash

#1701 `deer`: testing framework
  packages/libs/deer/Cargo.toml
  packages/libs/deer/desert/Cargo.toml
  packages/libs/deer/desert/README.md
  packages/libs/deer/desert/src/array.rs
  packages/libs/deer/desert/src/assert.rs
  packages/libs/deer/desert/src/deserializer.rs
  packages/libs/deer/desert/src/lib.rs
  packages/libs/deer/desert/src/object.rs
  packages/libs/deer/desert/src/tape.rs
  packages/libs/deer/desert/src/token.rs
  packages/libs/deer/json/src/error.rs
  packages/libs/deer/json/src/lib.rs
  packages/libs/deer/src/context.rs
  packages/libs/deer/src/error/extra.rs
  packages/libs/deer/src/error/internal.rs
  packages/libs/deer/src/error/mod.rs
Labels: A-deer

#1738 Add time projection interface to structural queries and subgraph at the Graph
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/complete/entity.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/linkless/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/entity.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/vertices/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/axis.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/projection.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/timespan.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/query.rs
  packages/graph/hash_graph/lib/graph/src/store/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/hash/api/src/graphql/type-defs/subgraph.typedef.ts
  packages/hash/frontend/src/graphql/queries/subgraph.ts
  packages/hash/shared/src/graphql/scalar-mapping.ts
  packages/hash/subgraph/src/index.ts
  packages/hash/subgraph/src/types/subgraph.ts
  packages/hash/subgraph/src/types/time.ts
  packages/hash/subgraph/tests/compatibility.test.ts
Labels: A-hash, api, frontend, A-backend

#1754 Bump Rust toolchain to `2023-01-03`
  packages/graph/hash_graph/rust-toolchain.toml
Labels: A-backend

#1783 Use version object on draft entity subgraph to prevent crash
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
Labels: A-hash, frontend

#1772 Correct success state for text field
  packages/hash/design-system/package.json
  packages/hash/design-system/src/text-field.tsx
Labels: A-hash

#1773 Improve property type form validation
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/type-form.tsx
Labels: A-hash, frontend

#1769 Support editing property types with property objects or arrays
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/get-property-type-schema.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/custom-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder/array-min-max-items.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/expected-value-chip.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/shared/custom-expected-value-builder-context.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/shared/custom-expected-value-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/shared/delete-expected-value-modal.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/shared/expected-value-badge.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/shared/expected-value-selector-form-values.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/shared/expected-values-options.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/shared/object-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-to-form-data-expected-values.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/data-type-options.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/default-expected-value.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/expected-value-types.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/get-expected-value-descriptor.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form-values.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/expected-value-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/property-type-form/property-type-schema.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/insert-property-row/type-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/insert-type-row.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/type-form.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/with-handler.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/shared/use-property-types-context-value.tsx
Labels: A-hash, frontend

#1788 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: A-infra

#1786 Introduce globally applied clippy lints for Rust crates
  packages/graph/hash_graph/.config/config.toml
  packages/graph/hash_graph/bench/benches/entry.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/complete/entity.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/complete/mod.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/linkless/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/mod.rs
  packages/graph/hash_graph/bench/benches/representative_read/ontology/entity_type.rs
  packages/graph/hash_graph/bench/benches/representative_read/seed.rs
  packages/graph/hash_graph/bench/benches/util.rs
  packages/graph/hash_graph/bin/hash_graph/src/args.rs
  packages/graph/hash_graph/bin/hash_graph/src/main.rs
  packages/graph/hash_graph/lib/graph/src/lib.rs
Labels: A-backend

#1774 Update entity version on entity editor
  packages/hash/api/src/graph/knowledge/primitive/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/type-defs/knowledge/entity.typedef.ts
  packages/hash/frontend/src/components/hooks/block-protocol-functions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-update-entity.ts
  packages/hash/frontend/src/graphql/queries/knowledge/entity.queries.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section/entity-type-update-modal.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section/type-card.tsx
  packages/hash/frontend/src/pages/[shortname]/shared/white-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/entity-type-table.tsx
Labels: A-hash, api, frontend

#1778 Array expected value badges
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-expected-values.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/expected-value-chip.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/shared/expected-value-badge.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/default-expected-value.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/expected-value-types.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/expected-values-options.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/get-expected-value-descriptor.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/entity-type-table.tsx
  packages/hash/frontend/src/shared/icons/pro/fa-list-tree.tsx
Labels: A-hash, frontend

#1784 Application configuration for production docker compose
  packages/hash/external-services/docker-compose.prod.yml
  packages/hash/external-services/kratos/Dockerfile
  packages/hash/shared/src/environment.ts
Labels: A-hash

#1777 Add preliminary Asana integration
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/task-executor/airbyte-read.ts
  packages/hash/api/src/graphql/resolvers/task-executor/index.ts
  packages/hash/api/src/graphql/type-defs/task-execution.typedef.ts
  packages/hash/api/src/task-execution/index.ts
  packages/hash/task-executor/.gitignore
  packages/hash/task-executor/README.md
  packages/hash/task-executor/src/main.ts
  packages/hash/task-executor/src/tasks/source-asana.ts
Labels: A-hash, api

#1759 Add tracing to the TypeScript backend
  .env
  packages/graph/hash_graph/lib/graph/src/api/rest/middleware.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/hash/api/package.json
  packages/hash/api/src/graphql/opentelemetry.ts
  packages/hash/api/src/index.ts
  packages/hash/external-services/docker-compose.yml
  yarn.lock
Labels: C-dependencies, A-hash, api, A-backend

#1790 Test cell update function of `Grid` component
  packages/hash/design-system/src/text-field.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  packages/hash/frontend/src/pages/login.page.tsx
  packages/hash/playwright/tests/entity-creation.spec.ts
Labels: A-hash, frontend, playwright

#1791 Add `blue.5` color to palette
  packages/hash/design-system/src/theme/palette.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section/type-card.tsx
Labels: A-hash, frontend

#1794 `error-stack` unify hook output of location hook
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/location.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/tests/snapshots/test_debug__full__alt.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_decr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_for_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_incr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_multiple.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__norm.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace-pretty-print.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-pretty-print.snap
Labels: A-error-stack

#1785 Implement `Interval` operations
  packages/graph/hash_graph/Cargo.lock
  packages/graph/hash_graph/lib/graph/Cargo.toml
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/timespan.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/timestamp.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/version.rs
  packages/graph/hash_graph/lib/interval-ops/Cargo.toml
  packages/graph/hash_graph/lib/interval-ops/src/bounds.rs
  packages/graph/hash_graph/lib/interval-ops/src/interval.rs
  packages/graph/hash_graph/lib/interval-ops/src/interval_bounds.rs
  packages/graph/hash_graph/lib/interval-ops/src/lib.rs
Labels: C-dependencies, A-backend

#1793 Fix crash on slow networks when creating entity type
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/entity-type-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/entity-types-context-provider.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/shared/entity-types-context.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/select-entity-type-page.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/link-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/shared/entity-types-context.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/use-entity-type-value.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/use-entity-types-context-value.tsx
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/src/shared/entity-types-context/hooks.ts
  packages/hash/frontend/src/shared/entity-types-context/hooks/use-entity-types-context-required.ts
  packages/hash/frontend/src/shared/entity-types-context/provider.tsx
  packages/hash/frontend/src/shared/entity-types-context/provider/use-entity-types-context-value.ts
  packages/hash/frontend/src/shared/entity-types-context/shared/context-types.ts
  packages/hash/frontend/src/shared/entity-types-context/shared/context.ts
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
Labels: A-hash, frontend

#1798 Use wasm binary for type system instead of base64 version
  libs/javascript/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  packages/hash/frontend/assets.d.ts
  packages/hash/frontend/next.config.js
  packages/hash/frontend/src/pages/_app.page.tsx
  packages/hash/frontend/tsconfig.json
Labels: A-hash, frontend

#1795 Move `libs/javascript/@local` to `libs/@local`
  libs/@local/eslint-config/.eslintrc.cjs
  libs/@local/eslint-config/generate-block-config.cjs
  libs/@local/eslint-config/generate-ignore-patterns.cjs
  libs/@local/eslint-config/generate-workspace-config.cjs
  libs/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  libs/@local/eslint-config/legacy-block-eslintrc-to-refactor.cjs
  libs/@local/eslint-config/package.json
  libs/@local/eslint-config/temporarily-disable-rules.cjs
  libs/@local/tsconfig/block.json
  libs/@local/tsconfig/legacy-base-tsconfig-to-refactor.json
  libs/@local/tsconfig/package.json
  package.json
  packages/hash/docker/api/prod/Dockerfile
  packages/hash/docker/frontend/prod/Dockerfile
  packages/hash/docker/realtime/prod/Dockerfile
  packages/hash/docker/search-loader/prod/Dockerfile
  packages/hash/docker/task-executor/Dockerfile
Labels: A-hash, A-infra, docker

#1797 Refactor impure graph context
  packages/hash/api/src/auth/index.ts
  packages/hash/api/src/graph/index.ts
  packages/hash/api/src/graph/knowledge/primitive/entity.ts
  packages/hash/api/src/graph/system-entities.ts
  packages/hash/api/src/graph/system-types.ts
  packages/hash/api/src/graph/system-user.ts
  packages/hash/api/src/graph/util.ts
  packages/hash/api/src/graphql/context.ts
  packages/hash/api/src/graphql/create-apollo-server.ts
  packages/hash/api/src/graphql/resolvers/knowledge/block/block.ts
  packages/hash/api/src/graphql/resolvers/knowledge/block/data-entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/author.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/comment.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/delete.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/has-text.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/parent.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/replies.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/resolve.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/text-updated-at.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/update-text.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/before-update-entity-hooks.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/knowledge/hash-instance/hash-instance.ts
  packages/hash/api/src/graphql/resolvers/knowledge/org/create-org.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/page-contents.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/set-parent-page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-actions.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page-contents.ts
  packages/hash/api/src/graphql/resolvers/knowledge/page/update-page.ts
  packages/hash/api/src/graphql/resolvers/knowledge/user/create-user.ts
  packages/hash/api/src/graphql/resolvers/knowledge/user/is-shortname-taken.ts
  packages/hash/api/src/graphql/resolvers/knowledge/user/me.ts
  packages/hash/api/src/graphql/resolvers/middlewares/can-access-account.ts
  packages/hash/api/src/graphql/resolvers/middlewares/is-hash-instance-admin.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  packages/hash/api/src/graphql/resolvers/task-executor/airbyte-read.ts
  packages/hash/api/src/graphql/resolvers/task-executor/index.ts
  packages/hash/api/src/graphql/resolvers/util.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/model/aggregation.model.ts
  packages/hash/api/src/seed-data/index.ts
  packages/hash/api/src/seed-data/seed-pages.ts
  packages/hash/api/src/seed-data/seed-users.ts
  packages/hash/api/src/storage/storage-provider-lookup.ts
  packages/hash/api/src/storage/storage-provider.ts
  packages/hash/integration/src/tests/graph/knowledge/primitive/entity.test.ts
  packages/hash/integration/src/tests/graph/knowledge/primitive/link-entity.test.ts
  packages/hash/integration/src/tests/graph/knowledge/system-types/block.test.ts
  packages/hash/integration/src/tests/graph/knowledge/system-types/comment.test.ts
  packages/hash/integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
  packages/hash/integration/src/tests/graph/knowledge/system-types/org-membership.test.ts
  packages/hash/integration/src/tests/graph/knowledge/system-types/org.test.ts
  packages/hash/integration/src/tests/graph/knowledge/system-types/page.test.ts
  packages/hash/integration/src/tests/graph/knowledge/system-types/user.test.ts
  packages/hash/integration/src/tests/graph/ontology/primitive/data-type.test.ts
  packages/hash/integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  packages/hash/integration/src/tests/graph/ontology/primitive/property-type.test.ts
  packages/hash/integration/src/tests/util.ts
Labels: A-hash, api, integration

#1814 Handle more edge cases in type generation
  packages/hash/api/src/graphql/resolvers/task-executor/airbyte-read.ts
  packages/hash/api/src/graphql/resolvers/task-executor/generation.ts
Labels: A-hash, api

#1803 Move `hash-realtime` and `hash-search-loader` workspaces to `apps`
  .github/labeler.yml
  apps/hash-realtime/.eslintrc.cjs
  apps/hash-realtime/LICENSE.md
  apps/hash-realtime/README.md
  apps/hash-realtime/package.json
  apps/hash-realtime/src/config.ts
  apps/hash-realtime/src/index.ts
  apps/hash-realtime/src/scripts/clear-redis.ts
  apps/hash-realtime/tsconfig.json
  apps/hash-search-loader/.eslintrc.cjs
  apps/hash-search-loader/LICENSE.md
  apps/hash-search-loader/README.md
  apps/hash-search-loader/package.json
  apps/hash-search-loader/src/config.ts
  apps/hash-search-loader/src/index.ts
  apps/hash-search-loader/src/scripts/clear-opensearch.ts
  apps/hash-search-loader/src/search-loader.ts
  apps/hash-search-loader/tsconfig.json
  package.json
  packages/hash/docker/realtime/prod/Dockerfile
  packages/hash/docker/search-loader/prod/Dockerfile
Labels: A-hash, A-infra, docker

#1781 Update README for new repo structure
  .github/assets/README.md
  .github/assets/gh_icon_about_20px-base.svg
  .github/assets/gh_icon_acknowledgement_20px-base.svg
  .github/assets/gh_icon_contact_20px-base.svg
  .github/assets/gh_icon_contributing_20px-base.svg
  .github/assets/gh_icon_examples_20px-base.svg
  .github/assets/gh_icon_getting-started_20px-base.svg
  .github/assets/gh_icon_license_20px-base.svg
  .github/assets/gh_icon_repo-structure_20px-base.svg
  .github/assets/gh_icon_roadmap_20px-base.svg
  .github/assets/gh_icon_security_20px-base.svg
  .github/assets/gh_icon_what-is-hash_20px-base.svg
  LICENSE.md
  README.md
  apps/hashdotai/resources/docs/graph/README.md
  apps/hashdotdev/src/_pages/blog/0002_open-source.mdx
  apps/hashdotdev/src/_pages/blog/0003_one-principle.mdx
Labels: A-learn, A-infra

#1819 Improve repo docs
  .github/workflows/rust.yml
  apps/README.md
  libs/README.md
  packages/README.md
  packages/graph/migrations/README.md
  packages/hash/api/src/graphql/resolvers/task-executor/generation.ts
  packages/hash/frontend/src/pages/signup.page/signup-intro.tsx
Labels: A-hash, A-infra, api, frontend, A-backend

#1805 Move system tests to `tests`
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/hash-backend-cd.yml
  package.json
  packages/hash/README.md
  tests/hash-backend-integration/.eslintrc.cjs
  tests/hash-backend-integration/LICENSE.md
  tests/hash-backend-integration/README.md
  tests/hash-backend-integration/babel.config.js
  tests/hash-backend-integration/codegen.config.ts
  tests/hash-backend-integration/jest.config.cjs
  tests/hash-backend-integration/package.json
  tests/hash-backend-integration/src/tests/email.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/link-entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/block.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org-membership.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/page.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
  tests/hash-backend-integration/src/tests/integration.test.ts
  tests/hash-backend-integration/src/tests/load-test-env.ts
  tests/hash-backend-integration/src/tests/model/aggregation.model.test.ts
  tests/hash-backend-integration/src/tests/setup.ts
  tests/hash-backend-integration/src/tests/util.ts
  tests/hash-backend-integration/tsconfig.json
  tests/hash-playwright/.eslintrc.cjs
  tests/hash-playwright/LICENSE.md
  tests/hash-playwright/package.json
  tests/hash-playwright/playwright.config.ts
  tests/hash-playwright/tests/entity-creation.spec.ts
  tests/hash-playwright/tests/entity-type-creation.spec.ts
  tests/hash-playwright/tests/guest-user.spec.ts
  tests/hash-playwright/tests/page-creation.spec.ts
  tests/hash-playwright/tests/page-readonly-mode.spec.ts
  tests/hash-playwright/tests/shared/get-derived-payload-from-most-recent-email.ts
  tests/hash-playwright/tests/shared/login-using-temp-form.ts
  tests/hash-playwright/tests/shared/login-using-ui.ts
  tests/hash-playwright/tests/shared/reset-db.ts
  tests/hash-playwright/tests/shared/runtime.ts
  tests/hash-playwright/tsconfig.json
Labels: A-hash, A-infra

#1801 Use time projection kernel in compiled queries
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/axis.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/projection.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1821 Update Code block for Block Protocol 0.3
  blocks/code/package.json
  blocks/code/src/app.tsx
  blocks/code/src/dev.tsx
  package.json
  yarn.lock
Labels: C-dependencies, A-infra, A-blocks

#1820 Improve license-handling and misc repo copy
  .github/licenses/LICENSE-AGPL.md
  .github/licenses/LICENSE-APACHE.md
  .github/licenses/LICENSE-ELASTIC.md
  .github/licenses/LICENSE-MIT.md
  LICENSE.md
  README.md
  apps/README.md
Labels: A-infra

#1832 Improve `deer` README phrasing
  packages/libs/deer/README.md
Labels: A-deer

#1836 Add `Interval::contains_point` method
  packages/graph/hash_graph/lib/interval-ops/src/bounds.rs
  packages/graph/hash_graph/lib/interval-ops/src/interval.rs
Labels: A-backend

#1837 Support searching for `rust-toolchain.toml` files in parent directories in CI
  .github/scripts/rust/setup.py
  packages/libs/deer/macros/rust-toolchain.toml
  packages/libs/error-stack/macros/rust-toolchain.toml
  packages/libs/error-stack/rust-toolchain.toml
Labels: A-infra, A-error-stack, A-deer

#1834 Change return value of `Interval::merge` to always return a value
  packages/graph/hash_graph/lib/interval-ops/src/interval.rs
Labels: A-backend

#1802 Use time projection image in compiled queries
  packages/graph/hash_graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/projection.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/timespan.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/hash_graph/tests/rest-test.http
Labels: A-backend

#1822 Add draft entity subgraph hook and improve entity editor appearance
  packages/hash/design-system/src/theme/components/navigation/mui-drawer-theme-options.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/select-entity-type-page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-draft-entity-subgraph.ts
  packages/hash/frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
Labels: A-hash, frontend

#1835 Add `Interval::contains_interval` function
  packages/graph/hash_graph/lib/interval-ops/src/interval.rs
Labels: A-backend

#1811 Rename `Span` to `Interval`
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/complete/entity.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/linkless/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/ontology/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/api/rest/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/knowledge.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/interval.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/mod.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/projection.rs
  packages/graph/hash_graph/lib/graph/src/shared/identifier/time/version.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/compile.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/condition.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/hash/subgraph/src/types/identifier.ts
  packages/hash/subgraph/src/types/time.ts
Labels: A-hash, A-backend

#1842 Disable doc tests for release build in the Graph
  packages/graph/hash_graph/Makefile.toml
Labels: A-backend

#1838 Improve comments in bound comparison logic
  packages/graph/hash_graph/lib/interval-ops/src/bounds.rs
  packages/graph/hash_graph/lib/interval-ops/src/interval.rs
Labels: A-backend

#1845 Disable caching on codegen scripts
  turbo.json
Labels: A-infra

#1812 Re-enable file uploads in HASH
  packages/hash/api/src/cache/adapter.ts
  packages/hash/api/src/cache/redis.ts
  packages/hash/api/src/graph/knowledge/system-types/file.ts
  packages/hash/api/src/graph/system-types.ts
  packages/hash/api/src/graphql/resolvers/file/create-file-from-link.ts
  packages/hash/api/src/graphql/resolvers/file/file-url-resolver.ts
  packages/hash/api/src/graphql/resolvers/file/index.ts
  packages/hash/api/src/graphql/resolvers/file/request-file-upload.ts
  packages/hash/api/src/graphql/resolvers/index.ts
  packages/hash/api/src/graphql/resolvers/knowledge/file/create-file-from-url.ts
  packages/hash/api/src/graphql/resolvers/knowledge/file/request-file-upload.ts
  packages/hash/api/src/graphql/type-defs/deprecated.typedef.ts
  packages/hash/api/src/graphql/type-defs/index.ts
  packages/hash/api/src/graphql/type-defs/knowledge/file.typedef.ts
  packages/hash/api/src/index.ts
  packages/hash/api/src/lib/config.ts
  packages/hash/api/src/model/file.model.ts
  packages/hash/api/src/storage/aws-s3-storage-provider.ts
  packages/hash/api/src/storage/external-storage-provider.ts
  packages/hash/api/src/storage/index.ts
  packages/hash/api/src/storage/local-file-storage.ts
  packages/hash/api/src/storage/storage-provider-lookup.ts
  packages/hash/api/src/storage/storage-provider.ts
  packages/hash/api/src/storage/storage-utils.ts
  packages/hash/backend-utils/src/redis.ts
  packages/hash/frontend/package.json
  packages/hash/frontend/src/components/block-loader/block-loader.tsx
  packages/hash/frontend/src/components/hooks/block-protocol-functions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-file-upload.ts
  packages/hash/frontend/src/components/hooks/block-protocol-functions/use-block-protocol-file-upload.ts
  packages/hash/frontend/src/graphql/queries/knowledge/file.queries.ts
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
  packages/hash/frontend/src/pages/type-editor/index.page.tsx
  packages/hash/shared/src/ontology-types.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/file.test.ts
  tests/hash-backend-integration/src/tests/util.ts
  yarn.lock
Labels: C-dependencies, A-hash, api, integration, frontend

#1846 Improve Storybook matching in `.ignore` files
  .gitignore
  .markdownlintignore
  .prettierignore
Labels: A-infra

#1816 Adjust backend to use time projections over `"latest"` for entities
  packages/graph/clients/typescript/api.ts
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/complete/entity.rs
  packages/graph/hash_graph/bench/benches/read_scaling/knowledge/linkless/entity.rs
  packages/graph/hash_graph/bench/benches/representative_read/knowledge/entity.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/knowledge/entity/query.rs
  packages/graph/hash_graph/lib/graph/src/shared/subgraph/query.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/statement/select.rs
  packages/graph/hash_graph/lib/graph/src/store/query/filter.rs
  packages/graph/hash_graph/lib/graph/src/store/query/mod.rs
  packages/graph/hash_graph/tests/integration/postgres/entity.rs
  packages/graph/hash_graph/tests/integration/postgres/mod.rs
  packages/hash/api/src/graph/knowledge/primitive/entity.ts
  packages/hash/api/src/graph/knowledge/system-types/hash-instance.ts
  packages/hash/api/src/graph/knowledge/system-types/org.ts
  packages/hash/api/src/graph/knowledge/system-types/page.ts
  packages/hash/api/src/graph/knowledge/system-types/user.ts
  packages/hash/api/src/graph/ontology/primitive/data-type.ts
  packages/hash/api/src/graph/ontology/primitive/entity-type.ts
  packages/hash/api/src/graph/ontology/primitive/property-type.ts
  packages/hash/api/src/graph/system-user.ts
  packages/hash/api/src/graphql/resolvers/knowledge/entity/entity.ts
  packages/hash/api/src/graphql/resolvers/ontology/data-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/entity-type.ts
  packages/hash/api/src/graphql/resolvers/ontology/property-type.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
Labels: A-hash, api, integration, A-backend

#1849 setupFileProxyHandler typo
  packages/hash/api/src/index.ts
  packages/hash/api/src/storage/index.ts
Labels: A-hash, api

#1825 Add soft CI check for LICENSE.md files
  .github/workflows/ci.yml
  libs/@local/repo-chores/.eslintrc.cjs
  libs/@local/repo-chores/package.json
  libs/@local/repo-chores/scripts/check-license-in-workspaces.ts
  libs/@local/repo-chores/tsconfig.json
  package.json
  yarn.lock
Labels: C-dependencies, A-infra

#1839 Hotfix comments
  packages/hash/api/src/graph/knowledge/system-types/comment.ts
  packages/hash/api/src/graphql/resolvers/knowledge/comment/text-updated-at.ts
  packages/hash/api/src/graphql/type-defs/knowledge/comment.typedef.ts
  packages/hash/frontend/src/blocks/page/comments/comment-block.tsx
  packages/hash/frontend/src/components/hooks/use-page-comments.ts
  packages/hash/shared/src/graphql/scalar-mapping.ts
Labels: A-hash, api, frontend

#1841 Make edit bar on entity-editor / entity-type-editor sticky
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/edit-bar-type-editor.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/edit-bar.tsx
  packages/hash/frontend/src/pages/shared/top-context-bar.tsx
Labels: A-hash, frontend

#1840 Implement draft state for entity editor links table
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor-page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/entity-editor-context.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-with-cell-editor.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/sort-link-and-target-entities.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/types.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-rows.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-apply-draft-link-entity-changes.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-draft-link-state.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-mark-link-entity-to-archive.ts
Labels: A-hash, frontend

#1516 `deer` implement `Deserialize` for built-in types (Part 1)
  packages/libs/deer/Cargo.toml
  packages/libs/deer/desert/Cargo.toml
  packages/libs/deer/desert/src/array.rs
  packages/libs/deer/desert/src/assert.rs
  packages/libs/deer/desert/src/deserializer.rs
  packages/libs/deer/desert/src/error.rs
  packages/libs/deer/desert/src/lib.rs
  packages/libs/deer/desert/src/tape.rs
  packages/libs/deer/desert/src/token.rs
  packages/libs/deer/rust-toolchain.toml
  packages/libs/deer/src/error/serialize.rs
  packages/libs/deer/src/error/type.rs
  packages/libs/deer/src/error/value.rs
  packages/libs/deer/src/impls/core/array.rs
  packages/libs/deer/src/impls/core/atomic.rs
  packages/libs/deer/src/impls/core/bool.rs
  packages/libs/deer/src/impls/core/floating.rs
  packages/libs/deer/src/impls/core/integral.rs
  packages/libs/deer/src/impls/core/mod.rs
  packages/libs/deer/src/impls/core/non_zero.rs
  packages/libs/deer/src/impls/core/string.rs
  packages/libs/deer/src/impls/core/unit.rs
  packages/libs/deer/src/impls/mod.rs
  packages/libs/deer/src/lib.rs
  packages/libs/deer/src/number.rs
  packages/libs/deer/src/schema.rs
  packages/libs/deer/tests/common/mod.rs
  packages/libs/deer/tests/test_impls_core_array.rs
  packages/libs/deer/tests/test_impls_core_bool.rs
  packages/libs/deer/tests/test_impls_core_floating.rs
  packages/libs/deer/tests/test_impls_core_integral.rs
  packages/libs/deer/tests/test_impls_core_non_zero.rs
  packages/libs/deer/tests/test_impls_core_string.rs
  packages/libs/deer/tests/test_impls_core_unit.rs
Labels: A-deer

#1823 Make 0.3 blocks load in HASH
  package.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/block-context-menu/block-context-menu.tsx
  packages/hash/frontend/src/blocks/page/block-context.tsx
  packages/hash/frontend/src/blocks/page/block-handle.tsx
  packages/hash/frontend/src/blocks/page/block-portals.tsx
  packages/hash/frontend/src/blocks/page/block-view.tsx
  packages/hash/frontend/src/blocks/page/component-view.tsx
  packages/hash/frontend/src/components/block-loader/block-loader.tsx
  packages/hash/frontend/src/components/block-loader/data-map-editor.tsx
  packages/hash/frontend/src/components/block-loader/data-map-editor/data-map-preview.tsx
  packages/hash/frontend/src/components/block-loader/shared.ts
  packages/hash/frontend/src/components/hooks/block-protocol-functions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-update-entity.ts
  packages/hash/frontend/src/components/remote-block/block-renderer.tsx
  packages/hash/frontend/src/components/remote-block/load-remote-block.ts
  packages/hash/frontend/src/components/remote-block/remote-block.tsx
  packages/hash/frontend/src/components/remote-block/use-remote-block.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
  packages/hash/shared/src/blocks.ts
  packages/hash/shared/src/types.ts
  packages/hash/subgraph/src/stdlib/roots.ts
  packages/hash/subgraph/src/types/vertex.ts
Labels: A-hash, A-infra, frontend

#1857 Revert "Make 0.3 blocks load in HASH"
  package.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/block-context-menu/block-context-menu.tsx
  packages/hash/frontend/src/blocks/page/block-context.tsx
  packages/hash/frontend/src/blocks/page/block-handle.tsx
  packages/hash/frontend/src/blocks/page/block-portals.tsx
  packages/hash/frontend/src/blocks/page/block-view.tsx
  packages/hash/frontend/src/blocks/page/component-view.tsx
  packages/hash/frontend/src/components/block-loader/block-loader.tsx
  packages/hash/frontend/src/components/block-loader/data-map-editor.tsx
  packages/hash/frontend/src/components/block-loader/data-map-editor/data-map-preview.tsx
  packages/hash/frontend/src/components/block-loader/shared.ts
  packages/hash/frontend/src/components/hooks/block-protocol-functions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-update-entity.ts
  packages/hash/frontend/src/components/remote-block/block-renderer.tsx
  packages/hash/frontend/src/components/remote-block/loadremote-block.ts
  packages/hash/frontend/src/components/remote-block/remote-block.tsx
  packages/hash/frontend/src/components/remote-block/use-remote-block.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
  packages/hash/shared/src/blocks.ts
  packages/hash/shared/src/types.ts
  packages/hash/subgraph/src/stdlib/roots.ts
  packages/hash/subgraph/src/types/vertex.ts
Labels: A-hash, A-infra, frontend

#1855 Editing object property types doesn't display required field correctly
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-to-form-data-expected-values.ts
Labels: A-hash, frontend

#1856 Fix property creation form opening unexpectedly
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/type-form.tsx
Labels: A-hash, frontend

#1860 Revert "Revert "Make 0.3 blocks load in HASH""
  package.json
  packages/hash/api/package.json
  packages/hash/frontend/package.json
  packages/hash/frontend/src/blocks/page/block-context-menu/block-context-menu.tsx
  packages/hash/frontend/src/blocks/page/block-context.tsx
  packages/hash/frontend/src/blocks/page/block-handle.tsx
  packages/hash/frontend/src/blocks/page/block-portals.tsx
  packages/hash/frontend/src/blocks/page/block-view.tsx
  packages/hash/frontend/src/blocks/page/component-view.tsx
  packages/hash/frontend/src/components/block-loader/block-loader.tsx
  packages/hash/frontend/src/components/block-loader/data-map-editor.tsx
  packages/hash/frontend/src/components/block-loader/data-map-editor/data-map-preview.tsx
  packages/hash/frontend/src/components/block-loader/shared.ts
  packages/hash/frontend/src/components/hooks/block-protocol-functions/knowledge/knowledge-shim.ts
  packages/hash/frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-update-entity.ts
  packages/hash/frontend/src/components/remote-block/block-renderer.tsx
  packages/hash/frontend/src/components/remote-block/load-remote-block.ts
  packages/hash/frontend/src/components/remote-block/remote-block.tsx
  packages/hash/frontend/src/components/remote-block/use-remote-block.ts
  packages/hash/frontend/src/lib/entities.ts
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  packages/hash/frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  packages/hash/frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
  packages/hash/shared/package.json
  packages/hash/shared/src/blocks.ts
  packages/hash/shared/src/types.ts
  packages/hash/subgraph/package.json
  packages/hash/subgraph/src/stdlib/roots.ts
  packages/hash/subgraph/src/types/vertex.ts
  tests/hash-backend-integration/package.json
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, api, integration, frontend

#1859 Automate Rust nightly toolchain version upgrades
  .github/renovate.json
Labels: A-infra

#1863 Filter property types by baseUri instead of versionedUri
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/shared/expected-value-selector-form-values.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/shared/object-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/type-form.tsx
Labels: A-hash, frontend

#1868 Automatically upgrade rust toolchain (2nd attempt)
  .github/renovate.json
Labels: A-infra

#1815 Display object property types in the entity type editor
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/link-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-expected-values.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-title-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/collapsible-row-line.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/entity-type-table.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/multiple-values-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/type-menu-cell.tsx
Labels: A-hash, frontend

#1872 Make `error-stack` a Yarn workspace
  package.json
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/package.json
Labels: A-infra, A-error-stack

#1874 Stop linting license files with Prettier and Markdownlint
  .github/licenses/LICENSE-AGPL.md
  .github/licenses/LICENSE-APACHE.md
  .github/licenses/LICENSE-ELASTIC.md
  .github/licenses/LICENSE-MIT.md
  .markdownlintignore
  .prettierignore
  blocks/calculation/LICENSE-APACHE.md
  blocks/callout/LICENSE-APACHE.md
  blocks/chart/LICENSE-APACHE.md
  blocks/code/LICENSE-APACHE.md
  blocks/countdown/LICENSE-APACHE.md
  blocks/divider/LICENSE-APACHE.md
  blocks/drawing/LICENSE-APACHE.md
  blocks/embed/LICENSE-APACHE.md
  blocks/github-pr-overview/LICENSE-APACHE.md
  blocks/header/LICENSE-APACHE.md
  blocks/html-para/LICENSE-APACHE.md
  blocks/image/LICENSE-APACHE.md
  blocks/paragraph/LICENSE-APACHE.md
  blocks/person/LICENSE-APACHE.md
  blocks/shuffle/LICENSE-APACHE.md
  blocks/stopwatch/LICENSE-APACHE.md
  blocks/timer/LICENSE-APACHE.md
  blocks/toggle-item/LICENSE-APACHE.md
  blocks/video/LICENSE-APACHE.md
  libs/deer/LICENSE-APACHE.md
  packages/libs/error-stack/LICENSE-APACHE.md
Labels: A-infra, A-blocks, A-error-stack, A-deer

#1878 Commit code block types. Change codegen command
  blocks/code/package.json
  blocks/code/src/app.tsx
  blocks/code/src/dev.tsx
  blocks/code/src/types.ts
Labels: A-blocks

#1871 Automatically update rust version (3rd attempt)
  .github/renovate.json
Labels: A-infra

#1850 Update version of property types
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-expected-values.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-title-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/property-type-form/expected-value-selector/shared/object-expected-value-builder.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/type-menu-cell.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/entities-tab.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/entity-type-tabs.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/shared/entity-type-context.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/shared/latest-property-types-context.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/shared/property-types-context.ts
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/shared/use-latest-property-types-context-value.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/shared/use-property-types-context-value.tsx
  packages/hash/frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/use-entity-type-value.tsx
  packages/hash/frontend/src/shared/icons/arrow-right-icon.tsx
Labels: A-hash, frontend

#1864 Re-enable backend build/push workflow
  .github/actions/docker-build-push/action.yml
  .github/workflows/hash-backend-cd.yml
Labels: A-infra

#1880 Remove references to `gitpkg.vercel.app` from `package.json`
  package.json
Labels: A-infra

#1876 Split migrations across files
  .prettierrc.js
  packages/graph/hash_graph/postgres_migrations/V1__base.sql
  packages/graph/hash_graph/postgres_migrations/V1__initial.sql
  packages/graph/hash_graph/postgres_migrations/V2__ontology_tables.sql
  packages/graph/hash_graph/postgres_migrations/V3__knowledge_tables.sql
  packages/graph/hash_graph/postgres_migrations/V5__knowledge_functions.sql
  packages/hash/docker/citus/prod/initdb/0000_init.sql
Labels: A-hash, docker, A-backend

#1870 Move `external-services` to apps
  .env
  .github/workflows/ci.yml
  apps/hash-external-services/LICENSE.md
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/kratos/Dockerfile
  apps/hash-external-services/kratos/hooks/after.registration.jsonnet
  apps/hash-external-services/kratos/identity.schema.json
  apps/hash-external-services/kratos/kratos.dev.yml
  apps/hash-external-services/kratos/kratos.prod.yml
  apps/hash-external-services/kratos/templates/otp/sms.body.gotmpl
  apps/hash-external-services/kratos/templates/recovery/invalid/email.body.gotmpl
  apps/hash-external-services/kratos/templates/recovery/invalid/email.body.plaintext.gotmpl
  apps/hash-external-services/kratos/templates/recovery/invalid/email.subject.gotmpl
  apps/hash-external-services/kratos/templates/recovery/valid/email.body.gotmpl
  apps/hash-external-services/kratos/templates/recovery/valid/email.body.plaintext.gotmpl
  apps/hash-external-services/kratos/templates/recovery/valid/email.subject.gotmpl
  apps/hash-external-services/kratos/templates/recovery_code/invalid/email.body.gotmpl
  apps/hash-external-services/kratos/templates/recovery_code/invalid/email.body.plaintext.gotmpl
  apps/hash-external-services/kratos/templates/recovery_code/invalid/email.subject.gotmpl
  apps/hash-external-services/kratos/templates/recovery_code/valid/email.body.gotmpl
  apps/hash-external-services/kratos/templates/recovery_code/valid/email.body.plaintext.gotmpl
  apps/hash-external-services/kratos/templates/recovery_code/valid/email.subject.gotmpl
  apps/hash-external-services/kratos/templates/verification_code/invalid/email.body.gotmpl
  apps/hash-external-services/kratos/templates/verification_code/invalid/email.body.plaintext.gotmpl
  apps/hash-external-services/kratos/templates/verification_code/invalid/email.subject.gotmpl
  apps/hash-external-services/kratos/templates/verification_code/valid/email.body.gotmpl
  apps/hash-external-services/kratos/templates/verification_code/valid/email.body.plaintext.gotmpl
  apps/hash-external-services/kratos/templates/verification_code/valid/email.subject.gotmpl
  apps/hash-external-services/opensearch/Dockerfile
  apps/hash-external-services/opensearch/start.sh
  apps/hash-external-services/package.json
  apps/hash-external-services/postgres/Dockerfile
  apps/hash-external-services/postgres/init-user-db.sh
  apps/hash-external-services/postgres/postgresql.conf
  infra/terraform/README.md
  package.json
  packages/hash/README.md
  packages/hash/frontend/src/pages/shared/ory-kratos.ts
Labels: A-hash, A-infra, frontend

#1883 Update path to kratos to fix CD
  .github/workflows/hash-backend-cd.yml
Labels: A-infra

#1882 Move `OwnedById` and `UpdatedById` to `type_ids` table
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/ontology/read.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/data_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/entity_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/property_type.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/query/table.rs
  packages/graph/hash_graph/postgres_migrations/V2__ontology_tables.sql
Labels: A-backend

#1885 Use functions to create ontology types
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/version_id.rs
  packages/graph/hash_graph/postgres_migrations/V2__ontology_tables.sql
  packages/graph/hash_graph/postgres_migrations/V4__ontology_functions.sql
Labels: A-backend

#1884 Automatically update rust version (4th attempt)
  .github/renovate.json
  packages/libs/error-stack/README.md
  packages/libs/error-stack/macros/README.md
  packages/libs/error-stack/src/lib.rs
Labels: A-infra, A-error-stack

#1888 Update `cargo` tools to latest version
  .github/scripts/rust/Makefile.toml
  .github/workflows/rust.yml
Labels: A-infra

#1889 Move `Dockerfile`s
  .github/labeler.yml
  .github/workflows/hash-backend-cd.yml
  apps/hash-api/README.md
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-task-executor/README.md
  infra/docker/LICENSE.md
  infra/docker/README.md
  infra/docker/api/prod/Dockerfile
  infra/docker/citus/prod/Dockerfile
  infra/docker/citus/prod/initdb/0000_init.sql
  infra/docker/citus/prod/pg_hba.conf
  infra/docker/citus/prod/postgresql.conf
  infra/docker/docker-compose-statsd-override.yml
  infra/docker/frontend/prod/Dockerfile
  infra/docker/realtime/prod/Dockerfile
  infra/docker/search-loader/prod/Dockerfile
  infra/docker/statsd/Dockerfile
  infra/docker/statsd/config.json
  infra/docker/task-executor/Dockerfile
  infra/terraform/README.md
  packages/hash/docker/statsd/Dockerfile
Labels: A-hash, A-infra, api, docker

#1877 Automate backend redeployment
  .github/actions/docker-build-push/action.yml
  .github/workflows/hash-backend-cd.yml
Labels: A-infra

#1898 Group unrelated error-stack features
  packages/libs/error-stack/Makefile.toml
Labels: A-error-stack

#1809 Create `CreateEntityModal` component
  apps/hash-frontend/src/blocks/page/block-context-menu/block-context-menu.tsx
  apps/hash-frontend/src/blocks/page/block-context.tsx
  apps/hash-frontend/src/blocks/page/block-portals.tsx
  apps/hash-frontend/src/blocks/use-fetch-block-subgraph.ts
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-modal.tsx
  libs/@local/design-system/src/theme/components/navigation/mui-drawer-theme-options.ts
Labels: frontend

#1904 Run actions on `push` to `trunk-merge/` branches
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/hash-backend-cd.yml
  .github/workflows/rust.yml
  .github/workflows/semgrep.yml
Labels: A-infra

#1907 Remove `push` branch from Backend CD
  .github/workflows/hash-backend-cd.yml
Labels: A-infra

#1909 Run CI on pushes to `main` and `trunk-merge/` branches
  .github/workflows/ci.yml
Labels: A-infra

#1911 Fix crash when creating an entity for an entity type with an "anything" link
  apps/hash-frontend/src/components/grid/utils/draw-chip-with-icon.ts
  apps/hash-frontend/src/components/grid/utils/draw-chip.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/link-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-rows.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/chip-cell.tsx
Labels: frontend

#1886 Add transaction time to ontology types
  packages/graph/hash_graph/lib/graph/src/store/error.rs
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/postgres_migrations/V2__ontology_tables.sql
  packages/graph/hash_graph/postgres_migrations/V4__ontology_functions.sql
Labels: A-backend

#1912 Disable Apollo cache on SSR requests
  apps/hash-frontend/src/lib/apollo-client.ts
  libs/@local/hash-isomorphic-utils/src/graphql/create-apollo-client.ts
Labels: frontend

#1893 Simplify ontology table definitions
  packages/graph/hash_graph/lib/graph/src/store/postgres/mod.rs
  packages/graph/hash_graph/postgres_migrations/V2__ontology_tables.sql
  packages/graph/hash_graph/postgres_migrations/V4__ontology_functions.sql
Labels: A-backend

#1913 Add `external-services/kratos` path to CD push trigger
  .github/workflows/hash-backend-cd.yml
Labels: A-infra

#1899 Implement read-only mode for resources & entity-editor
  apps/hash-frontend/src/blocks/page/block-handle.tsx
  apps/hash-frontend/src/blocks/page/block-view.tsx
  apps/hash-frontend/src/blocks/page/comments/create-block-comment-button.tsx
  apps/hash-frontend/src/blocks/page/component-view.tsx
  apps/hash-frontend/src/blocks/page/create-editor-view.ts
  apps/hash-frontend/src/blocks/page/insert-block.tsx
  apps/hash-frontend/src/blocks/page/page-block.tsx
  apps/hash-frontend/src/blocks/page/page-section-container.tsx
  apps/hash-frontend/src/blocks/page/page-title/page-title.tsx
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-modal.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/entity-editor-context.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  apps/hash-frontend/src/pages/type-editor/blockprotocol-ontology-functions-hook.ts
  apps/hash-frontend/src/shared/layout/layout-with-header.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar.tsx
  apps/hash-frontend/src/shared/readonly-mode.tsx
Labels: frontend

#1923 Disable automerge for renovate
  .github/renovate.json
Labels: A-infra

#1921 Remove get entity logged in gate
  apps/hash-api/src/graphql/resolvers/index.ts
Labels: api

#1933 Fix path to `hash-subgraph` in `Dockerfile`s
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
  infra/docker/search-loader/prod/Dockerfile
  infra/docker/task-executor/Dockerfile
  package.json
Labels: A-infra, docker

#1931 Remove docker-compose from `hash-graph`
  apps/hash-external-services/docker-compose.yml
  apps/hash-graph/.env
  apps/hash-graph/.gitignore
  apps/hash-graph/Makefile.toml
  apps/hash-graph/deployment/docker-compose.yml
  apps/hash-graph/deployment/postgres/init-user-db.sh
  apps/hash-graph/deployment/postgres/postgresql.conf
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/hash_graph/Makefile.toml
  apps/hash-graph/hash_graph/bench/benches/util.rs
  apps/hash-graph/hash_graph/tests/integration/postgres/mod.rs
Labels: A-backend

#1935 Fix path to hash-graph `Dockerfile`
  .github/workflows/hash-backend-cd.yml
  apps/hash-external-services/docker-compose.prod.yml
  infra/terraform/README.md
Labels: A-infra

#1934 Update labeler config
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: A-infra

#1936 `graph` switch for timestamp from chrono to time
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/shared/identifier/time/timestamp.rs
  apps/hash-graph/tests/integration/postgres/mod.rs
Labels: C-dependencies, A-hash, A-backend

#1908 Update workflow name casing and LICENSE quick-ref guide
  .github/workflows/rust.yml
  .trunk/trunk.yaml
  LICENSE.md
Labels: A-infra

#1914 Compare properties as JSON instead of strings
  apps/hash-graph/bench/benches/representative_read/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
Labels: A-hash, A-backend

#1943 Update refs to `/packages/hash` with `/apps/hash`
  .github/workflows/hash-backend-cd.yml
  README.md
  apps/hash-frontend/src/pages/index.page.tsx
  apps/hash-graph/README.md
  apps/hash/README.md
  apps/hashdotdev/src/_pages/blog/0003_one-principle.mdx
  apps/hashdotdev/src/_pages/blog/0010_error-stack-update-0-2.mdx
  apps/hashdotdev/src/pages/index.page.tsx
Labels: A-hash, A-infra, frontend, A-backend

#1843 Make test cases for interval operations more readable
  apps/hash-graph/lib/interval-ops/src/interval.rs
Labels: A-hash, A-backend

#1920 Use 0.3 staging block hub
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graphql/resolvers/blockprotocol/get-block.ts
  apps/hash-frontend/src/blocks/page/create-editor-view.ts
  libs/@local/hash-isomorphic-utils/src/blocks.ts
  tests/hash-backend-integration/src/tests/integration.test.ts
  tests/hash-playwright/tests/page-creation.spec.ts
Labels: A-hash, api, integration, frontend, playwright

#1942 Significantly speed up Rust CI in PRs
  .github/scripts/rust/Makefile.toml
  .github/scripts/rust/setup.py
  apps/engine/Makefile.toml
  apps/hash-graph/Makefile.toml
  libs/deer/Makefile.toml
  packages/libs/error-stack/Makefile.toml
Labels: A-engine, A-hash, A-infra, A-error-stack, A-backend, A-deer

#1937 Move `hash-graph-client` into `@local/hash-graph-client`
  .github/workflows/rust.yml
  apps/hash-api/package.json
  apps/hash-api/src/graph/index.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/graphql/resolvers/task-executor/generation.ts
  apps/hash-frontend/next.config.js
  apps/hash-graph/.gitattributes
  apps/hash-graph/Makefile.toml
  apps/hash-graph/README.md
  libs/@local/hash-graph-client-generator/LICENSE.md
  libs/@local/hash-graph-client-generator/openapitools.json
  libs/@local/hash-graph-client-generator/package.json
  libs/@local/hash-graph-client/.eslintrc.cjs
  libs/@local/hash-graph-client/.gitattributes
  libs/@local/hash-graph-client/.gitignore
  libs/@local/hash-graph-client/.npmignore
  libs/@local/hash-graph-client/.openapi-generator-ignore
  libs/@local/hash-graph-client/.openapi-generator/FILES
  libs/@local/hash-graph-client/.openapi-generator/VERSION
  libs/@local/hash-graph-client/LICENSE.md
  libs/@local/hash-graph-client/README.md
  libs/@local/hash-graph-client/api.ts
  libs/@local/hash-graph-client/base.ts
  libs/@local/hash-graph-client/common.ts
  libs/@local/hash-graph-client/configuration.ts
  libs/@local/hash-graph-client/git_push.sh
  libs/@local/hash-graph-client/index.ts
  libs/@local/hash-graph-client/package.json
  libs/@local/hash-graph-client/tsconfig.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-subgraph/jest.config.cjs
  libs/@local/hash-subgraph/package.json
  libs/@local/hash-subgraph/src/types/element.ts
  libs/@local/hash-subgraph/src/types/identifier.ts
  libs/@local/hash-subgraph/src/types/subgraph.ts
  libs/@local/hash-subgraph/tests/compatibility.test.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-edges.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-roots.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
  package.json
  tests/hash-backend-integration/jest.config.cjs
  tests/hash-backend-integration/package.json
Labels: A-hash, A-infra, api, integration, frontend, A-backend

#1926 Introduce Changesets
  .changeset/README.md
  .changeset/config.json
  .github/labeler.yml
  .github/workflows/canary-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
  patches/@changesets+assemble-release-plan+5.2.3.patch
  patches/@changesets+cli+2.26.0.patch
  patches/@changesets+get-dependents-graph+1.3.5.patch
  patches/@changesets+git+2.0.0.patch
  yarn.lock
Labels: C-dependencies, A-infra

#1915 Support any JSON values as parameter to structural queries
  apps/hash-graph/lib/graph/src/api/rest/mod.rs
  apps/hash-graph/lib/graph/src/knowledge/entity/query.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  libs/@local/hash-graph-client/api.ts
Labels: A-hash, A-backend

#1949 Fix Backend CD Dockerfiles
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Labels: docker

#1927 Support `null`, `emptyList` & `object` data type in entity editor
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/grid/utils.ts
  apps/hash-frontend/src/components/grid/utils/custom-grid-icons.ts
  apps/hash-frontend/src/components/grid/utils/draw-chip-with-text.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor/linked-entity-list-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/draft-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/row-action.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/value-chip.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-value-to-string.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-specs.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-type-picker.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/json-input.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/json-input/json-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/utils.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
  apps/hash-frontend/src/pages/[shortname]/shared/hash-selector-autocomplete/hash-selector-autocomplete-option.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/data-type-options.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card/shared/expected-values-options.ts
  apps/hash-frontend/src/shared/icons/pro/fa-asterisk.tsx
  apps/hash-frontend/src/shared/icons/pro/fa-brackets-curly.tsx
  apps/hash-frontend/src/shared/icons/pro/fa-brackets-square.tsx
  apps/hash-frontend/src/shared/icons/pro/fa-empty-set.tsx
  apps/hashdotdev/package.json
  blocks/code/package.json
  patches/@glideapps+glide-data-grid+5.1.4.patch
  tests/hash-playwright/tests/entity-creation.spec.ts
  yarn.lock
Labels: C-dependencies, A-hash, frontend, playwright, A-blocks

#1955 Refetch block subgraph when block entity is updated
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/components/remote-block/remote-block.tsx
Labels: A-hash, frontend

#1950 Fix Release action
  .changeset/config.json
  libs/@local/hash-subgraph/package.json
Labels: A-hash, A-infra

#1951 Set `"private": true` in `@blocks/*/package.json`, where missing
  blocks/calculation/package.json
  blocks/chart/package.json
  blocks/countdown/package.json
  blocks/drawing/package.json
  blocks/github-pr-overview/package.json
  blocks/html-para/package.json
  blocks/shuffle/package.json
  blocks/stopwatch/package.json
  blocks/timer/package.json
  blocks/toggle-item/package.json
Labels: A-blocks

#1957 Permit cross-origin requests for types as json
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/middleware.page.ts
Labels: A-hash, frontend

#1952 Support nested fields and array index in structural queries
  apps/hash-graph/bench/benches/representative_read/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/knowledge/entity/query.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/lib/graph/src/store/query/mod.rs
  apps/hash-graph/lib/graph/src/store/query/path.rs
Labels: A-hash, A-backend

#1956 Support nested fields and array index for ontology schemas
  apps/hash-graph/lib/graph/src/knowledge/entity/query.rs
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/mod.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
Labels: A-hash, A-backend

#1961 Prepare design system for publishing
  apps/hash-frontend/.eslintrc.cjs
  apps/hash-frontend/src/components/grid/utils/custom-grid-icons.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/link-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/chip-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/property-name-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/summary-chip-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/entities-tab/text-icon-cell.tsx
  libs/@local/design-system/.storybook/preview.js
  libs/@local/design-system/package.json
  libs/@local/design-system/src/main.ts
  libs/@local/design-system/src/theme.ts
  libs/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
Labels: A-hash, frontend

#1919 Sort properties and links alphabetically in entity type editor tables
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/link-list-card.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/link-list-card/link-entity-type-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/property-list-card.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/definition-tab/shared/entity-type-table.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/edit-bar-type-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[entity-type-id].page/shared/edit-bar.tsx
Labels: A-hash, frontend

#1958 Various UX improvements for entity editor
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils/use-render-grid-portal.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/draft-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-specs.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/constants.ts
  patches/@glideapps+glide-data-grid+5.2.1.patch
  yarn.lock
Labels: C-dependencies, A-hash, frontend

#1972 Rename `type_ids` table and `version_id` column
  apps/hash-graph/bench/benches/representative_read/seed.rs
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/lib/graph/src/store/postgres/mod.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/mod.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/ontology_id.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/conditional.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/join_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/order_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/select_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/postgres_migrations/V2__ontology_tables.sql
  apps/hash-graph/postgres_migrations/V3__knowledge_tables.sql
  apps/hash-graph/postgres_migrations/V4__ontology_functions.sql
  apps/hash-graph/postgres_migrations/V5__owned_ontology_functions.sql
  apps/hash-graph/postgres_migrations/V6__knowledge_functions.sql
Labels: A-hash, A-backend

#1977 Attempt to fix linting job in CI
  .github/workflows/rust.yml
Labels: A-infra

#1973 Always warm up repository in CI
  .github/workflows/ci.yml
Labels: A-infra

#1965 Fix bug that tables may be joined multiple times
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
Labels: A-hash, A-backend

#1976 Reverse logic to detect feature powerset on `cargo make`
  .github/scripts/rust/Makefile.toml
  .github/scripts/rust/setup.py
  packages/libs/error-stack/Makefile.toml
Labels: A-infra, A-error-stack

#1329 Transitive closure entity type table
  apps/hash-graph/postgres_migrations/V7__entity_type_closure.sql
Labels: A-hash, A-backend

#1980 `error-stack`: remove `owo-colors` as dependency
  packages/libs/error-stack/CHANGELOG.md
  packages/libs/error-stack/Cargo.toml
  packages/libs/error-stack/Makefile.toml
  packages/libs/error-stack/src/fmt/charset.rs
  packages/libs/error-stack/src/fmt/color.rs
  packages/libs/error-stack/src/fmt/config.rs
  packages/libs/error-stack/src/fmt/hook.rs
  packages/libs/error-stack/src/fmt/location.rs
  packages/libs/error-stack/src/fmt/mod.rs
  packages/libs/error-stack/src/lib.rs
  packages/libs/error-stack/tests/snapshots/doc/fmt__charset_ascii.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__charset_utf8.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__diagnostics_add.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__doc.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__emit_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_cast.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_decrement.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_emit.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_increment.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__hookcontext_storage.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__preference_color.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__preference_emphasis.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt__preference_none.snap
  packages/libs/error-stack/tests/snapshots/doc/fmt_doc_alt.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook.snap
  packages/libs/error-stack/tests/snapshots/doc/hook__debug_hook_provide.snap
  packages/libs/error-stack/tests/snapshots/doc/lib__suggestion.snap
  packages/libs/error-stack/tests/snapshots/doc/report_debug__doc.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__alt.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__charset_ascii.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__color_mode_color.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__color_mode_emphasis.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_decr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_for_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_incr.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_location.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_multiple.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__multiline_context.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__norm.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  packages/libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace.snap
  packages/libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace.snap
  packages/libs/error-stack/tests/test_debug.rs
Labels: A-error-stack
