Repository hashintel/hash, pull requests merged in 2023-09, with the labels that each got.

#3049 H-691: Clean up legacy infrastructure remnants
  .env
  apps/hash-external-services/ory-keto/keto.yml
Labels: area: apps > hash*, area: apps

#3050 H-694: Enable additional auto-updates in Renovate
  .github/renovate.json
Labels: area: infra

#3051 H-642: Allow mass creation/deletion of relationships
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/model.rs
  apps/hash-graph/lib/authorization/src/zanzibar.rs
  apps/hash-graph/lib/authorization/tests/api.rs
  apps/hash-graph/lib/authorization/tests/schema.rs
  apps/hash-graph/lib/authorization/tests/simple.rs
Labels: area: apps > hash*, type: backend, area: tests, area: apps, area: apps > hash-graph

#3052 GEN-92: Fix failing Semgrep test in `hash` repo
  .github/pull_request_template.md
  .github/workflows/semgrep.yml
Labels: area: infra

#3053 H-696: Add tests to test all API endpoints
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/authorization/src/zanzibar.rs
  apps/hash-graph/lib/authorization/tests/api.rs
  apps/hash-graph/lib/authorization/tests/schema.rs
  apps/hash-graph/lib/authorization/tests/simple.rs
Labels: area: apps > hash*, type: backend, area: tests, area: apps, area: apps > hash-graph

#3061 GEN-93: `engine` migration cleanup
  .github/licenses/LICENSE-ELASTIC.md
  LICENSE.md
  README.md
Labels: area: infra, type: legal

#3062 GEN-93(b): Fix typo in migration
  apps/hashdotdev/src/_pages/blog/0008_sensitivity-assessor.mdx
Labels: area: apps

#3065 H-702: Add more auto-schedule packages to renovate
  .github/renovate.json
Labels: area: infra

#3068 GEN-94: Improve markdown linting consistency
  .github/pull_request_template.md
  .markdownlint.json
  apps/hash-external-services/README.md
  apps/hash-graph/README.md
  apps/hash/README.md
  apps/hashdotai/docs/simulation/concepts/design-considerations/README.md
  apps/hashdotai/docs/simulation/concepts/designing-with-process-models/experimenting-with-process-models.md
  apps/hashdotai/docs/simulation/concepts/designing-with-process-models/structuring-a-process-model.md
  apps/hashdotai/docs/simulation/concepts/designing-with-process-models/theory-of-constraints-and-simulations-a-framework-for-process-optimization.md
  apps/hashdotai/docs/simulation/creating-simulations/agent-based-modeling-basics-1.md
  apps/hashdotai/docs/simulation/creating-simulations/agent-messages/built-in-message-handlers.md
  apps/hashdotai/docs/simulation/creating-simulations/anatomy-of-an-agent/initial-state.md
  apps/hashdotai/docs/simulation/creating-simulations/behaviors/behavior-keys/advanced-scenarios.md
  apps/hashdotai/docs/simulation/creating-simulations/behaviors/inheritance.md
  apps/hashdotai/docs/simulation/creating-simulations/experiments/optimization-experiments/complex-metrics.md
  apps/hashdotai/docs/simulation/creating-simulations/h.cloud.md
  apps/hashdotai/docs/simulation/creating-simulations/views/analysis/plots.md
  apps/hashdotai/docs/simulation/extra/determinism.md
  apps/hashdotai/docs/simulation/extra/migrating/anylogic/main-loop.md
  apps/hashdotai/docs/simulation/extra/migrating/anylogic/mental-models.md
  apps/hashdotai/docs/simulation/extra/troubleshooting/README.md
  apps/hashdotai/docs/simulation/tutorials/building-process-models/experimenting-with-process-models.md
  apps/hashdotai/docs/simulation/tutorials/extending-an-epidemic-model/README.md
  apps/hashdotai/docs/simulation/tutorials/extending-an-epidemic-model/create-a-hospital.md
  apps/hashdotai/docs/simulation/tutorials/extending-an-epidemic-model/create-an-icu.md
  apps/hashdotai/docs/simulation/tutorials/phase-1-building-a-simple-hotelling-model-in-2d/initialization.md
  apps/hashdotai/docs/simulation/tutorials/phase-1-building-a-simple-hotelling-model-in-2d/query-customers.md
  infra/docker/README.md
  infra/terraform/README.md
  infra/terraform/playbooks/citus.md
  libs/@hashintel/type-editor/README.md
  libs/README.md
Labels: area: apps > hash*, area: apps > hash.ai, area: infra, area: infra > docker, area: libs, type: frontend, type: backend, area: apps, area: apps > hash-graph, area: infra > terraform

#3075 GEN-95: Update labels for sync
  .github/ISSUE_TEMPLATE/bug-report-block.yml
  .github/ISSUE_TEMPLATE/bug-report-deer.yml
  .github/ISSUE_TEMPLATE/bug-report-error-stack.yml
  .github/ISSUE_TEMPLATE/bug-report-hash-app.yml
  .github/ISSUE_TEMPLATE/bug-report-website.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request-error-stack.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/labeler.yml
Labels: area: infra

#3074 H-703: Disable `overflow_delimited_expr` rustfmt setting
  .rustfmt.toml
  apps/hash-graph/bench/util.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/graph/src/knowledge/query.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/snapshot/account/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/expression/with_clause.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/tests/integration/postgres/entity.rs
  apps/hash-graph/tests/integration/postgres/entity_type.rs
  apps/hash-graph/tests/integration/postgres/links.rs
  libs/deer/desert/src/token.rs
  libs/deer/src/error/serialize.rs
  libs/deer/src/impls/core/ops.rs
  libs/deer/src/impls/core/result.rs
  libs/deer/src/schema.rs
  libs/deer/tests/test_bound.rs
  libs/deer/tests/test_enum_visitor.rs
  libs/deer/tests/test_impls_core_array.rs
  libs/deer/tests/test_impls_core_ops.rs
  libs/deer/tests/test_impls_core_tuples.rs
  libs/deer/tests/test_struct_visitor.rs
  libs/error-stack/tests/test_attach.rs
  libs/error-stack/tests/test_attach_printable.rs
  libs/error-stack/tests/test_change_context.rs
  libs/sarif/src/schema/tool.rs
Labels: area/apps > hash*, area/libs > error-stack, area/libs, area/libs > deer, area/libs > sarif, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3079 GEN-98: Remove `libs` CODEOWNERS
  .github/CODEOWNERS
Labels: area/infra

#3077 GEN-57: Run BE-Test and PW-Test only if needed in CI
  .github/workflows/ci.yml
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-frontend/package.json
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  tests/hash-playwright/package.json
Labels: area/apps > hash*, area/infra, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps, area/apps > hash-graph

#3088 GEN-102: Fix deprecation warning typo for `IntoReport`
  libs/error-stack/src/result.rs
Labels: area/libs > error-stack, area/libs

#3089 GEN-103: Bump `error-stack` to v0.4.1
  libs/error-stack/CHANGELOG.md
  libs/error-stack/Cargo.toml
Labels: area/infra, area/libs > error-stack, area/libs

#3092 H-704: Add `HASH_INTEGRATION_QUEUE_NAME` to production `hash-api` service
  apps/hash-external-services/docker-compose.prod.yml
Labels: area/apps > hash*, area/apps

#3093 H-708, H-709: Avoid hardcoding instances of the FE domain, redundant type version increments
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/query-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/select-entity-type-page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/new/types/entity-type.page.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3082 GEN-101: Add HDEV redirect and opt out of `poweredByHeader`
  apps/hashdotdev/next.config.js
Labels: area/apps > hash.dev, area/apps

#3096 H-711: Make `docker-compose.*.yml` files composable
  .env
  .env.development
  .env.production
  .env.test
  .github/actions/build-docker-images/action.yml
  .github/workflows/rust.yml
  .justfile
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/kratos/Dockerfile
  apps/hash-external-services/package.json
  apps/hash-external-services/turbo.json
  apps/hash-graph/.justfile
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bench/util.rs
  apps/hash-graph/bin/cli/src/main.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/lib.rs
  apps/hash-graph/package.json
  apps/hash-graph/tests/integration/postgres/lib.rs
  apps/hash-realtime/src/index.ts
  apps/hash/README.md
  package.json
Labels: area/deps, area/apps > hash*, area/infra, type/eng > backend, area/tests, area/apps > hash-realtime, area/apps, area/apps > hash-graph

#3099 H-721: Replace almost all `#[async_trait]` usages with native `async trait`
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/lib.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/migration.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/lib/graph/src/store/pool.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/migration.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/pool.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3101 Revert "H-721: Replace almost all `#[async_trait]` usages with native `async trait` (#3099)"
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/lib.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/migration.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/lib/graph/src/store/pool.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/migration.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/pool.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3102 H-718: Change Subgraph traversal logic to check for permissions to see entities
  apps/hash-graph/Cargo.lock
  apps/hash-graph/Cargo.toml
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/knowledge/entity.rs
  apps/hash-graph/bench/util.rs
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/authorization/Cargo.toml
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/authorization/src/lib.rs
  apps/hash-graph/lib/authorization/src/zanzibar.rs
  apps/hash-graph/lib/authorization/tests/api.rs
  apps/hash-graph/lib/authorization/tests/simple.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/api_resource.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/tests/integration/Cargo.toml
  apps/hash-graph/tests/integration/postgres/lib.rs
  apps/hash-graph/tests/integration/postgres/links.rs
Labels: area/deps, area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3105 H-139: Redirect user to login page when logging out
  apps/hash-frontend/src/components/hooks/use-logout-flow.ts
  apps/hash-frontend/src/pages/login.page.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3094 H-253: Introduce instance-level setting to disable pages
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-frontend/src/components/hooks/use-account-pages.ts
  apps/hash-frontend/src/components/hooks/use-hash-instance.ts
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/login.page.tsx
  apps/hash-frontend/src/pages/signup.page.tsx
  apps/hash-frontend/src/shared/command-bar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown/create-page-menu-item.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/simplify-properties.ts
  libs/@local/hash-isomorphic-utils/src/system-types/hashinstance.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3114 H-722: Create an `AuthorizationApiPool` to create connections to the auth backend
  apps/hash-graph/lib/authorization/src/api.rs
  apps/hash-graph/lib/authorization/src/lib.rs
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/api_resource.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/store/pool.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3076 GEN-97: Add recommended VSCode lint and test plugins
  .vscode/extensions.json
Labels: area/dx

#3115 H-741: Provide the authorization API to every Graph function
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/knowledge/entity.rs
  apps/hash-graph/bench/representative_read/ontology/entity_type.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/bench/util.rs
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/api/rest/test_server.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/tests/integration/postgres/lib.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3122 H-745: Apply changes to python packages
  apps/hash-ai-worker-py/turbo.json
  libs/@local/hash-graph-client/python/graph_client/__init__.py
  libs/@local/hash-graph-client/python/turbo.json
  libs/@local/hash-graph-sdk/python/examples/query_company_entities.py
  libs/@local/hash-graph-sdk/python/examples/query_company_entities_limited_axes.py
  libs/@local/hash-graph-sdk/python/examples/query_company_entity_type.py
  libs/@local/hash-graph-sdk/python/graph_sdk/client/blocking.py
  libs/@local/hash-graph-sdk/python/graph_sdk/client/concurrent.py
  libs/@local/hash-graph-sdk/python/graph_sdk/types.py
  libs/@local/hash-graph-sdk/python/scripts/generate_blocking.py
  libs/@local/hash-graph-sdk/python/turbo.json
  libs/@local/hash-graph-types/turbo.json
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps

#3125 H-746: Fix CI failing `git diff` checks
  libs/@local/hash-graph-sdk/python/graph_sdk/client/blocking.py
Labels: area/apps > hash*, area/libs, type/eng > backend

#3121 H-744: Adjust database to store accounts and account groups
  apps/hash-external-services/docker-compose.yml
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/bench/util.rs
  apps/hash-graph/lib/graph-types/src/account.rs
  apps/hash-graph/lib/graph-types/src/knowledge/entity.rs
  apps/hash-graph/lib/graph-types/src/provenance.rs
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/account.rs
  apps/hash-graph/lib/graph/src/snapshot/account/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/account/table.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/record.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/owner.rs
  apps/hash-graph/lib/graph/src/snapshot/owner/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/owner/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/owner/table.rs
  apps/hash-graph/lib/graph/src/snapshot/restore/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/restore/channel.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V13__account_groups.sql
  apps/hash-graph/tests/integration/postgres/lib.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3108 H-587: Sidebar styling improvements and fixes
  apps/hash-frontend/src/components/emoji-picker/emoji-picker.tsx
  apps/hash-frontend/src/components/page-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3136 H-758: Don't require SpiceDB database parameters to be passed in postgres init script
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/postgres/init-user-db.sh
Labels: area/apps > hash*, area/apps

#3137 Fix `hash-external-apps` README backup command invocation
  apps/hash-external-services/README.md
Labels: area/apps > hash*, area/infra, area/apps

#3140 H-758: Fix postgres servers not properly starting in `test` config
  .github/workflows/ci.yml
  apps/hash-external-services/package.json
  apps/hash-external-services/postgres/init-user-db.sh
Labels: area/apps > hash*, area/infra, area/apps

#3139 GEN-104, H-764: Misc cleanup
  .github/licenses/LICENSE-HASH.md
  README.md
  libs/@local/advanced-types/LICENSE-APACHE.md
  libs/@local/advanced-types/LICENSE-MIT.md
  libs/@local/advanced-types/LICENSE.md
Labels: area/infra, area/libs, type/eng > backend, type/legal

#3141 H-766: Update `cargo-hack` to at least `0.6.6`
  .github/workflows/rust.yml
  .justfile
Labels: area/infra

#3126 H-674, H-675, H-682: Upload file from File types, preview image files, progress indicator
  apps/hash-api/package.json
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-file-upload.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/entity-type-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-rows.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-tabs.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/file-uploads-tab.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/file-uploads-tab/action.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/file-uploads-tab/show-upload-form-button.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/type-preview-slide.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/index.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-table.tsx
  apps/hash-frontend/src/pages/settings/shared/file-upload-dropzone.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/entity-types-context/hooks.ts
  apps/hash-frontend/src/shared/entity-types-context/shared/context-types.ts
  apps/hash-frontend/src/shared/entity-types-context/shared/is-special-entity-type.ts
  apps/hash-frontend/src/shared/file-upload-context.tsx
  apps/hash-frontend/src/shared/icons/dash-icon.tsx
  apps/hash-frontend/src/shared/upload-to-storage-provider.ts
  apps/hash-realtime/package.json
  apps/hash-realtime/src/index.ts
  blocks/ai-text/src/app/generate-text/text-preview.tsx
  libs/@hashintel/block-design-system/src/ai-assistant-message/code-block.tsx
  libs/@hashintel/block-design-system/src/dropdown-selector.tsx
  libs/@hashintel/block-design-system/src/icons/check.tsx
  libs/@hashintel/design-system/src/icon-arrow-rotate-left.tsx
  libs/@hashintel/design-system/src/icon-close.tsx
  libs/@hashintel/design-system/src/image-with-checked-background.tsx
  libs/@hashintel/design-system/src/main.ts
  libs/@hashintel/design-system/src/selector-autocomplete/selector-autocomplete-option.tsx
  libs/@hashintel/design-system/src/type-card.tsx
  package.json
Labels: area/apps > hash*, area/apps > hash-api, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/apps > hash-realtime, area/apps

#3138 H-707: Make URL path appearance in slideover the same as in the main page
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/query-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/select-entity-type-page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/type-preview-slide.tsx
  apps/hash-frontend/src/pages/new/types/entity-type.page.tsx
  libs/@hashintel/design-system/src/ontology-chip.tsx
  libs/@hashintel/design-system/src/selector-autocomplete/selector-autocomplete-option.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/type-menu-cell.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3091 H-705: Enable Sentry integration in `hash-graph`
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/args.rs
  apps/hash-graph/bin/cli/src/error.rs
  apps/hash-graph/bin/cli/src/main.rs
  apps/hash-graph/bin/cli/src/parser.rs
  apps/hash-graph/bin/cli/src/subcommand.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/logging/init.rs
Labels: area/deps, area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3148 H-767: Fix bugs in type editor form when moving between types
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-value.tsx
  apps/hash-frontend/src/shared/entity-types-context/hooks.ts
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@hashintel/type-editor/src/entity-type-editor/shared/use-inherited-values.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3127 H-748: Export accounts and account groups in snapshots
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/restore/channel.rs
  apps/hash-graph/lib/graph/src/store/record.rs
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3151 H-668: Use UUIDv5 for newly created ontology id
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/property_type/channel.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/ontology_id.rs
Labels: area/deps, area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3155 H-585: Individual org's "General" page improvements
  apps/hash-frontend/src/pages/login.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/new/index.page/create-org-form.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-form.tsx
  apps/hash-frontend/src/pages/signup.page.tsx
  libs/@hashintel/design-system/src/theme/components.ts
  libs/@hashintel/design-system/src/theme/components/inputs/mui-input-base-theme-options.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3153 H-760: Check `labelProperty`s when generating an entity's label
  apps/hash-frontend/src/lib/entities.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-draft-entity-subgraph.ts
  libs/@local/hash-isomorphic-utils/src/simplify-properties.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/element/entity-type.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3154 H-743: Determine `OwnedById` type when inserting a record
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3156 H-584: Improve context menu on `/settings/organizations` page
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page/member-row/member-context-menu.tsx
  apps/hash-frontend/src/pages/settings/organizations/index.page/org-row.tsx
  apps/hash-frontend/src/pages/settings/organizations/index.page/org-row/org-context-menu.tsx
  apps/hash-frontend/src/pages/settings/shared/context-menu.tsx
  libs/@hashintel/design-system/src/menu-item.tsx
  libs/@hashintel/design-system/src/text-field.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3152 H-769: Fix snapshots to work with archived types
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata/batch.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3147 H-588: Style cleanup in the 'view all' pages/types/entities tables
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entities-tab.tsx
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-page-tabs.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/ui/tab-link.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3163 H-775: Don't run `lint:mypy` as a build step in `hash-graph-types`
  libs/@local/hash-graph-types/turbo.json
Labels: area/apps > hash*, area/libs, type/eng > backend

#3164 H-720: Check for permissions when modifying an entity
  apps/hash-graph/lib/authorization/src/api.rs
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/lib.rs
  apps/hash-graph/lib/authorization/src/zanzibar.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3173 H-629: Ensure blurhash appears for author photos on HDEV post pages
  apps/hashdotdev/src/components/blog-post.tsx
Labels: area/apps > hash.dev, area/apps

#3172 H-734: Increase size of "email" icon shown on successful subscription to hash.dev blog
  apps/hashdotdev/src/components/pre-footer.tsx
Labels: area/apps > hash.dev, area/apps

#3165 H-778: Expose account group membership in the Graph REST API
  apps/hash-api/src/graph/knowledge/system-types/org-membership.ts
  apps/hash-graph/lib/authorization/src/api.rs
  apps/hash-graph/lib/authorization/src/lib.rs
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/openapi/openapi.json
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps, area/apps > hash-graph

#3150 H-586, H-673: Style cleanup in top-nav dropdowns
  apps/hash-frontend/src/pages/new/types/entity-type.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-form.tsx
  apps/hash-frontend/src/shared/icons/file-lines-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/hashtag-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/upload-regular-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown/create-document-menu-item.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/shared/header-icon-button.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  apps/hash-frontend/theme-override.d.ts
  libs/@hashintel/design-system/src/theme/components.ts
  libs/@hashintel/design-system/src/theme/components/data-display/mui-list-item-icon-theme-options.ts
  libs/@hashintel/design-system/src/theme/components/navigation/mui-menu-item-theme-options.ts
  libs/@hashintel/design-system/src/theme/palette.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3175 H-626: Add "Toggle All" checkboxes to roadmap tech tree filters
  apps/hashdotdev/src/pages/roadmap/technology-tree-filters.tsx
Labels: area/apps > hash.dev, area/apps

#3183 H-786: fix `TextField` ref not being passed to component correctly
  libs/@hashintel/design-system/src/text-field.tsx
Labels: area/libs, type/eng > frontend

#3166 H-373: Replace Next Ory API middleware with hash-api endpoint
  apps/hash-api/package.json
  apps/hash-api/src/index.ts
  apps/hash-frontend/src/pages/api/ory/[...paths].api.ts
  apps/hash-frontend/src/pages/shared/ory-kratos.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#3192 H-801: Increase Playwright test timeout
  tests/hash-playwright/tests/shared/login-using-temp-form.ts
Labels: area/tests, area/tests > playwright

#3174 H-787: Allow usage of non-string values as permission object/subject
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/model.rs
  apps/hash-graph/lib/authorization/src/zanzibar.rs
  apps/hash-graph/lib/authorization/src/zanzibar/types.rs
  apps/hash-graph/lib/authorization/tests/api.rs
  apps/hash-graph/lib/authorization/tests/schema.rs
  apps/hash-graph/lib/authorization/tests/simple.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3201 H-807: Fix linting issues in `deer`
  libs/deer/desert/src/assert.rs
  libs/deer/json/src/deserializer.rs
  libs/deer/json/src/object.rs
  libs/deer/src/error/serialize.rs
  libs/deer/src/error/tuple.rs
  libs/deer/src/helpers.rs
  libs/deer/src/impls/core/array.rs
  libs/deer/src/impls/core/ops.rs
  libs/deer/src/impls/core/tuples.rs
  libs/deer/src/schema.rs
  libs/deer/src/value/object.rs
  libs/deer/tests/test_bound.rs
  libs/deer/tests/test_enum_core_result.rs
  libs/deer/tests/test_enum_visitor.rs
  libs/deer/tests/test_impls_core_cell.rs
  libs/deer/tests/test_impls_core_cmp.rs
  libs/deer/tests/test_impls_core_mem.rs
  libs/deer/tests/test_impls_core_num.rs
  libs/deer/tests/test_impls_core_num_primitives.rs
  libs/deer/tests/test_impls_core_ops.rs
  libs/deer/tests/test_impls_core_option.rs
  libs/deer/tests/test_impls_core_string.rs
  libs/deer/tests/test_impls_core_sync.rs
  libs/deer/tests/test_impls_core_time.rs
  libs/deer/tests/test_impls_core_tuples.rs
  libs/deer/tests/test_struct_visitor.rs
  libs/deer/tests/test_value.rs
Labels: area/libs, area/libs > deer, area/tests

#3176 H-788: Make the organization creator an admin of the account group
  apps/hash-graph/lib/authorization/src/api.rs
  apps/hash-graph/lib/authorization/src/lib.rs
  apps/hash-graph/lib/authorization/src/zanzibar/api.rs
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3177 H-789: Rename `as_uuid` and provide a reference getter
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/knowledge/entity.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/bench/util.rs
  apps/hash-graph/lib/graph-types/src/account.rs
  apps/hash-graph/lib/graph-types/src/knowledge/entity.rs
  apps/hash-graph/lib/graph-types/src/provenance.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/ontology_id.rs
  apps/hash-graph/lib/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  apps/hash-graph/tests/integration/postgres/lib.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3189 H-795: Remove filter from permission queries
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/model.rs
  apps/hash-graph/lib/authorization/src/zanzibar/types.rs
  apps/hash-graph/lib/authorization/tests/api.rs
  apps/hash-graph/lib/authorization/tests/schema.rs
  apps/hash-graph/lib/authorization/tests/simple.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3203 H-573: Fix frontend hot reloading
  .changeset/eleven-humans-watch.md
  apps/hash-frontend/.eslintrc.cjs
  apps/hash-frontend/src/components/grid/utils/custom-grid-icons.ts
  apps/hash-frontend/src/components/grid/utils/override-custom-renderers.tsx
  apps/hash-frontend/src/components/grid/utils/override-custom-renderers/use-scroll-lock.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/link-cell.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/property-name-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/row-action.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/json-input.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/shared/summary-chip-cell.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/_document.page.tsx
  apps/hash-frontend/src/pages/settings/shared/context-menu.tsx
  apps/hash-frontend/src/pages/shared/chip-cell.tsx
  apps/hash-frontend/src/pages/shared/entities-table/text-icon-cell.tsx
  apps/hash-frontend/src/shared/ui/tab-link.tsx
  apps/hashdotdesign/.storybook/preview.js
  blocks/address/src/app.tsx
  blocks/ai-chat/src/app.tsx
  blocks/ai-image/src/app.tsx
  blocks/ai-text/src/app.tsx
  blocks/faq/src/app.tsx
  blocks/how-to/src/app.tsx
  libs/@hashintel/block-design-system/src/main.ts
  libs/@hashintel/design-system/.eslintrc.cjs
  libs/@hashintel/design-system/package.json
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/input-props.tsx
  libs/@hashintel/design-system/src/ontology-chip.tsx
  libs/@hashintel/design-system/src/parse-url-for-ontology-chip.tsx
  libs/@hashintel/design-system/src/selector-autocomplete/selector-autocomplete-option.tsx
  libs/@hashintel/design-system/src/text-field.tsx
  libs/@hashintel/design-system/src/theme.ts
  libs/@hashintel/type-editor/src/entity-type-editor.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/inherited-link-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/disabled-checkbox-cell.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-expected-values.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector/custom-expected-value-builder.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector/shared/custom-expected-value-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector/shared/expected-value-badge.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector/shared/object-expected-value-builder.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/shared/expected-values-options.ts
  libs/@hashintel/type-editor/src/entity-type-editor/shared/question-icon.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/type-form.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/type-menu-cell.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/version-upgrade-indicator.tsx
  libs/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  libs/@local/repo-chores/scripts/postpublish.ts
  libs/@local/repo-chores/scripts/prepublish.ts
Labels: area/apps > hash*, area/infra, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash.design

#3194 H-802: Skip checking type parents when looking up system entities by type
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-user-secret.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/system-user.ts
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/shared/use-user-or-org.ts
  apps/hash-integration-worker/src/activities.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3212 H-671: Add a timeout for the type fetcher
  apps/hash-graph/lib/type-fetcher/src/fetcher_server.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3213 H-833: Automatically update Rust dependencies
  .github/renovate.json
Labels: area/infra

#3214 H-834: Fix `ignorePaths` setting in Renovate
  .github/renovate.json
Labels: area/infra

#3215 H-835: Don't run Rust CI if something else than workflows changed in `.github/`
  .github/scripts/rust/setup.py
Labels: area/infra

#3190 H-804: Use SpiceDB schema in the Graph to check/alter permissions
  apps/hash-graph/lib/authorization/schemas/v1__initial_schema.zed
  apps/hash-graph/lib/authorization/src/api.rs
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/model.rs
  apps/hash-graph/lib/authorization/src/lib.rs
  apps/hash-graph/lib/authorization/src/schema.rs
  apps/hash-graph/lib/authorization/src/schema/web.rs
  apps/hash-graph/lib/authorization/src/zanzibar/api.rs
  apps/hash-graph/lib/authorization/tests/api.rs
  apps/hash-graph/lib/authorization/tests/simple.rs
  apps/hash-graph/lib/graph-types/src/lib.rs
  apps/hash-graph/lib/graph-types/src/provenance.rs
  apps/hash-graph/lib/graph-types/src/web.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3216 H-677, H-751, H-780: Replacable file entities, file download button, infer image files
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/file.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/create-file-from-url.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/request-file-upload.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/knowledge-shim.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-file-upload.ts
  apps/hash-frontend/src/graphql/queries/knowledge/file.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-modal.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/entity-editor-context.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/json-input.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/shared/get-image-url-from-properties.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  apps/hash-frontend/src/pages/[shortname]/index.page.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/edit-bar.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/edit-bar-type-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/file-uploads-tab.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-form.tsx
  apps/hash-frontend/src/pages/settings/shared/image-field.tsx
  apps/hash-frontend/src/pages/shared/breadcrumbs.tsx
  apps/hash-frontend/src/pages/shared/gray-to-blue-icon-button.tsx
  apps/hash-frontend/src/shared/file-upload-context.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/workspace-switcher.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-download-regular.tsx
  libs/@hashintel/design-system/src/icon-file-regular.tsx
  libs/@hashintel/design-system/src/icon-rotate-regular.tsx
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/file.typedef.ts
  libs/@local/hash-subgraph/src/main.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/file.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#3193 H-759: Add bulk actions dropdown on entities and types tables
  apps/hash-api/src/graphql/resolvers/ontology/property-type.ts
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils/rows.ts
  apps/hash-frontend/src/components/grid/utils/sorting.ts
  apps/hash-frontend/src/components/grid/utils/use-draw-header.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/ontology-types-shim.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-query-property-types.ts
  apps/hash-frontend/src/components/hooks/use-archive-page.ts
  apps/hash-frontend/src/graphql/queries/ontology/property-type.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/query-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/archive-menu-item.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/definition-tab.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/text-icon-cell.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar/archived-item-banner.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar/util.ts
  apps/hash-frontend/src/pages/types/[[...type-kind]].page.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/entity-type-entities-context.ts
  apps/hash-frontend/src/shared/entity-type-entities-context/use-entity-type-entities-context-value.tsx
  apps/hash-frontend/src/shared/entity-types-context/hooks.ts
  apps/hash-frontend/src/shared/entity-types-context/util.ts
  apps/hash-frontend/src/shared/is-archived.ts
  apps/hash-frontend/src/shared/is-of-type.ts
  apps/hash-frontend/src/shared/latest-property-types-context.tsx
  apps/hash-frontend/src/shared/latest-property-types-context/use-latest-property-types-context-value.ts
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/table-header/bulk-actions-dropdown.tsx
  libs/@local/hash-graphql-shared/src/graphql/type-defs/ontology/property-type.typedef.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3200 H-809: Change users and orgs to own themselves
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/ontology/primitive/util.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/seed-data/index.ts
  apps/hash-api/src/seed-data/seed-pages.ts
  apps/hash-api/src/seed-data/seed-users.ts
  apps/hash-frontend/src/components/hooks/use-workspace-shortname-by-entity-uuid.ts
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash-graph

#3231 H-580: Fix styling in link/property table, fix crash in entity editor
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/shared/get-image-url-from-properties.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/definition-tab.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-title-cell.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3232 H-849: Make `codec` module a crate
  apps/hash-graph/Cargo.lock
  apps/hash-graph/Cargo.toml
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/subcommand/snapshot.rs
  apps/hash-graph/lib/codec/Cargo.toml
  apps/hash-graph/lib/codec/src/bytes.rs
  apps/hash-graph/lib/codec/src/lib.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest/test_server.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
Labels: area/deps, area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3228 GEN-108: Add a simple example for new error-stack users starting new project
  libs/error-stack/Cargo.toml
  libs/error-stack/src/lib.rs
Labels: area/libs > error-stack, area/libs

#3233 H-851: Add support to stream SpiceDB return values
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/authorization/Cargo.toml
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/model.rs
  apps/hash-graph/lib/authorization/src/lib.rs
Labels: area/deps, area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3080 GEN-99: Create a global Test/Lint CI
  .github/actions/prune-repository/action.yml
  .github/workflows/ci.yml
  .github/workflows/package.yml
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-frontend/turbo.json
  apps/hash-frontend/vercel-install.sh
  apps/hash-graph/package.json
  apps/hashdotai/package.json
  apps/hashdotdev/package.json
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/embed/package.json
  blocks/faq/package.json
  blocks/heading/package.json
  blocks/how-to/package.json
  blocks/image/package.json
  blocks/kanban-board/package.json
  blocks/paragraph/package.json
  blocks/person/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  blocks/timer/package.json
  blocks/video/package.json
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/design-system/package.json
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/advanced-types/package.json
  libs/@local/eslint-config/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-graph-client/python/package.json
  libs/@local/hash-graph-client/typescript/package.json
  libs/@local/hash-graphql-shared/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/status/package.json
  tests/hash-playwright/package.json
  turbo.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/blocks, area/apps > hash.dev, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps, area/apps > hash-graph

#3241 GEN-109, GEN-110: Fix CI jobs not determined correctly
  .github/workflows/package.yml
  turbo.json
Labels: area/infra

#3229 H-583, H-665: Improve settings sidebar UX, make type editor alert modals consistent
  apps/hash-api/src/graph/util.ts
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/convert-type-button/convert-type-confirmation-modal.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/convert-type-menu-item.tsx
  apps/hash-frontend/src/pages/settings/shared/settings-layout.tsx
  apps/hash-frontend/src/pages/settings/shared/settings-layout/settings-sidebar.tsx
  libs/@hashintel/design-system/src/alert-modal.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/type-editor/src/entity-type-editor.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row.tsx
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3242 GEN-110: Fix CI running too many jobs
  .github/workflows/package.yml
Labels: area/infra

#3253 H-859: Remove duplication of `theme-override.d.ts`
  apps/hash-frontend/theme-override.d.ts
  blocks/address/theme-override.d.ts
  blocks/ai-chat/theme-override.d.ts
  blocks/ai-image/theme-override.d.ts
  blocks/ai-text/theme-override.d.ts
  blocks/faq/theme-override.d.ts
  blocks/how-to/theme-override.d.ts
  blocks/kanban-board/theme-override.d.ts
  blocks/shuffle/theme-override.d.ts
  blocks/table/theme-override.d.ts
  libs/@hashintel/block-design-system/theme-override.d.ts
  libs/@hashintel/design-system/theme-override.d.ts
  libs/@hashintel/query-editor/theme-override.d.ts
  libs/@hashintel/type-editor/theme-override.d.ts
Labels: area/apps > hash*, area/blocks, area/libs, type/eng > frontend, area/apps

#3245 H-598: Better error messages when parent types cannot be added
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row/use-validate-parents.ts
  libs/@hashintel/type-editor/src/entity-type-editor/shared/use-inherited-values.ts
Labels: area/libs, type/eng > frontend

#3211 H-827: Adjust Node API to use authentication for several cases
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/seed-data/seed-users.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org-membership.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
  tests/hash-backend-integration/src/tests/util.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/tests, area/tests > integration, area/apps

#3223 H-838: Expose function to check if a user can update an entity
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-client/python/graph_client/models.py
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3261 GEN-112: Fix CI not building docker images
  .github/workflows/package.yml
Labels: area/infra

#3243 H-843: Support reading all relationships
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/model.rs
  apps/hash-graph/lib/authorization/src/lib.rs
  apps/hash-graph/lib/authorization/src/schema/account.rs
  apps/hash-graph/lib/authorization/src/schema/account_group.rs
  apps/hash-graph/lib/authorization/src/schema/entity.rs
  apps/hash-graph/lib/authorization/src/schema/web.rs
  apps/hash-graph/lib/authorization/src/zanzibar/api.rs
  apps/hash-graph/lib/authorization/src/zanzibar/types.rs
  apps/hash-graph/lib/authorization/tests/api.rs
  apps/hash-graph/lib/authorization/tests/schema.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3259 H-855: Make entity type icon available in the metadata
  apps/hash-graph/bench/util.rs
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/lib/graph-types/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V14__icon_property.sql
  apps/hash-graph/tests/integration/postgres/lib.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-graph-sdk/python/graph_sdk/filter/path.py
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3254 H-653: Support creation and deletion of relations without erroring on conflicts
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/api.rs
  apps/hash-graph/lib/authorization/src/backend/spicedb/model.rs
  apps/hash-graph/lib/authorization/tests/api.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3255 H-669: Implement permissions in snapshots
  apps/hash-graph/bin/cli/src/subcommand/snapshot.rs
  apps/hash-graph/bin/cli/src/subcommand/test_server.rs
  apps/hash-graph/lib/authorization/src/api.rs
  apps/hash-graph/lib/authorization/src/backend.rs
  apps/hash-graph/lib/authorization/src/lib.rs
  apps/hash-graph/lib/authorization/src/schema/account.rs
  apps/hash-graph/lib/authorization/src/schema/account_group.rs
  apps/hash-graph/lib/authorization/src/schema/entity.rs
  apps/hash-graph/lib/authorization/src/schema/web.rs
  apps/hash-graph/lib/authorization/src/zanzibar/api.rs
  apps/hash-graph/lib/codec/src/bytes.rs
  apps/hash-graph/lib/graph/src/api/rest/test_server.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/record.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/property_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/owner.rs
  apps/hash-graph/lib/graph/src/snapshot/owner/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/owner/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/restore/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/restore/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/web.rs
  apps/hash-graph/lib/graph/src/snapshot/web/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/web/channel.rs
  tests/hash-backend-integration/src/tests/subgraph/circular.test.ts
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, state/blocked, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3256 H-839, H-817: Enable permission system in `dev`
  .github/actions/build-docker-images/action.yml
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/bin/cli/src/subcommand/snapshot.rs
  apps/hash-graph/bin/cli/src/subcommand/test_server.rs
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/lib/authorization/src/backend/spicedb.rs
  apps/hash-graph/lib/authorization/tests/api.rs
  apps/hash-graph/package.json
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, state/blocked, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3267 H-74, H-846: Make all property type versions available to type editor. Update media block copy
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/query-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/definition-tab.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/definition-tab/use-editor-ontology-functions.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/use-entity-type-value.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page.tsx
  apps/hash-frontend/src/shared/latest-property-types-context.tsx
  apps/hash-frontend/src/shared/latest-property-types-context/use-property-types-context-value.ts
  apps/hash-frontend/src/shared/property-types-context.tsx
  apps/hash-frontend/src/shared/table-header/bulk-actions-dropdown.tsx
  blocks/image/src/components/upload-media-form.tsx
  blocks/video/src/components/upload-media-form.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/inherited-link-row.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-title-cell.tsx
Labels: area/apps > hash*, area/blocks, area/libs, type/eng > frontend, area/apps

#3290 H-885: Add `vercel.json` to silent Vercel comments on PRs
  apps/hashdotai-new/vercel.json
Labels: area/apps

#3287 H-882: Fix generated code in `@local/hash-graph-client-python` package
  libs/@local/hash-graph-client/python/graph_client/models.py
Labels: area/apps > hash*, area/libs, type/eng > backend

#3268 H-874: Use status library to report errors in AI workers
  .github/workflows/package.yml
  apps/hash-ai-worker-py/app/__main__.py
  apps/hash-ai-worker-py/app/workflows.py
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  libs/@local/hash-graph-types/graph_types/_schema.py
  libs/@local/hash-graph-types/graph_types/data_type.py
  libs/@local/hash-graph-types/graph_types/entity_type.py
  libs/@local/hash-graph-types/graph_types/property_type.py
Labels: area/apps > hash*, area/infra, area/libs, type/eng > backend, area/apps

#3275 H-876: Pass closed entity types to activity to be used for inference
  apps/hash-ai-worker-py/app/__init__.py
  apps/hash-ai-worker-py/app/__main__.py
  apps/hash-ai-worker-py/app/_status.py
  apps/hash-ai-worker-py/app/activities.py
  apps/hash-ai-worker-py/app/encoding.py
  apps/hash-ai-worker-py/app/infer/__init__.py
  apps/hash-ai-worker-py/app/infer/entities/__init__.py
  apps/hash-ai-worker-py/app/infer/entities/activity.py
  apps/hash-ai-worker-py/app/infer/entities/workflow.py
  apps/hash-ai-worker-py/app/ontology/__init__.py
  apps/hash-ai-worker-py/app/ontology/activity.py
  apps/hash-ai-worker-py/app/ontology/workflow.py
  apps/hash-ai-worker-py/app/workflows.py
  apps/hash-ai-worker-py/pyproject.toml
Labels: area/apps > hash*, state/blocked, area/apps

#3288 H-883: Rename `docs` to `guide`, add `resources`
  apps/hashdotai-new/src/app/guide/[slug]/page.tsx
  apps/hashdotai-new/src/app/guide/page.tsx
  apps/hashdotai-new/src/app/resources/page.tsx
Labels: area/apps

#3281 H-877: Validate entities returned from `inferEntities` activity
  apps/hash-ai-worker-py/app/__main__.py
  apps/hash-ai-worker-py/app/_status.py
  apps/hash-ai-worker-py/app/infer/entities/__init__.py
  apps/hash-ai-worker-py/app/infer/entities/activity.py
  apps/hash-ai-worker-py/app/infer/entities/workflow.py
  apps/hash-ai-worker-py/app/ontology/workflow.py
Labels: area/apps > hash*, state/blocked, area/apps

#3286 H-137: Implement basic workflow to infer entities from text
  apps/hash-ai-worker-py/app/infer/entities/__init__.py
  apps/hash-ai-worker-py/app/infer/entities/activity.py
  apps/hash-ai-worker-py/app/infer/entities/workflow.py
  apps/hash-ai-worker-py/poetry.lock
  apps/hash-ai-worker-py/pyproject.toml
Labels: area/apps > hash*, area/apps

#3291 H-886: Bump `max_tokens` for `gpt-4-0613` model
  apps/hash-ai-worker-py/app/infer/entities/__init__.py
Labels: area/apps > hash*, area/apps

#3289 H-878: Allow specifying how an inferred entity should be validated
  apps/hash-ai-worker-py/app/_util.py
  apps/hash-ai-worker-py/app/infer/entities/__init__.py
  apps/hash-ai-worker-py/app/infer/entities/activity.py
  apps/hash-ai-worker-py/app/infer/entities/workflow.py
  apps/hash-ai-worker-py/app/ontology/activity.py
  libs/@local/hash-graph-types/graph_types/_cache.py
  libs/@local/hash-graph-types/graph_types/data_type.py
  libs/@local/hash-graph-types/graph_types/entity_type.py
  libs/@local/hash-graph-types/graph_types/property_type.py
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps

#3295 H-886: Revert "H-886: Bump `max_tokens` for `gpt-4-0613` model"
  apps/hash-ai-worker-py/app/infer/entities/__init__.py
Labels: area/apps > hash*, area/apps
