Repository hashintel/hash, pull requests merged in 2023-06, with the labels that each got.

#2629 Use `OntologyId` instead of allocating a `VersionedUri` when traversing edges
  apps/hash-graph/lib/graph/src/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/ontology_id.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/lib/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/lib/graph/src/store/query.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  apps/hash-graph/lib/graph/src/subgraph/edges/kind.rs
Labels: A-hash, A-backend

#2633 Bump PostgreSQL to 15
  apps/hash-external-services/README.md
  apps/hash-external-services/postgres/Dockerfile
  infra/terraform/hash/postgres/postgres.tf
Labels: A-hash

#2635 Add `infra/` folder to `infra` label
  .github/labeler.yml
Labels: A-infra

#2632 Removed unused edge filters
  apps/hash-graph/lib/graph/src/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/query/filter.rs
  apps/hash-graph/lib/graph/src/store/record.rs
Labels: A-hash, A-backend

#2636 Change the `EntityId` separator to `'~'`
  apps/hash-graph/lib/graph/src/shared/identifier/knowledge.rs
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-subgraph/src/types/shared/branded.ts
  tests/hash-backend-integration/src/tests/subgraph/circular.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: A-hash, integration, A-backend

#2638 Make the type-fetcher a runtime option
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-graph/.justfile
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/main.rs
  apps/hash-graph/bin/cli/src/subcommand.rs
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
Labels: A-hash, A-backend

#2637 Fix roots not being added to the traversal context
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
Labels: C-bug, A-hash, A-backend

#2639 Refactor GitHub Actions for infra deployment
  .github/actions/terraform-exec/action.yml
  .github/workflows/tf-apply-hash.yml
  .github/workflows/tf-plan-hash.yml
Labels: A-infra

#2641 Add tests to validate ontology types to exist in subgraph
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
Labels: integration

#2600 Split REST endpoints for loading external types
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
Labels: A-hash, api, A-backend

#2605 Bump the `@ory/client` version in the frontend
  apps/hash-api/package.json
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/kratos/kratos.dev.yml
  apps/hash-external-services/kratos/kratos.prod.yml
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/verification.page.tsx
  apps/hash/README.md
  yarn.lock
Labels: C-dependencies, A-hash, api, frontend

#2649 Update in-repo READMEs
  apps/README.md
  apps/hash-external-services/README.md
  apps/hash/README.md
  blocks/README.md
Labels: A-hash, A-blocks

#2444 `deer`: switch to `justjson`
  libs/deer/desert/src/array.rs
  libs/deer/desert/src/object.rs
  libs/deer/json/Cargo.toml
  libs/deer/json/src/array.rs
  libs/deer/json/src/deserializer.rs
  libs/deer/json/src/error.rs
  libs/deer/json/src/lib.rs
  libs/deer/json/src/number.rs
  libs/deer/json/src/object.rs
  libs/deer/json/src/skip.rs
  libs/deer/json/src/token.rs
  libs/deer/src/error/extra.rs
  libs/deer/src/impls/core/string.rs
  libs/deer/src/lib.rs
  libs/deer/tests/test_enum_visitor.rs
Labels: A-deer

#2644 Remove Task Executor
  .env
  apps/hash-api/src/graphql/context.ts
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/task-executor/airbyte-read.ts
  apps/hash-api/src/graphql/resolvers/task-executor/generation.ts
  apps/hash-api/src/graphql/resolvers/task-executor/index.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/task-execution/index.ts
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-task-executor/.eslintrc.cjs
  apps/hash-task-executor/.gitignore
  apps/hash-task-executor/LICENSE.md
  apps/hash-task-executor/README.md
  apps/hash-task-executor/nodemon.json
  apps/hash-task-executor/package.json
  apps/hash-task-executor/requirements.lock
  apps/hash-task-executor/requirements.txt
  apps/hash-task-executor/setup.sh
  apps/hash-task-executor/src/airbyte/executor.ts
  apps/hash-task-executor/src/airbyte/parsing.ts
  apps/hash-task-executor/src/airbyte/protocol.ts
  apps/hash-task-executor/src/airbyte/temp-io.ts
  apps/hash-task-executor/src/execution.ts
  apps/hash-task-executor/src/main.ts
  apps/hash-task-executor/src/tasks/demo.py
  apps/hash-task-executor/src/tasks/source-asana.ts
  apps/hash-task-executor/src/tasks/source-github.ts
  apps/hash-task-executor/tsconfig.json
  infra/docker/README.md
  infra/docker/task-executor/Dockerfile
  infra/terraform/hash/prod-usea1.tfvars
  libs/@local/hash-graphql-shared/src/graphql/type-defs/schema.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/task-execution.typedef.ts
  yarn.lock
Labels: C-dependencies, A-hash, A-infra, api, docker

#2652 hEngine: Minor comment improvements
  apps/engine/lib/execution/src/package/simulation.rs
  apps/engine/lib/execution/src/package/simulation/state/behavior_execution/config.rs
  apps/engine/lib/execution/src/task.rs
Labels: C-documentation, A-engine, category: dx, area: user success

#2658 hEngine: Add missing tracing spans
  apps/engine/lib/execution/src/package/experiment/comms.rs
  apps/engine/lib/experiment-control/src/controller.rs
Labels: A-engine

#2663 Avoid warning on resolver not specified
  apps/hash-graph/Cargo.toml
  apps/hash-graph/lib/graph/src/shared/identifier/time/interval.rs
Labels: A-hash, A-backend

#2664 Remove unneeded PrivateLinks from HASH infrastructure
  infra/terraform/hash/networking/main.tf
  infra/terraform/modules/base_network/main.tf
  infra/terraform/modules/privatelink_endpoints/main.tf
  infra/terraform/modules/variables/variables.tf
  infra/terraform/modules/vpc_spoke_peer/README.md
  infra/terraform/modules/vpc_spoke_peer/main.tf
  infra/terraform/modules/vpc_spoke_peer/terraform.tf
  infra/terraform/modules/vpc_spoke_peer/variables.tf
  infra/terraform/vpc_hub/README.md
  infra/terraform/vpc_hub/main.tf
  infra/terraform/vpc_hub/prod-usea1.tfvars
  infra/terraform/vpc_hub/terraform.tf
  infra/terraform/vpc_hub/variables.tf
Labels: A-infra

#2668 Explain how to restore Postgres backups
  apps/hash-agents/poetry.lock
  apps/hash-external-services/README.md
Labels: A-hash

#2674 Add example usage for the VPC spoke module
  infra/terraform/hash/main.tf
  infra/terraform/modules/vpc_spoke_peer/README.md
Labels: A-infra

#2650 Add missing infra documentation
  infra/terraform/README.md
  infra/terraform/hash/main.tf
  infra/terraform/hash/postgres_roles/main.tf
  infra/terraform/hash/postgres_roles/terraform.tf
  infra/terraform/modules/bastion/README.md
  infra/terraform/modules/bastion/ssh_bastion.sh
  infra/terraform/modules/citus/cloud-init.yml
  infra/terraform/modules/citus/common.tf
  infra/terraform/modules/citus/ecr.tf
  infra/terraform/modules/citus/instance.tf
  infra/terraform/modules/citus/main.tf
  infra/terraform/modules/citus/mount_volume.sh
  infra/terraform/modules/citus/outputs.tf
  infra/terraform/modules/citus/prod-usea1.tfvars
  infra/terraform/modules/citus/variables.tf
  infra/terraform/modules/common.tf
  infra/terraform/modules/container_cluster/main.tf
  infra/terraform/modules/container_cluster/outputs.tf
  infra/terraform/modules/container_cluster/variables.tf
  infra/terraform/modules/opensearch/common.tf
  infra/terraform/modules/opensearch/main.tf
  infra/terraform/modules/opensearch/opensearch.tf
  infra/terraform/modules/opensearch/outputs.tf
  infra/terraform/modules/opensearch/prod-usea1.tfvars
  infra/terraform/modules/opensearch/variables.tf
  infra/terraform/modules/realtime/common.tf
  infra/terraform/modules/realtime/main.tf
  infra/terraform/modules/realtime/prod-usea1.tfvars
  infra/terraform/modules/realtime/realtime.tf
  infra/terraform/modules/realtime/variables.tf
  infra/terraform/modules/redis/main.tf
  infra/terraform/modules/redis/outputs.tf
  infra/terraform/modules/redis/variables.tf
  infra/terraform/modules/search-loader/common.tf
  infra/terraform/modules/search-loader/main.tf
  infra/terraform/modules/search-loader/prod-usea1.tfvars
  infra/terraform/modules/search-loader/search-loader.tf
  infra/terraform/modules/search-loader/variables.tf
  infra/terraform/playbooks/citus.md
  infra/terraform/playbooks/db_recovery.md
Labels: A-infra

#2677 Disable VPC Flow Logs
  .github/actions/terraform-exec/action.yml
  apps/hash-graph/lib/graph/src/store/record.rs
  infra/terraform/modules/base_network/main.tf
  infra/terraform/modules/base_network/variables.tf
  infra/terraform/modules/bastion/main.tf
Labels: A-hash, A-infra, A-backend

#2680 Fix typos in `infra/terraform/README.md`
  infra/terraform/README.md
Labels: A-infra

#2689 Adjust README documentation for transactional emails
  apps/hash-external-services/kratos/templates/README.md
  apps/hash-external-services/kratos/templates/otp/sms.body.gotmpl
  apps/hash-external-services/kratos/templates/recovery/invalid/email.body.gotmpl
  apps/hash-external-services/kratos/templates/recovery/invalid/email.body.plaintext.gotmpl
  apps/hash-external-services/kratos/templates/recovery/invalid/email.subject.gotmpl
  apps/hash-external-services/kratos/templates/recovery/valid/email.body.gotmpl
  apps/hash-external-services/kratos/templates/recovery/valid/email.body.plaintext.gotmpl
  apps/hash-external-services/kratos/templates/recovery/valid/email.subject.gotmpl
  apps/hash-external-services/kratos/templates/verification_code/invalid/email.body.gotmpl
  apps/hash-external-services/kratos/templates/verification_code/invalid/email.body.plaintext.gotmpl
  apps/hash/README.md
Labels: A-hash

#2691 Use Advanced Visibility in Postgres for Temporal
  .env
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/temporal/migrate.Dockerfile
  apps/hash-external-services/temporal/migrate.sh
  apps/hash-external-services/temporal/setup.Dockerfile
  apps/hash-external-services/temporal/setup.sh
Labels: A-hash

#2692 Remove unused Python-worker dependencies
  apps/hash-ai-worker-py/poetry.lock
  apps/hash-ai-worker-py/pyproject.toml
Labels: A-hash

#2694 Add hint to ssh tunnel that `jq` is required
  infra/terraform/modules/tunnel/ssh_tunnel.sh
Labels: A-infra

#2698 Fix create entity page
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-draft-entity-subgraph.ts
Labels: A-hash, frontend

#2697 Add `mypy` configuration for more safe Python dev
  .github/workflows/ci.yml
  apps/hash-ai-worker-py/app/activities.py
  apps/hash-ai-worker-py/package.json
  apps/hash-ai-worker-py/poetry.lock
  apps/hash-ai-worker-py/pyproject.toml
  apps/hash-ai-worker-py/turbo.json
  package.json
Labels: A-hash, A-infra

#2693 Move logic to ignore conflicting ontology type to Postgres
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/postgres_migrations/V8__ontology_create_functions.sql
Labels: A-hash, A-backend

#2703 Fix querying all entities, hide canvas toggle on non-pages, don't show old blocks
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/blocks/user-blocks.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar.tsx
  libs/@hashintel/query-editor/src/entity-query-editor/utils.ts
Labels: A-hash, api, frontend
