Repository hashintel/hash, pull requests merged in 2023-11, with the labels that each got.

#3514 H-1197: Handle inherited links in the entity editor
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-rows.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3510 H-968, H-970: Adjust `hash-graph` to use entity validation
  apps/hash-graph/Cargo.lock
  apps/hash-graph/Cargo.toml
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/main.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/status.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/pool.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/validation.rs
  apps/hash-graph/package.json
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/status/rust/src/lib.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3520 H-1201: Set a maximum number of attempts to infer entities
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#3517 H-1200: Disable caching for Playwright tests
  .github/workflows/test.yml
Labels: area/infra

#3523 H-1164: Allow specifying schema with external types
  apps/hash-graph/lib/graph/src/api/rest.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/api/rest/status.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-client/python/graph_client/models.py
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3504 H-698, H-1010: Check permissions when downloading files, save storage config options
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-api/src/auth/get-actor-id.ts
  apps/hash-api/src/auth/public-user-account-id.ts
  apps/hash-api/src/graph/index.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/file.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graph/system-user.ts
  apps/hash-api/src/graphql/context.ts
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/graphql/resolvers/util.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/integrations/linear/sync-back.ts
  apps/hash-api/src/integrations/linear/webhook.ts
  apps/hash-api/src/lib/aws-config.ts
  apps/hash-api/src/lib/config.ts
  apps/hash-api/src/storage/aws-s3-storage-provider.ts
  apps/hash-api/src/storage/external-storage-provider.ts
  apps/hash-api/src/storage/index.ts
  apps/hash-api/src/storage/local-file-storage.ts
  apps/hash-api/src/storage/storage-provider.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/file-uploads-tab/action.tsx
  apps/hash-frontend/src/shared/file-upload-context.tsx
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/file.ts
  libs/@local/hash-isomorphic-utils/src/system-types/hashinstance.ts
  libs/@local/hash-isomorphic-utils/src/system-types/imagefile.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/org.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/file.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
  tests/hash-backend-integration/src/tests/util.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#3515 H-1198: Fix entities table loading and caching issues
  apps/hash-frontend/src/components/hooks/use-get-owner-for-entity.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entities-tab.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/entity-type-entities-context.ts
  apps/hash-frontend/src/shared/entity-type-entities-context/use-entity-type-entities-context-value.tsx
  apps/hash-frontend/src/shared/table-header.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3521 H-1179: Allow reading/writing ontology type relationships/permissions
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-subgraph/src/types/shared/branded.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3522 H-1174: remove `tokens` property type in favour of updated `text-content` property type
  .github/workflows/lint.yml
  apps/hash-api/src/graph/knowledge/primitive/entity/after-create-entity-hooks.ts
  apps/hash-api/src/graph/knowledge/primitive/entity/after-update-entity-hooks.ts
  apps/hash-api/src/graph/knowledge/system-types/comment.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/knowledge/system-types/text.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/comment.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/has-text.ts
  apps/hash-api/src/graphql/resolvers/knowledge/comment/update-text.ts
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/components/hooks/use-create-comment.ts
  apps/hash-frontend/src/components/hooks/use-update-comment-text.ts
  apps/hash-frontend/src/components/remote-block/remote-block.tsx
  apps/hash-frontend/src/graphql/queries/comment.queries.ts
  apps/hash-frontend/src/lib/block-collection.ts
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/notes.page/editable-quick-note.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/load-entity-menu-content.tsx
  apps/hash-frontend/src/pages/shared/block-collection/comments/comment-text-field.tsx
  apps/hash-frontend/src/pages/shared/use-create-block-collection.ts
  blocks/callout/package.json
  blocks/callout/src/app.tsx
  blocks/callout/src/dev.tsx
  blocks/callout/src/property-ids.ts
  blocks/callout/src/types/generated/block-entity.ts
  blocks/heading/package.json
  blocks/heading/src/app.tsx
  blocks/heading/src/dev.tsx
  blocks/heading/src/property-ids.ts
  blocks/heading/src/types/generated/block-entity.ts
  blocks/paragraph/package.json
  blocks/paragraph/src/app.tsx
  blocks/paragraph/src/types/generated/block-entity.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/comment.typedef.ts
  libs/@local/hash-isomorphic-utils/src/entity-store.ts
  libs/@local/hash-isomorphic-utils/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/generate-system-types.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/save.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/commentnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/mentionnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/text.ts
  libs/@local/hash-isomorphic-utils/src/text.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment-notification.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/mention-notification.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/page.test.ts
  tests/hash-backend-integration/src/tests/integration.test.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#3526 H-1205: Introduce relation "levels" for authorization
  apps/hash-graph/Cargo.lock
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/web.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/schemas/v1__initial_schema.zed
  libs/@local/hash-authorization/src/backend.rs
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
  libs/@local/hash-authorization/src/backend/spicedb/serde.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/schema.rs
  libs/@local/hash-authorization/src/schema/account_group.rs
  libs/@local/hash-authorization/src/schema/data_type.rs
  libs/@local/hash-authorization/src/schema/entity.rs
  libs/@local/hash-authorization/src/schema/entity_type.rs
  libs/@local/hash-authorization/src/schema/error.rs
  libs/@local/hash-authorization/src/schema/property_type.rs
  libs/@local/hash-authorization/src/schema/web.rs
  libs/@local/hash-authorization/src/zanzibar.rs
  libs/@local/hash-authorization/src/zanzibar/types.rs
  libs/@local/hash-authorization/src/zanzibar/types/relation.rs
  libs/@local/hash-authorization/src/zanzibar/types/relationship.rs
  libs/@local/hash-authorization/src/zanzibar/types/subject.rs
  libs/@local/hash-authorization/tests/simple.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3527 H-1137: Clean up migration files
  .prettierignore
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/lib/graph/src/api/rest/web.rs
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/table.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/metadata/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/lib/graph/src/snapshot/owner/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/web.rs
  apps/hash-graph/lib/graph/src/snapshot/web/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/web/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/web/table.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/postgres_migrations/V10__closed_edges.sql
  apps/hash-graph/postgres_migrations/V10__ontology_type_archival.sql
  apps/hash-graph/postgres_migrations/V11__archival_provenance.sql
  apps/hash-graph/postgres_migrations/V12__closed_reference_tables.sql
  apps/hash-graph/postgres_migrations/V13__account_groups.sql
  apps/hash-graph/postgres_migrations/V14__icon_property.sql
  apps/hash-graph/postgres_migrations/V15__closed_entity_schema.sql
  apps/hash-graph/postgres_migrations/V1__base.sql
  apps/hash-graph/postgres_migrations/V1__extensions.sql
  apps/hash-graph/postgres_migrations/V2__accounts.sql
  apps/hash-graph/postgres_migrations/V2__ontology_tables.sql
  apps/hash-graph/postgres_migrations/V3__account_groups.sql
  apps/hash-graph/postgres_migrations/V3__knowledge_tables.sql
  apps/hash-graph/postgres_migrations/V4__ontology_functions.sql
  apps/hash-graph/postgres_migrations/V4__webs.sql
  apps/hash-graph/postgres_migrations/V5__ontology_metadata_functions.sql
  apps/hash-graph/postgres_migrations/V5__ontology_tables.sql
  apps/hash-graph/postgres_migrations/V6__knowledge_functions.sql
  apps/hash-graph/postgres_migrations/V6__ontology_types.sql
  apps/hash-graph/postgres_migrations/V7__entity_type_closure.sql
  apps/hash-graph/postgres_migrations/V7__ontology_edges.sql
  apps/hash-graph/postgres_migrations/V8__knowledge_tables.sql
  apps/hash-graph/postgres_migrations/V8__ontology_create_functions.sql
  apps/hash-graph/postgres_migrations/V9__knowledge_edges.sql
  apps/hash-graph/postgres_migrations/V9__label_property.sql
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/infra, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3511 H-1181: Implement Inbox page for viewing notifications
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/primitive/entity/after-create-entity-hooks.ts
  apps/hash-api/src/graph/knowledge/primitive/entity/after-update-entity-hooks.ts
  apps/hash-api/src/graph/knowledge/primitive/entity/shared/mention-notification.ts
  apps/hash-api/src/graph/knowledge/primitive/link-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/notification.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/knowledge/system-types/text.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-frontend/src/lib/routes.ts
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/inbox.page.tsx
  apps/hash-frontend/src/pages/notes.page.tsx
  apps/hash-frontend/src/shared/icons/inbox-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/notifications-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/top-nav-link.tsx
  apps/hash-frontend/src/shared/notifications-context.tsx
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/commentnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/mentionnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/notification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment-notification.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/mention-notification.test.ts
  tests/hash-backend-integration/src/tests/util.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#3533 H-1204: Rename Permission relations to level-based permissions
  apps/hash-api/src/graph/knowledge/system-types/comment.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-graph/lib/graph/src/api/rest/account.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-authorization/src/schema.rs
  libs/@local/hash-authorization/src/schema/account_group.rs
  libs/@local/hash-authorization/src/schema/data_type.rs
  libs/@local/hash-authorization/src/schema/entity.rs
  libs/@local/hash-authorization/src/schema/entity_type.rs
  libs/@local/hash-authorization/src/schema/property_type.rs
  libs/@local/hash-authorization/src/schema/web.rs
  libs/@local/hash-authorization/tests/simple.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3534 H-1211: Support reading Entity and `EntityType` from validation
  apps/hash-graph/lib/graph/src/store/validation.rs
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3539 H-1220: Fix environment variable for allowed domain pattern
  .env
  .env.test
  apps/hash-graph/bin/cli/src/subcommand/server.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3541 H-1126: Don't create Linear integration org if integration not enabled
  apps/hash-api/src/graph/util.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/integrations/enabled-integrations.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#3544 H-1227: Comment out unused vault variables
  infra/terraform/hash/main.tf
Labels: area/infra, area/infra > terraform

#3543 H-1225: Fix user being created without web
  apps/hash-api/src/graph/account-permission-management.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/ontology/primitive/util.ts
  apps/hash-api/src/graph/util.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/lib/graph/src/api/rest/web.rs
  apps/hash-graph/lib/graph/src/store/account.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/circular-links.http
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-authorization/schemas/v1__initial_schema.zed
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/schema/web.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-subgraph/src/types/shared/branded.ts
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3540 H-1213: Speed up account page list loading and page interactions. Fix icon/title updating
  apps/hash-api/src/graph/knowledge/system-types/notification.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/page/page.ts
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/hooks/shared/get-page-refetch-queries.ts
  apps/hash-frontend/src/components/hooks/use-account-pages.ts
  apps/hash-frontend/src/components/hooks/use-archive-page.ts
  apps/hash-frontend/src/components/hooks/use-create-comment.ts
  apps/hash-frontend/src/components/hooks/use-create-page.ts
  apps/hash-frontend/src/components/hooks/use-create-sub-page.ts
  apps/hash-frontend/src/components/hooks/use-delete-comment.ts
  apps/hash-frontend/src/components/hooks/use-reorder-page.ts
  apps/hash-frontend/src/components/hooks/use-resolve-comment.ts
  apps/hash-frontend/src/components/hooks/use-update-comment-text.ts
  apps/hash-frontend/src/components/hooks/use-update-page-icon.ts
  apps/hash-frontend/src/components/hooks/use-update-page-title.ts
  apps/hash-frontend/src/graphql/queries/account.queries.ts
  apps/hash-frontend/src/pages/notes.page.tsx
  apps/hash-frontend/src/pages/notes.page/convert-quick-note-to-page-modal.tsx
  apps/hash-frontend/src/pages/notes.page/editable-quick-note.tsx
  apps/hash-frontend/src/shared/account-pages-variables.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/utils.ts
  apps/hash-frontend/src/shared/notifications-context.tsx
  libs/@local/hash-graphql-shared/src/graphql/create-apollo-client.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/page.typedef.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3532 H-1146: Require a permission to instantiate an entity per entity type
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/util.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/circular-links.http
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-authorization/schemas/v1__initial_schema.zed
  libs/@local/hash-authorization/src/schema.rs
  libs/@local/hash-authorization/src/schema/entity_type.rs
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-subgraph/src/types/shared/branded.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/link-entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/block.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3549 H-1232: Allow forcing self-hosted behavior, don't create system orgs if self-hosted
  apps/hash-api/README.md
  apps/hash-api/src/graph/util.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps

#3542 H-1187, H-1190, H-1192, H-1193: Rename system types for consistency, add missing descriptions
  apps/hash-api/src/graph/knowledge/system-types/block.ts
  apps/hash-api/src/graph/knowledge/system-types/comment.ts
  apps/hash-api/src/graph/knowledge/system-types/org-membership.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/knowledge/system-types/text.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/system-types.ts
  apps/hash-api/src/graph/util.ts
  apps/hash-api/src/graphql/resolvers/knowledge/org/create-org.ts
  apps/hash-api/src/seed-data/index.ts
  apps/hash-frontend/src/components/hooks/use-account-pages.ts
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/graphql/queries/knowledge/org.queries.ts
  apps/hash-frontend/src/lib/block-collection.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/[shortname].page/edit-user-profile-info-modal/user-profile-info-form.tsx
  apps/hash-frontend/src/pages/[shortname].page/profile-page-info.tsx
  apps/hash-frontend/src/pages/notes.page/convert-quick-note-to-page-modal.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/general.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page/add-member-form.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-form.tsx
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  apps/hash-frontend/src/pages/shared/use-create-block-collection.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/org.typedef.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/save.ts
  tests/hash-backend-integration/src/tests/util.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#3525 H-61: Fetch all block data for pages in first request
  apps/hash-api/src/graph/knowledge/system-types/block-collection.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/page/page.ts
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/components/hooks/shared/get-page-refetch-queries.ts
  apps/hash-frontend/src/components/hooks/use-archive-page.ts
  apps/hash-frontend/src/pages/[shortname].page/profile-bio.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page/canvas-page/block-creation-dialog.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page/canvas-page/block-shape.tsx
  apps/hash-frontend/src/pages/notes.page.tsx
  apps/hash-frontend/src/pages/notes.page/editable-quick-note.tsx
  apps/hash-frontend/src/pages/notes.page/today-section.tsx
  apps/hash-frontend/src/pages/shared/block-collection-contents.ts
  apps/hash-frontend/src/pages/shared/block-collection-context.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-collection.tsx
  apps/hash-frontend/src/pages/shared/block-collection/component-view.tsx
  apps/hash-frontend/src/pages/shared/use-create-block-collection.ts
  apps/hash-frontend/src/shared/is-href-external.ts
  libs/@local/hash-graphql-shared/src/graphql/type-defs/knowledge/page.typedef.ts
  libs/@local/hash-graphql-shared/src/queries/page.queries.ts
  libs/@local/hash-isomorphic-utils/src/save.ts
  tests/hash-backend-integration/src/tests/integration.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#3550 H-1242: Allow inserting external self-referencing ontology types
  apps/hash-graph/lib/graph/src/store/fetcher.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3570 H-60, H-1262: Retain text when swapping between blocks. Fix block permissions [RECREATES #3564]
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  blocks/code/package.json
  blocks/code/src/app.tsx
  blocks/code/src/types/generated/block-entity.ts
  blocks/heading/variants.json
  libs/@local/hash-isomorphic-utils/src/blocks.ts
  libs/@local/hash-isomorphic-utils/src/prosemirror-manager.ts
Labels: area/apps > hash*, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3572 H-1241: Allow viewing external types in frontend
  apps/hash-frontend/src/components/hooks/use-get-owner-for-entity.ts
  apps/hash-frontend/src/pages/[shortname].page.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-pinned-entity-types-modal.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/get-entity-type-base-url.ts
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/shared/tabs.ts
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/convert-type-menu-item.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/definition-tab.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/definition-tab/use-editor-ontology-functions.ts
  apps/hash-frontend/src/pages/shared/entity-type-page/edit-bar-type-editor.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entities-tab.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entity-type-description.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entity-type-tabs.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/file-uploads-tab.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/file-uploads-tab/action.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/file-uploads-tab/show-upload-form-button.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-context.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/get-types-without-metadata.ts
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/tabs.ts
  apps/hash-frontend/src/pages/shared/entity-type-page/type-preview-slide.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/use-entity-type-value.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/pages/types/external/entity-type/[...base64-baseurl-maybe-version].page.tsx
  apps/hash-frontend/src/shared/generate-link-parameters.ts
  apps/hash-frontend/src/shared/is-href-external.ts
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown/create-page-menu-items.tsx
  apps/hash-frontend/src/shared/ui/button.tsx
  apps/hash-frontend/src/shared/ui/link.tsx
  libs/@hashintel/type-editor/src/main.ts
  libs/@local/hash-isomorphic-utils/src/sanitize.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3580 H-1231: Make linked entities clickable to take you to their page
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-rows.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3588 H-1320: Fix entity type icon not being inserted into database
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3602 H-1245: Ensure mention attribute chips automatically update when underlying data changes
  apps/hash-frontend/src/components/hooks/use-entity-by-id.ts
  apps/hash-frontend/src/pages/shared/block-collection/mention-view/mention-display.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3536 H-1156: Update browser extension to use new Quick Note type
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/shared/use-create-block-collection.ts
  apps/plugin-browser/codegen.config.ts
  apps/plugin-browser/package.json
  apps/plugin-browser/src/graphql/queries/entity.queries.ts
  apps/plugin-browser/src/graphql/queries/user.queries.ts
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/quick-note-action.tsx
  apps/plugin-browser/src/pages/shared/get-user.ts
  apps/plugin-browser/src/shared/query-api.ts
  apps/plugin-browser/tsconfig.json
  apps/plugin-browser/webpack.config.js
  libs/@local/hash-isomorphic-utils/package.json
  tests/hash-backend-integration/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#3603 H-1034: Fix keyboard shortcuts firing when they shouldn't
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/notes.page/create-quick-note.tsx
  apps/hash-frontend/src/shared/command-bar.tsx
  apps/hash-frontend/src/shared/command-bar/cheat-sheet.tsx
  apps/hash-frontend/src/shared/command-bar/command-bar-options.ts
  apps/hash-frontend/src/shared/keyboard-shortcuts-context.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/search-bar/search-input.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3605 H-1349: Fix snapshots not storing account groups when restoring
  apps/hash-graph/lib/graph/src/snapshot/owner/channel.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3601 H-1151: Add `Service Module` support to HASH
  apps/hash-api/src/block-protocol-external-service-method-proxy.ts
  apps/hash-api/src/index.ts
  apps/hash-frontend/next.config.js
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/remote-block/construct-service-module-callbacks.ts
  apps/hash-frontend/src/components/remote-block/remote-block.tsx
  apps/hash-frontend/src/pages/[shortname].page/profile-page-info.tsx
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#3607 H-1338: Add Sentry to/enable in prod for the Graph
  apps/hash-graph/bin/cli/src/args.rs
  apps/hash-graph/bin/cli/src/main.rs
  infra/terraform/hash/main.tf
Labels: area/apps > hash*, area/infra, type/eng > backend, area/apps, area/apps > hash-graph, area/infra > terraform

#3604 H-1131, H-1333, H-1335, H-1348: Add Sentry to Node API, improve error handling in frontend
  apps/hash-api/README.md
  apps/hash-api/package.json
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/sentry.ts
  apps/hash-frontend/sentry.client.config.ts
  apps/hash-frontend/sentry.edge.config.ts
  apps/hash-frontend/sentry.server.config.ts
  apps/hash-frontend/src/components/hooks/use-snackbar.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/select-entity-type-page.tsx
  apps/hash-frontend/src/pages/_app.page/error-fallback.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-collection.tsx
  apps/hash-frontend/src/pages/shared/block-collection/create-editor-view.ts
  infra/terraform/hash/main.tf
  libs/@local/hash-isomorphic-utils/src/create-apollo-client.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/infra > terraform

#3608 H-1264: Check / fix existing block functionality
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  blocks/address/package.json
  blocks/address/src/use-mapbox.tsx
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/faq/package.json
  blocks/heading/package.json
  blocks/how-to/package.json
  blocks/image/package.json
  blocks/kanban-board/package.json
  blocks/minesweeper/package.json
  blocks/paragraph/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  blocks/timer/package.json
  blocks/video/package.json
  libs/@hashintel/design-system/package.json
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/generate-system-types.ts
  libs/@local/hash-subgraph/package.json
  patches/@blockprotocol+graph+0.3.1-canary-20230803163819.patch
  yarn.lock
Labels: area/deps, area/apps > hash*, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3609 H-1350: Set a default variable for the sentry environment in `graph`
  apps/hash-graph/bin/cli/src/args.rs
  apps/hash-graph/bin/cli/src/main.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3615 H-994: Expose entity validation to the Node API
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-graph-client/python/graph_client/models.py
  libs/@local/hash-validation/src/property_type.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3614 H-1276: Fix swapping between block variants, header levels
  apps/hash-frontend/src/blocks/use-fetch-block-subgraph.ts
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-context-menu-item.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-context-menu.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-list-menu-content.tsx
  apps/hash-frontend/src/pages/shared/block-collection/component-view.tsx
  libs/@local/hash-isomorphic-utils/src/entity-store-plugin.ts
  libs/@local/hash-isomorphic-utils/src/entity-store.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3620 H-1384: Stop full-page refresh after submitting the entity type form
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3627 H-1404: Validate entities when restoring a snapshot
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/validation.rs
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3626 H-1412: Validate source and target entities when creating a link
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/validation.rs
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/property_type.rs
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/mention-notification.test.ts
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/entity_type.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-test-data/rust/src/entity_type/person.json
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3628 BP-70: Directly use `(de)serialize` on ontology types
  apps/hash-graph/Cargo.lock
  apps/hash-graph/Cargo.toml
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/bench/util.rs
  apps/hash-graph/lib/graph/src/api/rest/data_type.rs
  apps/hash-graph/lib/graph/src/api/rest/entity_type.rs
  apps/hash-graph/lib/graph/src/api/rest/property_type.rs
  apps/hash-graph/lib/graph/src/api/rest/utoipa_typedef.rs
  apps/hash-graph/lib/graph/src/ontology.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/property_type/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/record.rs
  apps/hash-graph/lib/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/lib/graph/src/store/validation.rs
  apps/hash-graph/lib/type-fetcher/src/fetcher.rs
  apps/hash-graph/lib/type-fetcher/src/fetcher_server.rs
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/src/ontology.rs
  libs/@local/hash-graph-types/rust/src/ontology/data_type.rs
  libs/@local/hash-graph-types/rust/src/ontology/entity_type.rs
  libs/@local/hash-graph-types/rust/src/ontology/property_type.rs
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/src/error.rs
  libs/@local/hash-validation/src/lib.rs
  tests/hash-graph-integration/Cargo.toml
  tests/hash-graph-integration/postgres/data_type.rs
  tests/hash-graph-integration/postgres/entity_type.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/property_type.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3631 H-1441: Fix Graph API client types for `validateEntity`
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/openapi/openapi.json
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps, area/apps > hash-graph

#3610 H-783: Add entity type icons
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/components/page-icon-button.tsx
  apps/hash-frontend/src/components/page-icon.tsx
  apps/hash-frontend/src/components/page-loading-state.tsx
  apps/hash-frontend/src/graphql/queries/ontology/entity-type.queries.ts
  apps/hash-frontend/src/pages/[shortname].page.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-pinned-entity-types-modal.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-user-profile-info-modal/user-profile-info-modal-header.tsx
  apps/hash-frontend/src/pages/[shortname].page/pinned-entity-type-tab-contents.tsx
  apps/hash-frontend/src/pages/[shortname].page/profile-page-header.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/query-editor-page.tsx
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-select-data-modal.tsx
  apps/hash-frontend/src/pages/shared/block-collection/mention-view/mention-display.tsx
  apps/hash-frontend/src/pages/shared/block-collection/shared/mention-suggester/mention-suggester-entity.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/use-entity-type-value.tsx
  apps/hash-frontend/src/pages/shared/entity-type-selector.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page.tsx
  apps/hash-frontend/src/shared/edit-emoji-icon-button.tsx
  apps/hash-frontend/src/shared/edit-emoji-icon-button/emoji-picker/emoji-mart-react.d.ts
  apps/hash-frontend/src/shared/edit-emoji-icon-button/emoji-picker/emoji-picker.tsx
  apps/hash-frontend/src/shared/entity-types-context/hooks.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-item.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/page-tree-item.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/pages-loading-state.tsx
  apps/hash-frontend/src/shared/page-icon-button.tsx
  apps/hash-frontend/src/shared/use-entity-icon.tsx
  apps/hash-frontend/src/shared/use-update-page-icon.ts
  blocks/chart/src/types/chart-definition.ts
  libs/@hashintel/design-system/src/avatar.tsx
  libs/@hashintel/design-system/src/selector-autocomplete/selector-autocomplete-option.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/destination-entity-type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/insert-property-field/type-selector.tsx
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/entity-type.typedef.ts
  libs/@local/hash-subgraph/src/types/element/ontology.ts
Labels: area/apps > hash*, area/apps > hash-api, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3633 H-1443: Implement caching when validating entities in snapshots
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/lib/graph/src/store.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/validation.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3624 H-1419: Update roadmap feature readiness statuses
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
Labels: area/apps > hash.dev, area/apps

#3630 H-1015: Add TypeScript entity inference Temporal workflow, REST endpoint
  apps/hash-ai-worker-ts/README.md
  apps/hash-ai-worker-ts/jest.config.cjs
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/dereference-entity-type.test.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/dereference-entity-type.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/generate-functions.ts
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-api/src/ai/infer-entities.ts
  apps/hash-api/src/generate-ontology-type-ids.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized.ts
  apps/hash-api/src/index.ts
  apps/hash-external-services/docker-compose.temporal.yml
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-integration-worker/src/graph.ts
  apps/hash-integration-worker/src/main.ts
  blocks/embed/package.json
  blocks/person/package.json
  infra/terraform/hash/main.tf
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/create-graph-client.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
  libs/@local/hash-isomorphic-utils/src/temporal-types.ts
  libs/@local/tsconfig/legacy-base-tsconfig-to-refactor.json
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/link-entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/block.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment-notification.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/file.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/mention-notification.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org-membership.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/page.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
  tests/hash-backend-integration/src/tests/util.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps, area/infra > terraform

#3643 H-1459: Use different error for `validate_entity`
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3635 H-1444: Update http-related crates
  apps/hash-graph/Cargo.lock
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/bin/cli/src/subcommand/test_server.rs
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/api/rest/json.rs
  apps/hash-graph/lib/graph/src/api/rest/middleware.rs
  apps/hash-graph/lib/graph/src/api/rest/test_server.rs
  apps/hash-graph/lib/graph/src/logging/init.rs
  libs/@local/status/rust/Cargo.toml
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3642 H-1457: Fix SpiceDB failing when inserting more than 1000 relationships
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/lib/graph/src/store/postgres/ontology/property_type.rs
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3648 H-1470: Remove feature flag to disable permissions
  .github/actions/build-docker-images/action.yml
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/subcommand/server.rs
  apps/hash-graph/bin/cli/src/subcommand/snapshot.rs
  apps/hash-graph/bin/cli/src/subcommand/test_server.rs
  apps/hash-graph/docker/Dockerfile
Labels: area/apps > hash*, area/infra, type/eng > backend, area/apps, area/apps > hash-graph

#3651 Remove unused policy rule from hash terraform
  infra/terraform/hash/hash_application/main.tf
Labels: area/infra, area/infra > terraform

#3640 H-1447: Add the concept of Drafts to the Graph
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/knowledge/query.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/table.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/lib/graph/src/store/postgres/query/table.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V11__draft_entities.sql
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3646 H-1453: Expose draft entity interface to the Node API
  apps/hash-ai-worker-ts/src/activities/infer-entities/create-entities.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/primitive/link-entity.ts
  apps/hash-frontend/src/blocks/use-fetch-block-subgraph.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-frontend/src/pages/shared/block-collection/component-view.tsx
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/circular-links.http
  apps/hash-graph/tests/friendship.http
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/activities/graph-requests.ts
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  libs/@local/hash-graph-types/rust/src/knowledge/link.rs
  libs/@local/hash-isomorphic-utils/src/entity-store-plugin.ts
  libs/@local/hash-isomorphic-utils/src/entity-store.ts
  libs/@local/hash-subgraph/src/types/element/knowledge.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
Labels: area/apps > hash*, area/apps > hash-api, state/blocked, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3641 H-1454: Adjust snapshots to support draft entities
  apps/hash-graph/lib/graph/src/snapshot.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/record.rs
Labels: area/apps > hash*, state/blocked, type/eng > backend, area/apps, area/apps > hash-graph

#3649 H-1449: Relax constraints on entity validation for draft entities
  apps/hash-ai-worker-ts/src/activities/infer-entities/create-entities.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-graph/lib/graph/src/api/rest/entity.rs
  apps/hash-graph/lib/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/lib/graph/src/store/fetcher.rs
  apps/hash-graph/lib/graph/src/store/knowledge.rs
  apps/hash-graph/lib/graph/src/store/postgres/knowledge/entity.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-validation/src/data_type.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
  libs/@local/hash-validation/src/property_type.rs
Labels: area/apps > hash*, area/apps > hash-api, state/blocked, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3652 H-1465: Add graph visualization to `/entities` page
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/pages/[shortname].page/pinned-entity-type-tab-contents.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/load-entity-menu-content.tsx
  apps/hash-frontend/src/pages/shared/block-collection/mention-view/mention-display.tsx
  apps/hash-frontend/src/pages/shared/block-collection/shared/mention-suggester.tsx
  apps/hash-frontend/src/pages/shared/block-collection/shared/mention-suggester/mention-suggester-entity.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entities-tab.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entity-type-tabs.tsx
  apps/hash-frontend/src/shared/entity-type-entities-context.ts
  apps/hash-frontend/src/shared/entity-type-entities-context/use-entity-type-entities-context-value.tsx
  apps/hash-frontend/src/shared/icons/list-regular-icon.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
  blocks/chart/package.json
  blocks/chart/src/bar-chart.tsx
  blocks/chart/src/e-chart.tsx
  blocks/chart/theme-override.d.ts
  blocks/chart/tsconfig.json
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/block-design-system/src/entities-graph-chart.tsx
  libs/@hashintel/block-design-system/src/main.ts
  libs/@hashintel/design-system/package.json
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/e-chart.tsx
  libs/@local/hash-isomorphic-utils/src/generate-entity-label.ts
Labels: area/apps > hash*, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3650 H-1450: Restrict non-draft links to non-draft entities
  libs/@local/hash-validation/src/entity_type.rs
Labels: area/apps > hash*, state/blocked, area/libs, type/eng > backend
