Repository hashintel/hash, pull requests merged in 2023-12, with the labels that each got.

#3665 H-1499: Create cargo workspace for HASH
  .cargo/config.toml
  .clippy.toml
  .config/lints.toml
  .github/actions/install-rust-toolchain/action.yml
  .github/actions/prune-repository/action.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .justfile
  Cargo.lock
  Cargo.toml
  apps/hash-graph/.cargo/config.toml
  apps/hash-graph/.config/nextest.toml
  apps/hash-graph/Cargo.toml
  apps/hash-graph/bench/read_scaling/lib.rs
  apps/hash-graph/bench/representative_read/lib.rs
  apps/hash-graph/bin/cli/Cargo.toml
  apps/hash-graph/bin/cli/src/main.rs
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/lib/graph/Cargo.toml
  apps/hash-graph/lib/graph/src/lib.rs
  apps/hash-graph/lib/query-builder-derive/src/lib.rs
  libs/.config/lints.toml
  libs/@local/codec/.cargo/config.toml
  libs/@local/codec/Cargo.toml
  libs/@local/codec/rust-toolchain.toml
  libs/@local/hash-authorization/.cargo/config.toml
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/rust-toolchain.toml
  libs/@local/hash-graph-types/rust/.cargo/config.toml
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/rust-toolchain.toml
  libs/@local/hash-validation/.cargo/config.toml
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/rust-toolchain.toml
  libs/@local/status/rust/.cargo/config.toml
  libs/@local/status/rust/Cargo.toml
  libs/@local/status/rust/rust-toolchain.toml
  libs/@local/temporal-versioning/.cargo/config.toml
  libs/@local/temporal-versioning/Cargo.toml
  libs/@local/temporal-versioning/rust-toolchain.toml
  libs/deer/macros/src/lib.rs
  libs/error-stack/.cargo/config.toml
  libs/error-stack/.config/lints.toml
  libs/error-stack/src/lib.rs
  rust-toolchain.toml
  tests/hash-graph-integration/.cargo/config.toml
  tests/hash-graph-test-data/rust/.cargo/config.toml
  turbo.json
Labels: area/deps, area/apps > hash*, area/infra, area/libs > error-stack, area/libs, area/libs > deer, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3663 H-1488: Implement bulk-checking of permissions
  .env
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  infra/terraform/hash/main.tf
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/backend/mod.rs
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
  libs/@local/hash-authorization/src/backend/spicedb/mod.rs
  libs/@local/hash-authorization/src/backend/spicedb/model.rs
  libs/@local/hash-authorization/src/backend/spicedb/serde.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/hash-authorization/tests/simple.rs
Labels: area/apps > hash*, area/infra, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph, area/infra > terraform

#3656 H-1448, H-1452: Allow creating and publishing entity drafts
  apps/hash-graph/libs/graph/src/api/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/tests/friendship.http
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3659 H-1195, H-1460, H-1463: Update existing entities via AI inference, better error handling
  .changeset/big-shrimps-mix.md
  .changeset/honest-turkeys-notice.md
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/generate-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/get-entity-by-filter.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-api/src/graph/knowledge/system-types/file.ts
  apps/hash-frontend/src/pages/shared/entity-type-page/file-uploads-tab.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  apps/plugin-browser/src/pages/options/options-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/infer-entities-action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/infer-entities-action/inference-request.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/infer-entities-action/inference-request/inferred-entity.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/infer-entities-action/inference-request/inferred-entity/up-from-line-icon.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/infer-entities-action/inference-requests.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/infer-entities-action/select-types-and-infer.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/quick-note-action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/sign-in.tsx
  apps/plugin-browser/src/pages/shared/use-local-storage.ts
  apps/plugin-browser/src/pages/shared/use-user.ts
  apps/plugin-browser/src/scripts/background.ts
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  apps/plugin-browser/src/shared/badge.ts
  apps/plugin-browser/src/shared/get-user.ts
  apps/plugin-browser/src/shared/messages.ts
  apps/plugin-browser/src/shared/storage.ts
  blocks/kanban-board/src/components/board/board.tsx
  blocks/kanban-board/src/components/board/column/column.tsx
  libs/@hashintel/block-design-system/src/ai-assistant-message/code-block.tsx
  libs/@hashintel/block-design-system/src/dropdown-selector.tsx
  libs/@hashintel/block-design-system/src/icons/icons.ts
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-check.tsx
  libs/@hashintel/design-system/src/icon-plus.tsx
  libs/@local/hash-isomorphic-utils/src/temporal-types.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3675 H-1399: Use offline mode in BE integration tests
  apps/hash-api/src/graph/migrate-ontology-types/migrations/000.migration.ts
  apps/hash-api/src/graph/migrate-ontology-types/util.ts
  apps/hash-api/src/seed-data/data_type/boolean/1.json
  apps/hash-api/src/seed-data/data_type/empty_list/1.json
  apps/hash-api/src/seed-data/data_type/null/1.json
  apps/hash-api/src/seed-data/data_type/number/1.json
  apps/hash-api/src/seed-data/data_type/object/1.json
  apps/hash-api/src/seed-data/data_type/text/1.json
  apps/hash-api/src/seed-data/entity_type/has_query/1.json
  apps/hash-api/src/seed-data/entity_type/link/1.json
  apps/hash-api/src/seed-data/entity_type/query/1.json
  apps/hash-api/src/seed-data/entity_type/thing/1.json
  apps/hash-api/src/seed-data/index.ts
  apps/hash-api/src/seed-data/load_type.sh
  apps/hash-api/src/seed-data/property_type/description/1.json
  apps/hash-api/src/seed-data/property_type/display_name/1.json
  apps/hash-api/src/seed-data/property_type/file_hash/1.json
  apps/hash-api/src/seed-data/property_type/file_name/1.json
  apps/hash-api/src/seed-data/property_type/file_size/1.json
  apps/hash-api/src/seed-data/property_type/file_url/1.json
  apps/hash-api/src/seed-data/property_type/mime_type/1.json
  apps/hash-api/src/seed-data/property_type/name/1.json
  apps/hash-api/src/seed-data/property_type/original_file_name/1.json
  apps/hash-api/src/seed-data/property_type/original_source/1.json
  apps/hash-api/src/seed-data/property_type/original_url/1.json
  apps/hash-api/src/seed-data/property_type/query/1.json
  apps/hash-api/src/seed-data/property_type/textual_content/2.json
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-external-services/package.json
  apps/hash-graph/bins/cli/src/subcommand/server.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/tests/circular-links.http
  apps/hash-graph/tests/friendship.http
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3658 H-1271: Create "Graph Chart" variant of the chart block
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-select-data-modal.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  blocks/chart/package.json
  blocks/chart/public/chart-network-regular.svg
  blocks/chart/src/app.tsx
  blocks/chart/src/bar-chart.tsx
  blocks/chart/src/edit-chart-definition.tsx
  blocks/chart/src/edit-chart-definition/bar-chart-definition-form.tsx
  blocks/chart/src/edit-chart-definition/graph-chart-definition-form.tsx
  blocks/chart/src/edit-chart-title.tsx
  blocks/chart/src/types/chart-definition.ts
  blocks/chart/variants.json
  libs/@hashintel/block-design-system/src/entities-graph-chart.tsx
Labels: area/apps > hash*, area/blocks, area/libs, type/eng > frontend, area/apps

#3682 H-1421, H-1474, H-1509: Page loading and quick notes improvements
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/components/hooks/shared/get-page-refetch-queries.ts
  apps/hash-frontend/src/components/hooks/use-archive-page.ts
  apps/hash-frontend/src/components/hooks/use-page-comments.ts
  apps/hash-frontend/src/pages/[shortname].page/profile-bio.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page/canvas-page/block-creation-dialog.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page/canvas-page/block-shape.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/notes.page.tsx
  apps/hash-frontend/src/pages/notes.page/timestamp-column.tsx
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  apps/hash-frontend/src/pages/shared/block-collection-contents.ts
  apps/hash-frontend/src/pages/shared/ory-kratos.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#3677 H-1414: Add loading skeletons for the entities + type section in sidebar
  apps/hash-frontend/src/shared/entity-types-context/hooks.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/acount-entities-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/shared/loading-skeleton.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3683 H-1491: Version consistency for types which refer to themselves
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3670 H-1331: add ability to count the incoming/outgoing links of an entity in a bar graph
  apps/hash-frontend/package.json
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/chart/src/app.tsx
  blocks/chart/src/bar-chart.tsx
  blocks/chart/src/edit-chart-definition.tsx
  blocks/chart/src/edit-chart-definition/bar-chart-definition-form.tsx
  blocks/chart/src/edit-chart-definition/bar-graph-definition-form/count-linked-entities-form.tsx
  blocks/chart/src/edit-chart-definition/bar-graph-definition-form/group-by-property-form.tsx
  blocks/chart/src/edit-chart-definition/util.ts
  blocks/chart/src/edit-chart-title.tsx
  blocks/chart/src/types/chart-definition.ts
  blocks/chart/variants.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/faq/package.json
  blocks/heading/package.json
  blocks/how-to/package.json
  blocks/image/package.json
  blocks/kanban-board/package.json
  blocks/minesweeper/package.json
  blocks/paragraph/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  blocks/timer/package.json
  blocks/video/package.json
  libs/@hashintel/design-system/package.json
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-subgraph/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3688 H-1199: fetch latest version of blocks once per page load
  apps/hash-frontend/src/blocks/user-blocks.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page/canvas-page.tsx
  libs/@local/hash-isomorphic-utils/src/blocks.ts
  libs/@local/hash-isomorphic-utils/src/prosemirror-manager.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3692 H-1548: Fix setting unconstrained links on an entity type
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/acount-entities-list.tsx
  patches/@blockprotocol+type-system+0.1.1.patch
Labels: area/deps, area/apps > hash*, type/eng > frontend, area/apps

#3695 H-1436: Remove deprecated OpenAI models from model list in AI blocks
  blocks/ai-text/src/app/generate-text/model-selector.tsx
Labels: area/blocks

#3693 H-1549: Chart block improvements and bug fixes
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-select-data-modal.tsx
  blocks/chart/src/app.tsx
  blocks/chart/src/bar-chart.tsx
  blocks/chart/src/edit-chart-definition/bar-graph-definition-form/count-linked-entities-form.tsx
  blocks/chart/src/edit-chart-definition/bar-graph-definition-form/group-by-property-form.tsx
  libs/@hashintel/design-system/src/modal.tsx
  libs/@hashintel/query-editor/src/entity-query-editor.tsx
  libs/@hashintel/query-editor/src/entity-query-editor/query-form.tsx
  libs/@hashintel/query-editor/src/entity-query-editor/query-form/filter-row.tsx
  libs/@hashintel/query-editor/src/entity-query-editor/query-form/filter-row/entity-type-selector.tsx
  libs/@hashintel/query-editor/src/entity-query-editor/query-form/filter-row/property-type-selector.tsx
  libs/@hashintel/query-editor/src/entity-query-editor/query-form/filter-row/selector-group-wrapper.tsx
Labels: area/apps > hash*, area/blocks, area/libs, type/eng > frontend, area/apps

#3697 H-1551: Comment out link source/target type validation
  libs/@local/hash-validation/src/entity_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend

#3701 H-1461: Hide share button on page
  apps/hash-frontend/src/pages/shared/top-context-bar.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3687 H-1529, H-1530: AI Model switcher, new plugin icon and style fixes
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-api/src/ai/infer-entities.ts
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/shared/icons/list-regular-icon.tsx
  apps/plugin-browser/package.json
  apps/plugin-browser/src/assets/img/icon-24-default.png
  apps/plugin-browser/src/assets/img/icon-24-disabled.png
  apps/plugin-browser/src/assets/img/icon-24-enabled.png
  apps/plugin-browser/src/assets/img/icon-24-warning.png
  apps/plugin-browser/src/assets/img/icon-256.png
  apps/plugin-browser/src/assets/img/rainbow-lockup.svg
  apps/plugin-browser/src/manifest.json
  apps/plugin-browser/src/pages/popup/popup-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope/select-domains.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request/inferred-entity.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request/inferred-entity/up-from-line-icon.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-requests.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off/infer-entities-action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/autocomplete-sx.ts
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/entity-type-selector.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/model-selector.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/model-selector/openai-icon.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/section.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/select-web-target/web-selector.tsx
  apps/plugin-browser/src/pages/shared/style-values.ts
  apps/plugin-browser/src/pages/shared/use-local-storage.ts
  apps/plugin-browser/src/scripts/background.ts
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  apps/plugin-browser/src/shared/badge.ts
  apps/plugin-browser/src/shared/messages.ts
  apps/plugin-browser/src/shared/storage.ts
  apps/plugin-browser/turbo.json
  apps/plugin-browser/webpack.config.js
  libs/@hashintel/design-system/src/autocomplete.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-list-regular.tsx
  libs/@local/hash-isomorphic-utils/src/temporal-types.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3698 H-1521: Browser plugin production bundle tweaks
  apps/plugin-browser/.env.production
  apps/plugin-browser/.gitignore
  apps/plugin-browser/utils/build.js
  apps/plugin-browser/webpack.config.js
Labels: area/infra, area/apps

#3700 H-1552: Fix issue in restore logic that too many elements are sent at the same time
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/channel.rs
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
Labels: area/apps > hash*, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3705 H-1555: Fix finding draft entities to update
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/get-entity-by-filter.ts
Labels: area/apps > hash*, area/apps

#3712 H-1214: Be able to wipe the database locally easily
  .github/workflows/lint.yml
  apps/hash-graph/.justfile
  apps/hash-graph/README.md
  apps/hash-graph/bins/cli/src/subcommand/mod.rs
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/libs/graph/src/api/rest/mod.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/package.json
  apps/hash-graph/tests/circular-links.http
  apps/hash-graph/tests/friendship.http
  apps/hash-graph/tests/reset-database.http
  package.json
  tests/hash-graph-integration/package.json
Labels: area/apps > hash*, area/infra, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3711 H-1591: Provide a `--skip-validation` flag to snapshot restoration
  apps/hash-graph/bins/cli/src/subcommand/snapshot.rs
  apps/hash-graph/libs/graph/src/api/rest/test_server.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/metadata/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/owner/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/web/batch.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3710 H-1413: Validate link source and target by BaseURL on creation/update
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3715 H-1599: Remove restriction on links not being able link to drafts
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-validation/src/entity_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3716 H-1579, H-1556: `/drafts` page improvements
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/components/grid/utils/use-grid-tooltip.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/link-section.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-provenance.tsx
  apps/hash-frontend/src/pages/shared/link-label-with-source-and-destination.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar/share-dropdown-menu.tsx
  apps/hash-frontend/src/shared/draft-entities-context.tsx
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#3709 H-589: Style cleanup around our slideovers
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/type-preview-slide.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/type-slide-over-stack.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/type-slide-over-stack/type-slide-over-slide.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-arrow-up-right-regular.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/type-chip-label.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/chip-icon-button.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/version-upgrade-indicator.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3722 H-1625, H-1561: Fix bugs related to machine notifications, link to original page from plugin request
  apps/hash-frontend/src/pages/drafts.page/draft-entities.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities/draft-entities-filters.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-provenance.tsx
  apps/hash-frontend/src/pages/inbox.page.tsx
  apps/hash-frontend/src/shared/notifications-context.tsx
  apps/hash-frontend/src/shared/use-actors.ts
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off/infer-entities-action.tsx
  apps/plugin-browser/webpack.config.js
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3717 H-1620: Move `api` out of `graph` into `graph-api`
  Cargo.lock
  Cargo.toml
  apps/hash-graph/README.md
  apps/hash-graph/bins/cli/Cargo.toml
  apps/hash-graph/bins/cli/src/subcommand/server.rs
  apps/hash-graph/bins/cli/src/subcommand/test_server.rs
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/api/build.rs
  apps/hash-graph/libs/api/src/error.rs
  apps/hash-graph/libs/api/src/gen.rs
  apps/hash-graph/libs/api/src/lib.rs
  apps/hash-graph/libs/api/src/rest/account.rs
  apps/hash-graph/libs/api/src/rest/api_resource.rs
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/json.rs
  apps/hash-graph/libs/api/src/rest/json_schemas/data_type.json
  apps/hash-graph/libs/api/src/rest/json_schemas/entity_type.json
  apps/hash-graph/libs/api/src/rest/json_schemas/property_type.json
  apps/hash-graph/libs/api/src/rest/json_schemas/shared.json
  apps/hash-graph/libs/api/src/rest/json_schemas/status.json
  apps/hash-graph/libs/api/src/rest/json_schemas/status_definitions.json
  apps/hash-graph/libs/api/src/rest/json_schemas/update_data_type.json
  apps/hash-graph/libs/api/src/rest/json_schemas/update_entity_type.json
  apps/hash-graph/libs/api/src/rest/json_schemas/update_property_type.json
  apps/hash-graph/libs/api/src/rest/middleware.rs
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/api/src/rest/status.rs
  apps/hash-graph/libs/api/src/rest/test_server.rs
  apps/hash-graph/libs/api/src/rest/utoipa_typedef/mod.rs
  apps/hash-graph/libs/api/src/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/libs/api/src/rest/utoipa_typedef/subgraph/mod.rs
  apps/hash-graph/libs/api/src/rest/utoipa_typedef/subgraph/vertices/mod.rs
  apps/hash-graph/libs/api/src/rest/utoipa_typedef/subgraph/vertices/vertex.rs
  apps/hash-graph/libs/api/src/rest/web.rs
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/lib.rs
  apps/hash-graph/libs/graph/src/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/ontology/mod.rs
  apps/hash-graph/libs/graph/src/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/ontology_id.rs
  apps/hash-graph/libs/graph/src/subgraph/edges/edge.rs
  apps/hash-graph/libs/graph/src/subgraph/edges/kind.rs
  apps/hash-graph/libs/graph/src/subgraph/identifier/edge.rs
  apps/hash-graph/libs/graph/src/subgraph/identifier/vertex.rs
  apps/hash-graph/libs/graph/src/subgraph/query.rs
  apps/hash-graph/libs/graph/src/subgraph/temporal_axes.rs
  apps/hash-graph/openapi/openapi.json
Labels: area/deps, area/apps > hash*, area/infra, type/eng > backend, area/apps, area/apps > hash-graph

#3725 H-1630: Make instantiators public for some system types
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/001-create-hash-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/004-create-machines-update-users.migration.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#3723 H-1541, H-1602: display source and destination in the "accept draft link" warning modal
  apps/hash-frontend/src/pages/drafts.page/draft-entities.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-action-buttons.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-provenance.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-type.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-viewers.tsx
  apps/hash-frontend/src/pages/shared/link-label-with-source-and-destination.tsx
  apps/hash-frontend/src/shared/icons/feather-regular-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/acount-entities-list.tsx
  apps/hash-frontend/src/shared/ui/link.tsx
  libs/@hashintel/design-system/src/alert-modal.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3724 H-1021, H-1627, H-1639: Default types in the browser plugin, inference improvements
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/extract-validation-failure-details.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/get-entity-by-filter.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/stringify.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/update-entities.ts
  apps/hash-api/package.json
  apps/plugin-browser/src/pages/popup/popup-contents/action-center.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/default-production-rules.ts
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off/infer-entities-action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/entity-type-selector.tsx
  apps/plugin-browser/src/scripts/background.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#3727 H-1631: Archive notification when discarding a draft entity
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-frontend/src/pages/drafts.page/draft-entities.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-action-buttons.tsx
  apps/hash-frontend/src/shared/draft-entities-context.tsx
  apps/hash-frontend/src/shared/notifications-context.tsx
  apps/hash-frontend/src/shared/use-actors.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3728 H-1655: Update AI inference prompt to provide more context, encourage comprehensiveness
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  libs/@local/hash-isomorphic-utils/src/temporal-types.ts
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps

#3732 H-1663: Fix linear integration
  apps/hash-api/src/graphql/resolvers/integrations/linear/sync-workspaces-with-teams.ts
  apps/hash-api/src/integrations/linear/oauth.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#3733 H-1664: Don't display archived links in mention suggester + other fixes
  apps/hash-frontend/src/pages/drafts.page/draft-entities.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity.tsx
  apps/hash-frontend/src/pages/shared/block-collection/shared/mention-suggester.tsx
  libs/@local/hash-isomorphic-utils/src/generate-entity-label.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3734 H-1667: Fix notifications runtime error
  apps/hash-frontend/src/shared/notifications-context.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3735 H-1648: Move AI inference endpoint to websocket
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/ensure-trailing-slash.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/generate-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-api/package.json
  apps/hash-api/src/ai/infer-entities-websocket.ts
  apps/hash-api/src/ai/infer-entities.ts
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/index.ts
  apps/plugin-browser/package.json
  apps/plugin-browser/src/manifest.json
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request/inferred-entity.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-requests.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/model-selector.tsx
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  apps/plugin-browser/src/shared/messages.ts
  apps/plugin-browser/src/shared/storage.ts
  libs/@local/hash-isomorphic-utils/src/ai-inference-types.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#3736 H-1668: Change global allocator to `mimalloc`
  Cargo.lock
  apps/hash-graph/bins/cli/Cargo.toml
  apps/hash-graph/bins/cli/src/main.rs
Labels: area/deps, area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3737 H-1669: Fix creating some link entities in AI inference
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/create-entities.ts
Labels: area/apps > hash*, area/apps

#3741 H-1697, H-1698, H-1699, H-1701, H-1702, H-1703, H-1704: Inference metadata, drafts page and notification tweaks
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-frontend/src/pages/drafts.page/draft-entities/draft-entities-filters.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-provenance.tsx
  apps/hash-frontend/src/shared/notifications-context.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request.tsx
  apps/plugin-browser/src/scripts/background.ts
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-wand-magic-sparkles.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3742 H-1691: Show types in sidebar which user has entities of in their web
  apps/hash-frontend/src/pages/shared/hidden-types.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entities-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3749 H-1708: Fix SpiceDB migration not working in prod
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/spicedb.tf
Labels: area/infra, area/infra > terraform

#3750 H-1709: Update permission set during registration
  apps/hash-api/src/graph/knowledge/system-types/user.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#3751 H-1621, H-1714, H-1717: Split SpiceDB tasks into another service
  .github/workflows/hash-backend-cd.yml
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/spicedb.tf
  infra/terraform/hash/hash_application/temporal_worker_ai_ts.tf
  infra/terraform/hash/hash_application/temporal_worker_integration.tf
  infra/terraform/hash/hash_application/type_fetcher.tf
  infra/terraform/hash/hash_application/variables.tf
  infra/terraform/hash/main.tf
  infra/terraform/hash/prod-usea1.tfvars
Labels: area/infra, area/infra > terraform

#3754 H-1733: Use `BatchCheckPermission` for types
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
Labels: area/apps > hash*, area/libs, type/eng > backend

#3730 H-1661: Update tech tree with Dec 2023 changes to-date
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
Labels: area/apps > hash.dev, area/apps

#3756 H-1735: Validate more custom data types
  Cargo.lock
  Cargo.toml
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/src/data_type.rs
  libs/@local/hash-validation/src/lib.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend

#3757 H-1736: Run CI if the root package changed
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: area/infra

#3760 H-1711: Allow inserting custom data types as web admin
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-authorization/schemas/v1__initial_schema.zed
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3755 H-1656: Show more precise timestamps than the day in the `Inbox > Notifications` table
  apps/hash-frontend/src/pages/inbox.page.tsx
  apps/hash-frontend/src/shared/notifications-context.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3753 H-1472: Support loading entities into table block
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/knowledge-shim.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-query-entities.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/query-editor-page.tsx
  apps/hash-frontend/src/pages/settings/integrations/use-linear-integrations.ts
  blocks/chart/package.json
  blocks/chart/src/app.tsx
  blocks/chart/src/types/generated/block-entity.ts
  blocks/table/package.json
  blocks/table/src/app.tsx
  blocks/table/src/components/settings-bar/settings-bar.tsx
  blocks/table/src/components/table/table-with-query.tsx
  blocks/table/src/components/table/table.tsx
  blocks/table/src/dev.tsx
  blocks/table/src/types/generated/block-entity.ts
Labels: area/apps > hash*, area/blocks, type/eng > frontend, area/apps

#3759 H-1544, H-1592, H-1748: Open draft entities in the slideover instead of the entity editor
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-modal.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/drafts.page.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities/draft-entities-filters.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-properties.tsx
  apps/hash-frontend/src/pages/inbox.page.tsx
  apps/hash-frontend/src/pages/shared/accept-draft-entity-button.tsx
  apps/hash-frontend/src/pages/shared/discard-draft-entity-button.tsx
  apps/hash-frontend/src/pages/shared/notifications-with-links-context.tsx
  apps/hash-frontend/src/shared/draft-entities-context.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/notifications-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entities-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  apps/hash-frontend/src/shared/notification-entities-context.tsx
  apps/hash-frontend/src/shared/notifications-context.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row/inherited-type-card.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3726 H-1649: Support `Vector` type in Structural Queries
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/libs/graph/src/store/query/mod.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-types/rust/src/embedding.rs
  libs/@local/hash-graph-types/rust/src/lib.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3766 H-1764: Allow `label` property on data types
  libs/@local/hash-validation/src/data_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend

#3768 H-1766: Support more validation constrains defined in JSON Schema
  Cargo.lock
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/src/data_type.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend

#3767 H-1768: Add optional "allowlist only" access mode to HASH
  apps/hash-api/src/graph/knowledge/primitive/entity/before-update-entity-hooks.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/graphql/resolvers/knowledge/user/has-access-to-hash.ts
  apps/hash-api/src/shared/user-has-access-to-hash.ts
  apps/hash-frontend/src/graphql/queries/user.queries.ts
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/index.page.tsx
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  infra/terraform/hash/main.tf
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/user.typedef.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/infra > terraform

#3782 H-1783: Use superuser permissions to migrate graph database
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/variables.tf
  infra/terraform/hash/main.tf
Labels: area/infra, area/infra > terraform

#3761 H-1633, H-1707: Group by location in autoinference config, persist user tab selection
  apps/plugin-browser/package.json
  apps/plugin-browser/src/pages/popup/popup-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope/globe-pointer-icon.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope/rows-by-location.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope/rows-by-type.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope/select-domains.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope/select-grouping.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope/shared/common-rows-props.ts
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/autocomplete-sx.ts
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/model-selector.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/select-web-target/web-selector.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/switch-with-dark-mode.tsx
  apps/plugin-browser/src/pages/shared/use-local-storage.ts
  apps/plugin-browser/src/scripts/background.ts
  apps/plugin-browser/src/shared/storage.ts
Labels: area/apps

#3776 H-1781: Add new users to updates list
  apps/hash-api/package.json
  apps/hash-api/src/graph/knowledge/primitive/entity/after-create-entity-hooks.ts
  apps/hash-api/src/graph/knowledge/primitive/entity/after-update-entity-hooks.ts
  apps/hash-api/src/mailchimp.ts
  infra/terraform/hash/main.tf
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps, area/infra > terraform

#3783 H-1762: Retain order returned from Postgres in `roots`
  apps/hash-graph/libs/api/src/rest/utoipa_typedef/subgraph/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/subgraph/mod.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3781 H-1098: Expose `createdAt` and `createdBy` for entities
  apps/hash-frontend/src/blocks/use-fetch-block-subgraph.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/table.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/metadata/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V13__create_at_by.sql
  libs/@local/hash-backend-utils/src/pg-tables.ts
  libs/@local/hash-graph-types/rust/src/account.rs
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  libs/@local/hash-subgraph/src/types/shared.ts
  libs/@local/hash-subgraph/src/types/shared/branded.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
  libs/@local/temporal-versioning/src/interval.rs
  libs/@local/temporal-versioning/src/temporal_bound.rs
  libs/@local/temporal-versioning/src/timestamp.rs
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3787 H-1789: Send user out of signup flow if they are not on access whitelist
  apps/hash-frontend/src/pages/signup.page.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3788 H-1787: Allow `date-time`, `date`, and `duration` format
  Cargo.lock
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/src/data_type.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend

#3796 H-1718, H-1710: Track AI inference usage, cap usage for last day / 30 days
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-api/package.json
  apps/hash-api/src/ai/infer-entities-websocket.ts
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/005-create-first-custom-data-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/006-create-api-usage-tracking.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/system-webs-and-entities.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/hash-instance/hash-instance.ts
  apps/hash-api/src/graphql/resolvers/knowledge/user/get-usage-records.ts
  apps/hash-api/src/index.ts
  apps/hash-frontend/src/pages/shared/hidden-types.ts
  apps/plugin-browser/package.json
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request.tsx
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  libs/@local/hash-backend-utils/src/hash-admins.ts
  libs/@local/hash-backend-utils/src/hash-instance.ts
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-backend-utils/src/service-usage.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/user.typedef.ts
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/service-usage.ts
  libs/@local/hash-isomorphic-utils/src/system-types/servicefeature.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/usagerecord.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps
