Repository hashintel/hash, pull requests merged in 2024-06, with the labels that each got.

#4517 H-2760: Add an API switcher to the plugin in non-production environments
  apps/plugin-browser/README.md
  apps/plugin-browser/package.json
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated.tsx
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  apps/plugin-browser/src/shared/query-graphql-api.ts
  apps/plugin-browser/src/shared/storage.ts
  tests/hash-playwright/package.json
Labels: area/infra, area/tests, area/tests > playwright, area/apps

#4538 H-2798: Update developer-facing docs and fix broken links
  .github/CONTRIBUTING.md
  apps/hashdotdev/src/_pages/docs/10_contributing/01_architecture.mdx
  apps/hashdotdev/src/_pages/docs/10_contributing/WIP_02_reference.mdx
Labels: area/infra, area/apps > hash.dev, area/apps

#4542 H-2823: Add serde implementation for non-string hash-map keys
  libs/@local/codec/Cargo.toml
  libs/@local/codec/src/serde/mod.rs
  libs/@local/codec/src/serde/size_hint.rs
  libs/@local/codec/src/serde/string_hash_map.rs
  tests/hash-graph-benches/package.json
Labels: area/libs, type/eng > backend, area/tests

#4546 H-2832: Upgrade Temporal server and clients
  .env
  .github/workflows/hash-backend-cd.yml
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-flow-run-name-activity.ts
  apps/hash-api/package.json
  apps/hash-external-services/package.json
  apps/hash-integration-worker/package.json
  infra/terraform/hash/main.tf
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-isomorphic-utils/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/apps, area/infra > terraform

#4547 H-2833: Add debug logs to Temporal worker
  apps/hash-ai-worker-ts/src/main.ts
  infra/terraform/hash/hash_application/temporal_worker_ai_ts.tf
Labels: area/apps > hash*, area/infra, area/apps, area/infra > terraform

#4549 H-2834: Fix Sentry capturing errors from Temporal workflows
  apps/hash-ai-worker-ts/scripts/bundle-workflow-code.ts
  apps/hash-integration-worker/scripts/bundle-workflow-code.ts
Labels: area/apps > hash*, area/apps

#4550 H-2835: Comment out Flow activities from AI worker
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-integration-worker/src/main.ts
Labels: area/apps > hash*, area/apps

#4555 H-2839: Restore flow code to AI worker
  apps/hash-ai-worker-ts/src/main.ts
Labels: area/apps > hash*, area/apps

#4557 H-2842: Add debug logs around isUserHashInstanceAdmin
  libs/@local/hash-backend-utils/src/hash-instance.ts
Labels: area/apps > hash*, area/libs, type/eng > backend

#4559 H-2843: Remove some Flow code
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
Labels: area/apps > hash*, area/apps

#4561 H-2389: Restore some Flow code to AI worker
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  libs/@local/hash-backend-utils/src/hash-instance.ts
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps

#4534 H-2793: Use method to access property metadata in TS
  apps/hash-api/src/graph/knowledge/primitive/link-entity.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/get-history-events.ts
  libs/@local/hash-graph-sdk/typescript/package.json
  libs/@local/hash-graph-sdk/typescript/src/entity.ts
  libs/@local/hash-graph-types/typescript/src/entity.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/apps

#4562 H-2843: Remove some more Flow code from AI worker. Increase Graph API client timeout
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  libs/@local/hash-backend-utils/src/create-graph-client.ts
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps

#4564 H-2844: Fix import in Graph SDK, fix new goal check
  apps/hash-frontend/src/pages/goals/new.page.tsx
  libs/@local/hash-graph-sdk/typescript/package.json
  libs/@local/hash-graph-sdk/typescript/src/entity.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4566 H-2839: Restore some Flow code
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
  apps/hash-ai-worker-ts/src/main.ts
Labels: area/apps > hash*, area/apps

#4567 H-2843: Remove flow code
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
Labels: area/apps > hash*, area/apps

#4571 Remove another activity
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
Labels: area/apps > hash*, area/apps

#4565 H-2848: Add internal API host to Terraform
  apps/hash-ai-worker-ts/README.md
  apps/hash-api/README.md
  infra/terraform/hash/main.tf
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps, area/infra > terraform

#4569 H-2855: Improve logging and configuration around Graph Postgres pool
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-graph/bins/cli/src/subcommand/migrate.rs
  apps/hash-graph/bins/cli/src/subcommand/server.rs
  apps/hash-graph/bins/cli/src/subcommand/snapshot.rs
  apps/hash-graph/bins/cli/src/subcommand/test_server.rs
  apps/hash-graph/libs/api/src/rest/account.rs
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/api/src/rest/web.rs
  apps/hash-graph/libs/graph/src/store/config.rs
  apps/hash-graph/libs/graph/src/store/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/pool.rs
  infra/terraform/hash/prod-usea1.tfvars
  libs/@local/tracing/src/logging.rs
  tests/hash-graph-benches/util.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/infra, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph, area/infra > terraform

#4573 H-2859: Improve `--help` output for CLI
  Cargo.toml
  apps/hash-graph/bins/cli/src/args.rs
  libs/@local/tracing/src/logging.rs
  libs/@local/tracing/src/opentelemetry.rs
  libs/@local/tracing/src/sentry.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4568 H-2863: Bootstrap `python` environment
  .dockerignore
  .gitignore
  .markdownlintignore
  .prettierignore
  apps/lm-prompt-optimization/LICENSE.md
  apps/lm-prompt-optimization/README.md
  apps/lm-prompt-optimization/pyproject.toml
  apps/lm-prompt-optimization/src/lm_prompt_optimization/__init__.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Labels: area/infra, area/apps, type/legal

#4576 H-2831: Remove client + cache creation side effects in `get-flows-context`
  apps/hash-ai-worker-ts/src/activities/shared/get-flow-context.ts
Labels: area/apps > hash*, area/apps

#4577 restore a different flow activity
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
Labels: area/apps > hash*, area/apps

#4578 H-2875: Fix spans being recursive
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4579 H-2696: Fix AI worker starting
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
  apps/hash-ai-worker-ts/src/activities/shared/log-progress.ts
  apps/hash-ai-worker-ts/src/activities/shared/request-external-input.ts
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
Labels: area/apps > hash*, area/apps

#4585 H-2880: Use `derive_where` instead of `derivative`
  Cargo.lock
  Cargo.toml
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/src/store/config.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/libs/graph/src/subgraph/temporal_axes.rs
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/temporal-versioning/Cargo.toml
  libs/@local/temporal-versioning/src/temporal_bound.rs
  libs/@local/temporal-versioning/src/timestamp.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4588 H-2829: Don't run the migrations in parallel
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/upgrade-entities.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#4558 H-2831: Add Slack notification on early access form submission
  apps/hash-api/src/graphql/resolvers/knowledge/user/submit-early-access-form.ts
  apps/hash-frontend/src/pages/index.page/logged-out.tsx
  infra/terraform/hash/main.tf
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps, area/infra > terraform

#4459 H-2697: Add `harpc` net
  Cargo.lock
  Cargo.toml
  libs/@local/codec/src/harpc/wire.rs
  libs/@local/harpc/net/Cargo.toml
  libs/@local/harpc/net/LICENSE.md
  libs/@local/harpc/net/package.json
  libs/@local/harpc/net/src/codec.rs
  libs/@local/harpc/net/src/lib.rs
  libs/@local/harpc/net/src/macros.rs
  libs/@local/harpc/net/src/session/client/config.rs
  libs/@local/harpc/net/src/session/client/connection/collection.rs
  libs/@local/harpc/net/src/session/client/connection/mod.rs
  libs/@local/harpc/net/src/session/client/connection/stream.rs
  libs/@local/harpc/net/src/session/client/connection/test.rs
  libs/@local/harpc/net/src/session/client/mod.rs
  libs/@local/harpc/net/src/session/client/transaction/mod.rs
  libs/@local/harpc/net/src/session/client/transaction/stream.rs
  libs/@local/harpc/net/src/session/client/transaction/test.rs
  libs/@local/harpc/net/src/session/error.rs
  libs/@local/harpc/net/src/session/gc.rs
  libs/@local/harpc/net/src/session/mod.rs
  libs/@local/harpc/net/src/session/server/config.rs
  libs/@local/harpc/net/src/session/server/connection/collection.rs
  libs/@local/harpc/net/src/session/server/connection/mod.rs
  libs/@local/harpc/net/src/session/server/connection/test.rs
  libs/@local/harpc/net/src/session/server/mod.rs
  libs/@local/harpc/net/src/session/server/session_id.rs
  libs/@local/harpc/net/src/session/server/task.rs
  libs/@local/harpc/net/src/session/server/test.rs
  libs/@local/harpc/net/src/session/server/transaction/mod.rs
  libs/@local/harpc/net/src/session/server/transaction/test.rs
  libs/@local/harpc/net/src/session/test.rs
  libs/@local/harpc/net/src/session/writer/mod.rs
  libs/@local/harpc/net/src/session/writer/test.rs
  libs/@local/harpc/net/src/stream.rs
  libs/@local/harpc/net/src/transport/behaviour.rs
  libs/@local/harpc/net/src/transport/client.rs
  libs/@local/harpc/net/src/transport/config.rs
  libs/@local/harpc/net/src/transport/connection.rs
  libs/@local/harpc/net/src/transport/error.rs
  libs/@local/harpc/net/src/transport/ipc.rs
  libs/@local/harpc/net/src/transport/mod.rs
  libs/@local/harpc/net/src/transport/server.rs
  libs/@local/harpc/net/src/transport/task.rs
  libs/@local/harpc/net/src/transport/test.rs
  libs/@local/harpc/wire-protocol/Cargo.toml
  libs/@local/harpc/wire-protocol/src/lib.rs
  libs/@local/harpc/wire-protocol/src/payload.rs
  libs/@local/harpc/wire-protocol/src/request/body.rs
  libs/@local/harpc/wire-protocol/src/request/header.rs
  libs/@local/harpc/wire-protocol/src/request/id.rs
  libs/@local/harpc/wire-protocol/src/request/mod.rs
  libs/@local/harpc/wire-protocol/src/response/header.rs
  libs/@local/harpc/wire-protocol/src/response/kind.rs
  libs/@local/harpc/wire-protocol/src/response/mod.rs
Labels: area/deps, area/infra, area/libs, type/eng > backend, type/legal

#4590 H-2829: Fix deployment of backend in AWS
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/hydra.tf
  infra/terraform/hash/hash_application/kratos.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/prod-usea1.tfvars
  libs/@local/hash-backend-utils/src/hash-instance.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/apps, area/infra > terraform

#4540 H-2735: Allow coordinator agent to initialize sub-coordinators that conduct research on a per-entity basis
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/handle-web-search-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/infer-facts-from-web-page-worker-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/tool-definitions.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-ontology-types-for-llm-consumption.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-ontology-types-for-llm-consumption.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/testing-utils.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/postgres/postgresql.conf
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/activity-log.tsx
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4581 H-2878, H-2879: Fix entity type conversion to link type not working
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4560 H-2787, H-2866, H-2867: Improve LLM rate limit handling
  .github/workflows/test.yml
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/scripts/compare-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-flow-run-name-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/constants.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-anthropic-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-openai-reponse.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/validation.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-external-services/docker-compose.ai.yml
  apps/hash/README.md
  infra/terraform/hash/main.tf
  libs/@local/hash-backend-utils/src/create-graph-client.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/libs, type/eng > backend, area/apps, area/infra > terraform

#4593 H-2895: Make `queryPdf` output facts directly, reduce amount of HTML transmitted
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/handle-query-pdf-tool-call.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/handle-query-pdf-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/infer-facts-from-web-page-worker-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/tool-definitions.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/update-state-from-inferred-facts.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ai.test.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps

#4597 H-2911: Improve sub-task creation process, use `innerText` summarizing webpages with Haiku
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-web-queries-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-summary-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/check-sub-tasks-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/check-sub-tasks-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/update-state-from-inferred-facts.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/inference-model-alias-to-llm-model.ts
  apps/hash-ai-worker-ts/src/activities/shared/openai-client.ts
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off/infer-entities-action.tsx
  apps/plugin-browser/src/scripts/background.ts
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  apps/plugin-browser/src/scripts/background/infer-entities/get-website-content.ts
  apps/plugin-browser/src/scripts/content.ts
  apps/plugin-browser/src/shared/messages.ts
  libs/@local/hash-graph-sdk/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/ai-inference-types.ts
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps

#4599 H-2912: Fix loading Workers page, improve check for instance admin
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/hash-instance/hash-instance.ts
  apps/hash-frontend/src/components/hooks/use-hash-instance.ts
  apps/hash-frontend/src/graphql/queries/knowledge/hash-instance.queries.ts
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/hash-instance.typedef.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4604 H-2916: Allow org admins to have dedicated permissions
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/014-add-instance-admin-permission.migration.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/graphql/resolvers/knowledge/user/submit-early-access-form.ts
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-authorization/schemas/v1__initial_schema.zed
  libs/@local/hash-authorization/src/schema/entity.rs
  libs/@local/hash-backend-utils/src/service-usage.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4613 H-2918: Revert "Move `kratos` and `hydra` tasks to separate service"
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/hydra.tf
  infra/terraform/hash/hash_application/kratos.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/prod-usea1.tfvars
Labels: area/infra, area/infra > terraform

#4603 H-2818: Show Flow cost info for admins and in dev
  .env.development
  Cargo.lock
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-ai-worker-ts/src/activities/create-inference-usage-record-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/check-web-service-usage-not-exceeded.ts
  apps/hash-api/src/graphql/resolvers/knowledge/user/get-usage-records.ts
  apps/hash-frontend/next.config.js
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/swimlane.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/swimlane/custom-node.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/swimlane/custom-node/node-styles.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/swimlane/shared/edge-styles.ts
  apps/hash-frontend/src/pages/shared/flow-runs-context.tsx
  apps/hash-frontend/src/pages/shared/use-flow-runs-usage.ts
  apps/hash-frontend/src/pages/workers.page.tsx
  libs/@local/hash-backend-utils/src/service-usage.ts
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/create-apollo-client.ts
  libs/@local/hash-isomorphic-utils/src/service-usage.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4614 H-2920: Temporary migration to fix incomplete user accounts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/018-fix-incomplete-user-accounts.migration.ts
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/main.tf
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps, area/infra > terraform

#4615 H-2696: Move AJV creation into function
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/validation.ts
Labels: area/apps > hash*, area/apps

#4616 H-2920: Remove temporary migration to fix incomplete user accounts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/018-fix-incomplete-user-accounts.migration.ts
  infra/terraform/hash/main.tf
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps, area/infra > terraform

#4598 H-2897: Add "last updated" topmatter to HDEV blog posts
  apps/hashdotdev/src/_pages/blog/0001_block-design.mdx
  apps/hashdotdev/src/_pages/blog/0002_open-source.mdx
  apps/hashdotdev/src/_pages/blog/0003_one-principle.mdx
  apps/hashdotdev/src/_pages/blog/0004_announcing-error-stack.mdx
  apps/hashdotdev/src/_pages/blog/0005_build-blocks-in-any-language.mdx
  apps/hashdotdev/src/_pages/blog/0006_block-protocol-v02.mdx
  apps/hashdotdev/src/_pages/blog/0007_block-paved-path.mdx
  apps/hashdotdev/src/_pages/blog/0008_sensitivity-assessor.mdx
  apps/hashdotdev/src/_pages/blog/0009_strange-loop-workshop.mdx
  apps/hashdotdev/src/_pages/blog/0010_error-stack-update-0-2.mdx
  apps/hashdotdev/src/_pages/blog/0011_hook-service.mdx
  apps/hashdotdev/src/_pages/blog/0012_block-protocol-0-3-wordpress.mdx
  apps/hashdotdev/src/_pages/blog/0013_wasm-ai.mdx
  apps/hashdotdev/src/_pages/blog/0014_tech-tree.mdx
  apps/hashdotdev/src/_pages/blog/0015_structured-data-value.mdx
  apps/hashdotdev/src/_pages/blog/0016_file-structuring.mdx
  apps/hashdotdev/src/_pages/blog/WIP_0017_general-knowledge-design.mdx
  apps/hashdotdev/src/_pages/docs/01_get-started/00_index.mdx
  apps/hashdotdev/src/_pages/docs/01_get-started/02_use-cases.mdx
  apps/hashdotdev/src/components/blog-post.tsx
  apps/hashdotdev/src/components/footer.tsx
  apps/hashdotdev/src/pages/blog/[...blog-slug].page.tsx
  apps/hashdotdev/src/pages/blog/index.page.tsx
  apps/hashdotdev/src/pages/blog/index.page/generate-feeds.ts
  apps/hashdotdev/src/pages/index.page.tsx
Labels: area/apps > hash.dev, area/apps

#4620 H-2929: Fix CI failing due to Turborepo pruning Rust crates
  .github/actions/prune-repository/action.yml
Labels: area/infra

#4619 H-2928: Fix clippy errors not shown in CI
  .justfile
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/libs/graph/src/store/query/path.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/mod.rs
  libs/@local/harpc/wire-protocol/src/request/id.rs
  libs/@local/hash-authorization/tests/simple.rs
  libs/@local/status/rust/src/lib.rs
  tests/hash-graph-benches/util.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#4623 H-2935: Reduce GHA update frequency
  .github/renovate.json
Labels: area/infra

#4622 H-2915, H-2917: Show specific task in cost breakdown and LLM logs
  apps/hash-ai-worker-ts/scripts/compare-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-flow-run-name-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-web-queries-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-summary-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/check-sub-tasks-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/generate-previously-inferred-facts-system-prompt-message.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/filter-and-rank-text-chunks-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/handle-query-pdf-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-ontology-types-for-llm-consumption.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/summarize-existing-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/get-file-entity-from-url.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts/propose-entity-from-facts.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities-from-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries-from-web-page.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/generate-propose-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-anthropic-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-openai-reponse.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/llm-message.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/log-llm-request.ts
  apps/hash-ai-worker-ts/src/activities/shared/log-progress.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/015-add-flow-types.dev.migration.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/run-flow-modal/manual-trigger-input.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/topbar.tsx
  apps/hash-frontend/src/pages/shared/use-flow-runs-usage.ts
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/history/shared/history-row.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/history/shared/table-label.tsx
  libs/@local/hash-backend-utils/src/service-usage.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  libs/@local/hash-isomorphic-utils/src/service-usage.ts
  libs/@local/hash-isomorphic-utils/src/system-types/usagerecord.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4624 H-2761: Fix frontend environment variables
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-frontend/vercel-build.sh
  apps/hash-integration-worker/docker/Dockerfile
  apps/hashdotdesign/vercel-build.sh
  apps/hashdotdev/vercel-build.sh
  infra/docker/api/prod/Dockerfile
  package.json
Labels: area/apps > hash*, area/infra, area/infra > docker, area/apps > hash.dev, hotfix, type/eng > frontend, area/apps, area/apps > hash.design

#4626 H-2940, H-2941: Fix entities table render loop, event history style tweaks
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/shared/chip.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/shared/event-detail.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4563 H-2754, H-2759: Store property metadata as JSON
  Cargo.lock
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/get-file-entity-from-url.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts/propose-entity-from-facts.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/get-history-events.ts
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/rows.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V25__property_metadata_json.sql
  libs/@local/hash-graph-sdk/typescript/package.json
  libs/@local/hash-graph-sdk/typescript/src/entity.ts
  libs/@local/hash-graph-sdk/typescript/tests/entity.test.ts
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/src/knowledge/confidence.rs
  libs/@local/hash-graph-types/rust/src/knowledge/entity/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/entity/provenance.rs
  libs/@local/hash-graph-types/rust/src/knowledge/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/array.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/object.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/value.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/object.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/patch.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/path.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/provenance.rs
  libs/@local/hash-graph-types/rust/src/lib.rs
  libs/@local/hash-graph-types/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  libs/@local/hash-validation/src/property.rs
  tests/hash-graph-benches/read_scaling/knowledge/complete/entity.rs
  tests/hash-graph-benches/read_scaling/knowledge/linkless/entity.rs
  tests/hash-graph-benches/representative_read/seed.rs
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/interconnected_graph.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/multi_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/property_metadata.rs
  tests/hash-graph-integration/postgres/sorting.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4628 H-2946: Fix benchmark uploading from CI
  .github/workflows/bench.yml
Labels: area/infra

#4589 H-2799: Validate existence of properties for metadata
  apps/hash-graph/libs/api/src/lib.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-types/rust/src/knowledge/entity/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
  libs/@local/hash-validation/src/data_type.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/error.rs
  libs/@local/hash-validation/src/lib.rs
  libs/@local/hash-validation/src/property_type.rs
  tests/hash-graph-benches/read_scaling/knowledge/complete/entity.rs
  tests/hash-graph-benches/read_scaling/knowledge/linkless/entity.rs
  tests/hash-graph-benches/representative_read/seed.rs
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/interconnected_graph.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/multi_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/property_metadata.rs
  tests/hash-graph-integration/postgres/sorting.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4625 H-2914: Add Markdown report type, preview Flow types/entities
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-flow-run-name-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-external-services/temporal/setup.sh
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-slide-over.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/deliverables.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/deliverables/markdown.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/deliverables/shared/types.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/deliverables/spreadsheet.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/entity-result-table.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/persisted-entity-graph.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity.tsx
  apps/hash-frontend/src/pages/flows.page.tsx
  apps/hash-frontend/src/pages/goals.page/goals-list.tsx
  apps/hash-frontend/src/pages/goals/new.page.tsx
  apps/hash-frontend/src/pages/goals/new.page/deliverable-settings.tsx
  apps/hash-frontend/src/pages/notes.page/editable-quick-note.tsx
  apps/hash-frontend/src/pages/prism.css
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-context-menu.tsx
  apps/hash-frontend/src/pages/shared/flow-definitions-context.tsx
  apps/hash-frontend/src/pages/shared/integrations/google/google-account-select.tsx
  apps/hash-frontend/src/pages/shared/integrations/google/select-or-name-google-sheet.tsx
  apps/hash-frontend/src/pages/shared/markdown.tsx
  apps/hash-frontend/src/pages/shared/markdown/elements.tsx
  apps/hash-frontend/src/pages/shared/markdown/elements/snippet.tsx
  apps/hash-frontend/src/pages/shared/subgraphs.ts
  apps/hash-frontend/src/pages/workers.page.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/search-bar.tsx
  apps/hash-frontend/src/shared/ui/modal.tsx
  libs/@hashintel/block-design-system/src/entities-graph-chart.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-copy-regular.tsx
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/example-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/goal-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hash-isomorphic-utils/src/sanitize.ts
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4629 H-2947: Return full entity from Graph on creation
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/circular-links.http
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-graph-sdk/typescript/package.json
  libs/@local/hash-graph-sdk/typescript/src/entity.ts
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
  tests/hash-graph-benches/read_scaling/knowledge/complete/entity.rs
  tests/hash-graph-benches/read_scaling/knowledge/linkless/entity.rs
  tests/hash-graph-benches/representative_read/seed.rs
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/interconnected_graph.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/multi_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/property_metadata.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4635 H-2765: Detect `entityTypeIds` and `draft` state in diff
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/get-history-events.ts
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-types/rust/src/knowledge/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/diff.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash-graph

#4636 H-2969: Bump Rust toolchain to `nightly-2024-06-25`
  apps/hash/README.md
  libs/antsi/rust-toolchain.toml
  libs/deer/rust-toolchain.toml
  libs/error-stack/README.md
  libs/error-stack/macros/README.md
  libs/error-stack/rust-toolchain.toml
  libs/error-stack/src/lib.rs
  libs/sarif/rust-toolchain.toml
  rust-toolchain.toml
Labels: area/infra, area/libs > error-stack, area/libs, area/libs > deer, area/libs > antsi, area/libs > sarif, area/apps

#4637 H-2801: Validate data type in entity property metadata
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
  libs/@local/hash-validation/src/data_type.rs
  libs/@local/hash-validation/src/property_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#4640 Speed up backend integration tests
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment-notification.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org-membership.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
  tests/hash-backend-integration/src/tests/util.ts
Labels: area/tests, area/tests > integration

#4631 H-2953: Pass metadata alongside properties to Graph in patches
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/graph-requests.ts
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-graph-sdk/typescript/src/entity.ts
  libs/@local/hash-graph-types/rust/src/knowledge/entity/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/patch.rs
  libs/@local/hash-graph-types/typescript/src/entity.ts
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/property_metadata.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4641 H-2978: Add Visibility flag to some Learn pages
  apps/hashdotai/guide/11_pages/00_index.mdx
  apps/hashdotai/guide/12_apps/00_index.mdx
Labels: area/apps

#4653 H-3029: Remove `rollup` from `@blockprotocol/graph`
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/graph/rollup.config.js
  yarn.lock
Labels: area/deps, area/libs

#4645 H-2939: Handle both spreadsheet and report being chosen as deliverables
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/pages/goals/new.page.tsx
  apps/hash-frontend/src/pages/shared/flow-definitions-context.tsx
  libs/@local/hash-isomorphic-utils/src/flows/goal-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/goal-flow-definitions/google-sheets.ts
  libs/@local/hash-isomorphic-utils/src/flows/goal-flow-definitions/markdown-report.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4649 H-2924, H-2676: Refactor the worker agent to become an iterative "link follower" agent, support PDFs in search results
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/check-sub-tasks-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/handle-web-search-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/handle-query-pdf-tool-call.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/handle-query-pdf-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/infer-facts-from-web-page-worker-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/tool-definitions.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/update-state-from-inferred-facts.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/extract-links-from-content.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/extract-links-from-content.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/filter-and-rank-text-chunks-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/get-link-follower-next-tool-calls.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/link-follower-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/llama-index/index-pdf-file.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/llama-index/simple-storage-context.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/web-search-action.ts
Labels: area/apps > hash*, area/apps
