Repository hashintel/hash, pull requests merged in 2024-05, with the labels that each got.

#4383 H-2609: Expand crosswalking section in docs
  apps/hashdotai/guide/08_sharing/01_peers.mdx
Labels: area/user success, area/apps

#4378 H-2547, H-2557: Flows UI improvements, remove `/ai` page
  apps/hash-frontend/src/pages/ai.page.tsx
  apps/hash-frontend/src/pages/ai.page/flow-actions.tsx
  apps/hash-frontend/src/pages/ai.page/research-task-flow.tsx
  apps/hash-frontend/src/pages/ai.page/shared/section-container.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/deliverables.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/entity-result-table.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/flow-run-sidebar.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/marker-end.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/run-flow-modal.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/section-label.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/shared/flow-runs-context.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/shared/styles.ts
  apps/hash-frontend/src/pages/flows.page/flow-definition/shared/types.ts
  apps/hash-frontend/src/pages/flows.page/flow-definition/swimlane.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/swimlane/custom-edge.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/swimlane/custom-node.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/swimlane/custom-node/handles.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/topbar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-angle-right-regular.tsx
  libs/@hashintel/design-system/src/icon-circle-check-regular.tsx
  libs/@hashintel/design-system/src/icon-circle-ellipsis-regular.tsx
  libs/@hashintel/design-system/src/icon-infinity-light.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#4387 H-2614: Add a fallback handler for the Graph
  apps/hash-graph/libs/api/src/rest/mod.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4362 H-2562: Replace `get_*_subgraph` with variant without subgraph where appropriate
  Cargo.lock
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-flow-activity.ts
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-entity-by-filter.ts
  apps/hash-api/src/generate-ontology-type-ids.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/014-add-instance-admin-permission.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/block.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-user-secret.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/knowledge/system-types/text.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-api/src/graphql/resolvers/knowledge/user/get-usage-records.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-api/src/storage/index.ts
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  apps/hash-integration-worker/src/shared/graph-requests.ts
  libs/@local/hash-backend-utils/src/hash-instance.ts
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-backend-utils/src/service-usage.ts
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4386 H-2613: Enable miri for HaRPC wireprotocol
  libs/@local/harpc/wire-protocol/package.json
  libs/@local/harpc/wire-protocol/src/codec/mod.rs
  libs/@local/harpc/wire-protocol/src/codec/types.rs
  libs/@local/harpc/wire-protocol/src/payload.rs
  libs/@local/harpc/wire-protocol/src/protocol.rs
  libs/@local/harpc/wire-protocol/src/request/begin.rs
  libs/@local/harpc/wire-protocol/src/request/body.rs
  libs/@local/harpc/wire-protocol/src/request/flags.rs
  libs/@local/harpc/wire-protocol/src/request/frame.rs
  libs/@local/harpc/wire-protocol/src/request/header.rs
  libs/@local/harpc/wire-protocol/src/request/id.rs
  libs/@local/harpc/wire-protocol/src/request/mod.rs
  libs/@local/harpc/wire-protocol/src/request/procedure.rs
  libs/@local/harpc/wire-protocol/src/request/service.rs
  libs/@local/harpc/wire-protocol/src/response/begin.rs
  libs/@local/harpc/wire-protocol/src/response/body.rs
  libs/@local/harpc/wire-protocol/src/response/flags.rs
  libs/@local/harpc/wire-protocol/src/response/frame.rs
  libs/@local/harpc/wire-protocol/src/response/header.rs
  libs/@local/harpc/wire-protocol/src/response/kind.rs
  libs/@local/harpc/wire-protocol/src/response/mod.rs
  rust-toolchain.toml
Labels: area/libs, type/eng > backend

#4389 H-2615: Refactor `harpc/wire-protocol` to make use of `Buf/BufMut` instead of `AsyncRead/AsyncWrite`
  Cargo.lock
  Cargo.toml
  libs/@local/codec/Cargo.toml
  libs/@local/codec/package.json
  libs/@local/codec/src/harpc/mod.rs
  libs/@local/codec/src/harpc/wire.rs
  libs/@local/codec/src/lib.rs
  libs/@local/harpc/wire-protocol/Cargo.toml
  libs/@local/harpc/wire-protocol/src/codec/buffer.rs
  libs/@local/harpc/wire-protocol/src/codec/decode.rs
  libs/@local/harpc/wire-protocol/src/codec/encode.rs
  libs/@local/harpc/wire-protocol/src/codec/mod.rs
  libs/@local/harpc/wire-protocol/src/codec/types.rs
  libs/@local/harpc/wire-protocol/src/lib.rs
  libs/@local/harpc/wire-protocol/src/payload.rs
  libs/@local/harpc/wire-protocol/src/protocol.rs
  libs/@local/harpc/wire-protocol/src/request/begin.rs
  libs/@local/harpc/wire-protocol/src/request/body.rs
  libs/@local/harpc/wire-protocol/src/request/codec.rs
  libs/@local/harpc/wire-protocol/src/request/flags.rs
  libs/@local/harpc/wire-protocol/src/request/frame.rs
  libs/@local/harpc/wire-protocol/src/request/header.rs
  libs/@local/harpc/wire-protocol/src/request/id.rs
  libs/@local/harpc/wire-protocol/src/request/mod.rs
  libs/@local/harpc/wire-protocol/src/request/procedure.rs
  libs/@local/harpc/wire-protocol/src/request/service.rs
  libs/@local/harpc/wire-protocol/src/response/begin.rs
  libs/@local/harpc/wire-protocol/src/response/body.rs
  libs/@local/harpc/wire-protocol/src/response/flags.rs
  libs/@local/harpc/wire-protocol/src/response/frame.rs
  libs/@local/harpc/wire-protocol/src/response/header.rs
  libs/@local/harpc/wire-protocol/src/response/kind.rs
  libs/@local/harpc/wire-protocol/src/response/mod.rs
Labels: area/deps, area/libs, type/eng > backend

#4388 H-2219: Extend existing query builder to also support basic `INSERT` statements
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/conditional.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/group_by_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/join_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/order_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/select_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/with_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/rows.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/insert.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4419 GEN-156: Revert renovate PRs using wrong update behavior
  Cargo.lock
  libs/error-stack/Cargo.toml
  libs/sarif/Cargo.toml
Labels: area/deps, area/libs > error-stack, area/libs, area/libs > sarif

#4423 H-2649: Fix renovate update behavior
  .github/renovate.json
Labels: area/infra

#4424 GEN-156: Revert renovate PRs using wrong update behavior (again)
  libs/error-stack/Cargo.toml
  libs/sarif/Cargo.toml
Labels: area/libs > error-stack, area/libs, area/libs > sarif

#4427 H-2651: Copy `Cargo.lock` before building Graph Docker image
  apps/hash-graph/docker/Dockerfile
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4430 H-2660: Fix MDX content on the `hash.ai/guide/introduction/get-started` callout
  apps/hashdotai/guide/01_introduction/03_get-started.mdx
Labels: area/apps

#4398 H-1178: Expose creating multiple entities in one transaction
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/metadata/batch.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/insert.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-integration-worker/src/linear-activities.ts
  libs/@local/temporal-versioning/src/timestamp.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4391 H-2595: Enable browser plugin to provide website content requested by Flow step
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-summary-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/get-web-page-inner-html.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/write-google-sheet-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/write-google-sheet-action/shared/create-sheet-data.ts
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities-from-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries-from-web-page.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/inference-types.ts
  apps/hash-ai-worker-ts/src/activities/shared/request-external-input.ts
  apps/hash-ai-worker-ts/src/shared/queries.ts
  apps/hash-ai-worker-ts/src/shared/signals.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow/set-query-and-signal-handlers.ts
  apps/hash-api/src/ai/infer-entities-websocket.ts
  apps/hash-api/src/ai/infer-entities-websocket/handle-infer-entities-request.ts
  apps/hash-api/src/graphql/resolvers/flows/runs.ts
  apps/hash-api/src/seed-data/seed-flow-test-types.ts
  apps/hash-frontend/src/pages/flows.page/flow-definition/flow-run-sidebar.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/shared/flow-definitions-context.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/shared/flow-runs-context.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/swimlane.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/swimlane/custom-node.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/swimlane/custom-node/node-styles.ts
  apps/hash-frontend/src/pages/flows.page/flow-definition/swimlane/shared/edge-styles.ts
  apps/plugin-browser/src/pages/options/options-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off/infer-entities-action.tsx
  apps/plugin-browser/src/pages/working.html
  apps/plugin-browser/src/pages/working.tsx
  apps/plugin-browser/src/pages/working/working-contents.tsx
  apps/plugin-browser/src/scripts/background.ts
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  apps/plugin-browser/src/scripts/background/infer-entities/get-website-content.ts
  apps/plugin-browser/src/scripts/content.ts
  apps/plugin-browser/src/shared/messages.ts
  apps/plugin-browser/src/shared/storage.ts
  apps/plugin-browser/webpack.config.js
  libs/@local/hash-isomorphic-utils/src/ai-inference-types.ts
  libs/@local/hash-isomorphic-utils/src/flows/example-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/queries.ts
  libs/@local/hash-isomorphic-utils/src/flows/signals.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  libs/@local/hash-isomorphic-utils/src/graphql/queries/flow.queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/flow.typedef.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4428 H-1451: Implement bulk validation for entities
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4447 Revert "Update npm package `next` to v14 [SECURITY]"
  apps/hash-frontend/package.json
  apps/hashdotdev/package.json
  libs/@local/hash-isomorphic-utils/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash.dev, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4440 H-2589: Provide separate script to migrate API
  apps/hash-ai-worker-ts/src/activities/shared/graph-api-client.ts
  apps/hash-api/package.json
  apps/hash-api/src/auth/ory-kratos.ts
  apps/hash-api/src/ensure-system-graph-is-initialized.ts
  apps/hash-api/src/generate-ontology-type-ids.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-api/src/telemetry/snowplow-setup.ts
  libs/@local/hash-backend-utils/src/aws-config.ts
  libs/@local/hash-backend-utils/src/temporal.ts
  libs/@local/hash-isomorphic-utils/src/environment.ts
  tests/hash-backend-integration/src/tests/util.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#4429 H-2286: Automate graph benchmarks in CI
  .github/scripts/read_criterion_bench_results.sh
  .github/workflows/bench.yml
  apps/hash-graph/.justfile
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bench/package.json
  apps/hash-graph/bench/util.rs
  apps/hash-graph/libs/api/package.json
  apps/hash-graph/libs/graph/package.json
  apps/hash-graph/libs/query-builder-derive/package.json
  libs/@blockprotocol/type-system/rust/package.json
  libs/@local/hash-validation/package.json
  package.json
  turbo.json
Labels: area/apps > hash*, area/infra, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4449 H-2680: Fix production Docker compose setup
  .env
  .env.development
  .env.test
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Labels: area/apps > hash*, area/infra, area/infra > docker, area/apps

#4450 H-2684: Fix Bench CI on push to `main`
  .github/workflows/bench.yml
  turbo.json
Labels: area/infra

#4439 H-2624: Persist LLM response logs in dev, add more LLM utils
  .gitignore
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/scripts/compare-llm-response.ts
  apps/hash-ai-worker-ts/scripts/compare-llm-response/example.config.ts
  apps/hash-ai-worker-ts/scripts/compare-llm-response/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/open-ai-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/llm-message.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/log-llm-request.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/activities/shared/open-ai-seed.ts
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/auth/get-actor-id.ts
  apps/hash-api/src/generate-ontology-type-ids.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/system-account.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/seed-data/seed-flow-test-types.ts
  libs/@local/hash-backend-utils/src/public-user-account-id.ts
  libs/@local/hash-backend-utils/src/service-usage.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#4441 H-2589: Adjust AWS infra to use script to migrate
  .github/workflows/test.yml
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-api/src/index.ts
  apps/hash-integration-worker/src/main.ts
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/variables.tf
  infra/terraform/hash/main.tf
  infra/terraform/hash/prod-usea1.tfvars
  infra/terraform/hash/variables.tf
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps, area/infra > terraform

#4399 H-2541, H-2578: Enable worker querying of large PDFs
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-file-from-url-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/filter-and-rank-text-chunks-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/handle-query-pdf-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/llama-index/index-pdf-file.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/llama-index/simple-storage-context.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/tool-definitions.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/open-ai-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/get-file-entity-from-url.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/web-search-action.ts
  apps/hash-ai-worker-ts/src/activities/get-dereferenced-entity-types-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/find-existing-entity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-flow-context.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-api/package.json
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-api/src/seed-data/seed-flow-test-types.ts
  apps/hash-frontend/src/pages/flows.page/flow-definition/activity-log.tsx
  apps/hash-frontend/src/pages/flows.page/flow-definition/flow-run-sidebar.tsx
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4455 H-2687: Implement comparison filters in structural queries
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/upgrade-entities.ts
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/openapi/openapi.json
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps, area/apps > hash-graph

#4458 H-2686, H-2548: Handle incorrect and correct tool calls made by an LLM in the same request in the getLlmResponse method
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/tool-definitions.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-frontend/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, type/eng > frontend, area/apps

#4460 H-2681, H-2690, H-2691: Move bench analysis to `repo-chores`
  .github/scripts/read_criterion_bench_results.sh
  .github/workflows/bench.yml
  Cargo.lock
  Cargo.toml
  libs/@local/repo-chores/rust/Cargo.toml
  libs/@local/repo-chores/rust/bin/cli/main.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/analyze.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/mod.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/completions.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/mod.rs
  libs/@local/repo-chores/rust/package.json
  libs/@local/repo-chores/rust/src/benches/analyze/criterion.rs
  libs/@local/repo-chores/rust/src/benches/analyze/mod.rs
  libs/@local/repo-chores/rust/src/benches/fmt/latex.rs
  libs/@local/repo-chores/rust/src/benches/fmt/mod.rs
  libs/@local/repo-chores/rust/src/benches/mod.rs
  libs/@local/repo-chores/rust/src/benches/report.rs
  libs/@local/repo-chores/rust/src/lib.rs
  libs/@local/repo-chores/rust/turbo.json
Labels: area/deps, area/infra, area/libs, type/eng > backend

#4461 H-2572: Give research agent ability to ask clarifying questions
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-flow-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/get-answers-from-human.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/open-ai-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-flow-context.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/llm-message.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-api/src/graphql/resolvers/flows/runs.ts
  apps/hash-api/src/graphql/resolvers/flows/submit-external-input-response.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-frontend/src/pages/[shortname]/flows/[flow-uuid].page/flow-definition.tsx
  apps/hash-frontend/src/pages/[shortname]/flows/[flow-uuid].page/flow-definition/activity-log.tsx
  apps/hash-frontend/src/pages/[shortname]/flows/[flow-uuid].page/flow-definition/flow-run-sidebar.tsx
  apps/hash-frontend/src/pages/[shortname]/flows/[flow-uuid].page/flow-definition/run-flow-modal/manual-trigger-input.tsx
  apps/hash-frontend/src/pages/[shortname]/flows/[flow-uuid].page/flow-definition/shared/types.ts
  apps/hash-frontend/src/pages/[shortname]/flows/[flow-uuid].page/flow-definition/swimlane.tsx
  apps/hash-frontend/src/pages/[shortname]/flows/[flow-uuid].page/flow-definition/swimlane/custom-node.tsx
  apps/hash-frontend/src/pages/[shortname]/flows/[flow-uuid].page/flow-definition/swimlane/custom-node/node-styles.ts
  apps/hash-frontend/src/pages/[shortname]/flows/[flow-uuid].page/flow-definition/swimlane/custom-node/question-modal.tsx
  apps/hash-frontend/src/pages/[shortname]/flows/[flow-uuid].page/flow-definition/swimlane/shared/edge-styles.ts
  apps/hash-frontend/src/pages/shared/flow-runs-context.tsx
  libs/@hashintel/design-system/src/modal.tsx
  libs/@local/hash-backend-utils/src/flows.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  libs/@local/hash-isomorphic-utils/src/graphql/queries/flow.queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/flow.typedef.ts
  turbo.json
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4464 H-1897: Upload benchmark results to S3
  .github/workflows/bench.yml
  Cargo.lock
  Cargo.toml
  libs/@local/repo-chores/rust/Cargo.toml
  libs/@local/repo-chores/rust/bin/cli/main.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/analyze.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/mod.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/upload.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/mod.rs
  libs/@local/repo-chores/rust/package.json
  libs/@local/repo-chores/rust/src/benches/analyze/mod.rs
  libs/@local/repo-chores/rust/src/benches/mod.rs
  libs/@local/repo-chores/rust/src/benches/report.rs
  libs/@local/repo-chores/rust/src/benches/storage.rs
  libs/@local/repo-chores/rust/turbo.json
Labels: area/deps, area/infra, area/libs, type/eng > backend

#4469 H-2701: Automate creating tracing-data for benchmarks
  Cargo.lock
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/lib.rs
  apps/hash-graph/bench/util.rs
Labels: area/deps, area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4470 H-2702: Find corresponding tracing data when analyzing benchmarks
  Cargo.lock
  apps/hash-graph/bench/util.rs
  libs/@local/repo-chores/rust/Cargo.toml
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/analyze.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/mod.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/upload.rs
  libs/@local/repo-chores/rust/src/benches/analyze/criterion.rs
  libs/@local/repo-chores/rust/src/benches/analyze/mod.rs
  libs/@local/repo-chores/rust/src/benches/analyze/tracing.rs
  libs/@local/repo-chores/rust/src/benches/report.rs
  libs/@local/repo-chores/rust/src/benches/storage.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4476 H-2704: Allow creating flamegraphs from benchmark results
  Cargo.lock
  libs/@local/repo-chores/rust/Cargo.toml
  libs/@local/repo-chores/rust/src/benches/analyze/tracing.rs
Labels: area/deps, area/libs, type/eng > backend

#4483 H-1700, H-2560: Update browser plugin icons, display version on settings page
  apps/plugin-browser/src/assets/icons/default-128-dev.png
  apps/plugin-browser/src/assets/icons/default-128.png
  apps/plugin-browser/src/assets/icons/default-48-dev.png
  apps/plugin-browser/src/assets/icons/default-48.png
  apps/plugin-browser/src/assets/icons/disabled-128-dev.png
  apps/plugin-browser/src/assets/icons/disabled-128.png
  apps/plugin-browser/src/assets/icons/disabled-48-dev.png
  apps/plugin-browser/src/assets/icons/disabled-48.png
  apps/plugin-browser/src/assets/icons/enabled-128-dev.png
  apps/plugin-browser/src/assets/icons/enabled-128.png
  apps/plugin-browser/src/assets/icons/enabled-48-dev.png
  apps/plugin-browser/src/assets/icons/enabled-48.png
  apps/plugin-browser/src/assets/icons/error-128-dev.png
  apps/plugin-browser/src/assets/icons/error-128.png
  apps/plugin-browser/src/assets/icons/error-48-dev.png
  apps/plugin-browser/src/assets/icons/error-48.png
  apps/plugin-browser/src/assets/icons/success-128-dev.png
  apps/plugin-browser/src/assets/icons/success-128.png
  apps/plugin-browser/src/assets/icons/success-48-dev.png
  apps/plugin-browser/src/assets/icons/success-48.png
  apps/plugin-browser/src/assets/icons/warning-128-dev.png
  apps/plugin-browser/src/assets/icons/warning-128.png
  apps/plugin-browser/src/assets/icons/warning-48-dev.png
  apps/plugin-browser/src/assets/icons/warning-48.png
  apps/plugin-browser/src/assets/img/icon-24-default.png
  apps/plugin-browser/src/assets/img/icon-24-disabled.png
  apps/plugin-browser/src/assets/img/icon-24-enabled.png
  apps/plugin-browser/src/assets/img/icon-24-warning.png
  apps/plugin-browser/src/manifest.json
  apps/plugin-browser/src/pages/options/options-contents.tsx
  apps/plugin-browser/src/shared/badge.ts
  apps/plugin-browser/utils/build.js
  apps/plugin-browser/webpack-injected-env.d.ts
  apps/plugin-browser/webpack.config.js
Labels: area/apps

#4484 H-2164: Use same pagination/sorting approach for ontology types as for entities
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/openapi/openapi.json
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4489 H-2731: Temporarily make Playwright tests not required
  .github/workflows/test.yml
Labels: area/infra

#4477 H-2705: Upload the flamegraph SVGs to `benchmarks.hash.dev`
  .github/workflows/bench.yml
  Cargo.lock
  Cargo.toml
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bench/package.json
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/util.rs
  apps/hash-graph/package.json
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/analyze.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/upload.rs
  libs/@local/repo-chores/rust/src/benches/analyze/mod.rs
  libs/@local/repo-chores/rust/src/benches/analyze/tracing.rs
  libs/@local/repo-chores/rust/src/benches/mod.rs
  libs/@local/repo-chores/rust/src/benches/storage.rs
Labels: area/deps, area/apps > hash*, area/infra, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4474 H-2706: Link the flamegraphs in the benchmark results comment
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/analyze.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/mod.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/upload.rs
  libs/@local/repo-chores/rust/src/benches/analyze/criterion.rs
Labels: area/libs, type/eng > backend

#4475 H-2703: Trim `Thread(1)-main ` from flamegraphs
  libs/@local/repo-chores/rust/src/benches/analyze/tracing.rs
Labels: area/libs, type/eng > backend

#4494 H-2733: Update cargo tools
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .justfile
Labels: area/infra

#4498 H-2742: Specify revision for crc32c crate
  Cargo.lock
  Cargo.toml
Labels: area/deps

#4487 H-2618: Use the AI bot when persisting entities as appropriate
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/tool-definitions.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/get-file-entity-from-url.ts
Labels: area/apps > hash*, area/apps

#4488 H-2606: Support for `Counts` for ontology types
  apps/hash-graph/bench/representative_read/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/openapi/openapi.json
  tests/hash-graph-integration/postgres/data_type.rs
  tests/hash-graph-integration/postgres/entity_type.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/property_type.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4490 H-2538: Create test for creating a graph of interlinked entities in one transaction
  tests/hash-graph-integration/postgres/interconnected_graph.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/tests, area/tests > integration

#4495 H-2539: Add support in graph for Provenance Metadata for types
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/channel.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-types/rust/src/ontology/provenance.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4499 H-2752: Stop including `target/` folder in final docker image
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Labels: area/apps > hash*, area/infra, area/infra > docker, area/apps

#4500 H-2753: Update Renovate schedule for LLM provider SDKs
  .github/renovate.json
Labels: area/infra

#4467 H-2692: Infer facts from text before proposing entities
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/scripts/compare-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-facts-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts/propose-entities-from-facts.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts/propose-entity-from-facts.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts/propose-entity-from-facts.ts
  apps/hash-ai-worker-ts/src/activities/shared/activity-logger.ts
  apps/hash-ai-worker-ts/src/activities/shared/openai-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/stringify.ts
  apps/hash-ai-worker-ts/src/shared/testing-utilities/get-alice-user-account-id.ts
  apps/hash-ai-worker-ts/src/shared/testing-utilities/mock-get-flow-context.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/007-create-api-usage-tracking.migration.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#4497 H-2693: Implement fact gathering in the worker/coordinator agents of the research action
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/anthropic-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/deduplicate-entities.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/generate-previously-inferred-facts-system-prompt-message.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/filter-and-rank-text-chunks-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/handle-query-pdf-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/infer-facts-from-web-page-worker-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/llama-index/index-pdf-file.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/llama-index/simple-storage-context.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/tool-definitions.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/research-entities-action.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/summarize-existing-entities.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/summarize-existing-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/testing-utils.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-facts-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts/propose-entities-from-facts.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts/propose-entity-from-facts.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts/propose-entity-from-facts.ts
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/llm-message.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/shared/testing-utilities/mock-get-flow-context.ts
  apps/hash-api/src/seed-data/seed-flow-test-types.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#4485 H-2711, H-2712, H-2715: Add `/goals` and `/goals/new` pages
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-summary-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/handle-query-pdf-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-facts-from-web-page-worker-agent/tool-definitions.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/web-search-action.ts
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-api/src/ai/infer-entities-websocket.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/activity-log.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/run-flow-modal.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/swimlane/custom-node.tsx
  apps/hash-frontend/src/pages/flows.page.tsx
  apps/hash-frontend/src/pages/goals.page.tsx
  apps/hash-frontend/src/pages/goals.page/goals-list.tsx
  apps/hash-frontend/src/pages/goals.page/goals-list/goal-list-section.tsx
  apps/hash-frontend/src/pages/goals.page/goals-list/goal-list-section/goal-row.tsx
  apps/hash-frontend/src/pages/goals/new.page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-selector.tsx
  apps/hash-frontend/src/pages/shared/flow-definitions-context.tsx
  apps/hash-frontend/src/pages/shared/flow-runs-context.tsx
  apps/hash-frontend/src/pages/shared/flow-styles.tsx
  apps/hash-frontend/src/pages/shared/flow-tables.tsx
  apps/hash-frontend/src/pages/shared/virtualized-table.tsx
  apps/hash-frontend/src/pages/shared/web-selector.tsx
  apps/hash-frontend/src/pages/workers.page.tsx
  apps/hash-frontend/src/shared/workers-header.tsx
  apps/plugin-browser/.eslintrc.cjs
  apps/plugin-browser/src/pages/options/options-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/history.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/history/automatically-triggered.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/history/manually-triggered.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/history/shared/history-row.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off/infer-entities-action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/select-web-target.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/use-flow-runs.ts
  apps/plugin-browser/src/pages/popup/popup-contents/shared/user-context.tsx
  apps/plugin-browser/src/pages/shared/use-user-value.ts
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  apps/plugin-browser/src/shared/storage.ts
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-circle-one-regular.tsx
  libs/@hashintel/design-system/src/icon-lightbulb-on-regular.tsx
  libs/@local/hash-backend-utils/flows/get-flow-run-details.ts
  libs/@local/hash-isomorphic-utils/src/ai-inference-types.ts
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/example-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  libs/@local/hash-isomorphic-utils/src/graphql/queries/flow.queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/flow.typedef.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4509 H-2714: Fix upgrading types in migrations for self-hosted instances
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#4507 H-2763: Add provenance data to subgraph library
  libs/@local/hash-subgraph/src/types/element/knowledge.ts
  libs/@local/hash-subgraph/src/types/shared.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests

#4510 H-2768: Prevent passing wrong parameters when loading external types
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4508 H-2766: Make `label_property` camelCase instead of snake_case
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/openapi/openapi.json
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4511 H-2764: Add optional `userAgent` string field to origin provenance
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-types/rust/src/knowledge/entity/provenance.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4513 Upgrade Sentry dependencies
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-integration-worker/package.json
  apps/plugin-browser/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-isomorphic-utils/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4514 H-2772: Move `graph-benches` to `tests/`
  Cargo.toml
  apps/hash-graph/package.json
  libs/@local/repo-chores/rust/turbo.json
  tests/hash-graph-benches/Cargo.toml
  tests/hash-graph-benches/LICENSE.md
  tests/hash-graph-benches/package.json
  tests/hash-graph-benches/read_scaling/knowledge/complete/entity.rs
  tests/hash-graph-benches/read_scaling/knowledge/complete/mod.rs
  tests/hash-graph-benches/read_scaling/knowledge/linkless/entity.rs
  tests/hash-graph-benches/read_scaling/knowledge/linkless/mod.rs
  tests/hash-graph-benches/read_scaling/knowledge/mod.rs
  tests/hash-graph-benches/read_scaling/lib.rs
  tests/hash-graph-benches/representative_read/knowledge/entity.rs
  tests/hash-graph-benches/representative_read/knowledge/mod.rs
  tests/hash-graph-benches/representative_read/lib.rs
  tests/hash-graph-benches/representative_read/ontology/entity_type.rs
  tests/hash-graph-benches/representative_read/ontology/mod.rs
  tests/hash-graph-benches/representative_read/seed.rs
  tests/hash-graph-benches/util.rs
  tests/hash-graph-benches/writes/lib.rs
Labels: area/apps > hash*, area/infra, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph, type/legal

#4504 H-2722: Add AI-generated name for flow runs
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-flow-run-name-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-flow-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/shared/testing-utilities/mock-get-flow-context.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow/get-all-steps-in-flow.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow/initialize-flow.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow/pass-outputs-to-unprocessed-steps.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/015-add-flow-types.dev.migration.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar.tsx
  apps/hash-frontend/src/pages/goals.page/goals-list.tsx
  apps/hash-frontend/src/pages/shared/hidden-types.ts
  apps/hash-frontend/src/pages/workers.page.tsx
  apps/plugin-browser/src/graphql/queries/flow.queries.ts
  libs/@local/hash-backend-utils/flows/get-flow-run-details.ts
  libs/@local/hash-backend-utils/src/flows.ts
  libs/@local/hash-isomorphic-utils/src/flows/browser-plugin-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/example-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/mappings.ts
  libs/@local/hash-isomorphic-utils/src/flows/temporal-types.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  libs/@local/hash-isomorphic-utils/src/graphql/queries/flow.queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/flow.typedef.ts
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/system-types/flowdefinition.ts
  libs/@local/hash-isomorphic-utils/src/system-types/flowrun.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/usagerecord.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4512 H-2770: Cleanup `.nvmrc` files
  .nvmrc
  apps/hash-frontend/.nvmrc
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4527 H-2745: Revert specifying revision for crc32c crate
  Cargo.lock
  Cargo.toml
Labels: area/deps

#4516 H-2776: Add more instructions for running locally
  apps/hash/README.md
  apps/plugin-browser/README.md
Labels: area/infra, area/apps

#4518 H-2244, H-2559: Add history/provenance tab to entity editor
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts/propose-entity-from-facts.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graphql/context.ts
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/get-entity-diffs.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/get-history-events.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/provenance.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/provenance/sources-slideover.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/shared/chip.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/shared/event-detail.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/shared/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/entity-editor-tabs.tsx
  apps/hash-frontend/src/pages/admin/users.page.tsx
  apps/hash-frontend/src/pages/shared/virtualized-table.tsx
  libs/@hashintel/design-system/src/chip.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-code.tsx
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  libs/@local/hash-subgraph/src/types/element/knowledge.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps
