Repository hashintel/hash, pull requests merged in 2024-04, with the labels that each got.

#4245 H-2460: Support storing confidence values in Graph database
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/api/src/rest/utoipa_typedef/subgraph/vertices/vertex.rs
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/record.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/table.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V22__entity_properties.sql
  libs/@local/hash-graph-types/rust/src/knowledge/confidence.rs
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  libs/@local/hash-graph-types/rust/src/knowledge/link.rs
  libs/@local/hash-graph-types/rust/src/knowledge/mod.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, state/blocked, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4268 H-2433: Make `internal-api-client` more consistent with `hash-graph-client`
  libs/@local/internal-api-client-generator/package.json
  libs/@local/internal-api-client-generator/typescript/LICENSE.md
  libs/@local/internal-api-client-generator/typescript/package.json
  libs/@local/internal-api-client/typescript/.gitignore
  libs/@local/internal-api-client/typescript/.npmignore
  libs/@local/internal-api-client/typescript/.openapi-generator-ignore
  libs/@local/internal-api-client/typescript/.openapi-generator/FILES
  libs/@local/internal-api-client/typescript/.openapi-generator/VERSION
  libs/@local/internal-api-client/typescript/LICENSE.md
  libs/@local/internal-api-client/typescript/README.md
  libs/@local/internal-api-client/typescript/api.ts
  libs/@local/internal-api-client/typescript/base.ts
  libs/@local/internal-api-client/typescript/common.ts
  libs/@local/internal-api-client/typescript/configuration.ts
  libs/@local/internal-api-client/typescript/git_push.sh
  libs/@local/internal-api-client/typescript/index.ts
  libs/@local/internal-api-client/typescript/openapitools.json
  libs/@local/internal-api-client/typescript/package.json
  libs/@local/internal-api-client/typescript/tsconfig.json
Labels: area/infra, area/libs, type/eng > backend, type/legal

#4262 H-2483: Bump node version to 20.12
  .github/actions/warm-up-repo/action.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.lock
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-frontend/package.json
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  apps/hash-realtime/package.json
  apps/hash-search-loader/package.json
  apps/hash/README.md
  apps/hashdotdev/package.json
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
  infra/docker/realtime/prod/Dockerfile
  infra/docker/search-loader/prod/Dockerfile
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/queue/redis.ts
  libs/@local/hash-graph-client/typescript/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/internal-api-client/typescript/package.json
  libs/@local/status/typescript/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/infra > docker, area/apps > hash.dev, area/libs, type/eng > frontend, type/eng > backend, area/apps > hash-realtime, area/apps > hash-search-loader, area/apps, area/apps > hash-graph

#4289 H-2497: Update `HASH-O` license page redirect from HDEV
  apps/hashdotai/guide/10_flows/00_index.mdx
  apps/hashdotdev/next.config.js
Labels: area/apps > hash.dev, area/apps

#4273 H-2075: Add Sentry to Temporal workers
  .github/workflows/deploy.yml
  Cargo.lock
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-ai-worker-ts/tsconfig.json
  apps/hash-api/package.json
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/src/main.ts
  apps/hash-integration-worker/tsconfig.json
  infra/terraform/hash/main.tf
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/temporal/interceptors/activities/sentry.ts
  libs/@local/hash-backend-utils/src/temporal/interceptors/workflows/sentry.ts
  libs/@local/hash-backend-utils/src/temporal/sinks/sentry.ts
  turbo.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/apps, area/infra > terraform

#4299 H-2220: Update tech tree
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
Labels: area/apps > hash.dev, area/apps

#4277 H-2485: Add `getFileFromUrl` Flow action
  .env
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-file-from-url-action.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-api/package.json
  apps/hash-api/src/ai/gpt/gpt-query-entities.ts
  apps/hash-api/src/ai/gpt/gpt-query-types.ts
  apps/hash-api/src/auth/ory-kratos.ts
  apps/hash-api/src/generate-ontology-type-ids.ts
  apps/hash-api/src/graph/context-types.ts
  apps/hash-api/src/graph/knowledge/primitive/entity/after-update-entity-hooks/file-document-after-update-entity-hook-callback.ts
  apps/hash-api/src/graph/knowledge/system-types/file.ts
  apps/hash-api/src/graph/shared/rewrite-semantic-filter.ts
  apps/hash-api/src/graphql/context.ts
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/graphql/resolvers/flows/start-flow.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/integrations/google/create-or-update-sheets-integration.ts
  apps/hash-api/src/integrations/linear.ts
  apps/hash-api/src/integrations/linear/sync-back.ts
  apps/hash-api/src/integrations/linear/webhook.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-api/src/lib/config.ts
  apps/hash-api/src/storage/index.ts
  apps/hash-api/src/storage/local-file-storage.ts
  apps/hash-api/src/telemetry/snowplow-setup.ts
  apps/hash-api/src/temporal/index.ts
  apps/hash-api/src/util.ts
  apps/hash-external-services/docker-compose.ai.yml
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-external-services/docker-compose.test.yml
  infra/terraform/hash/main.tf
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/aws-config.ts
  libs/@local/hash-backend-utils/src/file-storage.ts
  libs/@local/hash-backend-utils/src/file-storage/aws-s3-storage-provider.ts
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/environment.ts
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/example-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/mappings.ts
  libs/@local/hash-isomorphic-utils/src/generate-uuid.ts
  tests/hash-backend-integration/src/tests/email.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/file.test.ts
  tests/hash-backend-integration/src/tests/util.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/infra > terraform

#4290 H-2493: Add Q&A Flow action, including executing LLM-generated Python code
  Cargo.lock
  apps/hash-ai-worker-ts/LICENSE.md
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/create-entities-activity.ts
  apps/hash-ai-worker-ts/src/activities/create-inference-usage-record-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-web-queries-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-summary-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/open-ai-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities-from-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries-from-web-page.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries/generate-summary-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/inference-types.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/log.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/extract-validation-failure-details.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-open-ai-response/openai-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/openai.ts
  apps/hash-ai-worker-ts/src/activities/shared/stringify.ts
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-ai-worker-ts/src/shared/logger.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-api/src/ai/gpt/gpt-query-entities.ts
  apps/hash-api/src/ai/gpt/gpt-query-types.ts
  apps/hash-api/src/ai/gpt/shared/entity-types.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graphql/resolvers/flows/runs.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/entity-editor-context.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-rows.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/draft-entity-banner.tsx
  apps/hash-frontend/src/pages/admin/users.page.tsx
  apps/hash-frontend/src/pages/admin/users/basic-info-section.tsx
  apps/hash-frontend/src/pages/inbox.page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/file-uploads-tab/action.tsx
  apps/hash-frontend/src/pages/shared/use-entity-href.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-menu.tsx
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/logger.ts
  libs/@local/hash-backend-utils/src/simplified-graph.ts
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/example-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/trigger-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  libs/@local/hash-isomorphic-utils/src/frontend-paths.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps, type/legal

#4298 H-2509: Add "Persist Entities" Flow action
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/open-ai-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/types.ts
  apps/hash-ai-worker-ts/src/activities/get-dereferenced-entity-types-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries/generate-summary-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/inference-types.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/generate-persist-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities/generate-propose-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/extract-validation-failure-details.ts
  apps/hash-ai-worker-ts/src/activities/shared/create-inferred-entity-notification.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-ai-worker-ts/src/activities/shared/find-existing-entity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-entity-by-filter.ts
  blocks/kanban-board/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  libs/@blockprotocol/graph/package.json
  libs/@local/hash-backend-utils/src/notifications.ts
  libs/@local/hash-isomorphic-utils/src/ai-inference-types.ts
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/example-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/blocks, area/libs, type/eng > backend, area/apps

#4303 H-2513: Allow validating an entity without checking linkData
  Cargo.lock
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-validation/src/data_type.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
  libs/@local/hash-validation/src/property_type.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#4304 H-2462, H-2464: Allow storing provenance data
  Cargo.lock
  Cargo.toml
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/primitive/link-entity.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-frontend/src/shared/use-actors.ts
  apps/hash-graph/bench/util.rs
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/table.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/metadata/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V23__provenance.sql
  apps/hash-graph/tests/friendship.http
  libs/@local/codec/Cargo.toml
  libs/@local/codec/src/lib.rs
  libs/@local/codec/src/serde.rs
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/package.json
  libs/@local/hash-graph-types/rust/src/knowledge/entity/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/entity/provenance.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-graph-types/rust/src/ontology/provenance.rs
  libs/@local/temporal-versioning/Cargo.toml
  libs/@local/temporal-versioning/package.json
  libs/@local/temporal-versioning/src/lib.rs
  libs/@local/temporal-versioning/src/timestamp.rs
  tests/hash-graph-integration/postgres/confidence.rs
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/multi_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4305 H-2521: Improve Worker Agent
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities-from-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-ai-worker-ts/src/activities/shared/openai.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-frontend/src/pages/ai.page/research-task-flow.tsx
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4272 H-2451: Partially fix entity editor behavior when clicking between cells
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4319 H-2525: Various misc copy updates
  Cargo.lock
  README.md
  apps/hashdotai/blog/037_what-is-the-block-protocol.mdx
  apps/hashdotai/blog/039_self-building-database.mdx
  apps/hashdotai/guide/06_flows/01_triggers.mdx
  apps/hashdotai/guide/11_pages/04_chips.mdx
Labels: area/deps, area/infra, priority/3 low, area/apps

#4323 H-2519: Add Slack notification if merge group job is failing
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: area/infra, priority/3 low

#4318 H-2495: Create layer to translate LLM calls to Anthropic/OpenAI API calls
  .github/workflows/test.yml
  apps/hash-ai-worker-ts/README.md
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/create-entities-activity.ts
  apps/hash-ai-worker-ts/src/activities/create-inference-usage-record-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-web-queries-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-summary-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/open-ai-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/util.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities-from-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries-from-web-page.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries/generate-summary-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/inference-types.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/generate-persist-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities/generate-propose-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/generate-propose-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-open-ai-response/openai-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/openai-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/openai.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-external-services/docker-compose.ai.yml
  infra/terraform/hash/main.tf
  libs/@blockprotocol/graph/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/libs, priority/1 high, area/apps, area/infra > terraform

#4326 H-2501: Provide interface to calculate diff between two entities
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-types/rust/src/knowledge/entity/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/diff.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, priority/1 high, type/eng > backend, area/apps, area/apps > hash-graph

#4330 H-2522, H-2527: Switch inference agent to Claude 3, unify `Message` definitions in `getLlmResponse` method
  apps/hash-ai-worker-ts/src/activities/create-entities-activity.ts
  apps/hash-ai-worker-ts/src/activities/create-inference-usage-record-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-web-queries-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-summary-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/open-ai-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/get-dereferenced-entity-types-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities-from-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entities-system-prompt.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries-from-web-page.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/inference-types.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/generate-persist-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/generate-propose-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/generate-simplified-type-id.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/map-simplified-properties-to-properties.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/strip-ids-from-dereferenced-properties.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-ai-worker-ts/src/activities/shared/find-existing-entity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/llm-message.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/activities/shared/internal-api-client.ts
  apps/hash-api/src/seed-data/seed-flow-test-types.ts
  libs/@local/hash-subgraph/src/types/element/knowledge.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, priority/1 high, type/eng > backend, area/apps

#4329 H-1914: Support counting for entity queries
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/knowledge/entity.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/libs/graph/src/subgraph/query.rs
  apps/hash-graph/openapi/openapi.json
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, priority/2 medium, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4337 H-2534: Manually specify kratos version in Terraform
  infra/terraform/hash/hash_application/kratos.tf
Labels: area/infra, priority/3 low, area/infra > terraform

#4345 Revert "H-2534: Manually specify kratos version in Terraform"
  infra/terraform/hash/hash_application/kratos.tf
Labels: area/infra, area/infra > terraform

#4349 H-2550: Temporarily disable PW tests
  .github/workflows/test.yml
Labels: area/infra

#4350 H-2551: Enable Playwright tests again
  .github/workflows/test.yml
Labels: area/infra

#4353 H-2556: Don't try publishing Rust packages to `npm`
  .changeset/config.json
  apps/hash-graph/libs/query-builder-derive/package.json
Labels: area/apps > hash*, area/infra, type/eng > backend, area/apps, area/apps > hash-graph

#4352 H-2356: Improve `tracing` configuration
  Cargo.lock
  apps/hash-graph/bins/cli/src/main.rs
  apps/hash-graph/bins/cli/src/subcommand/mod.rs
  libs/@local/tracing/Cargo.toml
  libs/@local/tracing/src/console.rs
  libs/@local/tracing/src/formatter.rs
  libs/@local/tracing/src/lib.rs
  libs/@local/tracing/src/logging.rs
  libs/@local/tracing/src/opentelemetry.rs
  libs/@local/tracing/src/sentry.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4356 H-2552: Enable logging in graph-integration tests
  Cargo.lock
  libs/@local/tracing/src/console.rs
  libs/@local/tracing/src/lib.rs
  libs/@local/tracing/src/logging.rs
  tests/hash-graph-integration/Cargo.toml
  tests/hash-graph-integration/package.json
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/deps, area/libs, type/eng > backend, area/tests, area/tests > integration

#4238 H-2468: Check instantiate permissions on entity update
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, priority/2 medium, area/apps, area/apps > hash-graph

#4346 H-2496: Add link creation capabilities to the research entities action, including between proposed and existing entities
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/infer-entities-from-web-page-worker-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/open-ai-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/util.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities-from-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries-from-web-page.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries/generate-summary-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/inference-types.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/generate-persist-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/generate-propose-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/shared/find-existing-entity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-entity-by-filter.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/activities/shared/map-action-input-entities-to-entities.ts
  apps/hash-ai-worker-ts/src/activities/shared/simplify-entity.ts
  apps/hash-frontend/src/pages/ai.page/research-task-flow.tsx
  libs/@local/hash-isomorphic-utils/src/ai-inference-types.ts
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4361 H-2502: Add test to check that types load on `/types` page
  tests/hash-playwright/tests/types-page.spec.ts
Labels: area/tests, area/tests > playwright

#4371 H-2586: Add debug logs to Node API, increase health check grace period
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types.ts
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/temporal_worker_ai_ts.tf
  infra/terraform/hash/prod-usea1.tfvars
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps, area/infra > terraform

#4372 H-2587: Parallelize entity migrations, add grace period for load balancer checks
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/upgrade-entities.ts
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/main.tf
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps, area/infra > terraform

#4283 H-2504: `harpc` wire protocol
  Cargo.lock
  Cargo.toml
  apps/hash-graph/libs/query-builder-derive/Cargo.toml
  apps/hash-graph/libs/query-builder-derive/package.json
  apps/hashdotai/glossary/agent-based-modeling.mdx
  apps/hashdotai/glossary/business-process-modeling.mdx
  apps/hashdotai/glossary/dag.mdx
  apps/hashdotai/glossary/data-mining.mdx
  apps/hashdotai/glossary/data-pipelines.mdx
  apps/hashdotai/glossary/deep-reinforcement-learning.mdx
  apps/hashdotai/glossary/process-mining.mdx
  apps/hashdotai/glossary/robustness.mdx
  apps/hashdotai/glossary/system-dynamics.mdx
  apps/hashdotai/glossary/types.mdx
  libs/@local/harpc/types/Cargo.toml
  libs/@local/harpc/types/LICENSE.md
  libs/@local/harpc/types/package.json
  libs/@local/harpc/types/src/lib.rs
  libs/@local/harpc/types/src/procedure.rs
  libs/@local/harpc/types/src/service.rs
  libs/@local/harpc/types/src/version.rs
  libs/@local/harpc/wire-protocol/Cargo.toml
  libs/@local/harpc/wire-protocol/LICENSE.md
  libs/@local/harpc/wire-protocol/docs/harpc.svg
  libs/@local/harpc/wire-protocol/package.json
  libs/@local/harpc/wire-protocol/proptest-regressions/request/body.txt
  libs/@local/harpc/wire-protocol/src/codec/decode.rs
  libs/@local/harpc/wire-protocol/src/codec/encode.rs
  libs/@local/harpc/wire-protocol/src/codec/mod.rs
  libs/@local/harpc/wire-protocol/src/codec/types.rs
  libs/@local/harpc/wire-protocol/src/flags.rs
  libs/@local/harpc/wire-protocol/src/lib.rs
  libs/@local/harpc/wire-protocol/src/payload.rs
  libs/@local/harpc/wire-protocol/src/protocol.rs
  libs/@local/harpc/wire-protocol/src/request/begin.rs
  libs/@local/harpc/wire-protocol/src/request/body.rs
  libs/@local/harpc/wire-protocol/src/request/codec.rs
  libs/@local/harpc/wire-protocol/src/request/flags.rs
  libs/@local/harpc/wire-protocol/src/request/frame.rs
  libs/@local/harpc/wire-protocol/src/request/header.rs
  libs/@local/harpc/wire-protocol/src/request/id.rs
  libs/@local/harpc/wire-protocol/src/request/mod.rs
  libs/@local/harpc/wire-protocol/src/request/procedure.rs
  libs/@local/harpc/wire-protocol/src/request/service.rs
  libs/@local/harpc/wire-protocol/src/response/begin.rs
  libs/@local/harpc/wire-protocol/src/response/body.rs
  libs/@local/harpc/wire-protocol/src/response/flags.rs
  libs/@local/harpc/wire-protocol/src/response/frame.rs
  libs/@local/harpc/wire-protocol/src/response/header.rs
  libs/@local/harpc/wire-protocol/src/response/kind.rs
  libs/@local/harpc/wire-protocol/src/response/mod.rs
Labels: area/deps, area/apps > hash*, area/apps > hash.ai, area/infra, area/libs, priority/1 high, type/eng > backend, area/apps, area/apps > hash-graph, type/legal

#4373 H-2588: Increase ELB timeout and interval
  infra/terraform/hash/hash_application/main.tf
Labels: area/infra, area/infra > terraform

#4376 Bump Rust dependencies
  .github/scripts/rust/sync-turborepo.rs
  Cargo.lock
  libs/@local/harpc/wire-protocol/package.json
Labels: area/deps, area/infra, area/libs, type/eng > backend

#4377 H-2597: Support `WIP_` blog posts on hash.dev
  apps/hashdotdev/src/pages/shared/mdx-utils.ts
  apps/hashdotdev/src/util/mdx-util.ts
Labels: area/apps > hash.dev, area/apps
