Repository hashintel/hash, pull requests merged in 2024-07, with the labels that each got.

#4648 H-3008: Update internal `@todo` links in repo
  apps/hash-api/src/email/index.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/primitive/entity/before-update-entity-hooks/user-before-update-entity-hook-callback.ts
  apps/hash-api/src/graph/knowledge/system-types/account.fields.ts
  apps/hash-api/src/graph/knowledge/system-types/comment.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graphql/resolvers/knowledge/block-collection/update-block-collection-contents.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/graphql/resolvers/ontology/data-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/property-type.ts
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-query-entities.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-query-data-types.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-query-entity-types.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/ontology/use-block-protocol-query-property-types.ts
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-context-menu.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/load-entity-menu-content.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-handle.tsx
  apps/hash-frontend/src/pages/shared/block-collection/collab/use-collab-position-tracking.tsx
  apps/hash-frontend/src/pages/shared/block-collection/comments/comment-thread.tsx
  apps/hash-frontend/src/pages/shared/block-collection/create-editor-view.ts
  apps/hash-frontend/src/pages/shared/block-collection/create-format-plugins/link-modal.tsx
  apps/hash-frontend/src/pages/shared/verify-code.tsx
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/json.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/api/src/rest/test_server.rs
  apps/hash-graph/libs/graph/src/knowledge/mod.rs
  apps/hash-graph/libs/graph/src/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/ontology/domain_validator.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/libs/graph/src/subgraph/edges/kind.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-realtime/src/index.ts
  apps/hash-search-loader/src/search-loader.ts
  blocks/image/src/components/media.tsx
  blocks/video/src/components/media.tsx
  libs/@hashintel/design-system/src/white-card.tsx
  libs/@local/hash-isomorphic-utils/src/blocks.ts
  libs/@local/hash-isomorphic-utils/src/entity-store-plugin.ts
  libs/@local/hash-isomorphic-utils/src/entity-store.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/subgraph.typedef.ts
  libs/@local/hash-isomorphic-utils/src/prosemirror-manager.ts
  libs/deer/src/lib.rs
  libs/deer/tests/test_struct_visitor.rs
  tests/hash-graph-benches/representative_read/seed.rs
  tests/hash-playwright/playwright.config.ts
Labels: area/apps > hash*, area/apps > hash-api, area/blocks, area/libs, area/libs > deer, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps > hash-realtime, area/apps > hash-search-loader, area/apps, area/apps > hash-graph

#4656 H-2554, H-1948, H-2396, H-1388: various bug fixes/visual improvements
  apps/hash-frontend/src/pages/[shortname].page/profile-page-info.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities/draft-entities-context-bar.tsx
  apps/hash-frontend/src/pages/settings/organizations/index.page.tsx
  apps/hash-frontend/src/pages/shared/discard-draft-entity-button.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  libs/@local/hash-subgraph/src/stdlib/subgraph/edge/link-entity.ts
  libs/@local/hash-subgraph/src/types/shared/branded.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4663 H-3043: Add test case to check add operation for existing property
  tests/hash-graph-integration/postgres/partial_updates.rs
Labels: area/tests, area/tests > integration

#4662 H-3042: Add machine actor type
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-types/rust/src/knowledge/entity/provenance.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4664 H-3044: Improve ontology type id typings
  apps/hash-ai-worker-ts/src/activities/flow-activities/write-google-sheet-action/get-filter-from-bp-query-entity.ts
  apps/hash-api/src/ai/gpt/gpt-query-entities.ts
  apps/hash-api/src/generate-ontology-type-ids.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/011-deprecate-preferred-name.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/015-add-flow-types.dev.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/017-add-use-case-form-and-example-org.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/knowledge/system-types/comment.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-user-secret.ts
  apps/hash-api/src/graph/knowledge/system-types/notification.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/system-account.ts
  apps/hash-api/src/graphql/resolvers/knowledge/page/update-page.ts
  apps/hash-api/src/integrations/linear/sync-back.ts
  apps/hash-api/src/storage/index.ts
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/pages/[shortname].page.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-pinned-entity-types-modal.tsx
  apps/hash-frontend/src/pages/[shortname].page/edit-user-profile-info-modal/user-profile-info-form.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page/canvas-page/block-creation-dialog.tsx
  apps/hash-frontend/src/pages/notes.page/editable-quick-note.tsx
  apps/hash-frontend/src/pages/shared/block-collection-contents.ts
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/grid-view/grid-view-item.tsx
  apps/hash-frontend/src/pages/shared/use-create-block-collection.ts
  apps/hash-frontend/src/shared/entity-types-context/hooks.ts
  apps/hash-integration-worker/src/linear-activities.ts
  libs/@local/hash-backend-utils/src/linear-type-mappings.ts
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-backend-utils/src/notifications.ts
  libs/@local/hash-isomorphic-utils/src/entity-store.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  tests/hash-playwright/tests/inbox-page.spec.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps

#4655 H-2774: Show type and draft status change in entity history tab
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/get-history-events.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/shared/event-detail.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/shared/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/update-entity-subgraph-state-by-entity.ts
  libs/@local/hash-subgraph/src/types/shared/branded.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4639 H-2950: Simplify coordinator progress report and entity submission
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/check-sub-tasks-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/check-sub-tasks-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/generate-previously-inferred-facts-system-prompt-message.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/handle-web-search-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-for-llm-consumption.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-for-llm-consumption.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/util.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts/propose-entities-from-facts.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/web-search-action.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/log-llm-request.ts
  apps/hash-frontend/src/pages/workers.page.tsx
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4673 H-3057: Fix `originType == "flow"` failing to deserialize
  libs/@local/hash-graph-types/rust/src/knowledge/entity/provenance.rs
Labels: area/apps > hash*, area/libs, type/eng > backend

#4675 H-3061: Disable caching for building frontend
  apps/hash-frontend/turbo.json
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4676 H-3067: Update README to make connection to RDS easier
  infra/terraform/hash/bastion.md
Labels: area/infra, area/infra > terraform

#4678 GEN-68: Capture source errors when converting `Error` to `Report`
  Cargo.lock
  libs/error-stack/CHANGELOG.md
  libs/error-stack/src/context.rs
  libs/error-stack/src/report.rs
  libs/error-stack/src/result.rs
  libs/error-stack/tests/test_conversion.rs
Labels: area/deps, area/infra, area/libs > error-stack, area/libs, area/tests

#4685 GEN-115: Don't compile backtrace support if feature is disabled
  libs/error-stack/.justfile
  libs/error-stack/CHANGELOG.md
  libs/error-stack/Cargo.toml
  libs/error-stack/build.rs
  libs/error-stack/src/fmt/hook.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/report.rs
  libs/error-stack/tests/common.rs
  libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  libs/error-stack/tests/snapshots/test_debug__full__multiline_context.snap
  libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace.snap
  libs/error-stack/tests/test_backtrace.rs
  libs/error-stack/tests/test_compatibility.rs
  libs/error-stack/tests/test_debug.rs
Labels: area/infra, area/libs > error-stack, area/libs, area/tests

#4686 H-3068: Set rate max retry duration for Renovate
  .github/renovate.json
Labels: area/infra

#4690 H-3071: Fix hashdotdesign vercel install step
  apps/hashdotdesign/vercel-install.sh
Labels: area/apps, area/apps > hash.design

#4689 H-2975: Make all data type constraints strongly typed
  Cargo.lock
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/number-or-text-input.tsx
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/openapi/openapi.json
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/package.json
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/array.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/boolean.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/error.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/null.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/number.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/object.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/string.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/raw.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/raw.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector.tsx
  libs/@local/codec/Cargo.toml
  libs/@local/codec/src/serde/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/value.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
  libs/@local/hash-graph-types/typescript/src/ontology.ts
  libs/@local/hash-validation/src/data_type.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/error.rs
  libs/@local/hash-validation/src/lib.rs
  libs/@local/hash-validation/src/property_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/property_metadata.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4691 H-3073: Use `multipleOf` to determine exclusive min/max in data type validation
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/number-or-text-input.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4698 H-3078: Set concurrent limits for branches and PRs for renovate
  .github/renovate.json
Labels: area/infra

#4705 GEN-187: Improve Renovate dependency grouping
  .github/renovate.json
Labels: area/deps, area/infra, category/bug, area/tests

#4706 GEN-188: Release `error-stack@0.5.0`
  .github/workflows/test.yml
  Cargo.lock
  libs/error-stack/CHANGELOG.md
  libs/error-stack/Cargo.toml
  libs/error-stack/build.rs
  libs/error-stack/src/context.rs
  libs/error-stack/src/error.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/report.rs
  libs/error-stack/src/result.rs
  libs/error-stack/tests/ui/into_report.rs
  libs/error-stack/tests/ui/into_report.stderr
Labels: area/deps, area/infra, area/libs > error-stack, area/libs, area/tests

#4708 H-3097: Use `error-stack@0.5.0`
  Cargo.lock
  Cargo.toml
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@local/repo-chores/rust/Cargo.toml
  libs/deer/Cargo.toml
  libs/deer/desert/Cargo.toml
  libs/deer/json/Cargo.toml
Labels: area/deps, area/libs, area/libs > deer, type/eng > backend

#4714 H-2886: Change postgres pool from `bb8` to `deadpool`
  Cargo.lock
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/upgrade-entities.ts
  apps/hash-graph/libs/api/src/rest/test_server.rs
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/store/config.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/pool.rs
  tests/hash-graph-benches/util.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/deps, area/apps > hash*, area/apps > hash-api, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4716 H-3099: Run migrations sequentially instead of in parallel
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/upgrade-entities.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#4719 H-3105: Fix `lodash/isEqual` issue
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/upgrade-entities.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#4721 H-3112: Fix typo in `apps/README.md`
  apps/README.md
Labels: area/infra, area/apps

#4725 H-3106: Account for inheritance when generating `properties-with-metadata`
  libs/@blockprotocol/graph/src/codegen/initialize/metadata/generate-metadata-schema.ts
  libs/@blockprotocol/graph/src/codegen/initialize/traverse-and-collate-schemas.ts
  libs/@local/hash-isomorphic-utils/src/system-types/canvas.ts
  libs/@local/hash-isomorphic-utils/src/system-types/commentnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/document.ts
  libs/@local/hash-isomorphic-utils/src/system-types/docxdocument.ts
  libs/@local/hash-isomorphic-utils/src/system-types/facebookaccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/githubaccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/google/googlesheetsfile.ts
  libs/@local/hash-isomorphic-utils/src/system-types/google/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/graphchangenotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/instagramaccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/attachment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linkedinaccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/machine.ts
  libs/@local/hash-isomorphic-utils/src/system-types/mentionnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/pdfdocument.ts
  libs/@local/hash-isomorphic-utils/src/system-types/pptxpresentation.ts
  libs/@local/hash-isomorphic-utils/src/system-types/quicknote.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/spreadsheetfile.ts
  libs/@local/hash-isomorphic-utils/src/system-types/tiktokaccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/twitteraccount.ts
  libs/@local/hash-isomorphic-utils/src/system-types/usagerecord.ts
Labels: area/apps > hash*, area/libs, type/eng > backend

#4713 H-3119: `harpc`: integrate harpc with tower
  Cargo.lock
  Cargo.toml
  libs/@local/harpc/net/Cargo.toml
  libs/@local/harpc/net/src/codec.rs
  libs/@local/harpc/net/src/lib.rs
  libs/@local/harpc/net/src/session/client/connection/mod.rs
  libs/@local/harpc/net/src/session/client/connection/test.rs
  libs/@local/harpc/net/src/session/client/mod.rs
  libs/@local/harpc/net/src/session/client/transaction/stream.rs
  libs/@local/harpc/net/src/session/client/transaction/test.rs
  libs/@local/harpc/net/src/session/error.rs
  libs/@local/harpc/net/src/session/server/connection/mod.rs
  libs/@local/harpc/net/src/session/server/mod.rs
  libs/@local/harpc/net/src/session/server/session_id.rs
  libs/@local/harpc/net/src/session/server/transaction/mod.rs
  libs/@local/harpc/net/src/session/test.rs
  libs/@local/harpc/tower/Cargo.toml
  libs/@local/harpc/tower/LICENSE.md
  libs/@local/harpc/tower/package.json
  libs/@local/harpc/tower/src/body/boxed.rs
  libs/@local/harpc/tower/src/body/controlled.rs
  libs/@local/harpc/tower/src/body/empty.rs
  libs/@local/harpc/tower/src/body/full.rs
  libs/@local/harpc/tower/src/body/limited.rs
  libs/@local/harpc/tower/src/body/map.rs
  libs/@local/harpc/tower/src/body/mod.rs
  libs/@local/harpc/tower/src/body/server/mod.rs
  libs/@local/harpc/tower/src/body/server/request.rs
  libs/@local/harpc/tower/src/body/size_hint.rs
  libs/@local/harpc/tower/src/body/stream.rs
  libs/@local/harpc/tower/src/body/timeout.rs
  libs/@local/harpc/tower/src/either.rs
  libs/@local/harpc/tower/src/extensions.rs
  libs/@local/harpc/tower/src/layer/error.rs
  libs/@local/harpc/tower/src/layer/mod.rs
  libs/@local/harpc/tower/src/layer/report.rs
  libs/@local/harpc/tower/src/lib.rs
  libs/@local/harpc/tower/src/net/mod.rs
  libs/@local/harpc/tower/src/net/pack.rs
  libs/@local/harpc/tower/src/net/unpack.rs
  libs/@local/harpc/tower/src/request.rs
  libs/@local/harpc/tower/src/response.rs
  libs/@local/harpc/wire-protocol/src/response/kind.rs
Labels: area/deps, area/infra, area/libs, type/eng > backend, type/legal

#4723 H-2713, H-2983, H-3064: Improve Flow output visualization
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/check-sub-tasks-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/get-link-follower-next-tool-calls.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/link-follower-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-for-llm-consumption.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-facts-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/web-search-action.ts
  apps/hash-ai-worker-ts/src/activities/get-dereferenced-entity-types-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/check-web-service-usage-not-exceeded.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/constants.ts
  apps/hash-api/src/seed-data/seed-flow-test-types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/provenance/sources-slideover.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/shared/event-detail.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/activity-log.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/dag-slide.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/dag.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar/group-status.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar/group-status/group-step-status.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar/manager.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/entity-result-table.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/shared/icons.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/shared/output-container.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/section-label.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/shared/question-modal.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/shared/types.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/swimlane/custom-node.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/topbar.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/use-entity-type-value.tsx
  apps/hash-frontend/src/pages/shared/value-chip.tsx
  apps/hash-frontend/src/pages/shared/virtualized-table.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-check-regular.tsx
  libs/@hashintel/design-system/src/icon-circle-check-regular.tsx
  libs/@hashintel/design-system/src/icon-shapes-regular.tsx
  libs/@local/hash-backend-utils/flows/get-flow-run-details.ts
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/hash-instance.ts
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-backend-utils/src/service-usage.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hash-subgraph/src/stdlib.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/edge/entity-type.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/element/property-type.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4734 H-3120: Add a `ClosedDataType` schema based on the normal `DataType` schema
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/postgres_migrations/V27__closed_data_types_2.sql
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/raw.rs
  libs/@local/harpc/tower/package.json
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4733 H-3084, H-3115, H-3116: Show prompt, resolved questions for flow run
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/handle-web-search-tool-call.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/activity-log.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar/manager.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar/manager/resolved-questions-modal.tsx
  apps/hash-frontend/src/pages/shared/virtualized-table.tsx
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4738 H-3124: Update CI Slack notifications
  .github/workflows/bench.yml
  .github/workflows/deploy.yml
  .github/workflows/hash-backend-cd.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/tf-apply-hash.yml
Labels: area/infra

#4739 H-2750: Fix Playwright tests and require them as part of CI
  .github/workflows/test.yml
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-graph/libs/graph/package.json
  apps/hash-graph/package.json
  apps/hash-integration-worker/package.json
  apps/hash-realtime/package.json
  apps/hash-search-loader/package.json
  apps/hashdotdev/package.json
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/entity-type-selector.tsx
  libs/@local/hash-graph-sdk/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/repo-chores/node/package.json
  tests/hash-playwright/tests/guest-user.spec.ts
  tests/hash-playwright/tests/profile-page.spec.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/apps > hash.dev, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps > hash-realtime, area/apps > hash-search-loader, area/apps, area/apps > hash-graph

#4742 H-3122: Make choosing relevant links quicker / more efficient
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/extract-links-from-content.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/get-link-follower-next-tool-calls.ts
  apps/hash-ai-worker-ts/src/shared/testing-utilities/mock-get-flow-context.ts
  apps/hash-ai-worker-ts/vitest.config.js
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps

#4744 H-3133: Fix `hashdotdev` deployment
  apps/hashdotdev/vercel-install.sh
  libs/@blockprotocol/type-system/rust/package.json
  yarn.lock
Labels: area/deps, area/apps > hash.dev, area/libs, area/apps

#4754 H-2773: Don't start sync back watcher if Linear integration disabled
  apps/hash-api/src/index.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#4743 H-3121: Allow resolving closed data types
  Cargo.lock
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/raw.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/object/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/one_of/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/property_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4755 H-3155: Update HASH license from `1.1` to `1.2`
  .github/licenses/LICENSE-HASH.md
  apps/hash-ai-worker-ts/LICENSE.md
  libs/@local/internal-api-client/typescript/LICENSE.md
Labels: area/apps > hash*, area/infra, area/libs, type/eng > backend, area/apps, type/legal

#4757 H-3141: LLM prompt improvements
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-summary-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/handle-web-search-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/get-link-follower-next-tool-calls.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-for-llm-consumption.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.optimize/test-data.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-entity-facts-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-facts-from-text/infer-facts-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-facts/propose-entity-from-facts-agent.ts
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-anthropic-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-openai-reponse.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/validation.ts
  apps/hash-ai-worker-ts/src/activities/shared/inference-model-alias-to-llm-model.ts
  apps/hash-ai-worker-ts/src/activities/shared/optimize-system-prompt.ts
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-ai-worker-ts/tsconfig.json
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/activity-log.tsx
  apps/hash-frontend/src/pages/shared/virtualized-table.tsx
  apps/hash-frontend/tsconfig.json
  apps/hashdotdev/tsconfig.json
  apps/plugin-browser/tsconfig.json
  apps/plugin-browser/webpack.config.js
  libs/@blockprotocol/graph/tsconfig.json
  libs/@blockprotocol/type-system/typescript/tsconfig.json
  libs/@hashintel/block-design-system/tsconfig.json
  libs/@hashintel/design-system/tsconfig.json
  libs/@hashintel/query-editor/tsconfig.json
  libs/@hashintel/type-editor/tsconfig.json
  libs/@local/hash-isomorphic-utils/tsconfig.json
  libs/@local/tsconfig/block.json
  libs/@local/tsconfig/legacy-base-tsconfig-to-refactor.json
  tests/hash-playwright/tsconfig.json
Labels: area/apps > hash*, area/apps > hash.dev, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps

#4766 H-3168: Fix API migration on AWS
  infra/terraform/hash/hash_application/api.tf
Labels: area/infra, area/infra > terraform

#4752 H-3138: Get Artillery set up locally
  .github/renovate.json
  tests/hash-backend-performance/LICENSE.md
  tests/hash-backend-performance/artillery.yml
  tests/hash-backend-performance/package.json
  tests/hash-backend-performance/scenarios/ontology-read.yml
  tests/hash-backend-performance/turbo.json
  yarn.lock
Labels: area/deps, area/infra, area/tests, type/legal

#4765 H-3164: Add artillery scenario to login and query `me`
  tests/hash-backend-performance/scenarios/login.yml
Labels: area/tests

#4767 H-3165: Set up hooks for artillery
  tests/hash-backend-performance/.eslintrc.cjs
  tests/hash-backend-performance/artillery.yml
  tests/hash-backend-performance/package.json
  tests/hash-backend-performance/rollup.config.ts
  tests/hash-backend-performance/scenarios/login.yml
  tests/hash-backend-performance/src/main.ts
  tests/hash-backend-performance/src/session.ts
  tests/hash-backend-performance/src/types.ts
  tests/hash-backend-performance/tsconfig.build.json
  tests/hash-backend-performance/tsconfig.json
  tests/hash-backend-performance/turbo.json
  yarn.lock
Labels: area/deps, area/tests

#4768 H-3179: Add specific `.nvmrc` subdir files
  apps/hashdotdesign/.nvmrc
  apps/hashdotdev/.nvmrc
Labels: area/apps > hash.dev, area/apps, area/apps > hash.design

#4769 H-3180: Read user entity after logging in
  tests/hash-backend-performance/artillery.yml
  tests/hash-backend-performance/package.json
  tests/hash-backend-performance/rollup.config.ts
  tests/hash-backend-performance/scenarios/login.yml
  tests/hash-backend-performance/src/graph.ts
  tests/hash-backend-performance/src/session.ts
Labels: area/tests

#4753 H-3153: Implement HQL CST
  Cargo.lock
  Cargo.toml
  libs/@local/hql/README.md
  libs/@local/hql/cst/.gitattributes
  libs/@local/hql/cst/Cargo.toml
  libs/@local/hql/cst/LICENSE.md
  libs/@local/hql/cst/package.json
  libs/@local/hql/cst/src/arena.rs
  libs/@local/hql/cst/src/call.rs
  libs/@local/hql/cst/src/codec/deserialize.rs
  libs/@local/hql/cst/src/codec/mod.rs
  libs/@local/hql/cst/src/constant.rs
  libs/@local/hql/cst/src/expr.rs
  libs/@local/hql/cst/src/lib.rs
  libs/@local/hql/cst/src/parse.rs
  libs/@local/hql/cst/src/path.rs
  libs/@local/hql/cst/src/signature.rs
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__fn_empty.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__fn_empty_args.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__fn_is_expr.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__object_is_args_without_fn.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__object_is_call.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__object_is_call_without_args.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__object_is_constant.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__object_is_constant_with_extra_fields.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__object_is_constant_with_type.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__object_is_empty.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__object_is_invalid.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__object_is_invalid_multiple.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__object_is_signature.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__string_is_invalid.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__string_is_path-2.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__string_is_path.snap
  libs/@local/hql/cst/src/snapshots/hql_cst__expr__test__string_is_signature.snap
  libs/@local/hql/cst/src/symbol.rs
  libs/@local/hql/cst/src/type.rs
Labels: area/deps, area/infra, area/libs, type/eng > backend, type/legal
