Repository hashintel/hash, pull requests merged in 2024-02, with the labels that each got.

#3976 H-2133: Fix CI not erroring if Rust docs contains invalid links
  .justfile
  apps/hash-graph/libs/graph/src/knowledge/query.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3947 H-1587, H-1949, H-2103: Better type permission checks, hide warning when creating link types
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/graphql/queries/ontology/entity-type.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table.tsx
  apps/hash-frontend/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/new/entity.page.tsx
  apps/hash-frontend/src/pages/shared/create-entity-type-form.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entity-type-tabs.tsx
  apps/hash-frontend/src/pages/shared/hidden-types.ts
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/pages/types/external/entity-type/[...base64-baseurl-maybe-version].page.tsx
  apps/hash-frontend/src/shared/readonly-mode.tsx
  apps/hash-frontend/src/shared/use-user-permissions-on-entity-type.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/entity-type.typedef.ts
  libs/@local/hash-isomorphic-utils/src/types.ts
  tests/hash-playwright/tests/entities-page.spec.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps

#3973 H-1622: Split entity relations in snapshots
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/record.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/channel.rs
  libs/@local/hash-authorization/src/backend/mod.rs
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3975 H-1886: Store embeddings in snapshot
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/ontology/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/record.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/table.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/channel.rs
  apps/hash-graph/libs/graph/src/store/crud.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/libs/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/libs/graph/src/store/record.rs
  apps/hash-graph/libs/graph/src/subgraph/mod.rs
  apps/hash-graph/libs/graph/src/subgraph/query.rs
Labels: area/apps > hash*, state/blocked, type/eng > backend, area/apps, area/apps > hash-graph

#3974 H-2012: Allow browsing file thumbnails in a grid (e.g. images, PDFs, DOCs, PPTXs)
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-rows.ts
  apps/hash-frontend/src/pages/drafts.page/draft-entity.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/grid-view.tsx
  apps/hash-frontend/src/pages/shared/entities-table/grid-view/grid-view-item-skeleton.tsx
  apps/hash-frontend/src/pages/shared/entities-table/grid-view/grid-view-item-wrapper.tsx
  apps/hash-frontend/src/pages/shared/entities-table/grid-view/grid-view-item.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/file-uploads-tab/action.tsx
  apps/hash-frontend/src/pages/shared/use-entity-href.tsx
  apps/hash-frontend/src/shared/edit-emoji-icon-button.tsx
  apps/hash-frontend/src/shared/icons/file-audio-light-icon.tsx
  apps/hash-frontend/src/shared/icons/file-excel-light-icon.tsx
  apps/hash-frontend/src/shared/icons/file-image-light.tsx
  apps/hash-frontend/src/shared/icons/file-light-icon.tsx
  apps/hash-frontend/src/shared/icons/file-pdf-light-icon.tsx
  apps/hash-frontend/src/shared/icons/file-powerpoint-light-icon.tsx
  apps/hash-frontend/src/shared/icons/file-video-light-icon.tsx
  apps/hash-frontend/src/shared/icons/file-word-light-icon.tsx
  apps/hash-frontend/src/shared/icons/grid-solid-icon.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4002 H-2162: Write workflow to update all embeddings
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/workflows.ts
Labels: area/apps > hash*, area/apps

#4003 H-1882, H-2161: Use `text-embedding-3-large`
  apps/hash-ai-worker-ts/src/activities/shared/embeddings.ts
  apps/hash-graph/postgres_migrations/V15__large_embedding.sql
  apps/hash-graph/tests/friendship.http
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#4007 H-2173: Use web bot's authority to find and update entities in migration
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#4008 H-2081: Create embeddings for types
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/activities/shared/embeddings.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-graph/bench/util.rs
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/openapi/openapi.json
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  libs/@local/hash-graph-types/rust/src/ontology/data_type.rs
  libs/@local/hash-graph-types/rust/src/ontology/entity_type.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-graph-types/rust/src/ontology/property_type.rs
  libs/@local/temporal-client/src/ai.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#4011 H-2171: Use Node API healthcheck in AWS
  infra/docker/api/prod/Dockerfile
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/graph.tf
Labels: area/infra, area/infra > docker, area/infra > terraform

#4017 H-2168: Add type embeddings to Snapshots
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/record.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/channel.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4018 H-2189: Add hash.ai to Node API CORS list
  apps/hash-api/src/lib/config.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#4019 H-2190: Pin Postgres to the major version only
  infra/terraform/hash/postgres/postgres.tf
Labels: area/infra, area/infra > terraform

#4009 H-631, H-1432: Implement new signup/login designs
  .github/actions/warm-up-vercel/action.yml
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-external-services/kratos/kratos.dev.yml
  apps/hash-frontend/src/assets/images/auth-bg-pattern.png
  apps/hash-frontend/src/components/hooks/use-logout-flow.ts
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/settings/shared/settings-layout.tsx
  apps/hash-frontend/src/pages/shared/auth-heading.tsx
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  apps/hash-frontend/src/pages/shared/auth-layout.tsx
  apps/hash-frontend/src/pages/shared/auth-modal-layout.tsx
  apps/hash-frontend/src/pages/shared/auth-paper.tsx
  apps/hash-frontend/src/pages/shared/verify-code.tsx
  apps/hash-frontend/src/pages/signin.page.tsx
  apps/hash-frontend/src/pages/signup.page.tsx
  apps/hash-frontend/src/pages/signup.page/account-setup-form.tsx
  apps/hash-frontend/src/pages/signup.page/signup-intro.tsx
  apps/hash-frontend/src/pages/signup.page/signup-registration-form.tsx
  apps/hash-frontend/src/pages/signup.page/signup-registration-right-info.tsx
  apps/hash-frontend/src/pages/signup.page/signup-steps.tsx
  apps/hash-frontend/src/shared/icons.tsx
  apps/hash-frontend/src/shared/icons/arrow-right-to-bracket-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/circle-1-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/circle-2-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/circle-3-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/circle-arrow-right-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/circle-info-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/envelope-regular-icon.tsx
  apps/hash-frontend/src/shared/icons/hash-icon.tsx
  apps/hash-frontend/src/shared/icons/pizza-solid-icon.tsx
  apps/hash-frontend/src/shared/icons/svg.tsx
  apps/hash-frontend/src/shared/icons/svg/info.svg
  apps/hash-frontend/src/shared/icons/svg/logo.svg
  apps/hash-frontend/src/shared/icons/triangle-exclamation-regular-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  apps/plugin-browser/src/pages/options/options-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/sign-in.tsx
  infra/terraform/hash/prod-usea1.tfvars
  libs/@hashintel/design-system/src/text-field.tsx
  libs/@hashintel/design-system/src/theme/components/inputs/mui-button-theme-options.ts
  libs/@hashintel/design-system/src/theme/components/inputs/mui-outlined-input-theme-options.ts
  tests/hash-playwright/tests/guest-user.spec.ts
  tests/hash-playwright/tests/shared/login-using-temp-form.ts
  tests/hash-playwright/tests/shared/login-using-ui.ts
  tests/hash-playwright/tests/signup.spec.ts
Labels: area/apps > hash*, area/infra, area/libs, type/eng > frontend, area/tests, area/tests > playwright, area/apps, area/infra > terraform

#4016 H-2187: Allow setting email on signup page from query params
  apps/hash-frontend/src/pages/signin.page.tsx
  apps/hash-frontend/src/pages/signup.page/signup-registration-form.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4022 H-2159: Implement temporal versioning without a Postgres update trigger
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/postgres_migrations/V16__manual_temporal_updates.sql
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4023 H-2146: Implement entity archival in the Graph
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
Labels: area/apps > hash*, state/blocked, type/eng > backend, area/apps, area/apps > hash-graph

#4032 Add first icons for docs
  apps/hash-frontend/public/icons/docs/asterisk.svg
  apps/hash-frontend/public/icons/docs/barcode.svg
  apps/hash-frontend/public/icons/docs/globe-stand.svg
  apps/hash-frontend/public/icons/docs/input-pipe.svg
  apps/hash-frontend/public/icons/docs/link.svg
  apps/hash-frontend/public/icons/docs/rectangles-mixed.svg
  apps/hash-frontend/public/icons/docs/shuffle.svg
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4037 H-2195: Change port for type fetcher to `4455`
  .env
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-graph/bins/cli/src/subcommand/type_fetcher.rs
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/type_fetcher.tf
Labels: area/apps > hash*, area/infra, type/eng > backend, area/apps, area/apps > hash-graph, area/infra > terraform

#4030 H-2080: Extend `EntityId` to include a `draft_id`
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/activities/parse-text-from-file.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/primitive/link-entity.ts
  apps/hash-frontend/src/blocks/use-fetch-block-subgraph.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-with-cell-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-apply-draft-link-entity-changes.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-draft-entity-subgraph.ts
  apps/hash-frontend/src/pages/drafts.page/draft-entities-bulk-actions-dropdown.tsx
  apps/hash-frontend/src/pages/inbox.page.tsx
  apps/hash-frontend/src/pages/shared/accept-draft-entity-button.tsx
  apps/hash-frontend/src/pages/shared/discard-draft-entity-button.tsx
  apps/hash-frontend/vercel-install.sh
  apps/hash-graph/libs/api/src/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/table.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/libs/graph/src/subgraph/temporal_axes.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V17__draft_updates.sql
  apps/hash-graph/tests/friendship.http
  apps/hash-integration-worker/src/activities.ts
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  libs/@local/hash-isomorphic-utils/src/entity-store-plugin.ts
  libs/@local/hash-isomorphic-utils/src/entity-store.ts
  libs/@local/hash-subgraph/src/types/element/knowledge.ts
  libs/@local/hash-subgraph/src/types/shared/branded.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4042 H-1373, H-2085, H-2160: Implement Draft Entity Updates
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/sorting.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4047 H-1466: Revisit parameters in `Store` functions
  Cargo.lock
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/activities/shared/embeddings.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-api/src/graph/account-permission-management.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/knowledge/entity.rs
  apps/hash-graph/bench/representative_read/ontology/entity_type.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/bench/util.rs
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/api/src/rest/account.rs
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/api/src/rest/web.rs
  apps/hash-graph/libs/graph/src/store/account.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/mod.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/circular-links.http
  apps/hash-graph/tests/friendship.http
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-graph-types/rust/src/embedding.rs
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  libs/@local/hash-graph-types/rust/src/ontology/data_type.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/src/lib.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4064 H-2201: Configurable notification polling, don't poll without user
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/shared/draft-entities-context.tsx
  apps/hash-frontend/src/shared/notification-entities-context.tsx
  apps/hash-frontend/src/shared/poll-interval.ts
  apps/hash/README.md
Labels: area/apps > hash*, area/infra, type/eng > frontend, area/apps

#4070 H-1124: Upgrade `glide-data-grid`, fix snapping to cell on hover
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils.ts
  apps/hash-frontend/src/components/grid/utils/custom-grid-icons.ts
  apps/hash-frontend/src/components/grid/utils/draw-cell-fade-out-gradient.ts
  apps/hash-frontend/src/components/grid/utils/draw-chip-with-icon.ts
  apps/hash-frontend/src/components/grid/utils/draw-chip-with-text.ts
  apps/hash-frontend/src/components/grid/utils/draw-chip.ts
  apps/hash-frontend/src/components/grid/utils/draw-text-with-icon.ts
  apps/hash-frontend/src/components/grid/utils/draw-vertical-indentation-line.ts
  apps/hash-frontend/src/components/grid/utils/interactable-manager.ts
  apps/hash-frontend/src/components/grid/utils/interactable-manager/utils.ts
  apps/hash-frontend/src/components/grid/utils/override-custom-renderers.tsx
  apps/hash-frontend/src/components/grid/utils/use-draw-cell.ts
  apps/hash-frontend/src/components/grid/utils/use-grid-tooltip/draw-interactable-tooltip-icons.ts
  apps/hash-frontend/src/components/grid/utils/use-grid-tooltip/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-specs.ts
  apps/hash-frontend/src/pages/shared/chip-cell.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/text-icon-cell.tsx
  blocks/table/package.json
  patches/@glideapps+glide-data-grid+5.2.1.patch
  patches/@glideapps+glide-data-grid+6.0.3.patch
  yarn.lock
Labels: area/deps, area/apps > hash*, area/blocks, type/eng > frontend, area/apps

#4063 H-2095, H-2096: Add API endpoints, OAuth2 access flow for custom GPT
  .env
  apps/hash-api/package.json
  apps/hash-api/public/styles.css
  apps/hash-api/src/ai/gpt/README.md
  apps/hash-api/src/ai/gpt/generate-hashgpt-schema.ts
  apps/hash-api/src/ai/gpt/gpt-get-user-webs.ts
  apps/hash-api/src/ai/gpt/gpt-query-entities.ts
  apps/hash-api/src/ai/gpt/shared/webs.ts
  apps/hash-api/src/ai/gpt/upsert-gpt-oauth-client.ts
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/auth/oauth-consent-handlers.ts
  apps/hash-api/src/auth/ory-hydra.ts
  apps/hash-api/src/auth/ory-kratos.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/index.ts
  apps/hash-api/views/consent.hbs
  apps/hash-api/views/layouts/main.hbs
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/hydra/Dockerfile
  apps/hash-external-services/kratos/Dockerfile
  apps/hash-external-services/kratos/kratos.dev.yml
  apps/hash-external-services/kratos/kratos.prod.yml
  apps/hash-external-services/kratos/templates/README.md
  apps/hash-external-services/postgres/init-user-db.sh
  apps/hash-frontend/src/pages/shared/ory-kratos.ts
  apps/hash-frontend/src/pages/signin.page.tsx
  infra/terraform/README.md
  infra/terraform/hash/hash_application/hydra.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/variables.tf
  infra/terraform/hash/main.tf
  infra/terraform/hash/postgres_roles/postgres_roles.tf
  infra/terraform/hash/postgres_roles/variables.tf
  infra/terraform/hash/prod-usea1.tfvars
  infra/terraform/hash/variables.tf
  libs/@local/hash-isomorphic-utils/src/environment.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/infra > terraform

#3983 H-724: Add error indicator with retry button when uploading file as linked entity
  apps/hash-frontend/src/components/grid/utils/custom-grid-icons.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/use-rows.ts
  apps/hash-frontend/src/shared/file-upload-context.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4071 H-2222: Add build and push of Hydra Docker image to CI workflow
  .github/workflows/hash-backend-cd.yml
  .github/workflows/test.yml
Labels: area/infra

#4077 H-2229: Fix production environment variables for Hydra and Kratos
  apps/hash-external-services/docker-compose.prod.yml
  infra/terraform/hash/prod-usea1.tfvars
Labels: area/apps > hash*, area/infra, area/apps, area/infra > terraform

#4079 H-2234: Fix parameter numbers for embedding update
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/tests/friendship.http
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#4072 H-2210: Store provenance data for first non-draft entity date
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/table.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/channel.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V18__undrafted_at.sql
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  tests/hash-graph-integration/postgres/drafts.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4074 H-1476: Improve rate limiting on auth routes
  apps/hash-api/src/index.ts
  apps/hash-frontend/src/pages/signin.page.tsx
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#4091 H-2034: Restore basic search bar to frontend
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/get-expected-types-of-property-type.ts
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/search-bar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/search-bar/search-input.tsx
  libs/@local/hash-backend-utils/src/create-graph-client.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4096 Change how max memory size is set when executing Node code via tsx
  apps/hash-ai-worker-ts/package.json
  apps/hash-integration-worker/package.json
  apps/hash-realtime/package.json
  apps/hash-search-loader/package.json
Labels: area/apps > hash*, area/apps > hash-realtime, area/apps > hash-search-loader, area/apps

#4102 H-2273: Increase memory for integration worker
  infra/terraform/hash/main.tf
Labels: area/infra, area/infra > terraform

#4108 H-2264: Add index for temporal metadata
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/postgres_migrations/V19__temporal_indices.sql
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4097 H-2252: Move `type-system` TypeScript package to `HASH` repository
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/upgrade-entity-type-dependencies.ts
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/type-system/rust/package.json
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/links/wasm.rs
  libs/@blockprotocol/type-system/rust/turbo.json
  libs/@blockprotocol/type-system/typescript/.eslintrc.cjs
  libs/@blockprotocol/type-system/typescript/CHANGELOG.md
  libs/@blockprotocol/type-system/typescript/LICENSE.md
  libs/@blockprotocol/type-system/typescript/README.md
  libs/@blockprotocol/type-system/typescript/jest.config.cjs
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@blockprotocol/type-system/typescript/rollup.config.js
  libs/@blockprotocol/type-system/typescript/src/common.ts
  libs/@blockprotocol/type-system/typescript/src/main-slim.ts
  libs/@blockprotocol/type-system/typescript/src/main.ts
  libs/@blockprotocol/type-system/typescript/src/native.ts
  libs/@blockprotocol/type-system/typescript/src/native/data-type.ts
  libs/@blockprotocol/type-system/typescript/src/native/entity-type.ts
  libs/@blockprotocol/type-system/typescript/src/native/property-type.ts
  libs/@blockprotocol/type-system/typescript/src/native/url.ts
  libs/@blockprotocol/type-system/typescript/test/data-type.test.ts
  libs/@blockprotocol/type-system/typescript/test/entity-type.test.ts
  libs/@blockprotocol/type-system/typescript/test/property-type.test.ts
  libs/@blockprotocol/type-system/typescript/test/url.test.ts
  libs/@blockprotocol/type-system/typescript/tsconfig.json
  libs/@blockprotocol/type-system/typescript/turbo.json
  libs/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  package.json
  patches/@blockprotocol+type-system+0.1.1.patch
  tests/hash-playwright/turbo.json
  turbo.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > playwright, area/apps, type/legal

#4109 H-2290: Implement `utoipa` schema for type system URLs
  Cargo.lock
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/subgraph/identifier/vertex.rs
  apps/hash-graph/openapi/openapi.json
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/src/ontology/url/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph
