Repository hashintel/hash, pull requests merged in 2024-01, with the labels that each got.

#3814 H-1759, H-1793: Handle incomplete users in plugin, fix entity labelling bug
  apps/hash-api/src/index.ts
  apps/hash-frontend/src/blocks/use-fetch-block-subgraph.ts
  apps/plugin-browser/package.json
  apps/plugin-browser/src/pages/options/options-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/select-web-target/web-selector.tsx
  apps/plugin-browser/src/pages/shared/sentry.ts
  apps/plugin-browser/src/shared/get-user.ts
  apps/plugin-browser/src/shared/storage.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#3815 H-1800: Fix Playwright setup, existing tests
  .github/workflows/test.yml
  apps/hash-frontend/src/pages/signup.page.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entities-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  package.json
  tests/hash-playwright/playwright.config.ts
  tests/hash-playwright/tests/entity-creation.spec.ts
  tests/hash-playwright/tests/entity-type-creation.spec.ts
  tests/hash-playwright/tests/guest-user.spec.ts
  tests/hash-playwright/tests/page-creation.spec.ts
  tests/hash-playwright/tests/page-navigation.spec.ts
  tests/hash-playwright/tests/shared/reset-db.ts
  tests/hash-playwright/tests/shared/runtime.ts
  tests/hash-playwright/tests/signup.spec.ts
  turbo.json
Labels: area/apps > hash*, area/infra, type/eng > frontend, area/tests, area/tests > playwright, area/apps

#3820 H-1797: Improve entity graph
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  libs/@hashintel/block-design-system/src/entities-graph-chart.tsx
  libs/@hashintel/design-system/src/e-chart.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3821 H-1780: Add custom icons for measurements, email, uri data types
  apps/hash-frontend/src/components/grid/utils/custom-grid-icons.ts
  apps/hash-frontend/src/components/grid/utils/draw-chip-with-icon.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/draft-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-specs.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-type-picker.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  libs/@hashintel/design-system/src/fa-icons/fa-at-regular.tsx
  libs/@hashintel/design-system/src/fa-icons/fa-input-pipe-regular.tsx
  libs/@hashintel/design-system/src/fa-icons/fa-ruler-regular.tsx
  libs/@hashintel/design-system/src/fa-icons/icons.tsx
  libs/@hashintel/type-editor/src/shared/data-types-options-context.tsx
  patches/@glideapps+glide-data-grid+5.2.1.patch
Labels: area/deps, area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3831 H-1750, H-1809: Allow filtering drafts by containing `Web`
  apps/hash-frontend/src/pages/drafts.page/draft-entities.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities/draft-entities-filters.tsx
  apps/hash-frontend/src/shared/icons/feather-light-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3822 H-1598: Fix handling of links to externally-hosted types
  apps/hash-api/src/graph/ontology/primitive/util.ts
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/shared/generate-link-parameters.ts
  apps/hash-frontend/src/shared/is-href-external.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#3830 H-1808: Fix mention bugs, editor crash on property object arrays, and page content reloading
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
  apps/hash-frontend/src/pages/shared/block-collection/mention-view/mention-display.tsx
  apps/hash-frontend/src/pages/shared/block-collection/shared/mention-suggester.tsx
  apps/hash-frontend/src/pages/shared/block-collection/shared/mention-suggester/mention-suggester-entity.tsx
  apps/hash-frontend/src/pages/shared/hidden-types.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entities-list.tsx
  libs/@local/hash-isomorphic-utils/src/text.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3832 H-1813: Make Playwright tests required to pass in `Test` workflow
  .github/workflows/test.yml
Labels: area/infra

#3789 H-1788, H-1791: Add more common custom data type validations
  Cargo.lock
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/src/data_type.rs
Labels: area/deps, area/apps > hash*, area/libs, priority/1 high, type/eng > backend

#3844 H-1839: Allow resetting previous entity embedding on update
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3847 H-1837: Downgrade `actions/download-artifact` to `v3`
  .github/actions/build-docker-images/action.yml
  .github/actions/load-docker-images/action.yml
  .github/renovate.json
Labels: area/infra

#3846 H-1767: Write service to insert embeddings into Graph
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-ai-worker-ts/src/activities/embeddings.ts
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-ai-worker-ts/src/workflows.ts
Labels: area/apps > hash*, area/apps

#3849 H-1792: Generate `systemDataTypes` type ids
  apps/hash-api/src/generate-ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#3848 H-1799: Show newly created ‘types’ of entities in the ‘Entities’ section of the sidebar, without having to hard refresh the page
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-create-entity.ts
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3845 H-1623, H-1490: Fix `/notes` page incorrectly displaying relative dates + sidebar updates
  apps/hash-frontend/src/pages/notes.page.tsx
  apps/hash-frontend/src/shared/icons/note-icon.tsx
  apps/hash-frontend/src/shared/icons/quick-note-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/top-nav-link.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3843 H-1677: Persist pop-out inputs open when switching tabs/returning
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-draft-entity-subgraph.ts
  apps/hash-frontend/src/pages/shared/entity-type-selector.tsx
  libs/@hashintel/design-system/src/selector-autocomplete.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/destination-entity-type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/insert-property-field/type-selector.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3853 H-1846: Use the default `/var/lib/postgresql/data` for PGDATA
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/postgres/Dockerfile
Labels: area/apps > hash*, area/apps

#3858 H-1846: Use correct volume for `vault`
  apps/hash-external-services/docker-compose.dev.yml
Labels: area/apps > hash*, area/apps

#3850 H-1722: Support inferring greater numbers of entities from pages
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/create-inference-usage-record.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries/generate-summary-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/inference-types.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/log.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/ensure-trailing-slash.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/generate-persist-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/first-user-message-index.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/get-open-ai-response.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/openai-client.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-api/src/ai/infer-entities-websocket.ts
  apps/hash-api/src/ai/infer-entities.ts
  apps/hash-api/src/graph/ontology/primitive/util.ts
  apps/hash-api/src/index.ts
  apps/plugin-browser/src/scripts/background.ts
  libs/@local/hash-isomorphic-utils/src/ai-inference-types.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#3838 H-1730: Add "load entities/just start typing" buttons to table block + other table block polish
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/components/remote-block/remote-block.tsx
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/faq/package.json
  blocks/heading/package.json
  blocks/how-to/package.json
  blocks/image/package.json
  blocks/kanban-board/package.json
  blocks/minesweeper/package.json
  blocks/paragraph/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  blocks/table/src/app.tsx
  blocks/table/src/base.module.scss
  blocks/table/src/components/grid/grid.tsx
  blocks/table/src/components/header-menu/header-menu.tsx
  blocks/table/src/components/header-menu/styles.module.scss
  blocks/table/src/components/shared/danger-button.tsx
  blocks/table/src/components/table/row-actions.tsx
  blocks/table/src/components/table/table-with-query.tsx
  blocks/table/src/components/table/table.module.scss
  blocks/table/src/components/table/table.tsx
  blocks/table/src/components/welcome-modal.tsx
  blocks/timer/package.json
  blocks/video/package.json
  libs/@hashintel/design-system/package.json
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-magnifying-glass-regular.tsx
  libs/@hashintel/design-system/src/icon-person-running-regular.tsx
  libs/@hashintel/design-system/src/theme/components.ts
  libs/@hashintel/design-system/src/theme/components/inputs/mui-button-base-theme-options.ts
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-subgraph/package.json
  patches/@blockprotocol+graph+0.3.1-canary-20240108132503.patch
  yarn.lock
Labels: area/deps, area/apps > hash*, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3859 H-1865: Remove `completeText` from the AI Text block
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/remote-block/construct-service-module-callbacks.ts
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/ai-text/src/app/generate-text.tsx
  yarn.lock
Labels: area/deps, area/apps > hash*, area/blocks, type/eng > frontend, area/apps

#3855 H-1840: Only update embedding if the entity version is newer or equal
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V14__embedding_timestamp.sql
  apps/hash-graph/tests/friendship.http
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3861 H-1866: Create a Temporal client in Rust
  .env
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  apps/hash-ai-worker-ts/README.md
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-api/src/temporal/index.ts
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/docker-compose.temporal.yml
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-graph/bins/cli/Cargo.toml
  apps/hash-graph/bins/cli/src/subcommand/server.rs
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/package.json
  apps/hash-integration-worker/README.md
  apps/hash-integration-worker/src/main.ts
  apps/hash/README.md
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/temporal_worker_ai_ts.tf
  infra/terraform/hash/hash_application/temporal_worker_integration.tf
  infra/terraform/hash/main.tf
  infra/terraform/hash/temporal/output.tf
  infra/terraform/modules/temporal_worker/task_definitions.tf
  libs/@local/temporal-client/Cargo.toml
  libs/@local/temporal-client/LICENSE.md
  libs/@local/temporal-client/package.json
  libs/@local/temporal-client/src/error.rs
  libs/@local/temporal-client/src/lib.rs
  libs/README.md
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, state/blocked, area/libs, type/eng > backend, area/apps, area/apps > hash-graph, area/infra > terraform, type/legal

#3867 H-1878: Install Protobuf compiler in CI manually
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: area/infra

#3862 H-1841: Trigger embedding creation workflow when entity was created/updated
  Cargo.lock
  apps/hash-ai-worker-ts/src/activities/embeddings.ts
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/temporal-client/src/ai.rs
  libs/@local/temporal-client/src/error.rs
  libs/@local/temporal-client/src/lib.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3863 H-1871: Extend workflow to support multiple entities or a filter
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  libs/@local/temporal-client/src/ai.rs
Labels: area/apps > hash*, state/blocked, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3868 H-1873: Fix pagination
  apps/hash-graph/bench/representative_read/knowledge/entity.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/where_clause.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#3877 H-1888: Don't filter out draft entities when create embeddings via a filter
  apps/hash-ai-worker-ts/src/workflows.ts
Labels: area/apps > hash*, area/apps

#3878 H-1896: Improve logging configuration and verbosity
  .env
  .env.production
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-graph/README.md
  apps/hash-graph/libs/api/src/rest/middleware.rs
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/api/src/rest/test_server.rs
  apps/hash-graph/libs/graph/src/logging/args.rs
  apps/hash-graph/libs/graph/src/logging/init.rs
  apps/hash-graph/package.json
  apps/hash-graph/tests/friendship.http
  infra/terraform/README.md
  infra/terraform/hash/prod-usea1.tfvars
Labels: area/apps > hash*, area/infra, type/eng > backend, area/tests, area/apps, area/apps > hash-graph, area/infra > terraform

#3860 H-590, H-1753, H-1678, H-1679: Style cleanup around the expected link types table on the entity types page + other minor tweaks
  apps/hash-frontend/src/pages/shared/entity-type-page/type-slide-over-stack/type-slide-over-slide.tsx
  apps/hash-frontend/src/shared/icons/arrow-up-right-from-square-regular-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/notifications-dropdown.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card/anything-chip.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3864 H-1651: Persist user plugin settings in database
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/005-create-hash-system-entities-and-web-bots.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/006-create-first-custom-data-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/007-create-api-usage-tracking.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/008-create-plugin-settings-update-users.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/README.md
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/system-webs-and-entities.ts
  apps/plugin-browser/package.json
  apps/plugin-browser/src/graphql/queries/entity.queries.ts
  apps/plugin-browser/src/pages/popup/popup-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off/infer-entities-action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off/quick-note-action.tsx
  apps/plugin-browser/src/pages/shared/use-entity-types.ts
  apps/plugin-browser/src/pages/shared/use-storage-sync.ts
  apps/plugin-browser/src/pages/shared/use-user.ts
  apps/plugin-browser/src/shared/create-default-settings.ts
  apps/plugin-browser/src/shared/create-entity.ts
  apps/plugin-browser/src/shared/get-user.ts
  apps/plugin-browser/src/shared/storage.ts
  apps/plugin-browser/src/shared/storage/update-entity.ts
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/system-types/browserpluginsettings.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/commentnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/mentionnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#3884 H-1904: Avoid duplicated entries when querying by distance
  .env
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/group_by_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/with_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/select.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3886 H-1905: Remove duplicated environment variables for Graph
  infra/terraform/hash/main.tf
Labels: area/infra, area/infra > terraform

#3854 H-1833: Add timezone to browser-input times, add custom date/time icons
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/006-create-first-custom-data-types.migration.ts
  apps/hash-frontend/src/components/grid/utils/custom-grid-icons.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-specs.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-type-picker.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/number-or-text-input.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  libs/@hashintel/design-system/src/fa-icons/fa-calendar-clock-regular.tsx
  libs/@hashintel/design-system/src/fa-icons/fa-calendar-regular.tsx
  libs/@hashintel/design-system/src/fa-icons/fa-clock-regular.tsx
  libs/@hashintel/design-system/src/fa-icons/icons.tsx
  libs/@hashintel/type-editor/src/shared/data-types-options-context.tsx
  libs/@local/hash-validation/src/data_type.rs
  patches/@glideapps+glide-data-grid+5.2.1.patch
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3891 H-1908: Return archived types when JSON is requested
  apps/hash-api/package.json
  apps/hash-api/src/graphql/resolvers/ontology/data-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/property-type.ts
  apps/hash-frontend/src/graphql/queries/ontology/data-type.queries.ts
  apps/hash-frontend/src/graphql/queries/ontology/entity-type.queries.ts
  apps/hash-frontend/src/graphql/queries/ontology/property-type.queries.ts
  apps/hash-frontend/src/middleware/return-types-as-json/generate-query-args.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/data-type.typedef.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/entity-type.typedef.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/property-type.typedef.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3883 H-1721: When adding a type for inference, add its linked types
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope/rows-by-location.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/automated/select-scope/rows-by-type.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off/infer-entities-action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/entity-type-selector.tsx
Labels: area/apps

#3885 H-1845, H-1814, H-1815, H-1818: Fix entity editor crashes + other small improvements
  apps/hash-frontend/src/pages/[shortname].page/pinned-entity-type-tab-contents.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  apps/hash-frontend/src/pages/new/entity.page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entity-type-tabs.tsx
  apps/hash-frontend/src/pages/shared/link-label-with-source-and-destination.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-menu.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-entity-type-list/entity-type-menu.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3887 H-1819: Add test for adding outgoing link/property to an entity type
  libs/@hashintel/design-system/src/ontology-chip.tsx
  libs/@hashintel/design-system/src/selector-autocomplete/selector-autocomplete-option.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/insert-property-field/type-selector.tsx
  tests/hash-playwright/tests/entity-creation.spec.ts
  tests/hash-playwright/tests/entity-type-creation.spec.ts
Labels: area/libs, type/eng > frontend, area/tests, area/tests > playwright

#3879 H-1273: Add filtering to the entities table
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils/column-filter-menu.tsx
  apps/hash-frontend/src/components/grid/utils/custom-grid-icons.ts
  apps/hash-frontend/src/components/grid/utils/filtering.ts
  apps/hash-frontend/src/components/grid/utils/interactable-manager.ts
  apps/hash-frontend/src/components/grid/utils/interactable-manager/types.ts
  apps/hash-frontend/src/components/grid/utils/interactable-manager/utils.ts
  apps/hash-frontend/src/components/grid/utils/sorting.ts
  apps/hash-frontend/src/components/grid/utils/use-draw-header.ts
  apps/hash-frontend/src/components/grid/utils/use-grid-tooltip/draw-interactable-tooltip-icons.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell.ts
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  patches/@glideapps+glide-data-grid+5.2.1.patch
  yarn.lock
Labels: area/deps, area/apps > hash*, type/eng > frontend, area/apps

#3895 H-1920: Fix authorization relationship updates on circular types
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  libs/@local/hash-authorization/src/schema/account.rs
  libs/@local/hash-authorization/src/schema/data_type.rs
  libs/@local/hash-authorization/src/schema/entity_type.rs
  libs/@local/hash-authorization/src/schema/property_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3894 H-1020: Add basic browser extension tests
  apps/plugin-browser/.env.test
  apps/plugin-browser/package.json
  apps/plugin-browser/src/manifest.json
  apps/plugin-browser/turbo.json
  apps/plugin-browser/utils/build.js
  apps/plugin-browser/webpack.config.js
  tests/hash-graph-integration/turbo.json
  tests/hash-playwright/package.json
  tests/hash-playwright/playwright.config.ts
  tests/hash-playwright/tests/browser-plugin.spec.ts
  tests/hash-playwright/tests/browser-plugin/fixtures.ts
  tests/hash-playwright/turbo.json
  turbo.json
Labels: area/tests, area/tests > playwright, area/apps

#3896 H-1910: Improve bulk ignoring/accepting drafts + fixed runtime error
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-update-entity.ts
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/[shortname].page/edit-pinned-entity-types-modal.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities-bulk-actions-dropdown.tsx
  apps/hash-frontend/src/pages/shared/accept-draft-entity-button.tsx
  apps/hash-frontend/src/shared/notification-entities-context.tsx
  apps/plugin-browser/src/graphql/queries/entity.queries.ts
  apps/plugin-browser/src/shared/storage/update-entity.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3902 H-1751: Display count next to filter options on `/drafts` page
  apps/hash-frontend/src/pages/drafts.page/draft-entities.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities/draft-entities-filters.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities/draft-entities-filters/filter-section.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities/draft-entities-filters/types.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3901 H-1928: Make sure all Rust spans are captured in Sentry
  .env
  apps/hash-graph/libs/api/src/rest/status.rs
  infra/terraform/hash/main.tf
  libs/@local/tracing/src/lib.rs
  libs/@local/tracing/src/sentry.rs
Labels: area/apps > hash*, area/infra, area/libs, type/eng > backend, area/apps, area/apps > hash-graph, area/infra > terraform

#3910 H-1543, H-1550: add "select all" switch to draft filter options + show draft entity web
  apps/hash-frontend/src/pages/drafts.page/draft-entities/draft-entities-filters/filter-section.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities/draft-entities-filters/types.ts
  apps/hash-frontend/src/pages/drafts.page/draft-entity.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-chip.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-provenance.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-web.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3904 H-1660: Expose integrations page in the HASH App
  apps/hash-frontend/src/pages/settings/integrations.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/general.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/index.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/new/index.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-settings-container.tsx
  apps/hash-frontend/src/pages/settings/shared/settings-layout.tsx
  apps/hash-frontend/src/pages/settings/shared/settings-layout/settings-sidebar.tsx
  apps/hash-frontend/src/pages/settings/shared/settings-page-container.tsx
  apps/hash-frontend/src/shared/icons/infinity-solid-icon.tsx
  apps/hash-frontend/src/shared/icons/plug-solid-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3917 GEN-132: Update `error-stack` blog posts with link to docs
  apps/hashdotdev/src/_pages/blog/0004_announcing-error-stack.mdx
  apps/hashdotdev/src/_pages/blog/0010_error-stack-update-0-2.mdx
  package.json
Labels: area/apps > hash.dev, area/apps

#3900 H-1906: Further AI inference failure handling
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries/generate-summary-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/inference-types.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-frontend/src/pages/shared/entity-type-page/file-uploads-tab/action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request/inferred-entity.tsx
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-dash.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#3903 H-1927: Use consistent and sensible instrumentation instructions in Rust
  Cargo.lock
  apps/hash-external-services/docker-compose.test.yml
  apps/hash-external-services/docker-compose.type-fetcher.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/crud.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/read.rs
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/tracing/src/logging.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#3928 H-1608: Set correct permissions on org membership link
  apps/hash-api/src/graph/knowledge/system-types/org-membership.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page/add-member-form.tsx
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#3927 H-1937: Overhaul Read trait to allow returning Cursor
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/lib.rs
  apps/hash-graph/libs/graph/src/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/store/crud.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/mod.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/pool.rs
  apps/hash-graph/libs/graph/src/store/postgres/crud.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/libs/graph/src/store/record.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3923 H-1564: Add "Create new" button to `/entities` page(s)
  apps/hash-frontend/src/pages/entities.page.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3930 H-1397: Better logging, error handling in the Node API
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/storage/aws-s3-storage-provider.ts
  apps/hash-api/src/storage/index.ts
  infra/terraform/hash/prod-usea1.tfvars
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps, area/infra > terraform

#3934 H-2008: Fix root sorting by embedding distance
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/order_clause.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3931 H-1937: Fix various lifetime issues and start implementing `CustomSorting`
  apps/hash-graph/libs/graph/src/store/crud.rs
  apps/hash-graph/libs/graph/src/store/postgres/crud.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#3933 H-2007: Fix crash in profile page when adding bio
  apps/hash-api/src/storage/index.ts
  apps/hash-frontend/src/pages/[shortname].page/profile-bio.tsx
  tests/hash-playwright/tests/profile-page.spec.ts
  tests/hash-playwright/turbo.json
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps

#3922 H-1626: Enable cancelling inference jobs from the browser plugin
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/get-results-from-inference-state.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/get-open-ai-response.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-api/src/ai/infer-entities-websocket.ts
  apps/hash-api/src/ai/infer-entities-websocket/handle-cancel-infer-entities-request.ts
  apps/hash-api/src/ai/infer-entities-websocket/handle-infer-entities-request.ts
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request/copyable-request-id.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-requests.tsx
  apps/plugin-browser/src/scripts/background.ts
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  apps/plugin-browser/src/shared/messages.ts
  apps/plugin-browser/src/shared/storage.ts
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/ai-inference-types.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#3941 H-1943: Fix(?) Redis connection in production
  apps/hash-api/src/cache/adapter.ts
  apps/hash-api/src/cache/redis.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-api/src/storage/aws-s3-storage-provider.ts
  apps/hash-api/src/storage/index.ts
  apps/hash-realtime/src/config.ts
  apps/hash-realtime/src/scripts/clear-redis.ts
  apps/hash-search-loader/src/index.ts
  infra/terraform/hash/main.tf
  infra/terraform/modules/realtime/realtime.tf
  infra/terraform/modules/search-loader/search-loader.tf
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/queue/redis.ts
  libs/@local/hash-backend-utils/src/redis.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/apps > hash-realtime, area/apps > hash-search-loader, area/apps, area/infra > terraform

#3939 H-1471, H-1481: Use vector similarity search to find existing entities during inference process
  apps/hash-ai-worker-ts/src/activities.ts
  apps/hash-ai-worker-ts/src/activities/embeddings.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/dereference-entity-type.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/shared/embeddings.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/pages/shared/hidden-types.ts
  apps/hash-graph/package.json
  libs/@local/hash-isomorphic-utils/src/ai-inference-types.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash-graph

#3940 H-1761: Add support for exporting tables of entities to `CSV`
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils/custom-grid-icons.ts
  apps/hash-frontend/src/pages/drafts.page/draft-entities/draft-entities-filters.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/stringify-property-value.ts
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-get-entities-table-additional-csv-data.ts
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/icons/hash-solid-icon.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/table-header/export-to-csv-button.tsx
  apps/hash-frontend/src/shared/table-header/table-header-button.tsx
  apps/hash-frontend/src/shared/use-actors.ts
  patches/@glideapps+glide-data-grid+5.2.1.patch
  yarn.lock
Labels: area/deps, area/apps > hash*, type/eng > frontend, area/apps

#3961 H-2074: Use turbo version from `package.json` in CI
  .github/actions/install-turbo/action.yml
  .github/actions/prune-repository/action.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-frontend/vercel-install.sh
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Labels: area/apps > hash*, area/infra, area/infra > docker, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash-graph

#3962 H-2079: Don't nest `@local/hash-status-rust` workspace
  apps/hash-graph/libs/api/build.rs
  libs/@local/status/typescript/.eslintrc.cjs
  libs/@local/status/typescript/LICENSE-APACHE.md
  libs/@local/status/typescript/LICENSE-MIT.md
  libs/@local/status/typescript/LICENSE.md
  libs/@local/status/typescript/README.md
  libs/@local/status/typescript/package.json
  libs/@local/status/typescript/pkg/src/main.ts
  libs/@local/status/typescript/pkg/src/status-code.ts
  libs/@local/status/typescript/scripts/codegen.ts
  libs/@local/status/typescript/tsconfig.json
  libs/@local/status/typescript/type-defs/status-code.ts
  libs/@local/status/typescript/type-defs/status-payloads.ts
  libs/@local/status/typescript/type-defs/status-payloads/error-info.ts
  libs/@local/status/typescript/type-defs/status-payloads/request-info.ts
  libs/@local/status/typescript/type-defs/status-payloads/resource-info.ts
  libs/@local/status/typescript/type-defs/status.ts
Labels: area/apps > hash*, area/infra, area/libs, type/eng > backend, area/apps, area/apps > hash-graph, type/legal

#3948 H-1930, H-2036: Fetch `createdAt`/`createdBy` from entity metadata instead of initial revision
  apps/hash-api/src/graph/knowledge/primitive/entity/after-create-entity-hooks.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/[shortname].page.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entities/draft-entities-filters.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity.tsx
  apps/hash-frontend/src/pages/drafts.page/draft-entity/draft-entity-provenance.tsx
  apps/hash-frontend/src/pages/inbox.page.tsx
  apps/hash-frontend/src/pages/notes.page.tsx
  apps/hash-frontend/src/pages/notes.page/convert-quick-note-to-page-modal.tsx
  apps/hash-frontend/src/pages/notes.page/create-quick-note.tsx
  apps/hash-frontend/src/pages/notes.page/editable-quick-note.tsx
  apps/hash-frontend/src/pages/notes.page/notes-section.tsx
  apps/hash-frontend/src/pages/notes.page/today-section.tsx
  apps/hash-frontend/src/pages/notes.page/types.ts
  apps/hash-frontend/src/pages/shared/block-collection-contents.ts
  apps/hash-frontend/src/pages/shared/block-collection/comments/comment-block.tsx
  apps/hash-frontend/src/pages/shared/notifications-with-links-context.tsx
  apps/hash-frontend/src/shared/entity-type-entities-context.ts
  apps/hash-frontend/src/shared/entity-utils.ts
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
  tests/hash-playwright/tests/profile-page.spec.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps

#3963 Fix infinite render issue in the `EntitiesTable` component
  apps/hash-frontend/src/shared/use-actors.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#3952 H-1440, H-1893, H-2005: Implement sorting for subgraph roots
  Cargo.lock
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/get-entity-by-filter.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-user-secret.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-api/src/storage/index.ts
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  apps/hash-graph/bench/representative_read/knowledge/entity.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/graph/src/knowledge/mod.rs
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/crud.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/crud.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/conditional.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/order_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/libs/graph/src/store/query/path.rs
  apps/hash-graph/libs/graph/src/subgraph/query.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  apps/hash-integration-worker/src/activities/graph-requests.ts
  libs/@local/hash-backend-utils/src/hash-instance.ts
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-backend-utils/src/service-usage.ts
  libs/@local/hash-validation/src/entity_type.rs
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-graph-integration/Cargo.toml
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/entity_type.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/property_type.rs
  tests/hash-graph-integration/postgres/sorting.rs
  tests/hash-graph-test-data/rust/src/entity/person_bob.json
  tests/hash-graph-test-data/rust/src/entity/person_charles.json
  tests/hash-graph-test-data/rust/src/entity_type/person.json
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#3965 H-2094: Add icons for integrations listings
  apps/hash-frontend/public/icons/integrations/icon_apple-health.svg
  apps/hash-frontend/public/icons/integrations/icon_asana.svg
  apps/hash-frontend/public/icons/integrations/icon_discord.svg
  apps/hash-frontend/public/icons/integrations/icon_docusign.svg
  apps/hash-frontend/public/icons/integrations/icon_dropbox.svg
  apps/hash-frontend/public/icons/integrations/icon_figma.svg
  apps/hash-frontend/public/icons/integrations/icon_github.svg
  apps/hash-frontend/public/icons/integrations/icon_google-drive.svg
  apps/hash-frontend/public/icons/integrations/icon_google-mail.svg
  apps/hash-frontend/public/icons/integrations/icon_instagram.svg
  apps/hash-frontend/public/icons/integrations/icon_linear.svg
  apps/hash-frontend/public/icons/integrations/icon_messenger.svg
  apps/hash-frontend/public/icons/integrations/icon_microsoft-teams.svg
  apps/hash-frontend/public/icons/integrations/icon_notion.svg
  apps/hash-frontend/public/icons/integrations/icon_sentry.svg
  apps/hash-frontend/public/icons/integrations/icon_slack.svg
  apps/hash-frontend/public/icons/integrations/icon_trello.svg
  apps/hash-frontend/public/icons/integrations/icon_zoom.svg
  apps/hashdotai/integrations/integration-list.json
Labels: area/apps > hash*, type/eng > frontend, area/apps
