Repository hashintel/hash, pull requests merged in 2024-10, with the labels that each got.

#5243 H-3354: Expand data types, introduce parents
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/006-create-first-custom-data-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/012-create-google-sheets-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/016-add-initial-currency-data-types.dev.migration.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#5283 H-3383: Implement `harpc` service trait
  Cargo.lock
  Cargo.toml
  libs/@local/harpc/net/src/codec.rs
  libs/@local/harpc/service/Cargo.toml
  libs/@local/harpc/service/LICENSE.md
  libs/@local/harpc/service/examples/account.rs
  libs/@local/harpc/service/package.json
  libs/@local/harpc/service/src/delegate.rs
  libs/@local/harpc/service/src/lib.rs
  libs/@local/harpc/service/src/metadata.rs
  libs/@local/harpc/service/src/procedure.rs
  libs/@local/harpc/service/src/role.rs
  libs/@local/harpc/tower/src/response.rs
Labels: area/deps, area/infra, area/libs, type/eng > backend, type/legal

#5285 H-3385: Allow updating the data type cache in the database
  apps/hash-graph/bins/cli/src/subcommand/mod.rs
  apps/hash-graph/bins/cli/src/subcommand/reindex_cache.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5299 H-3389: Return better status codes for data type and property type API
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/api/src/rest/status.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#5287 H-3382: Ensure only primitive types can inherit from `Value`
  libs/@blockprotocol/type-system/rust/src/schema/data_type/validation.rs
  tests/hash-graph-http/tests/friendship.http
Labels: area/libs, area/tests

#5309 H-2981: Fix `turbo` config to account for changes in type system
  tests/hash-graph-integration/turbo.json
Labels: area/tests, area/tests > integration

#5310 H-3393: Simplify usage of `start` commands
  apps/hash-graph/libs/test-server/turbo.json
  apps/hash-graph/libs/type-fetcher/turbo.json
  package.json
  turbo.json
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#5314 H-1553, H-3395, H-3397: Entity editor UX improvements and bug fixes
  apps/hash-frontend/src/components/grid/utils/custom-grid-icons.ts
  apps/hash-frontend/src/components/grid/utils/draw-url-as-link.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-slide-over.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/readonly-popup.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/url-cell.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#5315 H-721: Remove `async-trait` dependency
  Cargo.lock
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/metadata/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/owner/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/web/batch.rs
  apps/hash-graph/libs/graph/src/store/crud.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/migration.rs
  apps/hash-graph/libs/graph/src/store/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/crud.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/migration.rs
Labels: area/deps, area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#5316 H-3412: Enable `cranelift` codegen backend
  .cargo/config.toml
  .github/actions/install-rust-toolchain/action.yml
  .justfile
  Cargo.toml
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
  libs/antsi/rust-toolchain.toml
  libs/deer/rust-toolchain.toml
  libs/error-stack/.justfile
  libs/error-stack/rust-toolchain.toml
  libs/sarif/rust-toolchain.toml
  rust-toolchain.toml
Labels: area/apps > hash*, area/infra, area/infra > docker, area/libs > error-stack, area/libs, area/libs > deer, area/libs > antsi, area/libs > sarif, type/eng > backend, area/apps, area/apps > hash-graph

#5300 H-3082(I): Allow querying inheritance data from database
  Cargo.lock
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/postgres_migrations/V31__data_type_inheritance_aggregation.sql
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/channel.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/ontology_id.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/rows.rs
  apps/hash-graph/libs/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  apps/hash-graph/libs/store/src/filter/mod.rs
  apps/hash-graph/libs/store/src/filter/parameter.rs
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/package.json
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/schema/data_type.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/src/ontology/data_type.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  tests/hash-graph-integration/postgres/data_type.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5334 H-3416: Update tech tree, redirects, in-repo docs
  apps/hashdotdev/next.config.js
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
  apps/lm-prompt-optimization/README.md
Labels: area/infra, area/apps > hash.dev, area/apps

#5320 H-3413: `harpc` implement `tower`-based server
  Cargo.lock
  Cargo.toml
  libs/@local/harpc/net/src/codec.rs
  libs/@local/harpc/net/src/session/server/transaction/mod.rs
  libs/@local/harpc/server/Cargo.toml
  libs/@local/harpc/server/LICENSE.md
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/package.json
  libs/@local/harpc/server/src/delegate.rs
  libs/@local/harpc/server/src/error.rs
  libs/@local/harpc/server/src/lib.rs
  libs/@local/harpc/server/src/router.rs
  libs/@local/harpc/server/src/serve.rs
  libs/@local/harpc/server/src/session.rs
  libs/@local/harpc/service/src/delegate.rs
  libs/@local/harpc/tower/src/body/map.rs
  libs/@local/harpc/tower/src/body/server/request.rs
  libs/@local/harpc/tower/src/layer/boxed.rs
  libs/@local/harpc/tower/src/layer/error.rs
  libs/@local/harpc/tower/src/layer/mod.rs
  libs/@local/harpc/tower/src/layer/report.rs
  libs/@local/harpc/tower/src/request.rs
  libs/@local/harpc/tower/src/response.rs
  libs/@local/harpc/types/src/version.rs
  libs/@local/harpc/wire-protocol/src/response/kind.rs
Labels: area/deps, area/infra, area/libs, type/eng > backend, type/legal

#5351 H-3400, H-3401: Graph viz config for node sizing, filtering, colors
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-slide-over.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entity-graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/type-slide-over-stack.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/type-slide-over-stack/type-slide-over-slide.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/config.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/full-screen-button.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/graph-data-loader.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/button-styles.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/config-control.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/control-components.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/filter-control.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/filter-control/node-type-filters.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/full-screen-context.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/graph-context.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/state.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/use-event-handlers.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/use-set-draw-settings.ts
  apps/hash-frontend/src/pages/shared/type-graph-visualizer.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#5360 H-3350: Add incoming links to entity editor, improve navigation between entities
  apps/hash-frontend/src/components/grid/utils/column-filter-menu.tsx
  apps/hash-frontend/src/components/grid/utils/interactable-manager.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-slide-over.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/entity-editor-context.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/link-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/incoming-links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/incoming-links-section/incoming-links-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table/cells/linked-with-cell/linked-entity-list-editor/linked-entity-list-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/link-cell.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-list-editor/linked-entity-list-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-list-editor/max-items-reached.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-with-cell-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/sort-link-and-target-entities.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/constants.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/use-rows.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/select-entity-type-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/links-section-empty-state.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-draft-link-state.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity.tsx
  apps/hash-frontend/src/pages/flows.page.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-context-menu.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/link-label-with-source-and-destination.tsx
  apps/hash-frontend/src/pages/shared/subgraphs.ts
  apps/hash-frontend/src/pages/shared/virtualized-table.tsx
  apps/hash-frontend/src/pages/shared/virtualized-table/header.tsx
  apps/hash-frontend/src/pages/workers.page.tsx
  libs/@local/hash-subgraph/src/stdlib.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/edge/link-entity.ts
  libs/@local/hash-subgraph/src/types/element/knowledge.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#5362 H-3422: `harpc`: rework the family of `Codec` traits
  Cargo.lock
  Cargo.toml
  libs/@local/harpc/codec/Cargo.toml
  libs/@local/harpc/codec/LICENSE.md
  libs/@local/harpc/codec/package.json
  libs/@local/harpc/codec/src/decode.rs
  libs/@local/harpc/codec/src/encode.rs
  libs/@local/harpc/codec/src/error.rs
  libs/@local/harpc/codec/src/json.rs
  libs/@local/harpc/codec/src/lib.rs
  libs/@local/harpc/net/Cargo.toml
  libs/@local/harpc/net/package.json
  libs/@local/harpc/net/src/codec.rs
  libs/@local/harpc/net/src/lib.rs
  libs/@local/harpc/net/src/session/client/transaction/stream.rs
  libs/@local/harpc/net/src/session/client/transaction/test.rs
  libs/@local/harpc/net/src/session/error.rs
  libs/@local/harpc/net/src/session/server/connection/mod.rs
  libs/@local/harpc/net/src/session/server/connection/test.rs
  libs/@local/harpc/net/src/session/server/mod.rs
  libs/@local/harpc/net/src/session/server/task.rs
  libs/@local/harpc/net/src/session/server/test.rs
  libs/@local/harpc/net/src/session/server/transaction/mod.rs
  libs/@local/harpc/net/src/session/server/transaction/test.rs
  libs/@local/harpc/net/src/session/test.rs
  libs/@local/harpc/server/Cargo.toml
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/package.json
  libs/@local/harpc/server/src/delegate.rs
  libs/@local/harpc/server/src/error.rs
  libs/@local/harpc/server/src/lib.rs
  libs/@local/harpc/server/src/router.rs
  libs/@local/harpc/server/src/serve.rs
  libs/@local/harpc/service/Cargo.toml
  libs/@local/harpc/service/package.json
  libs/@local/harpc/service/src/delegate.rs
  libs/@local/harpc/tower/Cargo.toml
  libs/@local/harpc/tower/package.json
  libs/@local/harpc/tower/src/layer/error.rs
  libs/@local/harpc/tower/src/layer/report.rs
  libs/@local/harpc/tower/src/net/pack.rs
  libs/@local/harpc/tower/src/response.rs
  libs/@local/harpc/types/Cargo.toml
  libs/@local/harpc/types/src/procedure.rs
  libs/@local/harpc/types/src/service.rs
  libs/@local/harpc/types/src/version.rs
  libs/@local/harpc/wire-protocol/Cargo.toml
  libs/@local/harpc/wire-protocol/package.json
  libs/@local/harpc/wire-protocol/src/response/kind.rs
  libs/@local/temporal-client/Cargo.toml
Labels: area/deps, area/infra, area/libs, type/eng > backend, type/legal

#5378 H-2414: Bump indirect dependencies
  Cargo.lock
  Cargo.toml
Labels: area/deps

#5361 H-3421: Resolve closed data types on creation/updating
  Cargo.lock
  Cargo.toml
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/reference.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5388 `harpc`: move types into `harpc-types`
  Cargo.lock
  libs/@local/harpc/codec/Cargo.toml
  libs/@local/harpc/codec/package.json
  libs/@local/harpc/codec/src/error.rs
  libs/@local/harpc/codec/src/json.rs
  libs/@local/harpc/net/Cargo.toml
  libs/@local/harpc/net/package.json
  libs/@local/harpc/net/src/session/client/connection/mod.rs
  libs/@local/harpc/net/src/session/client/connection/test.rs
  libs/@local/harpc/net/src/session/client/transaction/mod.rs
  libs/@local/harpc/net/src/session/client/transaction/stream.rs
  libs/@local/harpc/net/src/session/client/transaction/test.rs
  libs/@local/harpc/net/src/session/error.rs
  libs/@local/harpc/net/src/session/server/connection/mod.rs
  libs/@local/harpc/net/src/session/server/connection/test.rs
  libs/@local/harpc/net/src/session/server/test.rs
  libs/@local/harpc/net/src/session/server/transaction/mod.rs
  libs/@local/harpc/net/src/session/server/transaction/test.rs
  libs/@local/harpc/net/src/session/test.rs
  libs/@local/harpc/net/src/session/writer/mod.rs
  libs/@local/harpc/net/src/session/writer/test.rs
  libs/@local/harpc/server/Cargo.toml
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/package.json
  libs/@local/harpc/server/src/error.rs
  libs/@local/harpc/service/Cargo.toml
  libs/@local/harpc/service/package.json
  libs/@local/harpc/service/src/delegate.rs
  libs/@local/harpc/service/src/role.rs
  libs/@local/harpc/tower/Cargo.toml
  libs/@local/harpc/tower/package.json
  libs/@local/harpc/tower/src/layer/boxed.rs
  libs/@local/harpc/tower/src/layer/error.rs
  libs/@local/harpc/tower/src/layer/report.rs
  libs/@local/harpc/tower/src/net/pack.rs
  libs/@local/harpc/tower/src/net/unpack.rs
  libs/@local/harpc/tower/src/request.rs
  libs/@local/harpc/tower/src/response.rs
  libs/@local/harpc/types/Cargo.toml
  libs/@local/harpc/types/src/error_code.rs
  libs/@local/harpc/types/src/lib.rs
  libs/@local/harpc/types/src/procedure.rs
  libs/@local/harpc/types/src/response_kind.rs
  libs/@local/harpc/types/src/service.rs
  libs/@local/harpc/wire-protocol/Cargo.toml
  libs/@local/harpc/wire-protocol/src/request/begin.rs
  libs/@local/harpc/wire-protocol/src/request/body.rs
  libs/@local/harpc/wire-protocol/src/request/mod.rs
  libs/@local/harpc/wire-protocol/src/request/procedure.rs
  libs/@local/harpc/wire-protocol/src/request/service.rs
  libs/@local/harpc/wire-protocol/src/response/begin.rs
  libs/@local/harpc/wire-protocol/src/response/body.rs
  libs/@local/harpc/wire-protocol/src/response/kind.rs
  libs/@local/harpc/wire-protocol/src/response/mod.rs
Labels: area/deps, area/libs, type/eng > backend

#5372 H-3424: Move ontology UUID identifier to `typesystem`
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/metadata/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/channel.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/ontology_id.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/rows.rs
  apps/hash-graph/libs/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  apps/hash-graph/libs/store/src/filter/mod.rs
  apps/hash-graph/libs/store/src/filter/parameter.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/identifier.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-authorization/src/schema/data_type.rs
  libs/@local/hash-authorization/src/schema/entity_type.rs
  libs/@local/hash-authorization/src/schema/property_type.rs
  libs/@local/hash-authorization/src/zanzibar/api.rs
  libs/@local/hash-graph-types/rust/src/ontology/entity_type.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-graph-types/rust/src/ontology/property_type.rs
  tests/hash-graph-integration/postgres/data_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5333 GEN-200: Set MSRV for `error-stack` to `v1.83`
  libs/error-stack/.justfile
  libs/error-stack/CHANGELOG.md
  libs/error-stack/Cargo.toml
  libs/error-stack/README.md
  libs/error-stack/build.rs
  libs/error-stack/examples/demo.rs
  libs/error-stack/macros/Cargo.toml
  libs/error-stack/macros/README.md
  libs/error-stack/src/compat/anyhow.rs
  libs/error-stack/src/context.rs
  libs/error-stack/src/error.rs
  libs/error-stack/src/ext/tuple.rs
  libs/error-stack/src/fmt/hook.rs
  libs/error-stack/src/fmt/mod.rs
  libs/error-stack/src/frame/frame_impl.rs
  libs/error-stack/src/frame/mod.rs
  libs/error-stack/src/hook/context.rs
  libs/error-stack/src/hook/mod.rs
  libs/error-stack/src/iter.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/report.rs
  libs/error-stack/src/serde.rs
  libs/error-stack/src/sink.rs
  libs/error-stack/tests/common.rs
  libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  libs/error-stack/tests/snapshots/test_debug__full__multiline_context.snap
  libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace.snap
  libs/error-stack/tests/test_attach.rs
  libs/error-stack/tests/test_attach_printable.rs
  libs/error-stack/tests/test_backtrace.rs
  libs/error-stack/tests/test_change_context.rs
  libs/error-stack/tests/test_compatibility.rs
  libs/error-stack/tests/test_debug.rs
  libs/error-stack/tests/test_display.rs
  libs/error-stack/tests/test_downcast.rs
  libs/error-stack/tests/test_extend.rs
  libs/error-stack/tests/test_frame.rs
  libs/error-stack/tests/test_iter.rs
  libs/error-stack/tests/test_macros.rs
  libs/error-stack/tests/test_provision.rs
  libs/error-stack/tests/test_span_trace.rs
Labels: area/infra, area/libs > error-stack, area/libs, area/tests

#5394 H-3432: `harpc`: Expose background task
  Cargo.lock
  libs/@local/harpc/net/Cargo.toml
  libs/@local/harpc/net/src/session/server/mod.rs
  libs/@local/harpc/server/Cargo.toml
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/src/router.rs
  libs/@local/harpc/server/src/session.rs
Labels: area/deps, area/libs, type/eng > backend

#5400 H-3437: `harpc`: Simplify signature of `harpc_server::serve`
  Cargo.lock
  libs/@local/harpc/server/Cargo.toml
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/src/lib.rs
  libs/@local/harpc/server/src/route.rs
  libs/@local/harpc/server/src/router.rs
  libs/@local/harpc/server/src/serve.rs
  libs/@local/harpc/tower/src/net/pack.rs
  libs/@local/harpc/tower/src/response.rs
Labels: area/deps, area/libs, type/eng > backend

#5380 H-3426: Implement folding for data type constraints
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/any_of.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/array.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/boolean.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/null.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/number.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/object.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/string.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@local/hash-validation/src/entity_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend

#5381 H-3427: Implement folding for number constraints
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/number.rs
Labels: area/libs

#5404 H-3430: Implement folding for `anyOf` constraints
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/any_of.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/mod.rs
Labels: area/libs

#5409 H-3490: `harpc`: Implement tower client logic
  Cargo.lock
  Cargo.toml
  libs/@local/harpc/client/Cargo.toml
  libs/@local/harpc/client/LICENSE.md
  libs/@local/harpc/client/package.json
  libs/@local/harpc/client/src/connection.rs
  libs/@local/harpc/client/src/lib.rs
  libs/@local/harpc/codec/Cargo.toml
  libs/@local/harpc/codec/src/decode.rs
  libs/@local/harpc/codec/src/encode.rs
  libs/@local/harpc/codec/src/error.rs
  libs/@local/harpc/codec/src/json.rs
  libs/@local/harpc/codec/src/lib.rs
  libs/@local/harpc/net/src/session/client/connection/collection.rs
  libs/@local/harpc/net/src/session/client/connection/mod.rs
  libs/@local/harpc/net/src/session/client/mod.rs
  libs/@local/harpc/net/src/session/server/session_id.rs
  libs/@local/harpc/net/src/transport/config.rs
  libs/@local/harpc/net/src/transport/mod.rs
  libs/@local/harpc/net/src/transport/task.rs
  libs/@local/harpc/server/Cargo.toml
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/package.json
  libs/@local/harpc/server/src/lib.rs
  libs/@local/harpc/server/src/serve.rs
  libs/@local/harpc/service/src/role.rs
  libs/@local/harpc/tower/src/layer/boxed.rs
  libs/@local/harpc/tower/src/layer/decode.rs
  libs/@local/harpc/tower/src/layer/decode_error.rs
  libs/@local/harpc/tower/src/layer/encode.rs
  libs/@local/harpc/tower/src/layer/error.rs
  libs/@local/harpc/tower/src/layer/map_body.rs
  libs/@local/harpc/tower/src/layer/mod.rs
  libs/@local/harpc/tower/src/net/mod.rs
  libs/@local/harpc/tower/src/net/pack_error.rs
  libs/@local/harpc/tower/src/request.rs
  libs/@local/harpc/tower/src/response.rs
  libs/@local/harpc/wire-protocol/src/request/id.rs
Labels: area/deps, area/infra, area/libs, type/eng > backend, type/legal

#5428 H-3500: `harpc`: Remove the `ErrorEncoder` and `ErrorDecoder` traits
  Cargo.lock
  libs/@local/harpc/client/Cargo.toml
  libs/@local/harpc/client/package.json
  libs/@local/harpc/codec/src/decode.rs
  libs/@local/harpc/codec/src/encode.rs
  libs/@local/harpc/codec/src/error.rs
  libs/@local/harpc/codec/src/json.rs
  libs/@local/harpc/codec/src/lib.rs
  libs/@local/harpc/net/Cargo.toml
  libs/@local/harpc/net/src/session/server/connection/mod.rs
  libs/@local/harpc/net/src/session/server/connection/test.rs
  libs/@local/harpc/net/src/session/server/mod.rs
  libs/@local/harpc/net/src/session/server/task.rs
  libs/@local/harpc/net/src/session/server/test.rs
  libs/@local/harpc/net/src/session/server/transaction/mod.rs
  libs/@local/harpc/net/src/session/server/transaction/test.rs
  libs/@local/harpc/net/src/session/test.rs
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/src/lib.rs
  libs/@local/harpc/server/src/route.rs
  libs/@local/harpc/server/src/router.rs
  libs/@local/harpc/server/src/serve.rs
  libs/@local/harpc/tower/Cargo.toml
  libs/@local/harpc/tower/src/body/encode_error.rs
  libs/@local/harpc/tower/src/body/encode_report.rs
  libs/@local/harpc/tower/src/layer/body_error.rs
  libs/@local/harpc/tower/src/layer/body_report.rs
  libs/@local/harpc/tower/src/layer/decode_error.rs
  libs/@local/harpc/tower/src/layer/error.rs
  libs/@local/harpc/tower/src/layer/report.rs
  libs/@local/harpc/tower/src/net/pack.rs
  libs/@local/harpc/tower/src/net/pack_error.rs
  libs/@local/harpc/tower/src/response.rs
  libs/@local/harpc/types/src/error_code.rs
  libs/@local/harpc/wire-protocol/Cargo.toml
  libs/@local/harpc/wire-protocol/package.json
Labels: area/deps, area/libs, type/eng > backend

#5432 H-2837: `harpc`: wait to acquire address on listen
  libs/@local/harpc/net/src/session/test.rs
  libs/@local/harpc/net/src/transport/ipc.rs
  libs/@local/harpc/net/src/transport/mod.rs
  libs/@local/harpc/net/src/transport/task.rs
  libs/@local/harpc/net/src/transport/test.rs
Labels: area/libs, type/eng > backend

#5410 H-3428: Implement folding for string constraints
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/string.rs
Labels: area/libs

#3552 H-392: Use a table instead of a view for entity type inheritance
  apps/hash-graph/bins/cli/src/subcommand/reindex_cache.rs
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/graph/postgres_migrations/V32__closed_entity_type_edges.sql
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/condition.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/order_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/where_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/expression/with_clause.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/rows.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/schema/closed_resolver.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@local/hash-graph-types/rust/src/ontology/entity_type.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, priority/2 medium, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5475 H-3517: Setup scaffolding for chunking and embedding crate
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  libs/chonky/Cargo.toml
  libs/chonky/LICENSE.md
  libs/chonky/README.md
  libs/chonky/package.json
  libs/chonky/src/lib.rs
Labels: area/deps, area/infra, area/libs, type/legal, area/libs > chonky

#5460 H-3507: Move `icon` and `labelProperty` to entity type schema
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-ai-worker-ts/src/activities/shared/find-existing-entity.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/graphql/queries/ontology/entity-type.queries.ts
  apps/hash-frontend/src/pages/[shortname].page/edit-pinned-entity-types-modal.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities/draft-entities-filters.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-type.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/type-slide-over-stack/type-slide-over-slide.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/use-entity-type-value.tsx
  apps/hash-frontend/src/pages/shared/entity-type-selector.tsx
  apps/hash-frontend/src/pages/shared/link-label-with-source-and-destination.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-entities-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-entity-type-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/favorites-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/entity-or-type-sidebar-item.tsx
  apps/hash-frontend/src/shared/use-entity-icon.tsx
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/graph/postgres_migrations/V33__entity_type_with_icon_property_label.sql
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/rows.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/libs/store/src/entity/query.rs
  libs/@blockprotocol/graph/src/types/ontology/entity-type.ts
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/raw.rs
  libs/@hashintel/type-editor/src/entity-type-editor/shared/use-inherited-values.ts
  libs/@hashintel/type-editor/src/get-entity-type-from-form-data.ts
  libs/@hashintel/type-editor/src/get-form-data-from-entity-type.ts
  libs/@hashintel/type-editor/src/shared/form-types.ts
  libs/@local/hash-graph-types/rust/src/ontology/entity_type.rs
  libs/@local/hash-graph-types/typescript/src/ontology.ts
  libs/@local/hash-isomorphic-utils/src/generate-entity-label.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/entity-type.typedef.ts
  libs/@local/hash-subgraph/src/types/element/ontology.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
  tests/hash-graph-benches/util.rs
  tests/hash-graph-http/tests/friendship.http
  tests/hash-graph-integration/postgres/entity_type.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5477 H-3516: Allow querying entity type resolve data from Postgres
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#5483 H-3519: `harpc`: rework the `Connection` type
  Cargo.lock
  libs/@local/harpc/client/Cargo.toml
  libs/@local/harpc/client/package.json
  libs/@local/harpc/client/src/connection/default.rs
  libs/@local/harpc/client/src/connection/mod.rs
  libs/@local/harpc/client/src/connection/service.rs
  libs/@local/harpc/client/src/lib.rs
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/tower/src/request.rs
Labels: area/deps, area/libs, type/eng > backend

#5515 H-3525: Update description of generated block code
  .github/workflows/lint.yml
  blocks/chart/src/types/generated/block-entity.ts
  blocks/faq/src/types/generated/block-entity.ts
  blocks/table/src/types/generated/block-entity.ts
Labels: area/infra, area/blocks

#5514 H-3524: Remove wrong input parameters from terraform execute action
  .github/actions/terraform-exec/action.yml
Labels: area/infra

#5479 H-3518: Differentiate a `ClosedEntityType` and `ClosedMultiEntityType`
  apps/hash-graph/bins/cli/src/subcommand/server.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  apps/hash-graph/libs/store/src/entity_type/query.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/object.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/constraints.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/raw.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/object/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/object/validation.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/error.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
  tests/hash-graph-http/test.sh
  tests/hash-graph-http/tests/link-inheritance.http
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#5517 H-3531: Properly run `lint:tsc` for eslint-config
  libs/@local/eslint-config/generate-ignore-patterns.cjs
  libs/@local/eslint-config/package.json
  libs/@local/eslint-config/temporarily-disable-rules.cjs
  libs/@local/hash-graph-client/typescript/tsconfig.json
  libs/@local/tsconfig/legacy-base-tsconfig-to-refactor.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend

#5513 H-3080: Implement querying for closed entity types
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-graph/libs/api/openapi/models/closed_entity_type.json
  apps/hash-graph/libs/api/openapi/models/shared.json
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/api/src/rest/json_schemas/closed_entity_type.json
  apps/hash-graph/libs/api/src/rest/json_schemas/shared.json
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  libs/@local/hash-graph-types/typescript/src/ontology.ts
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  tests/hash-graph-benches/representative_read/ontology/entity_type.rs
  tests/hash-graph-integration/postgres/entity_type.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5518 H-3532: Expose querying multi-entity types
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-graph/libs/api/openapi/models/closed_multi_entity_type.json
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/json_schemas/closed_multi_entity_type.json
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  libs/@local/hash-graph-client/typescript/turbo.json
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5520 H-3534: Store closed data type schemas in database
  apps/hash-graph/libs/graph/postgres_migrations/V34__closed_data_types.sql
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/rows.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#5521 H-3038: Validate ontology type in snapshots
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/channel.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/object/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/one_of/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/property_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5525 H-3538: Move `DataTypeStore` into `store`
  Cargo.lock
  apps/hash-graph/bins/cli/Cargo.toml
  apps/hash-graph/bins/cli/package.json
  apps/hash-graph/bins/cli/src/subcommand/reindex_cache.rs
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/api/src/rest/status.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/metadata/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/owner/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/web/batch.rs
  apps/hash-graph/libs/graph/src/store/crud.rs
  apps/hash-graph/libs/graph/src/store/error.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/mod.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/crud.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/pool.rs
  apps/hash-graph/libs/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  apps/hash-graph/libs/store/src/data_type/mod.rs
  apps/hash-graph/libs/store/src/data_type/store.rs
  apps/hash-graph/libs/store/src/error.rs
  apps/hash-graph/libs/store/src/lib.rs
  package.json
  tests/hash-graph-benches/read_scaling/knowledge/complete/entity.rs
  tests/hash-graph-benches/read_scaling/knowledge/linkless/entity.rs
  tests/hash-graph-benches/representative_read/knowledge/entity.rs
  tests/hash-graph-benches/representative_read/ontology/entity_type.rs
  tests/hash-graph-benches/representative_read/seed.rs
  tests/hash-graph-benches/util.rs
  tests/hash-graph-integration/postgres/data_type.rs
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/entity_type.rs
  tests/hash-graph-integration/postgres/interconnected_graph.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/multi_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/property_metadata.rs
  tests/hash-graph-integration/postgres/property_type.rs
  tests/hash-graph-integration/postgres/sorting.rs
Labels: area/deps, area/apps > hash*, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph
