Repository hashintel/hash, pull requests merged in 2024-03, with the labels that each got.

#4131 H-2345: Pin turbo version to patch version
  package.json
  yarn.lock
Labels: area/deps

#4113 H-2303: Overhaul merge logic for entity types
  apps/hash-graph/libs/graph/src/lib.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/error.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/links/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/links/raw.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/raw.rs
  libs/@blockprotocol/type-system/rust/src/ontology/shared/array/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/shared/array/raw.rs
  libs/@blockprotocol/type-system/rust/src/ontology/shared/object/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/shared/object/raw.rs
  libs/@blockprotocol/type-system/rust/src/ontology/shared/one_of/mod.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/property_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4134 H-2347: Temporarily disable Playwright test requirement
  .github/workflows/test.yml
Labels: area/infra

#4133 H-2345: Fix global dependency globs for Turbo
  package.json
  turbo.json
  yarn.lock
Labels: area/deps

#4132 H-2346: Add `/me` router that redirects to user's profile page
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/me.page.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4128 H-2331: Introduce a `ClosedEntityType` struct
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/links/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/raw.rs
  libs/@blockprotocol/type-system/rust/src/ontology/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/shared/array/mod.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/error.rs
  libs/@local/hash-validation/src/lib.rs
Labels: area/apps > hash*, state/blocked, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4146 H-2355: Install Rust in Vercel install step
  apps/hash-frontend/vercel-install.sh
  apps/hashdotdesign/vercel-install.sh
  apps/hashdotdev/vercel-install.sh
Labels: area/apps > hash*, area/apps > hash.dev, type/eng > frontend, area/apps, area/apps > hash.design

#4135 H-2209: Use Rust edition 2024
  .rustfmt.toml
  Cargo.toml
  apps/hash-graph/bench/Cargo.toml
  apps/hash-graph/bins/cli/Cargo.toml
  apps/hash-graph/bins/cli/src/subcommand/mod.rs
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/api/src/error.rs
  apps/hash-graph/libs/api/src/generated.rs
  apps/hash-graph/libs/api/src/lib.rs
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/src/store/crud.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/libs/query-builder-derive/Cargo.toml
  apps/hash-graph/libs/type-fetcher/Cargo.toml
  libs/@local/codec/Cargo.toml
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/backend/mod.rs
  libs/@local/hash-authorization/src/backend/spicedb/api.rs
  libs/@local/hash-authorization/src/lib.rs
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/src/lib.rs
  libs/@local/hash-validation/src/property_type.rs
  libs/@local/status/rust/Cargo.toml
  libs/@local/temporal-client/Cargo.toml
  libs/@local/temporal-client/src/lib.rs
  libs/@local/temporal-versioning/Cargo.toml
  libs/@local/tracing/Cargo.toml
  libs/@local/tracing/src/lib.rs
  libs/@local/tracing/src/logging.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#4153 H-2367: Mention Rust exceptions in `Fractal Trees` HDEV post
  apps/hashdotdev/src/_pages/blog/0016_file-structuring.mdx
Labels: area/apps > hash.dev, area/apps

#4140 H-2205, H-2354: Implement multi-type entities in the graph
  Cargo.lock
  apps/hash-ai-worker-ts/src/activities/infer-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/dereference-entity-type.test.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/inference-types.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/activities/parse-text-from-file.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/primitive/link-entity.ts
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/table.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/circular-links.http
  apps/hash-graph/tests/friendship.http
  apps/hash-integration-worker/src/activities.ts
  apps/hash-integration-worker/src/activities/graph-requests.ts
  apps/plugin-browser/src/pages/shared/use-entity-types.ts
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/closed.rs
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-backend-utils/src/notifications.ts
  libs/@local/hash-backend-utils/src/service-usage.ts
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  libs/@local/hash-subgraph/src/stdlib/subgraph/roots.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/sorting.rs
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4148 H-2362: Support converting `BaseUrl` to/from Postgres
  Cargo.lock
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/api/src/rest/utoipa_typedef/subgraph/edges.rs
  apps/hash-graph/libs/api/src/rest/utoipa_typedef/subgraph/vertices/mod.rs
  apps/hash-graph/libs/api/src/rest/utoipa_typedef/subgraph/vertices/vertex.rs
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/entity_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/metadata/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/property_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/table.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/read.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/statement/select.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/libs/graph/src/store/query/mod.rs
  apps/hash-graph/libs/graph/src/subgraph/identifier/vertex.rs
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/src/ontology/url/mod.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-validation/src/entity_type.rs
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/sorting.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4157 H-2376: Fix `Organizations` user guide page icon
  apps/hashdotai/guide/02_webs/02_orgs.mdx
Labels: area/apps

#4159 H-2378: Update links
  apps/hashdotai/glossary/entities.mdx
  apps/hashdotai/guide/02_webs/01_users.mdx
  apps/hashdotai/guide/02_webs/02_orgs.mdx
  apps/hashdotai/guide/04_types/01_entity-types.mdx
  apps/hashdotai/guide/10_flows/05_creating.mdx
Labels: area/apps > hash.ai, area/apps

#4154 H-2351: Allow querying multiple entity types for a single entity
  Cargo.lock
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/libs/graph/src/store/query/mod.rs
  apps/hash-graph/postgres_migrations/V20__multi_type_entities.sql
Labels: area/deps, area/apps > hash*, state/blocked, type/eng > backend, area/apps, area/apps > hash-graph

#4165 H-2298: Encode `graph` database permissions in Terraform
  infra/terraform/hash/postgres_roles/postgres_roles.tf
Labels: area/infra, area/infra > terraform

#4163 H-2385: Convert Graph API entity type to Node API type in AI worker
  apps/hash-ai-worker-ts/src/workflows.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/roots.ts
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps

#4169 H-2224, H-2239, H-2373: Bug fixes in entities table, redirect after signin
  apps/hash-frontend/src/components/grid/utils/sorting.ts
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table.tsx
  apps/hash-graph/package.json
  package.json
Labels: area/apps > hash*, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash-graph

#4168 H-1643: Add draft indicators to browser plugin jobs, add tooltips
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-request/inferred-entity.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/log/inference-requests.tsx
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  apps/plugin-browser/src/shared/storage.ts
Labels: area/apps

#4174 H-2406: Add environment variables for connecting to vault to Terraform
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/temporal_worker_integration.tf
  infra/terraform/hash/hash_application/variables.tf
  infra/terraform/hash/main.tf
Labels: area/infra, area/infra > terraform

#4178 H-2406: Add missing secrets definition to Temporal integration worker task definition
  infra/terraform/hash/hash_application/temporal_worker_integration.tf
Labels: area/infra, area/infra > terraform

#4179 H-2414: Bump indirect Rust dependencies
  Cargo.lock
Labels: area/deps

#4172 H-2370: Write tests for multi-type entities
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/hash-validation/src/entity_type.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/multi_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4181 H-2413: Add policy to allow access to integration worker SSM values
  infra/terraform/hash/hash_application/main.tf
Labels: area/infra, area/infra > terraform

#4166 H-2330, H-2337, H-2339: Fix notifications page + write test, relax rate limiting for tests
  apps/hash-api/package.json
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/index.ts
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/shared/notifications-with-links-context.tsx
  apps/plugin-browser/package.json
  apps/plugin-browser/src/shared/query-graphql-api.ts
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/callout/package.json
  blocks/chart/package.json
  blocks/code/package.json
  blocks/countdown/package.json
  blocks/divider/package.json
  blocks/faq/package.json
  blocks/heading/package.json
  blocks/how-to/package.json
  blocks/image/package.json
  blocks/kanban-board/package.json
  blocks/minesweeper/package.json
  blocks/paragraph/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  blocks/timer/package.json
  blocks/video/package.json
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/element/entity.ts
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/design-system/package.json
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/query-graphql-api.ts
  libs/@local/hash-subgraph/package.json
  tests/hash-backend-integration/package.json
  tests/hash-playwright/codegen.config.ts
  tests/hash-playwright/package.json
  tests/hash-playwright/tests/entity-creation.spec.ts
  tests/hash-playwright/tests/entity-type-creation.spec.ts
  tests/hash-playwright/tests/graphql/queries/entity.queries.ts
  tests/hash-playwright/tests/graphql/queries/user.queries.ts
  tests/hash-playwright/tests/inbox-page.spec.ts
  tests/hash-playwright/tests/shared/api-queries.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/tests > playwright, area/apps

#2921 Version Packages
  .changeset/big-shrimps-mix.md
  .changeset/breezy-tomatoes-divide.md
  .changeset/chilly-apples-grin.md
  .changeset/clever-snakes-sin.md
  .changeset/curly-pears-vanish.md
  .changeset/dirty-lamps-deliver.md
  .changeset/eleven-humans-watch.md
  .changeset/five-tomatoes-swim.md
  .changeset/gentle-ties-eat.md
  .changeset/honest-turkeys-notice.md
  .changeset/polite-apricots-fly.md
  .changeset/short-buckets-search.md
  .changeset/smart-seahorses-matter.md
  .changeset/tidy-phones-sit.md
  .changeset/unlucky-singers-behave.md
  apps/hash-frontend/package.json
  apps/hashdotdesign/package.json
  apps/plugin-browser/package.json
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/chart/package.json
  blocks/faq/package.json
  blocks/how-to/package.json
  blocks/kanban-board/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  libs/@hashintel/block-design-system/CHANGELOG.md
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/design-system/CHANGELOG.md
  libs/@hashintel/design-system/package.json
  libs/@hashintel/query-editor/CHANGELOG.md
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/CHANGELOG.md
  libs/@hashintel/type-editor/package.json
Labels: area/apps > hash*, area/infra, area/blocks, area/libs, type/eng > frontend, priority/2 medium, area/apps, area/apps > hash.design

#4173 H-162: Remove link ordering
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/primitive/link-entity.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/knowledge-shim.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-update-entity.ts
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/representative_read/seed.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/table.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V21__remove_link_ordering.sql
  apps/hash-integration-worker/package.json
  libs/@blockprotocol/graph/src/non-temporal/custom-element.ts
  libs/@blockprotocol/graph/src/shared/types/entity.ts
  libs/@blockprotocol/graph/src/temporal/custom-element.ts
  libs/@local/hash-backend-utils/src/convert-bp-filter-to-graph-filter.ts
  libs/@local/hash-backend-utils/src/pg-tables.ts
  libs/@local/hash-graph-types/rust/src/knowledge/link.rs
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
  libs/@local/hash-subgraph/src/types/element/knowledge.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/multi_type.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4167 H-1860, H-1859, H-1858, H-1861, H-2196: Ability to set feature flags/entitlements per user + redirect from user entity page
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/012-add-enabled-feature-flags-property.migration.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/seed-data/seed-users.ts
  apps/hash-frontend/src/components/hooks/use-hash-instance.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/[shortname].page.tsx
  apps/hash-frontend/src/pages/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  apps/hash-frontend/src/pages/shared/use-enabled-feature-flags.tsx
  apps/hash-frontend/src/shared/command-bar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/actions-dropdown/create-page-menu-items.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/account-page-list/account-page-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off/infer-entities-action.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/shared/entity-type-selector.tsx
  apps/plugin-browser/src/shared/get-user.ts
  apps/plugin-browser/src/shared/storage.ts
  libs/@local/hash-isomorphic-utils/src/feature-flags.ts
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/commentnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/mentionnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4185 H-2417: Mark packages that shouldn't be published as private
  apps/hashdotdesign/package.json
  blocks/kanban-board/package.json
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/type-system/typescript/package.json
Labels: area/blocks, area/libs, area/apps, area/apps > hash.design

#4184 Revert "H-2347: Temporarily disable Playwright test requirement"
  .github/workflows/test.yml
Labels: area/infra

#4182 H-2300, H-2343, H-2341, H-2334: move `/drafts` to `/actions` + other related crash fixes/changes
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/draft-entity-banner.tsx
  apps/hash-frontend/src/pages/actions.page.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities-bulk-actions-dropdown.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities/draft-entities-context-bar.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities/draft-entities-filters.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities/draft-entities-filters/filter-section.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities/draft-entities-filters/types.ts
  apps/hash-frontend/src/pages/actions.page/draft-entity.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-action-buttons.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-chip.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-provenance.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-type.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-viewers.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-web.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/notifications-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/shared/header-icon-button-with-count.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/top-nav-link.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4193 H-2423: fix hash.dev mobile navbar responsiveness issue
  apps/hashdotdev/src/components/navbar/mobile-nav-items.tsx
  yarn.lock
Labels: area/deps, area/apps > hash.dev, area/apps

#4183 H-1455: Implement partial updates for entities
  Cargo.lock
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/activities/parse-text-from-file.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/primitive/link-entity.ts
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
  apps/hash-integration-worker/src/linear-activities.ts
  apps/hash-integration-worker/src/shared/graph-requests.ts
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/src/knowledge/entity.rs
  tests/hash-graph-integration/Cargo.toml
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/multi_type.rs
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4204 H-2429: Fix broken links, convert images from JPG to WEBP, fix typos
  apps/hashdotai/blog/008_vaccine-distribution.mdx
  apps/hashdotai/blog/016_uk-housing-model.mdx
  apps/hashdotai/blog/017_optimization-experiments.mdx
  apps/hashdotai/blog/019_generating-a-simulation-from-terraform.mdx
  apps/hashdotai/blog/020_calibrating-models-in-hash.mdx
  apps/hashdotai/blog/022_popular-datasets-in-hash.mdx
  apps/hashdotai/blog/025_reinforcement-learning-in-hash-simulations.mdx
  apps/hashdotai/blog/027_genetic-algorithms-in-simulations.mdx
  apps/hashdotai/blog/028_financial-simulation-toolbox.mdx
  apps/hashdotai/blog/036_basic-computational-economics.mdx
  apps/hashdotai/glossary/entities.mdx
  apps/hashdotai/glossary/fork.mdx
  apps/hashdotai/glossary/machine-learning.mdx
  apps/hashdotai/glossary/merge.mdx
  apps/hashdotai/glossary/parameters.mdx
  apps/hashdotai/guide/04_types/01_entity-types.mdx
  apps/hashdotdev/public/blog/0002_open-source/README.md
  apps/hashdotdev/public/blog/0003_one-principle/README.md
  apps/hashdotdev/public/blog/0006_block-protocol-v02/README.md
  apps/hashdotdev/public/blog/authors/alfred-mountfield.webp
  apps/hashdotdev/public/blog/authors/ciaran-morinan.jpg
  apps/hashdotdev/public/blog/authors/ciaran-morinan.webp
  apps/hashdotdev/public/blog/authors/david-wilkinson.jpg
  apps/hashdotdev/public/blog/authors/dei-vilkinsons.webp
  apps/hashdotdev/public/blog/authors/joel-spolsky.jpg
  apps/hashdotdev/public/blog/authors/joel-spolsky.webp
  apps/hashdotdev/public/blog/authors/maggie-appleton.png
  apps/hashdotdev/public/blog/authors/maggie-appleton.webp
  apps/hashdotdev/public/blog/authors/nate-higgins.jpg
  apps/hashdotdev/public/blog/authors/nate-higgins.webp
  apps/hashdotdev/public/blog/authors/tim-diekmann.jpg
  apps/hashdotdev/public/blog/authors/tim-diekmann.webp
  apps/hashdotdev/src/_pages/blog/0001_block-design.mdx
  apps/hashdotdev/src/_pages/blog/0002_open-source.mdx
  apps/hashdotdev/src/_pages/blog/0003_one-principle.mdx
  apps/hashdotdev/src/_pages/blog/0004_announcing-error-stack.mdx
  apps/hashdotdev/src/_pages/blog/0006_block-protocol-v02.mdx
  apps/hashdotdev/src/_pages/blog/0007_block-paved-path.mdx
  apps/hashdotdev/src/_pages/blog/0008_sensitivity-assessor.mdx
  apps/hashdotdev/src/_pages/blog/0009_strange-loop-workshop.mdx
  apps/hashdotdev/src/_pages/blog/0010_error-stack-update-0-2.mdx
  apps/hashdotdev/src/_pages/blog/0011_hook-service.mdx
  apps/hashdotdev/src/_pages/blog/0012_block-protocol-0-3-wordpress.mdx
  apps/hashdotdev/src/_pages/blog/0014_tech-tree.mdx
  apps/hashdotdev/src/_pages/blog/0015_structured-data-value.mdx
  apps/hashdotdev/src/_pages/blog/0016_file-structuring.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/04_tutorials/03_financial-toolbox/02_making-trades.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/04_tutorials/03_financial-toolbox/03_economic-analysis.mdx
  apps/hashdotdev/src/pages/roadmap/technology-tree-data.tsx
Labels: area/apps > hash.ai, area/infra, area/apps > hash.dev, area/apps

#4194 H-2422: Create more tests for partial updates
  Cargo.lock
  apps/hash-graph/bench/read_scaling/knowledge/complete/entity.rs
  apps/hash-graph/bench/read_scaling/knowledge/linkless/entity.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/mod.rs
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/entity_type.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/multi_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/sorting.rs
  tests/hash-graph-test-data/rust/src/entity_type/person.json
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4203 H-2194, H-1777: add `/admin/users` page where hash instance admins can set the feature flags of a user
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/013-add-enabled-feature-flags-property.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/014-add-instance-admin-permission.migration.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/admin/admin-page-layout.tsx
  apps/hash-frontend/src/pages/admin/index.page.tsx
  apps/hash-frontend/src/pages/admin/users.page.tsx
  apps/hash-frontend/src/pages/admin/users/[user-entity-uuid].page.tsx
  apps/hash-frontend/src/pages/admin/users/basic-info-section.tsx
  apps/hash-frontend/src/pages/settings/index.page.tsx
  apps/hash-frontend/src/pages/settings/integrations.page.tsx
  apps/hash-frontend/src/pages/settings/integrations/google-sheets.page.tsx
  apps/hash-frontend/src/pages/settings/integrations/linear.page.tsx
  apps/hash-frontend/src/pages/settings/integrations/linear/new.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/general.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/index.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/new/index.page.tsx
  apps/hash-frontend/src/pages/settings/shared/settings-page-container.tsx
  apps/hash-frontend/src/pages/shared/auth-info-context.tsx
  apps/hash-frontend/src/pages/shared/settings-layout.tsx
  apps/hash-frontend/src/pages/shared/settings-layout/settings-sidebar.tsx
  apps/hash-frontend/src/shared/icons/cog-light-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#4180 H-2416: switch from `jest` to `vitest`
  .github/renovate.json
  apps/hash-ai-worker-ts/jest.config.cjs
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/infer-entities/dereference-entity-type.test.ts
  apps/hash-ai-worker-ts/vitest.config.mjs
  apps/hash-api/jest.config.cjs
  apps/hash-api/package.json
  apps/hash-api/src/util.test.ts
  apps/hash-api/vitest.config.mjs
  libs/@blockprotocol/type-system/typescript/jest.config.cjs
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@blockprotocol/type-system/typescript/src/main.ts
  libs/@blockprotocol/type-system/typescript/src/native/url.ts
  libs/@blockprotocol/type-system/typescript/test/__snapshots__/url.test.ts.snap
  libs/@blockprotocol/type-system/typescript/test/data-type.test.ts
  libs/@blockprotocol/type-system/typescript/test/entity-type.test.ts
  libs/@blockprotocol/type-system/typescript/test/property-type.test.ts
  libs/@blockprotocol/type-system/typescript/test/shared.ts
  libs/@blockprotocol/type-system/typescript/test/url.test.ts
  libs/@blockprotocol/type-system/typescript/vitest.config.mjs
  libs/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  libs/@local/eslint-config/package.json
  libs/@local/hash-backend-utils/jest.config.cjs
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/search/opensearch-pagination.test.ts
  libs/@local/hash-backend-utils/vitest.config.mjs
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/entity.test.ts
  libs/@local/hash-isomorphic-utils/vitest.config.mjs
  libs/@local/hash-subgraph/jest.config.cjs
  libs/@local/hash-subgraph/package.json
  libs/@local/hash-subgraph/tests/compatibility.test.ts
  libs/@local/hash-subgraph/vitest.config.mjs
  libs/@local/internal-api-client-generator/typescript/package.json
  tests/hash-backend-integration/babel.config.js
  tests/hash-backend-integration/jest.config.cjs
  tests/hash-backend-integration/package.json
  tests/hash-backend-integration/src/tests/email.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/link-entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/block.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment-notification.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/file.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/mention-notification.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org-membership.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/page.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
  tests/hash-backend-integration/src/tests/subgraph/circular.test.ts
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
  tests/hash-backend-integration/src/tests/subgraph/simple.test.ts
  tests/hash-backend-integration/src/tests/util.ts
  tests/hash-backend-integration/vitest.config.mjs
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#4207 H-2435: Update in-repo documentation to mention Vitest
  .vscode/extensions.json
  apps/hash/README.md
Labels: area/infra, area/dx, area/apps

#4212 H-2437: Fix broken links
  Cargo.lock
  apps/hashdotai/guide/02_webs/00_index.mdx
  apps/hashdotdev/public/blog/authors/ross-gore.png
  apps/hashdotdev/public/blog/authors/ross-gore.webp
  apps/hashdotdev/src/_pages/docs/08_simulations/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/01_create/02_agents/06_visualization/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/01_create/02_agents/06_visualization/02_shapes.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/01_create/03_behaviors/01_composable-behaviors.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/01_create/07_libraries/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/01_create/07_libraries/02_process/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/01_create/09_design-considerations/05_distributions.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/02_run/02_experiment/02_optimization-experiments/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/01_hello-hash.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/02_building-process-models/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/02_building-process-models/01_process-model-concepts.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/02_building-process-models/02_using-the-process-model-builder.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/02_building-process-models/03_analyzing-process-models.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/02_building-process-models/04_experimenting-with-process-models.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/02_building-process-models/05_using-data-in-a-process-model.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/03_financial-toolbox/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/03_financial-toolbox/01_modeling-a-portfolio.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/03_financial-toolbox/02_making-trades.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/03_financial-toolbox/03_economic-analysis.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/04_create-a-simulation-dashboard.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/05_extending-an-epidemic-model/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/05_extending-an-epidemic-model/01_add-heterogeneity.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/05_extending-an-epidemic-model/02_create-a-hospital.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/05_extending-an-epidemic-model/03_create-testing-behavior.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/05_extending-an-epidemic-model/04_create-an-icu.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/06_phase-1-building-a-simple-hotelling-model-in-2d/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/06_phase-1-building-a-simple-hotelling-model-in-2d/01_set-up-environment.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/06_phase-1-building-a-simple-hotelling-model-in-2d/02_initialization.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/06_phase-1-building-a-simple-hotelling-model-in-2d/03_query-customers.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/06_phase-1-building-a-simple-hotelling-model-in-2d/04_customer-reply.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/06_phase-1-building-a-simple-hotelling-model-in-2d/05_business-collect-and-update.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/06_phase-1-building-a-simple-hotelling-model-in-2d/06_phase-1-final-code.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/06_phase-1-building-a-simple-hotelling-model-in-2d/07_building-the-local-competition-model.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/07_migrating/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/07_migrating/01_anylogic/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/07_migrating/01_anylogic/01_mental-models.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/07_migrating/01_anylogic/02_planning-the-build.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/07_migrating/01_anylogic/03_main-loop.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/07_migrating/01_anylogic/04_building-the-simulation/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/07_migrating/01_anylogic/04_building-the-simulation/01_tankers-to-port.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/07_migrating/01_anylogic/04_building-the-simulation/02_through-the-pipeline.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/07_migrating/01_anylogic/04_building-the-simulation/03_trucks-on-the-move.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/07_migrating/01_anylogic/04_building-the-simulation/04_full-initialization.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/07_migrating/01_anylogic/04_building-the-simulation/05_improving-our-visualization.mdx
Labels: area/deps, area/apps > hash.dev, area/apps

#4216 H-2439: Upgrade ECharts to fix running app with Node 21
  blocks/chart/package.json
  libs/@hashintel/design-system/package.json
  yarn.lock
Labels: area/deps, area/blocks, area/libs, type/eng > frontend

#4195 H-2338: HashGPT semantic search, links to entities
  apps/hash-api/src/ai/gpt/README.md
  apps/hash-api/src/ai/gpt/generate-hashgpt-schema.ts
  apps/hash-api/src/ai/gpt/gpt-query-entities.ts
  apps/hash-api/src/ai/gpt/gpt-query-types.ts
  apps/hash-api/src/ai/gpt/shared/entity-types.ts
  apps/hash-api/src/ai/gpt/shared/stringify-results.ts
  apps/hash-api/src/index.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps

#4223 H-2455: Make `@hashintel/block-design-system` private
  libs/@hashintel/block-design-system/package.json
Labels: area/libs, type/eng > frontend

#4218 H-2425: Allow querying Flow status from Temporal history
  apps/hash-api/package.json
  apps/hash-api/src/graphql/resolvers/flows/runs.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/faq/package.json
  blocks/how-to/package.json
  blocks/kanban-board/package.json
  blocks/minesweeper/package.json
  blocks/table/package.json
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/flow.typedef.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/schema.ts
  libs/@local/tsconfig/legacy-base-tsconfig-to-refactor.json
Labels: area/apps > hash*, area/apps > hash-api, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4220 H-2445: Fix whitespace issue
  Cargo.lock
  apps/hashdotai/guide/07_sharing/01_peers.mdx
  apps/hashdotdev/src/_pages/docs/01_get-started/01_setup.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/01_create/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/02_run/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/02_run/01_simulation/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/05_extending-an-epidemic-model/00_index.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/05_extending-an-epidemic-model/01_add-heterogeneity.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/05_extending-an-epidemic-model/02_create-a-hospital.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/05_extending-an-epidemic-model/03_create-testing-behavior.mdx
  apps/hashdotdev/src/_pages/docs/08_simulations/03_tutorials/05_extending-an-epidemic-model/04_create-an-icu.mdx
  apps/hashdotdev/src/_pages/docs/10_contributing/00_index.mdx
  apps/hashdotdev/src/_pages/docs/10_contributing/01_architecture.mdx
  apps/hashdotdev/src/pages/index.page.tsx
Labels: area/deps, area/apps > hash.dev, area/apps

#4241 H-1253: Add initial cover images for guide
  apps/hashdotai/guide/01_introduction/00_index.mdx
  apps/hashdotai/guide/01_introduction/02_core-concepts.mdx
  apps/hashdotai/guide/01_introduction/03_get-started.mdx
  apps/hashdotai/guide/02_webs/00_index.mdx
  apps/hashdotai/guide/03_entities/01_attributes.mdx
  apps/hashdotai/guide/03_entities/02_creating.mdx
  apps/hashdotai/guide/09_plugins/00_index.mdx
  apps/hashdotai/guide/10_flows/00_index.mdx
  apps/hashdotai/guide/12_ai/00_index.mdx
  apps/hashdotai/guide/13_inbox/01_actions.mdx
Labels: area/apps

#4217 H-2436: Fix entity editor link table rendering, add test
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils/use-draw-cell.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/link-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entity-type-selector.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  libs/@local/hash-isomorphic-utils/src/data-grid.ts
  tests/hash-playwright/tests/entity-creation.spec.ts
  tests/hash-playwright/tests/entity-editing.spec.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps

#4251 H-2231: Restricted property filtering
  Cargo.lock
  apps/hash-ai-worker-ts/src/activities/get-dereferenced-entity-types-activity.ts
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/dereference-entity-type.test.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/create-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/persist-entities/update-entities.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/get-entity-by-filter.ts
  apps/hash-api/src/ai/gpt/gpt-query-entities.ts
  apps/hash-api/src/ai/gpt/gpt-query-types.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/primitive/link-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-user-secret.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graph/ontology/primitive/property-type.ts
  apps/hash-api/src/graphql/resolvers/knowledge/user/get-usage-records.ts
  apps/hash-api/src/graphql/resolvers/ontology/data-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/property-type.ts
  apps/hash-api/src/integrations/sync-back-watcher.ts
  apps/hash-api/src/storage/index.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-integration-worker/src/graph-activities.ts
  apps/hash-integration-worker/src/shared/graph-requests.ts
  apps/plugin-browser/src/pages/shared/use-entity-types.ts
  libs/@local/hash-backend-utils/src/google.ts
  libs/@local/hash-backend-utils/src/hash-instance.ts
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-backend-utils/src/service-usage.ts
  libs/@local/hash-backend-utils/src/user-secret.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/user.typedef.ts
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/roots.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps
