Repository hashintel/hash, pull requests merged in 2024-09, with the labels that each got.

#4972 H-3276: Flow run output tables UX improvements
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/checkpoints.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/infer-entity-claims-from-text-agent.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/activity-log.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/dag-slide.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/claims-table.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/entity-result-table.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/entity-result-table/cells.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/shared/output-container.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/shared/table-skeleton.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/topbar.tsx
  apps/hash-frontend/src/pages/flows.page.tsx
  apps/hash-frontend/src/pages/shared/virtualized-table.tsx
  apps/hash-frontend/src/pages/shared/virtualized-table/header.tsx
  apps/hash-frontend/src/pages/shared/virtualized-table/header/filter.tsx
  apps/hash-frontend/src/pages/shared/virtualized-table/header/sort.tsx
  apps/hash-frontend/src/pages/shared/virtualized-table/use-filter-state.tsx
  apps/hash-frontend/src/pages/workers.page.tsx
  apps/hash-frontend/src/shared/icons/filter-light-icon.tsx
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-subgraph/src/stdlib.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/element/link-type.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/element/property-type.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4979 H-3299: Group Ory npm packages in Renovate
  .github/renovate.json
Labels: area/infra

#4985 H-3301: Remove unused Rust dependencies
  Cargo.lock
  Cargo.toml
  apps/hash-graph/bins/cli/Cargo.toml
  apps/hash-graph/bins/cli/package.json
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/api/package.json
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/package.json
  apps/hash-graph/libs/query-builder-derive/Cargo.toml
  apps/hash-graph/libs/type-fetcher/Cargo.toml
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/package.json
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hql/span/Cargo.toml
  libs/@local/hql/syntax-jexpr/Cargo.toml
  libs/@local/status/rust/Cargo.toml
  libs/error-stack/Cargo.toml
  libs/error-stack/macros/Cargo.toml
  tests/hash-graph-benches/Cargo.toml
  tests/hash-graph-integration/Cargo.toml
Labels: area/deps, area/apps > hash*, area/libs > error-stack, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4989 H-3300, H-3132, H-3302: Improvements to entity inference
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/check-delegated-tasks-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/generate-messages.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/request-coordinator-actions.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/update-state-from-inferred-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/get-link-follower-next-tool-calls.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/check-if-worker-should-stop.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/coordinator-tools/get-tool-call-results.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/coordinators.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/deduplicate-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/map-previous-coordinator-calls-to-llm-messages.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-for-llm-consumption.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-for-llm-consumption.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent/generate-messages.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent/input.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent/request-sub-coordinator-actions.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent/state.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/infer-entity-claims-from-text-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/infer-entity-claims-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/infer-summaries-then-claims-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entities-from-claims.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entity-from-claims-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entity-from-claims.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/get-dereferenced-entity-types-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/inference-types.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-api/src/graph/knowledge/system-types/block-collection.ts
  apps/hash-api/src/graph/knowledge/system-types/block.ts
  apps/hash-api/src/graph/knowledge/system-types/page.ts
  apps/hash-api/src/graph/knowledge/system-types/user-secret.ts
  apps/hash-api/src/graphql/resolvers/integrations/linear/sync-workspaces-with-teams.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/claims-table.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/entity-result-table.tsx
  apps/hash-frontend/src/pages/_app.page/why-did-you-render.ts
  apps/hash-frontend/src/pages/shared/virtualized-table/use-filter-state.tsx
  apps/hash-integration-worker/src/linear-activities.ts
  libs/@local/hash-backend-utils/src/flows/get-flow-run-details.ts
  libs/@local/hash-graph-sdk/typescript/src/entity.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/link-entity.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#4984 H-3271: Add `yarn install` hook post-checkout/merge, make hooks opt-in
  .config/husky/post-checkout
  .config/husky/post-merge
  .config/husky/post-rewrite
  .github/CONTRIBUTING.md
  apps/hash/README.md
  package.json
Labels: area/infra, area/apps

#4998 H-3309: Create dependency-group for libp2p
  .github/renovate.json
Labels: area/infra

#4997 Revert "H-3271: Add `yarn install` hook post-checkout/merge, make hooks opt-in"
  .config/husky/post-checkout
  .config/husky/post-merge
  .config/husky/post-rewrite
  .github/CONTRIBUTING.md
  apps/hash/README.md
  package.json
Labels: area/infra, area/apps

#4996 H-3308: Pass `null` for `dataTypeId` if not known
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entity-from-claims-agent.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/entity-result-table.tsx
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/ambiguous.http
  libs/@local/hash-graph-sdk/typescript/src/entity.ts
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/value.rs
  libs/@local/hash-graph-types/typescript/src/entity.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#5007 H-3311: Use Rust edition 2021
  .github/scripts/rust/sync-turborepo.rs
  .rustfmt.toml
  Cargo.toml
  apps/hash-graph/bins/cli/Cargo.toml
  apps/hash-graph/bins/cli/src/subcommand/mod.rs
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/src/store/crud.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/pool.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/query-builder-derive/Cargo.toml
  apps/hash-graph/libs/test-server/Cargo.toml
  apps/hash-graph/libs/type-fetcher/Cargo.toml
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/schema/property_type/validation.rs
  libs/@local/codec/Cargo.toml
  libs/@local/harpc/net/Cargo.toml
  libs/@local/harpc/net/src/codec.rs
  libs/@local/harpc/net/src/session/test.rs
  libs/@local/harpc/tower/Cargo.toml
  libs/@local/harpc/tower/src/body/mod.rs
  libs/@local/harpc/tower/src/body/timeout.rs
  libs/@local/harpc/tower/src/layer/error.rs
  libs/@local/harpc/tower/src/layer/report.rs
  libs/@local/harpc/types/Cargo.toml
  libs/@local/harpc/wire-protocol/Cargo.toml
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/backend/mod.rs
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/src/lib.rs
  libs/@local/hash-validation/src/property_type.rs
  libs/@local/hql/cst/Cargo.toml
  libs/@local/hql/diagnostics/Cargo.toml
  libs/@local/hql/span/Cargo.toml
  libs/@local/hql/syntax-jexpr/Cargo.toml
  libs/@local/repo-chores/rust/Cargo.toml
  libs/@local/status/rust/Cargo.toml
  libs/@local/temporal-client/Cargo.toml
  libs/@local/temporal-client/src/lib.rs
  libs/@local/temporal-versioning/Cargo.toml
  libs/@local/tracing/Cargo.toml
  tests/hash-graph-benches/Cargo.toml
  tests/hash-graph-integration/Cargo.toml
  tests/hash-graph-test-data/rust/Cargo.toml
Labels: area/apps > hash*, area/infra, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5019 Revert H-3311: Bump Rust edition back to 2024
  .github/scripts/rust/sync-turborepo.rs
  .rustfmt.toml
  Cargo.lock
  Cargo.toml
  apps/hash-graph/bins/cli/Cargo.toml
  apps/hash-graph/bins/cli/src/subcommand/mod.rs
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/src/store/crud.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/pool.rs
  apps/hash-graph/libs/query-builder-derive/Cargo.toml
  apps/hash-graph/libs/test-server/Cargo.toml
  apps/hash-graph/libs/type-fetcher/Cargo.toml
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/schema/property_type/validation.rs
  libs/@local/codec/Cargo.toml
  libs/@local/harpc/net/Cargo.toml
  libs/@local/harpc/net/src/codec.rs
  libs/@local/harpc/net/src/session/test.rs
  libs/@local/harpc/tower/Cargo.toml
  libs/@local/harpc/tower/src/body/mod.rs
  libs/@local/harpc/tower/src/body/timeout.rs
  libs/@local/harpc/tower/src/layer/error.rs
  libs/@local/harpc/tower/src/layer/report.rs
  libs/@local/harpc/types/Cargo.toml
  libs/@local/harpc/wire-protocol/Cargo.toml
  libs/@local/hash-authorization/Cargo.toml
  libs/@local/hash-authorization/src/api.rs
  libs/@local/hash-authorization/src/backend/mod.rs
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/src/lib.rs
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/src/lib.rs
  libs/@local/hash-validation/src/property_type.rs
  libs/@local/hql/cst/Cargo.toml
  libs/@local/hql/diagnostics/Cargo.toml
  libs/@local/hql/span/Cargo.toml
  libs/@local/hql/syntax-jexpr/Cargo.toml
  libs/@local/repo-chores/rust/Cargo.toml
  libs/@local/status/rust/Cargo.toml
  libs/@local/temporal-client/Cargo.toml
  libs/@local/temporal-client/src/lib.rs
  libs/@local/temporal-versioning/Cargo.toml
  libs/@local/tracing/Cargo.toml
  tests/hash-graph-benches/Cargo.toml
  tests/hash-graph-integration/Cargo.toml
  tests/hash-graph-test-data/rust/Cargo.toml
Labels: area/deps, area/apps > hash*, area/infra, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5009 GEN-51: Run Renovate through GitHub Actions
  .github/actions/install-rust-toolchain/action.yml
  .github/renovate.json
  .github/workflows/auto-approve.yml
  .github/workflows/renovate.yml
Labels: area/infra

#5006 H-3291: Implement a pre-processor for entities and infer data type IDs
  Cargo.lock
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/record.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/rows.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/ambiguous.http
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/src/schema/array/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/object/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/property_type/mod.rs
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/src/knowledge/entity/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/link.rs
  libs/@local/hash-graph-types/rust/src/knowledge/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/array.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/diff.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/array.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/object.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/value.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/object.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/patch.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/visitor.rs
  libs/@local/hash-validation/src/data_type.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/error.rs
  libs/@local/hash-validation/src/lib.rs
  libs/@local/hash-validation/src/property.rs
  libs/@local/hash-validation/src/property_type.rs
  libs/@local/hash-validation/src/test_data_type.rs
  libs/@local/hash-validation/src/test_property_type.rs
  tests/hash-graph-benches/read_scaling/knowledge/complete/entity.rs
  tests/hash-graph-benches/read_scaling/knowledge/linkless/entity.rs
  tests/hash-graph-benches/representative_read/seed.rs
  tests/hash-graph-integration/postgres/data_type.rs
  tests/hash-graph-integration/postgres/drafts.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/interconnected_graph.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/multi_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/property_metadata.rs
  tests/hash-graph-integration/postgres/sorting.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5029 H-3285, H-3286: Optionally return set of distinct values for entity (type) queries
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/openapi/openapi.json
  tests/hash-graph-benches/read_scaling/knowledge/complete/entity.rs
  tests/hash-graph-benches/read_scaling/knowledge/linkless/entity.rs
  tests/hash-graph-benches/representative_read/knowledge/entity.rs
  tests/hash-graph-benches/representative_read/ontology/entity_type.rs
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/entity_type.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/multi_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/sorting.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5022 H-3284, H-3287: Allow sorting Entities by entity type's properties
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/entity.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/tests/friendship.http
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#5048 H-3317: Change dependencies to be precise in Rust
  .github/renovate.json
  Cargo.lock
  Cargo.toml
  libs/sarif/src/schema/log.rs
Labels: area/deps, area/infra, area/libs, area/libs > sarif

#5049 H-3169: Resolve closed data types when loading snapshots
  apps/hash-graph/libs/graph/postgres_migrations/V29__implicit_closed_data_type.sql
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/rows.rs
  tests/hash-graph-http/tests/ambiguous.http
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#5053 H-3319: Update code ownership file
  .github/CODEOWNERS
Labels: area/infra

#5047 GEN-193: `error-stack`: clear API distinction for tree vs. stack contexts
  libs/error-stack/CHANGELOG.md
  libs/error-stack/examples/demo.rs
  libs/error-stack/src/compat/anyhow.rs
  libs/error-stack/src/compat/eyre.rs
  libs/error-stack/src/fmt/mod.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/report.rs
  libs/error-stack/src/result.rs
  libs/error-stack/src/serde.rs
  libs/error-stack/tests/snapshots/test_debug__full__complex.snap
  libs/error-stack/tests/snapshots/test_debug__full__hook_provider.snap
  libs/error-stack/tests/snapshots/test_debug__full__linear.snap
  libs/error-stack/tests/snapshots/test_debug__full__linear_ext.snap
  libs/error-stack/tests/snapshots/test_debug__full__multiline_context.snap
  libs/error-stack/tests/snapshots/test_debug__full__sources.snap
  libs/error-stack/tests/snapshots/test_debug__full__sources_transparent.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested@backtrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace-backtrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested@spantrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@backtrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace-backtrace.snap
  libs/error-stack/tests/snapshots/test_debug__sources_nested_alternate@spantrace.snap
  libs/error-stack/tests/test_attach.rs
  libs/error-stack/tests/test_change_context.rs
  libs/error-stack/tests/test_debug.rs
  libs/error-stack/tests/test_extend.rs
  libs/error-stack/tests/test_frame.rs
  libs/error-stack/tests/test_iter.rs
  libs/error-stack/tests/test_serialize.rs
Labels: area/infra, area/libs > error-stack, area/libs, area/tests

#5054 GEN-194: Create `error-stack-experimental` crate
  Cargo.lock
  Cargo.toml
  libs/error-stack/Cargo.toml
  libs/error-stack/experimental/Cargo.toml
  libs/error-stack/experimental/LICENSE.md
  libs/error-stack/experimental/README.md
  libs/error-stack/experimental/package.json
  libs/error-stack/experimental/src/lib.rs
Labels: area/deps, area/infra, area/libs > error-stack, area/libs, type/legal

#5085 H-3290: Return conversions as part of data type queries
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/graph/postgres_migrations/V30__data_type_conversion_aggrecation.sql
  apps/hash-graph/libs/graph/src/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/record.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/channel.rs
  apps/hash-graph/libs/graph/src/store/postgres/crud.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  libs/@local/hash-graph-types/rust/src/ontology/data_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5086 H-2966, H-3320: Store canonical value in database
  Cargo.lock
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  apps/hash-graph/libs/graph/src/snapshot/entity/batch.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/value.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/visitor.rs
  libs/@local/hash-graph-types/rust/src/lib.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-validation/Cargo.toml
  libs/@local/hash-validation/package.json
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
  libs/@local/hash-validation/src/test_property_type.rs
  tests/hash-graph-http/tests/ambiguous.http
  tests/hash-graph-integration/postgres/data_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/property_metadata.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5114 H-3279: Allow sorting by property metadata
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/metadata/value.rs
  libs/@local/hash-validation/src/entity_type.rs
  tests/hash-graph-integration/postgres/property_metadata.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5119 H-3323: Add `rollup` Renovate group
  .github/renovate.json
Labels: area/infra

#5121 H-2965: Return entities with converted properties
  Cargo.lock
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/types.ts
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
  tests/hash-backend-integration/src/tests/subgraph/circular.test.ts
  tests/hash-graph-benches/read_scaling/knowledge/complete/entity.rs
  tests/hash-graph-benches/read_scaling/knowledge/linkless/entity.rs
  tests/hash-graph-benches/representative_read/knowledge/entity.rs
  tests/hash-graph-http/tests/ambiguous.http
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/multi_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/sorting.rs
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5123 H-3325: Support array in data type's type field
  apps/hash-graph/libs/api/openapi/models/data_type.json
  apps/hash-graph/libs/api/openapi/models/update_data_type.json
  apps/hash-graph/libs/api/src/rest/json_schemas/data_type.json
  apps/hash-graph/libs/api/src/rest/json_schemas/update_data_type.json
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/array.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/boolean.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/error.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/null.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/number.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/object.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/string.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@hashintel/type-editor/src/shared/data-types-options-context.tsx
  libs/@local/hash-validation/src/entity_type.rs
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash-graph

#5160 H-3326: Use properties path to sort/filter by property metadata
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/graph/src/knowledge/query.rs
  tests/hash-graph-http/tests/ambiguous.http
Labels: area/apps > hash*, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#5164 H-3332: Move out the `AccountStore` trait of the `graph` crate
  Cargo.lock
  Cargo.toml
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/api/package.json
  apps/hash-graph/libs/api/src/rest/account.rs
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/api/src/rest/web.rs
  apps/hash-graph/libs/graph/Cargo.toml
  apps/hash-graph/libs/graph/package.json
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/store/Cargo.toml
  apps/hash-graph/libs/store/LICENSE.md
  apps/hash-graph/libs/store/package.json
  apps/hash-graph/libs/store/src/account/mod.rs
  apps/hash-graph/libs/store/src/lib.rs
  tests/hash-graph-benches/Cargo.toml
  tests/hash-graph-benches/package.json
  tests/hash-graph-benches/read_scaling/knowledge/complete/entity.rs
  tests/hash-graph-benches/read_scaling/knowledge/linkless/entity.rs
  tests/hash-graph-benches/representative_read/seed.rs
  tests/hash-graph-integration/Cargo.toml
  tests/hash-graph-integration/package.json
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/deps, area/apps > hash*, area/infra, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph, type/legal

#5165 H-3331: Validate all data type constraints
  libs/@local/hash-graph-types/rust/src/knowledge/property/visitor.rs
  libs/@local/hash-validation/src/entity_type.rs
  tests/hash-graph-http/tests/ambiguous.http
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests

#5163 Introduce experimental/unstable extension traits
  Cargo.lock
  libs/error-stack/experimental/Cargo.toml
  libs/error-stack/experimental/build.rs
  libs/error-stack/experimental/package.json
  libs/error-stack/experimental/src/iter.rs
  libs/error-stack/experimental/src/lib.rs
  libs/error-stack/experimental/src/result.rs
  libs/error-stack/experimental/src/stream.rs
  libs/error-stack/experimental/src/tuple.rs
  libs/error-stack/src/report.rs
Labels: area/deps, area/libs > error-stack, area/libs

#5178 H-3328: Upgrade entity graph visualization
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/globals.scss
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entity-graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/full-screen-button.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/graph-data-loader.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/full-screen.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/settings.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/state.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/use-layout.tsx
  apps/hash-frontend/src/pages/shared/type-graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/types-graph.tsx
  apps/hash-frontend/src/pages/shared/types-graph/graph-loader.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  libs/@hashintel/block-design-system/src/entities-graph-chart.tsx
  yarn.lock
Labels: area/deps, area/apps > hash*, area/libs, type/eng > frontend, area/apps

#5181 GEN-196: Move `error-stack-experimental` into `error-stack`
  Cargo.lock
  Cargo.toml
  libs/error-stack/.justfile
  libs/error-stack/CHANGELOG.md
  libs/error-stack/Cargo.toml
  libs/error-stack/experimental/Cargo.toml
  libs/error-stack/experimental/LICENSE.md
  libs/error-stack/experimental/README.md
  libs/error-stack/experimental/build.rs
  libs/error-stack/experimental/package.json
  libs/error-stack/experimental/src/lib.rs
  libs/error-stack/experimental/src/result.rs
  libs/error-stack/src/ext/iter.rs
  libs/error-stack/src/ext/mod.rs
  libs/error-stack/src/ext/stream.rs
  libs/error-stack/src/ext/tuple.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/macros.rs
  libs/error-stack/src/sink.rs
  libs/error-stack/tests/ui/macro_invalid_args.stderr
Labels: area/deps, area/infra, area/libs > error-stack, area/libs, area/tests, type/legal

#5173 H-3334: Stop depending on subgraph when sorting by ontology IDs
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  apps/hash-graph/libs/api/src/rest/property_type.rs
  apps/hash-graph/libs/graph/src/store/crud.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/query.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#5180 H-3337: Align type-system data-type constraints with Node API
  .github/workflows/lint.yml
  .justfile
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/strip-ids-from-dereferenced-properties.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-frontend/src/lib/typeguards.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/number-or-text-input.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/utils.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
  apps/hash-graph/libs/store/src/data_type/query.rs
  libs/@blockprotocol/graph/src/codegen/compile/compile-schemas-to-typescript.ts
  libs/@blockprotocol/type-system/rust/src/schema/array/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/array/raw.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/array.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/boolean.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/error.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/null.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/number.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/object.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/string.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/raw.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/object/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/object/raw.rs
  libs/@blockprotocol/type-system/rust/src/schema/object/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/property_type/mod.rs
  libs/@blockprotocol/type-system/typescript/src/native/property-type.ts
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/get-property-type-schema.ts
  libs/@hashintel/type-editor/src/shared/data-types-options-context.tsx
  libs/@local/hash-graph-types/rust/src/knowledge/property/visitor.rs
  libs/@local/hash-graph-types/typescript/src/ontology.ts
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/test_data_type.rs
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash-graph

#5207 GEN-196: Apply suggestions from #5181
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/array.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/string.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/visitor.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/deer/json/src/array.rs
  libs/deer/json/src/deserializer.rs
  libs/deer/json/src/object.rs
  libs/deer/src/impls/core/array.rs
  libs/deer/src/impls/core/ops.rs
  libs/deer/tests/test_bound.rs
  libs/deer/tests/test_enum_visitor.rs
  libs/deer/tests/test_struct_visitor.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/macros.rs
  libs/error-stack/src/report.rs
  libs/error-stack/src/sink.rs
Labels: area/apps > hash*, area/libs > error-stack, area/libs, area/libs > deer, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#5226 GEN-198: Add Dependabot config file
  .github/dependabot.yml
Labels: area/infra

#5224 H-3356: Add abstract flag for data types
  apps/hash-graph/libs/graph/src/store/validation.rs
  apps/hash-graph/libs/store/src/filter/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/visitor.rs
  libs/@local/hash-graph-types/rust/src/lib.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
  tests/hash-graph-http/tests/ambiguous.http
  tests/hash-graph-test-data/rust/src/data_type/boolean.json
  tests/hash-graph-test-data/rust/src/data_type/centimeter_v1.json
  tests/hash-graph-test-data/rust/src/data_type/centimeter_v2.json
  tests/hash-graph-test-data/rust/src/data_type/empty_list.json
  tests/hash-graph-test-data/rust/src/data_type/length.json
  tests/hash-graph-test-data/rust/src/data_type/meter.json
  tests/hash-graph-test-data/rust/src/data_type/null.json
  tests/hash-graph-test-data/rust/src/data_type/number.json
  tests/hash-graph-test-data/rust/src/data_type/object_v1.json
  tests/hash-graph-test-data/rust/src/data_type/object_v2.json
  tests/hash-graph-test-data/rust/src/data_type/text.json
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#5238 GEN-199: Stop Dependabot opening non-security updates
  .github/dependabot.yml
Labels: area/infra

#5241 H-3372: Use logger to print error-stack warnings
  apps/hash-graph/libs/api/Cargo.toml
  libs/error-stack/Cargo.toml
  libs/error-stack/build.rs
  libs/error-stack/src/sink.rs
Labels: area/apps > hash*, area/libs > error-stack, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5234 H-3362: Support links which link to other links in the types graph visualization
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/graph-data-loader.tsx
  apps/hash-frontend/src/pages/shared/type-graph-visualizer.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/table-header.tsx
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#5239 H-3337: Align type-system data-type constraints with Node API (Part II)
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-specs.ts
  apps/hash-frontend/src/pages/shared/data-types-context.tsx
  apps/hash-graph/libs/api/openapi/models/data_type.json
  apps/hash-graph/libs/api/openapi/models/update_data_type.json
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/api/src/rest/json_schemas/data_type.json
  apps/hash-graph/libs/api/src/rest/json_schemas/update_data_type.json
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/src/schema/array/raw.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/any_of.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/array.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/boolean.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/error.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/null.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/number.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/object.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/string.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/conversion.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/object/raw.rs
  libs/@hashintel/type-editor/src/shared/data-types-options-context.tsx
  libs/@local/codec/src/serde/constant.rs
  libs/@local/codec/src/serde/mod.rs
  libs/@local/hash-graph-types/typescript/src/ontology.ts
  libs/@local/hash-isomorphic-utils/src/data-types.ts
  libs/@local/hash-subgraph/tests/compatibility.test/map-vertices.ts
  tests/hash-graph-test-data/rust/src/data_type/empty_list.json
  tests/hash-graph-test-data/rust/src/data_type/mod.rs
  tests/hash-graph-test-data/rust/src/data_type/value.json
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#5273 H-3377: Track caller when using ReportSink
  libs/error-stack/src/sink.rs
Labels: area/libs > error-stack, area/libs

#5232 H-2958: Support `anyOf` in type system
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/utils.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/any_of.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/array.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/boolean.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/null.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/number.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/object.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/string.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@hashintel/type-editor/src/shared/data-types-options-context.tsx
  libs/@local/hash-isomorphic-utils/src/data-types.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/element/property-type.ts
  tests/hash-graph-test-data/rust/src/data_type/value.json
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/apps

#5274 H-3375: Overhaul logic to detect inheritance depths for data types
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5272 H-3376: Infer data type IDs if only abstract parents exists
  apps/hash-graph/libs/graph/src/store/validation.rs
  apps/hash-graph/libs/store/src/filter/mod.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5284 H-3380, H-3381: Improve error handling and data type ID inference
  Cargo.lock
  apps/hash-graph/bins/cli/Cargo.toml
  apps/hash-graph/bins/cli/package.json
  apps/hash-graph/bins/cli/src/main.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  apps/hash-graph/libs/store/src/filter/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/any_of.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/error.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/mod.rs
  libs/@local/hash-graph-types/rust/src/knowledge/property/visitor.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph
