Repository hashintel/hash, pull requests merged in 2024-11, with the labels that each got.

#5528 H-3546: Fix OpenAPI path for multi closed-entity type querying
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/api/src/rest/entity_type.rs
  libs/@local/hash-graph-types/typescript/src/ontology.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5533 GEN-202: Deprecate `error_stack::Result` and `error_stack::Context`
  Cargo.lock
  Cargo.toml
  apps/hash-graph/bins/cli/package.json
  apps/hash-graph/libs/api/package.json
  apps/hash-graph/libs/graph/package.json
  apps/hash-graph/libs/store/package.json
  apps/hash-graph/libs/test-server/package.json
  apps/hash-graph/libs/type-fetcher/package.json
  libs/@blockprotocol/type-system/rust/package.json
  libs/@local/codec/package.json
  libs/@local/harpc/client/package.json
  libs/@local/harpc/codec/package.json
  libs/@local/harpc/net/package.json
  libs/@local/harpc/server/package.json
  libs/@local/harpc/tower/package.json
  libs/@local/harpc/wire-protocol/package.json
  libs/@local/hash-authorization/package.json
  libs/@local/hash-graph-types/rust/package.json
  libs/@local/hash-validation/package.json
  libs/@local/hql/diagnostics/package.json
  libs/@local/repo-chores/rust/package.json
  libs/@local/temporal-client/package.json
  libs/@local/tracing/package.json
  libs/chonky/package.json
  libs/deer/desert/package.json
  libs/deer/json/package.json
  libs/error-stack/CHANGELOG.md
  libs/error-stack/README.md
  libs/error-stack/examples/demo.rs
  libs/error-stack/examples/detect.rs
  libs/error-stack/examples/exit_code.rs
  libs/error-stack/examples/parse_config.rs
  libs/error-stack/src/compat/anyhow.rs
  libs/error-stack/src/compat/eyre.rs
  libs/error-stack/src/context.rs
  libs/error-stack/src/ext/iter.rs
  libs/error-stack/src/ext/stream.rs
  libs/error-stack/src/ext/tuple.rs
  libs/error-stack/src/fmt/mod.rs
  libs/error-stack/src/frame/frame_impl.rs
  libs/error-stack/src/frame/kind.rs
  libs/error-stack/src/frame/mod.rs
  libs/error-stack/src/future.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/macros.rs
  libs/error-stack/src/report.rs
  libs/error-stack/src/result.rs
  libs/error-stack/src/serde.rs
  libs/error-stack/src/sink.rs
  libs/error-stack/tests/common.rs
  libs/error-stack/tests/test_debug.rs
  libs/error-stack/tests/test_extend.rs
  libs/error-stack/tests/test_iter.rs
  libs/error-stack/tests/test_span_trace.rs
  libs/error-stack/tests/ui/macro_invalid_args.rs
  libs/error-stack/tests/ui/must_use.rs
  tests/hash-graph-integration/package.json
Labels: area/deps, area/apps > hash*, area/infra, area/libs > error-stack, area/libs, area/libs > deer, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph, area/libs > chonky

#5542 GEN-201: Remove `once-cell` dev-dependency
  Cargo.lock
  libs/error-stack/Cargo.toml
Labels: area/deps, area/libs > error-stack, area/libs

#5527 H-3225: Allow querying of closed data schemas
  Cargo.lock
  Cargo.toml
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/validation.rs
  apps/hash-graph/libs/store/src/filter/mod.rs
  libs/@local/hash-graph-types/rust/Cargo.toml
  libs/@local/hash-graph-types/rust/src/knowledge/property/visitor.rs
  libs/@local/hash-graph-types/rust/src/ontology/data_type/lookup.rs
  libs/@local/hash-graph-types/rust/src/ontology/data_type/mod.rs
  libs/@local/hash-graph-types/rust/src/ontology/mod.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5579 H-1755, H-3349, H-3351: Enable setting and using plural and inverse type names
  apps/hash-api/README.md
  apps/hash-api/package.json
  apps/hash-api/src/graphql/resolvers/generation/generate-inverse.ts
  apps/hash-api/src/graphql/resolvers/generation/generate-plural.ts
  apps/hash-api/src/graphql/resolvers/generation/is-generation-available.ts
  apps/hash-api/src/graphql/resolvers/generation/shared/openai-client.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-frontend/src/graphql/queries/generation.queries.ts
  apps/hash-frontend/src/pages/[shortname].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/incoming-links-section/incoming-links-table.tsx
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/new/types/entity-type.page.tsx
  apps/hash-frontend/src/pages/shared/create-button.tsx
  apps/hash-frontend/src/pages/shared/create-entity-type-form.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entity-type-description.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entity-type-inverse.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entity-type-plural.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/alt-title-group.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page.tsx
  apps/hash-frontend/src/shared/entity-types-context/hooks.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/entity-or-type-sidebar-item.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/entity-or-type-sidebar-item/entity-menu.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/entity-or-type-sidebar-item/entity-type-menu.tsx
  blocks/chart/src/edit-chart-definition/bar-graph-definition-form/count-linked-entities-form.tsx
  blocks/chart/src/edit-chart-definition/bar-graph-definition-form/group-by-property-form.tsx
  infra/terraform/hash/main.tf
  libs/@hashintel/block-design-system/src/editable-field.tsx
  libs/@hashintel/design-system/src/input-props.tsx
  libs/@hashintel/design-system/src/text-field.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/link-list-card.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/type-form.tsx
  libs/@hashintel/type-editor/src/get-entity-type-from-form-data.ts
  libs/@hashintel/type-editor/src/get-form-data-from-entity-type.ts
  libs/@hashintel/type-editor/src/shared/form-types.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/generation.typedef.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/schema.ts
  tests/hash-playwright/tests/entity-type-creation.spec.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps, area/infra > terraform

#5577 H-3552: `graph`: Integrate `harpc` into the graph
  Cargo.lock
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/api/package.json
  apps/hash-graph/libs/api/src/lib.rs
  apps/hash-graph/libs/api/src/rest/mod.rs
  apps/hash-graph/libs/api/src/rpc/account.rs
  apps/hash-graph/libs/api/src/rpc/auth.rs
  apps/hash-graph/libs/api/src/rpc/echo.rs
  apps/hash-graph/libs/api/src/rpc/mod.rs
  apps/hash-graph/libs/api/src/rpc/session.rs
  apps/hash-graph/libs/store/src/account/mod.rs
  libs/@local/harpc/client/Cargo.toml
  libs/@local/harpc/client/package.json
  libs/@local/harpc/client/src/connection/alias.rs
  libs/@local/harpc/client/src/connection/mod.rs
  libs/@local/harpc/client/src/error.rs
  libs/@local/harpc/client/src/lib.rs
  libs/@local/harpc/client/src/utils.rs
  libs/@local/harpc/codec/src/decode.rs
  libs/@local/harpc/server/Cargo.toml
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/src/delegate.rs
  libs/@local/harpc/server/src/error.rs
  libs/@local/harpc/server/src/lib.rs
  libs/@local/harpc/server/src/route.rs
  libs/@local/harpc/server/src/session.rs
  libs/@local/harpc/server/src/utils.rs
  libs/@local/harpc/service/src/lib.rs
  libs/@local/harpc/service/src/procedure.rs
  libs/@local/harpc/types/src/error_code.rs
  libs/@local/harpc/types/src/procedure.rs
  libs/@local/harpc/types/src/service.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5578 H-3543: Add interface to read closed multi-entity type schemas
  apps/hash-graph/libs/api/openapi/openapi.json
  apps/hash-graph/libs/api/src/rest/entity.rs
  apps/hash-graph/libs/graph/src/store/knowledge.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/closed.rs
  libs/@local/hash-graph-sdk/typescript/src/entity.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-graph-benches/read_scaling/knowledge/complete/entity.rs
  tests/hash-graph-benches/read_scaling/knowledge/linkless/entity.rs
  tests/hash-graph-benches/representative_read/knowledge/entity.rs
  tests/hash-graph-http/tests/friendship.http
  tests/hash-graph-integration/postgres/entity.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-integration/postgres/links.rs
  tests/hash-graph-integration/postgres/multi_type.rs
  tests/hash-graph-integration/postgres/partial_updates.rs
  tests/hash-graph-integration/postgres/sorting.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#5597 H-3557: Introduce `Subsystem` and `SubsystemIdentifier`
  apps/hash-graph/libs/api/src/rpc/account.rs
  apps/hash-graph/libs/api/src/rpc/auth.rs
  apps/hash-graph/libs/api/src/rpc/echo.rs
  apps/hash-graph/libs/api/src/rpc/mod.rs
  libs/@local/harpc/client/src/connection/service.rs
  libs/@local/harpc/client/src/utils.rs
  libs/@local/harpc/net/src/session/client/connection/mod.rs
  libs/@local/harpc/net/src/session/client/connection/test.rs
  libs/@local/harpc/net/src/session/client/transaction/mod.rs
  libs/@local/harpc/net/src/session/client/transaction/test.rs
  libs/@local/harpc/net/src/session/server/test.rs
  libs/@local/harpc/net/src/session/server/transaction/mod.rs
  libs/@local/harpc/net/src/session/server/transaction/test.rs
  libs/@local/harpc/net/src/session/test.rs
  libs/@local/harpc/net/src/session/writer/mod.rs
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/src/delegate.rs
  libs/@local/harpc/server/src/error.rs
  libs/@local/harpc/server/src/route.rs
  libs/@local/harpc/server/src/router.rs
  libs/@local/harpc/server/src/session.rs
  libs/@local/harpc/server/src/utils.rs
  libs/@local/harpc/service/src/delegate.rs
  libs/@local/harpc/service/src/lib.rs
  libs/@local/harpc/service/src/procedure.rs
  libs/@local/harpc/tower/src/layer/error.rs
  libs/@local/harpc/tower/src/request.rs
  libs/@local/harpc/types/src/error_code.rs
  libs/@local/harpc/types/src/lib.rs
  libs/@local/harpc/types/src/subsystem.rs
  libs/@local/harpc/wire-protocol/src/codec/types.rs
  libs/@local/harpc/wire-protocol/src/request/begin.rs
  libs/@local/harpc/wire-protocol/src/request/body.rs
  libs/@local/harpc/wire-protocol/src/request/mod.rs
  libs/@local/harpc/wire-protocol/src/request/subsystem.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5599 H-3558: `harpc`: rename `Metadata` to `SubsystemInformation` and `ProcedureInformation`
  apps/hash-graph/libs/api/src/rpc/account.rs
  apps/hash-graph/libs/api/src/rpc/auth.rs
  apps/hash-graph/libs/api/src/rpc/echo.rs
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/service/src/lib.rs
  libs/@local/harpc/service/src/metadata.rs
  libs/@local/harpc/service/src/procedure.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5603 H-3559: Rename `harpc_service` to `harpc_system`
  Cargo.lock
  Cargo.toml
  apps/hash-graph/libs/api/Cargo.toml
  apps/hash-graph/libs/api/package.json
  apps/hash-graph/libs/api/src/rpc/account.rs
  apps/hash-graph/libs/api/src/rpc/auth.rs
  apps/hash-graph/libs/api/src/rpc/echo.rs
  apps/hash-graph/libs/api/src/rpc/mod.rs
  libs/@local/harpc/client/Cargo.toml
  libs/@local/harpc/client/package.json
  libs/@local/harpc/client/src/utils.rs
  libs/@local/harpc/server/Cargo.toml
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/package.json
  libs/@local/harpc/server/src/delegate.rs
  libs/@local/harpc/server/src/route.rs
  libs/@local/harpc/server/src/router.rs
  libs/@local/harpc/server/src/utils.rs
  libs/@local/harpc/system/Cargo.toml
  libs/@local/harpc/system/LICENSE.md
  libs/@local/harpc/system/package.json
  libs/@local/harpc/system/src/delegate.rs
  libs/@local/harpc/system/src/lib.rs
  libs/@local/harpc/system/src/metadata.rs
  libs/@local/harpc/system/src/procedure.rs
  libs/@local/harpc/system/src/role.rs
Labels: area/deps, area/apps > hash*, area/infra, area/libs, type/eng > backend, area/apps, area/apps > hash-graph, type/legal

#5608 H-3565: Remove `Role` and use associated type in subsystem traits
  libs/@local/graph/api/src/rpc/account.rs
  libs/@local/graph/api/src/rpc/auth.rs
  libs/@local/graph/api/src/rpc/echo.rs
  libs/@local/graph/api/src/rpc/mod.rs
  libs/@local/graph/api/src/rpc/session.rs
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/src/delegate.rs
  libs/@local/harpc/server/src/router.rs
  libs/@local/harpc/system/src/delegate.rs
  libs/@local/harpc/system/src/lib.rs
  libs/@local/harpc/system/src/role.rs
Labels: area/libs, type/eng > backend

#5610 Expose RPC server in binary
  Cargo.lock
  apps/hash-graph/Cargo.toml
  apps/hash-graph/package.json
  apps/hash-graph/src/main.rs
  apps/hash-graph/src/subcommand/server.rs
  libs/@local/graph/api/src/rpc/account.rs
  libs/@local/graph/api/src/rpc/auth.rs
  libs/@local/graph/api/src/rpc/echo.rs
  libs/@local/graph/api/src/rpc/mod.rs
  libs/@local/harpc/codec/src/encode.rs
  libs/@local/harpc/server/examples/account.rs
  libs/@local/harpc/server/src/boxed.rs
  libs/@local/harpc/server/src/delegate.rs
  libs/@local/harpc/server/src/lib.rs
  libs/@local/harpc/server/src/route.rs
  libs/@local/harpc/server/src/router.rs
  libs/@local/harpc/server/src/session.rs
  libs/@local/harpc/server/src/utils.rs
  libs/@local/harpc/system/src/delegate.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5624 H-3570: Provide formatter for `*.toml` files
  .github/workflows/lint.yml
  .taplo.toml
  Cargo.toml
  apps/hash-graph/Cargo.toml
  libs/@local/codec/Cargo.toml
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/authorization/Cargo.toml
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/store/Cargo.toml
  libs/@local/graph/temporal-versioning/Cargo.toml
  libs/@local/graph/test-server/Cargo.toml
  libs/@local/graph/type-fetcher/Cargo.toml
  libs/@local/graph/types/rust/Cargo.toml
  libs/@local/graph/validation/Cargo.toml
  libs/@local/harpc/client/Cargo.toml
  libs/@local/harpc/codec/Cargo.toml
  libs/@local/harpc/net/Cargo.toml
  libs/@local/harpc/server/Cargo.toml
  libs/@local/harpc/tower/Cargo.toml
  libs/@local/hql/cst/Cargo.toml
  libs/@local/hql/diagnostics/Cargo.toml
  libs/@local/tracing/Cargo.toml
  libs/deer/Cargo.toml
  libs/deer/json/Cargo.toml
  libs/error-stack/Cargo.toml
  package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/libs > error-stack, area/libs, area/libs > deer, type/eng > backend, area/apps, area/apps > hash-graph

#5630 H-3544: Fix spans occurring in unrelated queries
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/type-fetcher/src/store.rs
Labels: area/libs, type/eng > backend

#5626 H-3571: Tweak taplo configuration
  .taplo.toml
  Cargo.toml
  apps/hash-graph/Cargo.toml
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@local/codec/Cargo.toml
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/authorization/Cargo.toml
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/store/Cargo.toml
  libs/@local/graph/temporal-versioning/Cargo.toml
  libs/@local/graph/test-server/Cargo.toml
  libs/@local/graph/type-defs/Cargo.toml
  libs/@local/graph/type-fetcher/Cargo.toml
  libs/@local/graph/types/rust/Cargo.toml
  libs/@local/graph/validation/Cargo.toml
  libs/@local/harpc/client/Cargo.toml
  libs/@local/harpc/codec/Cargo.toml
  libs/@local/harpc/net/Cargo.toml
  libs/@local/harpc/server/Cargo.toml
  libs/@local/harpc/system/Cargo.toml
  libs/@local/harpc/tower/Cargo.toml
  libs/@local/harpc/types/Cargo.toml
  libs/@local/harpc/wire-protocol/Cargo.toml
  libs/@local/hql/cst/Cargo.toml
  libs/@local/hql/diagnostics/Cargo.toml
  libs/@local/hql/span/Cargo.toml
  libs/@local/hql/syntax-jexpr/Cargo.toml
  libs/@local/repo-chores/rust/Cargo.toml
  libs/@local/status/rust/Cargo.toml
  libs/@local/temporal-client/Cargo.toml
  libs/@local/tracing/Cargo.toml
  libs/antsi/Cargo.toml
  libs/chonky/Cargo.toml
  libs/deer/Cargo.toml
  libs/deer/desert/Cargo.toml
  libs/deer/json/Cargo.toml
  libs/deer/macros/Cargo.toml
  libs/error-stack/Cargo.toml
  libs/error-stack/macros/Cargo.toml
  libs/sarif/Cargo.toml
  tests/graph/benches/Cargo.toml
  tests/graph/integration/Cargo.toml
  tests/graph/test-data/rust/Cargo.toml
Labels: area/apps > hash*, area/libs > error-stack, area/libs, area/libs > deer, area/libs > antsi, area/libs > sarif, type/eng > backend, area/tests, area/apps, area/apps > hash-graph, area/libs > chonky

#5633 H-3504, H-3561: Entities visualizer performance and fixes
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table/types.ts
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table/worker.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entity-graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entities-tab.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/path-finder-control.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/path-finder-control/worker.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/search-control.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/config-control.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/control-components.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/filter-control.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/simple-autocomplete.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/use-set-draw-settings.ts
  apps/hash-frontend/src/pages/shared/visualizer-views.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/pages/use-what-changed.ts
  apps/hash-frontend/src/shared/table-content.ts
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/use-user-or-org.ts
  libs/@local/hash-isomorphic-utils/src/create-apollo-client.ts
  libs/@local/hash-isomorphic-utils/src/generate-entity-label.ts
  package.json
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#5620 H-3569: Create project structure for typescript harpc client
  Cargo.toml
  libs/@local/harpc/client/rust/Cargo.toml
  libs/@local/harpc/client/rust/LICENSE.md
  libs/@local/harpc/client/rust/package.json
  libs/@local/harpc/client/rust/src/connection/alias.rs
  libs/@local/harpc/client/rust/src/connection/default.rs
  libs/@local/harpc/client/rust/src/connection/mod.rs
  libs/@local/harpc/client/rust/src/connection/service.rs
  libs/@local/harpc/client/rust/src/error.rs
  libs/@local/harpc/client/rust/src/lib.rs
  libs/@local/harpc/client/rust/src/utils.rs
  libs/@local/harpc/client/typescript/.eslintrc.cjs
  libs/@local/harpc/client/typescript/LICENSE.md
  libs/@local/harpc/client/typescript/package.json
  libs/@local/harpc/client/typescript/src/index.ts
  libs/@local/harpc/client/typescript/tsconfig.build.json
  libs/@local/harpc/client/typescript/tsconfig.json
  libs/@local/harpc/client/typescript/turbo.json
  libs/@local/tsconfig/legacy-base-tsconfig-to-refactor.json
Labels: area/infra, area/libs, type/eng > backend, type/legal

#5640 H-3581: Create crate for graph-migrations
  Cargo.lock
  Cargo.toml
  libs/@local/graph/README.md
  libs/@local/graph/migrations/Cargo.toml
  libs/@local/graph/migrations/LICENSE.md
  libs/@local/graph/migrations/package.json
  libs/@local/graph/migrations/src/lib.rs
Labels: area/deps, area/infra, area/libs, type/eng > backend, type/legal

#5645 H-3590: Allow all CI to pass when opening PRs from a fork
  .github/actions/build-docker-images/action.yml
  .github/workflows/bench.yml
  .github/workflows/deploy.yml
  .github/workflows/tf-plan-hash.yml
Labels: area/infra

#5670 H-3594: Add initial implementation for new migration strategy
  .clippy.toml
  Cargo.lock
  Cargo.toml
  libs/@local/graph/migrations/Cargo.toml
  libs/@local/graph/migrations/graph-migrations/v001__initial_setup.rs
  libs/@local/graph/migrations/graph-migrations/v002__advanced_setup.rs
  libs/@local/graph/migrations/package.json
  libs/@local/graph/migrations/src/bin/cli/main.rs
  libs/@local/graph/migrations/src/bin/cli/subcommand/completions.rs
  libs/@local/graph/migrations/src/bin/cli/subcommand/mod.rs
  libs/@local/graph/migrations/src/bin/cli/subcommand/run.rs
  libs/@local/graph/migrations/src/context.rs
  libs/@local/graph/migrations/src/embedded.rs
  libs/@local/graph/migrations/src/info.rs
  libs/@local/graph/migrations/src/lib.rs
  libs/@local/graph/migrations/src/list.rs
  libs/@local/graph/migrations/src/migration.rs
  libs/@local/graph/migrations/src/plan.rs
  libs/@local/graph/migrations/src/postgres.rs
  libs/@local/graph/migrations/src/state.rs
Labels: area/deps, area/libs, type/eng > backend

#5683 H-3599, H-3600: Implement failing on divergent or missing files
  libs/@local/graph/migrations-macros/src/lib.rs
  libs/@local/graph/migrations/src/bin/cli/subcommand/run.rs
  libs/@local/graph/migrations/src/info.rs
  libs/@local/graph/migrations/src/lib.rs
  libs/@local/graph/migrations/src/list.rs
  libs/@local/graph/migrations/src/plan.rs
  libs/@local/graph/migrations/src/postgres.rs
  libs/@local/graph/migrations/src/state.rs
Labels: area/libs, type/eng > backend

#5685 H-3603: Run migrations in a transaction
  libs/@local/graph/migrations/graph-migrations/v001__initial_setup.rs
  libs/@local/graph/migrations/graph-migrations/v001__initial_setup/down.sql
  libs/@local/graph/migrations/graph-migrations/v001__initial_setup/mod.rs
  libs/@local/graph/migrations/graph-migrations/v001__initial_setup/up.sql
  libs/@local/graph/migrations/graph-migrations/v002__advanced_setup.rs
  libs/@local/graph/migrations/src/bin/cli/subcommand/mod.rs
  libs/@local/graph/migrations/src/bin/cli/subcommand/run.rs
  libs/@local/graph/migrations/src/context.rs
  libs/@local/graph/migrations/src/lib.rs
  libs/@local/graph/migrations/src/migration.rs
  libs/@local/graph/migrations/src/plan.rs
  libs/@local/graph/migrations/src/postgres.rs
Labels: area/libs, type/eng > backend

#5663 H-3605: `harpc`: Test TypeScript `wire-protocol`
  libs/@local/harpc/client/typescript/package.json
  libs/@local/harpc/client/typescript/src/types/ErrorCode.ts
  libs/@local/harpc/client/typescript/src/types/ProcedureId.ts
  libs/@local/harpc/client/typescript/src/types/ResponseKind.ts
  libs/@local/harpc/client/typescript/src/types/SubsystemId.ts
  libs/@local/harpc/client/typescript/src/types/index.ts
  libs/@local/harpc/client/typescript/src/utils.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/Buffer.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/index.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/Payload.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/index.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/Request.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestBody.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestFlags.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/Response.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseBody.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseFlags.ts
  libs/@local/harpc/client/typescript/tests/decode.test.ts
  libs/@local/harpc/client/typescript/tests/encode.test.ts
  libs/@local/harpc/client/typescript/tests/utils.ts
  libs/@local/harpc/client/typescript/tsconfig.json
  libs/@local/harpc/client/typescript/turbo.json
  libs/@local/harpc/client/typescript/vitest.config.js
  libs/@local/harpc/wire-protocol/package.json
  libs/@local/harpc/wire-protocol/turbo.json
  yarn.lock
Labels: area/deps, area/libs, type/eng > backend, area/tests

#5686 H-3617: `harpc`: Implement TypeScript `wire-protocol` codec
  libs/@local/harpc/client/typescript/src/types/ErrorCode.ts
  libs/@local/harpc/client/typescript/src/types/ProcedureDescriptor.ts
  libs/@local/harpc/client/typescript/src/types/ProcedureId.ts
  libs/@local/harpc/client/typescript/src/types/ResponseKind.ts
  libs/@local/harpc/client/typescript/src/types/SubsystemDescriptor.ts
  libs/@local/harpc/client/typescript/src/types/SubsystemId.ts
  libs/@local/harpc/client/typescript/src/types/Version.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/Buffer.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/Payload.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/Protocol.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/ProtocolVersion.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/index.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/Request.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestBegin.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestBody.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestFlags.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestFrame.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestHeader.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestId.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/Response.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseBegin.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseBody.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseFlags.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseFrame.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseHeader.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/RequestToBytesStream.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/ResponseFromBytesStream.ts
  libs/@local/harpc/client/typescript/tests/encode.test.ts
  libs/@local/harpc/client/typescript/tsconfig.json
Labels: area/libs, type/eng > backend, area/tests

#5682 H-2700, H-3556: Claims table in entity editor, AI research worker improvements
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/generate-messages.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/update-state-from-inferred-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/deduplicate-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-for-llm-consumption.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entity-from-claims-agent.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/validation.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-external-services/docker-compose.yml
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-slide-over.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/claims-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/provenance/sources-slideover.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/incoming-links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/links-section-empty-state.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/claims-output.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/entity-result-table.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/entity-result-table/cells.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/shared/format-time-taken.tsx
  apps/hash-frontend/src/pages/goals/new.page.tsx
  apps/hash-frontend/src/pages/shared/claims-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table/worker.ts
  apps/hash-frontend/src/pages/shared/flow-tables.tsx
  apps/hash-frontend/src/pages/shared/sources-popover.tsx
  apps/hash-frontend/src/pages/shared/value-chip.tsx
  apps/hash-frontend/src/pages/workers.page.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
  apps/hash-frontend/src/shared/workers-header.tsx
  apps/plugin-browser/src/scripts/background/infer-entities.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hash-subgraph/src/stdlib/subgraph/edge/link-entity.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#5688 H-3623: Group `effect` packages in Renovate
  .github/renovate.json
Labels: area/infra

#5691 H-3578: Infer metadata from uploaded PDF document
  apps/hash-ai-worker-ts/README.md
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-flow-run-name-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-file-from-url-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-property-patches.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-proposed-entities-and-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/create-file-entity-from-url.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/019-add-doc-company-and-person-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/create-file-from-url.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/request-file-upload.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/shared.ts
  apps/hash-api/src/seed-data/seed-flow-test-types.ts
  apps/hash-frontend/.eslintrc.cjs
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-create-entity.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-list-editor/linked-entity-list-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/shared/table-styling.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/activity-log.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/entity-result-graph.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/outputs/entity-result-table.tsx
  apps/hash-frontend/src/pages/shared/entity-graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/flow-definitions-context.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/use-layout.tsx
  apps/hash-frontend/src/pages/shared/notifications-with-links-context.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
  infra/docker/frontend/prod/Dockerfile
  infra/terraform/hash/main.tf
  libs/@blockprotocol/graph/src/codegen/initialize/traverse-and-collate-schemas.ts
  libs/@blockprotocol/type-system/typescript/src/native/data-type.ts
  libs/@blockprotocol/type-system/typescript/src/native/entity-type.ts
  libs/@local/eslint-config/legacy-base-eslintrc-to-refactor.cjs
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/file-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/trigger-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  libs/@local/hash-isomorphic-utils/src/generate-system-types.ts
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/system-types/academicpaper.ts
  libs/@local/hash-isomorphic-utils/src/system-types/book.ts
  libs/@local/hash-isomorphic-utils/src/system-types/doc.ts
  libs/@local/hash-isomorphic-utils/src/system-types/institution.ts
  libs/@local/hash-isomorphic-utils/src/system-types/person.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/infra > docker, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/infra > terraform

#5696 H-3624: Fix AI worker github build action
  .github/actions/build-docker-images/action.yml
  .github/workflows/hash-backend-cd.yml
  .github/workflows/test.yml
Labels: area/infra

#5692 H-3595: Create new migrations from old migration
  libs/@local/graph/migrations/graph-migrations/v001__extensions/down.sql
  libs/@local/graph/migrations/graph-migrations/v001__extensions/mod.rs
  libs/@local/graph/migrations/graph-migrations/v001__extensions/up.sql
  libs/@local/graph/migrations/graph-migrations/v001__initial_setup/down.sql
  libs/@local/graph/migrations/graph-migrations/v001__initial_setup/up.sql
  libs/@local/graph/migrations/graph-migrations/v002__accounts/down.sql
  libs/@local/graph/migrations/graph-migrations/v002__accounts/mod.rs
  libs/@local/graph/migrations/graph-migrations/v002__accounts/up.sql
  libs/@local/graph/migrations/graph-migrations/v002__advanced_setup.rs
  libs/@local/graph/migrations/graph-migrations/v003__account_groups/down.sql
  libs/@local/graph/migrations/graph-migrations/v003__account_groups/mod.rs
  libs/@local/graph/migrations/graph-migrations/v003__account_groups/up.sql
  libs/@local/graph/migrations/graph-migrations/v004__webs/down.sql
  libs/@local/graph/migrations/graph-migrations/v004__webs/mod.rs
  libs/@local/graph/migrations/graph-migrations/v004__webs/up.sql
  libs/@local/graph/migrations/graph-migrations/v005__common_ontology/down.sql
  libs/@local/graph/migrations/graph-migrations/v005__common_ontology/mod.rs
  libs/@local/graph/migrations/graph-migrations/v005__common_ontology/up.sql
  libs/@local/graph/migrations/graph-migrations/v006__data_types/down.sql
  libs/@local/graph/migrations/graph-migrations/v006__data_types/mod.rs
  libs/@local/graph/migrations/graph-migrations/v006__data_types/up.sql
  libs/@local/graph/migrations/graph-migrations/v007__property_types/down.sql
  libs/@local/graph/migrations/graph-migrations/v007__property_types/mod.rs
  libs/@local/graph/migrations/graph-migrations/v007__property_types/up.sql
  libs/@local/graph/migrations/graph-migrations/v008__entity_types/down.sql
  libs/@local/graph/migrations/graph-migrations/v008__entity_types/mod.rs
  libs/@local/graph/migrations/graph-migrations/v008__entity_types/up.sql
  libs/@local/graph/migrations/graph-migrations/v009__entities/down.sql
  libs/@local/graph/migrations/graph-migrations/v009__entities/mod.rs
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
Labels: area/libs, type/eng > backend

#5728 H-3650: Add `allOf` and `abstract` to `ClosedDataType`
  libs/@local/graph/api/openapi/models/closed_data_type.json
  libs/@local/graph/api/src/rest/json_schemas/closed_data_type.json
Labels: area/libs, type/eng > backend

#5736 H-3674: Allow skipping link validation
  apps/hash-graph/src/subcommand/migrate.rs
  apps/hash-graph/src/subcommand/reindex_cache.rs
  apps/hash-graph/src/subcommand/server.rs
  apps/hash-graph/src/subcommand/snapshot.rs
  apps/hash-graph/src/subcommand/test_server.rs
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/postgres-store/src/snapshot/entity/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/mod.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/data_type/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/entity_type/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/metadata/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/property_type/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/owner/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/restore/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/web/batch.rs
  libs/@local/graph/postgres-store/src/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/pool.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/test-server/src/lib.rs
  libs/@local/graph/validation/src/entity_type.rs
  tests/graph/benches/util.rs
  tests/graph/integration/postgres/lib.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#5740 H-3682: Introduce TypeScript `harpc` codec
  libs/@local/harpc/client/typescript/src/codec/Decoder.ts
  libs/@local/harpc/client/typescript/src/codec/Encoder.ts
  libs/@local/harpc/client/typescript/src/codec/JsonDecoder.ts
  libs/@local/harpc/client/typescript/src/codec/JsonEncoder.ts
  libs/@local/harpc/client/typescript/src/codec/index.ts
  libs/@local/harpc/client/typescript/tests/codec/JsonDecoder.test.ts
  libs/@local/harpc/client/typescript/tests/codec/JsonEncoder.test.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/decode.test.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/encode.test.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/utils.ts
  libs/@local/harpc/client/typescript/tsconfig.json
Labels: area/libs, type/eng > backend, area/tests

#5741 H-3683: Introduce TypeScript `net` types
  libs/@local/harpc/client/typescript/src/net/Request.ts
  libs/@local/harpc/client/typescript/src/net/Response.ts
  libs/@local/harpc/client/typescript/src/net/index.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/RequestIdProducer.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestBody.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestFlags.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseBody.ts
  libs/@local/harpc/client/typescript/tests/net/Request.test.ts
Labels: area/libs, type/eng > backend, area/tests

#5739 H-3677: Include entity type in closed entity type's `allOf`
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/mod.rs
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
Labels: area/libs, area/tests, area/tests > integration

#5751 H-3694: Add output when resolving a type
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
Labels: area/libs, type/eng > backend

#5753 H-3610, H-3693: Remove entity attributes on type removal, show entity archival state
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page/create-initial-draft-entity-subgraph.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-slide-over.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/entity-editor-context.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/incoming-links-section/incoming-links-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/use-rows.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section/entity-type-change-modal.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section/use-get-type-change-details.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/create-draft-entity-subgraph.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-handle-type-changes.ts
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table/types.ts
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table/worker.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar.tsx
  apps/hash-frontend/src/pages/shared/top-context-bar/archived-item-banner.tsx
  apps/hash-frontend/src/pages/shared/use-get-closed-multi-entity-type.ts
  apps/hash-frontend/src/shared/is-archived.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#5755 H-3696: Create follow-up Yarn 4 documentation
  .github/workflows/renovate.yml
  .yarnrc.yml
  apps/hash/README.md
Labels: area/infra, area/apps

#5760 H-3705, H-3706: Fix codegen for data type constraints and prohibit multiple formats in constraints
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/array.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/boolean.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/null.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/object.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/string.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
Labels: area/libs
