Repository hashintel/hash, pull requests merged in 2024-08, with the labels that each got.

#4772 H-3175: Implement load tests for type-loading
  tests/hash-backend-performance/package.json
  tests/hash-backend-performance/scenarios/ontology-read.yml
  tests/hash-backend-performance/scenarios/read-data-types.yml
  tests/hash-backend-performance/scenarios/read-entity-types-entity-refs.yml
  tests/hash-backend-performance/scenarios/read-entity-types-parents.yml
  tests/hash-backend-performance/scenarios/read-entity-types-property-entity-refs.yml
  tests/hash-backend-performance/scenarios/read-entity-types-value-property-entity-refs.yml
  tests/hash-backend-performance/scenarios/read-entity-types.yml
  tests/hash-backend-performance/scenarios/read-property-types-property-refs.yml
  tests/hash-backend-performance/scenarios/read-property-types-value-property-refs.yml
  tests/hash-backend-performance/scenarios/read-property-types.yml
Labels: area/tests

#4782 H-3181: Add identifiers for workers in flows, group activity log by worker
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/handle-web-search-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/link-follower-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entities-from-claims.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/activity-log.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/flow-run-sidebar/group-status.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/shared/format-time-taken.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/shared/types.ts
  apps/hash-frontend/src/pages/shared/virtualized-table.tsx
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4783 H-3199: Set @rust/hql-cst package private
  libs/@local/hql/cst/package.json
Labels: area/libs, type/eng > backend

#4771 H-3166: Mimic Flow behavior in artillery
  patches/@artilleryio+int-commons+2.9.0.patch
  tests/hash-backend-performance/package.json
  tests/hash-backend-performance/rollup.config.ts
  tests/hash-backend-performance/scenarios/flow.yml
  tests/hash-backend-performance/src/session.ts
  tests/hash-backend-performance/src/types.ts
  yarn.lock
Labels: area/deps, area/tests

#4799 H-3211: Fix ignore in changeset configuration
  .changeset/config.json
Labels: area/infra

#4800 H-3214: Update Rust pipeline tools
  .github/workflows/bench.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .justfile
Labels: area/infra

#4785 H-3204: Update `Core Concepts` page content
  .env
  .env.development
  apps/hashdotai/guide/01_introduction/02_core-concepts.mdx
  apps/hashdotai/guide/04_types/03_property-types.mdx
  apps/hashdotai/guide/04_types/04_data-types.mdx
Labels: area/apps

#4801 H-2962: Allow querying inheritance for data types
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/graph/src/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/knowledge/entity/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/entity_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/property_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/compile.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/traversal_context.rs
  apps/hash-graph/libs/graph/src/store/query/filter.rs
  apps/hash-graph/openapi/openapi.json
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/validation.rs
  tests/hash-graph-integration/postgres/data_type.rs
  tests/hash-graph-integration/postgres/lib.rs
  tests/hash-graph-test-data/rust/src/data_type/centimeter.json
  tests/hash-graph-test-data/rust/src/data_type/length.json
  tests/hash-graph-test-data/rust/src/data_type/meter.json
  tests/hash-graph-test-data/rust/src/data_type/mod.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4805 H-3230: Ignore error-stack for turborepo-sync script
  apps/hash-graph/bins/cli/package.json
  apps/hash-graph/libs/api/package.json
  apps/hash-graph/libs/graph/package.json
  apps/hash-graph/libs/query-builder-derive/package.json
  apps/hash-graph/libs/test-server/package.json
  apps/hash-graph/libs/type-fetcher/package.json
  libs/@local/codec/package.json
  libs/@local/harpc/net/package.json
  libs/@local/harpc/tower/package.json
  libs/@local/harpc/types/package.json
  libs/@local/harpc/wire-protocol/package.json
  libs/@local/hash-authorization/package.json
  libs/@local/hash-graph-types/rust/package.json
  libs/@local/hash-validation/package.json
  libs/@local/hql/cst/package.json
  libs/@local/hql/diagnostics/package.json
  libs/@local/hql/span/package.json
  libs/@local/repo-chores/rust/package.json
  libs/@local/temporal-client/package.json
  libs/@local/temporal-versioning/package.json
  libs/@local/tracing/package.json
  libs/error-stack/Cargo.toml
  libs/error-stack/package.json
  tests/hash-graph-benches/package.json
  tests/hash-graph-integration/package.json
  tests/hash-graph-test-data/rust/package.json
Labels: area/apps > hash*, area/libs > error-stack, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4802 H-3208: Enable workspace lints for `harpc-net` and `harpc-tower`
  libs/@local/harpc/net/Cargo.toml
  libs/@local/harpc/net/src/session/client/connection/collection.rs
  libs/@local/harpc/net/src/session/client/connection/mod.rs
  libs/@local/harpc/net/src/session/client/transaction/mod.rs
  libs/@local/harpc/net/src/session/client/transaction/stream.rs
  libs/@local/harpc/net/src/session/gc.rs
  libs/@local/harpc/net/src/session/server/connection/collection.rs
  libs/@local/harpc/net/src/session/server/connection/mod.rs
  libs/@local/harpc/net/src/session/server/session_id.rs
  libs/@local/harpc/net/src/session/server/task.rs
  libs/@local/harpc/net/src/session/server/test.rs
  libs/@local/harpc/net/src/session/server/transaction/mod.rs
  libs/@local/harpc/net/src/session/test.rs
  libs/@local/harpc/net/src/session/writer/mod.rs
  libs/@local/harpc/net/src/transport/behaviour.rs
  libs/@local/harpc/net/src/transport/connection.rs
  libs/@local/harpc/net/src/transport/mod.rs
  libs/@local/harpc/tower/Cargo.toml
  libs/@local/harpc/tower/src/body/full.rs
  libs/@local/harpc/tower/src/body/mod.rs
  libs/@local/harpc/tower/src/extensions.rs
  libs/@local/harpc/tower/src/net/unpack.rs
Labels: area/libs, type/eng > backend

#4806 H-3231: Make sure clippy warnings get resolved in PR comments
  .github/workflows/lint.yml
Labels: area/infra

#4809 H-3234: Enfore synced Turborepo in CI
  .github/scripts/rust/sync-turborepo.rs
  .github/workflows/lint.yml
  libs/error-stack/Cargo.toml
Labels: area/infra, area/libs > error-stack, area/libs

#4773 H-3174: Write load test for signup
  tests/hash-backend-performance/package.json
  tests/hash-backend-performance/scenarios/flow.yml
  tests/hash-backend-performance/scenarios/register.yml
  tests/hash-backend-performance/src/authentication/kratos.ts
  tests/hash-backend-performance/src/authentication/reauthenticate.ts
  tests/hash-backend-performance/src/authentication/registration.ts
  tests/hash-backend-performance/src/authentication/session.ts
  tests/hash-backend-performance/src/graph.ts
  tests/hash-backend-performance/src/graph/api.ts
  tests/hash-backend-performance/src/graph/user.ts
  tests/hash-backend-performance/src/main.ts
  tests/hash-backend-performance/src/session.ts
  tests/hash-backend-performance/src/types.ts
Labels: area/tests

#4804 H-3228: Read existing data types from the graph when creating children
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  tests/hash-graph-integration/postgres/data_type.rs
  tests/hash-graph-test-data/rust/src/data_type/centimeter_v1.json
  tests/hash-graph-test-data/rust/src/data_type/centimeter_v2.json
  tests/hash-graph-test-data/rust/src/data_type/mod.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4811 H-3235: Group various Renovate updates, exclude `tldraw`
  .github/renovate.json
Labels: area/infra

#4735 H-3055: Route prod traffic via Cloudflare; fix client IP identification
  apps/hash-api/src/index.ts
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/main.tf
  infra/terraform/hash/terraform.tf
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/apps, area/infra > terraform

#4818 H-3222: Make sure data types inheriting from each other can be passed in arbitrary order when creating at the same time
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  tests/hash-graph-integration/postgres/data_type.rs
Labels: area/apps > hash*, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4814 H-3229: Validate data type IDs over inheritance
  apps/hash-graph/libs/graph/src/store/validation.rs
  libs/@local/hash-validation/src/data_type.rs
  libs/@local/hash-validation/src/entity_type.rs
  libs/@local/hash-validation/src/lib.rs
  libs/@local/hash-validation/src/property_type.rs
  tests/hash-graph-integration/postgres/data_type.rs
  tests/hash-graph-test-data/rust/src/entity_type/line.json
  tests/hash-graph-test-data/rust/src/entity_type/mod.rs
  tests/hash-graph-test-data/rust/src/property_type/length.json
  tests/hash-graph-test-data/rust/src/property_type/mod.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4829 H-3238: Provide a way to dump a snapshot without authorization relationships
  apps/hash-graph/bins/cli/src/subcommand/snapshot.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4826 H-3239: HQL: Make span storage insertion non mutable
  Cargo.lock
  libs/@local/hql/diagnostics/examples/jexpr.rs
  libs/@local/hql/diagnostics/src/diagnostic.rs
  libs/@local/hql/diagnostics/src/label.rs
  libs/@local/hql/span/Cargo.toml
  libs/@local/hql/span/src/storage.rs
Labels: area/deps, area/libs, type/eng > backend

#4803 H-3221: Enable data type inheritance in Graph API
  apps/hash-graph/libs/api/src/rest/data_type.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#4830 H-3243: Fix validation for ambiguous data types
  libs/@local/hash-validation/src/property_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend

#4860 H-3252: Entity and types table UI improvements, bug fixes
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils/sorting.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/shared/event-detail.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-table/text-icon-cell.tsx
  apps/hash-frontend/src/pages/shared/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#4867 H-2934, H-3236: Allow restoring flows from specific checkpoints, logging improvements
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/check-sub-tasks-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/checkpoints.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/get-link-follower-next-tool-calls.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-for-llm-consumption.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-claims-from-text/infer-entity-claims-from-text-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/extract-validation-failure-details.ts
  apps/hash-ai-worker-ts/src/activities/shared/activity-logger.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-flow-context.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-anthropic-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-openai-reponse.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/log-llm-request.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/activities/shared/graph-api-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/log-progress.ts
  apps/hash-ai-worker-ts/src/activities/shared/request-external-input.ts
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-ai-worker-ts/src/shared/heartbeats.ts
  apps/hash-ai-worker-ts/src/shared/logger.ts
  apps/hash-ai-worker-ts/src/shared/signals.ts
  apps/hash-ai-worker-ts/src/workflows/run-flow-workflow.ts
  apps/hash-api/package.json
  apps/hash-api/src/graphql/resolvers/flows/reset-flow.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-frontend/src/graphql/queries/knowledge/flow.queries.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/activity-log.tsx
  libs/@hashintel/design-system/src/selector-autocomplete/selector-autocomplete-option.tsx
  libs/@local/hash-backend-utils/src/flows.ts
  libs/@local/hash-backend-utils/src/flows/get-flow-run-details.ts
  libs/@local/hash-backend-utils/src/internal-api-client.ts
  libs/@local/hash-backend-utils/src/logger.ts
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/flows/signals.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  libs/@local/hash-isomorphic-utils/src/graphql/queries/flow.queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/flow.typedef.ts
  libs/@local/hash-isomorphic-utils/src/stringify-error.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4845 H-3261: Add `katex` group to Renovate config
  .github/renovate.json
Labels: area/infra

#4896 H-3264: Relax constraints in entity recognition and claim inference
  apps/hash-ai-worker-ts/README.md
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-summary-action.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/check-sub-tasks-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/deduplicate-entities.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/get-link-follower-next-tool-calls.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/link-follower-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/research-entities-action.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/are-urls-equal.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-for-llm-consumption.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/simplify-for-llm-consumption.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-claims-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.optimize/test-data.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/infer-entity-claims-from-text-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/infer-entity-claims-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/infer-summaries-then-claims-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entities-from-claims.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entity-from-claims-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entity-from-claims.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/activity-logger.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/shared/testing-utilities/mock-get-flow-context.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/shared/icons.tsx
  apps/hash-frontend/src/shared/icons/arrow-right-to-line-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  libs/@local/hash-isomorphic-utils/src/flows/example-flow-definitions.ts
Labels: area/apps > hash*, area/infra, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4914 H-3274: Prevent Dockerfile warnings emitted from GitHub
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
Labels: area/apps > hash*, area/infra, area/infra > docker, type/eng > backend, area/apps, area/apps > hash-graph

#4920 H-3265: Get task results to coordinators quicker, allow them to stop tasks early
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/check-sub-tasks-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/check-sub-tasks-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/checkpoints.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/check-delegated-tasks-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/check-delegated-tasks-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/create-initial-plan.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/generate-messages.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/process-complete-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/request-coordinator-actions.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/summarize-existing-entities.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/summarize-existing-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent/update-state-from-inferred-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/check-if-worker-should-stop.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/coordinator-tools/get-tool-call-results.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/coordinators.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/deduplicate-entities.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/handle-web-search-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/map-previous-coordinator-calls-to-llm-messages.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent/create-initial-plan.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent/generate-messages.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent/input.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent/request-sub-coordinator-actions.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent/state.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-coordinating-agent/sub-coordinator-tools.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/sub-task-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/infer-entity-claims-from-text-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/infer-entity-claims-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/infer-summaries-then-claims-from-text.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entities-from-claims.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entity-from-claims-agent.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/shared/signals.ts
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/pages/[shortname]/shared/flow-visualizer/activity-log.tsx
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
  package.json
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#4897 H-3269: Add preferences page, favorites, small fixes
  .github/workflows/test.yml
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/018-add-application-preferences-property.migration.ts
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/actions.page.tsx
  apps/hash-frontend/src/pages/notifications.page.tsx
  apps/hash-frontend/src/pages/settings/personalization.page.tsx
  apps/hash-frontend/src/pages/shared/settings-layout.tsx
  apps/hash-frontend/src/pages/shared/settings-layout/settings-sidebar.tsx
  apps/hash-frontend/src/shared/icons/house-solid-icon.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/notifications-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-entities-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-entity-type-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-entity-type-list/search-input.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-page-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-page-list/account-page-list-item.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-page-list/page-menu.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-page-list/page-tree-item.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-page-list/utils.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/favorites-list.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/entity-or-type-sidebar-item.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/entity-or-type-sidebar-item/entity-menu.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/entity-or-type-sidebar-item/entity-type-menu.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/entity-or-type-sidebar-item/shared/favorite-menu-item.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/entity-or-type-sidebar-item/shared/sidebar-menu-item.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/nav-link.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/sort-actions-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/view-all-link.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/top-nav-link.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/workspace-switcher.tsx
  apps/hash-frontend/src/shared/use-user-preferences.ts
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-bell-light.tsx
  libs/@hashintel/design-system/src/icon-star-regular.tsx
  libs/@hashintel/design-system/src/icon-star-solid.tsx
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/commentnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/mentionnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
  package.json
  tests/hash-playwright/tests/entities-page.spec.ts
  tests/hash-playwright/tests/entity-type-creation.spec.ts
  tests/hash-playwright/tests/inbox-page.spec.ts
  tests/hash-playwright/tests/shared/change-sidebar-list-display.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > playwright, area/apps

#4924 H-3288: Add `signia` Renovate group
  .github/renovate.json
Labels: area/infra

#4927 H-2963, H-3292: Allow storing of data type conversion definitions
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/006-create-first-custom-data-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/012-create-google-sheets-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/016-add-initial-currency-data-types.dev.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-graph/libs/api/src/rest/data_type.rs
  apps/hash-graph/libs/graph/src/snapshot/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/batch.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/data_type/channel.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/mod.rs
  apps/hash-graph/libs/graph/src/snapshot/ontology/record.rs
  apps/hash-graph/libs/graph/src/snapshot/restore/channel.rs
  apps/hash-graph/libs/graph/src/store/fetcher.rs
  apps/hash-graph/libs/graph/src/store/ontology.rs
  apps/hash-graph/libs/graph/src/store/postgres/mod.rs
  apps/hash-graph/libs/graph/src/store/postgres/ontology/data_type.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/rows.rs
  apps/hash-graph/libs/graph/src/store/postgres/query/table.rs
  apps/hash-graph/openapi/openapi.json
  apps/hash-graph/postgres_migrations/V28__data_type_conversions.sql
  apps/hash-graph/tests/ambiguous.http
  apps/hash-graph/tests/friendship.http
  libs/@blockprotocol/type-system/rust/src/schema/data_type/conversion.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-graph-benches/util.rs
  tests/hash-graph-integration/postgres/data_type.rs
  tests/hash-graph-integration/postgres/lib.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#4828 H-3241: HQL: Introduce J-Expr frontend
  Cargo.lock
  libs/@local/hql/cst/.gitattributes
  libs/@local/hql/cst/src/expr/signature.rs
  libs/@local/hql/cst/src/lib.rs
  libs/@local/hql/cst/src/type.rs
  libs/@local/hql/cst/src/value.rs
  libs/@local/hql/syntax-jexpr/.gitattributes
  libs/@local/hql/syntax-jexpr/Cargo.toml
  libs/@local/hql/syntax-jexpr/LICENSE.md
  libs/@local/hql/syntax-jexpr/README.md
  libs/@local/hql/syntax-jexpr/package.json
  libs/@local/hql/syntax-jexpr/src/error.rs
  libs/@local/hql/syntax-jexpr/src/lexer/error.rs
  libs/@local/hql/syntax-jexpr/src/lexer/mod.rs
  libs/@local/hql/syntax-jexpr/src/lexer/parse.rs
  libs/@local/hql/syntax-jexpr/src/lexer/snapshots/hql_syntax_jexpr__lexer__test__invalid_escape.snap
  libs/@local/hql/syntax-jexpr/src/lexer/snapshots/hql_syntax_jexpr__lexer__test__invalid_number.snap
  libs/@local/hql/syntax-jexpr/src/lexer/snapshots/hql_syntax_jexpr__lexer__test__missing_surrogate_pair.snap
  libs/@local/hql/syntax-jexpr/src/lexer/snapshots/hql_syntax_jexpr__lexer__test__unrecognized_character.snap
  libs/@local/hql/syntax-jexpr/src/lexer/snapshots/hql_syntax_jexpr__lexer__test__unterminated_string.snap
  libs/@local/hql/syntax-jexpr/src/lexer/syntax_kind.rs
  libs/@local/hql/syntax-jexpr/src/lexer/syntax_kind_set.rs
  libs/@local/hql/syntax-jexpr/src/lexer/token.rs
  libs/@local/hql/syntax-jexpr/src/lexer/token_kind.rs
  libs/@local/hql/syntax-jexpr/src/lib.rs
  libs/@local/hql/syntax-jexpr/src/parser/array.rs
  libs/@local/hql/syntax-jexpr/src/parser/error.rs
  libs/@local/hql/syntax-jexpr/src/parser/expr.rs
  libs/@local/hql/syntax-jexpr/src/parser/expr_explicit.rs
  libs/@local/hql/syntax-jexpr/src/parser/mod.rs
  libs/@local/hql/syntax-jexpr/src/parser/object.rs
  libs/@local/hql/syntax-jexpr/src/parser/path.rs
  libs/@local/hql/syntax-jexpr/src/parser/program.rs
  libs/@local/hql/syntax-jexpr/src/parser/signature.rs
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__fn_empty.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__fn_empty_args.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__fn_is_expr.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_constant.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_constant_with_extra_fields.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_constant_with_type.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_empty.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_invalid.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__string_is_invalid.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__string_is_path-2.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__string_is_path.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__string_is_signature.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__value__test__duplicate_key.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__value__test__key_is_number.snap
  libs/@local/hql/syntax-jexpr/src/parser/stream.rs
  libs/@local/hql/syntax-jexpr/src/parser/string.rs
  libs/@local/hql/syntax-jexpr/src/parser/symbol.rs
  libs/@local/hql/syntax-jexpr/src/parser/type.rs
  libs/@local/hql/syntax-jexpr/src/parser/value.rs
  libs/@local/hql/syntax-jexpr/src/span.rs
Labels: area/deps, area/infra, area/libs, type/eng > backend, type/legal
