Repository hashintel/hash, pull requests merged in 2024-12, with the labels that each got.

#5770 H-3612: Properly detect tables with different inheritance depths
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
Labels: area/libs, type/eng > backend

#5766 H-3703: Remove unused `data_type_constrains_values_on` table
  libs/@local/graph/migrations/graph-migrations/v006__data_types/down.sql
  libs/@local/graph/migrations/graph-migrations/v006__data_types/up.sql
  libs/@local/graph/postgres-store/postgres_migrations/V35__remove_data_type_constrains_values_on_table.sql
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/table.rs
Labels: area/libs, type/eng > backend

#5771 H-3723: Add link table indices
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
  libs/@local/graph/postgres-store/postgres_migrations/V36__link_table_indices.sql
Labels: area/libs, type/eng > backend

#5761 H-3707, H-3708: Implement libp2p frontend
  libs/@local/harpc/client/typescript/package.json
  libs/@local/harpc/client/typescript/src/net/Client.ts
  libs/@local/harpc/client/typescript/src/net/Config.ts
  libs/@local/harpc/client/typescript/src/net/Connection.ts
  libs/@local/harpc/client/typescript/src/net/NetworkLogger.ts
  libs/@local/harpc/client/typescript/src/net/Request.ts
  libs/@local/harpc/client/typescript/src/net/Response.ts
  libs/@local/harpc/client/typescript/src/net/Transaction.ts
  libs/@local/harpc/client/typescript/src/net/Transport.ts
  libs/@local/harpc/client/typescript/src/net/index.ts
  libs/@local/harpc/client/typescript/src/net/internal/networkLogger.ts
  libs/@local/harpc/client/typescript/src/net/internal/transport.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/Buffer.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/index.ts
  libs/@local/harpc/client/typescript/tests/net/Request.test.ts
  libs/@local/harpc/net/src/session/server/connection/collection.rs
  libs/@local/harpc/net/src/session/server/connection/mod.rs
  libs/@local/harpc/net/src/session/server/mod.rs
  libs/@local/harpc/tower/src/lib.rs
  yarn.lock
Labels: area/deps, area/libs, type/eng > backend, area/tests

#5769 H-3689: Replace `check-dependency-version-consistency` with yarn constraints
  .github/actions/prune-repository/action.yml
  .github/workflows/lint.yml
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-integration-worker/package.json
  apps/hash-realtime/package.json
  apps/hash-search-loader/package.json
  libs/@local/graph/client/typescript/package.json
  libs/@local/internal-api-client/typescript/package.json
  package.json
  yarn.config.cjs
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/apps > hash-realtime, area/apps > hash-search-loader, area/apps

#5781 H-3304: Initial setup for `SqlFluff`
  .github/CODEOWNERS
  .github/workflows/lint.yml
  .sqlfluff
  infra/docker/citus/prod/initdb/0000_init.sql
  libs/@local/graph/migrations/graph-migrations/v006__data_types/up.sql
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
  libs/@local/graph/postgres-store/postgres_migrations/.sqlfluffignore
Labels: area/infra, area/infra > docker, area/libs, type/eng > backend

#5784 H-3733: Experiment with lefthook as a husky/lint-staged replacement
  .config/husky/pre-commit
  .github/actions/warm-up-repo/action.yml
  .lefthook.yml
  apps/hash-frontend/vercel-install.sh
  apps/hashdotdesign/vercel-install.sh
  apps/hashdotdev/vercel-install.sh
  package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash.dev, type/eng > frontend, area/apps, area/apps > hash.design

#5687 H-3618: Add GitHub action step to authenticate with Google Cloud, for `chonky` tests
  .dockerignore
  .github/workflows/test.yml
  .gitignore
  .markdownlintignore
  libs/chonky/src/embedding/multi_modal_embedding.rs
Labels: area/infra, area/libs, area/libs > chonky

#5813 H-3699, H-3374: Use and set value `dataTypeId` in the entity editor
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/019-add-doc-company-and-person-types.migration.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-slide-over.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/claims-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/entity-editor-context.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/get-history-events.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/link-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-with-cell-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/use-rows.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/draft-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/value-chip.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-specs.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-type-picker.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/number-or-text-input.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/utils.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-on-cell-edited.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/use-property-rows-from-entity.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section/use-get-type-change-details.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/create-draft-entity-subgraph.ts
  apps/hash-frontend/src/pages/shared/data-types-context.tsx
  apps/hash-frontend/src/pages/shared/entity-selector.tsx
  apps/hash-frontend/src/pages/shared/use-validate-entity.ts
  apps/hash-frontend/src/shared/file-upload-context.tsx
  libs/@hashintel/design-system/src/selector-autocomplete/selector-autocomplete-option.tsx
  libs/@hashintel/type-editor/src/shared/data-types-options-context.tsx
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/sdk/typescript/tests/entity.test.ts
  libs/@local/graph/types/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/data-types.ts
  libs/@local/hash-isomorphic-utils/src/generate-entity-label.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/apps

#5834 H-3741: Allow querying children of resolved entity types as well
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/get-expected-types-of-property-type.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/store/src/entity_type/mod.rs
  libs/@local/graph/store/src/entity_type/store.rs
  libs/@local/graph/types/typescript/src/ontology.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#5820 H-3371, H-3722: Overhaul return behavior for entity validation
  Cargo.lock
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/api/openapi/models/multi_report.json
  libs/@local/graph/api/openapi/models/report.json
  libs/@local/graph/api/openapi/models/report_context_info.json
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/package.json
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/api/src/rest/json_schemas/multi_report.json
  libs/@local/graph/api/src/rest/json_schemas/report.json
  libs/@local/graph/api/src/rest/json_schemas/report_context_info.json
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/status.rs
  libs/@local/graph/postgres-store/src/snapshot/entity/batch.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/store/Cargo.toml
  libs/@local/graph/store/src/entity/mod.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/store/src/entity/validation_report.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/graph/types/rust/src/knowledge/property/visitor.rs
  libs/@local/graph/types/rust/src/ontology/mod.rs
  libs/@local/graph/validation/Cargo.toml
  libs/@local/graph/validation/src/entity_type.rs
  libs/@local/graph/validation/src/lib.rs
  libs/@local/graph/validation/src/property.rs
  libs/chonky/README.md
  tests/graph/http/.justfile
  tests/graph/http/test.sh
  tests/graph/http/tests/friendship.http
  tests/graph/http/tests/link-inheritance.http
  tests/graph/integration/postgres/lib.rs
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/apps, area/libs > chonky

#5837 H-3745: Upgrade recursive dependencies and TemporalIO dependency
  Cargo.lock
  Cargo.toml
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@local/hql/diagnostics/Cargo.toml
  libs/@local/temporal-client/Cargo.toml
  libs/@local/temporal-client/src/ai.rs
  libs/@local/temporal-client/src/lib.rs
Labels: area/deps, area/libs, type/eng > backend

#5827 H-2976: Improve validation for ontology types
  libs/@blockprotocol/type-system/rust/src/schema/array/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/array/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/property_type/validation.rs
Labels: area/libs

#5836 H-3709, H-3746, H-3747: HaRPC TypeScript implementation
  apps/hash-api/package.json
  apps/hash-api/src/index.ts
  libs/@local/graph/sdk/typescript/package.json
  libs/@local/graph/sdk/typescript/src/harpc.ts
  libs/@local/harpc/client/typescript/.eslintrc.cjs
  libs/@local/harpc/client/typescript/package.json
  libs/@local/harpc/client/typescript/src/ClientError.ts
  libs/@local/harpc/client/typescript/src/binary/MutableBytes.ts
  libs/@local/harpc/client/typescript/src/binary/index.ts
  libs/@local/harpc/client/typescript/src/codec/Decoder.ts
  libs/@local/harpc/client/typescript/src/codec/Encoder.ts
  libs/@local/harpc/client/typescript/src/codec/JsonDecoder.ts
  libs/@local/harpc/client/typescript/src/codec/index.ts
  libs/@local/harpc/client/typescript/src/index.ts
  libs/@local/harpc/client/typescript/src/net/Client.ts
  libs/@local/harpc/client/typescript/src/net/Config.ts
  libs/@local/harpc/client/typescript/src/net/Connection.ts
  libs/@local/harpc/client/typescript/src/net/Request.ts
  libs/@local/harpc/client/typescript/src/net/Response.ts
  libs/@local/harpc/client/typescript/src/net/Transport.ts
  libs/@local/harpc/client/typescript/src/net/index.ts
  libs/@local/harpc/client/typescript/src/net/internal/networkLogger.ts
  libs/@local/harpc/client/typescript/src/net/internal/transport.ts
  libs/@local/harpc/client/typescript/src/types/ResponseKind.ts
  libs/@local/harpc/client/typescript/src/types/index.ts
  libs/@local/harpc/client/typescript/src/utils.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/Buffer.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/index.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/Payload.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/index.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/index.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/index.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/ResponseFromBytesStream.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/index.ts
  libs/@local/harpc/client/typescript/tsconfig.build.json
  libs/@local/harpc/client/typescript/tsconfig.json
  libs/@local/tsconfig/legacy-base-tsconfig-to-refactor.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#5839 H-3770: Group `libp2p` Renovate updates
  .github/renovate.json
Labels: area/infra

#5840 H-3771: Fix `includeCount` not working in entity subgraph queries
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  tests/graph/integration/postgres/sorting.rs
Labels: area/libs, type/eng > backend, area/tests

#5846 H-3774: Fix including data type children will not emit anything if no children exist
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
Labels: area/libs, type/eng > backend

#5856 H-3710: Support DNS for HaRPC client and align environment variables
  .env
  .env.development
  apps/hash-ai-worker-ts/README.md
  apps/hash-ai-worker-ts/src/activities/shared/graph-api-client.ts
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-api/src/ensure-system-graph-is-initialized.ts
  apps/hash-api/src/generate-ontology-type-ids.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/seed-data/seed-flow-test-types.ts
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-graph/src/subcommand/server.rs
  apps/hash-graph/src/subcommand/test_server.rs
  apps/hash-integration-worker/README.md
  apps/hash-integration-worker/src/main.ts
  infra/terraform/hash/.terraform.lock.hcl
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/temporal_worker_ai_ts.tf
  infra/terraform/hash/hash_application/temporal_worker_integration.tf
  infra/terraform/hash/main.tf
  infra/terraform/hash/prod-usea1.tfvars
  tests/hash-backend-integration/src/tests/util.ts
  tests/hash-backend-load/src/graph/api.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph, area/infra > terraform

#5838 H-3609: Reduce cost of polling for notification and draft entities counts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/actions.page.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities-bulk-actions-dropdown.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities-context.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-action-buttons.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-chip.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-type.tsx
  apps/hash-frontend/src/pages/notifications.page.tsx
  apps/hash-frontend/src/pages/notifications.page/notifications-table.tsx
  apps/hash-frontend/src/pages/notifications.page/notifications-with-links-context.tsx
  apps/hash-frontend/src/pages/shared/accept-draft-entity-button.tsx
  apps/hash-frontend/src/pages/shared/discard-draft-entity-button.tsx
  apps/hash-frontend/src/shared/draft-entities-count-context.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/notifications-dropdown.tsx
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
  apps/hash-frontend/src/shared/notification-count-context.tsx
  apps/hash-frontend/src/shared/notification-entities-context.tsx
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/generation.typedef.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#5857 H-3776: Enable HaRPC in AWS
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/main.tf
Labels: area/infra, area/infra > terraform

#5850 H-3755: Improve validation structure for entity properties
  Cargo.lock
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/property_type/mod.rs
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/api/src/rest/property_type.rs
  libs/@local/graph/postgres-store/src/snapshot/entity/batch.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/store/src/entity/mod.rs
  libs/@local/graph/store/src/entity/validation_report.rs
  libs/@local/graph/types/rust/Cargo.toml
  libs/@local/graph/types/rust/src/knowledge/property/mod.rs
  libs/@local/graph/types/rust/src/knowledge/property/visitor.rs
  libs/@local/graph/types/rust/src/ontology/data_type/lookup.rs
  libs/@local/graph/types/typescript/src/validation.ts
  libs/@local/graph/validation/src/entity_type.rs
  libs/@local/graph/validation/src/lib.rs
  tests/graph/integration/postgres/data_type.rs
Labels: area/deps, area/libs, type/eng > backend, area/tests

#5859 H-3778: Resolve DNS entries on connection re-use
  apps/hash-api/src/index.ts
  libs/@local/harpc/client/typescript/package.json
  libs/@local/harpc/client/typescript/src/net/Transport.ts
  libs/@local/harpc/client/typescript/src/net/internal/multiaddr.ts
  libs/@local/harpc/client/typescript/src/net/internal/transport.ts
  libs/@local/harpc/client/typescript/src/utils.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/Payload.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#5868 Enable verbose logging for HaRPC
  apps/hash-api/src/index.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#5872 H-3784: Correctly resolve multiple DNS entries
  Cargo.lock
  libs/@local/harpc/client/typescript/package.json
  libs/@local/harpc/client/typescript/src/net/internal/transport.ts
  yarn.lock
Labels: area/deps, area/libs, type/eng > backend

#5874 H-3786: Rename `properties` to `items` in `ArrayValidationReport`
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/types/rust/src/knowledge/property/visitor.rs
  libs/@local/graph/types/typescript/src/validation.ts
  libs/@local/graph/validation/src/entity_type.rs
Labels: area/libs, type/eng > backend

#5875 H-3787: Reduce logging level for Node API in AWS
  infra/terraform/hash/prod-usea1.tfvars
Labels: area/infra, area/infra > terraform

#5778 H-3731: Add `Vision` page to user guide
  .changeset/README.md
  .github/renovate.json
  .vscode/settings.json
  apps/hash-frontend/public/icons/docs/introduction-futurevision.svg
  apps/hashdotai/guide/01_introduction/00_index.mdx
  apps/hashdotai/guide/01_introduction/04_vision.mdx
  apps/hashdotai/guide/04_types/01_entity-types.mdx
  libs/antsi/README.md
  libs/deer/README.md
  libs/error-stack/README.md
  libs/sarif/README.md
Labels: area/apps > hash*, area/infra, area/libs > error-stack, area/libs, area/libs > deer, area/libs > antsi, area/libs > sarif, area/dx, type/eng > frontend, area/apps

#5881 H-3791: Log discovered `PeerId`s in HaRPC
  apps/hash-api/src/index.ts
  libs/@local/harpc/client/typescript/src/net/internal/transport.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#5877 H-3789: Detect queries to the graph and record times
  Cargo.lock
  Cargo.toml
  apps/hash-graph/src/subcommand/server.rs
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/api/src/rest/account.rs
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/property_type.rs
  libs/@local/graph/store/src/entity/store.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5887 H-3697, H-3751, H-3796: Highlight validation errors in entity editor
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/components/grid/utils/interactable-manager.ts
  apps/hash-frontend/src/components/grid/utils/use-grid-tooltip.tsx
  apps/hash-frontend/src/components/grid/utils/use-grid-tooltip/draw-interactable-tooltip-icons.ts
  apps/hash-frontend/src/components/grid/utils/use-grid-tooltip/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-slide-over.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/entity-editor-context.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/get-tooltips-of-property-row.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-on-cell-edited.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/use-property-rows-from-entity.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/shared/summary-chip-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/use-handle-type-changes.ts
  apps/hash-frontend/src/pages/[shortname]/shared/edit-bar.tsx
  apps/hash-frontend/src/pages/shared/block-collection/create-suggester/block-suggester.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/definition-tab.tsx
  apps/hash-frontend/src/pages/shared/use-validate-entity.ts
  apps/hash-frontend/src/shared/icons/warn-icon.tsx
  libs/@hashintel/design-system/src/data-type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector/custom-expected-value-builder.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector/shared/object-expected-value-builder.tsx
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/types/typescript/src/validation.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#5894 H-3792: Switch to `dns.resolve` in HaRPC
  libs/@local/harpc/client/typescript/src/net/internal/dns.ts
  libs/@local/harpc/client/typescript/src/net/internal/transport.ts
Labels: area/libs, type/eng > backend

#5858 H-3691: Replace lockfile-lint with yarn constraints
  .github/workflows/lint.yml
  apps/hash/README.md
  package.json
  yarn.config.cjs
  yarn.lock
Labels: area/deps, area/infra, area/apps

#5895 H-3804: Improve performance observability tooling in the graph
  libs/@local/graph/api/src/rest/account.rs
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/property_type.rs
Labels: area/libs, type/eng > backend

#5896 H-3795: Allow snapshot restoring with validation errors
  apps/hash-graph/src/subcommand/snapshot.rs
  libs/@local/graph/postgres-store/src/snapshot/entity/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/mod.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/data_type/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/entity_type/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/metadata/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/property_type/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/owner/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/restore/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/web/batch.rs
  libs/@local/graph/test-server/src/lib.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#5898 H-3806: increase DNS logging in HaRPC
  libs/@local/harpc/client/typescript/src/net/internal/dns.ts
Labels: area/libs, type/eng > backend

#5901 H-3811: Exclude `@effect/vitest` from Vitest upgrade group
  .github/renovate.json
Labels: area/infra

#5903 H-3812: enable DNS logging during `hash-api` start
  apps/hash-api/src/index.ts
  libs/@local/harpc/client/typescript/src/net/internal/dns.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#5905 H-3814: Create remaining indices for link reference tables
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
  libs/@local/graph/postgres-store/postgres_migrations/V37__more_link_table_indices.sql
Labels: area/libs, type/eng > backend

#5906 H-3815: Reorder Postgres statements to join filter statements first
  libs/@local/graph/postgres-store/src/store/postgres/crud.rs
Labels: area/libs, type/eng > backend

#5904 H-1628: Write a benchmark which runs queries as specified in a JSON file
  Cargo.lock
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/store/src/entity/store.rs
  tests/graph/benches/Cargo.toml
  tests/graph/benches/manual_queries/entity_queries/all-public.json
  tests/graph/benches/manual_queries/entity_queries/mod.rs
  tests/graph/benches/manual_queries/lib.rs
  tests/graph/benches/package.json
  yarn.lock
Labels: area/deps, area/libs, type/eng > backend, area/tests

#5899 H-3553, H-3695, H-3805: Entities table and slideover fixes
  apps/hash-api/src/util.ts
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-slide-over.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/type-slide-over-stack.tsx
  apps/hash-frontend/src/shared/is-of-type.ts
  apps/hash-frontend/src/shared/table-header/bulk-actions-dropdown.tsx
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#5900 H-3809: Update glossary pages
  apps/hashdotai/glossary/actor-model.mdx
  apps/hashdotai/glossary/agent-based-modeling.mdx
  apps/hashdotai/glossary/attributes.mdx
  apps/hashdotai/glossary/block-protocol.mdx
  apps/hashdotai/glossary/blocks.mdx
  apps/hashdotai/glossary/digital-twin.mdx
  apps/hashdotai/glossary/graphs.mdx
  apps/hashdotai/glossary/properties.mdx
Labels: area/apps > hash.ai, area/apps

#5920 H-3818: Switch to stricter ESLint configuration for `@local/harpc-client`
  libs/@local/eslint/src/builtIn.ts
  libs/@local/eslint/src/index.ts
  libs/@local/eslint/src/jsdoc.ts
  libs/@local/eslint/src/unicorn.ts
  libs/@local/eslint/src/vitest.ts
  libs/@local/harpc/client/typescript/eslint.config.js
  libs/@local/harpc/client/typescript/src/binary/MutableBytes.ts
  libs/@local/harpc/client/typescript/src/codec/Decoder.ts
  libs/@local/harpc/client/typescript/src/codec/Encoder.ts
  libs/@local/harpc/client/typescript/src/codec/JsonDecoder.ts
  libs/@local/harpc/client/typescript/src/net/Client.ts
  libs/@local/harpc/client/typescript/src/net/Config.ts
  libs/@local/harpc/client/typescript/src/net/Connection.ts
  libs/@local/harpc/client/typescript/src/net/NetworkLogger.ts
  libs/@local/harpc/client/typescript/src/net/Request.ts
  libs/@local/harpc/client/typescript/src/net/Response.ts
  libs/@local/harpc/client/typescript/src/net/Transaction.ts
  libs/@local/harpc/client/typescript/src/net/Transport.ts
  libs/@local/harpc/client/typescript/src/net/index.ts
  libs/@local/harpc/client/typescript/src/net/internal/multiaddr.ts
  libs/@local/harpc/client/typescript/src/net/internal/networkLogger.ts
  libs/@local/harpc/client/typescript/src/net/internal/transport.ts
  libs/@local/harpc/client/typescript/src/types/ErrorCode.ts
  libs/@local/harpc/client/typescript/src/types/ProcedureDescriptor.ts
  libs/@local/harpc/client/typescript/src/types/ProcedureId.ts
  libs/@local/harpc/client/typescript/src/types/ResponseKind.ts
  libs/@local/harpc/client/typescript/src/types/SubsystemDescriptor.ts
  libs/@local/harpc/client/typescript/src/types/SubsystemId.ts
  libs/@local/harpc/client/typescript/src/types/Version.ts
  libs/@local/harpc/client/typescript/src/utils.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/Buffer.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/RequestIdProducer.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/Payload.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/Protocol.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/ProtocolVersion.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/Request.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestBegin.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestBody.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestFlags.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestFrame.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestHeader.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestId.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/Response.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseBegin.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseBody.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseFlags.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseFrame.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseHeader.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/RequestToBytesStream.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/ResponseFromBytesStream.ts
  libs/@local/harpc/client/typescript/tests/codec/JsonDecoder.test.ts
  libs/@local/harpc/client/typescript/tests/codec/JsonEncoder.test.ts
  libs/@local/harpc/client/typescript/tests/net/Request.test.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/decode.test.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/encode.test.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/utils.ts
  libs/@local/harpc/client/typescript/vitest.config.ts
Labels: area/libs, type/eng > backend, area/tests

#5911 H-3817: Fix typo in GitHub Action name
  .github/workflows/lint.yml
Labels: area/infra

#5940 H-3833: Fix `Workers` page heading
  apps/hashdotai/guide/05_workers/00_index.mdx
Labels: area/apps

#5944 H-3819: Upgrade to Node 22
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.optimize.ai.test.ts
  apps/hash-frontend/package.json
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  apps/hashdotdesign/vercel-build.sh
  apps/hashdotdev/package.json
  apps/hashdotdev/tsconfig.json
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
  infra/docker/realtime/prod/Dockerfile
  infra/docker/search-loader/prod/Dockerfile
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/graph/tsconfig.json
  libs/@blockprotocol/type-system/typescript/tsconfig.json
  libs/@local/harpc/client/typescript/tsconfig.json
  libs/@local/hash-isomorphic-utils/tsconfig.json
  libs/@local/tsconfig/legacy-base-tsconfig-to-refactor.json
  package.json
Labels: area/apps > hash*, area/infra, area/infra > docker, area/apps > hash.dev, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash-graph, area/apps > hash.design

#5955 H-3777: Replace `markdownlint-cli` with `markdownlint-cli2`
  .github/renovate.json
  .gitignore
  .lefthook.yml
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .markdownlintignore
  package.json
  yarn.lock
Labels: area/deps, area/infra

#5956 H-3843: Change Renovate `postUpdateOptions` strategy
  .github/renovate.json
Labels: area/infra

#5983 H-3852: Don't crash entities table if an entity's owner is missing
  apps/hash-frontend/src/components/hooks/use-get-owner-for-entity.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps
