Repository hashintel/hash, pull requests merged in 2025-10, with the labels that each got.

#7830 BE-134: HashQL: Replace `SpanStorage` with `SpanTable`
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/hashql/compiletest/src/executor/annotations.rs
  libs/@local/hashql/compiletest/src/executor/mod.rs
  libs/@local/hashql/compiletest/src/executor/trial.rs
  libs/@local/hashql/core/src/span/entry.rs
  libs/@local/hashql/core/src/span/mod.rs
  libs/@local/hashql/core/src/span/storage.rs
  libs/@local/hashql/core/src/span/table.rs
  libs/@local/hashql/diagnostics/src/diagnostic/render.rs
  libs/@local/hashql/diagnostics/src/diagnostic/suggestion.rs
  libs/@local/hashql/diagnostics/src/source/mod.rs
  libs/@local/hashql/diagnostics/src/source/span.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/mod.rs
  libs/@local/hashql/syntax-jexpr/src/lib.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/error.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/mod.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/visit.rs
  libs/@local/hashql/syntax-jexpr/src/parser/complex/mod.rs
  libs/@local/hashql/syntax-jexpr/src/parser/expr.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/dict.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/error.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/initial.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/list.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/literal.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/mod.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/struct.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/tuple.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/type.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/visit.rs
  libs/@local/hashql/syntax-jexpr/src/parser/state.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/combinator.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/context.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/error.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/expr.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/generic.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/ident.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/mod.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/path.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__empty_brackets.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__index_too_large.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__missing_field_name.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__unclosed_bracket.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/test.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/type.rs
  libs/@local/hashql/syntax-jexpr/src/parser/test.rs
  libs/@local/hashql/syntax-jexpr/src/span.rs
  libs/@local/hashql/syntax-jexpr/src/test.rs
Labels: area/libs, type/eng > backend

#7829 BE-98: HashQL: Enable dict literal construct
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-key.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-key.stderr
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-value.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-value.stderr
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/node/data/mod.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/error.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/dict-empty.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/dict-empty.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/dict.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/dict.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-empty.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-empty.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-value.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-value.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-single.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-single.stdout
  libs/@local/hashql/hir/tests/ui/reify/dict.jsonc
  libs/@local/hashql/hir/tests/ui/reify/dict.stderr
  libs/@local/hashql/hir/tests/ui/reify/dict.stdout
  libs/@local/hashql/syntax-jexpr/src/parser/array/mod.rs
Labels: area/libs, type/eng > backend, area/tests

#7832 BE-136: HashQL: Introduce anonymous variables inside the HIR
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/hashql/ast/src/lowering/node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/eval_graph_read_entity.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_alias_replacement.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_checking.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_ctor.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference_intrinsics.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/compiletest/src/suite/hir_reify.rs
  libs/@local/hashql/core/src/id.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/table.rs
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/src/graph/read/mod.rs
  libs/@local/hashql/hir/src/context.rs
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/lib.rs
  libs/@local/hashql/hir/src/lower/alias.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/error.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/specialization/error.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/src/node/let.rs
  libs/@local/hashql/hir/src/node/variable.rs
  libs/@local/hashql/hir/src/node/variable/local.rs
  libs/@local/hashql/hir/src/node/variable/mod.rs
  libs/@local/hashql/hir/src/node/variable/qualified.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
Labels: area/libs, type/eng > backend

#7833 BE-137: HashQL: allow `let` to assign multiple variables
  libs/@local/hashql/core/src/id.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/src/graph/read/mod.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-expression.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-propagation.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/nested-let-bindings.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-level-variable.stdout
  libs/@local/hashql/hir/src/context.rs
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/lower/alias.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/node/let.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
  libs/@local/hashql/hir/tests/ui/lower/alias-replacement/complex-mixed.stdout
  libs/@local/hashql/hir/tests/ui/lower/alias-replacement/generics.stdout
  libs/@local/hashql/hir/tests/ui/lower/alias-replacement/immediate-usage.stdout
  libs/@local/hashql/hir/tests/ui/lower/alias-replacement/multiple-aliases.stdout
  libs/@local/hashql/hir/tests/ui/lower/alias-replacement/nested-aliases.stdout
  libs/@local/hashql/hir/tests/ui/lower/alias-replacement/preserve-non-alias.stdout
  libs/@local/hashql/hir/tests/ui/lower/alias-replacement/qualified-variable-alias.stdout
  libs/@local/hashql/hir/tests/ui/lower/alias-replacement/replace-alias.stdout
  libs/@local/hashql/hir/tests/ui/lower/alias-replacement/unused-alias.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-call-constrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-call-unconstrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-constrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-not-generic.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/field-access-tuple.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/field-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/index-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/input-multiple.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/let.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/local-variable.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-call-unconstrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/field-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/index-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/intrinsics/assignment.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/intrinsics/re-assignment.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/let.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/local-variable.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/bool.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/cmp.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/complex.stdout
  libs/@local/hashql/hir/tests/ui/reify/call-multiple-arguments.stdout
  libs/@local/hashql/hir/tests/ui/reify/field.stdout
  libs/@local/hashql/hir/tests/ui/reify/index.stdout
  libs/@local/hashql/hir/tests/ui/reify/let-type-annotation.stdout
  libs/@local/hashql/hir/tests/ui/reify/let.stdout
  libs/@local/hashql/hir/tests/ui/reify/local-variable.stdout
  libs/@local/hashql/hir/tests/ui/reify/nested-expressions.stdout
Labels: area/libs, type/eng > backend, area/tests

#7834 BE-135: Remove `Span` from nested expressions in HIR
  libs/@local/hashql/eval/src/graph/read/error.rs
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/src/graph/read/mod.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/invalid-index-access-error.stderr
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/lower/alias.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/error.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/node/access/field.rs
  libs/@local/hashql/hir/src/node/access/index.rs
  libs/@local/hashql/hir/src/node/access/mod.rs
  libs/@local/hashql/hir/src/node/branch/if.rs
  libs/@local/hashql/hir/src/node/branch/mod.rs
  libs/@local/hashql/hir/src/node/call.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/src/node/data/dict.rs
  libs/@local/hashql/hir/src/node/data/list.rs
  libs/@local/hashql/hir/src/node/data/literal.rs
  libs/@local/hashql/hir/src/node/data/mod.rs
  libs/@local/hashql/hir/src/node/data/struct.rs
  libs/@local/hashql/hir/src/node/data/tuple.rs
  libs/@local/hashql/hir/src/node/graph/mod.rs
  libs/@local/hashql/hir/src/node/graph/read.rs
  libs/@local/hashql/hir/src/node/input.rs
  libs/@local/hashql/hir/src/node/let.rs
  libs/@local/hashql/hir/src/node/mod.rs
  libs/@local/hashql/hir/src/node/operation/binary.rs
  libs/@local/hashql/hir/src/node/operation/mod.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
  libs/@local/hashql/hir/src/node/operation/unary.rs
  libs/@local/hashql/hir/src/node/variable/local.rs
  libs/@local/hashql/hir/src/node/variable/mod.rs
  libs/@local/hashql/hir/src/node/variable/qualified.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-custom-collect.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-custom-collect.stderr
Labels: area/libs, type/eng > backend, area/tests

#7835 H-5449: Add workflow to dismiss stale pull request approvals
  .github/workflows/dismiss-stale-approvals.yml
Labels: area/infra

#7836 BE-111: Replace usages of subgraph if not needed
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/graph-requests.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/components/hooks/use-entity-by-id.ts
  apps/hash-frontend/src/components/hooks/use-orgs.ts
  apps/hash-frontend/src/components/hooks/use-users.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/middleware/return-types-as-json.ts
  apps/hash-frontend/src/middleware/return-types-as-json/generate-query-args.ts
  apps/hash-frontend/src/pages/@/[shortname].page.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities-context.tsx
  apps/hash-frontend/src/pages/index.page/waitlisted.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/integrations.page.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page/add-member-form.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-select-data-modal.tsx
  apps/hash-frontend/src/pages/shared/create-data-type-form.tsx
  apps/hash-frontend/src/pages/shared/entity-selector.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/use-entity-type-dependents.ts
  apps/hash-frontend/src/pages/shared/entity/query-editor.tsx
  apps/hash-frontend/src/pages/shared/integrations/google/google-auth-context/use-google-accounts.ts
  apps/hash-frontend/src/shared/layout/layout-with-header/search-bar.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-entities-list.tsx
  apps/hash-frontend/src/shared/notification-count-context.tsx
  apps/hash-frontend/src/shared/use-actors.ts
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
  apps/plugin-browser/src/graphql/queries/entity.queries.ts
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/history/shared/history-row/flow-metadata-cell-contents.tsx
  libs/@local/hash-backend-utils/src/google.ts
  libs/@local/hash-isomorphic-utils/src/graphql/queries/entity.queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps
