Repository hashintel/hash, pull requests merged in 2025-07, with the labels that each got.

#7508 H-4905, H-4906: Enable `else-if-without-else` and `enum-variant-names` clippy rules
  Cargo.toml
  libs/@blockprotocol/type-system/rust/src/ontology/data_type/schema/validation.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/validation.rs
  libs/@local/codec/src/numeric/real.rs
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/api/src/rest/json.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/schema/entity.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/test-server/src/lib.rs
  libs/@local/graph/type-defs/src/error.rs
  libs/@local/graph/type-fetcher/src/fetcher.rs
  libs/@local/graph/types/src/knowledge/property/visitor.rs
  libs/@local/graph/validation/src/entity_type.rs
  libs/@local/harpc/net/src/session/client/transaction/mod.rs
  libs/@local/hashql/ast/src/lowering/import_resolver/error.rs
  libs/@local/hashql/compiletest/src/executor/trial.rs
  libs/@local/hashql/core/src/type/inference/solver/tarjan.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/visit.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/analyze.rs
  libs/@local/repo-chores/rust/src/benches/analyze/criterion.rs
Labels: area/libs, area/libs > deer, type/eng > backend

#7510 H-4910: HashQL: Make `TypeIdSet` output deterministic
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/result.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/translation-intersection.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/translation-union.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/union-type.stdout
  libs/@local/hashql/core/src/type/collection/type_id_set.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/kind/tests/intersection.rs
  libs/@local/hashql/core/src/type/kind/tests/union.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/boolean-literal.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/constructor-call-none.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/equality-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-field-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-index-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-parameter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-expression.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-propagation.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-and-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/nested-let-bindings.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/scalar-property-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-level-variable.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-type-assertion.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/type-assertion-in-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/value-index-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/collect-filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/minimal-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/bind-arguments.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/call.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-constrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-integer.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/infer-argument.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/qualified-variable.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-custom-collect.stderr
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/filter-graph.stdout
Labels: area/libs, type/eng > backend, area/tests

#7562 H-4937: Mention `rustup toolchain install` in README
  README.md
Labels: area/infra

#7569 H-4949: Relax user and org entity type matching
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/007-create-api-usage-tracking.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/017-add-use-case-form-and-example-org.migration.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/_app.page.tsx
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#7573 H-4210: Fix panic from empty PostgreSQL temporal ranges in entity queries
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/read.rs
Labels: area/libs, type/eng > backend

#7560 H-4929: Change `CreateEntity` permission to use an `Entity`-resource
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/postgres-store/src/lib.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/integration/postgres/lib.rs
Labels: area/libs, type/eng > backend, area/tests

#7575 H-4574, H-4933: Implement CRUD policies for entity types
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
  libs/@local/graph/sdk/typescript/src/entity-type.ts
  libs/@local/graph/store/src/entity_type/mod.rs
  libs/@local/graph/store/src/entity_type/store.rs
  libs/@local/graph/store/src/error.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/integration/postgres/lib.rs
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#7585 H-4935: Implement CRUD policies for data types
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/src/policies/context.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/resource/data_type.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
  libs/@local/graph/sdk/typescript/src/data-type.ts
  libs/@local/graph/store/src/data_type/mod.rs
  libs/@local/graph/store/src/data_type/store.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/integration/postgres/lib.rs
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#7624 H-4992: Add clippy to `package.json` where missing
  apps/hash-graph/package.json
  libs/@local/graph/api/package.json
  tests/graph/benches/package.json
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#7589 H-4825: Implement initial meta-policy handling
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/src/policies/cedar/expression_tree.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/src/policies/context.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/mod.rs
  libs/@local/graph/authorization/src/policies/resource/data_type.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/src/policies/resource/meta.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/authorization/src/policies/resource/property_type.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/graph/store/src/filter/mod.rs
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Labels: area/libs, type/eng > backend, area/tests, area/tests > integration

#7670 H-5025: Use an `ast::Value` instead of an `ast::Expr` for Cedar entity creation
  libs/@local/graph/authorization/src/policies/cedar/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/ai.rs
  libs/@local/graph/authorization/src/policies/principal/actor/machine.rs
  libs/@local/graph/authorization/src/policies/principal/actor/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/user.rs
  libs/@local/graph/authorization/src/policies/principal/group/team.rs
  libs/@local/graph/authorization/src/policies/principal/group/web.rs
  libs/@local/graph/authorization/src/policies/principal/role/team.rs
  libs/@local/graph/authorization/src/policies/principal/role/web.rs
  libs/@local/graph/authorization/src/policies/resource/data_type.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/src/policies/resource/meta.rs
  libs/@local/graph/authorization/src/policies/resource/property_type.rs
  libs/@local/graph/postgres-store/src/snapshot/mod.rs
  libs/@local/graph/postgres-store/src/snapshot/policy/batch.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
Labels: area/libs, type/eng > backend

#7632 H-5012: Improve Telemetry Setup
  .env.development
  Cargo.lock
  Cargo.toml
  apps/hash-api/src/graphql/opentelemetry.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/instrument.mjs
  apps/hash-graph/src/subcommand/migrate.rs
  apps/hash-graph/src/subcommand/mod.rs
  apps/hash-graph/src/subcommand/type_fetcher.rs
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/api/src/rest/middleware.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/migrations/graph-migrations/v001__extensions/mod.rs
  libs/@local/graph/migrations/graph-migrations/v002__principals/mod.rs
  libs/@local/graph/migrations/graph-migrations/v003__policies/mod.rs
  libs/@local/graph/migrations/graph-migrations/v005__common_ontology/mod.rs
  libs/@local/graph/migrations/graph-migrations/v006__data_types/mod.rs
  libs/@local/graph/migrations/graph-migrations/v007__property_types/mod.rs
  libs/@local/graph/migrations/graph-migrations/v008__entity_types/mod.rs
  libs/@local/graph/migrations/graph-migrations/v009__entities/mod.rs
  libs/@local/graph/migrations/src/bin/cli/main.rs
  libs/@local/graph/migrations/src/postgres.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/snapshot/action/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/entity/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/mod.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/data_type/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/entity_type/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/metadata/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/property_type/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/policy/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/principal/batch.rs
  libs/@local/graph/postgres-store/src/store/postgres/crud.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/read.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
  libs/@local/graph/test-server/Cargo.toml
  libs/@local/graph/test-server/src/lib.rs
  libs/@local/graph/type-fetcher/Cargo.toml
  libs/@local/graph/type-fetcher/src/fetcher.rs
  libs/@local/graph/type-fetcher/src/fetcher_server.rs
  libs/@local/repo-chores/rust/bin/cli/main.rs
  libs/@local/telemetry/src/lib.rs
  libs/@local/telemetry/src/logging/otlp.rs
  libs/@local/telemetry/src/metrics/otlp.rs
  libs/@local/telemetry/src/otlp.rs
  libs/@local/telemetry/src/traces/otlp.rs
  tests/graph/benches/representative_read/seed.rs
  tests/graph/benches/util.rs
  tests/hash-backend-integration/src/tests/setup-opentelemetry.ts
  tests/hash-backend-integration/vitest.config.ts
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps, area/apps > hash-graph

#7634 H-4209: Update README for `app/hash-graph`
  apps/hash-graph/README.md
Labels: area/apps > hash*, area/infra, type/eng > backend, area/apps, area/apps > hash-graph

#7672 H-5026: Copy fix on maintenance page
  apps/hash-frontend/src/pages/maintenance.page.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#7675 H-5033: Avoid checking permissions when database seeding happens
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
Labels: area/libs, type/eng > backend

#7633 H-4208, H-5006: Replace Jaeger-tracing with Grafana in local dev
  apps/hash-external-services/README.md
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/grafana/provisioning/datasources/loki.yml
  apps/hash-external-services/grafana/provisioning/datasources/prometheus.yml
  apps/hash-external-services/grafana/provisioning/datasources/tempo.yml
  apps/hash-external-services/loki/loki.yaml
  apps/hash-external-services/opentelemetry-collector/otel-collector-config.yaml
  apps/hash-external-services/prometheus/prometheus.yml
  apps/hash-external-services/tempo/tempo.yaml
  apps/hash-graph/README.md
Labels: area/apps > hash*, area/infra, type/eng > backend, area/apps, area/apps > hash-graph

#7677 H-5044: Rename `prod-usea1.tfvars` to `prod.auto.tfvars`
  .github/actions/terraform-exec/action.yml
  infra/terraform/README.md
  infra/terraform/hash/prod.auto.tfvars
  infra/terraform/vpc_hub/README.md
Labels: area/infra, area/infra > terraform

#7683 H-4988: Add OpenTelemetry collector to `app` cluster
  .env.development
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/hash_application/hydra.tf
  infra/terraform/hash/hash_application/kratos.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/otel_collector.tf
  infra/terraform/hash/hash_application/temporal_worker_ai_ts.tf
  infra/terraform/hash/hash_application/temporal_worker_integration.tf
  infra/terraform/hash/hash_application/type_fetcher.tf
Labels: area/infra, area/infra > terraform

#7685 H-4991: Write background log files in CI and upload them on completion; Set terminal logging to WARN
  .github/workflows/test.yml
  libs/@local/telemetry/src/logging/mod.rs
Labels: area/infra, area/libs, type/eng > backend

#7695 H-5110, H-5111: Reduce cardinality for Graph endpoint span names
  libs/@local/graph/api/src/rest/http_tracing_layer.rs
Labels: area/libs, type/eng > backend
