Repository hashintel/hash, pull requests merged in 2025-03, with the labels that each got.

#6578 H-4137: Apply TOML formatting to all `*.toml` files
  .cargo/config.toml
  .clippy.toml
  .config/nextest.toml
  .rustfmt.toml
  .taplo.toml
  apps/lm-prompt-optimization/pyproject.toml
  libs/@local/effect-dns/hickory/.cargo/config.toml
  libs/antsi/rust-toolchain.toml
  libs/deer/rust-toolchain.toml
  libs/error-stack/rust-toolchain.toml
  libs/sarif/rust-toolchain.toml
  pyproject.toml
  rust-toolchain.toml
Labels: area/libs > error-stack, area/libs, area/libs > deer, area/libs > antsi, area/libs > sarif, type/eng > backend, area/apps

#6417 H-4054: Initial `mise` setup
  .config/mise/config.toml
  .dockerignore
  .github/actions/enable-corepack/action.yml
  .github/actions/install-turbo/action.yml
  .github/actions/prune-repository/action.yml
  .github/actions/warm-up-repo/action.yml
  .github/workflows/bench.yml
  .github/workflows/canary-release.yml
  .github/workflows/deploy.yml
  .github/workflows/dispatch-fix.yml
  .github/workflows/lint.yml
  .github/workflows/publish-blocks-to-preview.yml
  .github/workflows/publish-blocks-to-production.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/test.yml
  .gitignore
  .nvmrc
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-frontend/vercel-install.sh
  apps/hash-graph/docker/Dockerfile
  apps/hash-graph/package.json
  apps/hash-integration-worker/docker/Dockerfile
  apps/hash/README.md
  apps/hashdotdesign/vercel-install.sh
  apps/hashdotdev/vercel-install.sh
  infra/docker/api/prod/Dockerfile
  turbo.json
Labels: area/apps > hash*, area/infra, area/infra > docker, area/apps > hash.dev, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash-graph, area/apps > hash.design

#6598 H-4069, H-4081, H-4110: Data type conversions in data type editor; entity editor fixes
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/021-create-more-custom-data-types.dev.migration.ts
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/data-type.ts
  apps/hash-frontend/src/graphql/queries/ontology/data-type.queries.ts
  apps/hash-frontend/src/pages/shared/create-data-type-form.tsx
  apps/hash-frontend/src/pages/shared/create-entity-type-form.tsx
  apps/hash-frontend/src/pages/shared/data-type.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/abstract-constraint.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/number-constraints.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/shared/enum-editor.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/shared/number-input.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/string-constraints.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/types.ts
  apps/hash-frontend/src/pages/shared/data-type/data-type-conversions.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-conversions/conversion-editor.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-conversions/conversion-target-editor.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-form.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-labels.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-parents.tsx
  apps/hash-frontend/src/pages/shared/data-type/shared/use-inherited-constraints.tsx
  apps/hash-frontend/src/pages/shared/data-types-context.tsx
  apps/hash-frontend/src/pages/shared/entity.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor-container.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/history-section/get-history-events.ts
  apps/hash-frontend/src/pages/shared/entity/entity-editor/history-section/history-table/shared/event-detail.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/history-section/shared/types.ts
  apps/hash-frontend/src/pages/shared/entity/entity-editor/properties-section/property-table/cells/value-cell/editor-type-picker.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/properties-section/property-table/use-create-on-cell-edited.ts
  apps/hash-frontend/src/pages/shared/shared/edit-bar-contents.tsx
  apps/hash-frontend/src/pages/shared/shared/type-editor-styling.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  libs/@hashintel/design-system/src/data-type-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector/shared/expected-value-selector-context.ts
  libs/@local/graph/types/typescript/src/ontology.ts
  libs/@local/hash-isomorphic-utils/src/data-types.ts
  libs/@local/hash-isomorphic-utils/src/format-number.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/data-type.typedef.ts
  libs/@local/hash-isomorphic-utils/src/numbers.ts
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#6629 H-4161: Improve value conversion in frontend
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/021-create-more-custom-data-types.dev.migration.ts
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/data-types.ts
  libs/@local/hash-isomorphic-utils/src/numbers.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#6628 H-4174: Add Rust project coding guidelines and best practices to be consumed by Cursor AI
  .clippy.toml
  .cursor/rules/git-commit-conventions.mdc
  .cursor/rules/rust-coding-style.mdc
  .cursor/rules/rust-documentation.mdc
  .cursor/rules/rust-error-handling.mdc
  .cursor/rules/rust-testing-strategy.mdc
  .cursor/rules/rust-tracing-practices.mdc
  .cursor/rules/update-rules.mdc
  Cargo.lock
  libs/@local/codec/Cargo.toml
  libs/@local/codec/src/bytes.rs
  libs/@local/codec/src/harpc/mod.rs
  libs/@local/codec/src/harpc/wire.rs
  libs/@local/codec/src/lib.rs
  libs/@local/codec/src/numeric/mod.rs
  libs/@local/codec/src/numeric/real.rs
  libs/@local/codec/src/serde/constant.rs
  libs/@local/codec/src/serde/mod.rs
  libs/@local/codec/src/serde/size_hint.rs
  libs/@local/codec/src/serde/string_hash_map.rs
  libs/@local/codec/src/serde/unique_vec.rs
  libs/@local/harpc/README.md
  libs/@local/harpc/codec/src/json.rs
  libs/@local/harpc/codec/src/lib.rs
  libs/@local/harpc/tower/src/layer/decode.rs
Labels: area/deps, area/infra, area/libs, type/eng > backend

#6596 H-4139: Use `mise` to run common commands
  .config/mise/config.ci.toml
  .config/mise/config.dev.toml
  .config/mise/config.prod.toml
  .config/mise/config.test.toml
  .config/mise/config.toml
  .github/actions/install-rust-toolchain/action.yml
  .github/actions/install-tools/action.yml
  .github/actions/install-turbo/action.yml
  .github/actions/prune-repository/action.yml
  .github/actions/warm-up-repo/action.yml
  .github/workflows/bench.yml
  .github/workflows/canary-release.yml
  .github/workflows/deploy.yml
  .github/workflows/dispatch-fix.yml
  .github/workflows/lint.yml
  .github/workflows/publish-blocks-to-preview.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/test.yml
  .justfile
  .lefthook.yml
  Cargo.toml
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-api/src/util.ts
  apps/hash-frontend/vercel-build.sh
  apps/hash-frontend/vercel-install.sh
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  apps/hash-integration-worker/package.json
  apps/hash/README.md
  apps/hashdotdesign/vercel-build.sh
  apps/hashdotdesign/vercel-install.sh
  apps/hashdotdev/vercel-build.sh
  apps/hashdotdev/vercel-install.sh
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
  libs/@blockprotocol/type-system/rust/package.json
  libs/@local/codec/package.json
  libs/@local/graph/client/typescript/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/internal-api-client/typescript/package.json
  libs/error-stack/.justfile
  package.json
  yarn.config.cjs
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/apps > hash-api, area/infra > docker, area/libs > error-stack, area/apps > hash.dev, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/apps > hash-graph, area/apps > hash.design

#6644 H-4183: Enforce correct ordered list numbering in markdown files
  .github/pull_request_template.md
  .markdownlint-cli2.jsonc
  apps/hash-api/src/ai/gpt/README.md
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/README.md
  apps/hash-api/src/integrations/google/README.md
  apps/hash-external-services/README.md
  apps/hash/README.md
  apps/plugin-browser/README.md
  infra/docker/README.md
  infra/terraform/README.md
  infra/terraform/playbooks/citus.md
  libs/@blockprotocol/graph/README.md
  libs/@hashintel/type-editor/README.md
  libs/README.md
  package.json
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/infra > docker, area/libs, type/eng > frontend, type/eng > backend, area/apps, area/infra > terraform

#6637 H-4180: Improve documentation for the type-system crate
  .clippy.toml
  .cursor/rules/ai-assistant-guidelines.mdc
  .cursor/rules/rust-documentation.mdc
  libs/@blockprotocol/type-system/rust/README.md
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/schema/closed_resolver.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/validation.rs
  libs/@blockprotocol/type-system/rust/src/schema/domain_validator.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/property_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/url/mod.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@local/codec/README.md
  libs/@local/codec/src/bytes.rs
  libs/@local/codec/src/lib.rs
  libs/@local/graph/api/openapi/openapi.json
Labels: area/infra, area/libs, type/eng > backend

#6645 H-4184: Make `Bench` CI more robust to changes
  .github/workflows/bench.yml
Labels: area/infra

#6664 H-4200: Fix Vercel frontend pointing to localhost
  apps/hash-frontend/vercel-build.sh
Labels: area/apps > hash*, type/eng > frontend, area/apps

#6648 H-4176: Add Model Context Protocol (MCP) servers for Linear, Notion
  .cursor/mcp.json
  apps/hash/README.md
  apps/mcp/README.md
  apps/mcp/linear/LICENSE.md
  apps/mcp/linear/README.md
  apps/mcp/linear/eslint.config.js
  apps/mcp/linear/package.json
  apps/mcp/linear/src/main.ts
  apps/mcp/linear/src/main/populate-linear-resources.ts
  apps/mcp/linear/tsconfig.json
  apps/mcp/linear/turbo.json
  apps/mcp/notion/LICENSE.md
  apps/mcp/notion/README.md
  apps/mcp/notion/eslint.config.js
  apps/mcp/notion/package.json
  apps/mcp/notion/src/main.ts
  apps/mcp/notion/src/main/notion-services.ts
  apps/mcp/notion/tsconfig.json
  apps/mcp/notion/turbo.json
  yarn.lock
Labels: area/deps, area/infra, area/apps, type/legal

#6646 H-3713, H-4178: Add `titlePlural` and `icon` to data type schema
  libs/@blockprotocol/type-system/rust/package.json
  libs/@blockprotocol/type-system/rust/src/schema/data_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@local/graph/api/openapi/models/closed_data_type.json
  libs/@local/graph/api/openapi/models/data_type.json
  libs/@local/graph/api/openapi/models/update_data_type.json
  libs/@local/graph/api/src/rest/json_schemas/closed_data_type.json
  libs/@local/graph/api/src/rest/json_schemas/data_type.json
  libs/@local/graph/api/src/rest/json_schemas/update_data_type.json
  libs/@local/graph/postgres-store/src/snapshot/ontology/data_type/channel.rs
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
Labels: area/libs, type/eng > backend, area/tests, area/tests > integration

#6666 H-4198: Remove `apps/hash` directory
  .config/_examples/README.md
  .github/CONTRIBUTING.md
  README.md
  apps/README.md
  apps/hash-graph/README.md
  apps/hash/LICENSE.md
  apps/hash/README.md
  tests/README.md
Labels: area/apps > hash*, area/infra, type/eng > backend, area/tests, area/apps, area/apps > hash-graph, type/legal

#6667 H-4181: Add `getAccountGroupRelations` method to GraphAuth API
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  libs/@local/graph/api/README.md
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/lib.rs
  libs/@local/graph/api/src/rest/account.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/authorization/src/api.rs
  libs/@local/graph/authorization/src/lib.rs
  libs/@local/graph/authorization/src/zanzibar/api.rs
  tests/graph/http/tests/friendship.http
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#6684 H-4232: Avoid running multiple AI reviews at the same time
  .github/workflows/ai-pr-review.yml
  .github/workflows/bench.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  libs/@local/repo-chores/node/scripts/ai-pr-review.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-comment-replies.ts
Labels: area/infra, area/libs, type/eng > backend

#6627 H-4106: Refactor multi-entity type retrieval to support multiple entity type batches
  .github/workflows/ai-pr-review.yml
  .github/workflows/test.yml
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/graphql/queries/ontology/entity-type.queries.ts
  apps/hash-frontend/src/pages/shared/entity.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/types-section/use-get-type-change-details.ts
  apps/hash-frontend/src/pages/shared/entity/shared/use-handle-type-changes.ts
  apps/hash-frontend/src/pages/shared/use-get-closed-multi-entity-type.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/store/src/entity_type/mod.rs
  libs/@local/graph/store/src/entity_type/store.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/graph/types/typescript/src/ontology.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/entity-type.typedef.ts
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-comment-replies.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-pr-review.ts
  tests/graph/integration/postgres/lib.rs
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#6728 H-4241: Don't allow coercing single GraphQL inputs into arrays
  apps/hash-api/codegen.config.ts
  apps/hash-frontend/codegen.config.ts
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/select-entity-type-page.tsx
  apps/hash-frontend/src/pages/shared/entity.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/types-section/use-get-type-change-details.ts
  apps/hash-frontend/src/pages/shared/entity/entity-header.tsx
  apps/hash-frontend/src/pages/shared/entity/query-editor.tsx
  apps/hash-frontend/src/pages/shared/entity/shared/use-handle-type-changes.ts
  apps/hash-frontend/src/pages/shared/top-context-bar/share-dropdown-menu.tsx
  apps/hash-frontend/src/pages/shared/use-get-closed-multi-entity-type.ts
  apps/hash-frontend/src/shared/use-user-or-org.ts
  apps/plugin-browser/codegen.config.ts
  libs/@local/hash-isomorphic-utils/src/graphql/base-codegen-config.ts
  tests/hash-backend-integration/codegen.config.ts
  tests/hash-playwright/codegen.config.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/tests > playwright, area/apps

#6731 H-3348: Use `tsify-next` instead of `tsify`
  Cargo.lock
  Cargo.toml
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/src/knowledge/confidence.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/id.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/link.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/metadata/diff.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/metadata/mod.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/mod.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/provenance.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/array.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/diff.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/metadata/array.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/metadata/mod.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/metadata/object.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/metadata/provenance.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/metadata/value.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/mod.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/object.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/patch.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/path.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/property/value.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/value/metadata/mod.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/value/metadata/provenance.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/value/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/data_type/conversion.rs
  libs/@blockprotocol/type-system/rust/src/ontology/data_type/metadata.rs
  libs/@blockprotocol/type-system/rust/src/ontology/data_type/schema/closed.rs
  libs/@blockprotocol/type-system/rust/src/ontology/data_type/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/metadata.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/schema/closed.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/schema/constraints.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/id/error.rs
  libs/@blockprotocol/type-system/rust/src/ontology/id/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/id/wasm.rs
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/constraint/any_of.rs
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/constraint/array.rs
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/constraint/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/constraint/number.rs
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/constraint/object.rs
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/constraint/string.rs
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/one_of/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/metadata.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/array/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/array/raw.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/object/raw.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/raw.rs
  libs/@blockprotocol/type-system/rust/src/ontology/provenance/mod.rs
  libs/@blockprotocol/type-system/rust/src/provenance/actor.rs
  libs/@blockprotocol/type-system/rust/src/provenance/origin.rs
  libs/@blockprotocol/type-system/rust/src/provenance/source.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@blockprotocol/type-system/rust/src/web.rs
Labels: area/deps, area/libs

#6736 H-3849: Use closed types in Flow outputs visualization
  .cursor/rules/typescript-coding-guidelines.mdc
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/outputs.tsx
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/outputs/claims-output.tsx
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/outputs/entity-result-graph.tsx
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/outputs/entity-result-table.tsx
  apps/hash-frontend/src/pages/shared/entity-graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entity.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/entity-editor-context.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/link-section.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/links-section/incoming-links-section/incoming-links-table.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/links-section/outgoing-links-section/readonly-outgoing-links-table.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/links-section/outgoing-links-section/use-rows.ts
  apps/hash-frontend/src/pages/shared/entity/get-entity-multi-type-dependencies.ts
  apps/hash-frontend/src/pages/shared/entity/shared/use-handle-type-changes.ts
  apps/hash-frontend/src/pages/shared/slide-stack.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#6738 H-4250: Use a `IntoReport` trait to determine conversion to a `Report`
  libs/error-stack/CHANGELOG.md
  libs/error-stack/src/fmt/charset.rs
  libs/error-stack/src/fmt/color.rs
  libs/error-stack/src/hook/mod.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/macros.rs
  libs/error-stack/src/report.rs
  libs/error-stack/src/result.rs
  libs/error-stack/tests/snapshots/doc/fmt__charset_ascii.snap
  libs/error-stack/tests/snapshots/doc/fmt__charset_utf8.snap
  libs/error-stack/tests/snapshots/doc/fmt__preference_color.snap
  libs/error-stack/tests/snapshots/doc/fmt__preference_emphasis.snap
  libs/error-stack/tests/snapshots/doc/fmt__preference_none.snap
  libs/error-stack/tests/snapshots/doc/hook__debug_hook.snap
  libs/error-stack/tests/snapshots/doc/hook__debug_hook_provide.snap
  libs/error-stack/tests/test_conversion.rs
  libs/error-stack/tests/test_extend.rs
  libs/error-stack/tests/test_iter.rs
  libs/error-stack/tests/test_macros.rs
  libs/error-stack/tests/ui/macro_invalid_args.rs
  libs/error-stack/tests/ui/macro_invalid_args.stderr
Labels: area/infra, area/libs > error-stack, area/libs, area/tests

#6761 H-4253: Refactor HashQL Diagnostic Categories
  libs/@local/hql/diagnostics/Cargo.toml
  libs/@local/hql/diagnostics/examples/jexpr.rs
  libs/@local/hql/diagnostics/src/category.rs
  libs/@local/hql/diagnostics/src/diagnostic.rs
  libs/@local/hql/diagnostics/src/lib.rs
  libs/@local/hql/diagnostics/src/rob.rs
  libs/@local/hql/diagnostics/src/severity.rs
  libs/@local/hql/syntax-jexpr/src/error.rs
  libs/@local/hql/syntax-jexpr/src/lexer/error.rs
  libs/@local/hql/syntax-jexpr/src/lexer/mod.rs
  libs/@local/hql/syntax-jexpr/src/lexer/parse.rs
  libs/@local/hql/syntax-jexpr/src/lexer/snapshots/hql_syntax_jexpr__lexer__test__invalid_escape.snap
  libs/@local/hql/syntax-jexpr/src/lexer/snapshots/hql_syntax_jexpr__lexer__test__invalid_number.snap
  libs/@local/hql/syntax-jexpr/src/lexer/snapshots/hql_syntax_jexpr__lexer__test__missing_surrogate_pair.snap
  libs/@local/hql/syntax-jexpr/src/lexer/snapshots/hql_syntax_jexpr__lexer__test__unrecognized_character.snap
  libs/@local/hql/syntax-jexpr/src/lexer/snapshots/hql_syntax_jexpr__lexer__test__unterminated_string.snap
  libs/@local/hql/syntax-jexpr/src/lexer/token_kind.rs
  libs/@local/hql/syntax-jexpr/src/lib.rs
  libs/@local/hql/syntax-jexpr/src/parser/array.rs
  libs/@local/hql/syntax-jexpr/src/parser/error.rs
  libs/@local/hql/syntax-jexpr/src/parser/expr.rs
  libs/@local/hql/syntax-jexpr/src/parser/expr_explicit.rs
  libs/@local/hql/syntax-jexpr/src/parser/object.rs
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__fn_empty.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_constant_with_extra_fields.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_empty.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_invalid.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__expr__test__string_is_invalid.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__value__test__duplicate_key.snap
  libs/@local/hql/syntax-jexpr/src/parser/snapshots/hql_syntax_jexpr__parser__value__test__key_is_number.snap
  libs/@local/hql/syntax-jexpr/src/parser/stream.rs
  libs/@local/hql/syntax-jexpr/src/parser/value.rs
Labels: area/libs, type/eng > backend

#6735 H-4145: Add integrations and update guide, glossary & in-app copy
  apps/hash-frontend/public/icons/integrations/icon_anaplan.svg
  apps/hash-frontend/public/icons/integrations/icon_apple-health.svg
  apps/hash-frontend/public/icons/integrations/icon_apple-notes.svg
  apps/hash-frontend/public/icons/integrations/icon_blue-yonder.svg
  apps/hash-frontend/public/icons/integrations/icon_box.svg
  apps/hash-frontend/public/icons/integrations/icon_celonis.svg
  apps/hash-frontend/public/icons/integrations/icon_coupa.svg
  apps/hash-frontend/public/icons/integrations/icon_google-calendar.svg
  apps/hash-frontend/public/icons/integrations/icon_kinaxis-maestro.svg
  apps/hash-frontend/public/icons/integrations/icon_omp.svg
  apps/hash-frontend/public/icons/integrations/icon_oracle.svg
  apps/hash-frontend/public/icons/integrations/icon_sap.svg
  apps/hash-frontend/src/pages/flows.page.tsx
  apps/hashdotai/glossary/WIP_string-diagrams.mdx
  apps/hashdotai/glossary/verification.mdx
  apps/hashdotai/guide/13_account/03_privacy.mdx
  apps/hashdotai/guide/13_account/06_billing.mdx
  apps/hashdotai/guide/13_account/WIP_02_security.mdx
  apps/hashdotai/integrations/integration-list.json
Labels: area/apps > hash*, area/apps > hash.ai, type/eng > frontend, area/apps

#6769 H-4262: Bump tool versions
  .config/mise/config.toml
  .justfile
  libs/@local/codec/package.json
  libs/@local/graph/types/rust/package.json
  libs/@local/harpc/types/package.json
  libs/@local/hql/cst/package.json
  libs/@local/hql/span/package.json
  libs/antsi/package.json
  libs/sarif/package.json
Labels: area/libs, area/libs > antsi, area/libs > sarif, type/eng > backend

#6792 H-4280: Update integration page listings
  apps/hashdotai/integrations/integration-list.json
Labels: area/apps

#6797 H-4283: Update package name in `package.json`
  README.md
  package.json
Labels: area/infra

#6799 H-4296: Remove docs reference to `Empty List` data type as a primitive
  apps/hashdotai/guide/04_types/04_data-types.mdx
Labels: area/apps

#6813 H-4297: Introduce HashQL AST special form nodes
  libs/@local/hashql/ast/src/heap.rs
  libs/@local/hashql/ast/src/lib.rs
  libs/@local/hashql/ast/src/node/expr/call.rs
  libs/@local/hashql/ast/src/node/expr/closure.rs
  libs/@local/hashql/ast/src/node/expr/dict.rs
  libs/@local/hashql/ast/src/node/expr/field.rs
  libs/@local/hashql/ast/src/node/expr/if.rs
  libs/@local/hashql/ast/src/node/expr/index.rs
  libs/@local/hashql/ast/src/node/expr/input.rs
  libs/@local/hashql/ast/src/node/expr/let.rs
  libs/@local/hashql/ast/src/node/expr/list.rs
  libs/@local/hashql/ast/src/node/expr/literal/float.rs
  libs/@local/hashql/ast/src/node/expr/literal/integer.rs
  libs/@local/hashql/ast/src/node/expr/literal/mod.rs
  libs/@local/hashql/ast/src/node/expr/literal/string.rs
  libs/@local/hashql/ast/src/node/expr/mod.rs
  libs/@local/hashql/ast/src/node/expr/newtype.rs
  libs/@local/hashql/ast/src/node/expr/struct.rs
  libs/@local/hashql/ast/src/node/expr/tuple.rs
  libs/@local/hashql/ast/src/node/expr/type.rs
  libs/@local/hashql/ast/src/node/expr/use.rs
  libs/@local/hashql/ast/src/node/generic.rs
  libs/@local/hashql/ast/src/node/id.rs
  libs/@local/hashql/ast/src/node/mod.rs
  libs/@local/hashql/ast/src/node/path.rs
  libs/@local/hashql/ast/src/node/type.rs
  libs/@local/hashql/core/src/id.rs
  libs/@local/hashql/core/src/symbol/mod.rs
Labels: area/libs, type/eng > backend
