Repository hashintel/hash, pull requests merged in 2025-09, with the labels that each got.

#7766 H-5248: Bump transitive and direct Cargo dependencies and tools
  .config/mise/config.toml
  Cargo.lock
  Cargo.toml
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@local/effect-dns/hickory/package.json
  libs/error-stack/tests/ui/attach_diagnostics.stderr
  libs/error-stack/tests/ui/macro_invalid_args.stderr
  libs/error-stack/tests/ui/missing_args.stderr
  yarn.lock
Labels: area/deps, area/libs > error-stack, area/libs, type/eng > backend, area/tests

#7778 BE-7: Implement link type seeding
  tests/graph/benches/config/producers/entity_types/linking-types.json
  tests/graph/benches/config/producers/entity_types/links.json
  tests/graph/benches/config/scenarios/full_test.json
  tests/graph/benches/config/scenarios/linked_queries.json
  tests/graph/benches/graph/lib.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/data_type.rs
  tests/graph/benches/graph/scenario/stages/entity.rs
  tests/graph/benches/graph/scenario/stages/entity_type.rs
  tests/graph/benches/graph/scenario/stages/mod.rs
  tests/graph/benches/graph/scenario/stages/property_type.rs
  tests/graph/test-data/rust/src/seeding/context.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/entity_type/links.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/entity_type/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/entity_type/properties.rs
  tests/graph/test-data/rust/src/seeding/producer/entity_type.rs
Labels: area/tests

#7779 BE-33: Streamline telemetry setup to allow flamegraph generation per benchmark
  Cargo.lock
  libs/@local/telemetry/Cargo.toml
  libs/@local/telemetry/src/lib.rs
  libs/@local/telemetry/src/logging/mod.rs
  libs/@local/telemetry/src/logging/otlp.rs
  libs/@local/telemetry/src/metrics/otlp.rs
  libs/@local/telemetry/src/traces/otlp.rs
  tests/graph/benches/Cargo.toml
  tests/graph/benches/graph/lib.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/util.rs
Labels: area/deps, area/libs, type/eng > backend, area/tests

#7780 BE-35: Support link entity generation in benchmarks
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/benches/config/scenarios/linked_queries.json
  tests/graph/benches/graph/lib.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/data_type.rs
  tests/graph/benches/graph/scenario/stages/entity.rs
  tests/graph/benches/graph/scenario/stages/entity_type.rs
  tests/graph/benches/graph/scenario/stages/mod.rs
  tests/graph/benches/graph/scenario/stages/property_type.rs
  tests/graph/test-data/rust/src/seeding/producer/entity.rs
  tests/graph/test-data/rust/src/seeding/producer/entity_type.rs
Labels: area/libs, type/eng > backend, area/tests

#7782 BE-36: HashQL: Update `README` contents of HashQL
  libs/@local/hashql/README.md
  libs/@local/hashql/core/docs/identifier-grammar.svg
  libs/@local/hashql/syntax-jexpr/docs/embedded-dsl.svg
Labels: area/infra, area/libs, type/eng > backend

#7785 BE-40: HashQL: Fix `use` expression resolving
  libs/@local/hashql/ast/src/lowering/import_resolver/error.rs
  libs/@local/hashql/ast/src/lowering/import_resolver/mod.rs
  libs/@local/hashql/ast/src/lowering/pre_expansion_name_resolver.rs
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/use-shadowing-let.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/use-shadowing-let.stdout
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/use-shadowing-use.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/use-shadowing-use.stdout
  libs/@local/hashql/core/src/module/error.rs
  libs/@local/hashql/core/src/module/import.rs
  libs/@local/hashql/core/src/module/locals.rs
  libs/@local/hashql/core/src/module/mod.rs
  libs/@local/hashql/core/src/module/namespace.rs
  libs/@local/hashql/core/src/module/resolver.rs
Labels: area/libs, type/eng > backend, area/tests

#7788 H-5330: Add a local Pyroscope container
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/grafana/provisioning/datasources/pyroscope.yml
  apps/hash-external-services/pyroscope/pyroscope.yaml
Labels: area/apps > hash*, area/apps

#7798 BE-103: Implement path-based query traversal depths
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/traversal_context.rs
  libs/@local/graph/store/src/subgraph/edges/edge.rs
  libs/@local/graph/store/src/subgraph/edges/mod.rs
  libs/@local/graph/store/src/subgraph/edges/traversal.rs
  tests/hash-backend-integration/src/tests/subgraph/circular.test.ts
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
Labels: area/libs, type/eng > backend, area/tests, area/tests > integration

#7813 BE-39: HashQL: Handle errors in the Graph API properly
  Cargo.lock
  Cargo.toml
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/hashql/diagnostics/src/diagnostic.rs
  libs/@local/hashql/diagnostics/src/label.rs
  libs/@local/hashql/diagnostics/src/severity.rs
  libs/@local/hashql/diagnostics/src/status.rs
  libs/@local/hashql/eval/src/error.rs
  libs/@local/hashql/eval/src/graph/error.rs
  libs/@local/hashql/eval/src/graph/mod.rs
  libs/@local/hashql/eval/src/lib.rs
Labels: area/deps, area/libs, type/eng > backend

#7821 BE-131: Add `Exists` filter to replace null-check patterns in query system
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/system-types/notification.ts
  apps/hash-frontend/src/pages/actions.page/draft-entities-context.tsx
  apps/hash-frontend/src/shared/draft-entities-count-context.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/condition.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/conditional.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/where_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/select.rs
  libs/@local/graph/store/src/data_type/query.rs
  libs/@local/graph/store/src/entity_type/query.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/boolean-literal.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/constructor-call-none.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/equality-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-field-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-index-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-parameter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-expression.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-propagation.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-and-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/nested-let-bindings.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/scalar-property-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-level-variable.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-type-assertion.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/type-assertion-in-comparison.stdout
  tests/graph/benches/representative_read/knowledge/entity.rs
  tests/graph/integration/postgres/links.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/apps

#7819 BE-128, BE-107: Remove `type_changing_struct_update` from harpc-tower
  .config/nextest.toml
  libs/@local/harpc/tower/src/lib.rs
Labels: area/libs, type/eng > backend
