Repository hashintel/hash, pull requests merged in 2025-04, with the labels that each got.

#6830 H-4306: Improve blog post formatting consistency
  apps/hashdotai/blog/002_information-failure.mdx
  apps/hashdotai/blog/022_popular-datasets-in-hash.mdx
  apps/hashdotai/blog/029_outer-space-datasets-in-hash.mdx
  apps/hashdotai/blog/031_announcing-the-block-protocol.mdx
  apps/hashdotai/blog/032_coronavirus-data-on-hash.mdx
  apps/hashdotai/blog/033_open-sourcing-hash.mdx
  apps/hashdotai/blog/035_monkeypox-infection-data-on-hash.mdx
  apps/hashdotai/blog/037_what-is-the-block-protocol.mdx
  apps/hashdotai/blog/038_what-is-the-entity-layer.mdx
  apps/hashdotai/blog/039_self-building-database.mdx
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Labels: area/apps

#6831 H-4307: Improve SAILS announcement post structure
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Labels: area/apps

#6833 H-4311: Use `Callout` in ARIA blog post
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Labels: area/apps

#6832 H-4312: Update content structure
  apps/hashdotai/README.md
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Labels: area/infra, area/apps

#6848 H-4319: HashQL J-Expr parser should verify token on advance
  libs/@local/hashql/syntax-jexpr/src/lexer/error.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/syntax_kind.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/syntax_kind_set.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/token.rs
  libs/@local/hashql/syntax-jexpr/src/lib.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/error.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/mod.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/snapshots/hashql_syntax_jexpr__parser__array__tests__parse_labeled_argument_missing_prefix.snap
  libs/@local/hashql/syntax-jexpr/src/parser/array/snapshots/hashql_syntax_jexpr__parser__array__visit__tests__missing_comma.snap
  libs/@local/hashql/syntax-jexpr/src/parser/array/snapshots/hashql_syntax_jexpr__parser__array__visit__tests__unclosed_array.snap
  libs/@local/hashql/syntax-jexpr/src/parser/array/visit.rs
  libs/@local/hashql/syntax-jexpr/src/parser/complex/mod.rs
  libs/@local/hashql/syntax-jexpr/src/parser/error.rs
  libs/@local/hashql/syntax-jexpr/src/parser/expr.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/dict.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/error.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/list.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/literal.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__dict__tests__parse_dict_incomplete.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__dict__tests__parse_dict_invalid_array_entry.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__dict__tests__parse_empty_dict_object_incomplete.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__dict__tests__parse_invalid_dict_format.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__dict__tests__parse_unknown_key_in_dict.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__list__tests__parse_invalid_list_value.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__list__tests__parse_tuple_incomplete.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__list__tests__parse_unknown_key_in_list.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__literal__tests__parse_empty_object_as_literal.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__literal__tests__parse_incomplete.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__literal__tests__parse_invalid_literal.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__literal__tests__parse_unknown_key_in_literal.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__r#struct__tests__parse_invalid_struct_value.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__r#struct__tests__parse_struct_incomplete.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__r#struct__tests__parse_unknown_key_in_struct.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__r#type__tests__parse_incomplete.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__r#type__tests__parse_invalid_syntax.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__r#type__tests__parse_invalid_type.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__tests__parse_empty_object.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__tests__parse_multiple_expression_keys.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__tests__parse_standalone_type.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__tests__parse_unknown_top_level_key.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__tuple__tests__parse_invalid_tuple_value.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__tuple__tests__parse_tuple_incomplete.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__tuple__tests__parse_unknown_key_in_tuple.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__visit__tests__missing_colon.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__visit__tests__missing_comma.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__visit__tests__non_string_key.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__visit__tests__unclosed_object.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/struct.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/tuple.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/type.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/visit.rs
  libs/@local/hashql/syntax-jexpr/src/parser/state.rs
  libs/@local/hashql/syntax-jexpr/src/parser/test.rs
  libs/@local/hashql/syntax-jexpr/src/snapshots/hashql_syntax_jexpr__tests__parse_incomplete_expression.snap
Labels: area/libs, type/eng > backend

#6852 H-4324: HashQL J-Expr support use of JSONC
  libs/@local/hashql/syntax-jexpr/src/lexer/mod.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__adjacent_comment.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__adjacent_comment_no_space.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__comment_json_inside.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__comment_no_space_between.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__empty_comment.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__empty_multiline_comment.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__multiline_comment_json_inside.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__multiline_comment_too_smol.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__multiline_linebreak.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__multiline_with_asterisks.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__preceded_comment.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__preceded_multiline_comment.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__separated_comment.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__separated_multiline_comment.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__trailing_comment.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__trailing_multiline_comment.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__unclosed_multiline_comment.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/token_kind.rs
Labels: area/libs, type/eng > backend

#6853 H-4327: Move blog posts to `internal`
  apps/hashdotai/blog/001_what-is-agent-based-modeling.mdx
  apps/hashdotai/blog/002_information-failure.mdx
  apps/hashdotai/blog/003_voting-with-hash.mdx
  apps/hashdotai/blog/004_uniswap.mdx
  apps/hashdotai/blog/005_why-not-simulate.mdx
  apps/hashdotai/blog/006_functional-abm.mdx
  apps/hashdotai/blog/007_berkeley-delivery-simulation.mdx
  apps/hashdotai/blog/008_vaccine-distribution.mdx
  apps/hashdotai/blog/009_simulating-squeezing-shorts.mdx
  apps/hashdotai/blog/010_vaccine-distribution-scenario-modeling.mdx
  apps/hashdotai/blog/011_building-business-process-models.mdx
  apps/hashdotai/blog/012_process-optimization-simulation-framework.mdx
  apps/hashdotai/blog/013_extending-the-uniswap-simulation.mdx
  apps/hashdotai/blog/014_modeling-with-networks.mdx
  apps/hashdotai/blog/015_simulate-and-optimize-rpa-deployments.mdx
  apps/hashdotai/blog/016_uk-housing-model.mdx
  apps/hashdotai/blog/017_optimization-experiments.mdx
  apps/hashdotai/blog/018_modeling-with-system-dynamics.mdx
  apps/hashdotai/blog/019_generating-a-simulation-from-terraform.mdx
  apps/hashdotai/blog/020_calibrating-models-in-hash.mdx
  apps/hashdotai/blog/021_discrete-event-library.mdx
  apps/hashdotai/blog/022_popular-datasets-in-hash.mdx
  apps/hashdotai/blog/023_weathering-the-chip-shortage.mdx
  apps/hashdotai/blog/024_physics-in-hash.mdx
  apps/hashdotai/blog/025_reinforcement-learning-in-hash-simulations.mdx
  apps/hashdotai/blog/026_improving-the-prisoners-dilemma-with-q-learning.mdx
  apps/hashdotai/blog/027_genetic-algorithms-in-simulations.mdx
  apps/hashdotai/blog/028_financial-simulation-toolbox.mdx
  apps/hashdotai/blog/029_outer-space-datasets-in-hash.mdx
  apps/hashdotai/blog/030_synpath-simulations-of-patient-choices.mdx
  apps/hashdotai/blog/031_announcing-the-block-protocol.mdx
  apps/hashdotai/blog/032_coronavirus-data-on-hash.mdx
  apps/hashdotai/blog/033_open-sourcing-hash.mdx
  apps/hashdotai/blog/034_crypto-dynamics-auctions.mdx
  apps/hashdotai/blog/035_monkeypox-infection-data-on-hash.mdx
  apps/hashdotai/blog/036_basic-computational-economics.mdx
  apps/hashdotai/blog/037_what-is-the-block-protocol.mdx
  apps/hashdotai/blog/038_what-is-the-entity-layer.mdx
  apps/hashdotai/blog/039_self-building-database.mdx
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Labels: area/apps

#6878 H-4270: Bump tool dependencies
  .config/mise/config.toml
  Cargo.lock
Labels: area/deps

#6873 H-4323: HashQL test harness
  Cargo.lock
  Cargo.toml
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/authorization/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/docs/dependency-diagram.mmd
  libs/@local/graph/store/docs/dependency-diagram.mmd
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/graph/type-defs/docs/dependency-diagram.mmd
  libs/@local/graph/type-fetcher/docs/dependency-diagram.mmd
  libs/@local/graph/types/rust/docs/dependency-diagram.mmd
  libs/@local/graph/validation/docs/dependency-diagram.mmd
  libs/@local/harpc/client/rust/docs/dependency-diagram.mmd
  libs/@local/harpc/codec/docs/dependency-diagram.mmd
  libs/@local/harpc/net/docs/dependency-diagram.mmd
  libs/@local/harpc/server/docs/dependency-diagram.mmd
  libs/@local/harpc/system/docs/dependency-diagram.mmd
  libs/@local/harpc/tower/docs/dependency-diagram.mmd
  libs/@local/hashql/.gitattributes
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/tests/ui/lowering/resolve-names/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/resolve-names/example.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/resolve-names/example.stdout
  libs/@local/hashql/compiletest/Cargo.toml
  libs/@local/hashql/compiletest/LICENSE.md
  libs/@local/hashql/compiletest/README.md
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/package.json
  libs/@local/hashql/compiletest/src/annotation/diagnostic.rs
  libs/@local/hashql/compiletest/src/annotation/directive.rs
  libs/@local/hashql/compiletest/src/annotation/file.rs
  libs/@local/hashql/compiletest/src/annotation/mod.rs
  libs/@local/hashql/compiletest/src/executor/annotations.rs
  libs/@local/hashql/compiletest/src/executor/mod.rs
  libs/@local/hashql/compiletest/src/executor/trial.rs
  libs/@local/hashql/compiletest/src/executor/trial_group.rs
  libs/@local/hashql/compiletest/src/find.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/compiletest/src/main.rs
  libs/@local/hashql/compiletest/src/reporter.rs
  libs/@local/hashql/compiletest/src/styles.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/compiletest/src/suite/parse_syntax_dump.rs
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/docs/dependency-diagram.mmd
  libs/@local/hashql/diagnostics/docs/dependency-diagram.mmd
  libs/@local/hashql/diagnostics/src/category.rs
  libs/@local/hashql/diagnostics/src/help.rs
  libs/@local/hashql/diagnostics/src/label.rs
  libs/@local/hashql/diagnostics/src/note.rs
  libs/@local/hashql/diagnostics/src/span.rs
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
  libs/@local/repo-chores/rust/docs/dependency-diagram.mmd
  libs/@local/status/rust/docs/dependency-diagram.mmd
  libs/@local/temporal-client/docs/dependency-diagram.mmd
  libs/@local/tracing/docs/dependency-diagram.mmd
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph, type/legal

#6875 H-4339: HashQL: Switch from `Box<[T]>` to `Vec<T>`
  libs/@local/hashql/ast/src/heap.rs
  libs/@local/hashql/ast/src/node/expr/call.rs
  libs/@local/hashql/ast/src/node/expr/closure.rs
  libs/@local/hashql/ast/src/node/expr/dict.rs
  libs/@local/hashql/ast/src/node/expr/list.rs
  libs/@local/hashql/ast/src/node/expr/struct.rs
  libs/@local/hashql/ast/src/node/expr/tuple.rs
  libs/@local/hashql/ast/src/node/expr/use.rs
  libs/@local/hashql/ast/src/node/generic.rs
  libs/@local/hashql/ast/src/node/path.rs
  libs/@local/hashql/ast/src/node/type.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/mod.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/dict.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/list.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/struct.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/tuple.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/combinator.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/generic.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/path.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/type.rs
Labels: area/libs, type/eng > backend

#6879 H-4321: Fix slides and tooltips appearing in graph viz fullscreen mode
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/control-components.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/graph-viz-tooltip.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/simple-autocomplete.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/use-event-handlers.ts
  apps/hash-frontend/src/pages/shared/slide-stack.tsx
  apps/hash-frontend/src/pages/shared/type-graph-visualizer.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#6880 H-4345: Prepare evaluation of policies when calling from API
  Cargo.lock
  Cargo.toml
  apps/hash-graph/src/subcommand/server.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/web.rs
  libs/@local/graph/authorization/Cargo.toml
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/src/policies/context.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/principal/role/mod.rs
  libs/@local/graph/authorization/src/policies/principal/team/mod.rs
  libs/@local/graph/authorization/src/policies/principal/team/subteam.rs
  libs/@local/graph/authorization/src/policies/principal/team/web.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/permissions/error.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/principals/actions.rs
  libs/@local/graph/postgres-store/tests/principals/ai.rs
  libs/@local/graph/postgres-store/tests/principals/machine.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/graph/postgres-store/tests/principals/role.rs
  libs/@local/graph/postgres-store/tests/principals/team.rs
  libs/@local/graph/postgres-store/tests/principals/user.rs
  libs/@local/graph/postgres-store/tests/principals/web.rs
  libs/@local/graph/type-fetcher/src/store.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#6902 H-4369: HashQL: NodeId re-numbering
  libs/@local/hashql/ast/src/lowering/mod.rs
  libs/@local/hashql/ast/src/lowering/node_renumberer.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/basic.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/basic.stdout
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/diverging.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/diverging.stdout
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/nested.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/nested.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-argument-not-ident.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-invalid.stderr
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_special_form_expander.rs
  libs/@local/hashql/compiletest/src/suite/common.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/core/src/id.rs
  libs/@local/hashql/diagnostics/src/diagnostic.rs
Labels: area/libs, type/eng > backend, area/tests

#6916 H-4367: HashQL: Type System
  Cargo.lock
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/arena.rs
  libs/@local/hashql/core/src/id.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/type/closure.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/generic_argument.rs
  libs/@local/hashql/core/src/type/intrinsic.rs
  libs/@local/hashql/core/src/type/mod.rs
  libs/@local/hashql/core/src/type/opaque.rs
  libs/@local/hashql/core/src/type/pretty_print.rs
  libs/@local/hashql/core/src/type/primitive.rs
  libs/@local/hashql/core/src/type/recursion.rs
  libs/@local/hashql/core/src/type/struct.rs
  libs/@local/hashql/core/src/type/test.rs
  libs/@local/hashql/core/src/type/tuple.rs
  libs/@local/hashql/core/src/type/unify.rs
  libs/@local/hashql/core/src/type/union.rs
Labels: area/deps, area/libs, type/eng > backend

#6884 H-4347: Move logic to create system account to Graph
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/system-account.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/account.rs
  libs/@local/graph/api/src/rest/api_resource.rs
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/property_type.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#6918 H-4386: HashQL: Type System Cleanup
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/arena/linear.rs
  libs/@local/hashql/core/src/arena/mod.rs
  libs/@local/hashql/core/src/arena/transaction.rs
  libs/@local/hashql/core/src/type/closure.rs
  libs/@local/hashql/core/src/type/environment.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/generic_argument.rs
  libs/@local/hashql/core/src/type/intrinsic.rs
  libs/@local/hashql/core/src/type/mod.rs
  libs/@local/hashql/core/src/type/opaque.rs
  libs/@local/hashql/core/src/type/pretty_print.rs
  libs/@local/hashql/core/src/type/primitive.rs
  libs/@local/hashql/core/src/type/recursion.rs
  libs/@local/hashql/core/src/type/struct.rs
  libs/@local/hashql/core/src/type/test.rs
  libs/@local/hashql/core/src/type/tuple.rs
  libs/@local/hashql/core/src/type/unify.rs
  libs/@local/hashql/core/src/type/union.rs
Labels: area/deps, area/libs, type/eng > backend

#6919 H-4399: Disable notification polling for waitlisted users
  apps/hash-frontend/src/pages/actions.page/draft-entities-context.tsx
  apps/hash-frontend/src/pages/notifications.page/notifications-with-links-context.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/shared/draft-entities-count-context.tsx
  apps/hash-frontend/src/shared/notification-count-context.tsx
  apps/hash-frontend/src/shared/poll-interval.ts
  apps/hash-frontend/src/shared/use-poll-interval.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#6885 H-4322: Allow fullscreening image entities; graph viz/slide fixes
  apps/hash-frontend/src/components/grid/utils/draw-chip-with-icon.ts
  apps/hash-frontend/src/pages/shared/entity.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/graph-data-loader.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/search-control.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/config-control.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/full-screen-context.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/simple-autocomplete.tsx
  libs/@hashintel/design-system/src/image-with-checked-background.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#6927 H-4397: Add integration tests to make sure instantiation of special system types is not possible
  libs/@local/graph/authorization/tests/policies/definitions/permit-instantiate.cedar
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
Labels: area/libs, type/eng > backend, area/tests, area/tests > integration

#6965 H-4404: Petri net editor UI prototype
  .cursor/rules/typescript-coding-guidelines.mdc
  apps/hash-frontend/src/pages/process.page.tsx
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/arc-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/arc.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/examples.ts
  apps/hash-frontend/src/pages/process.page/process-editor/log-pane.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/place-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/place-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/sidebar.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/simulation-context.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/simulation-controls.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/styling.ts
  apps/hash-frontend/src/pages/process.page/process-editor/token-type-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/types.ts
  apps/hashdotdev/sitemap.json
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-forward-step-solid.tsx
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#6970 H-4346: Bump tool and recursive Rust dependencies
  .config/mise/config.toml
  Cargo.lock
  Cargo.toml
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@local/hashql/diagnostics/Cargo.toml
  libs/@local/hashql/syntax-jexpr/Cargo.toml
Labels: area/deps, area/libs, type/eng > backend

#6969 H-4108, H-4348: Slide and editor header fixes
  apps/hash-frontend/src/pages/shared/data-type/data-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-header.tsx
  apps/hash-frontend/src/pages/shared/slide-stack.tsx
  apps/hash-frontend/src/pages/shared/use-text-size.ts
  apps/hash-frontend/src/shared/use-scroll-lock.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#6975 H-4419: Fix URL handling when editing users and orgs
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/pages/@/[shortname].page/edit-user-profile-info-modal/user-profile-info-form.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-form.tsx
  apps/hash-frontend/src/pages/shared/url-input.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#6978 H-4437: Add codegen crate scaffolding
  Cargo.lock
  Cargo.toml
  libs/@local/codegen/Cargo.toml
  libs/@local/codegen/LICENSE.md
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/codegen/package.json
  libs/@local/codegen/src/lib.rs
  yarn.lock
Labels: area/deps, area/infra, area/libs, type/eng > backend, type/legal

#6977 H-4436: Add import/export Petri net from/to PNML
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/token-type-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/types.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-convert-to-pnml.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-load-from-pnml.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#6976 H-4407: HashQL: Implement type constraint gathering
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/auxiliary.rs
  libs/@local/hashql/core/src/type/environment/context/diagnostics.rs
  libs/@local/hashql/core/src/type/environment/context/mod.rs
  libs/@local/hashql/core/src/type/environment/context/substitution.rs
  libs/@local/hashql/core/src/type/environment/context/variance.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/environment/variance.rs
  libs/@local/hashql/core/src/type/infer.rs
  libs/@local/hashql/core/src/type/intern.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/infer.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/test.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/lattice.rs
  libs/@local/hashql/core/src/type/mod.rs
  libs/@local/hashql/core/src/type/test.rs
Labels: area/libs, type/eng > backend

#6988 H-4422: Petri net editor auto-layout and fit to viewport
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/place-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/sidebar.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/styling.ts
  apps/hash-frontend/src/pages/process.page/process-editor/token-types.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/token-types/token-type-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/use-layout-graph.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-load-from-pnml.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#7009 H-4413, H-4387, H-4394: HashQL: Implement type inference solver
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/span/mod.rs
  libs/@local/hashql/core/src/type/collection/mod.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/auxiliary.rs
  libs/@local/hashql/core/src/type/environment/context/diagnostics.rs
  libs/@local/hashql/core/src/type/environment/context/mod.rs
  libs/@local/hashql/core/src/type/environment/context/substitution.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/infer.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/tarjan.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
  libs/@local/hashql/core/src/type/inference/solver/topo.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
  libs/@local/hashql/core/src/type/intern.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/test.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/mod.rs
  libs/@local/hashql/core/src/type/recursion.rs
  libs/@local/hashql/core/src/type/test.rs
  libs/@local/hashql/diagnostics/src/diagnostic.rs
Labels: area/deps, area/libs, type/eng > backend

#7012 H-4449: HashQL: Minor type inference solver fixes
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Labels: area/libs, type/eng > backend

#7018 H-4454: Explicitly deny more usernames
  apps/hash-api/src/graph/knowledge/system-types/account.fields.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#6971 H-4417: Simplify role handling for actor groups
  apps/hash-api/src/graph/account-permission-management.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor.rs
  libs/@local/graph/api/src/rest/actor_group.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/web.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/hash-backend-utils/src/hash-instance.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
  tests/graph/http/tests/friendship.http
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#7020 H-4439: Fix creating `Member Of` link between user and org when user creates an org
  apps/hash-api/src/graph/knowledge/system-types/org-membership.ts
  apps/hash-api/src/graphql/resolvers/knowledge/org/create-org.ts
  apps/hash-api/src/seed-data/index.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#7023 H-4448: HashQL: Recursive types should be simplified more intelligently
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
Labels: area/libs, type/eng > backend

#7028 H-4481: Delete HDEV sitemap
  apps/hashdotdev/sitemap.json
Labels: area/apps

#7027 H-4438: Implement initial codegen capabilities
  Cargo.lock
  Cargo.toml
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/codegen/.gitattributes
  libs/@local/codegen/Cargo.toml
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/codegen/package.json
  libs/@local/codegen/src/definitions/enum.rs
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/definitions/mod.rs
  libs/@local/codegen/src/definitions/primitive.rs
  libs/@local/codegen/src/definitions/type.rs
  libs/@local/codegen/src/lib.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/codegen/enums.rs
  libs/@local/codegen/tests/codegen/main.rs
  libs/@local/codegen/tests/codegen/snapshots/codegen__AdjacentlyTaggedEnum::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ExternallyTaggedEnum::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__InternallyTaggedEnum::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__UntaggedEnum::Typescript.snap
  libs/@local/graph/temporal-versioning/docs/dependency-diagram.mmd
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/hashql/core/Cargo.toml
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
Labels: area/deps, area/libs, type/eng > backend, area/tests

#7038 H-4421, H-4423: Persist Petri nets in graph, allow linking sub-processes to transitions
  apps/hash-api/package.json
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/022-add-petri-nets.dev.migration.ts
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/arc.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context/use-persisted-nets.ts
  apps/hash-frontend/src/pages/process.page/process-editor/examples.ts
  apps/hash-frontend/src/pages/process.page/process-editor/persisted-net-selector.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/title-and-net-select.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/types.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-convert-to-pnml.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-load-from-pnml.ts
  libs/@blockprotocol/graph/src/codegen/context/postprocess.ts
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-diagram-regular.tsx
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/system-types/academicpaper.ts
  libs/@local/hash-isomorphic-utils/src/system-types/claim.ts
  libs/@local/hash-isomorphic-utils/src/system-types/graphchangenotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/petrinet.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/studyrecord.ts
  libs/@local/hash-isomorphic-utils/src/system-types/usagerecord.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#7037 H-4458: Implement field flattening in Codegen
  .github/actions/prune-repository/action.yml
  Cargo.lock
  Cargo.toml
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/id.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/ai.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/machine.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/user.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor_group/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor_group/team.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor_group/web.rs
  libs/@blockprotocol/type-system/rust/src/principal/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/role/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/role/team.rs
  libs/@blockprotocol/type-system/rust/src/principal/role/web.rs
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/codegen/enums.rs
  libs/@local/codegen/tests/codegen/main.rs
  libs/@local/codegen/tests/codegen/snapshots/codegen__Actor::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ActorEntityUuid::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ActorGroup::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ActorGroupEntityUuid::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ActorGroupId::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ActorGroupType::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ActorId::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ActorType::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__Ai::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__AiId::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumAdjacent::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumExternal::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumInternal::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumUntagged::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__Machine::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__MachineId::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__Principal::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__PrincipalId::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__Role::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__RoleId::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__RoleName::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__RoleType::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructMultipleFlattened::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructSimpleFlattened::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__Team::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__TeamId::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__TeamRole::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__TeamRoleId::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__User::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__UserId::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__Web::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__WebId::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__WebRole::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__WebRoleId::Typescript.snap
  libs/@local/codegen/tests/codegen/structs.rs
Labels: area/deps, area/infra, area/libs, type/eng > backend, area/tests
