Repository hashintel/hash, pull requests merged in 2025-02, with the labels that each got.

#6315 H-4001: Improve VSCode/Zed file type handling
  .vscode/settings.json
  .zed/settings.json
Labels: area/dx

#6309 H-3995: Make `value` required for properties with metadata
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  libs/@local/codec/package.json
  libs/@local/codec/src/serde/string_hash_map.rs
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/types/rust/src/knowledge/property/array.rs
  libs/@local/graph/types/rust/src/knowledge/property/metadata/mod.rs
  libs/@local/graph/types/rust/src/knowledge/property/object.rs
  libs/@local/graph/types/typescript/src/entity.ts
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps

#6317 H-3999: Use `turbo query` to determine changed packages in CI
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: area/infra

#6331 H-4003: Use `uuid.NIL` for public account ID
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/public-user-account-id.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend

#6333 H-3989: Entity history table improvements, bug fixes
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/020-add-study-record-type.dev.migration.ts
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/get-history-events.ts
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/provenance/sources-slideover.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/shared/event-detail.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/shared/types.ts
  apps/hash-frontend/src/pages/@/[shortname]/shared/edit-bar.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view/grid-view-item.tsx
  apps/hash-frontend/src/pages/shared/value-chip.tsx
  libs/@local/graph/types/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/stringify-property-value.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#6334 H-4003: Permission to hard coded nil-UUID string denied, use constants instead
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  libs/@local/graph/validation/src/test_data_type.rs
Labels: area/apps > hash*, area/libs, type/eng > backend, area/apps

#6336 H-4005: Allow flaky test to fail (once)
  .config/nextest.toml
  .github/workflows/test.yml
  turbo.json
Labels: area/infra

#6275 H-3730: Implement Effect tracing
  libs/@local/harpc/client/typescript/src/codec/JsonDecoder.ts
  libs/@local/harpc/client/typescript/src/net/Client.ts
  libs/@local/harpc/client/typescript/src/net/Connection.ts
  libs/@local/harpc/client/typescript/src/net/NetworkLogger.ts
  libs/@local/harpc/client/typescript/src/net/Request.ts
  libs/@local/harpc/client/typescript/src/net/internal/dns.ts
  libs/@local/harpc/client/typescript/src/net/internal/transport.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/RequestIdProducer.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/ResponseFromBytesStream.ts
  libs/@local/harpc/client/typescript/tests/codec/JsonDecoder.test.ts
  libs/@local/harpc/client/typescript/tests/codec/JsonEncoder.test.ts
  libs/@local/harpc/client/typescript/tests/net/Request.test.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/utils.ts
Labels: area/libs, type/eng > backend, area/tests

#6277 H-3976: Replace `Buffer` in favour of `MutableBuffer`
  libs/@local/harpc/client/typescript/src/binary/MutableBuffer.ts
  libs/@local/harpc/client/typescript/src/binary/MutableBytes.ts
  libs/@local/harpc/client/typescript/src/binary/index.ts
  libs/@local/harpc/client/typescript/src/net/Connection.ts
  libs/@local/harpc/client/typescript/src/types/ErrorCode.ts
  libs/@local/harpc/client/typescript/src/types/ProcedureDescriptor.ts
  libs/@local/harpc/client/typescript/src/types/ProcedureId.ts
  libs/@local/harpc/client/typescript/src/types/ResponseKind.ts
  libs/@local/harpc/client/typescript/src/types/SubsystemDescriptor.ts
  libs/@local/harpc/client/typescript/src/types/SubsystemId.ts
  libs/@local/harpc/client/typescript/src/types/Version.ts
  libs/@local/harpc/client/typescript/src/utils.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/Buffer.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/index.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/Payload.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/Protocol.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/ProtocolVersion.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/Request.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestBegin.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestBody.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestFlags.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestFrame.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestHeader.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestId.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/Response.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseBegin.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseBody.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseFlags.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseFrame.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseHeader.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/RequestToBytesStream.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/ResponseFromBytesStream.ts
  libs/@local/harpc/client/typescript/tests/binary/MutableBuffer.test.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/codec.bench.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/decode.test.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/encode.test.ts
Labels: area/libs, type/eng > backend, area/tests

#6338 H-4007: Fix benchmark CI
  .github/workflows/bench.yml
Labels: area/infra

#6339 H-4008: Fix base branch detection for CI
  .github/workflows/bench.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: area/infra

#6337 H-3990: Fix duplicated entities in querying if entity has multiple types
  libs/@local/graph/migrations/graph-migrations/v009__entities/down.sql
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
  libs/@local/graph/postgres-store/postgres_migrations/V39__sorting_aggregations.sql
  libs/@local/graph/postgres-store/src/store/postgres/query/entity.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/table.rs
  libs/@local/graph/store/src/entity/query.rs
  tests/graph/integration/postgres/multi_type.rs
Labels: area/libs, type/eng > backend, area/tests

#6349 H-4010: Fix vercel warmup action
  .github/actions/warm-up-vercel/action.yml
Labels: area/infra

#6364 Revert "Update npm package `llamaindex` to v0.8.32"
  apps/hash-ai-worker-ts/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps

#6366 H-3951: Allow users to update dependent types when updating an entity type
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/components/forms/checkbox.tsx
  apps/hash-frontend/src/graphql/queries/ontology/entity-type.queries.ts
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/add-another-button.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/draft-row.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-type-picker.tsx
  apps/hash-frontend/src/pages/@/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/upgrade-dependents-modal.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/use-entity-type-dependents.ts
  apps/hash-frontend/src/pages/shared/entity-type-page/use-entity-type-value.tsx
  apps/hash-frontend/src/pages/types/external/entity-type/[...base64-baseurl-maybe-version].page.tsx
  apps/hash-frontend/src/shared/entity-types-context/hooks.ts
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector.tsx
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/entity-type.typedef.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#6365 H-4025: Add basic start test for AI worker, update `llamaindex`
  apps/hash-ai-worker-ts/package.json
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/turbo.json
  tests/hash-backend-integration/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/tests, area/tests > integration, area/apps

#6367 H-3928: Use closed types in drafts queue
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/draft-entity-banner.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  apps/hash-frontend/src/pages/actions.page.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities/draft-entities-filters.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entities/types.ts
  apps/hash-frontend/src/pages/actions.page/draft-entity.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-action-buttons.tsx
  apps/hash-frontend/src/pages/actions.page/draft-entity/draft-entity-type.tsx
  apps/hash-frontend/src/pages/shared/accept-draft-entity-button.tsx
  apps/hash-frontend/src/pages/shared/discard-draft-entity-button.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#6375 H-1844: Prevent creating link entities directly
  apps/hash-frontend/src/pages/@/[shortname].page/pinned-entity-type-tab-contents.tsx
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/edit-bar-type-editor.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/type-slide-over-stack/type-slide-over-slide.tsx
  apps/hash-frontend/src/shared/entity-types-context/shared/is-special-entity-type.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#6356 H-4022: Don't error if $id is passed when updating a schema
  libs/@local/graph/postgres-store/src/ontology/mod.rs
Labels: area/libs, type/eng > backend

#6376 H-4029: Fix Backend integration tests in CI
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-api/package.json
  apps/hash-api/src/index.ts
  apps/hash-frontend/package.json
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/src/main.ts
  tests/hash-backend-integration/package.json
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/tests, area/tests > integration, area/apps

#6377 H-3545, H-4032: Update readonly array display in editor, fix scroll behavior in editor slide
  apps/hash-frontend/src/components/grid/utils/override-custom-renderers.tsx
  apps/hash-frontend/src/pages/@/[shortname].page/pinned-entity-type-tab-contents.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/draft-row.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  apps/hash-frontend/src/pages/actions.page.tsx
  apps/hash-frontend/src/pages/shared/inline-select.tsx
  apps/hash-frontend/src/shared/use-scroll-lock.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#6398 H-4036: Relocate IDE config files from top-level
  .config/_examples/README.md
  .config/_examples/vscode/README.md
  .config/_examples/vscode/extensions-frontend.json
  .config/_examples/vscode/extensions-rust.json
  .config/_examples/vscode/settings.json
  .config/_examples/zed/README.md
  .config/_examples/zed/settings.json
  README.md
Labels: area/infra

#6348 H-3916: Add generic AI output judge
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-proposed-entities-and-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/graph-requests.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-google-ai-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/judge-ai-output-optimize/judge-test-data.ts
  apps/hash-ai-worker-ts/src/activities/shared/judge-ai-output-optimize/study_record_ISRCTN15438979_2025-01-20.pdf
  apps/hash-ai-worker-ts/src/activities/shared/judge-ai-output.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/judge-ai-outputs.ts
  apps/hash-ai-worker-ts/src/activities/shared/log-progress.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/020-add-study-record-type.dev.migration.ts
  apps/hash-frontend/src/pages/actions.page/draft-entities.tsx
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#6411 H-4047: Fix HaRPC tests not running in CI
  libs/@local/harpc/client/rust/package.json
  libs/@local/harpc/codec/package.json
  libs/@local/harpc/server/package.json
  libs/@local/harpc/system/package.json
  libs/@local/harpc/tower/package.json
  libs/@local/harpc/tower/src/extensions.rs
Labels: area/libs, type/eng > backend

#6399 H-2767: Create and allow assigning editor permissions on data types
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/authorization/schemas/v1__initial_schema.zed
  libs/@local/graph/authorization/src/schema/data_type.rs
  libs/@local/graph/authorization/src/schema/mod.rs
  package.json
  tests/graph/http/tests/friendship.http
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#6426 H-4026: Enable showing the modal to update dependent entity types
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/pages/@/[shortname]/shared/use-route-namespace.tsx
  apps/hash-frontend/src/pages/@/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#6432 H-4064: Restrict `User` and `Organization` instantiators
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/001-create-hash-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/005-create-hash-system-entities-and-web-bots.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/017-add-use-case-form-and-example-org.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/upgrade-entities.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/system-webs-and-entities.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  libs/@local/hash-backend-utils/src/machine-actors.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#6464 H-3071: Fix hash.design vercel builds
  apps/hashdotdesign/vercel-build.sh
  apps/hashdotdev/vercel-build.sh
Labels: area/apps > hash.dev, area/apps, area/apps > hash.design

#6443 H-1978: Fix Backend integration tests
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/subgraph/pass/circular.jsonl
  tests/hash-backend-integration/src/tests/subgraph/pass/friendship.jsonl
Labels: area/tests, area/tests > integration

#6463 H-4068: Fix codegen in `typesystem` to generate `number` instead of `Real`
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/package.json
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/number.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@blockprotocol/type-system/rust/tsconfig.json
  libs/@blockprotocol/type-system/rust/turbo.json
  libs/@local/effect-dns/hickory/Cargo.toml
  yarn.lock
Labels: area/deps, area/libs, type/eng > backend

#6478 H-4073: Enable Renovate `lockFailMaintenance`
  .github/renovate.json
Labels: area/infra

#6486 Preserve order for `enum` data type constraints
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/number.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/constraint/string.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/data_type/validation.rs
  libs/@local/codec/src/serde/mod.rs
  libs/@local/codec/src/serde/unique_vec.rs
  libs/@local/hash-isomorphic-utils/src/data-types.ts
Labels: area/apps > hash*, area/libs, type/eng > backend

#6355 H-4017: Implement types to define policies in Rust
  Cargo.lock
  Cargo.toml
  libs/@local/graph/authorization/Cargo.toml
  libs/@local/graph/authorization/src/lib.rs
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/src/policies/cedar.rs
  libs/@local/graph/authorization/src/policies/error.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/principal/organization.rs
  libs/@local/graph/authorization/src/policies/principal/user.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
Labels: area/deps, area/libs, type/eng > backend

#6509 H-4092: Fix sorting by labels not working
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
  libs/@local/graph/postgres-store/postgres_migrations/V40__fix_label_property_sorting.sql
Labels: area/libs, type/eng > backend

#6499 H-4086: Add remaining types for Permission MVP
  .config/_examples/vscode/extensions-backend.json
  .config/_examples/vscode/extensions-rust.json
  Cargo.lock
  Cargo.toml
  libs/@local/graph/authorization/Cargo.toml
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/principal/team.rs
  libs/@local/graph/authorization/src/policies/principal/user.rs
  libs/@local/graph/authorization/src/policies/principal/web.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
Labels: area/deps, area/libs, type/eng > backend

#6519 H-4097: Revert 'Lock File Maintenance' in Renovate
  .github/renovate.json
Labels: area/infra

#6552 H-4119: Fix `yarn start:test:graph` not properly compiling Rust crates
  libs/@local/graph/test-server/turbo.json
  libs/@local/graph/type-fetcher/turbo.json
Labels: area/libs, type/eng > backend

#6554 H-4109: Fix ontology queries returning archived types instead of latest
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
Labels: area/libs, type/eng > backend, area/tests, area/tests > integration

#6555 H-4077, H-4090: Data type editor – handle labels, other improvements
  apps/hash-frontend/src/pages/shared/create-data-type-form.tsx
  apps/hash-frontend/src/pages/shared/data-type.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/abstract-constraint.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/number-constraints.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/shared/enum-editor.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/shared/input-styles.ts
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/shared/number-input.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/string-constraints.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-constraints/types.ts
  apps/hash-frontend/src/pages/shared/data-type/data-type-form.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-header.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-labels.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-parents.tsx
  apps/hash-frontend/src/pages/shared/data-type/shared/input-styles.ts
  apps/hash-frontend/src/pages/shared/data-type/shared/item-label.tsx
  apps/hash-frontend/src/pages/shared/data-type/shared/use-inherited-constraints.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/edit-bar-type-editor.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type.tsx
  apps/hash-frontend/src/pages/shared/entity.tsx
  apps/hash-frontend/src/pages/shared/entity/edit-bar.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/types-section.tsx
  apps/hash-frontend/src/pages/shared/shared/edit-bar-contents.tsx
  apps/hash-frontend/src/pages/shared/slide-stack/data-type-slide.tsx
  apps/hash-frontend/src/pages/types/external/data-type/[...base64-baseurl-maybe-version].page.tsx
  apps/hash-frontend/src/shared/generate-link-parameters.ts
  libs/@hashintel/design-system/src/data-type-selector.tsx
  libs/@local/hash-isomorphic-utils/src/data-types.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/apps

#6566 H-4103: Write test for common Policies
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/context.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor.rs
  libs/@local/graph/authorization/src/policies/principal/machine.rs
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/principal/role.rs
  libs/@local/graph/authorization/src/policies/principal/user.rs
  libs/@local/graph/authorization/src/policies/principal/web.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/authorization/src/policies/set/mod.rs
  libs/@local/graph/authorization/src/policies/validation.rs
  libs/@local/graph/authorization/tests/policies/definitions/forbid-update-web-machine.cedar
  libs/@local/graph/authorization/tests/policies/definitions/mod.rs
  libs/@local/graph/authorization/tests/policies/definitions/permit-admin-web.cedar
  libs/@local/graph/authorization/tests/policies/definitions/permit-hash-instance-admins.cedar
  libs/@local/graph/authorization/tests/policies/definitions/permit-instantiate.cedar
  libs/@local/graph/authorization/tests/policies/definitions/permit-member-crud-web.cedar
  libs/@local/graph/authorization/tests/policies/definitions/permit-view-ontology.cedar
  libs/@local/graph/authorization/tests/policies/definitions/permit-view-system-entities.cedar
  libs/@local/graph/authorization/tests/policies/main.rs
Labels: area/libs, type/eng > backend, area/tests
