Repository hashintel/hash, pull requests merged in 2025-08, with the labels that each got.

#7711 Revert "H-4973: Update integration icons"
  apps/hash-frontend/public/icons/integrations/icon_anaplan.svg
  apps/hash-frontend/public/icons/integrations/icon_anaplan_dm.svg
  apps/hash-frontend/public/icons/integrations/icon_apple-notes.svg
  apps/hash-frontend/public/icons/integrations/icon_apple-notes_dm.svg
  apps/hash-frontend/public/icons/integrations/icon_asana.svg
  apps/hash-frontend/public/icons/integrations/icon_coupa.svg
  apps/hash-frontend/public/icons/integrations/icon_figma.svg
  apps/hash-frontend/public/icons/integrations/icon_fourkites.svg
  apps/hash-frontend/public/icons/integrations/icon_github.svg
  apps/hash-frontend/public/icons/integrations/icon_github_dm.svg
  apps/hash-frontend/public/icons/integrations/icon_granola.svg
  apps/hash-frontend/public/icons/integrations/icon_granola_dm.svg
  apps/hash-frontend/public/icons/integrations/icon_instagram.svg
  apps/hash-frontend/public/icons/integrations/icon_linear.svg
  apps/hash-frontend/public/icons/integrations/icon_linear_dm.svg
  apps/hash-frontend/public/icons/integrations/icon_messenger.svg
  apps/hash-frontend/public/icons/integrations/icon_pas-x.svg
  apps/hash-frontend/public/icons/integrations/icon_pas-x_dm.svg
  apps/hash-frontend/public/icons/integrations/icon_sentry.svg
  apps/hash-frontend/public/icons/integrations/icon_sentry_dm.svg
  apps/hash-frontend/public/icons/integrations/icon_trello.svg
  content/hashdotai/integrations/integration-list.json
Labels: area/apps > hash*, type/eng > frontend, area/apps

#7708 H-4628: Allow batch-creation of policies
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
Labels: area/libs, type/eng > backend, area/tests

#7712 H-5149: Add comprehensive policy resolution benchmarking infrastructure
  tests/graph/benches/Cargo.toml
  tests/graph/benches/manual_queries/lib.rs
  tests/graph/benches/package.json
  tests/graph/benches/policy/benchmark_matrix.rs
  tests/graph/benches/policy/lib.rs
  tests/graph/benches/policy/seed.rs
  tests/graph/benches/util.rs
Labels: area/tests

#7720 H-5158: Increase memory limit for TS workers
  infra/terraform/hash/main.tf
Labels: area/infra, area/infra > terraform

#7718 H-5165: Fix prepublishing script, liberalise `@hashintel/design-system` license
  apps/hash-frontend/package.json
  apps/hashdotdesign/package.json
  apps/plugin-browser/package.json
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/chart/package.json
  blocks/faq/package.json
  blocks/how-to/package.json
  blocks/kanban-board/package.json
  blocks/shuffle/package.json
  blocks/table/package.json
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/design-system/LICENSE-APACHE.md
  libs/@hashintel/design-system/LICENSE-MIT.md
  libs/@hashintel/design-system/LICENSE.md
  libs/@hashintel/design-system/package.json
  libs/@hashintel/design-system/src/entity-or-type-icon.tsx
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/repo-chores/node/package.json
  libs/@local/repo-chores/node/scripts/prepublish.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/blocks, area/libs, type/eng > frontend, type/eng > backend, area/apps, type/legal, area/apps > hash.design

#7722 H-5157: Properly instrument special filter compilation
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
Labels: area/libs, type/eng > backend

#7725 H-5067: Implement OpenTelemetry Logs support for Node API
  apps/hash-api/package.json
  apps/hash-api/src/graphql/opentelemetry.ts
  apps/hash-api/src/instrument.mjs
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/logger.ts
  tests/hash-backend-integration/src/tests/setup-opentelemetry.ts
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#7734 H-5193: Fix dependency diagram links
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/authorization/docs/dependency-diagram.mmd
  libs/@local/graph/migrations-macros/docs/dependency-diagram.mmd
  libs/@local/graph/migrations/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-queries/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/docs/dependency-diagram.mmd
  libs/@local/graph/store/docs/dependency-diagram.mmd
  libs/@local/graph/temporal-versioning/docs/dependency-diagram.mmd
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/graph/type-defs/docs/dependency-diagram.mmd
  libs/@local/graph/type-fetcher/docs/dependency-diagram.mmd
  libs/@local/graph/types/docs/dependency-diagram.mmd
  libs/@local/graph/validation/docs/dependency-diagram.mmd
  libs/@local/harpc/client/rust/docs/dependency-diagram.mmd
  libs/@local/harpc/codec/docs/dependency-diagram.mmd
  libs/@local/harpc/net/docs/dependency-diagram.mmd
  libs/@local/harpc/server/docs/dependency-diagram.mmd
  libs/@local/harpc/system/docs/dependency-diagram.mmd
  libs/@local/harpc/tower/docs/dependency-diagram.mmd
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/core/docs/dependency-diagram.mmd
  libs/@local/hashql/diagnostics/docs/dependency-diagram.mmd
  libs/@local/hashql/eval/docs/dependency-diagram.mmd
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
  libs/@local/repo-chores/rust/docs/dependency-diagram.mmd
  libs/@local/repo-chores/rust/src/dependency_diagram/mod.rs
  libs/@local/status/rust/docs/dependency-diagram.mmd
  libs/@local/telemetry/docs/dependency-diagram.mmd
  libs/@local/temporal-client/docs/dependency-diagram.mmd
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
Labels: area/apps > hash*, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#7733 H-5190: Implement dependencies between different seeding producers
  .github/actions/prune-repository/action.yml
  Cargo.lock
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/authorization/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-queries/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/docs/dependency-diagram.mmd
  libs/@local/graph/store/docs/dependency-diagram.mmd
  libs/@local/graph/store/src/data_type/store.rs
  libs/@local/graph/temporal-versioning/docs/dependency-diagram.mmd
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/graph/type-fetcher/docs/dependency-diagram.mmd
  libs/@local/graph/types/Cargo.toml
  libs/@local/graph/types/docs/dependency-diagram.mmd
  libs/@local/graph/types/package.json
  libs/@local/graph/validation/docs/dependency-diagram.mmd
  libs/@local/harpc/server/docs/dependency-diagram.mmd
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/eval/docs/dependency-diagram.mmd
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
  libs/@local/temporal-client/docs/dependency-diagram.mmd
  tests/graph/test-data/rust/Cargo.toml
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
  tests/graph/test-data/rust/package.json
  tests/graph/test-data/rust/src/seeding/context.rs
  tests/graph/test-data/rust/src/seeding/distributions/adaptors/string.rs
  tests/graph/test-data/rust/src/seeding/distributions/adaptors/uniform.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/data_type/constraints/string/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/data_type/constraints/string/pattern.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/data_type/constraints/value.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/domain.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/shortname.rs
  tests/graph/test-data/rust/src/seeding/producer/data_type.rs
  tests/graph/test-data/rust/src/seeding/producer/user.rs
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#7735 H-5191: Add multi-stage scenario runner for deterministic test data generation
  Cargo.lock
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/store/src/account/mod.rs
  tests/graph/benches/Cargo.toml
  tests/graph/benches/config/producers/data_types/basic.json
  tests/graph/benches/config/producers/data_types/remote_only.json
  tests/graph/benches/config/producers/users/basic.json
  tests/graph/benches/config/scenarios/remote_only.json
  tests/graph/benches/config/scenarios/user_catalog_then_datatypes.json
  tests/graph/benches/config/scenarios/users_only.json
  tests/graph/benches/graph/config/mod.rs
  tests/graph/benches/graph/lib.rs
  tests/graph/benches/graph/scenario/mod.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/data_type.rs
  tests/graph/benches/graph/scenario/stages/mod.rs
  tests/graph/benches/graph/scenario/stages/reset_db.rs
  tests/graph/benches/graph/scenario/stages/user.rs
  tests/graph/benches/graph/scenario/stages/web_catalog.rs
  tests/graph/benches/package.json
  tests/graph/integration/postgres/lib.rs
  tests/graph/test-data/rust/src/seeding/context.rs
  tests/graph/test-data/rust/src/seeding/producer/data_type.rs
  tests/graph/test-data/rust/src/seeding/producer/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/user.rs
  yarn.lock
Labels: area/deps, area/libs, type/eng > backend, area/tests

#7739 H-5219: Remove old integration list and icons
  apps/hash-frontend/public/icons/integrations/00-README.md
  apps/hash-frontend/public/icons/integrations/icon_anaplan.svg
  apps/hash-frontend/public/icons/integrations/icon_apple-health.svg
  apps/hash-frontend/public/icons/integrations/icon_apple-notes.svg
  apps/hash-frontend/public/icons/integrations/icon_asana.svg
  apps/hash-frontend/public/icons/integrations/icon_blue-yonder.svg
  apps/hash-frontend/public/icons/integrations/icon_box.svg
  apps/hash-frontend/public/icons/integrations/icon_celonis.svg
  apps/hash-frontend/public/icons/integrations/icon_coupa.svg
  apps/hash-frontend/public/icons/integrations/icon_discord.svg
  apps/hash-frontend/public/icons/integrations/icon_docusign.svg
  apps/hash-frontend/public/icons/integrations/icon_dropbox.svg
  apps/hash-frontend/public/icons/integrations/icon_figma.svg
  apps/hash-frontend/public/icons/integrations/icon_fourkites.svg
  apps/hash-frontend/public/icons/integrations/icon_github.svg
  apps/hash-frontend/public/icons/integrations/icon_google-calendar.svg
  apps/hash-frontend/public/icons/integrations/icon_google-drive.svg
  apps/hash-frontend/public/icons/integrations/icon_google-mail.svg
  apps/hash-frontend/public/icons/integrations/icon_granola.svg
  apps/hash-frontend/public/icons/integrations/icon_instagram.svg
  apps/hash-frontend/public/icons/integrations/icon_kinaxis-maestro.svg
  apps/hash-frontend/public/icons/integrations/icon_linear.svg
  apps/hash-frontend/public/icons/integrations/icon_messenger.svg
  apps/hash-frontend/public/icons/integrations/icon_microsoft-teams.svg
  apps/hash-frontend/public/icons/integrations/icon_notion.svg
  apps/hash-frontend/public/icons/integrations/icon_omp.svg
  apps/hash-frontend/public/icons/integrations/icon_oracle.svg
  apps/hash-frontend/public/icons/integrations/icon_pas-x.svg
  apps/hash-frontend/public/icons/integrations/icon_sap.svg
  apps/hash-frontend/public/icons/integrations/icon_sentry.svg
  apps/hash-frontend/public/icons/integrations/icon_slack.svg
  apps/hash-frontend/public/icons/integrations/icon_trello.svg
  apps/hash-frontend/public/icons/integrations/icon_veeva.svg
  apps/hash-frontend/public/icons/integrations/icon_zoom.svg
  content/hashdotai/README.md
  content/hashdotai/integrations/integration-list.json
Labels: area/apps > hash*, area/infra, type/eng > frontend, area/apps

#7749 H-5246: Add retry step for installing Rust in CI
  .github/actions/install-tools/action.yml
  .github/actions/install-tools/install-rust.sh
Labels: area/infra

#7745 H-5214: Implement distribution-based value sampling for string and number schemas
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/test-data/rust/src/seeding/context.rs
  tests/graph/test-data/rust/src/seeding/distributions/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/value/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/value/number.rs
  tests/graph/test-data/rust/src/seeding/distributions/value/string.rs
  tests/graph/test-data/rust/src/seeding/producer/data_type.rs
  tests/graph/test-data/rust/src/seeding/producer/entity_type.rs
  tests/graph/test-data/rust/src/seeding/producer/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/property_type.rs
  tests/graph/test-data/rust/src/seeding/producer/user.rs
  tests/graph/test-data/rust/src/seeding/producer/value.rs
Labels: area/tests

#7754 BE-1: Fix Vercel not building wasm-opt
  apps/hash-frontend/vercel-install.sh
Labels: area/apps > hash*, type/eng > frontend, area/apps

#7755 SRE-24: Prevent Vercel build step from downloading Rust multiple times
  apps/hash-frontend/vercel-install.sh
Labels: area/apps > hash*, type/eng > frontend, area/apps

#7740 H-5220: Add background services to benchmark CI workflow
  .github/workflows/bench.yml
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-graph/package.json
  apps/hash-integration-worker/package.json
  libs/@local/graph/test-server/package.json
  libs/@local/graph/type-fetcher/package.json
  tests/graph/benches/graph/lib.rs
  tests/graph/benches/turbo.json
  turbo.json
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/apps, area/apps > hash-graph

#7760 H-4984: HashQL: Ensure J-Expr consistency with dissertation
  libs/@local/hashql/syntax-jexpr/src/parser/array/error.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/mod.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/snapshots/hashql_syntax_jexpr__parser__array__tests__parse_function_call_with_empty_object.snap
  libs/@local/hashql/syntax-jexpr/src/parser/array/snapshots/hashql_syntax_jexpr__parser__array__tests__parse_function_call_with_labeled_arguments_shorthand.snap
  libs/@local/hashql/syntax-jexpr/src/parser/array/snapshots/hashql_syntax_jexpr__parser__array__tests__parse_function_call_with_multiple_labeled_arguments.snap
  libs/@local/hashql/syntax-jexpr/src/parser/array/snapshots/hashql_syntax_jexpr__parser__array__tests__parse_malformed_labeled_argument.snap
  libs/@local/hashql/syntax-jexpr/src/parser/object/literal.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/expr.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__empty_brackets.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__index_access_field_access.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__index_access_mixed.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__index_access_with_ident.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__index_access_with_ident_chained.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__multi_digit_index.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__non_numeric_index.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__simple_index.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__whitespace_in_brackets.snap
Labels: area/libs, type/eng > backend

#7762 ES-16: Publish `error-stack` 0.6.0
  Cargo.lock
  apps/hash-graph/package.json
  libs/@blockprotocol/type-system/rust/package.json
  libs/@local/codec/package.json
  libs/@local/graph/api/package.json
  libs/@local/graph/authorization/package.json
  libs/@local/graph/migrations/package.json
  libs/@local/graph/postgres-store/package.json
  libs/@local/graph/store/package.json
  libs/@local/graph/test-server/package.json
  libs/@local/graph/type-fetcher/package.json
  libs/@local/graph/types/package.json
  libs/@local/graph/validation/package.json
  libs/@local/harpc/client/rust/package.json
  libs/@local/harpc/codec/package.json
  libs/@local/harpc/net/package.json
  libs/@local/harpc/server/package.json
  libs/@local/harpc/tower/package.json
  libs/@local/harpc/wire-protocol/package.json
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/labeled-argument.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/labeled-argument.stderr
  libs/@local/hashql/compiletest/package.json
  libs/@local/hashql/diagnostics/package.json
  libs/@local/repo-chores/rust/package.json
  libs/@local/telemetry/package.json
  libs/@local/temporal-client/package.json
  libs/chonky/package.json
  libs/error-stack/CHANGELOG.md
  libs/error-stack/Cargo.toml
  libs/error-stack/package.json
  libs/error-stack/src/ext/iter.rs
  libs/error-stack/src/lib.rs
  tests/graph/benches/package.json
  tests/graph/integration/package.json
  tests/graph/test-data/rust/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/libs > error-stack, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph, area/libs > chonky

#7768 H-5154: HashQL: Ensure that types are contractive
  libs/@local/hashql/ast/src/lowering/type_extractor/contractive.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/definition.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/contractive-guarded.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/contractive-guarded.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/contractive-union.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/contractive-union.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/non-contractive-self.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/non-contractive-self.stderr
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/non-contractive-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/non-contractive-type.stderr
Labels: area/libs, type/eng > backend, area/tests

#7764 SRE-25: Fix turbo-hack to bypass cyclic dependency issue
  .github/actions/prune-repository/action.yml
Labels: area/infra

#7751 H-5216: Implement entity distributions from entity types
  libs/@local/graph/store/src/data_type/store.rs
  tests/graph/benches/config/producers/entities/basic.json
  tests/graph/benches/config/scenarios/full_ontology_seeding.json
  tests/graph/benches/graph/config/mod.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/data_type.rs
  tests/graph/benches/graph/scenario/stages/entity.rs
  tests/graph/benches/graph/scenario/stages/entity_type.rs
  tests/graph/benches/graph/scenario/stages/mod.rs
  tests/graph/benches/graph/scenario/stages/property_type.rs
  tests/graph/benches/graph/scenario/stages/reset_db.rs
  tests/graph/benches/graph/scenario/stages/user.rs
  tests/graph/benches/graph/scenario/stages/web_catalog.rs
  tests/graph/test-data/rust/src/seeding/context.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/entity_type/properties.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/property_type/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/property_type/values.rs
  tests/graph/test-data/rust/src/seeding/distributions/property.rs
  tests/graph/test-data/rust/src/seeding/distributions/value/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/value/number.rs
  tests/graph/test-data/rust/src/seeding/distributions/value/string.rs
  tests/graph/test-data/rust/src/seeding/producer/data_type.rs
  tests/graph/test-data/rust/src/seeding/producer/entity.rs
  tests/graph/test-data/rust/src/seeding/producer/entity_type.rs
  tests/graph/test-data/rust/src/seeding/producer/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/ontology/domain.rs
  tests/graph/test-data/rust/src/seeding/producer/ontology/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/property_type.rs
  tests/graph/test-data/rust/src/seeding/producer/user.rs
Labels: area/libs, type/eng > backend, area/tests

#7772 ES-19, ES-20: Allow trailing commas in bail macro to return `Report<C>`, not `Report<[C]>`
  libs/error-stack/CHANGELOG.md
  libs/error-stack/src/macros.rs
  libs/error-stack/tests/ui/missing_args.stderr
Labels: area/infra, area/libs > error-stack, area/libs, area/tests

#7773 H-5115: HashQL: allow for integer literals during field access
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-index-out-of-bounds.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-index-out-of-bounds.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-boolean.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-boolean.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-string.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-string.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-type-annotation.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-type-annotation.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-valid.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-valid.stdout
  libs/@local/hashql/syntax-jexpr/src/parser/string/expr.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__index_too_large.snap
Labels: area/libs, type/eng > backend, area/tests

#7771 BE-3: Remove `clorinde` crate
  .config/mise/config.toml
  .github/actions/prune-repository/action.yml
  .rustfmt.toml
  .taplo.toml
  Cargo.lock
  Cargo.toml
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/authorization/docs/dependency-diagram.mmd
  libs/@local/graph/migrations-macros/docs/dependency-diagram.mmd
  libs/@local/graph/migrations/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-queries/.config/mise/tasks/test/integration.sh
  libs/@local/graph/postgres-queries/.gitattributes
  libs/@local/graph/postgres-queries/Cargo.toml
  libs/@local/graph/postgres-queries/LICENSE.md
  libs/@local/graph/postgres-queries/clorinde.toml
  libs/@local/graph/postgres-queries/clorinde/Cargo.toml
  libs/@local/graph/postgres-queries/clorinde/LICENSE.md
  libs/@local/graph/postgres-queries/clorinde/package.json
  libs/@local/graph/postgres-queries/clorinde/src/array_iterator.rs
  libs/@local/graph/postgres-queries/clorinde/src/client.rs
  libs/@local/graph/postgres-queries/clorinde/src/client/async_.rs
  libs/@local/graph/postgres-queries/clorinde/src/client/async_/deadpool.rs
  libs/@local/graph/postgres-queries/clorinde/src/client/async_/generic_client.rs
  libs/@local/graph/postgres-queries/clorinde/src/domain.rs
  libs/@local/graph/postgres-queries/clorinde/src/lib.rs
  libs/@local/graph/postgres-queries/clorinde/src/queries.rs
  libs/@local/graph/postgres-queries/clorinde/src/queries/policies.rs
  libs/@local/graph/postgres-queries/clorinde/src/type_traits.rs
  libs/@local/graph/postgres-queries/clorinde/src/types.rs
  libs/@local/graph/postgres-queries/clorinde/src/utils.rs
  libs/@local/graph/postgres-queries/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-queries/package.json
  libs/@local/graph/postgres-queries/queries/policies.sql
  libs/@local/graph/postgres-queries/src/lib.rs
  libs/@local/graph/postgres-queries/turbo.json
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/package.json
  libs/@local/graph/store/docs/dependency-diagram.mmd
  libs/@local/graph/temporal-versioning/docs/dependency-diagram.mmd
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/graph/types/docs/dependency-diagram.mmd
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/repo-chores/rust/bin/cli/subcommand/dependency_diagram/mod.rs
  libs/@local/telemetry/docs/dependency-diagram.mmd
  libs/@local/temporal-client/docs/dependency-diagram.mmd
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/libs, type/eng > backend, area/tests, area/apps, area/apps > hash-graph, type/legal
