Repository hashintel/hash, pull requests merged in 2025-05, with the labels that each got.

#7043 H-4487: Special-case {} type to `Record<string, never>`
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumAdjacent::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumExternal::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumUntagged::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructEmpty::Typescript.snap
Labels: area/libs, type/eng > backend, area/tests

#7044 H-4453: HashQL: Convert PreExpansionNameResolver to use ModuleRegistry
  libs/@local/hashql/ast/src/lowering/macros.rs
  libs/@local/hashql/ast/src/lowering/mod.rs
  libs/@local/hashql/ast/src/lowering/pre_expansion_name_resolver.rs
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/re-assign-prelude-diverging.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/re-assign-prelude-diverging.stdout
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/resolve-generics.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/resolve-generics.stdout
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_mangler.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_pre_expansion_name_resolver.rs
  libs/@local/hashql/core/src/module/mod.rs
Labels: area/libs, type/eng > backend, area/tests

#7056 H-4363: HashQL: Allow for generics on newtypes
  libs/@local/hashql/ast/src/format/dump.rs
  libs/@local/hashql/ast/src/lowering/name_mangler.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/src/node/expr/newtype.rs
  libs/@local/hashql/ast/src/visit.rs
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/newtype-generics.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/newtype-generics.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics-constraints.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics-interdependent-generics.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics-nested.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-collect-all-errors.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-constraints.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-constraints.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-constraint.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic.stdout
Labels: area/libs, type/eng > backend, area/tests

#7065 H-4408, H-4418: Bump indirect Cargo and tool dependencies
  .config/mise/config.toml
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/compiletest/Cargo.toml
  libs/@local/repo-chores/rust/Cargo.toml
Labels: area/deps, area/libs, type/eng > backend

#7066 H-4507: Support codegen type registration for transitive types
  libs/@local/codegen/src/lib.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/codegen/main.rs
  libs/@local/codegen/tests/codegen/snapshots/codegen__EntityUuid::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__MapKeyEnum::Typescript.snap
Labels: area/libs, type/eng > backend, area/tests

#7067 H-4486: Implement a TypeId to distinguish between different references with the same name
  Cargo.lock
  libs/@blockprotocol/type-system/rust/src/knowledge/value/mod.rs
  libs/@local/codec/Cargo.toml
  libs/@local/codec/src/numeric/real.rs
  libs/@local/codegen/src/definitions/mod.rs
  libs/@local/codegen/src/definitions/type.rs
  libs/@local/codegen/src/lib.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/codegen/main.rs
  libs/@local/codegen/tests/codegen/snapshots/codegen__PropertyValue::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__Real::Typescript.snap
Labels: area/deps, area/libs, type/eng > backend, area/tests

#7081 H-4414: HashQL: Move from `Symbol` to `InternedSymbol`
  libs/@local/hashql/ast/src/format/dump.rs
  libs/@local/hashql/ast/src/lowering/import_resolver/error.rs
  libs/@local/hashql/ast/src/lowering/import_resolver/mod.rs
  libs/@local/hashql/ast/src/lowering/name_mangler.rs
  libs/@local/hashql/ast/src/lowering/pre_expansion_name_resolver.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/src/node/expr/call.rs
  libs/@local/hashql/ast/src/node/expr/closure.rs
  libs/@local/hashql/ast/src/node/expr/field.rs
  libs/@local/hashql/ast/src/node/expr/input.rs
  libs/@local/hashql/ast/src/node/expr/let.rs
  libs/@local/hashql/ast/src/node/expr/literal/float.rs
  libs/@local/hashql/ast/src/node/expr/literal/integer.rs
  libs/@local/hashql/ast/src/node/expr/literal/mod.rs
  libs/@local/hashql/ast/src/node/expr/literal/string.rs
  libs/@local/hashql/ast/src/node/expr/newtype.rs
  libs/@local/hashql/ast/src/node/expr/struct.rs
  libs/@local/hashql/ast/src/node/expr/type.rs
  libs/@local/hashql/ast/src/node/expr/use.rs
  libs/@local/hashql/ast/src/node/generic.rs
  libs/@local/hashql/ast/src/node/path.rs
  libs/@local/hashql/ast/src/node/type.rs
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/basic-absolute-imports.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/basic-absolute-imports.stdout
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/basic-glob-import.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/basic-glob-import.stdout
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/basic-relative-import.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/basic-relative-import.stdout
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/basic-renamed-import.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/basic-renamed-import.stdout
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/item-not-found.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/item-not-found.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/rollback.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/rollback.stderr
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_mangler.rs
  libs/@local/hashql/core/src/heap.rs
  libs/@local/hashql/core/src/module/import.rs
  libs/@local/hashql/core/src/module/item.rs
  libs/@local/hashql/core/src/module/mod.rs
  libs/@local/hashql/core/src/module/namespace.rs
  libs/@local/hashql/core/src/module/resolver.rs
  libs/@local/hashql/core/src/module/std_lib.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/kind/generic_argument.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/dict.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/literal.rs
  libs/@local/hashql/syntax-jexpr/src/parser/state.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/expr.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/ident.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/mod.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/type.rs
Labels: area/libs, type/eng > backend, area/tests

#7090 H-4513: HashQL: Implement `Apply` Type
  Cargo.lock
  libs/@local/hashql/core/.gitattributes
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/module/std_lib.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/provision.rs
  libs/@local/hashql/core/src/type/environment/context/replace.rs
  libs/@local/hashql/core/src/type/environment/instantiate.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/generic/apply.rs
  libs/@local/hashql/core/src/type/kind/generic/mod.rs
  libs/@local/hashql/core/src/type/kind/generic/snapshots/hashql_core__r#type__kind__generic__apply__tests__instantiate_different_substitutions.snap
  libs/@local/hashql/core/src/type/kind/generic/snapshots/hashql_core__r#type__kind__generic__apply__tests__instantiate_mutually_recursive.snap
  libs/@local/hashql/core/src/type/kind/generic/snapshots/hashql_core__r#type__kind__generic__apply__tests__instantiate_partial.snap
  libs/@local/hashql/core/src/type/kind/generic/snapshots/hashql_core__r#type__kind__generic__apply__tests__instantiated_nested.snap
  libs/@local/hashql/core/src/type/kind/generic/snapshots/hashql_core__r#type__kind__generic__apply__tests__simplify_instantiate_recursive.snap
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/test.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/pretty_print.rs
  libs/@local/hashql/core/src/type/test.rs
Labels: area/deps, area/libs, type/eng > backend

#7092 H-4522: Make codegen ordering consistent
  libs/@local/codegen/src/definitions/type.rs
  libs/@local/codegen/src/lib.rs
  libs/@local/codegen/tests/full-exports/snapshots/full_exports__type_system::Typescript.snap
Labels: area/libs, type/eng > backend, area/tests

#7104 H-4526: Add `Granola` integration listing
  apps/hash-frontend/public/icons/integrations/icon_granola.svg
  content/hashdotai/integrations/integration-list.json
Labels: area/apps > hash*, type/eng > frontend, area/apps

#7105 H-4529: Add supply chain integration listings
  apps/hash-frontend/public/icons/integrations/icon_fourkites.svg
  apps/hash-frontend/public/icons/integrations/icon_pas-x.svg
  apps/hash-frontend/public/icons/integrations/icon_veeva.svg
  content/hashdotai/integrations/integration-list.json
Labels: area/apps > hash*, type/eng > frontend, area/apps

#7106 H-4461: Implement type branding in codegen
  apps/hash-frontend/src/pages/shared/entity/shared/use-handle-type-changes.ts
  libs/@blockprotocol/type-system/rust/src/bin/export-types.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/id.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/ai.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/machine.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/user.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor_group/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor_group/team.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor_group/web.rs
  libs/@blockprotocol/type-system/rust/src/principal/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/role/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/role/team.rs
  libs/@blockprotocol/type-system/rust/src/principal/role/web.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@blockprotocol/type-system/typescript/src/main-slim.ts
  libs/@blockprotocol/type-system/typescript/src/main.ts
  libs/@blockprotocol/type-system/typescript/src/native/entity.ts
  libs/@local/codegen/src/definitions/type.rs
  libs/@local/codegen/src/lib.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/standalone-types/main.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__AiId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MachineId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__TeamId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__TeamRoleId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__UserId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__WebId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__WebRoleId::Typescript.snap
  tests/hash-backend-load/src/graph/api.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, type/eng > backend, area/tests, area/apps

#7107 H-4516: Use index signatures instead of Record
  libs/@blockprotocol/type-system/rust/src/bin/export-types.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/value/mod.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapEnumKey::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapNested::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapNumericKey::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapStringKey::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapStructValue::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__PropertyValue::Typescript.snap
Labels: area/libs, type/eng > backend, area/tests

#7108 H-4457: Properly handle optional fields
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/full-exports/snapshots/full_exports__type_system::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__TupleOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__Web::Typescript.snap
Labels: area/libs, type/eng > backend, area/tests

#7109 H-4472: Implement field skipping in codegen
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/tests/standalone-types/main.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructDoubleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructMultipleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructSingleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedDoubleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedMultipleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedSingleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/structs.rs
Labels: area/libs, type/eng > backend, area/tests

#7117 H-4531: HashQL: Make `ImportResolver` able to continue compilation
  libs/@local/hashql/ast/src/format/dump.rs
  libs/@local/hashql/ast/src/lowering/import_resolver/mod.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/ast/src/node/type.rs
  libs/@local/hashql/ast/src/visit.rs
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-nested.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-nested.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-nested.stdout
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-type.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-type.stdout
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-value.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-value.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-value.stdout
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/use-not-found.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/use-not-found.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/use-not-found.stdout
  libs/@local/hashql/compiletest/src/suite/ast_lowering_import_resolver_continue.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
Labels: area/libs, type/eng > backend, area/tests

#7119 H-4511: HashQL: Implement AST stage to disallow any GenericConstraint's on paths
  libs/@local/hashql/ast/src/lowering/generic_constraint_sanitizer.rs
  libs/@local/hashql/ast/src/lowering/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/generic-constraint-sanitizer/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/generic-constraint-sanitizer/constraint.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/generic-constraint-sanitizer/constraint.stderr
  libs/@local/hashql/compiletest/src/suite/ast_lowering_generic_constraint_sanitizer.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
Labels: area/libs, type/eng > backend, area/tests

#7123 H-4533: HashQL: Create `hashql-hir` crate
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/hir/Cargo.toml
  libs/@local/hashql/hir/LICENSE.md
  libs/@local/hashql/hir/package.json
  libs/@local/hashql/hir/src/lib.rs
  yarn.lock
Labels: area/deps, area/infra, area/libs, type/eng > backend, type/legal

#7122 H-4540: Standardize SDK function naming and return conventions for principal types
  apps/hash-api/src/graph/account-permission-management.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/005-create-hash-system-entities-and-web-bots.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/system-webs-and-entities.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor_group.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/sdk/typescript/src/principal/team.ts
  libs/@local/graph/sdk/typescript/src/principal/web.ts
  libs/@local/graph/store/src/account/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/hash-backend-utils/src/hash-instance.ts
  libs/@local/hash-backend-utils/src/machine-actors.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#7144 H-4541: HashQL: build out HIR expression tree
  Cargo.lock
  libs/@local/hashql/ast/Cargo.toml
  libs/@local/hashql/ast/src/format/dump.rs
  libs/@local/hashql/ast/src/node/expr/literal.rs
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/docs/dependency-diagram.mmd
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/literal/float.rs
  libs/@local/hashql/core/src/literal/integer.rs
  libs/@local/hashql/core/src/literal/mod.rs
  libs/@local/hashql/core/src/literal/string.rs
  libs/@local/hashql/diagnostics/docs/dependency-diagram.mmd
  libs/@local/hashql/hir/Cargo.toml
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/hir/package.json
  libs/@local/hashql/hir/src/lib.rs
  libs/@local/hashql/hir/src/node/access/field.rs
  libs/@local/hashql/hir/src/node/access/index.rs
  libs/@local/hashql/hir/src/node/access/mod.rs
  libs/@local/hashql/hir/src/node/branch/mod.rs
  libs/@local/hashql/hir/src/node/call.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/src/node/data/dict.rs
  libs/@local/hashql/hir/src/node/data/list.rs
  libs/@local/hashql/hir/src/node/data/literal.rs
  libs/@local/hashql/hir/src/node/data/mod.rs
  libs/@local/hashql/hir/src/node/data/struct.rs
  libs/@local/hashql/hir/src/node/data/tuple.rs
  libs/@local/hashql/hir/src/node/graph/mod.rs
  libs/@local/hashql/hir/src/node/input.rs
  libs/@local/hashql/hir/src/node/kind.rs
  libs/@local/hashql/hir/src/node/let.rs
  libs/@local/hashql/hir/src/node/mod.rs
  libs/@local/hashql/hir/src/node/operation/binary.rs
  libs/@local/hashql/hir/src/node/operation/mod.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
  libs/@local/hashql/hir/src/node/operation/unary.rs
  libs/@local/hashql/hir/src/node/variable.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/dict.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/literal.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/expr.rs
  yarn.lock
Labels: area/deps, area/libs, type/eng > backend

#7147 H-4548: HashQL: Extend math operations in stdlib
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-value.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/item-not-found.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/rollback.stderr
  libs/@local/hashql/core/src/module/namespace.rs
  libs/@local/hashql/core/src/module/std_lib.rs
Labels: area/libs, type/eng > backend, area/tests

#7146 H-4546: HashQL: Remove arena module
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/arena/concurrent.rs
  libs/@local/hashql/core/src/arena/linear.rs
  libs/@local/hashql/core/src/arena/mod.rs
  libs/@local/hashql/core/src/arena/transaction.rs
  libs/@local/hashql/core/src/lib.rs
Labels: area/deps, area/libs, type/eng > backend

#7145 H-4536: HashQL: Implement HIR Visitor traits and infrastructor
  libs/@local/hashql/ast/src/visit.rs
  libs/@local/hashql/core/src/intern/mod.rs
  libs/@local/hashql/core/src/intern/set.rs
  libs/@local/hashql/hir/src/fold/beef.rs
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/fold/nested.rs
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/lib.rs
  libs/@local/hashql/hir/src/node/access/field.rs
  libs/@local/hashql/hir/src/node/access/index.rs
  libs/@local/hashql/hir/src/node/branch/mod.rs
  libs/@local/hashql/hir/src/node/call.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/src/node/data/dict.rs
  libs/@local/hashql/hir/src/node/data/struct.rs
  libs/@local/hashql/hir/src/node/graph/mod.rs
  libs/@local/hashql/hir/src/node/input.rs
  libs/@local/hashql/hir/src/node/let.rs
  libs/@local/hashql/hir/src/node/mod.rs
  libs/@local/hashql/hir/src/node/operation/binary.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
  libs/@local/hashql/hir/src/node/operation/unary.rs
  libs/@local/hashql/hir/src/node/variable.rs
  libs/@local/hashql/hir/src/path.rs
  libs/@local/hashql/hir/src/visit.rs
Labels: area/libs, type/eng > backend

#7121 H-4424, H-4425: Implement and expose policy querying
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/graph/sdk/typescript/src/policy.ts
  libs/@local/graph/type-fetcher/src/store.rs
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Labels: area/libs, type/eng > backend, area/tests, area/tests > integration

#7127 H-4542: Move policy routes to permissions module and clean up actor resource
  apps/hash-api/src/graph/system-account.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor.rs
  libs/@local/graph/api/src/rest/actor_group.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/permissions.rs
  libs/@local/graph/api/src/rest/principal.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/http/tests/ambiguous.http
  tests/graph/http/tests/circular-links.http
  tests/graph/http/tests/friendship.http
  tests/graph/http/tests/link-inheritance.http
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/apps

#7152 H-4334: Expose CRUD operations for Policies
  libs/@blockprotocol/type-system/rust/package.json
  libs/@local/codec/package.json
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/permissions.rs
  libs/@local/graph/authorization/package.json
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/graph/sdk/typescript/src/policy.ts
  libs/@local/graph/type-fetcher/src/store.rs
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Labels: area/libs, type/eng > backend, area/tests, area/tests > integration

#7153 H-4562: Properly distinguish between optionals and nullables in codegen
  libs/@blockprotocol/type-system/rust/types/index.snap.d.ts
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/definitions/type.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__ListOptionals::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__TupleOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/structs.rs
  libs/@local/codegen/tests/standalone-types/tuples.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
Labels: area/libs, type/eng > backend, area/tests

#7155 H-4543: HashQL: Implement deferred type checking
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/core/src/collection.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/diagnostics.rs
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/tarjan.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
  libs/@local/hashql/core/src/type/inference/solver/topo.rs
Labels: area/libs, type/eng > backend

#7154 H-4561: Allow updating resource constraints on policies
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Labels: area/libs, type/eng > backend, area/tests, area/tests > integration

#7157 H-4564: HashQL: Partially apply generic arguments during type extraction
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/ast/src/node/type/mod.rs
  libs/@local/hashql/ast/src/node/type/visit.rs
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/result.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/result.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/unused-generic-parameter.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/unused-generic-parameter.stderr
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_extractor.rs
  libs/@local/hashql/core/src/module/locals.rs
Labels: area/libs, type/eng > backend, area/tests

#7161 H-4496, H-4501: Process editor: add save bar; link input & output places in sub-processes
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/022-add-petri-nets.dev.migration.ts
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context/sub-process-nodes.ts
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context/use-persisted-nets.ts
  apps/hash-frontend/src/pages/process.page/process-editor/persisted-net-selector.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/place-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/process-edit-bar.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/title-and-net-select.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/types.ts
  apps/hash-frontend/src/pages/shared/shared/edit-bar-contents.tsx
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/system-types/petrinet.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#7166 H-1161, H-1674, H-1776, H-4570: Small bug fixes to editors
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type-selector.tsx
  apps/hash-frontend/src/pages/shared/entity-type.tsx
  apps/hash-frontend/src/pages/shared/entity.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/links-section/outgoing-links-section/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/shared/entity/shared/create-draft-entity-subgraph.ts
  apps/hash-frontend/src/pages/shared/entity/shared/use-handle-type-changes.ts
  apps/hash-frontend/src/pages/shared/use-validate-entity.ts
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/inheritance-row.tsx
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#7160 H-4565: Expose querying for specific permissions
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/sdk/typescript/src/entity-type.ts
  libs/@local/graph/store/src/entity_type/store.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/integration/postgres/lib.rs
Labels: area/libs, type/eng > backend, area/tests

#7167 H-4578: Rework Rust crate coverage
  .config/mise/tasks/test/unit.sh
  .justfile
  libs/@local/codec/package.json
  libs/@local/graph/api/package.json
  libs/@local/graph/store/package.json
  libs/@local/graph/temporal-versioning/package.json
  libs/@local/graph/types/package.json
  libs/@local/graph/validation/package.json
  libs/@local/harpc/codec/package.json
  libs/@local/harpc/net/package.json
  libs/@local/harpc/tower/package.json
  libs/@local/harpc/types/package.json
  libs/@local/harpc/wire-protocol/package.json
  libs/@local/hashql/ast/package.json
  libs/@local/hashql/compiletest/package.json
  libs/@local/hashql/core/package.json
  libs/@local/hashql/diagnostics/package.json
  libs/@local/hashql/hir/package.json
  libs/@local/hashql/syntax-jexpr/package.json
  libs/antsi/package.json
  libs/deer/package.json
  libs/error-stack/package.json
  libs/sarif/package.json
Labels: area/libs > error-stack, area/libs, area/libs > deer, area/libs > antsi, area/libs > sarif, type/eng > backend, area/tests

#7189 H-4579: Cleanup `test:unit` command
  .config/mise/tasks/test/unit.sh
  libs/@local/graph/authorization/package.json
  libs/@local/graph/postgres-store/package.json
  libs/error-stack/.justfile
  libs/error-stack/package.json
Labels: area/libs > error-stack, area/libs, type/eng > backend, area/tests

#7190 H-4520: Bump tool dependencies
  .config/mise/config.toml
  .github/CONTRIBUTING.md
  blocks/minesweeper/README.md
  infra/terraform/playbooks/db_recovery.md
  libs/@blockprotocol/graph/README.md
  libs/@hashintel/type-editor/README.md
Labels: area/infra, area/blocks, area/libs, type/eng > frontend, area/infra > terraform

#7193 H-4584: Cache yarn download in CI
  .github/actions/install-corepack/action.yml
  .github/actions/install-tools/action.yml
  .github/workflows/ai-pr-review.yml
  .github/workflows/bench.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: area/infra

#7195 H-3148, H-4586: Remove non-functional 'create entity type' button, fix draft entity type permission check
  apps/hash-frontend/src/pages/shared/entity-type-selector.tsx
  apps/hash-frontend/src/pages/shared/entity-type.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#7159 H-4428, H-4429: Implement and use initial policy seeding
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/001-create-hash-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/002-create-system-policies.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/003-create-linear-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/004-create-machines-update-users.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/005-create-hash-system-entities-and-web-bots.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/007-create-api-usage-tracking.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/008-create-plugin-settings-update-users.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/010-create-office-file-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/012-create-google-sheets-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/015-add-flow-types.dev.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/017-add-use-case-form-and-example-org.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/019-add-doc-company-and-person-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/020-add-study-record-type.dev.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/022-add-petri-nets.dev.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/upgrade-entities.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/system-webs-and-entities.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-api/src/index.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/authorization/src/policies/cedar/expression_tree.rs
  libs/@local/graph/authorization/src/schema/entity_type.rs
  libs/@local/graph/postgres-store/src/snapshot/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/read_scaling/knowledge/linkless/entity.rs
  tests/graph/benches/representative_read/seed.rs
  tests/graph/http/tests/ambiguous.http
  tests/graph/http/tests/circular-links.http
  tests/graph/http/tests/friendship.http
  tests/graph/http/tests/link-inheritance.http
  tests/graph/integration/postgres/lib.rs
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/link-entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/block.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment-notification.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#7192 H-4567: Handle public actor explicitly in Graph
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/postgres-store/src/permissions/error.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
Labels: area/libs, type/eng > backend

#7203 H-4596: Support the public actor in Cedar
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/002-create-system-policies.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/upgrade-policies.ts
  libs/@blockprotocol/type-system/rust/src/principal/actor/mod.rs
  libs/@local/graph/api/src/rest/permissions.rs
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/mod.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/graph/type-fetcher/src/store.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/apps

#7216 H-4598: Allow multiple filters in a single request in the Postgres query builder
  libs/@local/graph/postgres-store/src/snapshot/entity/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/crud.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/select.rs
  libs/@local/graph/postgres-store/src/store/postgres/traversal_context.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
  libs/@local/graph/store/src/query/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
Labels: area/libs, type/eng > backend

#7220 H-1757: Add types tab/table to user/org profile pages
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/property-type.ts
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/graphql/queries/ontology/property-type.queries.ts
  apps/hash-frontend/src/pages/@/[shortname].page.tsx
  apps/hash-frontend/src/pages/@/[shortname].page/pinned-entity-type-tab-contents.tsx
  apps/hash-frontend/src/pages/@/[shortname].page/profile-page-content.tsx
  apps/hash-frontend/src/pages/@/[shortname].page/profile-page-header.tsx
  apps/hash-frontend/src/pages/@/[shortname].page/profile-page-info.tsx
  apps/hash-frontend/src/pages/@/[shortname].page/profile-page-tabs.tsx
  apps/hash-frontend/src/pages/@/[shortname].page/types-tab.tsx
  apps/hash-frontend/src/pages/@/[shortname].page/util.ts
  apps/hash-frontend/src/pages/@/[shortname]/[page-slug].page.tsx
  apps/hash-frontend/src/pages/shared/types-table.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/property-type.typedef.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#7224 H-4620: Investigate if reading the hash-ai machine is buggy
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/ai.test.ts
Labels: area/tests, area/tests > integration

#7225 H-4532: HashQL: Unify string similarity infrastructure
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/ast/Cargo.toml
  libs/@local/hashql/ast/src/lowering/import_resolver/error.rs
  libs/@local/hashql/ast/src/lowering/import_resolver/mod.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-nested.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-type.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/unresolved-value.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/continue/use-not-found.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/glob-not-found.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/item-not-found.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/module-not-found.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/rollback.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/unresolver-variable.stderr
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/module/error.rs
  libs/@local/hashql/core/src/module/locals.rs
  libs/@local/hashql/core/src/module/mod.rs
  libs/@local/hashql/core/src/module/namespace.rs
  libs/@local/hashql/core/src/module/resolver.rs
  libs/@local/hashql/core/src/similarity.rs
  libs/@local/hashql/core/src/symbol/mod.rs
Labels: area/deps, area/libs, type/eng > backend, area/tests

#7219 H-4615: Implement initial set of view permissions
  .config/mise/tasks/test/unit.sh
  apps/hash-api/src/graph/ensure-system-graph-is-initialized.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/002-create-system-policies.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/upgrade-policies.ts
  apps/hash-api/src/graph/system-account.ts
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/postgres-store/tests/principals/actions.rs
  libs/@local/graph/postgres-store/tests/principals/ai.rs
  libs/@local/graph/postgres-store/tests/principals/machine.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/graph/postgres-store/tests/principals/role.rs
  libs/@local/graph/postgres-store/tests/principals/team.rs
  libs/@local/graph/postgres-store/tests/principals/user.rs
  libs/@local/graph/postgres-store/tests/principals/web.rs
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/read_scaling/knowledge/linkless/entity.rs
  tests/graph/benches/representative_read/seed.rs
  tests/graph/http/tests/ambiguous.http
  tests/graph/http/tests/circular-links.http
  tests/graph/http/tests/friendship.http
  tests/graph/http/tests/link-inheritance.http
  tests/graph/integration/postgres/lib.rs
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/apps

#7240 H-4627: Enhance migration process by adding system policy seeding
  apps/hash-graph/src/subcommand/server.rs
Labels: area/apps > hash*, type/eng > backend, area/apps, area/apps > hash-graph

#7257 H-4635: Remove `Unification` from `InferenceEnvironment`
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
Labels: area/libs, type/eng > backend

#7258 H-4640: Don't seed the graph system policies from Node
  apps/hash-api/src/ensure-system-graph-is-initialized.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized.ts
  apps/hash-api/src/index.ts
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/link-entity.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/ai.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/block.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment-notification.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/comment.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/file.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/mention-notification.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org-membership.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/org.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/page.test.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/property-type.test.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/tests, area/tests > integration, area/apps

#7260 H-4641: Move SpiceDB migration and policy migration to graph-migration step
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-graph/src/subcommand/migrate.rs
  apps/hash-graph/src/subcommand/server.rs
  infra/terraform/hash/hash_application/graph.tf
  infra/terraform/hash/main.tf
Labels: area/apps > hash*, area/infra, type/eng > backend, area/apps, area/apps > hash-graph, area/infra > terraform

#7261 H-4642: Don't deploy node images before Rust image has been finished
  .github/workflows/hash-backend-cd.yml
Labels: area/infra

#7265 H-4651: Properly update policies instead of replacing them
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
Labels: area/libs, type/eng > backend

#7267 H-4646: HashQL: Implement and issue diagnostics for subscript on recursive types
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Labels: area/libs, type/eng > backend

#7268 H-4644: HashQL: Implement `Subscript` for Unions
  libs/@local/hashql/core/src/type/kind/union.rs
Labels: area/libs, type/eng > backend

#7269 H-4645, H-4659: HashQL: Implement `Subscript` for Intersections
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/test.rs
Labels: area/libs, type/eng > backend
