Repository hashintel/hash, pull requests merged in 2025-06, with the labels that each got.

#7262 H-4679: Improve documentation
  README.md
  content/hashdotai/guide/05_workers/02_chat.mdx
  content/hashdotai/guide/06_flows/00_index.mdx
  content/hashdotai/guide/06_flows/WIP_06_optimizing.mdx
  content/hashdotai/guide/07_inbox/WIP_03_messages.mdx
  content/hashdotai/guide/10_plugins/WIP_01_browsers.mdx
  content/hashdotai/guide/10_plugins/WIP_02_assistants.mdx
Labels: area/infra

#7318 H-4589, H-4590: Bump tool and transitive cargo dependencies
  .config/mise/config.toml
  Cargo.lock
Labels: area/deps

#7271 H-4664: HashQL: Implement type builder
  Cargo.lock
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/type/builder.rs
  libs/@local/hashql/core/src/type/mod.rs
  libs/@local/hashql/core/src/type/test.rs
Labels: area/deps, area/libs, type/eng > backend

#7320 H-4696: Expose ECS task role ARN from Terraform state
  infra/terraform/hash/hash_application/outputs.tf
  infra/terraform/hash/outputs.tf
Labels: area/infra, area/infra > terraform

#7254 H-4625: Implement entity-based view-policies
  apps/hash-ai-worker-ts/src/activities/get-ai-assistant-account-id-activity.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries-from-web-page.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/infer-entity-summaries.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-api/src/graph/knowledge/system-types/user-secret.ts
  apps/hash-api/src/graphql/resolvers/knowledge/user/submit-early-access-form.ts
  apps/hash-api/src/integrations/linear.ts
  apps/hash-integration-worker/src/linear-activities.ts
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/hash-backend-utils/src/service-usage.ts
  libs/@local/hash-backend-utils/src/temporal-integration-workflow-types.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/apps

#7323 H-4705: Initial setup for clorinde
  .config/mise/config.toml
  .github/actions/prune-repository/action.yml
  .github/scripts/rust/sync-turborepo.rs
  .github/workflows/lint.yml
  .justfile
  .rustfmt.toml
  .sqlfluff
  .taplo.toml
  Cargo.lock
  Cargo.toml
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@blockprotocol/type-system/rust/package.json
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/authorization/docs/dependency-diagram.mmd
  libs/@local/graph/migrations-macros/docs/dependency-diagram.mmd
  libs/@local/graph/migrations/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-queries/.config/mise/tasks/test/integration.sh
  libs/@local/graph/postgres-queries/.gitattributes
  libs/@local/graph/postgres-queries/Cargo.toml
  libs/@local/graph/postgres-queries/LICENSE.md
  libs/@local/graph/postgres-queries/clorinde.toml
  libs/@local/graph/postgres-queries/clorinde/Cargo.toml
  libs/@local/graph/postgres-queries/clorinde/LICENSE.md
  libs/@local/graph/postgres-queries/clorinde/package.json
  libs/@local/graph/postgres-queries/clorinde/src/array_iterator.rs
  libs/@local/graph/postgres-queries/clorinde/src/client.rs
  libs/@local/graph/postgres-queries/clorinde/src/client/async_.rs
  libs/@local/graph/postgres-queries/clorinde/src/client/async_/deadpool.rs
  libs/@local/graph/postgres-queries/clorinde/src/client/async_/generic_client.rs
  libs/@local/graph/postgres-queries/clorinde/src/domain.rs
  libs/@local/graph/postgres-queries/clorinde/src/lib.rs
  libs/@local/graph/postgres-queries/clorinde/src/queries.rs
  libs/@local/graph/postgres-queries/clorinde/src/queries/policies.rs
  libs/@local/graph/postgres-queries/clorinde/src/type_traits.rs
  libs/@local/graph/postgres-queries/clorinde/src/types.rs
  libs/@local/graph/postgres-queries/clorinde/src/utils.rs
  libs/@local/graph/postgres-queries/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-queries/package.json
  libs/@local/graph/postgres-queries/queries/policies.sql
  libs/@local/graph/postgres-queries/src/lib.rs
  libs/@local/graph/postgres-queries/turbo.json
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/package.json
  libs/@local/graph/temporal-versioning/docs/dependency-diagram.mmd
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/repo-chores/rust/bin/cli/subcommand/dependency_diagram/mod.rs
  libs/@local/tracing/docs/dependency-diagram.mmd
  libs/deer/desert/package.json
  libs/deer/json/package.json
  libs/deer/macros/package.json
  libs/error-stack/macros/package.json
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/libs > error-stack, area/libs, area/libs > deer, type/eng > backend, area/tests, area/apps, area/apps > hash-graph, type/legal

#7340 H-4724: HashQL: track intrinsics through assignment
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference_intrinsics.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/tests/ui/lower/inference/intrinsics/.spec.toml
  libs/@local/hashql/hir/tests/ui/lower/inference/intrinsics/assignment.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/intrinsics/assignment.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/intrinsics/re-assignment.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/intrinsics/re-assignment.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/intrinsics/simple.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/intrinsics/simple.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/intrinsics/unrelated.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/intrinsics/unrelated.stdout
Labels: area/libs, type/eng > backend, area/tests

#7353 H-4680: HashQL: Specialize HIR nodes from intrinsic function calls
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/error.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/specialization/error.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/node/operation/binary.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/tests/ui/lower/specialization/.spec.toml
  libs/@local/hashql/hir/tests/ui/lower/specialization/bits.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/bits.stderr
  libs/@local/hashql/hir/tests/ui/lower/specialization/bool.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/bool.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/cmp.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/cmp.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/complex.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/complex.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/math.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/math.stderr
  libs/@local/hashql/hir/tests/ui/lower/specialization/unary.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/unary.stderr
Labels: area/libs, type/eng > backend, area/tests

#7376 H-4745: Fix URL generation for entity tabs when draftId present
  apps/hash-frontend/src/pages/shared/entity/shared/entity-editor-tabs.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#7374 H-4734: HashQL: Modularize stdlib
  libs/@local/hashql/core/src/module/std_lib.rs
  libs/@local/hashql/core/src/module/std_lib/core/bits.rs
  libs/@local/hashql/core/src/module/std_lib/core/bool.rs
  libs/@local/hashql/core/src/module/std_lib/core/cmp.rs
  libs/@local/hashql/core/src/module/std_lib/core/math.rs
  libs/@local/hashql/core/src/module/std_lib/core/mod.rs
  libs/@local/hashql/core/src/module/std_lib/core/option.rs
  libs/@local/hashql/core/src/module/std_lib/core/result.rs
  libs/@local/hashql/core/src/module/std_lib/core/url.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/mod.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/special_form.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/type.rs
  libs/@local/hashql/core/src/module/std_lib/mod.rs
Labels: area/libs, type/eng > backend

#7382 H-4759: Expose ECS task role name from Terraform state
  infra/terraform/hash/hash_application/outputs.tf
  infra/terraform/hash/outputs.tf
Labels: area/infra, area/infra > terraform

#7377 H-4550: HashQL: Specify HIR Graph Expressions
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/node/graph/mod.rs
  libs/@local/hashql/hir/src/node/graph/read.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/visit.rs
Labels: area/libs, type/eng > backend

#7350 H-4726: Fix inconsistencies between `viewer` relationship and `viewEntity` policy action
  .github/workflows/lint.yml
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-integration-worker/src/linear-activities.ts
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/hash-backend-utils/src/service-usage.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#7418 H-4786: Update bastion host ami image
  infra/terraform/modules/bastion/main.tf
Labels: area/infra, area/infra > terraform

#7431 H-4782, H-4784, H-4780: HashQL: Solve unconstrained variables through fix-point iteration
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/tarjan.rs
  libs/@local/hashql/core/src/type/inference/solver/tests.rs
  libs/@local/hashql/core/src/type/inference/solver/topo.rs
  libs/@local/hashql/core/src/type/inference/visit.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/generic/apply.rs
  libs/@local/hashql/core/src/type/kind/generic/mod.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tests/closure.rs
  libs/@local/hashql/core/src/type/kind/tests/generic.rs
  libs/@local/hashql/core/src/type/kind/tests/generic_apply.rs
  libs/@local/hashql/core/src/type/kind/tests/intersection.rs
  libs/@local/hashql/core/src/type/kind/tests/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/tests/mod.rs
  libs/@local/hashql/core/src/type/kind/tests/opaque.rs
  libs/@local/hashql/core/src/type/kind/tests/struct.rs
  libs/@local/hashql/core/src/type/kind/tests/tuple.rs
  libs/@local/hashql/core/src/type/kind/tests/union.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/visit.rs
Labels: area/libs, type/eng > backend, area/tests

#7432 H-4783: HashQL: Improve compiletest panics
  libs/@local/hashql/compiletest/src/executor/mod.rs
  libs/@local/hashql/compiletest/src/executor/trial_group.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/compiletest/src/reporter.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
Labels: area/libs, type/eng > backend

#7441 H-4810: Fix Linear integrations query
  apps/hash-frontend/src/pages/settings/integrations/linear/use-linear-integrations.ts
Labels: area/apps > hash*, type/eng > frontend, area/apps

#7449 H-4811: Make the Terraform SSH-tunneling script more robust
  infra/terraform/modules/bastion/main.tf
  infra/terraform/modules/tunnel/main.tf
  infra/terraform/modules/tunnel/ssh_tunnel.sh
  infra/terraform/modules/tunnel/variables.tf
Labels: area/infra, area/infra > terraform

#7436 H-4702: Bump transitive Cargo dependencies
  Cargo.lock
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/dependency_diagram/mod.rs
  libs/@local/repo-chores/rust/src/dependency_diagram/mod.rs
  libs/error-stack/tests/test_span_trace.rs
Labels: area/deps, area/libs > error-stack, area/libs, type/eng > backend, area/tests

#7451 H-4813: Allow connecting to Bastion using AWS SSM
  infra/terraform/hash/bastion.md
  infra/terraform/hash/networking/main.tf
  infra/terraform/hash/outputs.tf
  infra/terraform/modules/bastion/output.tf
Labels: area/infra, area/infra > terraform

#7387 H-4769: Simplify entry point for permission checks
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/api/src/rest/permissions.rs
  libs/@local/graph/authorization/src/api.rs
  libs/@local/graph/authorization/src/backend/mod.rs
  libs/@local/graph/authorization/src/backend/spicedb/api.rs
  libs/@local/graph/authorization/src/lib.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/mod.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/src/zanzibar/api.rs
  libs/@local/graph/authorization/tests/policies/definitions/mod.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/snapshot/entity/batch.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/read_scaling/knowledge/linkless/entity.rs
  tests/graph/benches/representative_read/lib.rs
  tests/graph/benches/representative_read/seed.rs
  tests/graph/integration/postgres/lib.rs
Labels: area/libs, type/eng > backend, area/tests

#7406 H-4699: Support policy resource filter on the creator
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-api/src/graph/knowledge/system-types/user-secret.ts
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/cedar/actor.rs
  libs/@local/graph/authorization/src/policies/cedar/expression_tree.rs
  libs/@local/graph/authorization/src/policies/cedar/mod.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/src/policies/context.rs
  libs/@local/graph/authorization/src/policies/evaluation/mod.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/ai.rs
  libs/@local/graph/authorization/src/policies/principal/actor/machine.rs
  libs/@local/graph/authorization/src/policies/principal/actor/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/user.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/hash-backend-utils/src/service-usage.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/apps

#7452 H-3244: Upgrade sentry to v9, add integrations
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-api/package.json
  apps/hash-api/src/index.ts
  apps/hash-api/src/instrument.mjs
  apps/hash-api/src/sentry.ts
  apps/hash-frontend/instrumentation-client.ts
  apps/hash-frontend/instrumentation.ts
  apps/hash-frontend/next.config.js
  apps/hash-frontend/package.json
  apps/hash-frontend/sentry.edge.config.ts
  apps/hash-frontend/sentry.server.config.ts
  apps/hash-frontend/src/components/error-block/error-block.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/_app.page/error-fallback.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/sentry.ts
  apps/hash-frontend/tsconfig.json
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/src/main.ts
  apps/plugin-browser/package.json
  apps/plugin-browser/src/pages/shared/sentry.ts
  libs/@local/eslint/src/deprecated/base.ts
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-isomorphic-utils/package.json
  yarn.lock
Labels: area/deps, area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#7461 H-4835: Remove conversion from Cedar `Expr` to `Filter`
  libs/@local/graph/authorization/src/policies/cedar/actor.rs
  libs/@local/graph/authorization/src/policies/cedar/entity.rs
  libs/@local/graph/authorization/src/policies/cedar/expression_tree.rs
  libs/@local/graph/authorization/src/policies/cedar/mod.rs
  libs/@local/graph/authorization/src/policies/cedar/ontology.rs
  libs/@local/graph/authorization/src/policies/cedar/visitor.rs
  libs/@local/graph/authorization/src/policies/cedar/web.rs
  libs/@local/graph/authorization/src/policies/evaluation/mod.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/authorization/src/policies/set/mod.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/store/src/filter/mod.rs
Labels: area/libs, type/eng > backend, area/tests

#7469 H-4849: Tighten debug flag check in tunnel script
  infra/terraform/modules/tunnel/ssh_tunnel.sh
Labels: area/infra, area/infra > terraform, codex

#7481 H-4850: Replace SSH tunnel with SSM Session Manager for PostgreSQL access
  .dockerignore
  .gitignore
  infra/terraform/hash/main.tf
  infra/terraform/modules/tunnel/main.tf
  infra/terraform/modules/tunnel/output.tf
  infra/terraform/modules/tunnel/ssm_tunnel.sh
  infra/terraform/modules/tunnel/variables.tf
Labels: area/infra, area/infra > terraform

#7487 H-4865: Increase timeout for healthchecks for Workers
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-integration-worker/package.json
Labels: area/apps > hash*, area/apps > hash-api, type/eng > backend, area/apps

#7480 H-4824, H-4847: Collect logs and metrics and send them via OTel
  .env.development
  Cargo.lock
  Cargo.toml
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/opentelemetry-collector/otel-collector-config.yaml
  apps/hash-graph/src/main.rs
  apps/hash-graph/src/subcommand/mod.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/migrations/src/bin/cli/main.rs
  libs/@local/repo-chores/rust/bin/cli/main.rs
  libs/@local/telemetry/Cargo.toml
  libs/@local/telemetry/src/lib.rs
  libs/@local/telemetry/src/logging/console.rs
  libs/@local/telemetry/src/logging/formatter.rs
  libs/@local/telemetry/src/logging/mod.rs
  libs/@local/telemetry/src/logging/otlp.rs
  libs/@local/telemetry/src/metrics/mod.rs
  libs/@local/telemetry/src/metrics/otlp.rs
  libs/@local/telemetry/src/opentelemetry.rs
  libs/@local/telemetry/src/otlp.rs
  libs/@local/telemetry/src/traces/mod.rs
  libs/@local/telemetry/src/traces/otlp.rs
  libs/@local/telemetry/src/traces/sentry.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#7495 H-4827: Allow direct conversion from policies to filters
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/store/src/filter/mod.rs
Labels: area/libs, type/eng > backend

#7498 H-4879: Improve documentation of `hash-graph-postgres-store`
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/join_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/order_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/where_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/with_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/insert.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/window.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/table.rs
  libs/@local/graph/postgres-store/src/store/postgres/traversal_context.rs
Labels: area/libs, type/eng > backend

#7352 H-847, H-4433: Use `viewEntity` policy over `viewer` relationships in the Graph
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/postgres-store/src/store/postgres/crud.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
Labels: area/libs, type/eng > backend

#7501 H-4896: Improve property filtering
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
Labels: area/apps > hash*, area/libs, type/eng > backend

#7502 H-4891: Introduce `CreateEntity` permission and fix policy optimization logic
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
Labels: area/libs, type/eng > backend

#7499 H-4880, H-4881: Introduce `Value` type
  Cargo.lock
  Cargo.toml
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/codec/src/numeric/real.rs
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/graph/store/src/filter/parameter.rs
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/docs/dependency-diagram.mmd
  libs/@local/hashql/core/package.json
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/literal/float.rs
  libs/@local/hashql/core/src/literal/integer.rs
  libs/@local/hashql/core/src/literal/mod.rs
  libs/@local/hashql/core/src/literal/string.rs
  libs/@local/hashql/core/src/value/dict.rs
  libs/@local/hashql/core/src/value/list.rs
  libs/@local/hashql/core/src/value/mod.rs
  libs/@local/hashql/core/src/value/opaque.rs
  libs/@local/hashql/core/src/value/struct.rs
  libs/@local/hashql/core/src/value/tuple.rs
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
  yarn.lock
Labels: area/deps, area/libs, type/eng > backend

#7504 H-4884: Allow resolving the query temporal axes relative to a specific now
  libs/@local/graph/store/src/subgraph/temporal_axes.rs
Labels: area/libs, type/eng > backend

#7505 H-4885: Allow for incremental building of `JsonPath`
  libs/@local/graph/store/src/filter/path.rs
Labels: area/libs, type/eng > backend

#7526 H-4904: Enable `indexing-slicing` clippy lint
  .clippy.toml
  Cargo.toml
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/constraint/any_of.rs
  libs/@local/codec/src/harpc/wire.rs
  libs/@local/codegen/src/lib.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/crud.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/read.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/graph/types/src/embedding.rs
  libs/@local/harpc/codec/src/error.rs
  libs/@local/harpc/codec/src/json.rs
  libs/@local/harpc/net/src/transport/task.rs
  libs/@local/hashql/ast/src/lib.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/diagnostics/src/encoding.rs
  libs/@local/hashql/hir/src/lib.rs
  libs/@local/hashql/syntax-jexpr/src/lib.rs
  libs/@local/repo-chores/rust/src/dependency_diagram/mod.rs
  libs/chonky/src/lib.rs
  libs/chonky/src/main.rs
  libs/error-stack/src/report.rs
  libs/error-stack/src/serde.rs
  tests/graph/benches/representative_read/seed.rs
Labels: area/libs > error-stack, area/libs, area/libs > deer, type/eng > backend, area/tests, area/libs > chonky
