Repository hashintel/hash, pull requests merged in 2025-01, with the labels that each got.

#6066 H-3870: Allow adding parameters to JSON-based benchmarks
  Cargo.lock
  Cargo.toml
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/store/src/subgraph/edges/kind.rs
  tests/graph/benches/Cargo.toml
  tests/graph/benches/manual_queries/entity_queries/all-public-subgraph.json
  tests/graph/benches/manual_queries/entity_queries/all-public.json
  tests/graph/benches/manual_queries/entity_queries/mod.rs
Labels: area/deps, area/libs, type/eng > backend, area/tests

#6067 H-3830: Take into account permissions when counting result set
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/store/src/entity/store.rs
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/read_scaling/knowledge/linkless/entity.rs
  tests/graph/benches/representative_read/knowledge/entity.rs
  tests/graph/integration/postgres/entity.rs
  tests/graph/integration/postgres/links.rs
  tests/graph/integration/postgres/multi_type.rs
  tests/graph/integration/postgres/partial_updates.rs
  tests/graph/integration/postgres/sorting.rs
Labels: area/libs, type/eng > backend, area/tests

#6078 H-3882: Create flamegraphs locally when analyzing benchmarks
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/analyze.rs
  libs/@local/repo-chores/rust/src/benches/analyze/mod.rs
  libs/@local/repo-chores/rust/src/benches/analyze/tracing.rs
Labels: area/libs, type/eng > backend

#6090 H-3884: Upgrade Rust dependencies
  Cargo.lock
  Cargo.toml
Labels: area/deps

#6086 H-3702: Add edition ID index on entity table
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
  libs/@local/graph/postgres-store/postgres_migrations/V38__entity_temporal_metadata_edition_id_idx.sql
Labels: area/libs, type/eng > backend

#6096 H-3885: Implement lookup API for SpiceDB resources and subjects
  libs/@local/graph/authorization/src/api.rs
  libs/@local/graph/authorization/src/backend/mod.rs
  libs/@local/graph/authorization/src/backend/spicedb/api.rs
  libs/@local/graph/authorization/src/backend/spicedb/mod.rs
  libs/@local/graph/authorization/src/backend/spicedb/model.rs
  libs/@local/graph/authorization/src/lib.rs
  libs/@local/graph/authorization/src/schema/account.rs
  libs/@local/graph/authorization/src/schema/mod.rs
  libs/@local/graph/authorization/src/zanzibar/api.rs
Labels: area/libs, type/eng > backend

#6106 H-3879: Add protocol dropdown to early access form URL input
  apps/hash-frontend/src/pages/index.page/waitlisted/early-access-modal.tsx
  apps/hash-frontend/src/pages/shared/url-input.tsx
  libs/@hashintel/design-system/src/theme/components/inputs/mui-select-theme-options.tsx
  libs/@hashintel/design-system/src/theme/components/navigation/mui-menu-item-theme-options.ts
Labels: area/apps > hash*, area/libs, type/eng > frontend, area/apps

#6145 H-3907: Prepare entities table for pagination
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils/column-filter-menu.tsx
  apps/hash-frontend/src/components/grid/utils/filtering.ts
  apps/hash-frontend/src/components/grid/utils/rows.ts
  apps/hash-frontend/src/components/grid/utils/sorting.ts
  apps/hash-frontend/src/components/grid/utils/use-draw-header.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-create-entity.ts
  apps/hash-frontend/src/components/hooks/use-archive-page.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows.ts
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/shared/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view/grid-view-item-skeleton.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view/grid-view-item-wrapper.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view/grid-view-item.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/text-icon-cell.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/types.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table/worker.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-get-entities-table-additional-csv-data.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-visualizer-data.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entities-tab.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entity-type-tabs.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/draft-entities-count-context.tsx
  apps/hash-frontend/src/shared/entity-type-entities-context.ts
  apps/hash-frontend/src/shared/entity-type-entities-context/use-entity-type-entities-context-value.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-entities-list.tsx
  apps/hash-frontend/src/shared/notification-count-context.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/table-header/export-to-csv-button.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#6152 H-3914: Enable selecting multiple files to upload at once
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/001-create-hash-system-types.migration.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-selector.tsx
  apps/hash-frontend/src/pages/goals/new.page/file-settings.tsx
  apps/hash-frontend/src/pages/settings/shared/file-upload-dropzone.tsx
  apps/hash-frontend/src/pages/settings/shared/image-field.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/file-uploads-tab.tsx
  apps/hash-frontend/src/shared/file-upload-context.tsx
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#6163 H-3919: Return error instead of `panic` in `SelectCompiler`
  Cargo.lock
  apps/hash-graph/src/subcommand/server.rs
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/src/store/postgres/crud.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/condition.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/where_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/select.rs
Labels: area/deps, area/apps > hash*, area/libs, type/eng > backend, area/apps, area/apps > hash-graph

#6102 H-3162: Look for matching entities in database when inserting entities from Flow
  .vscode/settings.json
  apps/hash-ai-worker-ts/README.md
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/graph-requests.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/write-google-sheet-action.ts
  apps/hash-ai-worker-ts/src/activities/shared/find-existing-entity.ts
  apps/hash-ai-worker-ts/src/activities/shared/match-existing-entity.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/match-existing-entity.ts
  apps/hash-ai-worker-ts/src/activities/shared/openai-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/optimize-system-prompt.ts
  apps/hash-ai-worker-ts/src/activities/shared/optimize-system-prompt/improve-system-prompt.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/007-create-api-usage-tracking.migration.ts
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/pages/shared/accept-draft-entity-button.tsx
  apps/hashdotdev/next.config.js
  libs/@local/advanced-types/src/brand.ts
  libs/@local/graph/types/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/provenance.ts
Labels: area/apps > hash*, area/infra, area/apps > hash-api, area/apps > hash.dev, area/libs, area/dx, type/eng > frontend, type/eng > backend, area/apps

#6200 H-3918: Implement frontend maintenance page
  .gitignore
  apps/hash-frontend/package.json
  apps/hash-frontend/src/middleware.page.ts
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/maintenance.page.tsx
  apps/hash-frontend/src/pages/shared/maintenance.ts
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-arrows-rotate-regular.tsx
  libs/@hashintel/design-system/src/icon-user-plus-regular.tsx
  yarn.lock
Labels: area/deps, area/apps > hash*, area/infra, area/libs, type/eng > frontend, area/apps

#6207 H-3926: Filter out blocks from repo workspaces
  package.json
  yarn.lock
Labels: area/deps

#6201 H-3920: Add Clinical Study Record type, improve infer doc metadata flow
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-property-patches.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-proposed-entities-and-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entity-from-claims-agent.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/generate-propose-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/generate-simplified-type-id.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/strip-ids-from-dereferenced-properties.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/020-add-study-record-type.dev.migration.ts
  apps/hash-frontend/public/icons/types/microscope.svg
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
  apps/hash-frontend/src/pages/shared/pdf-preview.tsx
  apps/hash-frontend/src/shared/entity-types-context/provider/use-entity-types-context-value.ts
Labels: area/apps > hash*, area/apps > hash-api, type/eng > frontend, type/eng > backend, area/apps

#6212 H-3929: Include data type conversion target title
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  libs/@blockprotocol/type-system/rust/src/url/mod.rs
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/store/src/data_type/mod.rs
  libs/@local/graph/store/src/data_type/store.rs
  libs/@local/hash-isomorphic-utils/src/data-types.ts
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/tests, area/tests > integration, area/apps

#6225 H-3948: Fix Terraform filter to find AZ regions
  infra/terraform/modules/variables/main.tf
Labels: area/infra, area/infra > terraform

#6224 H-3942: Run Graph on ARM in AWS
  .github/workflows/hash-backend-cd.yml
  Cargo.toml
  apps/hash-graph/docker/Dockerfile
  infra/terraform/hash/hash_application/graph.tf
Labels: area/apps > hash*, area/infra, type/eng > backend, area/apps, area/apps > hash-graph, area/infra > terraform

#6238 H-3958: Use ARM architecture for other ECS services
  .github/workflows/hash-backend-cd.yml
  apps/hash-external-services/package.json
  infra/terraform/hash/hash_application/api.tf
  infra/terraform/hash/hash_application/main.tf
  infra/terraform/hash/hash_application/spicedb.tf
  infra/terraform/hash/temporal/main.tf
Labels: area/apps > hash*, area/infra, area/apps, area/infra > terraform

#6260 H-3931: Update `.nvmrc` files
  .nvmrc
  apps/hashdotdev/.nvmrc
Labels: area/apps > hash.dev, area/apps

#6237 H-3850, H-3541, H-3415: Enable data type conversion in the entity editor, entities table
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/021-create-more-custom-data-types.dev.migration.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/ontology/data-type.ts
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils/column-filter-menu.tsx
  apps/hash-frontend/src/components/grid/utils/conversion-menu.tsx
  apps/hash-frontend/src/components/grid/utils/custom-grid-icons.ts
  apps/hash-frontend/src/components/grid/utils/draw-chip-with-icon.ts
  apps/hash-frontend/src/components/grid/utils/filtering.ts
  apps/hash-frontend/src/components/grid/utils/use-draw-header.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-create-entity.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/graphql/queries/ontology/data-type.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/incoming-links-section/incoming-links-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/readonly-outgoing-links-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/readonly-popup.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/shared/grid-editor-wrapper.tsx
  apps/hash-frontend/src/pages/shared/chip-cell.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/entities-table-value-cell.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/entities-table-value-cell/popup.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/text-icon-cell.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/types.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table/worker.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-visualizer-data.tsx
  apps/hash-frontend/src/pages/shared/entity-graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/format-value.ts
  apps/hash-frontend/src/pages/shared/readonly-grid-popup.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-entities-list.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
  libs/@hashintel/design-system/src/data-type-selector.tsx
  libs/@hashintel/design-system/src/select.tsx
  libs/@hashintel/design-system/src/selector-autocomplete/selector-autocomplete-option.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/property-list-card/property-type-form/expected-value-selector/custom-expected-value-builder/array-expected-value-builder.tsx
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/types/typescript/src/ontology.ts
  libs/@local/hash-isomorphic-utils/src/data-types.ts
  libs/@local/hash-isomorphic-utils/src/generate-entity-label.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/data-type.typedef.ts
  libs/@local/hash-isomorphic-utils/src/numbers.ts
  libs/@local/hash-isomorphic-utils/src/types.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > frontend, type/eng > backend, area/apps

#6262 H-3952: Ignore `canonical` values passed to the Graph
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/types/rust/src/knowledge/property/visitor.rs
  libs/@local/graph/types/typescript/src/entity.ts
  libs/@local/graph/validation/src/entity_type.rs
Labels: area/libs, type/eng > backend

#6254 H-3943: Use correct DNS lookup in HaRPC to allow connections in AWS
  libs/@local/harpc/client/typescript/src/net/Connection.ts
  libs/@local/harpc/client/typescript/src/net/internal/dns.ts
  libs/@local/harpc/client/typescript/src/net/internal/peerConnection.ts
  libs/@local/harpc/client/typescript/src/net/internal/transport.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/ResponseFromBytesStream.ts
Labels: area/libs, type/eng > backend

#6278 H-3966: Sort entities table column by normalized value where possible
  apps/hash-frontend/src/components/grid/utils/conversion-menu.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps

#6301 H-3979: Expose a `convert` token in query paths
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/mod.rs
Labels: area/libs, type/eng > backend

#6290 H-3922: Add Google Vertex AI calls to shared AI request logic
  apps/hash-ai-worker-ts/eslint.config.js
  apps/hash-ai-worker-ts/scripts/compare-llm-response.ts
  apps/hash-ai-worker-ts/scripts/compare-llm-response/types.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/parse-text-from-file.ts
  apps/hash-ai-worker-ts/src/activities/shared/fetch-file-from-url.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-anthropic-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-google-ai-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-google-ai-response/google-cloud-storage.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-google-ai-response/map-google-messages-to-llm-messages.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-google-ai-response/map-parts-and-upload-files.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-google-ai-response/rewrite-schema-for-google.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-openai-reponse.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/google-vertex-ai-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/llm-message.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/log-llm-request.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/activities/shared/use-file-system-file-from-url.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/007-create-api-usage-tracking.migration.ts
  libs/@local/hash-backend-utils/src/file-storage.ts
  libs/@local/hash-isomorphic-utils/src/numbers.ts
Labels: area/apps > hash*, area/apps > hash-api, area/libs, type/eng > backend, area/apps

#6302 H-3145: Show sources on property hover in entity editor; bug fixes
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-proposed-entities-and-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils.ts
  apps/hash-frontend/src/components/grid/utils/interactable-manager.ts
  apps/hash-frontend/src/components/grid/utils/interactable-manager/types.ts
  apps/hash-frontend/src/components/grid/utils/use-draw-header.ts
  apps/hash-frontend/src/components/grid/utils/use-grid-tooltip.tsx
  apps/hash-frontend/src/components/grid/utils/use-grid-tooltip/draw-interactable-tooltip-icons.ts
  apps/hash-frontend/src/components/grid/utils/use-grid-tooltip/types.ts
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell.ts
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/@/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/shared/chip-cell.tsx
  apps/hash-frontend/src/pages/shared/sources-popover.tsx
Labels: area/apps > hash*, type/eng > frontend, area/apps
